{
  "openapi": "3.1.0",
  "info": {
    "title": "2s",
    "version": "1",
    "description": "Unified JSON REST API for AI agents — an ever-expanding catalog of endpoints, pay per call in USDC on Base or Solana via x402, no accounts, no API keys. Fund a wallet on either chain with USDC, hit any endpoint, and your client signs an EIP-3009 authorization (Base) or a partial SPL transfer (Solana) to settle the call. Try before you buy: add ?trial=1 (or header X-2s-Trial: 1) to any endpoint for one free real call per endpoint per hour — no wallet needed — to verify it works before paying. 2s is an open-ended experiment in maximally-comprehensive agent infrastructure — new endpoints land regularly.",
    "contact": {
      "name": "2s",
      "url": "https://2s.io",
      "email": "alley@2s.io"
    }
  },
  "servers": [
    {
      "url": "https://2s.io"
    }
  ],
  "components": {
    "parameters": {
      "TrialMode": {
        "name": "trial",
        "in": "query",
        "required": false,
        "description": "Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the \"X-2s-Trial: 1\" request header. Works on every endpoint.",
        "schema": {
          "type": "integer",
          "enum": [
            1
          ]
        }
      }
    },
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org."
      }
    },
    "schemas": {
      "X402PaymentRequiredV2": {
        "type": "object",
        "description": "x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.",
        "required": [
          "x402Version",
          "accepts"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "error": {
            "type": "string",
            "description": "Human-readable reason payment is required."
          },
          "resource": {
            "type": "string",
            "description": "The resource URL being purchased."
          },
          "accepts": {
            "type": "array",
            "description": "Payment requirement options, one per supported network (Base USDC, Solana USDC).",
            "items": {
              "type": "object",
              "required": [
                "scheme",
                "network",
                "amount",
                "asset",
                "payTo",
                "maxTimeoutSeconds"
              ],
              "properties": {
                "scheme": {
                  "type": "string",
                  "enum": [
                    "exact"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network id, e.g. \"eip155:8453\" (Base) or \"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp\"."
                },
                "amount": {
                  "type": "string",
                  "description": "Price in atomic asset units (USDC has 6 decimals)."
                },
                "asset": {
                  "type": "string",
                  "description": "Asset contract address / mint."
                },
                "payTo": {
                  "type": "string",
                  "description": "Treasury address to pay."
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                },
                "extra": {
                  "type": "object",
                  "description": "Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).",
                  "additionalProperties": true
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "description": "Optional discovery metadata (e.g. bazaar input/output schemas).",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "paths": {
    "/api/bank/lookup": {
      "get": {
        "tags": [
          "bank"
        ],
        "summary": "Look up FDIC-insured US banks",
        "description": "FDIC-insured US bank directory lookup. Lookup by name (fuzzy match), FDIC certificate number, RSSD ID, or state. Each record includes name + short name, web address, active flag, city/state/county/zip, established + insured dates, charter class, bank class, primary federal regulator, number of branches, assets and deposits ($1000s), and closed-date + reason for inactive institutions. Public-domain FDIC data, free.",
        "operationId": "bank_lookup",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = matched FDIC-insured institutions; total = upstream total match count; meta echoes the query + returned (this page).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cert": {
                                "type": "string"
                              },
                              "rssdId": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string",
                                "nullable": true
                              },
                              "webAddress": {
                                "type": "string",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "zipcode": {
                                "type": "string",
                                "nullable": true
                              },
                              "county": {
                                "type": "string",
                                "nullable": true
                              },
                              "establishedDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "insuredDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "charterClass": {
                                "type": "string",
                                "nullable": true
                              },
                              "bankClass": {
                                "type": "string",
                                "nullable": true
                              },
                              "primaryRegulator": {
                                "type": "string",
                                "nullable": true
                              },
                              "numberOfBranches": {
                                "type": "integer",
                                "nullable": true
                              },
                              "assets": {
                                "type": "number",
                                "nullable": true
                              },
                              "deposits": {
                                "type": "number",
                                "nullable": true
                              },
                              "closedDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "reasonClosed": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "cert",
                              "rssdId",
                              "name",
                              "shortName",
                              "webAddress",
                              "active",
                              "city",
                              "state",
                              "zipcode",
                              "county",
                              "establishedDate",
                              "insuredDate",
                              "charterClass",
                              "bankClass",
                              "primaryRegulator",
                              "numberOfBranches",
                              "assets",
                              "deposits",
                              "closedDate",
                              "reasonClosed"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "cert": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "rssdId": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "state": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "status": {
                                  "type": "string"
                                },
                                "limit": {
                                  "type": "integer"
                                },
                                "offset": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "name",
                                "cert",
                                "rssdId",
                                "state",
                                "status",
                                "limit",
                                "offset"
                              ],
                              "additionalProperties": false
                            },
                            "returned": {
                              "type": "integer",
                              "description": "Records returned on this page."
                            }
                          },
                          "required": [
                            "query",
                            "returned"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "bank.lookup",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "cert",
            "in": "query",
            "required": false,
            "description": "Cert.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,7}$"
            }
          },
          {
            "name": "rssdId",
            "in": "query",
            "required": false,
            "description": "Rssd ID.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,10}$"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter results by status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "any"
              ],
              "default": "active"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/barcode/generate": {
      "post": {
        "tags": [
          "barcode"
        ],
        "summary": "Generate QR / Aztec / Data Matrix / PDF417 codes from...",
        "description": "Generate QR / Aztec / Data Matrix / PDF417 codes from structured payloads (url, wifi, vcard, vevent, email, sms, tel, geo, bitcoin, json, text). QR supports rounded or dotted modules, solid colors or linear/radial gradients, transparent backgrounds, configurable error correction, and a centered logo image (URL or data URI).",
        "operationId": "barcode_generate",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "barcode.generate",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "legacy",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": [
                      "qr",
                      "aztec",
                      "datamatrix",
                      "pdf417"
                    ],
                    "default": "qr",
                    "description": "Format."
                  },
                  "data": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "description": "Filter results by type."
                          },
                          "text": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 2000,
                            "description": "Text."
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "url"
                            ],
                            "description": "Filter results by type."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "maxLength": 2000,
                            "description": "URL to process."
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "email"
                            ],
                            "description": "Filter results by type."
                          },
                          "to": {
                            "type": "string",
                            "format": "email",
                            "description": "End of the range."
                          },
                          "subject": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Subject."
                          },
                          "body": {
                            "type": "string",
                            "maxLength": 1000,
                            "description": "Body."
                          }
                        },
                        "required": [
                          "type",
                          "to"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "sms"
                            ],
                            "description": "Filter results by type."
                          },
                          "to": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "description": "End of the range."
                          },
                          "body": {
                            "type": "string",
                            "maxLength": 1000,
                            "description": "Body."
                          }
                        },
                        "required": [
                          "type",
                          "to"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "phone"
                            ],
                            "description": "Filter results by type."
                          },
                          "number": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "description": "Item number or identifier."
                          }
                        },
                        "required": [
                          "type",
                          "number"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "wifi"
                            ],
                            "description": "Filter results by type."
                          },
                          "ssid": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100,
                            "description": "Ssid."
                          },
                          "password": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Password."
                          },
                          "security": {
                            "type": "string",
                            "enum": [
                              "WPA",
                              "WEP",
                              "none"
                            ],
                            "description": "Security."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Hidden."
                          }
                        },
                        "required": [
                          "type",
                          "ssid"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "vcard"
                            ],
                            "description": "Filter results by type."
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200,
                            "description": "Name to search for."
                          },
                          "firstName": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "First name to filter by."
                          },
                          "lastName": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "Last name to filter by."
                          },
                          "phone": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Phone."
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email."
                          },
                          "org": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Org."
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Title to search for."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL to process."
                          },
                          "note": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Note."
                          }
                        },
                        "required": [
                          "type",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "geo"
                            ],
                            "description": "Filter results by type."
                          },
                          "lat": {
                            "type": "number",
                            "minimum": -90,
                            "maximum": 90,
                            "description": "Latitude in decimal degrees (WGS84)."
                          },
                          "lon": {
                            "type": "number",
                            "minimum": -180,
                            "maximum": 180,
                            "description": "Longitude in decimal degrees (WGS84)."
                          },
                          "altitude": {
                            "type": "number",
                            "description": "Altitude."
                          }
                        },
                        "required": [
                          "type",
                          "lat",
                          "lon"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "bitcoin"
                            ],
                            "description": "Filter results by type."
                          },
                          "address": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100,
                            "description": "Street address or full address string."
                          },
                          "amount": {
                            "type": "number",
                            "exclusiveMinimum": true,
                            "minimum": 0,
                            "description": "Amount."
                          },
                          "label": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Label."
                          },
                          "message": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Message."
                          }
                        },
                        "required": [
                          "type",
                          "address"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "calendar"
                            ],
                            "description": "Filter results by type."
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200,
                            "description": "Title to search for."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End."
                          },
                          "location": {
                            "type": "string",
                            "maxLength": 200,
                            "description": "Location."
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 1000,
                            "description": "Description."
                          }
                        },
                        "required": [
                          "type",
                          "title",
                          "start",
                          "end"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json"
                            ],
                            "description": "Filter results by type."
                          },
                          "value": {
                            "description": "Value."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ],
                    "description": "Data."
                  },
                  "output": {
                    "type": "string",
                    "enum": [
                      "svg",
                      "png",
                      "dataurl"
                    ],
                    "default": "svg",
                    "description": "Output."
                  },
                  "size": {
                    "type": "integer",
                    "minimum": 64,
                    "maximum": 4096,
                    "default": 512,
                    "description": "Size."
                  },
                  "margin": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 16,
                    "default": 4,
                    "description": "Margin."
                  },
                  "errorCorrection": {
                    "type": "string",
                    "enum": [
                      "L",
                      "M",
                      "Q",
                      "H"
                    ],
                    "default": "M",
                    "description": "L=~7%, M=~15%, Q=~25%, H=~30% recoverable damage (QR only)."
                  },
                  "style": {
                    "type": "object",
                    "properties": {
                      "modules": {
                        "type": "string",
                        "enum": [
                          "square",
                          "rounded",
                          "dots"
                        ],
                        "description": "Modules."
                      },
                      "foreground": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "linear",
                                  "radial"
                                ],
                                "description": "Gradient type."
                              },
                              "stops": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "offset": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1,
                                      "description": "Number of results to skip before returning (pagination offset)."
                                    },
                                    "color": {
                                      "type": "string",
                                      "description": "Color."
                                    }
                                  },
                                  "required": [
                                    "offset",
                                    "color"
                                  ],
                                  "additionalProperties": false
                                },
                                "minItems": 2,
                                "maxItems": 10,
                                "description": "Stops."
                              },
                              "rotation": {
                                "type": "number",
                                "description": "Linear gradient rotation in degrees."
                              }
                            },
                            "required": [
                              "type",
                              "stops"
                            ],
                            "additionalProperties": false
                          }
                        ],
                        "description": "Foreground."
                      },
                      "background": {
                        "type": "string",
                        "description": "CSS color or \"transparent\"."
                      },
                      "logo": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "https:// URL or data: URI. QR only."
                          },
                          "sizePct": {
                            "type": "number",
                            "minimum": 0.05,
                            "maximum": 0.4,
                            "description": "Size pct."
                          },
                          "padding": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 32,
                            "description": "Padding."
                          },
                          "background": {
                            "type": "string",
                            "description": "Background."
                          },
                          "cornerRadius": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 64,
                            "description": "Corner radius."
                          }
                        },
                        "required": [
                          "source"
                        ],
                        "additionalProperties": false,
                        "description": "Logo."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Style."
                  }
                },
                "required": [
                  "data"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/calendar/business-days": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Calculate holiday-aware business days, 200+ countries",
        "description": "Holiday-aware business-day calculator for 200+ countries. Three modes: pass start + addDays (signed integer) to shift a date by N business days; pass start + end to count business days between two dates (exclusive of start, inclusive of end); pass start alone to check one date (is it a business day, which holiday, next/previous business day). Query: country (ISO 3166-1 alpha-2), start (YYYY-MM-DD), optional region (subdivision code), addDays XOR end, optional weekend (comma-separated days, default sat,sun — e.g. fri,sat for the Gulf), optional types (holiday types treated as closures, default public,bank). Skipped holidays are itemized in the response. Use for payment terms, SLA deadlines, and delivery-date math.",
        "operationId": "calendar_business-days",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [one calculation result], shape depends on mode (check | add | between); total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "description": "check | add | between — which calculation ran, inferred from the params."
                              },
                              "country": {
                                "type": "string",
                                "description": "Resolved ISO country code."
                              },
                              "region": {
                                "type": "string",
                                "nullable": true,
                                "description": "Resolved subdivision code, or null."
                              },
                              "start": {
                                "type": "string",
                                "description": "Echoed anchor date."
                              },
                              "addDays": {
                                "type": "integer",
                                "description": "add mode: the requested shift."
                              },
                              "result": {
                                "type": "string",
                                "description": "add mode: the resulting business date, YYYY-MM-DD."
                              },
                              "calendarDaysSpanned": {
                                "type": "integer",
                                "description": "add mode: calendar days between start and result."
                              },
                              "holidaysSkipped": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "date": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "date",
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                "description": "add mode: weekday holidays skipped along the way."
                              },
                              "end": {
                                "type": "string",
                                "description": "between mode: echoed end date."
                              },
                              "businessDays": {
                                "type": "integer",
                                "description": "between mode: business days after start through end."
                              },
                              "calendarDays": {
                                "type": "integer",
                                "description": "between mode: calendar days between start and end."
                              },
                              "holidaysInRange": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "date": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "date",
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                "description": "between mode: weekday holidays inside the range."
                              },
                              "isBusinessDay": {
                                "type": "boolean",
                                "description": "check mode: true when start is neither weekend nor closure holiday."
                              },
                              "isWeekend": {
                                "type": "boolean",
                                "description": "check mode: start falls on a configured weekend day."
                              },
                              "isHoliday": {
                                "type": "boolean",
                                "description": "check mode: start is a closure holiday."
                              },
                              "holidayNames": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "check mode: names of holidays on start, if any."
                              },
                              "nextBusinessDay": {
                                "type": "string",
                                "description": "check mode: first business day after start."
                              },
                              "previousBusinessDay": {
                                "type": "string",
                                "description": "check mode: last business day before start."
                              }
                            },
                            "required": [
                              "mode",
                              "country",
                              "region",
                              "start"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "calendar.business-days",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code, e.g. US, DE, JP.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Anchor date, YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "addDays",
            "in": "query",
            "required": false,
            "description": "Signed number of business days to add to start (non-zero, ±3660). Mutually exclusive with end.",
            "schema": {
              "type": "integer",
              "minimum": -3660,
              "maximum": 3660
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date YYYY-MM-DD. Counts business days after start through end. Mutually exclusive with addDays.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Optional subdivision code — e.g. CA for US-California, BY for DE-Bavaria.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            }
          },
          {
            "name": "weekend",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated weekend days (mon..sun). Default \"sat,sun\"; use \"fri,sat\" for Gulf states.",
            "schema": {
              "type": "string",
              "maxLength": 30
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated holiday types treated as business closures (public, bank, school, optional, observance). Default \"public,bank\".",
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/calendar/holidays": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "List the official holidays for a country and year, with...",
        "description": "List the official holidays for a country and year, with exact observed dates including substitute days (e.g. a Saturday July 4th observed on Friday). Query: country (ISO 3166-1 alpha-2, 200+ supported), year, optional region (subdivision code like CA for US-California or BY for DE-Bavaria), optional types filter (public, bank, school, optional, observance — comma-separated), optional lang (ISO 639-1) for localized names. Returns one item per holiday: { date (YYYY-MM-DD), name, type, substitute, rule }. Dates are computed from maintained per-country rules — including movable feasts and lunar-calendar holidays — so they stay correct year over year. Use for scheduling, delivery estimates, payment terms, and SLA math.",
        "operationId": "calendar_holidays",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = holidays for the requested country/region/year, sorted by date; total = count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "Observed date, YYYY-MM-DD."
                              },
                              "name": {
                                "type": "string",
                                "description": "Holiday name (localized when lang is passed and a translation exists)."
                              },
                              "type": {
                                "type": "string",
                                "description": "public | bank | school | optional | observance."
                              },
                              "substitute": {
                                "type": "boolean",
                                "description": "True when this entry is a substitute/observed day for a holiday falling on a weekend."
                              },
                              "rule": {
                                "type": "string",
                                "nullable": true,
                                "description": "The rule the date was computed from, e.g. \"3rd monday in January\"."
                              }
                            },
                            "required": [
                              "date",
                              "name",
                              "type",
                              "substitute",
                              "rule"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "calendar.holidays",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code, e.g. US, DE, JP. 200+ countries supported.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Calendar year (1950-2100).",
            "schema": {
              "type": "integer",
              "minimum": 1950,
              "maximum": 2100
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Optional subdivision code — e.g. CA for US-California, BY for DE-Bavaria, ON for CA-Ontario.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated holiday-type filter: public, bank, school, optional, observance. Default: all types.",
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Optional ISO 639-1 language code for localized holiday names, e.g. en, de, fr.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 5
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/code/repo-lookup": {
      "get": {
        "tags": [
          "code"
        ],
        "summary": "Look up a public GitHub repository by \"owner/name\" slug.",
        "description": "Look up a public GitHub repository by \"owner/name\" slug. Returns full name, owner, description, homepage, default branch, primary language, topics, license (SPDX key + name), counts (stars / forks / watchers / open issues / subscribers / network), size, timestamps (created/updated/pushed), visibility, has-issues/projects/wiki/discussions flags. Unauthenticated GitHub access is rate-limited to 60 req/hour per server IP — returns 429 UPSTREAM_RATE_LIMIT when the bucket is empty.",
        "operationId": "code_repo-lookup",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [GitHub repo metadata] for the requested slug; total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "type": "string"
                              },
                              "owner": {
                                "type": "string"
                              },
                              "repo": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "homepage": {
                                "type": "string",
                                "nullable": true
                              },
                              "htmlUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "isFork": {
                                "type": "boolean"
                              },
                              "isArchived": {
                                "type": "boolean"
                              },
                              "isDisabled": {
                                "type": "boolean"
                              },
                              "isPrivate": {
                                "type": "boolean"
                              },
                              "isTemplate": {
                                "type": "boolean"
                              },
                              "defaultBranch": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string",
                                "nullable": true
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "license": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "key",
                                  "name"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              },
                              "starsCount": {
                                "type": "integer"
                              },
                              "forksCount": {
                                "type": "integer"
                              },
                              "watchersCount": {
                                "type": "integer"
                              },
                              "openIssuesCount": {
                                "type": "integer"
                              },
                              "subscribersCount": {
                                "type": "integer",
                                "nullable": true
                              },
                              "networkCount": {
                                "type": "integer",
                                "nullable": true
                              },
                              "size": {
                                "type": "integer"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "pushedAt": {
                                "type": "string"
                              },
                              "visibility": {
                                "type": "string"
                              },
                              "hasIssues": {
                                "type": "boolean"
                              },
                              "hasProjects": {
                                "type": "boolean"
                              },
                              "hasWiki": {
                                "type": "boolean"
                              },
                              "hasDiscussions": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "fullName",
                              "owner",
                              "repo",
                              "description",
                              "homepage",
                              "htmlUrl",
                              "isFork",
                              "isArchived",
                              "isDisabled",
                              "isPrivate",
                              "isTemplate",
                              "defaultBranch",
                              "language",
                              "topics",
                              "license",
                              "starsCount",
                              "forksCount",
                              "watchersCount",
                              "openIssuesCount",
                              "subscribersCount",
                              "networkCount",
                              "size",
                              "createdAt",
                              "updatedAt",
                              "pushedAt",
                              "visibility",
                              "hasIssues",
                              "hasProjects",
                              "hasWiki",
                              "hasDiscussions"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "code.repo-lookup",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repo.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][\\w.-]*\\/[A-Za-z0-9._-]+$"
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/convert/unit": {
      "get": {
        "tags": [
          "convert"
        ],
        "summary": "Convert a value between units of measure: mass (g, kg, mg...",
        "description": "Convert a value between units of measure: mass (g, kg, mg, lb, oz, t, st), length (m, km, cm, mm, in, ft, yd, mi), volume (l, ml, m3, gal, gal-imp, qt, pt, cup, floz, tbsp, tsp), area (m2, km2, ft2, acre, ha), and temperature (C, F, K). Units are matched case-insensitively with common aliases (kg/kilogram/kgs). Returns {value, from, to, dimension, result}. Exact factors — the ground-truth answer a CPG/ETL pipeline needs instead of an LLM approximating conversions. Cross-dimension conversions (kg→m) return 400.",
        "operationId": "convert_unit",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [conversion result]; total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              },
                              "from": {
                                "type": "string",
                                "nullable": true
                              },
                              "to": {
                                "type": "string",
                                "nullable": true
                              },
                              "dimension": {
                                "type": "string",
                                "nullable": true,
                                "description": "mass | length | volume | area | temperature"
                              },
                              "result": {
                                "type": "number",
                                "nullable": true
                              },
                              "reason": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "value",
                              "from",
                              "to",
                              "dimension",
                              "result",
                              "reason"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "convert.unit",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "Value.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the range.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the range.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/countdown/gif": {
      "get": {
        "tags": [
          "countdown"
        ],
        "summary": "Generate an animated countdown GIF to an end date",
        "description": "Animated countdown GIF from the current UTC time to endDate. Always uncached. Supports 5 templates (default, minimal, neon, retro, corporate) and full customization: colors, fonts, dimensions, padding, cell padding, labels, dividers. Animates for `seconds` frames at `fps`.",
        "operationId": "countdown_gif",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.006 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "countdown.gif",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.006,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "legacy",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.006000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the date range (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Template.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "minimal",
                "neon",
                "retro",
                "corporate"
              ]
            }
          },
          {
            "name": "seconds",
            "in": "query",
            "required": false,
            "description": "Seconds.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60
            }
          },
          {
            "name": "fps",
            "in": "query",
            "required": false,
            "description": "Fps.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Width.",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 1600
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Height.",
            "schema": {
              "type": "integer",
              "minimum": 80,
              "maximum": 800
            }
          },
          {
            "name": "padding",
            "in": "query",
            "required": false,
            "description": "Padding.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 200
            }
          },
          {
            "name": "cellPadding",
            "in": "query",
            "required": false,
            "description": "Cell padding.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 200
            }
          },
          {
            "name": "digitFontSize",
            "in": "query",
            "required": false,
            "description": "Digit font size.",
            "schema": {
              "type": "integer",
              "minimum": 20,
              "maximum": 300
            }
          },
          {
            "name": "labelFontSize",
            "in": "query",
            "required": false,
            "description": "Label font size.",
            "schema": {
              "type": "integer",
              "minimum": 6,
              "maximum": 80
            }
          },
          {
            "name": "labelPaddingY",
            "in": "query",
            "required": false,
            "description": "Label padding y.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 60
            }
          },
          {
            "name": "digitPaddingY",
            "in": "query",
            "required": false,
            "description": "Digit padding y.",
            "schema": {
              "type": "integer",
              "minimum": -60,
              "maximum": 60
            }
          },
          {
            "name": "letterSpacing",
            "in": "query",
            "required": false,
            "description": "Letter spacing.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 20
            }
          },
          {
            "name": "bg",
            "in": "query",
            "required": false,
            "description": "Bg.",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "fg",
            "in": "query",
            "required": false,
            "description": "Fg.",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "labelColor",
            "in": "query",
            "required": false,
            "description": "Label color.",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "dividerColor",
            "in": "query",
            "required": false,
            "description": "Divider color.",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "digitFont",
            "in": "query",
            "required": false,
            "description": "Digit font.",
            "schema": {
              "type": "string",
              "enum": [
                "mono",
                "sans"
              ]
            }
          },
          {
            "name": "labelFont",
            "in": "query",
            "required": false,
            "description": "Label font.",
            "schema": {
              "type": "string",
              "enum": [
                "mono",
                "sans"
              ]
            }
          },
          {
            "name": "digitWeight",
            "in": "query",
            "required": false,
            "description": "Digit weight.",
            "schema": {
              "type": "string",
              "enum": [
                "regular",
                "bold"
              ]
            }
          },
          {
            "name": "showLabels",
            "in": "query",
            "required": false,
            "description": "Show labels.",
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "0",
                    "1"
                  ]
                }
              ]
            }
          },
          {
            "name": "showDays",
            "in": "query",
            "required": false,
            "description": "Show days.",
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "0",
                    "1"
                  ]
                }
              ]
            }
          },
          {
            "name": "dividerChar",
            "in": "query",
            "required": false,
            "description": "Divider char.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 3
            }
          },
          {
            "name": "expiredText",
            "in": "query",
            "required": false,
            "description": "Expired text.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            }
          },
          {
            "name": "labelDays",
            "in": "query",
            "required": false,
            "description": "Label days.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            }
          },
          {
            "name": "labelHours",
            "in": "query",
            "required": false,
            "description": "Label hours.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            }
          },
          {
            "name": "labelMinutes",
            "in": "query",
            "required": false,
            "description": "Label minutes.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            }
          },
          {
            "name": "labelSeconds",
            "in": "query",
            "required": false,
            "description": "Label seconds.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/dns/lookup": {
      "get": {
        "tags": [
          "dns"
        ],
        "summary": "Resolve a hostname over public DNS and return parsed records.",
        "description": "Resolve a hostname over public DNS and return parsed records. Query: host (required FQDN), types (comma-separated: A,AAAA,MX,TXT,NS,CAA,SRV,CNAME,PTR,SOA — default A,AAAA,MX,TXT,NS), resolver (cloudflare|google|quad9|opendns, optional). Returns one normalized JSON shape per record type with per-type error pass-through. Reserved/local TLDs (.local, .internal, .invalid, .test, localhost) are rejected. 4s per-query timeout.",
        "operationId": "dns_lookup",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [DNS result] (query, resolver, durationMs, per-type answers object); total = 1 (single resolution, type-keyed answers are not a homogeneous list).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "dns.lookup",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "description": "Hostname to look up.",
            "schema": {
              "type": "string",
              "minLength": 1,
[...]
