{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Furigana API",
  "description": "Japanese text utilities: furigana, normalization, multi-reading names, classification. x402-enabled for AI agents.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://furigana.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "japanese"
  },
  {
   "name": "furigana"
  },
  {
   "name": "romaji"
  },
  {
   "name": "kana"
  },
  {
   "name": "normalization"
  }
 ],
 "paths": {
  "/furigana": {
   "post": {
    "operationId": "POST__furigana",
    "summary": "Convert Japanese kanji text to furigana and romaji",
    "description": "Convert kanji-mixed Japanese (JP) text to hiragana, katakana, or romaji (Hepburn/Nippon/Passport), with a per-token breakdown of surface form, reading, and part-of-speech. Backed by the kuromoji morphological analyzer. Use to generate ruby readings, build search indexes, or preprocess text for speech synthesis.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "text": {
          "type": "string",
          "description": "Japanese kanji-mixed text to convert to a reading",
          "maxLength": 5000
         },
         "options": {
          "type": "object",
          "properties": {
           "mode": {
            "type": "string",
            "enum": [
             "normal",
             "furigana",
             "okurigana"
            ]
           },
           "to": {
            "type": "string",
            "enum": [
             "hiragana",
             "katakana",
             "romaji"
            ]
           },
           "romaji_style": {
            "type": "string",
            "enum": [
             "hepburn",
             "nippon",
             "passport"
            ]
           }
          }
         }
        },
        "required": [
         "text"
        ],
        "type": "object"
       },
       "example": {
        "text": "東京都千代田区永田町",
        "options": {
         "mode": "normal",
         "to": "hiragana",
         "romaji_style": "hepburn"
        }
       }
      }
     }
    }
   }
  },
  "/normalize": {
   "post": {
    "operationId": "POST__normalize",
    "summary": "Convert width and kana variants to canonical Japanese text",
    "description": "Normalize Japanese (JP) text to a canonical form: fullwidth↔halfwidth conversion, halfwidth-katakana folding, invisible-character removal, and whitespace cleanup — each transformation toggleable. Returns a per-change log. Use to deduplicate or match text where '東京' and 'ﾄｳｷｮｳ' must compare equal.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "text": {
          "type": "string",
          "description": "Japanese text to normalize (fullwidth/halfwidth, kana, invisibles)",
          "maxLength": 5000
         },
         "options": {
          "type": "object"
         }
        },
        "required": [
         "text"
        ],
        "type": "object"
       },
       "example": {
        "text": "ｱｲｳ　ＡＢＣ　１２３"
       }
      }
     }
    }
   }
  },
  "/name-readings": {
   "post": {
    "operationId": "POST__name_readings",
    "summary": "Get ranked reading candidates for a Japanese name",
    "description": "List the possible readings of a Japanese (JP) name — person, company, or place — each with a probability, since names like 山崎 (やまざき / やまさき) are ambiguous without context. Returns hiragana, katakana, and romaji per candidate. Use for CRM name-matching, furigana fields, and call-list preparation.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "name": {
          "type": "string",
          "description": "A Japanese name (person/company/place)",
          "maxLength": 200
         },
         "name_type": {
          "type": "string",
          "enum": [
           "person",
           "company",
           "place"
          ]
         }
        },
        "required": [
         "name"
        ],
        "type": "object"
       },
       "example": {
        "name": "山崎太郎",
        "name_type": "person"
       }
      }
     }
    }
   }
  },
  "/classify": {
   "post": {
    "operationId": "POST__classify",
    "summary": "Classify text as person, company, place, or general",
    "description": "Classify a Japanese (JP) string as person_name / company_name / place_name / general / mixed, with a probability, ranked alternates, and a character-type breakdown (kanji/kana/ascii ratios). Use to route input to the right handler before further processing.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.002",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "text": {
          "type": "string",
          "description": "Japanese text to classify",
          "maxLength": 5000
         }
        },
        "required": [
         "text"
        ],
        "type": "object"
       },
       "example": {
        "text": "山田太郎"
       }
      }
     }
    }
   }
  },
  "/convert": {
   "post": {
    "operationId": "POST__convert",
    "summary": "Convert between hiragana, katakana, and romaji",
    "description": "Single-shot script conversion of Japanese (JP) text between hiragana, katakana, and romaji (Hepburn/Nippon/Passport styles). Lighter than /furigana — for text that is already kana, with no morphological analysis. Use for quick kana↔romaji transliteration.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "text": {
          "type": "string",
          "description": "Japanese text to convert between scripts",
          "maxLength": 5000
         },
         "to": {
          "type": "string",
          "enum": [
           "hiragana",
           "katakana",
           "romaji"
          ]
         },
         "style": {
          "type": "string",
          "enum": [
           "hepburn",
           "nippon",
           "passport"
          ]
         }
        },
        "required": [
         "text",
         "to"
        ],
        "type": "object"
       },
       "example": {
        "text": "とうきょう",
        "to": "katakana"
       }
      }
     }
    }
   }
  },
  "/batch": {
   "post": {
    "operationId": "POST__batch",
    "summary": "Convert up to 100 Japanese text items in one batched call",
    "description": "Run furigana / normalize / classify / convert over up to 100 Japanese (JP) text items in one call, with per-item success/error reporting. Dynamic pricing: a small per-item fee. Use to process a whole text column or import file at once.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "dynamic"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "operation": {
          "type": "string",
          "enum": [
           "furigana",
           "normalize",
           "classify",
           "convert"
          ]
         },
         "items": {
          "type": "array",
          "maxItems": 100,
          "description": "Text items to process; each item = {id, text} (max 100 items)"
         },
         "options": {
          "type": "object"
         }
        },
        "required": [
         "operation",
         "items"
        ],
        "type": "object"
       },
       "example": {
        "operation": "furigana",
        "items": [
         {
          "id": "1",
          "text": "東京都"
         }
        ]
       }
      }
     }
    }
   }
  }
 }
}
