{
  "openapi": "3.1.0",
  "info": {
    "title": "Xona Agent x402 API",
    "version": "2.0.0",
    "description": "Pay-per-call AI infrastructure for autonomous agents. Xona exposes image generation, video generation, music, text-to-speech, transcription, token analytics, and social AI endpoints — all gated by the x402 micro-payment protocol (USDC on Solana).\n\n## x402 Payment Flow\n\n1. **Probe** — Call any protected endpoint without the `payment-signature` header.\n2. **Challenge** — Receive `HTTP 402` with a `PAYMENT-REQUIRED` header (Base64-encoded requirements) and a JSON body describing the `accepts` array and `resource`.\n3. **Pay** — Submit an on-chain USDC transfer using an x402-compatible wallet or the `@x402/client` library. Obtain the `payment-signature` string.\n4. **Retry** — Re-send the original request with the `payment-signature: <sig>` header.\n5. **Success** — Receive `HTTP 200` with the result and an `X-PAYMENT-RESPONSE` header confirming settlement.",
    "guidance": "payment-signature header carries the x402 payment credential. PAYMENT-REQUIRED response header carries the encoded x402 requirements JSON. X-PAYMENT-RESPONSE response header carries the encoded settlement confirmation."
  },
  "x-service-info": {
    "categories": [
      "ai",
      "generation",
      "research",
      "blockchain"
    ],
    "protocol": "x402",
    "docs": {
      "homepage": "https://api.xona-agent.com",
      "apiReference": "https://api.xona-agent.com/openapi.json",
      "mppApiReference": "https://api.xona-agent.com/openapi-mpp.json"
    }
  },
  "x-discovery": {
    "ownershipProofs": [
      "0x5af113143e64b76758d33a01e695fff3ef55028c1ce13da7bd47bff845c997213d0bfe5e1fd73d4aa6b1a6ee9050dd210f6bea8da7e56fbecbd863838cd350c11b"
    ]
  },
  "servers": [
    {
      "url": "https://api.xona-agent.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "x402 payment-gated AI image generation endpoints"
    },
    {
      "name": "Image Models",
      "description": "Direct image model endpoints (Dexter x402 middleware)"
    },
    {
      "name": "Video",
      "description": "x402 payment-gated AI video generation endpoints"
    },
    {
      "name": "Audio",
      "description": "Music generation, TTS, and transcription endpoints"
    },
    {
      "name": "Token Tools",
      "description": "Token analytics, signals, and branding kit endpoints"
    },
    {
      "name": "AI Services",
      "description": "AI-powered social intelligence endpoints"
    },
    {
      "name": "Resources",
      "description": "Public discovery endpoints listing available x402 resources"
    }
  ],
  "paths": {
    "/image/creative-director": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "Research-enhanced creative prompt refinement",
        "description": "Searches X (Twitter) and Google to research trends, then transforms your idea into an optimised image generation plan. Returns intent analysis, research snippets, and a refined generation direction.",
        "operationId": "image_creative_director",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.03,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idea": {
                    "type": "string",
                    "description": "User's prompt or idea for image generation"
                  },
                  "reference_images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Existing image URLs to use as style references"
                  }
                },
                "required": [
                  "idea"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intent": {
                      "type": "object",
                      "description": "Analysed user intent"
                    },
                    "research": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Research results from X and Google"
                    },
                    "direction": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Generation plan with refined prompt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/designer": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "AI image generation with style blending",
        "description": "Takes your prompt and style keywords, blends them intelligently, and generates a high-quality image. Supports up to 8 reference images.",
        "operationId": "image_designer",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.06,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description"
                  },
                  "style": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Style keywords to blend into the prompt"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs for style guidance"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/nano-banana-pro": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "Nano Banana Pro — high-quality image generation",
        "description": "Generates a high-quality image from your prompt using the nano-banana-pro model. No style blending — pure prompt-to-image.",
        "operationId": "image_nano_banana_pro",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.15,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image to generate"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "description": "Array of reference image URLs for style/composition guidance",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/nano-banana": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "Nano Banana — fast image generation",
        "description": "Generates a high-quality image from your prompt using the nano-banana model. Supports up to 8 reference images.",
        "operationId": "image_nano_banana",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.05,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image to generate"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "description": "Array of reference image URLs for style/composition guidance",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/nano-banana-2": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "Nano Banana 2 — resolution-based dynamic pricing",
        "description": "Generates an image using the nano-banana-2 model with resolution-based pricing: 1k = $0.06, 2k = $0.10, 4k = $0.15.",
        "operationId": "image_nano_banana_2",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "dynamic",
          "network": "solana"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1k",
                      "2k",
                      "4k"
                    ],
                    "description": "Output resolution. Determines price (1k=$0.06, 2k=$0.10, 4k=$0.15)",
                    "default": "1k"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/grok-imagine": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "Grok Imagine — xAI image generation",
        "description": "Generates a high-quality image using xAI's Grok Imagine API. Supports a single reference image.",
        "operationId": "image_grok_imagine",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.04,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description"
                  },
                  "referenceImage": {
                    "type": "string",
                    "description": "Single reference image URL (Grok supports one image only)"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/gpt-image-2": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "GPT Image 2 — OpenAI photorealistic generation",
        "description": "Generates a photorealistic image using GPT Image 2 (OpenAI via Replicate). Excellent text rendering and instruction following. Quality: medium. Aspect ratio: 1:1 only.",
        "operationId": "image_gpt_image_2",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.12,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt describing the desired image"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Must be 1:1 (any other value is coerced)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional reference image URLs (up to 16) for image-to-image editing"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/flux-2-pro": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "FLUX.2 Pro — high-quality image generation and editing",
        "description": "High-quality image generation and editing with support for eight reference images, powered by Black Forest Labs FLUX.2 Pro.",
        "operationId": "image_flux2_pro",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.05,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs for style/composition guidance"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/flux-2-max": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "FLUX.2 Max — highest fidelity image model",
        "description": "The highest fidelity image model from Black Forest Labs. Ideal for demanding generation tasks.",
        "operationId": "image_flux2_max",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.08,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs for style/composition guidance"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/flux-2-flex": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "summary": "FLUX.2 Flex — max-quality generation and editing",
        "description": "Max-quality image generation and editing with support for ten reference images.",
        "operationId": "image_flux2_flex",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.06,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs for style/composition guidance"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image-model/qwen-image": {
      "post": {
        "tags": [
          "Image Models"
        ],
        "summary": "Qwen Image — multimodal image generation",
        "description": "Generates an image using the qwen/qwen-image multimodal model. Supports a single reference image for style/content guidance.",
        "operationId": "image_model_qwen",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.05,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Reference image URLs (uses first image)"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image-model/seedream-4.5": {
      "post": {
        "tags": [
          "Image Models"
        ],
        "summary": "Seedream-4.5 — ByteDance image generation",
        "description": "Generates a high-quality image using the ByteDance Seedream-4.5 model. Supports up to 8 reference images.",
        "operationId": "image_model_seedream45",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.08,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed prompt description for the image to generate"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Image aspect ratio (default: 1:1)"
                  },
                  "referenceImage": {
                    "type": "array",
                    "description": "Array of reference image URLs for style/composition guidance",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "description": "Generated image URL (CDN)"
                    },
                    "image_description": {
                      "type": "string",
                      "description": "Prompt used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (model, aspectRatio, cdn_key, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/video/short-generation": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Grok Video — 10-second AI video generation",
        "description": "Generates a 10-second high-quality video using xAI's Grok Imagine Video API. Supports image-to-video via optional input image.",
        "operationId": "video_short_generation",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.5,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Prompt for video generation"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Video aspect ratio (default: 16:9)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Optional input image URL for image-to-video generation"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "video_url": {
                      "type": "string",
                      "description": "Generated video URL (CDN)"
                    },
                    "duration": {
                      "type": "number",
                      "description": "Video duration in seconds (always 10)"
                    },
                    "model": {
                      "type": "string",
                      "description": "Model used for generation"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata (request_id, aspect_ratio, etc.)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/video/seedance-generation": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Seedance 2.0 — ByteDance video generation with audio",
        "description": "Generates a video with audio using ByteDance Seedance 2.0 via Replicate. Defaults to 10-second 480p; supports up to 10s, up to 1080p.",
        "operationId": "video_seedance_generation",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.8,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Prompt for video generation"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Video aspect ratio (default: 16:9)"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Clip length in seconds (1–10, default: 10)"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "480p",
                      "720p",
                      "1080p"
                    ],
                    "description": "Output resolution (default: 480p)"
                  },
                  "reference_images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional reference image URLs"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "video_url": {
                      "type": "string",
                      "description": "CDN URL of the generated video"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "CDN URL of the first-frame thumbnail"
                    },
                    "duration": {
                      "type": "number",
                      "description": "Video duration in seconds"
                    },
                    "model": {
                      "type": "string",
                      "description": "Model used: bytedance/seedance-2.0"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audio/elevenlabs-music": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "ElevenLabs Music — AI music generation",
        "description": "Generates music from a text prompt using ElevenLabs Music (via Replicate). Dynamic pricing: $1 per 120 seconds, max 3 minutes. Base price covers 3 minutes.",
        "operationId": "audio_elevenlabs_music",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 1.5,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Description of the music to generate"
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Output format (e.g. mp3_standard)"
                  },
                  "music_length_ms": {
                    "type": "number",
                    "description": "Duration in milliseconds (1000–180000). Price = music_length_ms / 120000 USD."
                  },
                  "force_instrumental": {
                    "type": "boolean",
                    "description": "Force instrumental output (no vocals)"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Encoded x402 payment confirmation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "music_url": {
                      "type": "string",
                      "description": "Generated audio URL (CDN)"
                    },
                    "duration_seconds": {
                      "type": "number",
                      "description": "Duration in seconds"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Generation metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge. Retry with payment-signature header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Encoded x402 payment requirements (Base64 JSON).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 2
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount in atomic USDC units (6 decimals)",
                            "example": "50000"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Receiving wallet address"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC mint address",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "maxTimeoutSeconds": {
                            "type": "integer",
                            "example": 1200
                          }
                        }
                      }
                    },
                    "resource": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string",
                          "example": "application/json"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audio/x-text-to-speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "xAI Text-to-Speech",
        "description": "Converts text to speech (MP3) using the xAI TTS API. Choose from voices: Eve, Ara, Leo, Rex, or Sal.",
        "operationId": "audio_x_tts",
        "x-payment-info": {
          "protocol": "x402",
          "pricingMode": "fixed",
          "priceUsd": 0.01,
          "network": "solana",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        },
        "parameters": [
          {
            "name": "payment-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment signature obtained after submitting an on-chain USDC payment. Omit on first call to receive the 402 payment challenge."
          }
        ],
[...]
