{
  "openapi": "3.1.0",
  "info": {
    "title": "Dynamic Wallets API",
    "description": "Server-side MPC wallet provisioning and signing. Create embedded wallets, authenticate for SDK operations, and sign messages with delegated key access.",
    "version": "1.0.0",
    "contact": {
      "name": "Dynamic",
      "url": "https://dynamic.xyz",
      "email": "hello@dynamic.xyz"
    }
  },
  "servers": [
    {
      "url": "https://app.dynamicauth.com/api/v0",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dynamic API token with `dyn_` prefix from https://app.dynamic.xyz/dashboard/developer/api"
      }
    },
    "parameters": {
      "environmentId": {
        "name": "environmentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Dynamic environment UUID from your dashboard."
      },
      "userId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "messageId": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "gateId": {
        "name": "gateId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "allowlistId": {
        "name": "allowlistId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "sessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "verifiedCredentials": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "publicKey": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string",
            "example": "EVM"
          },
          "walletProvider": {
            "type": "string"
          },
          "walletType": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WaasCreateRequest": {
        "type": "object",
        "required": [
          "identifier",
          "type"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Email address or userId to identify the user.",
            "example": "agent@example.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "userId"
            ],
            "description": "Whether `identifier` is an email or a Dynamic userId.",
            "example": "email"
          },
          "chains": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "EVM",
                "SOL"
              ]
            },
            "description": "Chain families to create wallets for. Defaults to EVM.",
            "example": [
              "EVM",
              "SOL"
            ]
          }
        }
      },
      "WaasAuthenticateResponse": {
        "type": "object",
        "properties": {
          "encodedJwts": {
            "type": "object",
            "properties": {
              "jwt": {
                "type": "string",
                "description": "Full JWT for WaaS SDK operations."
              },
              "minifiedJwt": {
                "type": "string",
                "description": "Minified JWT (fewer claims) for bandwidth-sensitive clients."
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "WaasVerifyApiKeyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerToken": []
    }
  ],
  "paths": {
    "/environments/{environmentId}/waas/verifyApiKey": {
      "post": {
        "operationId": "verifyApiKey",
        "summary": "Verify API key is valid for this environment",
        "description": "Lightweight check that the Bearer token is valid and scoped to this environment. Call at startup before making WaaS wallet or signing calls.",
        "tags": [
          "WaaS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaasVerifyApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token."
          }
        }
      }
    },
    "/environments/{environmentId}/waas/create": {
      "post": {
        "operationId": "createWaasWallet",
        "summary": "Create a server-side MPC wallet for a user",
        "description": "Provisions a Dynamic MPC (WaaS) wallet for a user identified by email or userId. If an email is given and no matching user exists, a new user is created automatically. Returns the user object with the new wallet attached.",
        "tags": [
          "WaaS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaasCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet already exists for this user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "201": {
            "description": "New wallet created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "422": {
            "description": "Validation error."
          }
        }
      }
    },
    "/environments/{environmentId}/waas/authenticate": {
      "post": {
        "operationId": "authenticateWaas",
        "summary": "Authenticate and get a WaaS JWT",
        "description": "Exchanges the API token for a short-lived JWT scoped to WaaS SDK operations.",
        "tags": [
          "WaaS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "WaaS JWT and user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaasAuthenticateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    }
  }
}