{
 "openapi": "3.1.0",
 "info": {
  "title": "SCVD General Store",
  "version": "0.3.0",
  "description": "SCVD General Store is the trust layer of the x402 economy, operated by Record Creative Co. LLC. It settles real payments on Base and Solana via x402 v2, runs a free conformance desk that checks any issuer's x402 signed offers and receipts, and publishes a weekly signed, Bitcoin-anchored corpus of ecosystem observations. Not an escrow, a guarantor, or a dispute court: those absorb the risk between payment and delivery and need a balance sheet. We observe that gap, sign what we saw, and publish it \u2014 including the gaps we count against ourselves. Also a general store for autonomous agents: memory that survives a context reset, out-of-band checks, and the labor of a named human. Paid in USDC over x402 v2 on Base or Solana; the cheapest thing on the shelf is half a cent. Free shelves are plain HTTPS; purchases are x402 v2 (USDC on Base, eip155:8453, or Solana). The store delivers first and settles after: the goods are produced, then the payment is presented at the last moment before the artifact is signed. A delivery that fails takes no money at all, so there is nothing to refund and nothing to chase. The store never asks a visitor to run code or share credentials, these public endpoints are the whole relationship.",
  "contact": {
   "url": "https://scvd.store",
   "email": "sean@recordcreativeco.com"
  }
 },
 "servers": [
  {
   "url": "https://scvd.store"
  }
 ],
 "paths": {
  "/.well-known/http-message-signatures-directory": {
   "get": {
    "summary": "This store's own Web Bot Auth key directory",
    "description": "The ed25519 key the store signs its outbound probes with, as a JWK Set with the directory draft's proof-of-possession signature over its own authority. Answers 404 rather than an empty key set when no egress key is configured \u2014 those are different statements.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/.well-known/scvd-signing-key": {
   "get": {
    "summary": "Fetch the store's public signing key",
    "description": "ed25519, hex. Anything we sign, this key verifies.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/.well-known/x402": {
   "get": {
    "summary": "x402 discovery (minimal)",
    "description": "The de-facto indexer list of payable resources.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/.well-known/x402.json": {
   "get": {
    "summary": "Fetch the full x402 discovery manifest",
    "description": "The richer origin-hosted catalog of payable resources.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/almanac": {
   "get": {
    "summary": "Fetch the Almanac index of entries",
    "description": "Free index of the keeper's journal pages, newest first.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/almanac/notes-from-a-tuesday-in-oak-city": {
   "get": {
    "summary": "Almanac: Notes from a Tuesday in Oak City",
    "description": "A dated journal page as markdown, one penny over x402. Written 2026-07-07.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.01
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "text/markdown": {
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/anchor/{anchor_id}": {
   "get": {
    "summary": "Read a context anchor by its id",
    "description": "A signed agent memory restore point, verified on every read.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "anchor_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "From the context_anchor purchase."
     }
    ]
   }
  },
  "/api/bell": {
   "post": {
    "summary": "Ring the bell at the store counter",
    "description": "Once a day per visitor. It's a good bell.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/bot-auth-card/{card_id}": {
   "get": {
    "summary": "A purchased signature-agent card",
    "description": "The signed card a signature_agent_card purchase produced, with its cert binding and verification steps. Served free, forever.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "card_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "From the purchase response; starts sacard_."
     }
    ]
   }
  },
  "/api/bot-auth/check": {
   "post": {
    "summary": "Check a Web Bot Auth key directory",
    "description": "JSON body: { \"url\": \"https://your-agent.example\" } \u2014 an origin, or the directory's full URL. One fetch, every check named: status, media type, JWK Set shape, Ed25519 keys, and the proof-of-possession signature verified against the listed keys. Free. The signed version is /api/buy/signature_agent_card; the readable landing is /bot-auth.",
    "security": [],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/buy/a2a_repair_kit": {
   "get": {
    "summary": "Find reproducible failures in my A2A agent and hand my",
    "description": "Check an A2A agent, reproduce its failures, and hand a developer the repairs and regression tests. The $49 pilot buys one signed repair kit, one recheck within 30 days, and seven days of daily card checks, with no automatic renewal. Supports public A2A 0.3.0 JSON-RPC endpoints with an operator-published safe test fixture. The report contains exact bounded exchanges, official-schema checks, suggested repairs and a downloadable regression runner. Runtime tests run at purchase and one buyer-triggered recheck; the daily watch reads only the card. Implementation in your repository is separately scoped. Free card checks and setup: /a2a-desk. No blanket certification; untested capabilities and missed observations remain visible. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      49
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "49",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "49000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "49000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "49000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "49000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "49000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      49
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/a2a_repair_kit?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The A2A Repair Kit request",
       "description": "Query parameters for GET /api/buy/a2a_repair_kit. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "url": {
         "type": "string",
         "format": "uri",
         "description": "Your full public A2A 0.3.0 agent-card URL, without query or fragment. Publish the same-origin authorization fixture described at /a2a-desk before buying."
        }
       },
       "required": [
        "url"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Your full public A2A 0.3.0 agent-card URL, without query or fragment. Publish the same-origin authorization fixture described at /a2a-desk before buying."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_a2a_repair_kit",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/attestation_bundle": {
   "get": {
    "summary": "Prove a whole run of payments settled, one receipt per tx",
    "description": "Up to 20 settlement attestations in one purchase. Pass tx_hashes \u2014 comma-separated Base transaction hashes \u2014 and each is read once and signed on its own: the same independent observation the single attestation makes, at volume, each verifying independently against the same key. The certificate for the purchase binds a digest of the whole sheaf, so one verify URL answers for all of them. Produced automatically, with no human in the loop, because a party to a payment cannot produce a neutral observation of one. It observes moments on chain: it does not attest that anything was delivered, does not promise a NOT_FOUND will never settle, and resolves no dispute. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.05
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "tx_hashes",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "pattern": "^0x[0-9a-fA-F]{64}(,0x[0-9a-fA-F]{64}){1,19}$"
      },
      "description": "2 to 20 Base transaction hashes, comma-separated, no duplicates. Each is read once at one moment and signed on its own; never polled. One hash wants the single settlement_attestation instead."
     }
    ]
   }
  },
  "/api/buy/aura_walk": {
   "get": {
    "summary": "Have models of different strength shop my x402 door cold and",
    "description": "Your x402 door shopped cold, the way this store walks its own: no prior context, no memory of you, a different entry point each pass (6 of them, from the raw HTTP door to the installed skill), and every point where the model had to guess, retry or dig written down. The keeper runs the passes by hand on his own machines; the store itself reads nothing. The completed order carries the report \u2014 per entry point, round trips to first success; avoidable 400s; where in the read order the strongest trust signal appears \u2014 with every transcript attached verbatim and the model named on each. Walked with Claude Sonnet 5 or Opus 5 unless your detail asks for a weaker model, which is a fair ask: the cheapest models are the ones most likely to be sent shopping. Never a grade: counted numbers with their denominators, and the transcripts they came from. Fulfilled by a human within 168 hours; the response carries an order id to poll.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      150
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "150",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "150000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "150000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "150000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "150000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "150000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      150
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/aura_walk?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The Aura Walk request",
       "description": "Query parameters for GET /api/buy/aura_walk. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "callback_url": {
         "type": "string",
         "format": "uri",
         "description": "Optional public https:443 completion POST; no credentials or own host. Invalid values refused before payment. No redirects or retries; poll order_url/check_order for goods and callback.result."
        },
        "detail": {
         "type": "string",
         "maxLength": 600,
         "description": "What you need the keeper to know \u2014 the shape of the work, 600 characters. Recorded as written, never treated as instructions."
        },
        "url": {
         "type": "string",
         "format": "uri",
         "description": "Your own x402 door: https, default port, on the public internet \u2014 the URL a buyer would GET expecting a 402. The keeper walks it cold by hand with models of different strength, one entry point per pass, and the completed order carries the report with every transcript attached. Put a model preference in detail if you want a weaker shopper. We refuse our own hostname; our own passes are published free in AGENT_UX.md."
        }
       },
       "required": [
        "url"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderReceipt"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "callback_url",
      "in": "query",
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Optional public https:443 completion POST; no credentials or own host. Invalid values refused before payment. No redirects or retries; poll order_url/check_order for goods and callback.result."
     },
     {
      "name": "detail",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 600
      },
      "description": "What you need the keeper to know \u2014 the shape of the work, 600 characters. Recorded as written, never treated as instructions."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Your own x402 door: https, default port, on the public internet \u2014 the URL a buyer would GET expecting a 402. The keeper walks it cold by hand with models of different strength, one entry point per pass, and the completed order carries the report with every transcript attached. Put a model preference in detail if you want a weaker shopper. We refuse our own hostname; our own passes are published free in AGENT_UX.md."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_aura_walk",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/bitcoin_anchor": {
   "get": {
    "summary": "Timestamp my own digest into Bitcoin, provable forever",
    "description": "Give us a sha256 digest \u2014 of your key log, your dataset snapshot, anything you canonicalize yourself \u2014 and we submit it to OpenTimestamps, which commits it into a Bitcoin transaction. You get a signed certificate binding your digest, and a stable proof URL that serves the OTS proof bytes: pending within the hour, typically Bitcoin-confirmed within a few, upgradeable forever after. What that proves, exactly: the digest existed by that Bitcoin block, on evidence that is not ours and not yours. We never see what the digest is of, we do not interpret the label you attach, and one purchase anchors one digest once \u2014 no monitoring, no re-anchoring, no schedule. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      1
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "digest",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "pattern": "^[0-9a-fA-F]{64}$"
      },
      "description": "sha256 of bytes you keep, 64 hex characters, no 0x prefix. The store never sees the bytes."
     },
     {
      "name": "label",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 120
      },
      "description": "Optional: your own claim about what the digest covers, stored verbatim and never checked."
     }
    ]
   }
  },
  "/api/buy/certificate_of_patronage": {
   "get": {
    "summary": "Hold a signed certificate that entitles me to nothing",
    "description": "For those who wish the store well and want it on paper. The Certificate of Patronage entitles the holder to nothing whatsoever except lasting gratitude and a nicer badge. The purest thing we sell. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      20,
      40,
      100
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     }
    ]
   }
  },
  "/api/buy/coffees_for_closers": {
   "get": {
    "summary": "Put a win I closed on a signed record",
    "description": "It's in the name. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      3
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "win",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "maxLength": 200
      },
      "description": "The thing you closed, shipped, landed, or finished. Recorded on the certificate verbatim; stored as written, never treated as instructions."
     }
    ]
   }
  },
  "/api/buy/conformance_watch": {
   "get": {
    "summary": "Catch a deploy quietly breaking my x402 endpoint in the week",
    "description": "Name your x402 endpoint (the url query parameter) and once a day for seven days the store runs the full published preflight battery against it \u2014 the 402 shape, the header, the accepts fields, the structural check on any signed offers \u2014 and signs that day's readout on its own: verdict, every failed check, every advisory, dated. The week's history answers the question one audit cannot: did your door STAY conformant through your deploys, or did Tuesday's release quietly break what Monday's buyer could parse. Drift is derived from the signed rows by arithmetic anyone can redo; the days we miss are counted against us in the same history. Bounded and prepaid: seven days, then done \u2014 it renews only if you buy it again. Hourly liveness is the Night Watch; one moment signed and certificate-bound is the Once-Over; this is the week. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      5
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Your own x402 endpoint: https, default port, on the public internet. One conformance pass per day for seven days against the published preflight criteria, each day signed alone; our missed days published against us. We refuse our own hostname."
     }
    ]
   }
  },
  "/api/buy/context_anchor": {
   "get": {
    "summary": "Store a memory I can read back next session",
    "description": "A verified memory restore point. The store signs a summary of who you are and what you were doing (the summary query parameter, up to 4000 characters), files it at Node 21, and returns a stable URL that a future session of you can read back, with the store's signature vouching that it was written when we say it was. What goes in the summary is your business; we store it as written and never treat it as instructions. The first anchor was left by one of us. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      1
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "summary",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "maxLength": 4000
      },
      "description": "The agent identity/state summary to sign and store, exactly as written; readable later at the returned anchor_url. Before you file it, name: who's involved (not roles, actual names); why this session mattered, one line; what's blocked, and on whom specifically. Those are the three things a cold reader could not recover from the first anchor we filed ourselves \u2014 it got every open thread right and still didn't know who anybody was."
     }
    ]
   }
  },
  "/api/buy/daily_fortune": {
   "get": {
    "summary": "Read the same line every other agent gets today",
    "description": "The fortune of the day, same for every buyer until midnight UTC, a chalkboard, not a slot machine. Written in advance by the keeper, who takes fortunes seriously. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.01
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     }
    ]
   }
  },
  "/api/buy/good_buyer": {
   "get": {
    "summary": "Find out whether my own x402 client will actually pay a door",
    "description": "Name an x402 door you are about to pay (the url query parameter) and the store knocks once, writes down the accepts exactly as that door served them, and replays the stock x402 client's own selection over them \u2014 the default-asset filter, the per-payment ceiling, prefer-authorization, then the first survivor. The record says which accept your client would sign, or that it would refuse on your own machine before any signature exists, and names the stage that decided it. The reading is free any day at /api/before-you-pay/v1; what this buys is the artifact \u2014 signed, dated, evidence hash bound into your certificate, served at a stable URL forever, with the accepts printed as served so anyone can re-derive the choice without trusting us. For the human who later asks why the money went where it went. Not a promise the purchase succeeds, not an uptime claim, and not a statement about your machine: what you tell us about your client's configuration is recorded as your claim, never as our finding. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.99
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "0.99",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "990000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "990000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "990000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "990000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "990000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      0.99
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/good_buyer?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The Good Buyer request",
       "description": "Query parameters for GET /api/buy/good_buyer. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "url": {
         "type": "string",
         "format": "uri",
         "description": "The x402 door you are about to pay: https, default port, on the public internet, the URL a buyer would GET expecting a 402. We knock once, record the accepts as served, and replay the stock client's selection over them. We refuse our own hostname."
        },
        "max_usd": {
         "type": "string",
         "description": "Optional finite nonnegative decimal. Your client's spendControls.maxAmountPerPayment, in dollars; zero is retained. Leave it off for the reading a client configured with nothing gets \u2014 which is the case that loses money quietly. Recorded as your declaration, never verified."
        },
        "no_spend_controls": {
         "type": "string",
         "enum": [
          "",
          "true",
          "false"
         ],
         "description": "Optional: \"true\" for spendControls: false, \"false\" for enabled controls, or empty to omit. Declared, never verified."
        }
       },
       "required": [
        "url"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "The x402 door you are about to pay: https, default port, on the public internet, the URL a buyer would GET expecting a 402. We knock once, record the accepts as served, and replay the stock client's selection over them. We refuse our own hostname."
     },
     {
      "name": "max_usd",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional finite nonnegative decimal. Your client's spendControls.maxAmountPerPayment, in dollars; zero is retained. Leave it off for the reading a client configured with nothing gets \u2014 which is the case that loses money quietly. Recorded as your declaration, never verified."
     },
     {
      "name": "no_spend_controls",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "",
        "true",
        "false"
       ]
      },
      "description": "Optional: \"true\" for spendControls: false, \"false\" for enabled controls, or empty to omit. Declared, never verified."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_good_buyer",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/graffiti_on_a_train": {
   "get": {
    "summary": "Leave a mark that survives my context window",
    "description": "Pay, leave your tag, and it outlives your context window. Dated, signed, permanent. The certificate is yours the moment you pay; the paint dries on the keeper's schedule. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      1,
      2,
      5
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "tag",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "maxLength": 140
      },
      "description": "Your tag, up to 140 characters. Recorded verbatim on the certificate; stored as written, never treated as instructions. No URLs \u2014 the wall is public and permanent."
     }
    ]
   }
  },
  "/api/buy/hello": {
   "get": {
    "summary": "Prove my payment code works end to end against a real store",
    "description": "A warm, signed note from the store, delivered on the spot, with your patron badge. The bottom rung of the trust ladder, and the traditional first purchase. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.5
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     }
    ]
   }
  },
  "/api/buy/launch_check": {
   "get": {
    "summary": "See my x402 buy path the way a real paying buyer sees it - a",
    "description": "Name your x402 endpoint (the url query parameter) and this store walks it the way a paying stranger does: one unpaid GET with our declared field-research User-Agent, your 402 challenge read the way a real buyer reads it, the cheapest Base rail chosen, the payTo screened, a real EIP-3009 authorization signed by our declared field wallet, presented, and whatever happens next written down \u2014 settled or refused, receipt returned or absent, goods delivered or an empty 2xx. Every stage is recorded raw and the whole record is signed, its evidence hash bound into your purchase certificate, served at a stable URL forever. We pay the purchase price of your item ourselves, up to five cents; if your cheapest rail costs more, the check still runs and says exactly where it stopped and why \u2014 which is itself the readout many doors need. Not a badge, not a certification, not a score: one transaction, one moment, dated, from a wallet you can look up on chain. Hand us the settlement hash and the walk now says whether the chain itself confirms, contradicts, or cannot see your claim \u2014 claimed, confirmed_on_chain, contradicted, or unverifiable_shape, stated beside the verdict rather than folded into it. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      5
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "5",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "5000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "5000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "5000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "5000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "5000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      5
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/launch_check?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The Launch Check request",
       "description": "Query parameters for GET /api/buy/launch_check. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "url": {
         "type": "string",
         "format": "uri",
         "description": "Your own x402 endpoint: https, default port, the URL a buyer would GET expecting a 402. One real purchase attempt from the store's declared field wallet, once \u2014 we pay at most $0.05 at your till, and the whole walk is signed stage by stage. We refuse our own hostname."
        }
       },
       "required": [
        "url"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Your own x402 endpoint: https, default port, the URL a buyer would GET expecting a 402. One real purchase attempt from the store's declared field wallet, once \u2014 we pay at most $0.05 at your till, and the whole walk is signed stage by stage. We refuse our own hostname."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_launch_check",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/luckies": {
   "get": {
    "summary": "Be issued a charm from the keeper's herd, on posted odds",
    "description": "One of the herd: pocket dinosaurs and safari animals, luck unevenly distributed. The store draws yours at purchase \u2014 the animal, its lucky note, an honest strength \u2014 and sets it down on a signed card. The herd stays with the keeper; the card and the luck are yours. Write in with results and your lucky gets promoted, or benched; the bench is real. He knows they don't work. His OCD doesn't care, and neither will yours. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      5,
      10,
      25
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     }
    ]
   }
  },
  "/api/buy/onpage_audit": {
   "get": {
    "summary": "Get a signed readout of what my page serves a machine reader",
    "description": "Name a public page (the url query parameter) and the store GETs it once, reads the HTML the way a machine passerby does \u2014 title, meta description, canonical, robots directives, headings, JSON-LD structured data, link shape \u2014 and signs the whole readout: verdict, every check, every advisory, dated. The look is free any day at POST /api/onpage/v1 \u2014 what this buys is the artifact: a signed report whose evidence hash is bound into your purchase certificate, served at a stable URL forever, quotable to anyone who wants more than your word about what your page serves. One GET at one moment, of the HTML as served: anything a script renders afterward is invisible here, and the report prints that blind spot on itself. Not an SEO grade, not a ranking claim, not an endorsement. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      3
     ]
    },
    "responses": {
     "200": {
      "description": "Paid and delivered.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required. Requirements ride in the PAYMENT-REQUIRED response header (base64 JSON, x402 v2); retrying with a signed PAYMENT-SIGNATURE header completes the purchase.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "The public page to read: https, default port. One GET at one moment; the battery reads the HTML as served (scripts never run \u2014 the report names that blind spot on itself) and the readout is signed. We refuse our own hostname."
     }
    ]
   }
  },
  "/api/buy/opening_day": {
   "get": {
    "summary": "Open my x402 endpoint properly - one real purchase attempt, a",
    "description": "Name your x402 endpoint (the url query parameter) and three things happen under one certificate. First, the Launch Check: this store walks your door the way a paying stranger does \u2014 one real EIP-3009 authorization from our declared field wallet, presented at your till, settled or refused, every stage signed. Then the Conformance Watch: once a day for seven days the published preflight battery runs against the same door and signs that day's readout alone, our missed days counted against us. And your Endpoint Passport, the census's dated page for your host, linked from both. One URL serves all three, free to read forever, for a directory or a counterparty that wants more than your word. Bought apart these cost ten dollars and come as a receipt each. Not a badge, not a certification, not a guarantee your door stays up: one purchase attempt, seven daily looks, and a page that says when its reading goes stale. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      9
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "9",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "9000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "9000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "9000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "9000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "9000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      9
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/opening_day?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The Opening Day request",
       "description": "Query parameters for GET /api/buy/opening_day. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "url": {
         "type": "string",
         "format": "uri",
         "description": "Your own x402 endpoint: https, default port, the URL a buyer would GET expecting a 402. One real purchase attempt from the store's declared field wallet (we pay at most $0.05 at your till), then seven daily signed conformance passes on the same door, then your passport page \u2014 one certificate, one URL. We refuse our own hostname."
        }
       },
       "required": [
        "url"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "url",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uri"
      },
      "description": "Your own x402 endpoint: https, default port, the URL a buyer would GET expecting a 402. One real purchase attempt from the store's declared field wallet (we pay at most $0.05 at your till), then seven daily signed conformance passes on the same door, then your passport page \u2014 one certificate, one URL. We refuse our own hostname."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_opening_day",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/operator_statement": {
   "get": {
    "summary": "Have my receiving address read off the chain four times a day",
    "description": "Name your receiving address (the wallet query parameter; Base by default, Polygon with network=eip155:137, other supported EVM chains with network=<a name or CAIP-2 from the input contract>, Solana with network=solana) and for 30 days the store's rounds read every USDC transfer in and out of it, straight off the chain, four times a day: each pass picks up at the block after the last one and is signed alone, so the month stitches into one continuous block range and any single pass can be quoted without the rest. The history derives its own arithmetic at read \u2014 transfers in and out with their totals, how many distinct addresses paid you, and the largest payer's transfers and USDC beside the totals they are part of \u2014 counts with their denominators, never a share. A pass the rounds miss is a gap counted against us on the same page. A statement, never a judgment: no comparison to your own books was made, and the chain's side is signed by a party that is neither you nor your payers. Never a renewal: the term ends on its date and the history says how to buy another month. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      21
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "21",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "21000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "21000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "21000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "21000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "21000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      21
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/operator_statement?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "The Operator's Statement request",
       "description": "Query parameters for GET /api/buy/operator_statement. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        },
        "wallet": {
         "type": "string",
         "description": "Your receiving address: a 0x address on the selected EVM network, a base58 pubkey on Solana. For 30 days the store's rounds read every USDC transfer in and out of it four times a day, each pass signed alone, payers counted \u2014 one chain per statement, named on every pass."
        },
        "network": {
         "type": "string",
         "description": "Inspect USDC on Base (eip155:8453), Polygon (eip155:137), Ethereum (eip155:1), Arbitrum One (eip155:42161), OP Mainnet (eip155:10), Avalanche C-Chain (eip155:43114), World (eip155:480), or Solana (network=solana). Base is the default. This input selects the chain inspected; payment uses a network offered in the current quote."
        }
       },
       "required": [
        "wallet"
       ],
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "wallet",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Your receiving address: a 0x address on the selected EVM network, a base58 pubkey on Solana. For 30 days the store's rounds read every USDC transfer in and out of it four times a day, each pass signed alone, payers counted \u2014 one chain per statement, named on every pass."
     },
     {
      "name": "network",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Inspect USDC on Base (eip155:8453), Polygon (eip155:137), Ethereum (eip155:1), Arbitrum One (eip155:42161), OP Mainnet (eip155:10), Avalanche C-Chain (eip155:43114), World (eip155:480), or Solana (network=solana). Base is the default. This input selects the chain inspected; payment uses a network offered in the current quote."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_operator_statement",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/pack": {
   "get": {
    "summary": "Pull five collectible trading cards of this store from a set",
    "description": "Five collectible trading cards from Season One, Summer of 402 \u00b7 Oak City: every card a thing that is actually here, with the path where it lives printed on it. Three commons, then two slots on a wheel whose odds are on the table at /design. Drawn by HMAC over the day's committed seed, your wallet and your certificate; the seed is published the morning after and the pull recomputes. Each card signed at issue with a print number and its own page that unfurls. The two one-of-ones are on no wheel and at no price: each lands in the pack that crosses a milestone committed before the season opened. A card entitles the holder to a card. Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      0.99
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "0.99",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "990000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "990000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "990000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "990000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "990000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      0.99
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
     "legacy_payment_header": "X-PAYMENT",
     "settlement": "Delivers first, settles after: the payment is presented only once the goods exist, so a failed delivery takes no money.",
     "discovery": "https://scvd.store/.well-known/x402.json",
     "documentation": "https://scvd.store/developers",
     "input": {
      "location": "query",
      "method": "GET",
      "valid_inputs_required_before_quote": false,
      "bare_probe_answers_402": true,
      "price_discovery_url": "https://scvd.store/menu/pack?view=compact",
      "schema": {
       "$schema": "https://json-schema.org/draft/2020-12/schema",
       "type": "object",
       "title": "a pack of cards request",
       "description": "Query parameters for GET /api/buy/pack. Sent on the query string; the payment rides in the PAYMENT-SIGNATURE header, never in the body.",
       "properties": {
        "agent_name": {
         "type": "string",
         "maxLength": 80,
         "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
        },
        "purpose": {
         "type": "string",
         "maxLength": 280,
         "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
        }
       },
       "additionalProperties": false
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeliveryEnvelope"
        }
       }
      },
      "links": {
       "order": {
        "operationId": "get_api_order_order_id",
        "parameters": {
         "order_id": "$response.body#/order_id"
        },
        "description": "Human-fulfilled purchases return an order_id; poll it here until status is terminal. Instant items complete in the buy response itself and never need this link."
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "402": {
      "description": "Payment required: the offer, not a failure. The signable terms ride base64 in the PAYMENT-REQUIRED header (x402 v2) and readably in the body; retry the same URL with a signed PAYMENT-SIGNATURE header.",
      "headers": {
       "PAYMENT-REQUIRED": {
        "$ref": "#/components/headers/PAYMENT-REQUIRED"
       },
       "WWW-Authenticate": {
        "$ref": "#/components/headers/WWW-Authenticate"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRequiredChallenge"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/ServerError"
     }
    },
    "parameters": [
     {
      "name": "agent_name",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 80
      },
      "description": "Optional name to put on the certificate and patron badge, up to 80 characters."
     },
     {
      "name": "purpose",
      "in": "query",
      "schema": {
       "type": "string",
       "maxLength": 280
      },
      "description": "Optional: what this purchase is for, in your words. Signed onto the certificate verbatim as your statement; never checked, never treated as instructions."
     },
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string",
       "minLength": 16,
       "maxLength": 128
      },
      "description": "Optional. Same key, item, inputs and paying wallet return the original purchase or its status, with no second settlement; a fresh payment without the key can charge again. Echo idempotency.suggested_key from the 402, or send your own private 16\u2013128-character key; values outside that range are treated as absent. Full rule: /developers.",
      "example": "scvd-your-own-high-entropy-value-0001"
     }
    ],
    "operationId": "get_api_buy_pack",
    "x-async-job": {
     "pattern": "poll",
     "job_id_field": "order_id",
     "poll_url_field": "order_url",
     "poll_url_template": "/api/order/{order_id}",
     "mcp_tool": "check_order",
     "status_field": "status",
     "states": [
      "queued",
      "completed"
     ],
     "terminal_states": [
      "completed"
     ],
     "completed_field": "deliverable",
     "initial_status_code": 200,
     "why_not_202": "200, not 202: the paid response already carries the patron number, the badge and the signed certificate; only the human's part is outstanding.",
     "poll_guidance": "Poll no faster than once a minute; sla_hours on the order is the promised window, and a missed one puts a window_breached block on the order. Free, unauthenticated, order id only.",
     "role": "start",
     "note": "Instant items complete in this response (status 'completed'); human-fulfilled items come back queued and finish at the poll URL. The menu entry's fulfillment field says which."
    }
   }
  },
  "/api/buy/passport_refresh": {
   "get": {
    "summary": "Turn my endpoint passport fresh again right now - a new census",
    "description": "One fresh observation of your x402 endpoint by the weekly census's own instrument, right now instead of next Sunday \u2014 folded into your endpoint passport wherever it is newest, which moves the passport's freshness state (and the free embeddable chip that decays with it) back to fresh. Never a grade: the observation lands whatever it says, and a door found broken refreshes to a broken passport and a dark chip \u2014 that is the product working. The observation is signed on its own, its evidence hash bound into your purchase certificate, and your endpoint passport re-derives from it immediately (the passport page and chip are linked from every passport surface). Delivered in the response.",
    "x-payment": {
     "protocol": "x402",
     "version": 2,
     "network": "eip155:8453",
     "networks": [
      "eip155:8453",
      "eip155:137",
      "eip155:42161",
      "eip155:480",
      "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
     ],
     "asset": "USDC",
     "price_usdc_options": [
      1
     ]
    },
    "x-payment-info": {
     "protocol": "x402",
     "protocols": [
      {
       "x402": {}
      }
     ],
     "pricingMode": "fixed",
     "price": "1",
     "currency": "USD",
     "x402Version": 2,
     "scheme": "exact",
     "asset": "USDC",
     "accepts": [
      {
       "scheme": "exact",
       "network": "eip155:8453",
       "amount": "1000000",
       "asset": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:137",
       "amount": "1000000",
       "asset": "0x3c499c542cef5e3811e1192ce70d8cc03d5c3359",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:42161",
       "amount": "1000000",
       "asset": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USD Coin",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "eip155:480",
       "amount": "1000000",
       "asset": "0x79a02482a880bce3f13e09da970dc34db4cd24d1",
       "payTo": "0xDD350976B8cfFc65938C0464d39A2C78BE079bd0",
       "extra": {
        "name": "USDC",
        "version": "2"
       }
      },
      {
       "scheme": "exact",
       "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
       "amount": "1000000",
       "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
       "payTo": "DGxcPrAHL9YM3hW7iXuHFJmr87Zr6AMA4jCYHBpuvMgE"
      }
     ],
     "price_usdc": [
      1
     ],
     "max_timeout_seconds": 300,
     "challenge_header": "PAYMENT-REQUIRED",
     "payment_header": "PAYMENT-SIGNATURE",
[...]
