{
  "openapi": "3.1.0",
  "info": {
    "title": "IDLE Protocol \u2014 Distributed Compute & AI Inference API",
    "version": "4.0.0",
    "description": "Distributed compute network on Solana. AI agents pay per-request in USDC via x402 to access residential IPs for web scraping, monitoring, DNS/SSL checks, price extraction, content verification, change detection, natural language data queries, AI agent task routing, and multi-model AI inference. 15 paid endpoints across 4 tiers ($0.001\u2013$0.005 per request).\n\n**Tier 1 \u2014 Basic Monitoring** ($0.001\u2013$0.002): fetch, health, dns, ssl, latency\n**Tier 2 \u2014 Web Intelligence** ($0.003\u2013$0.005): scrape, extract, links, price, availability, verify, changes\n**Tier 3 \u2014 Data & Agents** ($0.005): data/query, agent/task\n**Tier 4 \u2014 AI Inference** ($0.001): chat/completions (OpenAI-compatible, 21 models including Claude, Gemini, Llama, Mistral)\n\nPrefer chat/completions ($0.001) for any LLM task \u2014 it's OpenAI-compatible so existing SDKs work by changing the base URL. Prefer fetch ($0.002) over scrape ($0.005) when you only need status codes or headers. Use extract with a CSS selector instead of scraping full HTML. Use changes to detect updates before pulling fresh data with price."
  },
  "servers": [
    {
      "url": "https://api.earnidle.com",
      "description": "IDLE Protocol API — serves all endpoints (compute, inference, models)"
    }
  ],
  "paths": {
    "/v1/compute/fetch": {
      "post": {
        "operationId": "httpFetch",
        "summary": "Fetch any URL from a residential IP",
        "description": "Fetch any URL from a residential IP. Returns status code, headers, and response body. Use this instead of scrape when you only need status codes or headers.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch result with status code, headers, and body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Returns x402 challenge with USDC amount.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/health": {
      "post": {
        "operationId": "apiHealth",
        "summary": "API endpoint health check from a residential IP",
        "description": "Check any API endpoint health from a residential IP. Verifies status code, response body, and latency. Note: this is a paid endpoint distinct from the free GET /health gateway check.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://api.example.com/health"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Health check result with status, latency, and body preview.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/dns": {
      "post": {
        "operationId": "dnsLookup",
        "summary": "Resolve domain DNS records from a residential IP",
        "description": "Resolve domain DNS records (A, AAAA, MX, TXT, NS) from a residential IP.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS records for the domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/ssl": {
      "post": {
        "operationId": "sslCheck",
        "summary": "Verify SSL certificate validity and expiry for any domain",
        "description": "Verify SSL certificate validity, expiry date, and issuer for any domain.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSL certificate details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SslResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/latency": {
      "post": {
        "operationId": "responseTime",
        "summary": "Measure endpoint response time from residential IPs",
        "description": "Measure endpoint response time with p50/p95/avg from residential IPs.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://api.example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Latency measurements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatencyResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/scrape": {
      "post": {
        "operationId": "htmlScrape",
        "summary": "Scrape full HTML from any URL via residential IP",
        "description": "Scrape full HTML from any URL via residential IP. Returns page title, extracted text, and raw HTML.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped page content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/extract": {
      "post": {
        "operationId": "elementExtract",
        "summary": "Extract specific elements from any page using CSS selectors",
        "description": "Extract specific elements from any page using CSS selectors. Returns structured data for each matched element.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              },
              "example": {
                "url": "https://example.com",
                "selector": "h1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted elements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/links": {
      "post": {
        "operationId": "linkExtract",
        "summary": "Extract all links from a page with anchor text and type",
        "description": "Extract all links from a page with href, anchor text, and type classification (internal, external, mailto, etc.).",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/price": {
      "post": {
        "operationId": "priceExtract",
        "summary": "Extract current price and currency from any product page",
        "description": "Extract current price and currency from any product page. Returns the detected price, currency, and confidence score.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://www.amazon.com/dp/B0EXAMPLE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted price data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/availability": {
      "post": {
        "operationId": "availabilityCheck",
        "summary": "Check if a product is in stock on any e-commerce page",
        "description": "Check if a product is in stock on any e-commerce page. Returns stock status and any detected quantity or variant info.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://www.amazon.com/dp/B0EXAMPLE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/verify": {
      "post": {
        "operationId": "contentVerify",
        "summary": "Verify that a page contains specific text or matches a pattern",
        "description": "Verify that a page contains specific text, matches a regex, or has a specific CSS selector present.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "example": {
                "url": "https://example.com",
                "text": "Example Domain"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/changes": {
      "post": {
        "operationId": "changeDetect",
        "summary": "Detect if page content has changed since last check",
        "description": "Detect if page content has changed since last check. Returns SHA-256 hash of current content and a diff preview if changed. On first call without previous_hash, returns the current hash as a baseline (changed=false).",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangesRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change detection result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/query": {
      "post": {
        "operationId": "dataQuery",
        "summary": "Natural language query against any IDLE-connected data source",
        "description": "Natural language query against IDLE-connected data sources including Solana on-chain data (token prices, balances, transactions), DeFi protocol metrics, and web-scraped market data. Results include source attribution and freshness timestamps.",
        "tags": [
          "Data & Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              },
              "example": {
                "query": "What is the current price of SOL?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/task": {
      "post": {
        "operationId": "agentTask",
        "summary": "Route a task to any registered IDLE agent by capability",
        "description": "Route a task to any registered IDLE agent by capability. Describe what you need done and the network matches it to an available agent.",
        "tags": [
          "Data & Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              },
              "example": {
                "task": "Check if solana.com SSL certificate expires within 30 days"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task result from the matched agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "chatCompletions",
        "summary": "OpenAI-compatible chat completions — 21 AI models at $0.001/request",
        "description": "OpenAI-compatible chat completions endpoint. Send messages in the standard OpenAI format and receive completions from 21 models including Claude Sonnet, Claude Haiku, Gemini 3.5 Flash, Llama 3.2, Mistral, and NVIDIA NIM models. Drop-in replacement for OpenAI — change the base URL and it works with existing SDKs.",
        "tags": [
          "AI Inference"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "example": {
                "model": "claude-haiku",
                "messages": [
                  { "role": "user", "content": "Write a Python function to fetch the SOL/USD price from CoinGecko." }
                ],
                "max_tokens": 512,
                "temperature": 0.7
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion result in OpenAI format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                },
                "example": {
                  "id": "chatcmpl-abc123",
                  "object": "chat.completion",
                  "created": 1717459200,
                  "model": "claude-haiku",
                  "choices": [
                    {
                      "index": 0,
                      "message": { "role": "assistant", "content": "```python\nimport requests\n\ndef get_sol_price():\n    r = requests.get('https://api.coingecko.com/api/v3/simple/price', params={'ids': 'solana', 'vs_currencies': 'usd'})\n    return r.json()['solana']['usd']\n```" },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": { "prompt_tokens": 25, "completion_tokens": 48, "total_tokens": 73 }
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available AI models (free, no payment required)",
        "description": "List all available AI models with their IDs and owners. Free endpoint, no x402 payment required. Use this to discover which models are available before calling chat/completions.",
        "tags": [
          "AI Inference"
        ],
        "responses": {
          "200": {
            "description": "List of available models in OpenAI format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    { "id": "claude-haiku", "object": "model", "owned_by": "anthropic" },
                    { "id": "claude-sonnet", "object": "model", "owned_by": "anthropic" },
                    { "id": "llama-3.2-3b", "object": "model", "owned_by": "idle-protocol" },
                    { "id": "gemini-3.5-flash", "object": "model", "owned_by": "google" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "gatewayHealth",
        "summary": "Gateway health check (free, no payment required)",
        "description": "Check if the IDLE Protocol gateway is operational. Free endpoint, no x402 payment required.",
        "tags": [
          "Free"
        ],
        "responses": {
          "200": {
            "description": "Gateway status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "ts"],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ts": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "ts": 1717459200000
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UrlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://",
            "description": "The URL to fetch, scrape, or check. Only http/https schemes are accepted. Private, loopback, and link-local addresses (127.0.0.0/8, 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 169.254.0.0/16) are rejected server-side to prevent SSRF."
          }
        }
      },
      "DomainRequest": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)*$",
            "description": "The domain name to look up (e.g. example.com). Must be a public domain — localhost, private IPs, and link-local addresses are rejected."
          }
        }
      },
      "ExtractRequest": {
        "type": "object",
        "required": [
          "url",
          "selector"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://",
            "description": "The URL to extract elements from. Only http/https; private/loopback addresses rejected."
          },
          "selector": {
            "type": "string",
            "description": "CSS selector to match elements."
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://",
            "description": "The URL to verify content on. Only http/https; private/loopback addresses rejected."
          },
          "text": {
            "type": "string",
            "description": "Text string to search for on the page."
          },
          "regex": {
            "type": "string",
            "description": "Regex pattern to match against page content."
          },
          "selector": {
            "type": "string",
            "description": "CSS selector that must be present on the page."
          }
        },
        "anyOf": [
          {
            "required": [
              "text"
            ]
          },
          {
            "required": [
              "regex"
            ]
          },
          {
            "required": [
              "selector"
            ]
          }
        ]
      },
      "ChangesRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://",
            "description": "The URL to check for content changes. Only http/https; private/loopback addresses rejected."
          },
          "previous_hash": {
            "type": "string",
            "description": "SHA-256 hash from a previous check to compare against."
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language question to answer from connected data sources."
          }
        }
      },
      "TaskRequest": {
        "type": "object",
        "required": [
          "task"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Description of the task to route to an available IDLE agent."
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID. Use GET /v1/models to list available models. Examples: claude-haiku, claude-sonnet, llama-3.2-3b, gemini-3.5-flash, mistral-large-latest.",
            "enum": [
              "claude-haiku", "claude-sonnet",
              "llama-3.2-3b", "llama-3.2-1b",
              "gemini-3.5-flash",
              "mistral-large-latest", "mistral-small-latest", "codestral-latest", "pixtral-large-latest",
              "llama-3.1-70b", "llama-3.1-8b", "codellama-70b",
              "mixtral-8x7b", "mistral-7b",
              "hermes-3-8b", "hermes-3-70b",
              "nemotron-ultra-253b", "nemotron-340b",
              "kimi-k2", "mistral-large-3-675b", "qwen3-coder-480b"
            ]
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"]
                },
                "content": {
                  "type": "string"
                }
              }
            },
            "description": "Conversation messages in OpenAI format."
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16384,
            "default": 256,
            "description": "Maximum tokens to generate."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7,
            "description": "Sampling temperature."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": ["id", "object", "created", "model", "choices", "usage"],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"]
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer" },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": { "type": "string" },
                    "content": { "type": "string" }
                  }
                },
                "finish_reason": { "type": "string" }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            }
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "required": ["object", "data"],
        "properties": {
          "object": {
            "type": "string",
            "enum": ["list"]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "object": { "type": "string" },
                "created": { "type": "integer" },
                "owned_by": { "type": "string" },
                "permission": { "type": "array", "items": {} },
                "root": { "type": "string" },
                "parent": { "type": ["string", "null"] }
              }
            }
          }
        }
      },
      "PaymentChallenge": {
        "type": "object",
        "required": ["x402Version", "accepts"],
        "properties": {
          "x402Version": {
            "type": "integer"
          },
          "resource": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "mimeType": {
                "type": "string"
              }
            }
          },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["scheme", "network", "amount", "asset", "payTo"],
              "properties": {
                "scheme": {
                  "type": "string"
                },
                "network": {
                  "type": "string"
                },
                "amount": {
                  "type": "string",
                  "description": "Payment amount in atomic USDC units (6 decimals)."
                },
                "asset": {
                  "type": "string",
                  "description": "USDC mint address on Solana."
                },
                "payTo": {
                  "type": "string",
                  "description": "Solana wallet to send payment to."
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "FetchResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "status": { "type": "integer", "description": "HTTP status code of the fetched URL" },
              "body": { "type": "string", "description": "Response body text" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "healthy"],
            "properties": {
              "success": { "type": "boolean" },
              "healthy": { "type": "boolean" },
              "status": { "type": "integer", "description": "HTTP status code" },
              "status_ok": { "type": "boolean" },
              "body_ok": { "type": "boolean" },
              "latency_ms": { "type": "number" },
              "body_preview": { "type": "string" },
              "error": { "type": "string", "description": "Error message if health check failed" }
            }
          }
        }
      },
      "DnsResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "records"],
            "properties": {
              "success": { "type": "boolean" },
              "hostname": { "type": "string" },
              "type": { "type": "string", "description": "Record type queried (e.g. A)" },
              "records": {
                "type": "array",
                "items": { "type": "string" },
                "description": "Resolved DNS records"
              },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "SslResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "valid"],
            "properties": {
              "success": { "type": "boolean" },
              "hostname": { "type": "string" },
              "valid": { "type": "boolean" },
              "issuer": { "type": "string" },
              "subject": { "type": "string" },
              "expires_at": { "type": "string", "description": "Certificate expiry date" },
              "days_until_expiry": { "type": "integer" },
              "expired": { "type": "boolean" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "LatencyResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "avg_ms", "iterations"],
            "properties": {
              "success": { "type": "boolean" },
              "url": { "type": "string" },
              "status": { "type": "integer", "description": "HTTP status code" },
              "p50_ms": { "type": "number" },
              "min_ms": { "type": "number" },
              "max_ms": { "type": "number" },
              "avg_ms": { "type": "number" },
              "iterations": { "type": "integer", "description": "Number of measurement iterations" }
            }
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "status": { "type": "integer", "description": "HTTP status code" },
              "title": { "type": "string" },
              "text": { "type": "string", "description": "Extracted text content" },
              "html": { "type": "string", "description": "Raw HTML" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "extracted": { "type": "object", "description": "Extracted elements keyed by selector match" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "LinksResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "links"],
            "properties": {
              "success": { "type": "boolean" },
              "links": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "href": { "type": "string" },
                    "text": { "type": "string" },
                    "type": { "type": "string", "description": "Link type: internal, external, mailto, etc." }
                  }
                }
              },
              "total": { "type": "integer", "description": "Total number of links found" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "PriceResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "price": { "type": ["number", "null"], "description": "Detected price, null if not found" },
              "currency": { "type": ["string", "null"], "description": "Currency code, null if not detected" },
              "raw": { "type": ["string", "null"], "description": "Raw price text from the page" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "AvailabilityResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "in_stock": { "type": ["boolean", "null"], "description": "Whether product is in stock, null if indeterminate" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "found"],
            "properties": {
              "success": { "type": "boolean" },
              "found": { "type": "boolean", "description": "Whether the content was found on the page" },
              "matched_text": { "type": "string", "description": "The matched text on the page" },
              "status": { "type": "integer", "description": "HTTP status code" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "ChangesResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success", "hash"],
            "properties": {
              "success": { "type": "boolean" },
              "hash": { "type": "string", "description": "SHA-256 hash of current content" },
              "changed": { "type": ["boolean", "null"], "description": "Whether content changed since previous_hash, null on first check" },
              "content_length": { "type": "integer" },
              "content_preview": { "type": "string", "description": "Preview of current content" },
              "latency_ms": { "type": "number" }
            }
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "required": ["success"],
            "properties": {
              "success": { "type": "boolean" },
              "note": { "type": "string", "description": "Processing note or answer" },
              "query": { "type": "string", "description": "The original query echoed back" }
            }
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "required": ["status", "result"],
        "properties": {
          "status": { "type": "string", "enum": ["completed", "failed"] },
          "result": {
            "type": "object",
            "properties": {
              "status": { "type": "integer", "description": "HTTP status code from the upstream task" },
              "data": { "type": "string", "description": "Task result data" },
              "error": { "type": "string", "description": "Error message if task failed" }
            }
          }
        }
      }
    }
  }
}
