{
  "openapi": "3.1.0",
  "info": {
    "title": "IDLE Protocol \u2014 Distributed Residential Compute API",
    "version": "3.0.0",
    "description": "Distributed residential compute network on Solana. AI agents pay per-request in USDC via x402 to access residential IPs for web scraping, monitoring, DNS/SSL checks, price extraction, content verification, change detection, natural language data queries, and AI agent task routing. 14 paid endpoints across 3 tiers ($0.001\u2013$0.005 per request).\n\n**Tier 1 \u2014 Basic Monitoring** ($0.001\u2013$0.002): fetch, health, dns, ssl, latency\n**Tier 2 \u2014 Web Intelligence** ($0.003\u2013$0.005): scrape, extract, links, price, availability, verify, changes\n**Tier 3 \u2014 Data & Agents** ($0.005): data/query, agent/task\n\nPrefer fetch ($0.002) over scrape ($0.005) when you only need status codes or headers. Use extract with a CSS selector instead of scraping full HTML. Use changes to detect updates before pulling fresh data with price."
  },
  "servers": [
    {
      "url": "https://gateway.earnidle.com"
    }
  ],
  "paths": {
    "/v1/compute/fetch": {
      "post": {
        "operationId": "httpFetch",
        "summary": "Fetch any URL from a residential IP",
        "description": "Fetch any URL from a residential IP. Returns status code, headers, and response body. Use this instead of scrape when you only need status codes or headers.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch result with status code, headers, and body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Returns x402 challenge with USDC amount.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/health": {
      "post": {
        "operationId": "apiHealth",
        "summary": "API endpoint health check from a residential IP",
        "description": "Check any API endpoint health from a residential IP. Verifies status code, response body, and latency.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://api.example.com/health"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Health check result with status, latency, and body preview.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/dns": {
      "post": {
        "operationId": "dnsLookup",
        "summary": "Resolve domain DNS records from a residential IP",
        "description": "Resolve domain DNS records (A, AAAA, MX, TXT, NS) from a residential IP.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS records for the domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/ssl": {
      "post": {
        "operationId": "sslCheck",
        "summary": "Verify SSL certificate validity and expiry for any domain",
        "description": "Verify SSL certificate validity, expiry date, and issuer for any domain.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSL certificate details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SslResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/latency": {
      "post": {
        "operationId": "responseTime",
        "summary": "Measure endpoint response time from residential IPs",
        "description": "Measure endpoint response time with p50/p95/avg from residential IPs.",
        "tags": [
          "Basic Monitoring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://api.example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Latency measurements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatencyResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/scrape": {
      "post": {
        "operationId": "htmlScrape",
        "summary": "Scrape full HTML from any URL via residential IP",
        "description": "Scrape full HTML from any URL via residential IP. Returns page title, extracted text, and raw HTML.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped page content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/extract": {
      "post": {
        "operationId": "elementExtract",
        "summary": "Extract specific elements from any page using CSS selectors",
        "description": "Extract specific elements from any page using CSS selectors. Returns structured data for each matched element.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              },
              "example": {
                "url": "https://example.com",
                "selector": "h1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted elements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/links": {
      "post": {
        "operationId": "linkExtract",
        "summary": "Extract all links from a page with anchor text and type",
        "description": "Extract all links from a page with href, anchor text, and type classification (internal, external, mailto, etc.).",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/price": {
      "post": {
        "operationId": "priceExtract",
        "summary": "Extract current price and currency from any product page",
        "description": "Extract current price and currency from any product page. Returns the detected price, currency, and confidence score.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://www.amazon.com/dp/B0EXAMPLE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted price data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/availability": {
      "post": {
        "operationId": "availabilityCheck",
        "summary": "Check if a product is in stock on any e-commerce page",
        "description": "Check if a product is in stock on any e-commerce page. Returns stock status and any detected quantity or variant info.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlRequest"
              },
              "example": {
                "url": "https://www.amazon.com/dp/B0EXAMPLE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/verify": {
      "post": {
        "operationId": "contentVerify",
        "summary": "Verify that a page contains specific text or matches a pattern",
        "description": "Verify that a page contains specific text, matches a regex, or has a specific CSS selector present.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "example": {
                "url": "https://example.com",
                "text": "Example Domain"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/changes": {
      "post": {
        "operationId": "changeDetect",
        "summary": "Detect if page content has changed since last check",
        "description": "Detect if page content has changed since last check. Returns SHA-256 hash of current content and a diff preview if changed.",
        "tags": [
          "Web Intelligence"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangesRequest"
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change detection result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/query": {
      "post": {
        "operationId": "dataQuery",
        "summary": "Natural language query against any IDLE-connected data source",
        "description": "Query any IDLE-connected data source using natural language and receive structured results.",
        "tags": [
          "Data & Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              },
              "example": {
                "query": "What is the current price of SOL?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/task": {
      "post": {
        "operationId": "agentTask",
        "summary": "Route a task to any registered IDLE agent by capability",
        "description": "Route a task to any registered IDLE agent by capability. Describe what you need done and the network matches it to an available agent.",
        "tags": [
          "Data & Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              },
              "example": {
                "task": "Check if solana.com SSL certificate expires within 30 days"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task result from the matched agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChallenge"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "gatewayHealth",
        "summary": "Gateway health check (free, no payment required)",
        "description": "Check if the IDLE Protocol gateway is operational. Free endpoint, no x402 payment required.",
        "tags": [
          "Free"
        ],
        "responses": {
          "200": {
            "description": "Gateway status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "service": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "x402": {
                      "type": "boolean"
                    },
                    "ts": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "service": "idle-gateway-upstream",
                  "version": "v3",
                  "x402": true,
                  "ts": 1717459200000
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UrlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to fetch, scrape, or check."
          }
        }
      },
      "DomainRequest": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name to look up (e.g. example.com)."
          }
        }
      },
      "ExtractRequest": {
        "type": "object",
        "required": [
          "url",
          "selector"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to extract elements from."
          },
          "selector": {
            "type": "string",
            "description": "CSS selector to match elements."
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to verify content on."
          },
          "text": {
            "type": "string",
            "description": "Text string to search for on the page."
          },
          "regex": {
            "type": "string",
            "description": "Regex pattern to match against page content."
          },
          "selector": {
            "type": "string",
            "description": "CSS selector that must be present on the page."
          }
        }
      },
      "ChangesRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to check for content changes."
          },
          "previous_hash": {
            "type": "string",
            "description": "SHA-256 hash from a previous check to compare against."
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language question to answer from connected data sources."
          }
        }
      },
      "TaskRequest": {
        "type": "object",
        "required": [
          "task"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Description of the task to route to an available IDLE agent."
          }
        }
      },
      "PaymentChallenge": {
        "type": "object",
        "properties": {
          "x402Version": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scheme": {
                  "type": "string"
                },
                "network": {
                  "type": "string"
                },
                "maxAmountRequired": {
                  "type": "string"
                },
                "asset": {
                  "type": "string"
                },
                "payTo": {
                  "type": "string"
                },
                "resource": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "mimeType": {
                  "type": "string"
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "FetchResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "headers": {
            "type": "object"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "latency_ms": {
            "type": "number"
          },
          "body_preview": {
            "type": "string"
          },
          "healthy": {
            "type": "boolean"
          }
        }
      },
      "DnsResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "object",
            "properties": {
              "A": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "AAAA": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "MX": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "TXT": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "NS": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SslResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "issuer": {
            "type": "string"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          },
          "days_remaining": {
            "type": "integer"
          }
        }
      },
      "LatencyResponse": {
        "type": "object",
        "properties": {
          "p50_ms": {
            "type": "number"
          },
          "p95_ms": {
            "type": "number"
          },
          "avg_ms": {
            "type": "number"
          },
          "samples": {
            "type": "integer"
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "html": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "LinksResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PriceResponse": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          }
        }
      },
      "AvailabilityResponse": {
        "type": "object",
        "properties": {
          "in_stock": {
            "type": "boolean"
          },
          "quantity": {
            "type": "integer"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean"
          },
          "matches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChangesResponse": {
        "type": "object",
        "properties": {
          "changed": {
            "type": "boolean"
          },
          "hash": {
            "type": "string"
          },
          "diff_preview": {
            "type": "string"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          }
        }
      }
    }
  }
}
