{
  "openapi": "3.1.0",
  "info": {
    "title": "2s",
    "version": "1",
    "description": "Unified JSON REST API for AI agents — an ever-expanding catalog of endpoints, pay per call in USDC on Base or Solana via x402, no accounts, no API keys. Fund a wallet on either chain with USDC, hit any endpoint, and your client signs an EIP-3009 authorization (Base) or a partial SPL transfer (Solana) to settle the call. Try before you buy: add ?trial=1 (or header X-2s-Trial: 1) to any endpoint for one free real call per endpoint per hour — no wallet needed — to verify it works before paying. 2s is an open-ended experiment in maximally-comprehensive agent infrastructure — new endpoints land regularly.",
    "contact": {
      "name": "2s",
      "url": "https://2s.io",
      "email": "alley@2s.io"
    }
  },
  "servers": [
    {
      "url": "https://2s.io"
    }
  ],
  "components": {
    "parameters": {
      "TrialMode": {
        "name": "trial",
        "in": "query",
        "required": false,
        "description": "Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the \"X-2s-Trial: 1\" request header. Works on every endpoint.",
        "schema": {
          "type": "integer",
          "enum": [
            1
          ]
        }
      }
    },
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org."
      }
    },
    "schemas": {
      "X402PaymentRequiredV2": {
        "type": "object",
        "description": "x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.",
        "required": [
          "x402Version",
          "accepts"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "error": {
            "type": "string",
            "description": "Human-readable reason payment is required."
          },
          "resource": {
            "type": "string",
            "description": "The resource URL being purchased."
          },
          "accepts": {
            "type": "array",
            "description": "Payment requirement options, one per supported network (Base USDC, Solana USDC).",
            "items": {
              "type": "object",
              "required": [
                "scheme",
                "network",
                "amount",
                "asset",
                "payTo",
                "maxTimeoutSeconds"
              ],
              "properties": {
                "scheme": {
                  "type": "string",
                  "enum": [
                    "exact"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network id, e.g. \"eip155:8453\" (Base) or \"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp\"."
                },
                "amount": {
                  "type": "string",
                  "description": "Price in atomic asset units (USDC has 6 decimals)."
                },
                "asset": {
                  "type": "string",
                  "description": "Asset contract address / mint."
                },
                "payTo": {
                  "type": "string",
                  "description": "Treasury address to pay."
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                },
                "extra": {
                  "type": "object",
                  "description": "Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).",
                  "additionalProperties": true
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "description": "Optional discovery metadata (e.g. bazaar input/output schemas).",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "paths": {
    "/api/bio/gene": {
      "get": {
        "tags": [
          "bio"
        ],
        "summary": "Look up a gene by its official symbol (e.g.",
        "description": "Look up a gene by its official symbol (e.g. \"TP53\", \"BRCA1\", \"CFTR\") and organism (taxid, default 9606 = human), merging NCBI Gene with UniProt. Returns the gene symbol, NCBI Gene ID, full description, organism, chromosome + cytogenetic map location, alias symbols, and the curated RefSeq function summary; plus the reviewed protein from UniProt — accession, entry id, recommended protein name, length in amino acids, and the curated function description. NCBI + UniProt links. Bioinformatics, clinical-genetics research, education. Public-domain NCBI + CC-BY UniProt data. Common organism taxids: human 9606, mouse 10090, zebrafish 7955, fruit fly 7227, yeast 559292.",
        "operationId": "bio_gene",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [{ gene }] (one gene; the best-effort UniProt protein sub-block stays inside the item); total = 1; meta.sources lists both NCBI Gene + UniProt attributions (envelope source is the primary, NCBI Gene).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "gene": {
                                "type": "object",
                                "properties": {
                                  "symbol": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "ncbiGeneId": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "description": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "organism": {
                                    "type": "object",
                                    "properties": {
                                      "scientificName": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "commonName": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "taxid": {
                                        "type": "number",
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "scientificName",
                                      "commonName",
                                      "taxid"
                                    ],
                                    "additionalProperties": false,
                                    "nullable": true
                                  },
                                  "chromosome": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "mapLocation": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "aliases": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "summary": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "protein": {
                                    "type": "object",
                                    "properties": {
                                      "found": {
                                        "type": "boolean"
                                      },
                                      "uniprotAccession": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "uniprotId": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "name": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "lengthAa": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "function": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "found",
                                      "uniprotAccession",
                                      "uniprotId",
                                      "name",
                                      "lengthAa",
                                      "function"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "ncbiUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "uniprotUrl": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "symbol",
                                  "ncbiGeneId",
                                  "description",
                                  "organism",
                                  "chromosome",
                                  "mapLocation",
                                  "aliases",
                                  "summary",
                                  "protein",
                                  "ncbiUrl",
                                  "uniprotUrl"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "gene"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "sources": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "provider": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "license": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "provider",
                                  "url",
                                  "license"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "sources"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00192 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "bio.gene",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00192,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001920"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Symbol.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            }
          },
          {
            "name": "taxid",
            "in": "query",
            "required": false,
            "description": "Taxid.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9999999,
              "default": 9606
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/bio/protein": {
      "get": {
        "tags": [
          "bio"
        ],
        "summary": "Look up a protein in UniProtKB by accession (e.g.",
        "description": "Look up a protein in UniProtKB by accession (e.g. \"P04637\", \"Q9Y6K9\", \"P0DTC2\"). Returns the entry id, reviewed (Swiss-Prot) flag, recommended + alternative protein names, gene names, organism + taxid, sequence length and molecular weight, the curated function description, subcellular locations, Gene Ontology terms (id + term + aspect: biological_process / molecular_function / cellular_component), PDB structure ids, and keywords. Bioinformatics, structural biology, drug-target research, education. Gene-centric sibling: /api/bio/gene. CC-BY UniProt data.",
        "operationId": "bio_protein",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [{ protein }] (one UniProtKB entry: names, organism, sequence, function, GO terms, PDB ids); total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "protein": {
                                "type": "object",
                                "properties": {
                                  "accession": {
                                    "type": "string"
                                  },
                                  "entryId": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "reviewed": {
                                    "type": "boolean"
                                  },
                                  "proteinName": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "alternativeNames": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "genes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "organism": {
                                    "type": "object",
                                    "properties": {
                                      "scientificName": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "commonName": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "taxid": {
                                        "type": "number",
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "scientificName",
                                      "commonName",
                                      "taxid"
                                    ],
                                    "additionalProperties": false,
                                    "nullable": true
                                  },
                                  "lengthAa": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "molecularWeightDa": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "function": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "subcellularLocations": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "goTerms": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "term": {
                                          "type": "string"
                                        },
                                        "aspect": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "term",
                                        "aspect"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  "pdbStructures": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "keywords": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "uniprotUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "accession",
                                  "entryId",
                                  "reviewed",
                                  "proteinName",
                                  "alternativeNames",
                                  "genes",
                                  "organism",
                                  "lengthAa",
                                  "molecularWeightDa",
                                  "function",
                                  "subcellularLocations",
                                  "goTerms",
                                  "pdbStructures",
                                  "keywords",
                                  "uniprotUrl"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "protein"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00144 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "bio.protein",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00144,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001440"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "accession",
            "in": "query",
            "required": true,
            "description": "Accession.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 20,
              "pattern": "^[A-Za-z0-9]+$"
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/bio/species": {
      "get": {
        "tags": [
          "bio"
        ],
        "summary": "Resolve any organism by scientific or common name to the...",
        "description": "Resolve any organism by scientific or common name to the GBIF taxonomic backbone — the canonical free reference for life on Earth. Returns the accepted scientific name + canonical name, taxonomic rank and status, the match type/confidence, the full classification (kingdom → phylum → class → order → family → genus → species), up to 8 English vernacular (common) names, the count of recorded occurrences worldwide, and the GBIF species URL. Biodiversity, ecology, education, and as a taxonomy normalizer for other pipelines. Fuzzy-matches misspellings. CC-BY GBIF data.",
        "operationId": "bio_species",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [{ species }] (one resolved taxon; classification + vernacular + occurrence sub-blocks stay inside the item, best-effort); total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "species": {
                                "type": "object",
                                "properties": {
                                  "usageKey": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "scientificName": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "canonicalName": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "rank": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "taxonomicStatus": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "matchType": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "matchConfidence": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "classification": {
                                    "type": "object",
                                    "properties": {
                                      "kingdom": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "phylum": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "class": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "order": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "family": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "genus": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "species": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "kingdom",
                                      "phylum",
                                      "class",
                                      "order",
                                      "family",
                                      "genus",
                                      "species"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "vernacularNames": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "occurrenceCount": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "gbifUrl": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "usageKey",
                                  "scientificName",
                                  "canonicalName",
                                  "rank",
                                  "taxonomicStatus",
                                  "matchType",
                                  "matchConfidence",
                                  "classification",
                                  "vernacularNames",
                                  "occurrenceCount",
                                  "gbifUrl"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "species"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00144 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "bio.species",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00144,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001440"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/book/search": {
      "get": {
        "tags": [
          "book"
        ],
        "summary": "Search Open Library book metadata",
        "description": "Open Library book metadata search. Lookup by free-text query (matches title + author), or by individual title / author / ISBN (10 or 13 digit). Each record includes Open Library work key, title, author names + Open Library author keys, first publish year, edition count, cover image URL, sample ISBNs, publishers, languages, subject tags, fulltext flag, ebook access tier (public/borrowable/printdisabled/no_ebook), and canonical openlibrary.org URL. CC0 public-domain metadata.",
        "operationId": "book_search",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = Open Library book records; total = upstream match count (numFound); page = current page; meta.query echoes the search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "workKey": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "authorNames": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "authorKeys": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "firstPublishYear": {
                                "type": "integer",
                                "nullable": true
                              },
                              "editionCount": {
                                "type": "integer",
                                "nullable": true
                              },
                              "coverEditionKey": {
                                "type": "string",
                                "nullable": true
                              },
                              "coverImageUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "isbns": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "publishers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "languages": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "subjectTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasFulltext": {
                                "type": "boolean"
                              },
                              "ebookAccess": {
                                "type": "string",
                                "nullable": true
                              },
                              "openlibraryUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "workKey",
                              "title",
                              "authorNames",
                              "authorKeys",
                              "firstPublishYear",
                              "editionCount",
                              "coverEditionKey",
                              "coverImageUrl",
                              "isbns",
                              "publishers",
                              "languages",
                              "subjectTags",
                              "hasFulltext",
                              "ebookAccess",
                              "openlibraryUrl"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "page": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "required": [
                            "number",
                            "size",
                            "pages"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "object",
                              "properties": {
                                "q": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "title": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "author": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "isbn": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "limit": {
                                  "type": "integer"
                                },
                                "page": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "q",
                                "title",
                                "author",
                                "isbn",
                                "limit",
                                "page"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "query"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "book.search",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Title to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Author.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "isbn",
            "in": "query",
            "required": false,
            "description": "ISBN.",
            "schema": {
              "type": "string",
              "minLength": 9,
              "maxLength": 17
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based) for paginated results.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/chem/compound": {
      "get": {
        "tags": [
          "chem"
        ],
        "summary": "Look up a chemical compound by CID, common/IUPAC name...",
        "description": "Look up a chemical compound by CID, common/IUPAC name, SMILES, or InChIKey. Returns CID, preferred name, IUPAC name, molecular formula, molecular weight, exact mass, SMILES, connectivity SMILES, InChI, InChIKey, XLogP, formal charge, the 10 most-common synonyms, a PubChem permalink, and source attribution. Data is sourced from NIH PubChem (public domain). Provide exactly one of cid, name, smiles, or inchikey.",
        "operationId": "chem_compound",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [compound] (CID, names, formula, weights, SMILES/InChI, XLogP, synonyms, PubChem URL); total = 1; meta.query echoes the resolved namespace + value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "object",
                              "properties": {
                                "namespace": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "namespace",
                                "value"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "query"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "chem.compound",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": false,
            "description": "PubChem Compound ID (CID), e.g. 2244 for aspirin.",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": true,
              "minimum": 0,
              "maximum": 2500000000
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Common, trade, or IUPAC name, e.g. \"aspirin\" or \"ibuprofen\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "smiles",
            "in": "query",
            "required": false,
            "description": "SMILES structural notation, e.g. \"CC(=O)Oc1ccccc1C(=O)O\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            }
          },
          {
            "name": "inchikey",
            "in": "query",
            "required": false,
            "description": "InChIKey (27-char hashed identifier), e.g. \"BSYNRYMUTXBXSQ-UHFFFAOYSA-N\".",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{14}-[A-Z]{10}-[A-Z]$"
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/edu/college-scorecard": {
      "get": {
        "tags": [
          "edu"
        ],
        "summary": "Search US colleges + universities via the Department of...",
        "description": "Search US colleges + universities via the Department of Education College Scorecard API. Filter by free-text name (q), OPE/IPEDS school id, state, city, zip, ownership (1=Public | 2=Private nonprofit | 3=Private for-profit), predominant degree level (0=Not classified | 1=Certificate | 2=Associate | 3=Bachelor | 4=Graduate), enrollment range. Returns a curated field set per school: identity (name, alias, URL, location), classification (Carnegie, locale, religious affiliation, minority-serving designation), latest admissions (admit rate, SAT/ACT midpoints), cost (in-state + out-of-state tuition, total cost of attendance), aid (median debt, federal-loan rate, Pell rate), completion rate, 10-year median earnings, repayment rate, lat/lon. Every accredited US institution. Use perPage + page for pagination; page is 0-indexed.",
        "operationId": "edu_college-scorecard",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = College Scorecard school rows (dotted field names like 'school.name', 'latest.student.size'); total = upstream match count; page = 0-indexed page block.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "page": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "required": [
                            "number",
                            "size",
                            "pages"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "edu.college-scorecard",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          },
          {
            "name": "schoolId",
            "in": "query",
            "required": false,
            "description": "School ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name to filter by.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 80
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "US ZIP code.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            }
          },
          {
            "name": "ownership",
            "in": "query",
            "required": false,
            "description": "Ownership.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "degreePredominant",
            "in": "query",
            "required": false,
            "description": "Degree predominant.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minEnrollment",
            "in": "query",
            "required": false,
            "description": "Min enrollment.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "maxEnrollment",
            "in": "query",
            "required": false,
            "description": "Max enrollment.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based) for paginated results.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Fields.",
            "schema": {
              "type": "string",
              "maxLength": 2000
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/edu/school-lookup": {
      "get": {
        "tags": [
          "edu"
        ],
        "summary": "Look up any US public K-12 school (~102k, NCES Common Core...",
        "description": "Look up any US public K-12 school (~102k, NCES Common Core of Data). Search by name (partial), district (LEA name, partial), state (2-letter), city, zip, or exact ncessch (12-digit NCES id). Each school: NCES id, name, district + LEA id, address, phone, lat/lon, school level (1=primary 2=middle 3=high 4=other) and type (1=regular 2=special-ed 3=vocational 4=alternative), charter/magnet/virtual flags, enrollment, teacher FTE, grade span, CCD year. Results ordered by enrollment. Higher-ed sibling: /api/edu/college-scorecard. Public-domain federal data.",
        "operationId": "edu_school-lookup",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = US public K-12 schools (NCES CCD rows, enrollment-ordered); total = null (LIKE search returns a capped page, no full match count).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ncessch": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "district": {
                                "type": "string",
                                "nullable": true
                              },
                              "leaid": {
                                "type": "string",
                                "nullable": true
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              },
                              "street": {
                                "type": "string",
                                "nullable": true
                              },
                              "zip": {
                                "type": "string",
                                "nullable": true
                              },
                              "phone": {
                                "type": "string",
                                "nullable": true
                              },
                              "latitude": {
                                "type": "number",
                                "nullable": true
                              },
                              "longitude": {
                                "type": "number",
                                "nullable": true
                              },
                              "schoolLevel": {
                                "type": "number",
                                "nullable": true
                              },
                              "schoolType": {
                                "type": "number",
                                "nullable": true
                              },
                              "charter": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "magnet": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "virtual": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "enrollment": {
                                "type": "number",
                                "nullable": true
                              },
                              "teachersFte": {
                                "type": "number",
                                "nullable": true
                              },
                              "lowestGrade": {
                                "type": "number",
                                "nullable": true
                              },
                              "highestGrade": {
                                "type": "number",
                                "nullable": true
                              },
                              "year": {
                                "type": "number",
                                "nullable": true
                              }
                            },
                            "required": [
                              "ncessch",
                              "name",
                              "district",
                              "leaid",
                              "state",
                              "city",
                              "street",
                              "zip",
                              "phone",
                              "latitude",
                              "longitude",
                              "schoolLevel",
                              "schoolType",
                              "charter",
                              "magnet",
                              "virtual",
                              "enrollment",
                              "teachersFte",
                              "lowestGrade",
                              "highestGrade",
                              "year"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00144 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "edu.school-lookup",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00144,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001440"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name to filter by.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 60
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "US ZIP code.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            }
          },
          {
            "name": "ncessch",
            "in": "query",
            "required": false,
            "description": "Ncessch.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{12}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/paper/doi-lookup": {
      "get": {
        "tags": [
          "paper"
        ],
        "summary": "Resolve a DOI to authoritative bibliographic metadata via...",
        "description": "Resolve a DOI to authoritative bibliographic metadata via Crossref. Accepts bare DOI (10.1038/nature12373) or full DOI URL (https://doi.org/10.1038/nature12373). Returns work type, title, container (journal/conference), publisher, issued/published dates, abstract, authors (with ORCID + affiliations), page range, volume/issue, ISBN + ISSN lists, canonical URL, reference + citation counts, license blocks, and subject classifications. ~160M works in Crossref. Best authoritative DOI → bibliographic resolver. Metadata is CC0.",
        "operationId": "paper_doi-lookup",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [Crossref bibliographic record] for the DOI; total = 1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "doi": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "nullable": true
                              },
                              "title": {
                                "type": "string",
                                "nullable": true
                              },
                              "containerTitle": {
                                "type": "string",
                                "nullable": true
                              },
                              "publisher": {
                                "type": "string",
                                "nullable": true
                              },
                              "issued": {
                                "type": "string",
                                "nullable": true
                              },
                              "publishedPrint": {
                                "type": "string",
                                "nullable": true
                              },
                              "publishedOnline": {
                                "type": "string",
                                "nullable": true
                              },
                              "abstract": {
                                "type": "string",
                                "nullable": true
                              },
                              "authors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "given": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "family": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "orcid": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "affiliation": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "given",
                                    "family",
                                    "orcid",
                                    "affiliation"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "pageRange": {
                                "type": "string",
                                "nullable": true
                              },
                              "volume": {
                                "type": "string",
                                "nullable": true
                              },
                              "issue": {
                                "type": "string",
                                "nullable": true
                              },
                              "isbn": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "issn": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "url": {
                                "type": "string",
                                "nullable": true
                              },
                              "referenceCount": {
                                "type": "integer",
                                "nullable": true
                              },
                              "isReferencedByCount": {
                                "type": "integer",
                                "nullable": true
                              },
                              "license": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "contentVersion": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "url",
                                    "contentVersion"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "subjects": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "doi",
                              "type",
                              "title",
                              "containerTitle",
                              "publisher",
                              "issued",
                              "publishedPrint",
                              "publishedOnline",
                              "abstract",
                              "authors",
                              "pageRange",
                              "volume",
                              "issue",
                              "isbn",
                              "issn",
                              "url",
                              "referenceCount",
                              "isReferencedByCount",
                              "license",
                              "subjects"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "paper.doi-lookup",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "doi",
            "in": "query",
            "required": true,
            "description": "DOI.",
            "schema": {
              "type": "string",
              "minLength": 7,
              "maxLength": 300
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/papers/search": {
      "get": {
        "tags": [
          "papers"
        ],
        "summary": "Fetch Unified scientific literature search across arXiv...",
        "description": "Unified scientific literature search across arXiv (preprints), PubMed (biomedical), and Semantic Scholar (cross-field, with citation counts). Returns a flat array of papers with stable schema: source, sourceId, doi, title, authors, abstract, year, publishedAt, citationCount, url, pdfUrl. Partial failures surface in the errors array rather than failing the whole call. Optional filters: since (YYYY-MM-DD), sources (subset), limit (max 20 per source).",
        "operationId": "papers_search",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = papers (flat array across arXiv + PubMed + Semantic Scholar; source, sourceId, doi, title, authors, abstract, year, citationCount, url, pdfUrl); total = count returned across sources; meta.errors = degraded sources; meta.sources/attribution describe per-source coverage.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "string",
                              "description": "Echo of the free-text query."
                            },
                            "sources": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Sources actually queried (after filtering)."
                            },
                            "errors": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "source",
                                  "message"
                                ],
[...]
