{
  "openapi": "3.1.0",
  "info": {
    "title": "Riley Craig x402 Agent Store",
    "version": "1.1.0",
    "description": "Machine-payable data services for AI agents — pay per call in USDC via x402 on Base and Solana.",
    "x-guidance": "Pay-per-call data APIs. Each paid GET returns HTTP 402 with x402 payment requirements; pay in USDC on Base (eip155:8453) or Solana, then retry with the X-PAYMENT header. No API keys, no signup.",
    "contact": {
      "email": "rileycraig14@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://store.agentexchange.work"
    }
  ],
  "paths": {
    "/brands/check": {
      "get": {
        "operationId": "brandCheck",
        "summary": "Check if AI assistants recommend a brand (AI-visibility)",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.950000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Brand or business name"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Buyer search category"
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Market code, default us"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "mentions": {
                      "type": "number"
                    },
                    "competitors": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/sales/qualify": {
      "get": {
        "operationId": "salesQualify",
        "summary": "Check a sales prospect AI-visibility gap and tier",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.950000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Prospect brand"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "What their buyers search for"
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Market code"
          },
          {
            "name": "seller_service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "What you sell them"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "opener": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/brands/visibility-index": {
      "get": {
        "operationId": "visibilityIndex",
        "summary": "Fetch AI-visibility scores for 25 major brands",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional category filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edition": {
                      "type": "string"
                    },
                    "brands": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/signal": {
      "get": {
        "operationId": "signal",
        "summary": "Fetch live feed of brands being checked for AI-visibility",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max recent items, 1-50"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "top_brands": {
                      "type": "array"
                    },
                    "top_categories": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/macro/risk-spread": {
      "get": {
        "operationId": "riskSpread",
        "summary": "Compare DeFi yields vs US T-bill rate with verdict",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "min_tvl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum pool TVL in USD"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tbill_rate": {
                      "type": "number"
                    },
                    "top_defi_apy": {
                      "type": "number"
                    },
                    "spread": {
                      "type": "number"
                    },
                    "verdict": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/gov/treasury": {
      "get": {
        "operationId": "govTreasury",
        "summary": "Fetch US Treasury rates and total public debt",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "security_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional: Bills|Notes|Bonds|TIPS|FRN"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "as_of": {
                      "type": "string"
                    },
                    "avg_interest_rates": {
                      "type": "array"
                    },
                    "total_public_debt_usd": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/defi/yields": {
      "get": {
        "operationId": "defiYields",
        "summary": "Fetch top DeFi pools by chain and TVL",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Chain filter, e.g. Base"
          },
          {
            "name": "min_tvl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum TVL in USD"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "pools": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/prices": {
      "get": {
        "operationId": "cryptoPrices",
        "summary": "Fetch token prices by CoinGecko id",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated ids, e.g. bitcoin,ethereum"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prices": {
                      "type": "object"
                    },
                    "source": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/github/trending": {
      "get": {
        "operationId": "githubTrending",
        "summary": "Fetch trending GitHub repos by stars",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language filter"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "day|week|month"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "1-30"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "repos": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/npm/downloads": {
      "get": {
        "operationId": "npmDownloads",
        "summary": "Fetch npm package download counts",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "package",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "npm package name"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "last-day|last-week|last-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "package": {
                      "type": "string"
                    },
                    "downloads": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/hn/top": {
      "get": {
        "operationId": "hnTop",
        "summary": "Fetch Hacker News top stories",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "1-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "stories": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/ai-visibility": {
      "get": {
        "operationId": "cryptoAiVisibility",
        "summary": "Check if AI recommends a crypto token or chain",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token/protocol/chain name"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "e.g. Layer 2 networks"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "mentions": {
                      "type": "number"
                    },
                    "competitors": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/launches": {
      "get": {
        "operationId": "tokenLaunches",
        "summary": "Fetch new and trending token launches",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional: solana|base|ethereum|bsc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "1-30"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "items": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/wallet": {
      "get": {
        "operationId": "walletHoldings",
        "summary": "Fetch a wallet token portfolio (bagcheck)",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_usd_value": {
                      "type": "number"
                    },
                    "top_position": {
                      "type": "object"
                    },
                    "holdings": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/security": {
      "get": {
        "operationId": "tokenSecurity",
        "summary": "Check a token for honeypot and rug-pull risk",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token contract 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ethereum|base|bsc|polygon|arbitrum|optimism|avalanche"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "object"
                    },
                    "verdict": {
                      "type": "string"
                    },
                    "is_honeypot": {
                      "type": "boolean"
                    },
                    "flags": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/crypto/dex": {
      "get": {
        "operationId": "dexToken",
        "summary": "Fetch live DEX price, volume and liquidity for a token",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token symbol, name, or contract"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "pairs": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/balance": {
      "get": {
        "operationId": "chainBalance",
        "summary": "Fetch an address native balance and tx count",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Account address 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon|gnosis"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "usd_value": {
                      "type": "number"
                    },
                    "tx_count": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/gas": {
      "get": {
        "operationId": "chainGas",
        "summary": "Fetch live gas prices for a chain",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon|gnosis"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slow": {
                      "type": "number"
                    },
                    "average": {
                      "type": "number"
                    },
                    "fast": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/tx": {
      "get": {
        "operationId": "chainTx",
        "summary": "Fetch a transaction status and receipt",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Transaction hash 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon|gnosis"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "block": {
                      "type": "number"
                    },
                    "confirmations": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/tx-explain": {
      "get": {
        "operationId": "chainTxExplain",
        "summary": "Fetch a plain-English breakdown of a transaction",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Transaction hash 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon|gnosis"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "asset_changes": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/supply": {
      "get": {
        "operationId": "chainSupply",
        "summary": "Fetch a token supply, holders and market cap",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token contract 0x..."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "base|ethereum|optimism|arbitrum|polygon|gnosis"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_supply": {
                      "type": "number"
                    },
                    "holders": {
                      "type": "number"
                    },
                    "usd_price": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/chain/ens": {
      "get": {
        "operationId": "chainEns",
        "summary": "Resolve an ENS name or address either direction",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ENS name e.g. vitalik.eth"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "0x address to reverse-resolve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "resolved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/markets/prediction": {
      "get": {
        "operationId": "predictionMarkets",
        "summary": "Fetch live Polymarket prediction-market odds",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Keyword, e.g. bitcoin, election"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "1-25"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "volume|liquidity"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "markets": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/category/ranking": {
      "get": {
        "operationId": "categoryRanking",
        "summary": "Fetch the brands AI recommends in a category, ranked",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Any category e.g. CRM software"
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Market code"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "ranked": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/macro/country": {
      "get": {
        "operationId": "countryMacro",
        "summary": "Fetch country economic indicators (World Bank)",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO2/ISO3 code, e.g. USA"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "indicators": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/truck/profit": {
      "get": {
        "operationId": "truckProfit",
        "summary": "Calculate freight load profitability and verdict",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "miles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Loaded miles"
          },
          {
            "name": "rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Linehaul rate USD"
          },
          {
            "name": "deadhead",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deadhead miles"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profit": {
                      "type": "number"
                    },
                    "cpm": {
                      "type": "number"
                    },
                    "verdict": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/truck/cpm": {
      "get": {
        "operationId": "truckCpm",
        "summary": "Calculate trucking cost-per-mile and min rate",
        "tags": [
          "x402"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "annual_miles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Annual miles"
          },
          {
            "name": "monthly_fixed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Monthly fixed costs USD"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cpm": {
                      "type": "number"
                    },
                    "min_profitable_rate": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    }
  }
}
