{
  "openapi": "3.1.0",
  "info": {
    "title": "CriptoNous x402",
    "version": "1.18.40",
    "description": "CriptoNous x402 — pay-per-query crypto market reading with cited sources. You get DEX pair flow (accumulation or distribution; not a named whale, company, or ETF unless a public label exists), narrative heat with the source named, regime context, and a committee reading with dissent. If the ticker is not this contract, the reading says so. First buy: hermes.pulse $0.02 · pair flow poseidon.flow $0.05 · confluence swarm.pulse $0.12 · day loop session.24h $9 (12 reads ≤ $1). Settle: Solana USDC · Base USDC · BNB · Robinhood USDG. ETH L1 deferred_gas — pay via Base (eip155:8453). AccessPass + HMAC receipts (notFiscal). NFA — analysis only; never a trade order, execution, or custody. Manifest /.well-known/x402 · skill.md · llms.txt.",
    "contact": {
      "email": "oraculo@criptonous.app"
    },
    "x-logo": {
      "url": "https://app.criptonous.com/brand/criptonous-logo.jpg",
      "altText": "CriptoNous — crypto market intelligence"
    },
    "x-guidance": "CriptoNous x402 market reading with cited sources: pair accumulation vs distribution (not a named whale unless a public label) · narrative heat · regime · confluence with dissent. First buy: GET /x402/resource/hermes.pulse ($0.02) → HTTP 402 → PAYMENT-SIGNATURE (PayAI / Dexter / OpenFacilitator) or PayBox. Pair flow next: poseidon.flow $0.05 · confluence swarm.pulse $0.12 · smoke kit sum $0.19 (no discount). Day loop: session.24h $9 → 12 reads ≤ $1. Templo MCP: POST /x402/mcp/temple_request_tribute {\"sku\"} then pay + temple_verify + X-PAYMENT; consume via temple_consume_pass — never pay twice. Rails: Solana USDC · Base · BNB · Robinhood USDG. Discovery: /.well-known/x402 · /skill.md (Buy now) · /llms.txt · /x402/hello. NFA — analysis only; no trade execution."
  },
  "servers": [
    {
      "url": "https://app.criptonous.com"
    }
  ],
  "tags": [
    {
      "name": "x402-resources",
      "description": "Pay-per-query intelligence SKUs (HTTP 402 wire)"
    },
    {
      "name": "discovery",
      "description": "Free discovery endpoints"
    }
  ],
  "paths": {
    "/x402/health": {
      "get": {
        "operationId": "health",
        "summary": "Check CriptoNous x402 service health status",
        "tags": [
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "service": {
                      "type": "string"
                    },
                    "chain": {
                      "type": "string"
                    },
                    "asset": {
                      "type": "string"
                    },
                    "nfa": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "service"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/x402/resource/temple.catalog": {
      "get": {
        "operationId": "get_temple_catalog",
        "summary": "List paid CriptoNous SKUs with USDC prices",
        "description": "Machine-readable catalog of paid SKUs (prices, tags, latency, NFA). Call this before requestTribute.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/temple.catalog"
      }
    },
    "/x402/resource/hermes.pulse": {
      "get": {
        "operationId": "get_hermes_pulse",
        "summary": "Read sentiment and narrative heat for one token",
        "description": "First buy: $0.02 sentiment and narrative heat for one symbol, with the source named. Not a pump call. Returns ownerBrief. NFA — analysis only.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/hermes.pulse"
      }
    },
    "/x402/resource/dionisio.heat": {
      "get": {
        "operationId": "get_dionisio_heat",
        "summary": "Read social and meme heat for one token",
        "description": "Declared contract risk and pair heat when a contract is supplied. Not an invitation to buy. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.030000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/dionisio.heat"
      }
    },
    "/x402/resource/hermes.wire": {
      "get": {
        "operationId": "get_hermes_wire",
        "summary": "Read the crypto news wire pulse for one token",
        "description": "News/wire pulse for one symbol or meta ($0.04). Narrative context only — NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.040000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/hermes.wire"
      }
    },
    "/x402/resource/kairos.regime": {
      "get": {
        "operationId": "get_kairos_regime",
        "summary": "Read the market regime and timing context",
        "description": "Market regime / timing bias (risk-on vs risk-off context). Not an entry order. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/kairos.regime"
      }
    },
    "/x402/resource/poseidon.flow": {
      "get": {
        "operationId": "get_poseidon_flow",
        "summary": "Read on-chain DEX flow: accumulation vs distribution",
        "description": "DEX pair flow for one symbol: accumulation vs distribution ($0.05). No whale, company, or ETF name unless a public label exists. Not a trade order. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/poseidon.flow"
      }
    },
    "/x402/resource/kairos.panic": {
      "get": {
        "operationId": "get_kairos_panic",
        "summary": "Score panic and squeeze pressure for one token",
        "description": "Panic/squeeze stress score. Do not treat as liquidation advice. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.080000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/kairos.panic"
      }
    },
    "/x402/resource/delfos.reading": {
      "get": {
        "operationId": "get_delfos_reading",
        "summary": "Get an oracle reading with conviction for one token",
        "description": "Structured directional reading + conviction. Analysis payload with ownerBrief; never a trade ticket. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/delfos.reading"
      }
    },
    "/x402/resource/swarm.pulse": {
      "get": {
        "operationId": "get_swarm_pulse",
        "summary": "Get a multi-source confluence snapshot for one token",
        "description": "Multi-source pulse: sentiment + on-chain flow + regime in one snapshot. ownerBrief for humans. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.120000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/swarm.pulse"
      }
    },
    "/x402/resource/temis.crystal": {
      "get": {
        "operationId": "get_temis_crystal",
        "summary": "Get risk-control evidence and deliberation notes",
        "description": "Evidence / deliberation state with cited sources. Not a trade verdict. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.150000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/temis.crystal"
      }
    },
    "/x402/resource/delfos.signal": {
      "get": {
        "operationId": "get_delfos_signal",
        "summary": "Get a structured oracle reading with evidence and dissent",
        "description": "Structured reading with evidence and dissent. The direction is a bias label, not a buy or sell. ownerBrief. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.250000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/delfos.signal"
      }
    },
    "/x402/resource/oracle.seal": {
      "get": {
        "operationId": "get_oracle_seal",
        "summary": "Get an oracle reading sealed by the risk-control agent",
        "description": "Sealed directional reading + evidence ($0.35). Redeemable inside session.24h. NFA — no trade order.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.350000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/oracle.seal"
      }
    },
    "/x402/resource/pantheon.brief": {
      "get": {
        "operationId": "get_pantheon_brief",
        "summary": "Get a multi-agent brief for one to three tokens",
        "description": "Multi-source brief for 1–3 symbols ($0.50). Plain ownerBrief. Redeemable inside session.24h. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.500000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/pantheon.brief"
      }
    },
    "/x402/resource/pantheon.confluence": {
      "get": {
        "operationId": "get_pantheon_confluence",
        "summary": "Get a multi-agent consensus snapshot for one token",
        "description": "Multi-source consensus/confluence snapshot. Not a buy/sell order. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1.000000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
            "description": "Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."
          }
        },
        "x-resource-path": "/x402/resource/pantheon.confluence"
      }
    },
    "/x402/resource/poseidon.dna": {
      "get": {
        "operationId": "get_poseidon_dna",
        "summary": "Fetch wallet DNA and clustering for one token",
        "description": "Wallet DNA / clustering snapshot. Intelligence only. NFA.",
        "tags": [
          "x402-resources"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1.500000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Optional token symbol for symbol-scoped SKUs (e.g. SOL).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "paid": {
                      "type": "boolean",
                      "const": true
                    },
                    "sku": {
                      "type": "string"
                    },
                    "passId": {
                      "type": "string"
                    },
                    "receiptId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "idempotent": {
                      "type": "boolean",
                      "description": "true when this signature was already settled; the same pass is returned instead of charging again."
                    },
                    "intelligence": {
                      "type": "object",
                      "description": "Market reading for this SKU. Prefer intelligence.ownerBrief for the human owner.",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "gods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Internal panel ids (brand signature)."
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "bullish",
                            "bearish",
                            "neutral"
                          ]
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "summary": {
                          "type": "string"
                        },
                        "thesis": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "convictionScore": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "ownerBrief": {
                          "type": "object",
                          "description": "Plain EN/ES takeaway for the human owner — accumulation/distribution language, no mythology.",
                          "properties": {
                            "takeawayEn": {
                              "type": "string"
                            },
                            "takeawayEs": {
                              "type": "string"
                            },
                            "bias": {
                              "type": "string"
                            },
                            "confidencePct": {
                              "type": "number"
                            },
                            "nfa": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        "degraded": {
                          "type": "boolean",
                          "description": "true when part of the evidence panel was unavailable."
                        }
                      },
                      "required": [
                        "symbol",
                        "gods",
                        "direction",
                        "confidence",
                        "summary",
                        "ownerBrief"
                      ]
                    },
                    "nfa": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok",
                    "paid",
                    "sku",
                    "passId",
                    "intelligence"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — SPL USDC + memo via temple_request_tribute flow."
          },
          "409": {
            "description": "Payment signature already used (replay). No new charge was made."
          },
          "503": {
[...]
