{"openapi":"3.1.0","info":{"title":"CriptoNous x402","version":"1.18.3","description":"CriptoNous x402 — pay-per-query crypto market intelligence API on Solana + Base USDC: on-chain whale flow, smart-money tracking, wallet intelligence, sentiment & narrative pulse, regime/timing, structured oracle signals, multi-source confluence. Machine catalog + MCP + AccessPass + audit receipts. Cheapest probe $0.02 (hermes.pulse). HTTP 402 + idempotent verify. MoonPay PayBox & agent wallets compatible. Manifest /.well-known/x402 · llms.txt. NFA — analysis & context only, never trade execution or custody.","contact":{"email":"oraculo@criptonous.app"},"x-logo":{"url":"https://app.criptonous.com/brand/criptonous-logo.jpg","altText":"CriptoNous — crypto market intelligence"},"x-guidance":"Pay-per-query crypto market intelligence on Solana + Base USDC. 1) GET /x402/resource/{sku} returns HTTP 402 with PAYMENT-REQUIRED. 2) Facilitator: retry with PAYMENT-SIGNATURE (Dexter/PayAI). 3) Templo MCP: POST /x402/mcp/temple_request_tribute {\"sku\"} then pay USDC + temple_verify + X-PAYMENT. 4) Consume AccessPass via temple_consume_pass. Discovery: /.well-known/x402 · /llms.txt · /x402/hello. NFA — analysis only."},"servers":[{"url":"https://app.criptonous.com"}],"tags":[{"name":"x402-resources","description":"Pay-per-query intelligence SKUs (HTTP 402 wire)"},{"name":"discovery","description":"Free discovery endpoints"}],"paths":{"/x402/health":{"get":{"operationId":"health","summary":"Free health ping","tags":["discovery"],"security":[],"responses":{"200":{"description":"Service alive","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"service":{"type":"string"},"chain":{"type":"string"},"asset":{"type":"string"},"nfa":{"type":"boolean"}},"required":["ok","service"]}}}}}}},"/x402/resource/temple.catalog":{"get":{"operationId":"get_temple_catalog","summary":"catalog","description":"Machine-readable catalog of paid SKUs (prices, tags, latency, NFA). Call this before requestTribute.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/temple.catalog"}},"/x402/resource/hermes.pulse":{"get":{"operationId":"get_hermes_pulse","summary":"hermes_pulse","description":"Cheap 1-symbol narrative/sentiment pulse. Best first paid call. Intelligence only — NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/hermes.pulse"}},"/x402/resource/dionisio.heat":{"get":{"operationId":"get_dionisio_heat","summary":"dionisio_heat","description":"Social/meme heat snapshot for one meta or token. Not a buy signal. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.030000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/dionisio.heat"}},"/x402/resource/hermes.wire":{"get":{"operationId":"get_hermes_wire","summary":"hermes_wire","description":"Agora/news wire pulse for one symbol or meta ($0.04 ladder). Intelligence only — NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.040000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/hermes.wire"}},"/x402/resource/kairos.regime":{"get":{"operationId":"get_kairos_regime","summary":"kairos_regime","description":"Market regime / timing bias. Contextual, not an entry order. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/kairos.regime"}},"/x402/resource/poseidon.flow":{"get":{"operationId":"get_poseidon_flow","summary":"poseidon_flow","description":"On-chain whale/flow snapshot for one symbol. Featured ladder. NFA — no execution.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/poseidon.flow"}},"/x402/resource/kairos.panic":{"get":{"operationId":"get_kairos_panic","summary":"kairos_panic","description":"Panic/squeeze score snapshot. Do not treat as liquidation advice. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/kairos.panic"}},"/x402/resource/delfos.reading":{"get":{"operationId":"get_delfos_reading","summary":"delfos_reading","description":"Oracle reading + conviction. Analysis payload, never a trade ticket. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.100000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/delfos.reading"}},"/x402/resource/swarm.pulse":{"get":{"operationId":"get_swarm_pulse","summary":"swarm_pulse","description":"Light multi-source pulse (sentiment + on-chain flow + regime) in one snapshot. Inside session.24h pack ($1 ceiling). NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/swarm.pulse"}},"/x402/resource/temis.crystal":{"get":{"operationId":"get_temis_crystal","summary":"temis_crystal","description":"Temis deliberation state + cited evidence. Not a trade verdict. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.150000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/temis.crystal"}},"/x402/resource/delfos.signal":{"get":{"operationId":"get_delfos_signal","summary":"delfos_signal","description":"Structured oracle signal (top of the cheap ladder; inside session.24h $1 ceiling). NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/delfos.signal"}},"/x402/resource/oracle.seal":{"get":{"operationId":"get_oracle_seal","summary":"oracle_seal","description":"Delfos+Temis sealed reading ($0.35). Redeemable inside session.24h pack ($1 ceiling). NFA — no trade order.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.350000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/oracle.seal"}},"/x402/resource/pantheon.brief":{"get":{"operationId":"get_pantheon_brief","summary":"pantheon_brief","description":"Multi-god brief for 1–3 symbols ($0.50). Redeemable inside session.24h pack ($1 ceiling). NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.500000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/pantheon.brief"}},"/x402/resource/pantheon.confluence":{"get":{"operationId":"get_pantheon_confluence","summary":"pantheon_confluence","description":"Pantheon consensus/confluence snapshot. Not a buy/sell order. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"1.000000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/pantheon.confluence"}},"/x402/resource/poseidon.dna":{"get":{"operationId":"get_poseidon_dna","summary":"poseidon_dna","description":"Wallet DNA / clustering snapshot. Intelligence only. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"1.500000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/poseidon.dna"}},"/x402/resource/temis.audit":{"get":{"operationId":"get_temis_audit","summary":"temis_audit","description":"Anti-rug / contract analysis. Not a legal audit and not an order. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"2.500000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/temis.audit"}},"/x402/resource/pantheon.war_council":{"get":{"operationId":"get_pantheon_war_council","summary":"war_council","description":"Full deliberative session (premium, ≤2 uses, 48h). NFA — no trade execution.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"6.000000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/pantheon.war_council"}},"/x402/resource/pantheon.deep_report":{"get":{"operationId":"get_pantheon_deep_report","summary":"deep_report","description":"One-shot deep report (72h, maxUses=1). Do not buy if you need reuse. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"15.000000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/pantheon.deep_report"}},"/x402/resource/session.24h":{"get":{"operationId":"get_session_24h","summary":"session_24h","description":"24h pack: single signature, 12 consumes of SKUs ≤ $1.00, spendingCap 12 USDC. $9 buys up to $12 catalog value — real unit economics for autonomous loops. NFA.","tags":["x402-resources"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"9.000000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Optional token symbol for symbol-scoped SKUs (e.g. SOL).","schema":{"type":"string","minLength":1,"maxLength":16}}],"responses":{"200":{"description":"Payment verified — AccessPass issued and the reading is delivered inline. Reuse passId via MCP for the remaining metered reads.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"paid":{"type":"boolean","const":true},"sku":{"type":"string"},"passId":{"type":"string"},"receiptId":{"type":["string","null"]},"idempotent":{"type":"boolean","description":"true when this signature was already settled; the same pass is returned instead of charging again."},"intelligence":{"type":"object","description":"God reading produced for this SKU.","properties":{"symbol":{"type":"string"},"gods":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["bullish","bearish","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"thesis":{"type":["string","null"]},"convictionScore":{"type":["number","null"]},"sources":{"type":"array","items":{"type":"object"}},"degraded":{"type":"boolean","description":"true when part of the god panel was unavailable and the reading carries less evidence."}},"required":["symbol","gods","direction","confidence","summary"]},"nfa":{"type":"boolean","const":true}},"required":["ok","paid","sku","passId","intelligence"]}}}},"402":{"description":"Payment Required — SPL USDC + memo via temple_request_tribute flow."},"409":{"description":"Payment signature already used (replay). No new charge was made."},"503":{"description":"Settled on-chain but intelligence sources are unavailable. Retry with the same PAYMENT-SIGNATURE — no new payment required."}},"x-resource-path":"/x402/resource/session.24h"}}},"x-discovery":{"manifest":"https://app.criptonous.com/.well-known/x402","llmsTxt":"https://app.criptonous.com/llms.txt","mcpTools":"https://app.criptonous.com/x402/mcp/tools","agentGuide":"https://app.criptonous.com/x402/docs/agent-guide","logo":"https://app.criptonous.com/brand/criptonous-logo.jpg","logoPath":"/brand/criptonous-logo.jpg"}}