{
  "openapi": "3.1.0",
  "info": {
    "title": "Netflix Gift Cards",
    "version": "1.0.0",
    "description": "Netflix gift cards via x402 USDC on Solana."
  },
  "servers": [
    {
      "url": "https://netflix.x402.fi",
      "description": "Production"
    }
  ],
  "paths": {
    "/store/catalog/netflix": {
      "get": {
        "operationId": "catalog_netflix",
        "summary": "List Netflix gift card denominations",
        "description": "Free. Returns the available Netflix gift card denominations, USDC prices, and supported country.",
        "responses": {
          "200": {
            "description": "Netflix catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Brand not found"
          }
        }
      }
    },
    "/store/buy/netflix-20": {
      "post": {
        "operationId": "buy_netflix_20",
        "summary": "Buy a Netflix $20 gift card",
        "description": "Purchase a $20 Netflix gift card. Pay 20 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$20.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "BE",
                      "BR",
                      "CY",
                      "DE",
                      "ES",
                      "FI",
                      "FR",
                      "GB",
                      "GR",
                      "IE",
                      "IT",
                      "NL",
                      "PT",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 20 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/netflix-50": {
      "post": {
        "operationId": "buy_netflix_50",
        "summary": "Buy a Netflix $50 gift card",
        "description": "Purchase a $50 Netflix gift card. Pay 50 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$50.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "BE",
                      "BR",
                      "CY",
                      "DE",
                      "ES",
                      "FI",
                      "FR",
                      "GB",
                      "GR",
                      "IE",
                      "IT",
                      "NL",
                      "PT",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 50 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/netflix-60": {
      "post": {
        "operationId": "buy_netflix_60",
        "summary": "Buy a Netflix $60 gift card",
        "description": "Purchase a $60 Netflix gift card. Pay 60 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$60.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "BE",
                      "BR",
                      "CY",
                      "DE",
                      "ES",
                      "FI",
                      "FR",
                      "GB",
                      "GR",
                      "IE",
                      "IT",
                      "NL",
                      "PT",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 60 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/netflix-100": {
      "post": {
        "operationId": "buy_netflix_100",
        "summary": "Buy a Netflix $100 gift card",
        "description": "Purchase a $100 Netflix gift card. Pay 100 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$100.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "BE",
                      "BR",
                      "CY",
                      "DE",
                      "ES",
                      "FI",
                      "FR",
                      "GB",
                      "GR",
                      "IE",
                      "IT",
                      "NL",
                      "PT",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 100 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    }
  }
}
