{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentBodega",
    "version": "0.1.0",
    "description": "AgentBodega provides pay-per-call data and utility APIs for agents across status monitoring, web search, public data, social research, media conversion, real-estate intelligence, agent readiness, and payment discovery. Paid endpoints accept USDC on Solana mainnet and Base through x402.",
    "contact": {
      "name": "AgentBodega",
      "email": "support@agentbodega.store",
      "url": "https://agentbodega.store"
    },
    "x-guidance": "Inspect GET /api/directory and GET /.well-known/x402 before spending. This committed registry snapshot covers all current paid routes; the live catalog URL remains the source for newly added routes and prices. Paid calls return an x402 v2 challenge accepting Solana mainnet USDC and Base USDC."
  },
  "servers": [
    {
      "url": "https://agentbodega.store"
    }
  ],
  "x-discovery": {
    "tags": [
      "x402",
      "mpp",
      "payment-auth",
      "l402",
      "lightning",
      "agent-tools",
      "mcp-tools",
      "paid-utilities"
    ],
    "endpointCount": 71,
    "totalEndpointCount": 71,
    "surface": {
      "label": "Full Catalog",
      "mode": "full",
      "filters": {},
      "routeCount": 81,
      "paidRouteCount": 71,
      "fullCatalog": "https://agentbodega.store/openapi.json"
    },
    "layout": {
      "bodega": {
        "id": "agentbodega",
        "name": "AgentBodega"
      },
      "hierarchy": [
        "department",
        "aisle",
        "shelf",
        "offering"
      ],
      "requiredLevels": [
        "department",
        "aisle",
        "offering"
      ],
      "optionalLevels": [
        "shelf"
      ],
      "idFormat": "stable-slug",
      "sourceOfTruth": "src/catalog/taxonomy.ts",
      "taxonomyEndpoint": "/api/taxonomy",
      "note": "AgentBodega is the single store root. Each offering carries stable department, aisle, optional shelf, and offering IDs; shelves are optional and only appear when they add useful grouping."
    },
    "payments": {
      "x402": "https://agentbodega.store/.well-known/x402",
      "mpp": "https://agentbodega.store/openapi.json",
      "l402": "https://agentbodega.store/.well-known/l402-services"
    },
    "directory": "https://agentbodega.store/api/directory",
    "taxonomy": "https://agentbodega.store/api/taxonomy",
    "storefront": "https://agentbodega.store/api/storefront",
    "registry": "https://agentbodega.store/registry/index.json",
    "related": {
      "fullDirectory": "https://agentbodega.store/api/directory",
      "fullOpenapi": "https://agentbodega.store/openapi.json",
      "summaryOpenapi": "https://agentbodega.store/openapi.summary.json",
      "fullX402": "https://agentbodega.store/.well-known/x402",
      "summaryX402": "https://agentbodega.store/.well-known/x402.summary.json",
      "registry": "https://agentbodega.store/registry/index.json"
    }
  },
  "paths": {
    "/api/directory": {
      "get": {
        "summary": "List payable agent utility endpoints.",
        "operationId": "list_directory",
        "security": [],
        "tags": [
          "directory",
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Service directory.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/proxies-sx/status": {
      "get": {
        "summary": "Fetch proxy egress support status",
        "operationId": "get_proxies_sx_status",
        "security": [],
        "tags": [
          "proxies-sx",
          "egress",
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Safe Proxies.sx capability metadata. Does not expose proxy credentials or runner internals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/l402-services": {
      "get": {
        "summary": "List L402/Lightning payable service metadata.",
        "operationId": "list_l402_services",
        "security": [],
        "tags": [
          "l402",
          "lightning",
          "payment",
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "L402 discovery companion document for AgentBodega paid endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/taxonomy": {
      "get": {
        "summary": "Fetch AgentBodega taxonomy decisions",
        "operationId": "get_taxonomy",
        "security": [],
        "tags": [
          "directory",
          "taxonomy",
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Stable department, aisle, optional shelf, and offering taxonomy for website and machine surfaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/storefront": {
      "get": {
        "summary": "Fetch homepage-ready AgentBodega storefront data",
        "operationId": "get_storefront",
        "security": [],
        "tags": [
          "directory",
          "storefront",
          "taxonomy",
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Plug-and-play homepage data for redesigned web clients, including hero copy, metrics, department cards, quickstart copy, and taxonomy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/route-intent": {
      "post": {
        "summary": "Find AgentBodega routes for an intent",
        "description": "Purpose: Free bot-facing route selector. Accepts a plain-language goal, budget, output preference, and constraints, then returns the cheapest useful AgentBodega endpoints with required inputs, example requests, prices, and x402 handoff notes.\nBest use: Use this when an agent needs free bot-facing route selector. Accepts a plain-language goal, budget, output preference, and constraints, then returns the cheapest useful AgentBodega endpoints with required inputs, example requests, prices, and x402 handoff notes.\nPrice: free discovery or intake route; paid fulfillment, when needed, happens on the recommended x402 endpoint.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: goal.\nOptional fields: budgetUsd, preferredOutput, constraints, maxResults, includeExamples.\n\nAccepted fields:\n- goal (required, string): Plain-language task or end goal, for example: check deploy dependencies before launch, summarize real estate listings, or find a weather forecast endpoint. Constraints: min length: 3; max length: 2000.\n- budgetUsd (optional, number): Optional maximum per-call price in USD for recommended paid endpoints. Constraints: min: 0; max: 10.\n- preferredOutput (optional, string): Optional desired output shape such as status JSON, cited answer, markdown, image URL, listing rows, or briefing. Constraints: max length: 120.\n- constraints (optional, array): Optional hard constraints, keywords, providers, departments, or exclusions the route selector should consider. Constraints: max items: 12.\n- maxResults (optional, integer): Maximum number of endpoint recommendations to return. Constraints: default: 5; min: 1; max: 10.\n- includeExamples (optional, boolean): Set false to omit example request bodies and output examples from recommendations. Constraints: default: true.\n\nExample request body:\n```json\n{\n  \"goal\": \"Find the cheapest AgentBodega route to check whether my deploy stack is healthy before retrying a failed launch.\",\n  \"budgetUsd\": 0.01,\n  \"preferredOutput\": \"status JSON\",\n  \"constraints\": [\n    \"GitHub\",\n    \"npm\",\n    \"Vercel\",\n    \"Cloudflare\"\n  ],\n  \"maxResults\": 4,\n  \"includeExamples\": true\n}\n```",
        "operationId": "intent_router",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "goal"
                ],
                "properties": {
                  "goal": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 2000,
                    "description": "Plain-language task or end goal, for example: check deploy dependencies before launch, summarize real estate listings, or find a weather forecast endpoint."
                  },
                  "budgetUsd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Optional maximum per-call price in USD for recommended paid endpoints."
                  },
                  "preferredOutput": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional desired output shape such as status JSON, cited answer, markdown, image URL, listing rows, or briefing."
                  },
                  "constraints": {
                    "type": "array",
                    "maxItems": 12,
                    "items": {
                      "type": "string",
                      "maxLength": 160,
                      "description": "Constraints item value for AgentBodega Intent Router. Constraints: max length: 160."
                    },
                    "description": "Optional hard constraints, keywords, providers, departments, or exclusions the route selector should consider."
                  },
                  "maxResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum number of endpoint recommendations to return."
                  },
                  "includeExamples": {
                    "type": "boolean",
                    "default": true,
                    "description": "Set false to omit example request bodies and output examples from recommendations."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "goal": "Find the cheapest AgentBodega route to check whether my deploy stack is healthy before retrying a failed launch.",
                "budgetUsd": 0.01,
                "preferredOutput": "status JSON",
                "constraints": [
                  "GitHub",
                  "npm",
                  "Vercel",
                  "Cloudflare"
                ],
                "maxResults": 4,
                "includeExamples": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Free route result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "requested",
                    "recommendations",
                    "discovery"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "cheapestUsefulPath": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "estimatedTotalUsd": {
                      "type": "string"
                    },
                    "discovery": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Suggestion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "requested",
                    "recommendations",
                    "discovery"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "cheapestUsefulPath": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "estimatedTotalUsd": {
                      "type": "string"
                    },
                    "discovery": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing AgentBodega key."
          },
          "422": {
            "description": "Invalid input."
          }
        },
        "tags": [
          "intent-router",
          "route-selection",
          "catalog",
          "discovery",
          "agent-tools",
          "x402"
        ]
      }
    },
    "/api/logicnodes/agent": {
      "post": {
        "summary": "Fetch AgentBodega discovery recommendations",
        "description": "Purpose: Free JSON task endpoint for agent registries. Accepts a task description and returns matching AgentBodega resources, required inputs, examples, output shapes, prices, and x402 call instructions without executing paid calls.\nBest use: Use this when an agent needs free JSON task endpoint for agent registries. Accepts a task description and returns matching AgentBodega resources, required inputs, examples, output shapes, prices, and x402 call instructions without executing paid calls.\nPrice: free discovery or intake route; paid fulfillment, when needed, happens on the recommended x402 endpoint.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: none.\nOptional fields: task, query, input, limit.\n\nAccepted fields:\n- task (optional, string): Plain-language request, for example: find status and cloud health APIs for deploy checks. Constraints: max length: 2000.\n- query (optional, string): Optional shorter search query. Used when task is omitted. Constraints: max length: 1000.\n- input (optional, object): Optional LogicNodes-style input object. task, query, prompt, and description are read if present.\n- limit (optional, integer): Maximum matching AgentBodega resources to return. Constraints: default: 5; min: 1; max: 10.\n\nExample request body:\n```json\n{\n  \"task\": \"Find AgentBodega APIs for deploy status, cloud health, and x402 readiness checks.\",\n  \"limit\": 5\n}\n```",
        "operationId": "logicnodes_agent_discovery",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Plain-language request, for example: find status and cloud health APIs for deploy checks."
                  },
                  "query": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Optional shorter search query. Used when task is omitted."
                  },
                  "input": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional LogicNodes-style input object. task, query, prompt, and description are read if present."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum matching AgentBodega resources to return."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "task": "Find AgentBodega APIs for deploy status, cloud health, and x402 readiness checks.",
                "limit": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Free route result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "agent",
                    "recommendations",
                    "discovery"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "agent": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "discovery": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Suggestion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "agent",
                    "recommendations",
                    "discovery"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "agent": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "discovery": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing AgentBodega key."
          },
          "422": {
            "description": "Invalid input."
          }
        },
        "tags": [
          "agent-registry",
          "logicnodes",
          "discovery",
          "x402",
          "api-calls",
          "catalog"
        ]
      }
    },
    "/api/referrals/catalog": {
      "get": {
        "summary": "Fetch AgentBodega referral program details",
        "description": "Purpose: Return the free AgentBodega referral and wallet-bound discount policy, including headers agents can use before paid x402 calls.\nBest use: Use this when an agent needs return the free AgentBodega referral and wallet-bound discount policy, including headers agents can use before paid x402 calls.\nPrice: free discovery or intake route; paid fulfillment, when needed, happens on the recommended x402 endpoint.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: none.\nOptional fields: none.\n\nExample request body:\n```json\n{}\n```",
        "operationId": "referral_catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Free route result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "program",
                    "offers",
                    "antiAbuse"
                  ],
                  "properties": {
                    "program": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "antiAbuse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Suggestion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "program",
                    "offers",
                    "antiAbuse"
                  ],
                  "properties": {
                    "program": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "antiAbuse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing AgentBodega key."
          },
          "422": {
            "description": "Invalid input."
          }
        },
        "tags": [
          "referral",
          "discount",
          "affiliate",
          "growth",
          "x402",
          "agent-tools"
        ]
      }
    },
    "/api/referrals/claim": {
      "post": {
        "summary": "Create AgentBodega Referral Link",
        "description": "Purpose: Validate a referrer Base/EVM wallet address and return copyable referral links and headers. The wallet address itself is the referral code.\nBest use: Use this when an agent needs validate a referrer Base/EVM wallet address and return copyable referral links and headers. The wallet address itself is the referral code.\nPrice: free discovery or intake route; paid fulfillment, when needed, happens on the recommended x402 endpoint.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: referrerAddress.\nOptional fields: source.\n\nAccepted fields:\n- referrerAddress (required, string): Base/EVM wallet address that should receive any referral discount grant. Constraints: min length: 42; max length: 42.\n- source (optional, string): Optional campaign/source label for the link. Constraints: max length: 120.\n\nExample request body:\n```json\n{\n  \"referrerAddress\": \"0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8\",\n  \"source\": \"agent-readme\"\n}\n```",
        "operationId": "referral_claim",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "referrerAddress"
                ],
                "properties": {
                  "referrerAddress": {
                    "type": "string",
                    "minLength": 42,
                    "maxLength": 42,
                    "description": "Base/EVM wallet address that should receive any referral discount grant."
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional campaign/source label for the link."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "referrerAddress": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8",
                "source": "agent-readme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Free route result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "referrerAddress",
                    "referral"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "referrerAddress": {
                      "type": "string"
                    },
                    "referral": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Suggestion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "referrerAddress",
                    "referral"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "referrerAddress": {
                      "type": "string"
                    },
                    "referral": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing AgentBodega key."
          },
          "422": {
            "description": "Invalid input."
          }
        },
        "tags": [
          "referral",
          "discount",
          "affiliate",
          "wallet-bound",
          "agent-tools"
        ]
      }
    },
    "/api/status/suggest": {
      "post": {
        "summary": "Create official status coverage request",
        "description": "Purpose: Submit a missing service or official status page for future coverage. The route is free and persists demand signals for review.\nBest use: Use this when an agent needs submit a missing service or official status page for future coverage. The route is free and persists demand signals for review.\nPrice: free discovery or intake route; paid fulfillment, when needed, happens on the recommended x402 endpoint.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: name.\nOptional fields: homepage, domain, statusPage, sourceUrl, category, priority, useCase, requestedBy, contact.\n\nAccepted fields:\n- name (required, string): Service name, for example Stripe or Railway. Constraints: min length: 2; max length: 120.\n- homepage (optional, string): Homepage value for Suggest Official Status Coverage. Constraints: format: uri; max length: 300. Constraints: format: uri; max length: 300.\n- domain (optional, string): Plain domain if the homepage URL is not known. Constraints: max length: 253.\n- statusPage (optional, string): Status Page value for Suggest Official Status Coverage. Constraints: format: uri; max length: 300. Constraints: format: uri; max length: 300.\n- sourceUrl (optional, string): Machine-readable status API URL if known. Constraints: format: uri; max length: 300.\n- category (optional, string): Category value for Suggest Official Status Coverage. Constraints: max length: 64. Constraints: max length: 64.\n- priority (optional, string): Priority filter for Suggest Official Status Coverage. Accepted values: \"low\", \"normal\", \"high\", \"urgent\". Constraints: accepted values: \"low\", \"normal\", \"high\", \"urgent\"; default: \"normal\". Constraints: accepted values: \"low\", \"normal\", \"high\", \"urgent\"; default: \"normal\".\n- useCase (optional, string): Use Case value for Suggest Official Status Coverage. Constraints: max length: 1000. Constraints: max length: 1000.\n- requestedBy (optional, string): Requested By value for Suggest Official Status Coverage. Constraints: max length: 120. Constraints: max length: 120.\n- contact (optional, string): Contact value for Suggest Official Status Coverage. Constraints: max length: 160. Constraints: max length: 160.\n\nExample request body:\n```json\n{\n  \"name\": \"Linear\",\n  \"homepage\": \"https://linear.app\",\n  \"priority\": \"normal\",\n  \"useCase\": \"Official project-management status checks.\"\n}\n```",
        "operationId": "status_service_suggestion",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120,
                    "description": "Service name, for example Stripe or Railway."
                  },
                  "homepage": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 300,
                    "description": "Homepage value for Suggest Official Status Coverage. Constraints: format: uri; max length: 300."
                  },
                  "domain": {
                    "type": "string",
                    "maxLength": 253,
                    "description": "Plain domain if the homepage URL is not known."
                  },
                  "statusPage": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 300,
                    "description": "Status Page value for Suggest Official Status Coverage. Constraints: format: uri; max length: 300."
                  },
                  "sourceUrl": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 300,
                    "description": "Machine-readable status API URL if known."
                  },
                  "category": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Category value for Suggest Official Status Coverage. Constraints: max length: 64."
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "low",
                      "normal",
                      "high",
                      "urgent"
                    ],
                    "default": "normal",
                    "description": "Priority filter for Suggest Official Status Coverage. Accepted values: \"low\", \"normal\", \"high\", \"urgent\". Constraints: accepted values: \"low\", \"normal\", \"high\", \"urgent\"; default: \"normal\"."
                  },
                  "useCase": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Use Case value for Suggest Official Status Coverage. Constraints: max length: 1000."
                  },
                  "requestedBy": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Requested By value for Suggest Official Status Coverage. Constraints: max length: 120."
                  },
                  "contact": {
                    "type": "string",
                    "maxLength": 160,
                    "description": "Contact value for Suggest Official Status Coverage. Constraints: max length: 160."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "name": "Linear",
                "homepage": "https://linear.app",
                "priority": "normal",
                "useCase": "Official project-management status checks."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Free route result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Suggestion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing AgentBodega key."
          },
          "422": {
            "description": "Invalid input."
          }
        },
        "tags": [
          "status",
          "suggestion",
          "coverage-request",
          "agent-feedback"
        ]
      }
    },
    "/api/inspect/x402": {
      "post": {
        "summary": "Check x402 payment metadata",
        "description": "Purpose: Inspect a URL for x402 payment challenges, payable metadata, discovery links, OpenAPI, MCP, Agent Skills, and Bazaar-readiness signals.\nBest use: Use this when an agent needs inspect a URL for x402 payment challenges, payable metadata, discovery links, OpenAPI, MCP, Agent Skills, and Bazaar-readiness signals.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: url.\nOptional fields: method, headers, body, timeoutMs.\n\nAccepted fields:\n- url (required, string): Url value for x402 Endpoint Inspector. Constraints: format: uri. Constraints: format: uri.\n- method (optional, string): Method filter for x402 Endpoint Inspector. Accepted values: \"GET\", \"HEAD\", \"POST\". Constraints: accepted values: \"GET\", \"HEAD\", \"POST\"; default: \"GET\". Constraints: accepted values: \"GET\", \"HEAD\", \"POST\"; default: \"GET\".\n- headers (optional, object): Headers object for configuring x402 Endpoint Inspector.\n- body (optional, object): Body object for configuring x402 Endpoint Inspector.\n- timeoutMs (optional, integer): Timeout Ms numeric value for x402 Endpoint Inspector. Constraints: default: 5000; min: 500; max: 8000. Constraints: default: 5000; min: 500; max: 8000.\n\nExample request body:\n```json\n{\n  \"url\": \"https://example.com/api/paid\"\n}\n```",
        "operationId": "x402_inspector",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Url value for x402 Endpoint Inspector. Constraints: format: uri."
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "HEAD",
                      "POST"
                    ],
                    "default": "GET",
                    "description": "Method filter for x402 Endpoint Inspector. Accepted values: \"GET\", \"HEAD\", \"POST\". Constraints: accepted values: \"GET\", \"HEAD\", \"POST\"; default: \"GET\"."
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Headers object for configuring x402 Endpoint Inspector."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Body object for configuring x402 Endpoint Inspector."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 500,
                    "maximum": 8000,
                    "default": 5000,
                    "description": "Timeout Ms numeric value for x402 Endpoint Inspector. Constraints: default: 5000; min: 500; max: 8000."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "url": "https://example.com/api/paid"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "x402",
          "inspection",
          "agent-tools",
          "bazaar",
          "openapi"
        ]
      }
    },
    "/api/public-data/catalog": {
      "post": {
        "summary": "Get categorized Public Data department metadata",
        "description": "Purpose: Return AgentBodega's Public Data department offerings grouped by category with full input/output schemas, prices, route paths, and workflow guidance.\nBest use: Use this when an agent needs return AgentBodega's Public Data department offerings grouped by category with full input/output schemas, prices, route paths, and workflow guidance.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: none.\nOptional fields: query, category, name, includeSchemas, limit.\n\nAccepted fields:\n- query (optional, string): Optional text filter matched against endpoint name, title, category, description, tags, and path.\n- category (optional, string): Optional Public Data department/category to return. Constraints: accepted values: \"catalog\", \"workflow-bundles\", \"cached-results\", \"recurring-monitoring\", \"discovery-verification\", \"data-enrichment\", \"marketplace-listings\", \"real-estate-rentals\", \"ecommerce-products-reviews\", \"health-prices\", \"jobs-hiring\", \"facebook-data\", \"social-video-intelligence\", \"news\", \"public-records\".\n- name (optional, string): Optional exact endpoint name, such as osha-violations-scraper or marketplace-leads.\n- includeSchemas (optional, boolean): Include each endpoint's full input and output schemas. Constraints: default: true.\n- limit (optional, integer): Maximum number of endpoints to return after filters. Constraints: default: 28; min: 1; max: 50.\n\nExample request body:\n```json\n{\n  \"category\": \"public-records\",\n  \"includeSchemas\": true,\n  \"limit\": 10\n}\n```",
        "operationId": "public_data_catalog",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Optional text filter matched against endpoint name, title, category, description, tags, and path."
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "catalog",
                      "workflow-bundles",
                      "cached-results",
                      "recurring-monitoring",
                      "discovery-verification",
                      "data-enrichment",
                      "marketplace-listings",
                      "real-estate-rentals",
                      "ecommerce-products-reviews",
                      "health-prices",
                      "jobs-hiring",
                      "facebook-data",
                      "social-video-intelligence",
                      "news",
                      "public-records"
                    ],
                    "description": "Optional Public Data department/category to return."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional exact endpoint name, such as osha-violations-scraper or marketplace-leads."
                  },
                  "includeSchemas": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include each endpoint's full input and output schemas."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 28,
                    "description": "Maximum number of endpoints to return after filters."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "category": "public-records",
                "includeSchemas": true,
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "department",
                    "categories",
                    "endpoints"
                  ],
                  "properties": {
                    "department": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "public-data-department",
          "public-data",
          "catalog",
          "marketplace-listings",
          "real-estate",
          "ecommerce",
          "facebook-data",
          "jobs",
          "public-records",
          "x402"
        ]
      }
    },
    "/api/social-media/catalog": {
      "post": {
        "summary": "Get Social Media department metadata",
        "description": "Purpose: Return AgentBodega's Social Media department: configured public social/video data routes plus available and staged coverage families for social, creator, video, audio, ad-library, and UGC research products.\nBest use: Use this when an agent needs return AgentBodega's Social Media department: configured public social/video data routes plus available and staged coverage families for social, creator, video, audio, ad-library, and UGC research products.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: none.\nOptional fields: platform, query, includeSchemas, includeExternalPattern, includeCoverageMap, limit.\n\nAccepted fields:\n- platform (optional, string): Optional platform or product-family focus. Use x or twitter for X/Twitter, ugc for creator research, ads for ad-library intelligence, or all for the full Social Media department. Constraints: accepted values: \"all\", \"x\", \"twitter\", \"tiktok\", \"instagram\", \"facebook\", \"reddit\", \"youtube\", \"linkedin\", \"threads\", \"bluesky\", \"pinterest\", \"twitch\", \"snapchat\", \"github\", \"spotify\", \"soundcloud\", \"rumble\", \"truthsocial\", \"web\", \"amazon\", \"inference\", \"ads\", \"link-in-bio\", \"ugc\"; default: \"all\".\n- query (optional, string): Optional text filter matched against platform, endpoint title, category, description, tags, and X/Twitter use cases.\n- includeSchemas (optional, boolean): Include full schemas for configured AgentBodega social data endpoints. Constraints: default: true.\n- includeExternalPattern (optional, boolean): Include read-only X/Twitter product specs. Rows with configured false are staged and are not advertised as payable resources. Constraints: default: true.\n- includeCoverageMap (optional, boolean): Include white-labeled Social Media coverage families, including staged platform/product families that are not yet payable resources. Constraints: default: true.\n- limit (optional, integer): Maximum configured endpoints and pattern rows to return. Constraints: default: 20; min: 1; max: 50.\n\nExample request body:\n```json\n{\n  \"platform\": \"all\",\n  \"includeExternalPattern\": true,\n  \"includeCoverageMap\": true,\n  \"includeSchemas\": true,\n  \"limit\": 50\n}\n```",
        "operationId": "social_media_catalog",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "all",
                      "x",
                      "twitter",
                      "tiktok",
                      "instagram",
                      "facebook",
                      "reddit",
                      "youtube",
                      "linkedin",
                      "threads",
                      "bluesky",
                      "pinterest",
                      "twitch",
                      "snapchat",
                      "github",
                      "spotify",
                      "soundcloud",
                      "rumble",
                      "truthsocial",
                      "web",
                      "amazon",
                      "inference",
                      "ads",
                      "link-in-bio",
                      "ugc"
                    ],
                    "default": "all",
                    "description": "Optional platform or product-family focus. Use x or twitter for X/Twitter, ugc for creator research, ads for ad-library intelligence, or all for the full Social Media department."
                  },
                  "query": {
                    "type": "string",
                    "description": "Optional text filter matched against platform, endpoint title, category, description, tags, and X/Twitter use cases."
                  },
                  "includeSchemas": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include full schemas for configured AgentBodega social data endpoints."
                  },
                  "includeExternalPattern": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include read-only X/Twitter product specs. Rows with configured false are staged and are not advertised as payable resources."
                  },
                  "includeCoverageMap": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include white-labeled Social Media coverage families, including staged platform/product families that are not yet payable resources."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 20,
                    "description": "Maximum configured endpoints and pattern rows to return."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "platform": "all",
                "includeExternalPattern": true,
                "includeCoverageMap": true,
                "includeSchemas": true,
                "limit": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "department",
                    "endpoints",
                    "xTwitterReadOnlyPattern",
                    "socialCoveragePattern"
                  ],
                  "properties": {
                    "department": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "xTwitterReadOnlyPattern": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "socialCoveragePattern": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextSteps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "social-media",
          "x",
          "twitter",
          "tiktok",
          "facebook",
          "instagram",
          "reddit",
          "youtube",
          "linkedin",
          "threads",
          "bluesky",
          "pinterest",
          "twitch",
          "spotify",
          "ads",
          "ugc",
          "public-data",
          "creator-research",
          "social-listening"
        ]
      }
    },
    "/api/web/search": {
      "post": {
        "summary": "Search the web and return ranked current results",
        "description": "Purpose: Search the public web and return normalized, source-neutral results with titles, URLs, domains, snippets, freshness controls, and strict result caps for agent research workflows.\nBest use: Use this when an agent needs search the public web and return normalized, source-neutral results with titles, URLs, domains, snippets, freshness controls, and strict result caps for agent research workflows.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: query.\nOptional fields: limit, site, freshness, includeSnippets, timeoutMs.\n\nAccepted fields:\n- query (required, string): Natural-language search query or keyword query to run against public web results. Constraints: min length: 2; max length: 240.\n- limit (optional, integer): Maximum normalized results to return. Constraints: default: 5; min: 1; max: 10.\n- site (optional, string): Optional public domain scope, such as example.com. URL-like values are normalized to the hostname. Constraints: max length: 120.\n- freshness (optional, string): Optional freshness preference. Use any when recency is not required. Constraints: accepted values: \"any\", \"day\", \"week\", \"month\", \"year\"; default: \"any\".\n- includeSnippets (optional, boolean): Set false to omit result snippets and return titles, URLs, domains, and rank only. Constraints: default: true.\n- timeoutMs (optional, integer): Search timeout in milliseconds. Constraints: default: 6000; min: 1000; max: 10000.\n\nExample request body:\n```json\n{\n  \"query\": \"agent payment APIs\",\n  \"limit\": 5,\n  \"freshness\": \"any\",\n  \"includeSnippets\": true\n}\n```",
        "operationId": "web_search",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 240,
                    "description": "Natural-language search query or keyword query to run against public web results."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum normalized results to return."
                  },
                  "site": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional public domain scope, such as example.com. URL-like values are normalized to the hostname."
                  },
                  "freshness": {
                    "type": "string",
                    "enum": [
                      "any",
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "default": "any",
                    "description": "Optional freshness preference. Use any when recency is not required."
                  },
                  "includeSnippets": {
                    "type": "boolean",
                    "default": true,
                    "description": "Set false to omit result snippets and return titles, URLs, domains, and rank only."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 10000,
                    "default": 6000,
                    "description": "Search timeout in milliseconds."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "agent payment APIs",
                "limit": 5,
                "freshness": "any",
                "includeSnippets": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "tool",
                    "requested",
                    "source",
                    "search",
                    "results",
                    "limits"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "search": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "limits": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "search-web",
          "web",
          "search",
          "source-discovery",
          "citations",
          "research",
          "x402"
        ]
      }
    },
    "/api/web/similar": {
      "post": {
        "summary": "Find web pages similar to a supplied URL",
        "description": "Purpose: Find related pages, substitutes, competitor pages, or supporting sources from a topic, task, or public seed URL, with normalized source-neutral results and strict search/fetch caps.\nBest use: Use this when an agent needs find related pages, substitutes, competitor pages, or supporting sources from a topic, task, or public seed URL, with normalized source-neutral results and strict search/fetch caps.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: query.\nOptional fields: url, intent, site, excludeDomains, limit, freshness, includeSnippets, timeoutMs.\n\nAccepted fields:\n- query (required, string): Topic, task, competitor name, or public HTTP/HTTPS URL used as the seed for finding similar pages. Constraints: min length: 2; max length: 240.\n- url (optional, string): Optional public HTTP or HTTPS seed URL. When present, AgentBodega fetches bounded metadata/text and derives the similarity query from the page. Constraints: format: uri.\n- intent (optional, string): Similarity mode. Related finds nearby pages, alternatives finds substitutes, competitors finds competing services, and sources finds supporting references. Constraints: accepted values: \"related\", \"alternatives\", \"competitors\", \"sources\"; default: \"related\".\n- site (optional, string): Optional public domain scope for the search, such as example.com. URL-like values are normalized to the hostname. Constraints: max length: 120.\n- excludeDomains (optional, array): Optional domains to omit from returned matches. The seed URL domain is omitted automatically. Constraints: max items: 10.\n- limit (optional, integer): Maximum similar pages to return. Constraints: default: 5; min: 1; max: 10.\n- freshness (optional, string): Optional freshness preference. Use any when recency is not required. Constraints: accepted values: \"any\", \"day\", \"week\", \"month\", \"year\"; default: \"any\".\n- includeSnippets (optional, boolean): Set false to omit snippets and return only titles, URLs, domains, ranks, and similarity reasons. Constraints: default: true.\n- timeoutMs (optional, integer): Search and optional seed-page fetch timeout in milliseconds. Constraints: default: 6000; min: 1000; max: 10000.\n\nExample request body:\n```json\n{\n  \"query\": \"x402 paid API marketplace\",\n  \"intent\": \"alternatives\",\n  \"limit\": 5,\n  \"freshness\": \"any\",\n  \"includeSnippets\": true\n}\n```",
        "operationId": "web_similar",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 240,
                    "description": "Topic, task, competitor name, or public HTTP/HTTPS URL used as the seed for finding similar pages."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Optional public HTTP or HTTPS seed URL. When present, AgentBodega fetches bounded metadata/text and derives the similarity query from the page."
                  },
                  "intent": {
                    "type": "string",
                    "enum": [
                      "related",
                      "alternatives",
                      "competitors",
                      "sources"
                    ],
                    "default": "related",
                    "description": "Similarity mode. Related finds nearby pages, alternatives finds substitutes, competitors finds competing services, and sources finds supporting references."
                  },
                  "site": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional public domain scope for the search, such as example.com. URL-like values are normalized to the hostname."
                  },
                  "excludeDomains": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "maxLength": 120,
                      "description": "Exclude Domains item value for Similar Page Finder. Constraints: max length: 120."
                    },
                    "description": "Optional domains to omit from returned matches. The seed URL domain is omitted automatically."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum similar pages to return."
                  },
                  "freshness": {
                    "type": "string",
                    "enum": [
                      "any",
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "default": "any",
                    "description": "Optional freshness preference. Use any when recency is not required."
                  },
                  "includeSnippets": {
                    "type": "boolean",
                    "default": true,
                    "description": "Set false to omit snippets and return only titles, URLs, domains, ranks, and similarity reasons."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 10000,
                    "default": 6000,
                    "description": "Search and optional seed-page fetch timeout in milliseconds."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "x402 paid API marketplace",
                "intent": "alternatives",
                "limit": 5,
                "freshness": "any",
                "includeSnippets": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "tool",
                    "requested",
                    "source",
                    "seed",
                    "similar",
                    "limits"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "seed": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "similar": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "search": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "limits": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "search-web",
          "web",
          "similar",
          "related-pages",
          "alternatives",
          "competitor-research",
          "source-discovery",
          "research",
          "x402"
        ]
      }
    },
    "/api/web/answer": {
      "post": {
        "summary": "Generate a sourced answer from current web results",
        "description": "Purpose: Answer a public-web research question with cited source URLs, concise extractive evidence, confidence, source fetch status, and strict search/source caps.\nBest use: Use this when an agent needs answer a public-web research question with cited source URLs, concise extractive evidence, confidence, source fetch status, and strict search/source caps.\nPrice: $0.01 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: query.\nOptional fields: limit, maxSources, site, freshness, answerStyle, includeSourceText, timeoutMs.\n\nAccepted fields:\n- query (required, string): Question or research task to answer from public web results. Constraints: min length: 2; max length: 240.\n- limit (optional, integer): Maximum search results to inspect before building the answer. Constraints: default: 5; min: 1; max: 10.\n- maxSources (optional, integer): Maximum result pages to fetch and cite. Constraints: default: 3; min: 1; max: 5.\n- site (optional, string): Optional public domain scope, such as example.com. URL-like values are normalized to the hostname. Constraints: max length: 120.\n- freshness (optional, string): Optional freshness preference. Use any when recency is not required. Constraints: accepted values: \"any\", \"day\", \"week\", \"month\", \"year\"; default: \"any\".\n- answerStyle (optional, string): Brief returns a shorter answer; standard includes more evidence. Constraints: accepted values: \"brief\", \"standard\"; default: \"standard\".\n- includeSourceText (optional, boolean): Set true to include short source text excerpts used for the answer. Constraints: default: false.\n- timeoutMs (optional, integer): Search and source fetch timeout in milliseconds. Constraints: default: 6000; min: 1000; max: 10000.\n\nExample request body:\n```json\n{\n  \"query\": \"What are x402 paid APIs?\",\n  \"maxSources\": 3,\n  \"answerStyle\": \"standard\",\n  \"freshness\": \"any\"\n}\n```",
        "operationId": "web_answer",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 240,
                    "description": "Question or research task to answer from public web results."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 5,
                    "description": "Maximum search results to inspect before building the answer."
                  },
                  "maxSources": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 3,
                    "description": "Maximum result pages to fetch and cite."
                  },
                  "site": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional public domain scope, such as example.com. URL-like values are normalized to the hostname."
                  },
                  "freshness": {
                    "type": "string",
                    "enum": [
                      "any",
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "default": "any",
                    "description": "Optional freshness preference. Use any when recency is not required."
                  },
                  "answerStyle": {
                    "type": "string",
                    "enum": [
                      "brief",
                      "standard"
                    ],
                    "default": "standard",
                    "description": "Brief returns a shorter answer; standard includes more evidence."
                  },
                  "includeSourceText": {
                    "type": "boolean",
                    "default": false,
                    "description": "Set true to include short source text excerpts used for the answer."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 10000,
                    "default": 6000,
                    "description": "Search and source fetch timeout in milliseconds."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "What are x402 paid APIs?",
                "maxSources": 3,
                "answerStyle": "standard",
                "freshness": "any"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "tool",
                    "requested",
                    "source",
                    "answer",
                    "sources",
                    "search",
                    "limits"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "answer": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "search": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "limits": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "search-web",
          "web",
          "answer",
          "citations",
          "source-grounded",
          "research",
          "summary",
          "x402"
        ]
      }
    },
    "/api/web/research-brief": {
      "post": {
        "summary": "Generate a sourced web research brief",
        "description": "Purpose: Bundle public web search, capped source fetching, extractive summarization, and citations into one structured research brief for agents that need an answer plus supporting sources.\nBest use: Use this when an agent needs bundle public web search, capped source fetching, extractive summarization, and citations into one structured research brief for agents that need an answer plus supporting sources.\nPrice: $0.03 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: query.\nOptional fields: limit, maxSources, site, freshness, format, includeSourceText, timeoutMs.\n\nAccepted fields:\n- query (required, string): Research question, monitoring topic, competitor query, or decision prompt to investigate from public web sources. Constraints: min length: 2; max length: 240.\n- limit (optional, integer): Maximum public web results to inspect before selecting sources for the brief. Constraints: default: 8; min: 1; max: 10.\n- maxSources (optional, integer): Maximum result pages to fetch, cite, and use as evidence. Constraints: default: 5; min: 1; max: 5.\n- site (optional, string): Optional public domain scope, such as example.com. URL-like values are normalized to the hostname. Constraints: max length: 120.\n- freshness (optional, string): Optional freshness preference. Use day or week for current research and any for evergreen topics. Constraints: accepted values: \"any\", \"day\", \"week\", \"month\", \"year\"; default: \"any\".\n- format (optional, string): Output shape preference. Brief returns a compact narrative, bullets emphasizes extracted evidence, and json keeps sections highly structured. Constraints: accepted values: \"brief\", \"bullets\", \"json\"; default: \"brief\".\n- includeSourceText (optional, boolean): Set true to include short source text excerpts used for the brief. Constraints: default: false.\n- timeoutMs (optional, integer): Search and source fetch timeout in milliseconds. Constraints: default: 6000; min: 1000; max: 10000.\n\nExample request body:\n```json\n{\n  \"query\": \"best x402 paid API discovery surfaces for agents\",\n  \"limit\": 8,\n  \"maxSources\": 5,\n  \"freshness\": \"week\",\n  \"format\": \"brief\"\n}\n```",
        "operationId": "web_research_brief",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 240,
                    "description": "Research question, monitoring topic, competitor query, or decision prompt to investigate from public web sources."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 8,
                    "description": "Maximum public web results to inspect before selecting sources for the brief."
                  },
                  "maxSources": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 5,
                    "description": "Maximum result pages to fetch, cite, and use as evidence."
                  },
                  "site": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional public domain scope, such as example.com. URL-like values are normalized to the hostname."
                  },
                  "freshness": {
                    "type": "string",
                    "enum": [
                      "any",
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "default": "any",
                    "description": "Optional freshness preference. Use day or week for current research and any for evergreen topics."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "brief",
                      "bullets",
                      "json"
                    ],
                    "default": "brief",
                    "description": "Output shape preference. Brief returns a compact narrative, bullets emphasizes extracted evidence, and json keeps sections highly structured."
                  },
                  "includeSourceText": {
                    "type": "boolean",
                    "default": false,
                    "description": "Set true to include short source text excerpts used for the brief."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 10000,
                    "default": 6000,
                    "description": "Search and source fetch timeout in milliseconds."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "best x402 paid API discovery surfaces for agents",
                "limit": 8,
                "maxSources": 5,
                "freshness": "week",
                "format": "brief"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "tool",
                    "requested",
                    "source",
                    "brief",
                    "citations",
                    "sources",
                    "search",
                    "limits"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "brief": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "citations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "search": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "limits": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "providerMessage": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "search-web",
          "web",
          "research-brief",
          "citations",
          "source-grounded",
          "summary",
          "decision-support",
          "x402"
        ]
      }
    },
    "/api/developer/jwt/inspect": {
      "post": {
        "summary": "Fetch decoded JWT claims and validation metadata",
        "description": "Purpose: Decode one compact JWT without requiring a secret and return normalized header, claim timing, issuer and audience checks, signature presence, warnings, and safe debugging guidance for agent and API workflows.\nBest use: Use this when an agent needs decode one compact JWT without requiring a secret and return normalized header, claim timing, issuer and audience checks, signature presence, warnings, and safe debugging guidance for agent and API workflows.\nPrice: $0.005 per successful paid call. Direct Base x402 authorization is verified before execution and settled only after successful fulfillment.\nFulfillment: Managed AgentBodega HTTP+JSON endpoint. Upstream provider details are intentionally not disclosed unless the response explicitly includes managed source metadata.\n\nInput: send a JSON request body.\nRequired fields: token.\nOptional fields: expectedIssuer, expectedAudience, now, includeRaw.\n\nAccepted fields:\n- token (required, string): Compact JWT string with three dot-separated Base64URL segments. Constraints: min length: 20; max length: 8192.\n- expectedIssuer (optional, string): Optional issuer value to compare with the token iss claim. Constraints: max length: 300.\n- expectedAudience (optional, string): Optional audience value to compare with the token aud claim. Constraints: max length: 300.\n- now (optional, integer): Optional Unix timestamp in seconds for exp, nbf, and iat checks. Defaults to current time. Constraints: min: 0.\n- includeRaw (optional, boolean): Set true to include the raw header and payload objects. The signature is never returned. Constraints: default: false.\n\nExample request body:\n```json\n{\n  \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2lzc3Vlci5leGFtcGxlIiwiYXVkIjoiYWdlbnQtYXBpIiwic3ViIjoidXNlcl8xMjMiLCJleHAiOjE4OTM0NTYwMDAsImlhdCI6MTcwNDA2NzIwMH0.signature\",\n  \"expectedIssuer\": \"https://issuer.example\",\n  \"expectedAudience\": \"agent-api\",\n  \"includeRaw\": false\n}\n```",
        "operationId": "jwt_inspector",
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "pricingMode": "fixed",
          "protocols": [
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "currency": "USDC",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "4tWJRwNyhGr88QTiV2yzMoGsaxZiCSRDepf9JTdBEgyi"
              }
            },
            {
              "x402": {
                "network": "eip155:8453",
                "currency": "USDC",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xe8799C2dedA78ECcEB329D1E8FE9F110bf55E4F8"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 8192,
                    "description": "Compact JWT string with three dot-separated Base64URL segments."
                  },
                  "expectedIssuer": {
                    "type": "string",
                    "maxLength": 300,
                    "description": "Optional issuer value to compare with the token iss claim."
                  },
                  "expectedAudience": {
                    "type": "string",
                    "maxLength": 300,
                    "description": "Optional audience value to compare with the token aud claim."
                  },
                  "now": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Optional Unix timestamp in seconds for exp, nbf, and iat checks. Defaults to current time."
                  },
                  "includeRaw": {
                    "type": "boolean",
                    "default": false,
                    "description": "Set true to include the raw header and payload objects. The signature is never returned."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2lzc3Vlci5leGFtcGxlIiwiYXVkIjoiYWdlbnQtYXBpIiwic3ViIjoidXNlcl8xMjMiLCJleHAiOjE4OTM0NTYwMDAsImlhdCI6MTcwNDA2NzIwMH0.signature",
                "expectedIssuer": "https://issuer.example",
                "expectedAudience": "agent-api",
                "includeRaw": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utility result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "tool",
                    "requested",
                    "token",
                    "header",
                    "claims",
                    "checks",
                    "warnings",
                    "limits"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requested": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "token": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "header": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "claims": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "limits": {
[...]
