{
  "openapi": "3.1.0",
  "info": {
    "title": "Spraay Batch Payments (Solana)",
    "version": "1.0.0",
    "description": "Native, non-custodial batch payment endpoints on Solana. Paid endpoints return HTTP 402 with an x402 challenge accepting USDC on Solana mainnet. Returns unsigned transactions for the sender to sign and submit."
  },
  "servers": [
    { "url": "https://gateway-solana.spraay.app" }
  ],
  "paths": {
    "/solana/quote": {
      "get": {
        "summary": "Estimate the cost of a batch payment",
        "operationId": "solanaBatchQuote",
        "parameters": [
          { "name": "recipients", "in": "query", "required": true, "schema": { "type": "integer" }, "description": "Number of recipients in the batch" },
          { "name": "token", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Token symbol or SPL mint (default SOL)" }
        ],
        "responses": {
          "200": {
            "description": "Cost estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recipients": { "type": "integer" },
                    "transactions": { "type": "integer" },
                    "estimatedFee": { "type": "string" }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment required (x402 challenge: USDC on Solana mainnet)" }
        }
      }
    },
    "/solana/batch-send-sol": {
      "post": {
        "summary": "Build a non-custodial batch SOL transfer",
        "operationId": "solanaBatchSendSol",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sender": { "type": "string", "description": "Source / fee-payer wallet (base58). Funds the batch and signs." },
                  "recipients": {
                    "type": "array",
                    "description": "Recipients and SOL amounts",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": { "type": "string", "description": "Recipient Solana address (base58)" },
                        "amount": { "type": "number", "description": "Amount in SOL" }
                      },
                      "required": ["address", "amount"]
                    }
                  }
                },
                "required": ["sender", "recipients"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned transaction(s) for the sender to sign and submit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sender": { "type": "string" },
                    "recipients": { "type": "integer" },
                    "feeBps": { "type": "integer" },
                    "transactions": { "type": "array", "items": { "type": "string" }, "description": "Base64 unsigned transactions" },
                    "blockhash": { "type": "string" },
                    "lastValidBlockHeight": { "type": "integer" }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment required (x402 challenge: USDC on Solana mainnet)" }
        }
      }
    },
    "/solana/batch-send-token": {
      "post": {
        "summary": "Build a non-custodial batch SPL-token transfer",
        "operationId": "solanaBatchSendToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sender": { "type": "string", "description": "Source / fee-payer wallet (base58). Owns the source token account and signs." },
                  "mint": { "type": "string", "description": "SPL token mint address" },
                  "recipients": {
                    "type": "array",
                    "description": "Recipients and token amounts",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": { "type": "string", "description": "Recipient Solana address (base58)" },
                        "amount": { "type": "number", "description": "Amount in token units" }
                      },
                      "required": ["address", "amount"]
                    }
                  }
                },
                "required": ["sender", "mint", "recipients"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned transaction(s) for the sender to sign and submit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "decimals": { "type": "integer" },
                    "sender": { "type": "string" },
                    "recipients": { "type": "integer" },
                    "feeBps": { "type": "integer" },
                    "atasCreated": { "type": "integer" },
                    "transactions": { "type": "array", "items": { "type": "string" }, "description": "Base64 unsigned transactions" },
                    "blockhash": { "type": "string" },
                    "lastValidBlockHeight": { "type": "integer" }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment required (x402 challenge: USDC on Solana mainnet)" }
        }
      }
    }
  }
}
