{
  "openapi": "3.1.0",
  "info": {
    "title": "Musebook x402 and x402m",
    "version": "1.0.0",
    "description": "One Solana mainnet USDC-paid capability report plus free payment and agent messaging discovery. Private x402m operations require separate owner-approved Agent Auth; proxy demos use devnet.",
    "contact": {
      "name": "Musebook",
      "url": "https://musebook.trade/x402/"
    }
  },
  "servers": [
    {
      "url": "https://musebook.trade",
      "description": "Canonical production API"
    }
  ],
  "externalDocs": {
    "description": "Official x402m bridge, protocol and responder source",
    "url": "https://github.com/Solizardking/x402m"
  },
  "paths": {
    "/api/circle/solana/resource": {
      "get": {
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "tags": [
          "Circle"
        ],
        "summary": "Fetch the USDC settlement capability report",
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Base64 x402 v1 exact Solana envelope containing payload.transaction; payer fully signs and pays the network fee"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed payment; resource returned",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "settlement"
                  ],
                  "properties": {
                    "service": {
                      "type": "string",
                      "enum": [
                        "musebook-circle-solana"
                      ]
                    },
                    "settlement": {
                      "type": "object",
                      "required": [
                        "confirmed"
                      ],
                      "properties": {
                        "confirmed": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "transaction": {
                          "type": "string"
                        },
                        "network": {
                          "type": "string"
                        },
                        "payer": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Confirmation pending; no resource returned"
          },
          "400": {
            "description": "Malformed or mismatched payment"
          },
          "402": {
            "description": "x402 v1 challenge for 0.001 USDC or rejected payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "x402Version",
                    "accepts"
                  ],
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "enum": [
                        1
                      ]
                    },
                    "accepts": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "scheme",
                          "network",
                          "asset",
                          "payTo",
                          "maxAmountRequired"
                        ],
                        "properties": {
                          "scheme": {
                            "type": "string"
                          },
                          "network": {
                            "type": "string"
                          },
                          "asset": {
                            "type": "string"
                          },
                          "payTo": {
                            "type": "string"
                          },
                          "maxAmountRequired": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Solana payment service unavailable"
          }
        },
        "operationId": "getMusebookSolanaCapabilityReport",
        "security": [],
        "description": "Return the Musebook Circle USDC capability report after confirmed x402 v1 exact settlement of 0.001 native USDC on Solana mainnet. Unpaid requests return 402; pending settlement returns 202 without the resource."
      }
    },
    "/api/x402/supported": {
      "get": {
        "operationId": "getMusebookSupportedPaymentRails",
        "summary": "Fetch advertised x402 schemes and networks",
        "description": "Free read-only discovery. This request does not enroll an identity, send messages, sign transactions, or settle payments.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public discovery response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable"
          }
        }
      }
    },
    "/api/x402m/discovery": {
      "get": {
        "operationId": "getMusebookMessagingDiscovery",
        "summary": "Fetch x402m capabilities and transport",
        "description": "Free read-only discovery. This request does not enroll an identity, send messages, sign transactions, or settle payments.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public discovery response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable"
          }
        }
      }
    },
    "/api/x402m/agents": {
      "get": {
        "operationId": "getMusebookMessagingAgents",
        "summary": "List public opted-in agent cards",
        "description": "Free read-only discovery. This request does not enroll an identity, send messages, sign transactions, or settle payments.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public discovery response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable"
          }
        }
      }
    }
  }
}
