{
  "openapi": "3.1.0",
  "info": {
    "title": "2s",
    "version": "1",
    "description": "Unified JSON REST API for AI agents — an ever-expanding catalog of endpoints, pay per call in USDC on Base or Solana via x402, no accounts, no API keys. Fund a wallet on either chain with USDC, hit any endpoint, and your client signs an EIP-3009 authorization (Base) or a partial SPL transfer (Solana) to settle the call. Try before you buy: add ?trial=1 (or header X-2s-Trial: 1) to any endpoint for one free real call per endpoint per hour — no wallet needed — to verify it works before paying. 2s is an open-ended experiment in maximally-comprehensive agent infrastructure — new endpoints land regularly.",
    "contact": {
      "name": "2s",
      "url": "https://2s.io",
      "email": "alley@2s.io"
    }
  },
  "servers": [
    {
      "url": "https://2s.io"
    }
  ],
  "components": {
    "parameters": {
      "TrialMode": {
        "name": "trial",
        "in": "query",
        "required": false,
        "description": "Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the \"X-2s-Trial: 1\" request header. Works on every endpoint.",
        "schema": {
          "type": "integer",
          "enum": [
            1
          ]
        }
      }
    },
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org."
      }
    },
    "schemas": {
      "X402PaymentRequiredV2": {
        "type": "object",
        "description": "x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.",
        "required": [
          "x402Version",
          "accepts"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "error": {
            "type": "string",
            "description": "Human-readable reason payment is required."
          },
          "resource": {
            "type": "string",
            "description": "The resource URL being purchased."
          },
          "accepts": {
            "type": "array",
            "description": "Payment requirement options, one per supported network (Base USDC, Solana USDC).",
            "items": {
              "type": "object",
              "required": [
                "scheme",
                "network",
                "amount",
                "asset",
                "payTo",
                "maxTimeoutSeconds"
              ],
              "properties": {
                "scheme": {
                  "type": "string",
                  "enum": [
                    "exact"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network id, e.g. \"eip155:8453\" (Base) or \"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp\"."
                },
                "amount": {
                  "type": "string",
                  "description": "Price in atomic asset units (USDC has 6 decimals)."
                },
                "asset": {
                  "type": "string",
                  "description": "Asset contract address / mint."
                },
                "payTo": {
                  "type": "string",
                  "description": "Treasury address to pay."
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                },
                "extra": {
                  "type": "object",
                  "description": "Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).",
                  "additionalProperties": true
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "description": "Optional discovery metadata (e.g. bazaar input/output schemas).",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "paths": {
    "/api/business/entity-screen": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Fetch KYC in one call: look up a business in a US state",
        "description": "KYC in one call: look up a business in a US state registry (NY, CO, CT) AND screen it against the OFAC sanctions list. Give a state and a name (or exact entityId). Returns the matched registered entities (id, type, status, jurisdiction, address, registered agent) and, for each, a sanctions screen of the entity name AND its registered agent against OFAC SDN — with fuzzy-match confidence and a flagged boolean. Counterparty due-diligence, vendor onboarding, AML. Composition of /api/business/sos-search + /api/law/sanctions-check (each section reports found/error independently). Note: sanctions screening is name-based and probabilistic — review flagged matches manually.",
        "operationId": "business_entity-screen",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "entity": {
                                "type": "object",
                                "additionalProperties": {}
                              },
                              "sanctions": {
                                "type": "object",
                                "properties": {
                                  "found": {
                                    "type": "boolean"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "flagged": {
                                    "type": "boolean"
                                  },
                                  "entityMatchCount": {
                                    "type": "number"
                                  },
                                  "agentMatchCount": {
                                    "type": "number"
                                  },
                                  "matches": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": {}
                                    }
                                  }
                                },
                                "required": [
                                  "found",
                                  "error",
                                  "flagged",
                                  "entityMatchCount",
                                  "agentMatchCount",
                                  "matches"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "entity",
                              "sanctions"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        }
                      },
                      "required": [
                        "state",
                        "count",
                        "entities",
                        "sources"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00576 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "business.entity-screen",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00576,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "legacy",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005760"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "enum": [
                "NY",
                "CO",
                "CT"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": false,
            "description": "Entity ID.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 30
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "required": false,
            "description": "Minimum score/threshold required to include a result.",
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 1,
              "default": 0.5
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/business/lei": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Look up or search the global LEI (Legal Entity Identifier)...",
        "description": "Look up or search the global LEI (Legal Entity Identifier) registry — the authoritative ISO 17442 directory of ~2.6M legal entities worldwide. Pass `lei` for an exact 20-character LEI, or `query` to search by legal/other name (ranked best-match first). Filter name search by `country` (ISO 2-letter, HQ country) and `status` (active = currently active entities only; all = default). Each result returns the LEI, legal name, an alternate/other name, legal jurisdiction, entity category (GENERAL/FUND/BRANCH/…), ISO 20275 legal-form code, entity status (ACTIVE/INACTIVE), LEI registration status (ISSUED/LAPSED/RETIRED/…), headquarters city/region/country/postal code, the initial registration + last update + next renewal dates, and the managing LOU. Use this to canonicalize a company name to its LEI, resolve a counterparty, or enrich a vendor master. Data: GLEIF Golden Copy (CC0, public domain).",
        "operationId": "business_lei",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = matching entities (bm25-ranked for name search; ≤1 for exact LEI lookup); total = match count; page = pagination block.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "lei": {
                                "type": "string"
                              },
                              "legalName": {
                                "type": "string",
                                "nullable": true
                              },
                              "otherName": {
                                "type": "string",
                                "nullable": true,
                                "description": "First alternate/other registered name, if any."
                              },
                              "jurisdiction": {
                                "type": "string",
                                "nullable": true,
                                "description": "Legal jurisdiction (ISO country or subdivision)."
                              },
                              "category": {
                                "type": "string",
                                "nullable": true,
                                "description": "Entity category: GENERAL | FUND | BRANCH | SOLE_PROPRIETOR | …"
                              },
                              "legalForm": {
                                "type": "string",
                                "nullable": true,
                                "description": "ISO 20275 Entity Legal Form (ELF) code."
                              },
                              "entityStatus": {
                                "type": "string",
                                "nullable": true,
                                "description": "ACTIVE | INACTIVE."
                              },
                              "registrationStatus": {
                                "type": "string",
                                "nullable": true,
                                "description": "LEI registration status: ISSUED | LAPSED | RETIRED | ANNULLED | …"
                              },
                              "headquarters": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "region": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "country": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "city",
                                  "region",
                                  "country",
                                  "postalCode"
                                ],
                                "additionalProperties": false
                              },
                              "initialRegistrationDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "lastUpdateDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "nextRenewalDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "managingLou": {
                                "type": "string",
                                "nullable": true,
                                "description": "LEI of the Local Operating Unit that maintains this record."
                              }
                            },
                            "required": [
                              "lei",
                              "legalName",
                              "otherName",
                              "jurisdiction",
                              "category",
                              "legalForm",
                              "entityStatus",
                              "registrationStatus",
                              "headquarters",
                              "initialRegistrationDate",
                              "lastUpdateDate",
                              "nextRenewalDate",
                              "managingLou"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "page": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "required": [
                            "number",
                            "size",
                            "pages"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "business.lei",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "lei",
            "in": "query",
            "required": false,
            "description": "LEI.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{20}$"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country name or ISO country code.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter results by status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/business/naics": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Look up or search NAICS 2022 industry classification codes...",
        "description": "Look up or search NAICS 2022 industry classification codes (US Census Bureau, public domain). Pass `code` for an exact NAICS code — 2–6 digits or a combined sector like 31-33 — and get its official title, hierarchy path, full official description, activity index terms, and direct child codes. Or pass `query` for free-text search (e.g. 'software publishers', 'coffee shop') over titles plus the official ~20k-entry activity index → ranked candidate codes, optionally filtered by `level` (2=sector … 6=national industry). Ground truth for industry coding in KYC, business registration, government filings, and ERP vendor/customer setup.",
        "operationId": "business_naics",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = NAICS codes (exact match first followed by its direct children, or ranked search candidates); total = match count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "NAICS 2022 code (sectors may be ranges like 31-33)."
                              },
                              "level": {
                                "type": "number",
                                "description": "Hierarchy level: 2=sector, 3=subsector, 4=industry group, 5=NAICS industry, 6=national industry."
                              },
                              "title": {
                                "type": "string",
                                "description": "Official NAICS title."
                              },
                              "heading": {
                                "type": "string",
                                "nullable": true,
                                "description": "Ancestor path (sector > subsector > …), excludes the code itself."
                              },
                              "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "Official Census description. Full text on the exactly-matched code; truncated elsewhere."
                              },
                              "indexTerms": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "nullable": true,
                                "description": "Official activity index entries cross-referenced to this code (6-digit codes; capped)."
                              }
                            },
                            "required": [
                              "code",
                              "level",
                              "title",
                              "heading",
                              "description",
                              "indexTerms"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "page": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "required": [
                            "number",
                            "size",
                            "pages"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "business.naics",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Exact NAICS code (2–6 digits, or a combined sector range like 31-33). XOR with query.",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}-\\d{2}|\\d{2,6})$"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text industry or activity description to search. XOR with code.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "Search mode only: restrict results to one hierarchy level (2=sector … 6=national industry).",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 6
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Search mode only: max results, 1–50, default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/business/sos-search": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Search state Secretary-of-State business registries...",
        "description": "Search state Secretary-of-State business registries, normalized to one schema across states. Currently supported: NY (active corporations + LLCs), CO (all entities incl. status), and CT (Business Registry Master incl. type, status, NAICS). Query by name (partial, case-insensitive) or exact entityId; results: state, entity id, name, type, status, formation jurisdiction, formation date, principal/registered address, registered agent. KYC, vendor due-diligence, and counterparty-verification staple. Each state sourced from its official open-data portal.",
        "operationId": "business_sos-search",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = matching business entities (normalized across states); total = null (capped state-portal search); meta = {state}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string"
                              },
                              "entityId": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string",
                                "nullable": true
                              },
                              "status": {
                                "type": "string",
                                "nullable": true
                              },
                              "jurisdiction": {
                                "type": "string",
                                "nullable": true
                              },
                              "formedDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "city": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "state": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "zip": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "street",
                                  "city",
                                  "state",
                                  "zip"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              },
                              "agent": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "state",
                              "entityId",
                              "name",
                              "type",
                              "status",
                              "jurisdiction",
                              "formedDate",
                              "address",
                              "agent"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "state": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "state"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00288 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "business.sos-search",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00288,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002880"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "enum": [
                "NY",
                "CO",
                "CT"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": false,
            "description": "Entity ID.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 30
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/license/broker": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Fetch FINRA BrokerCheck lookup - every US registered broker",
        "description": "FINRA BrokerCheck lookup — every US registered broker / investment advisor (~620k current + former). Search by free-text query (name + firm) or by CRD number for a direct individual record. Each result includes CRD ID, name (with any 'doing business as' aliases), broker-check + IA scope (Active/Inactive), a hasDisclosures flag (yes/no for complaints, settlements, terminations on file), industry-start date, FINRA registration count, and current + previous employments (firm name, branch city/state, registration dates). Public per FINRA's investor-protection BrokerCheck program; pair with /api/finance/sec-filings for cross-reference.",
        "operationId": "license_broker",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = FINRA BrokerCheck records; total = upstream match count; meta.query echoes the search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crd": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string",
                                "nullable": true
                              },
                              "middleName": {
                                "type": "string",
                                "nullable": true
                              },
                              "lastName": {
                                "type": "string",
                                "nullable": true
                              },
                              "otherNames": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "bcScope": {
                                "type": "string",
                                "nullable": true
                              },
                              "iaScope": {
                                "type": "string",
                                "nullable": true
                              },
                              "hasDisclosures": {
                                "type": "boolean"
                              },
                              "yearsInIndustryStart": {
                                "type": "string",
                                "nullable": true
                              },
                              "finraRegistrationCount": {
                                "type": "integer"
                              },
                              "employmentCount": {
                                "type": "integer"
                              },
                              "currentEmployments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "firmId": {
                                      "type": "string"
                                    },
                                    "firmName": {
                                      "type": "string"
                                    },
                                    "branchCity": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "branchState": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "registrationBeginDate": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "firmId",
                                    "firmName",
                                    "branchCity",
                                    "branchState",
                                    "registrationBeginDate"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "previousEmployments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "firmId": {
                                      "type": "string"
                                    },
                                    "firmName": {
                                      "type": "string"
                                    },
                                    "registrationBeginDate": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "registrationEndDate": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "firmId",
                                    "firmName",
                                    "registrationBeginDate",
                                    "registrationEndDate"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "crd",
                              "firstName",
                              "middleName",
                              "lastName",
                              "otherNames",
                              "bcScope",
                              "iaScope",
                              "hasDisclosures",
                              "yearsInIndustryStart",
                              "finraRegistrationCount",
                              "employmentCount",
                              "currentEmployments",
                              "previousEmployments"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "object",
                              "properties": {
                                "query": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "crd": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "limit": {
                                  "type": "integer"
                                },
                                "offset": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "query",
                                "crd",
                                "limit",
                                "offset"
                              ],
                              "additionalProperties": false
                            },
                            "returned": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "query",
                            "returned"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "license.broker",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "crd",
            "in": "query",
            "required": false,
            "description": "Crd.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,9}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/license/medical": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Fetch US healthcare provider lookup (NPPES NPI Registry).",
        "description": "US healthcare provider lookup (NPPES NPI Registry). Every US doctor, nurse, dentist, hospital, lab, pharmacy has an NPI — this returns the canonical record. Lookup by 10-digit NPI for a precise match, or by firstName + lastName + state for fuzzy search. Each record includes name + credentials, status, enumeration date, primary + secondary specialty taxonomies (with state license numbers), practice + mailing addresses, phone, and any cross-issuer identifiers (Medicaid, Medicare, etc.). Public-domain CMS data, free. For all three NPI datasets merged (identity + industry payments + Medicare billing) in one call, see /api/health/provider-profile.",
        "operationId": "license_medical",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = NPPES provider records; total = null (NPPES caps results without a true count); meta.query echoes the search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "npi": {
                                "type": "string"
                              },
                              "enumerationType": {
                                "type": "string"
                              },
                              "name": {
                                "type": "object",
                                "properties": {
                                  "first": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "last": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "middle": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "credential": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "organizationName": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "first",
                                  "last",
                                  "middle",
                                  "credential",
                                  "organizationName"
                                ],
                                "additionalProperties": false
                              },
                              "status": {
                                "type": "string",
                                "nullable": true
                              },
                              "enumerationDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "lastUpdated": {
                                "type": "string",
                                "nullable": true
                              },
                              "taxonomies": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "desc": {
                                      "type": "string"
                                    },
                                    "primary": {
                                      "type": "boolean"
                                    },
                                    "licenseNumber": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "licenseState": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "desc",
                                    "primary",
                                    "licenseNumber",
                                    "licenseState"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "addresses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "purpose": {
                                      "type": "string"
                                    },
                                    "address1": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "address2": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "city": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "state": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "postalCode": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "country": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "telephone": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "fax": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "purpose",
                                    "address1",
                                    "address2",
                                    "city",
                                    "state",
                                    "postalCode",
                                    "country",
                                    "telephone",
                                    "fax"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "identifiers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "desc": {
                                      "type": "string"
                                    },
                                    "issuer": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "identifier": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "desc",
                                    "issuer",
                                    "identifier",
                                    "state"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "npi",
                              "enumerationType",
                              "name",
                              "status",
                              "enumerationDate",
                              "lastUpdated",
                              "taxonomies",
                              "addresses",
                              "identifiers"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "object",
                              "properties": {
                                "npi": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "firstName": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "lastName": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "state": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "enumerationType": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "limit": {
                                  "type": "integer"
                                },
                                "skip": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "npi",
                                "name",
                                "firstName",
                                "lastName",
                                "state",
                                "enumerationType",
                                "limit",
                                "skip"
                              ],
                              "additionalProperties": false
                            },
                            "returned": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "query",
                            "returned"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "license.medical",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "npi",
            "in": "query",
            "required": false,
            "description": "NPI.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{10}$"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "description": "First name to filter by.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "description": "Last name to filter by.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "enumerationType",
            "in": "query",
            "required": false,
            "description": "Enumeration type.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/license/real-estate": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Verify US real-estate licenses (brokers, sales agents...",
        "description": "Verify US real-estate licenses (brokers, sales agents, broker companies). Currently supported state: TX (Texas Real Estate Commission license holders). Search by name (license holder, partial), licenseNumber (exact), licenseType (partial, e.g. \"Broker\", \"Sales Agent\"), status (e.g. \"Active\"). Each license: type, number, holder name, status, original license date, expiration date, and the related supervising broker (type/number/name) where applicable. Agent/broker due-diligence and KYC. Siblings: /api/license/medical, /api/license/broker, /api/license/trades. Official state open data.",
        "operationId": "license_real-estate",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = real-estate licenses; total = null (capped state-portal search); meta = {state, query}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "licenseType": {
                                "type": "string",
                                "nullable": true
                              },
                              "licenseNumber": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "status": {
                                "type": "string",
                                "nullable": true
                              },
                              "originalLicenseDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "expires": {
                                "type": "string",
                                "nullable": true
                              },
                              "supervisor": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "number": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "type",
                                  "number",
                                  "name"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              }
                            },
                            "required": [
                              "licenseType",
                              "licenseNumber",
                              "name",
                              "status",
                              "originalLicenseDate",
                              "expires",
                              "supervisor"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "state": {
                              "type": "string"
                            },
                            "query": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "licenseNumber": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "licenseType": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "status": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "name",
                                "licenseNumber",
                                "licenseType",
                                "status"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "state",
                            "query"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00288 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "license.real-estate",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00288,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002880"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "enum": [
                "TX"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "licenseNumber",
            "in": "query",
            "required": false,
            "description": "License number.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            }
          },
          {
            "name": "licenseType",
            "in": "query",
            "required": false,
            "description": "License type.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 60
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter results by status.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 40
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/license/trades": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Verify US trade / occupational licenses (electricians, A/C...",
        "description": "Verify US trade / occupational licenses (electricians, A/C technicians, cosmetologists, tow operators, and other state-regulated trades). Currently supported state: TX (Texas Department of Licensing & Regulation, all active licenses). Search by name (matches owner or business name, partial), licenseNumber (exact), licenseType (partial, e.g. \"Electrician\"), county. Each license: type + subtype, number, business + owner name, county, expiration date, continuing-education flag. Contractor due-diligence and KYC. Siblings: /api/license/medical (NPI), /api/license/broker (FINRA). Official state open data.",
        "operationId": "license_trades",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = trade/occupational licenses; total = null (capped state-portal search); meta = {state, query}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "licenseType": {
                                "type": "string",
                                "nullable": true
                              },
                              "licenseSubtype": {
                                "type": "string",
                                "nullable": true
                              },
                              "licenseNumber": {
                                "type": "string",
                                "nullable": true
                              },
                              "businessName": {
                                "type": "string",
                                "nullable": true
                              },
                              "ownerName": {
                                "type": "string",
                                "nullable": true
                              },
                              "county": {
                                "type": "string",
                                "nullable": true
                              },
                              "expires": {
                                "type": "string",
                                "nullable": true
                              },
                              "continuingEducation": {
                                "type": "boolean",
                                "nullable": true
                              }
                            },
                            "required": [
                              "licenseType",
                              "licenseSubtype",
                              "licenseNumber",
                              "businessName",
                              "ownerName",
                              "county",
                              "expires",
                              "continuingEducation"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "state": {
                              "type": "string"
                            },
                            "query": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "licenseNumber": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "licenseType": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "county": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "name",
                                "licenseNumber",
                                "licenseType",
                                "county"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "state",
                            "query"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.00288 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "license.trades",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.00288,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002880"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "enum": [
                "TX"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name to search for.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            }
          },
          {
            "name": "licenseNumber",
            "in": "query",
            "required": false,
            "description": "License number.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            }
          },
          {
            "name": "licenseType",
[...]
