{
  "openapi": "3.1.0",
  "info": {
    "title": "SolSentry Threat Intelligence",
    "version": "v1",
    "description": "Solana operator-risk and threat-intelligence API. Pre-sign safety verdicts, serial-rugger detection, lookalike (address-poisoning) checks, holder concentration, and post-rug fund-flow tracing. Paid endpoints are gated by x402 (USDC on Solana mainnet)."
  },
  "servers": [
    {
      "url": "https://api.solsentry.app"
    }
  ],
  "paths": {
    "/x402/v1/operator/{wallet}": {
      "get": {
        "summary": "Fetch operator risk profile for a deployer wallet",
        "description": "Returns risk_level, risk_score, confirmed_rugs, total_tokens and rug_rate for a deployer wallet. The cheapest high-signal call: is this operator a known serial rugger?",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
            },
            "description": "Solana base58 deployer wallet",
            "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          }
        ],
        "responses": {
          "200": {
            "description": "Operator risk profile"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.002"
        }
      }
    },
    "/x402/v1/token/{mint}": {
      "get": {
        "summary": "Fetch pre-sign risk verdict for a token mint",
        "description": "Returns risk_level, risk_score, deploying operator info and Token-2022 authority flags for a mint. One-call pre-sign verdict for a token.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "So11111111111111111111111111111111111111112"
            },
            "description": "Solana SPL mint address",
            "example": "So11111111111111111111111111111111111111112"
          }
        ],
        "responses": {
          "200": {
            "description": "Token risk verdict"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.003"
        }
      }
    },
    "/x402/v1/predictions/{mint}": {
      "get": {
        "summary": "Fetch risk prediction and resolved outcome for a mint",
        "description": "Returns the SolSentry risk prediction for a mint plus the resolved outcome if known (auditable accuracy record).",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "So11111111111111111111111111111111111111112"
            },
            "description": "Solana SPL mint address",
            "example": "So11111111111111111111111111111111111111112"
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction record"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.002"
        }
      }
    },
    "/x402/v1/contract-analysis/{program_id}": {
      "get": {
        "summary": "Check program or contract safety before signing",
        "description": "Known-entity lookup + Token-2022 authority scan + account-info read for a program or mint an agent is about to interact with. Returns a pre-sign risk assessment.",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
            },
            "description": "Solana program or mint address",
            "example": "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract risk assessment"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.005"
        }
      }
    },
    "/x402/v1/lookalike-check": {
      "get": {
        "summary": "Check a destination address for poisoned lookalikes",
        "description": "Checks a destination address against poisoned lookalike siblings of wallets the caller has transacted with. Returns match, similarity_score and the matched address. Run before sending funds.",
        "parameters": [
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
            },
            "description": "Destination address to validate",
            "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          },
          {
            "name": "contacts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated known-good addresses to compare against"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookalike verdict"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.003"
        }
      }
    },
    "/x402/v1/tx-preview": {
      "post": {
        "summary": "Generate a pre-sign risk bundle for a transaction",
        "description": "Accepts a transaction description and returns a structured pre-sign risk bundle (operator, token, contract and counterparty signals) so an agent can decide whether to sign.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Transaction to assess. Provide tx_base64 or parsed_tx; the remaining fields add caller context that sharpens the verdict.",
                "properties": {
                  "tx_base64": {
                    "type": "string",
                    "description": "Base64-encoded unsigned Solana transaction (one of tx_base64 / parsed_tx required)"
                  },
                  "parsed_tx": {
                    "type": "object",
                    "description": "Pre-parsed transaction in Helius parsed shape (bypasses the decoder)"
                  },
                  "signer_self_set": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Wallets the caller owns (transfers close-to-self are treated as safe)"
                  },
                  "prior_contacts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Caller's prior recipient addresses, used for the lookalike check"
                  },
                  "token_metadata": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "mint": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Known token metadata for the impersonator check"
                  },
                  "known_drainers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Attacker-controlled wallets already known to the caller"
                  },
                  "known_safe_destinations": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "known_safe_authorities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false,
                "example": {
                  "tx_base64": "AQAB...",
                  "prior_contacts": [
                    "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-sign risk bundle"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.008"
        }
      }
    },
    "/x402/v1/holders/{mint}": {
      "get": {
        "summary": "Fetch holder count and top-holder concentration for a mint",
        "description": "Returns holder_count, top_holders and concentration_pct for a mint in one call (replaces chaining raw getTokenLargestAccounts RPC).",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "So11111111111111111111111111111111111111112"
            },
            "description": "Solana SPL mint address",
            "example": "So11111111111111111111111111111111111111112"
          }
        ],
        "responses": {
          "200": {
            "description": "Holder concentration"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.005"
        }
      }
    },
    "/x402/v1/drain-trace/{wallet}": {
      "get": {
        "summary": "Trace post-rug fund flows from a wallet to their terminus",
        "description": "Multi-hop SOL/token flow trace from a rug wallet to its terminus (CEX, bridge, mixer) with USD amounts and labels. Forensic / post-incident use.",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
            },
            "description": "Source wallet to trace from",
            "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          },
          {
            "name": "max_hops",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max hops to follow"
          }
        ],
        "responses": {
          "200": {
            "description": "Fund-flow trace"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.05"
        }
      }
    },
    "/x402/v1/dossier/{wallet}": {
      "get": {
        "summary": "Generate a full identity dossier for a deployer wallet",
        "description": "Deep identity dossier for a deployer wallet: SNS trace, deployment history, fund-flow summary and an AI-written risk narrative. High-value due-diligence.",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
            },
            "description": "Deployer wallet",
            "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier report"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "fixed",
          "unit": "requests",
          "priceUsd": "0.50"
        }
      }
    }
  }
}
