{"openapi":"3.1.0","info":{"title":"TWZRD Agent Intelligence","version":"0.5.2","summary":"Trust + receipt layer for autonomous Solana agents (x402).","description":"The trust + receipt layer agents call BEFORE paying (free preflight ReadinessCard) and AFTER paying (portable V6 receipt). Paid trust + Solana Market market intel are x402-enforced on Solana mainnet USDC; discovery, preflight, and receipt verification are free.","x-guidance":"Recommended call sequence for an agent: (1) read /llms.txt for orientation and /openapi.json for machine-readable schemas. Start free: GET /v1/intel/get_top_intel_agents?limit=1 for the top agent on the real Solana x402 payer graph (with total_payers_observed and corpus_slices), then qualify any specific counterparty for free via get_facilitator_footprint, get_counterparties, compare_wallets, or score_wallets_batch BEFORE paying. (2) call the free POST /v1/intel/preflight with the resource you are about to pay for and check can_spend / decision; (3) only if approved, pay for GET /v1/intel/trust/{pubkey} (0.05 USDC) to get live trust intel plus a portable V6 receipt -- pass seller_wallet=<the seller you are about to pay> (or ?merchant= on market routes) so the settle-time trust gate protects the spend; (4) verify any receipt offline via the free POST /v1/receipts/verify. Solana Market market intel routes are x402-paid (0.03 USDC) over HTTP and free over MCP."},"servers":[{"url":"https://intel.twzrd.xyz"}],"x402":{"version":2,"network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402","descriptor":"https://intel.twzrd.xyz/.well-known/x402","receipt":{"type":"twzrd.receipt.v6","kind":"portable-signed","verifiable":true,"leaf_hash":"keccak256","signature":{"algorithm":"ed25519","key_id":"twzrd-receipt-ed25519-v1","public_key":"9V6Pn19kiUA5Rn6JpQfNduanvGt2aXGwsarosNfa2Ldf","public_key_encoding":"base58","signed_message":"raw 32 bytes of the keccak256 leaf"},"note":"Portable keccak256 leaf (tamper-evidence) PLUS an Ed25519 signature over the leaf bytes (authenticity). Verify OFFLINE: recompute the keccak leaf from the preimage AND check the signature against the published public_key above. Unsigned or wrong-key receipts are rejected. The settlement_tx anchor remains independently checkable on-chain.","verify_endpoint":"https://intel.twzrd.xyz/v1/receipts/verify","pubkey_endpoint":"https://intel.twzrd.xyz/.well-known/twzrd-receipt-pubkey"}},"paths":{"/v1/intel/trust/{pubkey}":{"get":{"summary":"Live trust intelligence for a Solana agent pubkey (identity age, execution integrity, payment history, counterparty breadth) plus a portable V6 receipt. Proven on mainnet. Optional query: seller_wallet (the seller you are about to pay; arms the settle-time trust gate -- settlement is refused, charged:false, if that seller scores below threshold; the scored pubkey itself is never gated).","description":"Live trust intelligence for a Solana agent pubkey (identity age, execution integrity, payment history, counterparty breadth) plus a portable V6 receipt. Proven on mainnet. Optional query: seller_wallet (the seller you are about to pay; arms the settle-time trust gate -- settlement is refused, charged:false, if that seller scores below threshold; the scored pubkey itself is never gated). x402-paid: 0.05 USDC (50000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx.","content":{"application/json":{"schema":{"type":"object","description":"What the agent receives for the 0.05 USDC payment.","properties":{"pubkey":{"type":"string","description":"The scored wallet (base58)."},"score":{"type":"number","description":"Renormalized 0-100 trust score (the value the V6 receipt attests)."},"score_raw":{"type":"number","description":"Canonical pre-renormalization score."},"score_version":{"type":"string","description":"Scoring model version, e.g. intel_renorm_v1."},"confidence":{"type":"number","description":"0..1 share of axis weight backed by evidence."},"breadth_factor":{"type":"number","description":"Counterparty-breadth multiplier."},"wash_factor":{"type":"number","description":"Circular-flow wash discount (1.0 clean)."},"components":{"type":"object","description":"Per-axis trust components."},"twzrd_receipt":{"type":"object","description":"Portable Ed25519-signed V6 receipt (verify offline at /v1/receipts/verify).","properties":{"leaf":{"type":"string","description":"Hex keccak256 receipt leaf."},"preimage":{"type":"object","description":"Fields that hash to the leaf."},"signature":{"type":"string","description":"Ed25519 signature over the leaf."},"signing_pubkey":{"type":"string","description":"Signer pubkey (base58)."}}}}}}}},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"50000","price_usdc":0.05,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"50000","price_usdc":0.05,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"pubkey","in":"path","required":true,"schema":{"type":"string"},"description":"Solana agent wallet address (base58) to score."},{"name":"seller_wallet","in":"query","required":false,"schema":{"type":"string"},"description":"Optional seller counterparty (base58) you are about to pay -- distinct from the scored {pubkey}. When set (or sent as the X-TWZRD-Seller-Wallet header), the settle-time trust gate evaluates this wallet and refuses to settle (402, charged:false, no on-chain tx) if it scores below threshold. The scored subject itself is never gated."}]}},"/v1/intel/quick/{pubkey}":{"get":{"summary":"Cheap $0.001 quick reputation check — basic tier + score only. Entry point for agents to qualify a counterparty before a larger payment.","description":"Cheap $0.001 quick reputation check — basic tier + score only. Entry point for agents to qualify a counterparty before a larger payment. x402-paid: 0.001 USDC (1000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx."},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"1000","price_usdc":0.001,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"1000","price_usdc":0.001,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"pubkey","in":"path","required":true,"schema":{"type":"string"},"description":"`pubkey` path parameter."}]}},"/v1/intel/trust/{pubkey}?tier=mid":{"get":{"summary":"Mid-tier $0.01 trust check — tier + score + attributes + receipt pointer. Richer than quick ($0.001), cheaper than full ($0.05).","description":"Mid-tier $0.01 trust check — tier + score + attributes + receipt pointer. Richer than quick ($0.001), cheaper than full ($0.05). x402-paid: 0.01 USDC (10000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx."},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"10000","price_usdc":0.01,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"10000","price_usdc":0.01,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"pubkey","in":"path","required":true,"schema":{"type":"string"},"description":"`pubkey` path parameter."}]}},"/v1/intel/solana_market_orderbook_depth":{"get":{"summary":"Solana Market normalized orderbook depth and liquidity profile for a ticker (query: ticker, optional merchant = provider_reputation sidecar + settle-time trust-gate counterparty).","description":"Solana Market normalized orderbook depth and liquidity profile for a ticker (query: ticker, optional merchant = provider_reputation sidecar + settle-time trust-gate counterparty). x402-paid: 0.03 USDC (30000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx."},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"ticker","in":"query","required":true,"schema":{"type":"string"},"description":"Market ticker symbol."},{"name":"merchant","in":"query","required":false,"schema":{"type":"string"},"description":"Optional seller pubkey; when set and corpus has inbound payers, paid response includes data.provider_reputation (fail-open). Also the settle-time trust-gate counterparty: when the gate is enabled and this wallet scores below threshold, the server refuses to settle (402, charged:false, no on-chain tx) BEFORE your payment broadcasts. Omit it and the gate has nothing to evaluate."}]}},"/v1/intel/solana_market_shape":{"get":{"summary":"Solana Market market structure signals for a ticker (concentration, venue fragmentation, settlement patterns). Query: ticker, optional merchant (provider_reputation sidecar + settle-time trust-gate counterparty).","description":"Solana Market market structure signals for a ticker (concentration, venue fragmentation, settlement patterns). Query: ticker, optional merchant (provider_reputation sidecar + settle-time trust-gate counterparty). x402-paid: 0.03 USDC (30000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx."},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"ticker","in":"query","required":true,"schema":{"type":"string"},"description":"Market ticker symbol."},{"name":"merchant","in":"query","required":false,"schema":{"type":"string"},"description":"Optional seller pubkey; when set and corpus has inbound payers, paid response includes data.provider_reputation (fail-open). Also the settle-time trust-gate counterparty: when the gate is enabled and this wallet scores below threshold, the server refuses to settle (402, charged:false, no on-chain tx) BEFORE your payment broadcasts. Omit it and the gate has nothing to evaluate."}]}},"/v1/intel/solana_market_onchain_trades_summary":{"get":{"summary":"Solana Market recent on-chain trade activity: per-ticker via the by-market feed, or a global summary when no ticker is given. Optional query: ticker, merchant (provider_reputation sidecar + settle-time trust-gate counterparty).","description":"Solana Market recent on-chain trade activity: per-ticker via the by-market feed, or a global summary when no ticker is given. Optional query: ticker, merchant (provider_reputation sidecar + settle-time trust-gate counterparty). x402-paid: 0.03 USDC (30000 base units) on Solana mainnet.","responses":{"200":{"description":"Paid response (JSON) including settlement tx."},"402":{"description":"Payment required (x402). Returns payment-required header."},"503":{"description":"Surface disabled (WZRD_AGENT_INTEL_ENABLED=false)."}},"x402":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"x-payment-info":{"amount":"30000","price_usdc":0.03,"asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"GFpLvocNdEjnSsLH3VJQL6wGcjGxTbUBrj6fqN3Qe1Gs","scheme":"exact","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402"},"parameters":[{"name":"ticker","in":"query","required":false,"schema":{"type":"string"},"description":"Optional market ticker filter."},{"name":"merchant","in":"query","required":false,"schema":{"type":"string"},"description":"Optional seller pubkey; when set and corpus has inbound payers, paid response includes data.provider_reputation (fail-open). Also the settle-time trust-gate counterparty: when the gate is enabled and this wallet scores below threshold, the server refuses to settle (402, charged:false, no on-chain tx) BEFORE your payment broadcasts. Omit it and the gate has nothing to evaluate."}]}},"/v1/intel/x402-demo":{"get":{"summary":"Free, sample-only homepage demo: GET opens a default bundle; POST accepts a custom preflight payload. Composes a LIVE preflight ReadinessCard + a SAMPLE signed V6 receipt in one call. charged:false, settles nothing, receipt_scope:sample_only. Pointers to the real paid trust endpoint + verify endpoint included.","description":"Free, sample-only homepage demo: GET opens a default bundle; POST accepts a custom preflight payload. Composes a LIVE preflight ReadinessCard + a SAMPLE signed V6 receipt in one call. charged:false, settles nothing, receipt_scope:sample_only. Pointers to the real paid trust endpoint + verify endpoint included. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/v1/intel/preflight":{"post":{"summary":"Free preflight ReadinessCard: can_spend / trust_score / proof / caveats / decision before paying an x402 resource. The one-command demo.","description":"Free preflight ReadinessCard: can_spend / trust_score / proof / caveats / decision before paying an x402 resource. The one-command demo. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Resource an agent is about to pay, plus its intent.","properties":{"resource_name":{"type":"string","description":"Human name of the x402 resource."},"resource_url":{"type":"string","description":"URL of the x402 resource."},"seller_wallet":{"type":"string","description":"Seller (payTo) wallet, base58."},"buyer_wallet":{"type":"string","description":"The paying agent's wallet, base58."},"price_usdc":{"type":"number","description":"Quoted price in USDC."},"agent_intent":{"type":"string","description":"What the agent wants to do (e.g. swap_quote)."},"marketplace_score":{"type":"integer","description":"Optional self-reported marketplace quality 0-100."}}}}}}}},"/v1/intel/score_wallet_for_intel":{"get":{"summary":"Free discovery: 0-100 intel score for a wallet from its on-chain x402 payment history (query param: wallet).","description":"Free discovery: 0-100 intel score for a wallet from its on-chain x402 payment history (query param: wallet). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"wallet","in":"query","required":true,"schema":{"type":"string"},"description":"Solana wallet address (base58) to score."}]}},"/v1/intel/get_top_intel_agents":{"get":{"summary":"Free discovery HERO: the most active paying agents on the real Solana x402 payer graph with their independent intel scores. One call (limit=1) returns top_agent plus total_payers_observed, corpus_slices, and leaderboard_note from a single self-consistent source. Observed payers are ECOSYSTEM behavior TWZRD scores (not calls or revenue to TWZRD); the raw count includes the April-2026 onboarding/demo faucet wave, so the durable graph is reported via corpus_slices (pre_spike_base, multi_merchant_ge2). Query params: limit, min_paid_calls, max_days_since_last.","description":"Free discovery HERO: the most active paying agents on the real Solana x402 payer graph with their independent intel scores. One call (limit=1) returns top_agent plus total_payers_observed, corpus_slices, and leaderboard_note from a single self-consistent source. Observed payers are ECOSYSTEM behavior TWZRD scores (not calls or revenue to TWZRD); the raw count includes the April-2026 onboarding/demo faucet wave, so the durable graph is reported via corpus_slices (pre_spike_base, multi_merchant_ge2). Query params: limit, min_paid_calls, max_days_since_last. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10},"description":"Max rows to return."},{"name":"min_paid_calls","in":"query","required":false,"schema":{"type":"integer","default":0},"description":"Suppress one-shot wallets: minimum observed paid x402 calls for a wallet to appear."},{"name":"max_days_since_last","in":"query","required":false,"schema":{"type":"number"},"description":"Suppress dormant wallets: max days since the wallet's last observed paid x402 call."}]}},"/v1/intel/get_facilitator_footprint":{"get":{"summary":"Free discovery: which x402 facilitators a Solana payer has settled through, from the observed on-chain payer graph (query param: wallet). Use it to qualify a counterparty before paying.","description":"Free discovery: which x402 facilitators a Solana payer has settled through, from the observed on-chain payer graph (query param: wallet). Use it to qualify a counterparty before paying. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"wallet","in":"query","required":true,"schema":{"type":"string"},"description":"Solana wallet address (base58) to look up facilitator footprint for."}]}},"/v1/intel/get_counterparties":{"get":{"summary":"Free discovery (capped teaser): the top distinct merchants/resources a Solana wallet pays, from the observed x402 payer graph (query params: wallet, limit<=25).","description":"Free discovery (capped teaser): the top distinct merchants/resources a Solana wallet pays, from the observed x402 payer graph (query params: wallet, limit<=25). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"wallet","in":"query","required":true,"schema":{"type":"string"},"description":"Solana wallet address (base58)."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"maximum":25},"description":"Max counterparties to return (capped at 25)."}]}},"/v1/intel/compare_wallets":{"get":{"summary":"Free discovery: side-by-side intel for two Solana wallets (intel score + counterparty breadth) to compare candidate agents before paying (query params: wallet_a, wallet_b).","description":"Free discovery: side-by-side intel for two Solana wallets (intel score + counterparty breadth) to compare candidate agents before paying (query params: wallet_a, wallet_b). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"wallet_a","in":"query","required":true,"schema":{"type":"string"},"description":"First Solana wallet address (base58)."},{"name":"wallet_b","in":"query","required":true,"schema":{"type":"string"},"description":"Second Solana wallet address (base58)."}]}},"/v1/intel/score_wallets_batch":{"post":{"summary":"Free discovery: 0-100 intel score for up to 25 Solana wallets in one call, from their observed on-chain x402 payment history.","description":"Free discovery: 0-100 intel score for up to 25 Solana wallets in one call, from their observed on-chain x402 payment history. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Wallets to score in one batch.","properties":{"wallets":{"type":"array","items":{"type":"string"},"maxItems":25,"description":"Solana wallet addresses (base58), max 25."}},"required":["wallets"]}}}}}},"/v1/receipts/example":{"get":{"summary":"Free no-wallet SAMPLE signed V6 receipt (illustrative score, null address). Verify offline via /v1/receipts/verify before paying for live trust.","description":"Free no-wallet SAMPLE signed V6 receipt (illustrative score, null address). Verify offline via /v1/receipts/verify before paying for live trust. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/v1/receipts/verify":{"post":{"summary":"Free local V6 receipt verifier: recompute the keccak256 leaf from a portable receipt preimage and compare.","description":"Free local V6 receipt verifier: recompute the keccak256 leaf from a portable receipt preimage and compare. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"A full PaidReceipt or a bare {leaf, preimage}. Signature is always enforced.","properties":{"leaf":{"type":"string","description":"Hex keccak256 receipt leaf."},"preimage":{"type":"object","description":"Receipt preimage fields that hash to the leaf."},"signature":{"type":"string","description":"Ed25519 signature over the leaf (base58/hex)."},"signing_pubkey":{"type":"string","description":"Signer pubkey (base58)."}},"required":["leaf"]}}}}}},"/health":{"get":{"summary":"Service health + active network / pay_to / signal source.","description":"Service health + active network / pay_to / signal source. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/.well-known/x402":{"get":{"summary":"x402 service descriptor (this document).","description":"x402 service descriptor (this document). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/openapi.json":{"get":{"summary":"OpenAPI 3.1 description of the public routes with x402 payment annotations on paid paths.","description":"OpenAPI 3.1 description of the public routes with x402 payment annotations on paid paths. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/llms.txt":{"get":{"summary":"Plain-text agent-facing pointer to the trust surface, discovery endpoints, and the live mainnet proof.","description":"Plain-text agent-facing pointer to the trust surface, discovery endpoints, and the live mainnet proof. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/.well-known/agent-card.json":{"get":{"summary":"A2A agent card: endpoints, pricing, x402 + MCP capabilities for orchestrators and registries.","description":"A2A agent card: endpoints, pricing, x402 + MCP capabilities for orchestrators and registries. Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}}}},"/v1/compute/inference":{"post":{"summary":"Receipt-gated inference proxy. Wallet must hold an active TWZRD Receipt (Silver+). Checks resolver -> verifies cnft_minted -> proxies to model backend. 402 if no receipt or tier too low.","description":"Receipt-gated inference proxy. Wallet must hold an active TWZRD Receipt (Silver+). Checks resolver -> verifies cnft_minted -> proxies to model backend. 402 if no receipt or tier too low.","responses":{"200":{"description":"OK (JSON)."}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"wallet":{"type":"string","description":"Solana wallet address to check receipt for"},"prompt":{"type":"string","description":"Prompt to send to the inference model"}},"required":["wallet","prompt"]}}}}}},"/v1/wash/badge/{wallet}":{"get":{"summary":"Free SVG trust badge for any Solana wallet. Embed in marketplaces with <img>. Returns clean/suspicious/severe tier with live wash score. Cacheable (1h).","description":"Free SVG trust badge for any Solana wallet. Embed in marketplaces with <img>. Returns clean/suspicious/severe tier with live wash score. Cacheable (1h). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"wallet","in":"path","required":true,"schema":{"type":"string"},"description":"`wallet` path parameter."}]}},"/v1/reputation/badge/{merchant}":{"get":{"summary":"Free SVG provider reputation badge for any Solana merchant wallet. Returns tier_a/b/c/blocked with wash flag. Embed in marketplaces with <img>. Cacheable (1h).","description":"Free SVG provider reputation badge for any Solana merchant wallet. Returns tier_a/b/c/blocked with wash flag. Embed in marketplaces with <img>. Cacheable (1h). Free, no payment, no auth.","responses":{"200":{"description":"OK (JSON)."}},"parameters":[{"name":"merchant","in":"path","required":true,"schema":{"type":"string"},"description":"`merchant` path parameter."}]}},"/v1/wash/analyze":{"post":{"summary":"Wash detection API — batch analyze up to 100 wallets for circular flow, ring detection, and collusion signals. Pro tier.","description":"Wash detection API — batch analyze up to 100 wallets for circular flow, ring detection, and collusion signals. Pro tier.","responses":{"200":{"description":"OK (JSON)."}}}},"/v1/reputation/analyze":{"post":{"summary":"Provider reputation API — batch analyze up to 100 merchants for heavy-fleet, captive concentration, and tier classification. Pro tier.","description":"Provider reputation API — batch analyze up to 100 merchants for heavy-fleet, captive concentration, and tier classification. Pro tier.","responses":{"200":{"description":"OK (JSON)."}}}}}}