{
  "openapi": "3.0.3",
  "info": {
    "title": "Air Quality API",
    "description": "Look up current, historical, and forecast air quality for global coordinates. Returns AQI, pollutant concentrations (PM2.5, PM10, O3, NO2, SO2, CO), health recommendations, local indexes, and heatmap tiles for maps.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://airquality.google.gateway-402.com"
    }
  ],
  "paths": {
    "/v1/currentConditions:lookup": {
      "post": {
        "operationId": "airquality.currentConditions.lookup",
        "summary": "The Current Conditions endpoint provides hourly air quality",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupCurrentConditionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupCurrentConditionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forecast:lookup": {
      "post": {
        "operationId": "airquality.forecast.lookup",
        "summary": "Returns air quality forecast for a specific location for a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupForecastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupForecastResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/history:lookup": {
      "post": {
        "operationId": "airquality.history.lookup",
        "summary": "Returns air quality history for a specific location for a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mapTypes/{mapType}/heatmapTiles/{zoom}/{x}/{y}": {
      "get": {
        "operationId": "airquality.mapTypes.heatmapTiles.lookupHeatmapTile",
        "summary": "Returns a bytes array containing the data of the tile PNG",
        "parameters": [
          {
            "name": "mapType",
            "in": "path",
            "required": true,
            "description": "Required. The type of the air quality heatmap. Defines the pollutant that the map will graphically represent. Allowed values: - UAQI_RED_GREEN (UAQI, red-green palette) - UAQI_INDIGO_PERSIAN (UAQI, indigo-persian palette) - PM25_INDIGO_PERSIAN - GBR_DEFRA - DEU_UBA - CAN_EC - FRA_ATMO - US_AQI",
            "schema": {
              "type": "string",
              "enum": [
                "MAP_TYPE_UNSPECIFIED",
                "UAQI_RED_GREEN",
                "UAQI_INDIGO_PERSIAN",
                "PM25_INDIGO_PERSIAN",
                "GBR_DEFRA",
                "DEU_UBA",
                "CAN_EC",
                "FRA_ATMO",
                "US_AQI"
              ]
            }
          },
          {
            "name": "zoom",
            "in": "path",
            "required": true,
            "description": "Required. The map's zoom level. Defines how large or small the contents of a map appear in a map view. Zoom level 0 is the entire world in a single tile. Zoom level 1 is the entire world in 4 tiles. Zoom level 2 is the entire world in 16 tiles. Zoom level 16 is the entire world in 65,536 tiles. Allowed values: 0-16",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "Required. Defines the east-west point in the requested tile.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Required. Defines the north-south point in the requested tile.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalInfo": {
        "type": "object",
        "description": "The emission sources and health effects of a given pollutant.",
        "properties": {
          "sources": {
            "type": "string",
            "description": "Text representing the pollutant's main emission sources."
          },
          "effects": {
            "type": "string",
            "description": "Text representing the pollutant's main health effects."
          }
        }
      },
      "AirQualityIndex": {
        "type": "object",
        "description": "The basic object for representing different air quality metrics. When brought together, these metrics provide a snapshot about the current air quality conditions. There are multiple indexes in the world serving different purposes and groups interested in measuring different aspects of air quality.",
        "properties": {
          "dominantPollutant": {
            "type": "string",
            "description": "The chemical symbol of the dominant pollutant. For example: \"CO\"."
          },
          "color": {
            "$ref": "#/components/schemas/Color"
          },
          "code": {
            "type": "string",
            "description": "The index's code. This field represents the index for programming purposes by using snake case instead of spaces. Examples: \"uaqi\", \"fra_atmo\"."
          },
          "aqiDisplay": {
            "type": "string",
            "description": "Textual representation of the index numeric score, that may include prefix or suffix symbols, which usually represents the worst index score. Example: >100 or 10+. Note: This field should be used when you want to display the index score. For non-numeric indexes, this field is empty."
          },
          "displayName": {
            "type": "string",
            "description": "A human readable representation of the index name. Example: \"AQI (US)\""
          },
          "aqi": {
            "type": "integer",
            "format": "int32",
            "description": " The index's numeric score. Examples: 10, 100. The value is not normalized and should only be interpreted in the context of its related air-quality index. For non-numeric indexes, this field will not be returned. Note: This field should be used for calculations, graph display, etc. For displaying the index score, you should use the AQI display field."
          },
          "category": {
            "type": "string",
            "description": "Textual classification of the index numeric score interpretation. For example: \"Excellent air quality\"."
          }
        }
      },
      "Color": {
        "type": "object",
        "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value\u2014for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
        "properties": {
          "alpha": {
            "type": "number",
            "format": "float",
            "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          },
          "red": {
            "type": "number",
            "format": "float",
            "description": "The amount of red in the color as a value in the interval [0, 1]."
          },
          "green": {
            "type": "number",
            "format": "float",
            "description": "The amount of green in the color as a value in the interval [0, 1]."
          },
          "blue": {
            "type": "number",
            "format": "float",
            "description": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        }
      },
      "Concentration": {
        "type": "object",
        "description": "The concentration of a given pollutant in the air.",
        "properties": {
          "value": {
            "type": "number",
            "format": "float",
            "description": "Value of the pollutant concentration."
          },
          "units": {
            "type": "string",
            "description": "Units for measuring this pollutant concentration.",
            "enum": [
              "UNIT_UNSPECIFIED",
              "PARTS_PER_BILLION",
              "MICROGRAMS_PER_CUBIC_METER"
            ]
          }
        }
      },
      "CustomLocalAqi": {
        "type": "object",
        "description": "Expresses a 'country/region to AQI' relationship. Pairs a country/region with a desired AQI so that air quality data that is required for that country/region will be displayed according to the chosen AQI.",
        "properties": {
          "aqi": {
            "type": "string",
            "description": "The AQI to associate the country/region with. Value should be a [valid index](/maps/documentation/air-quality/laqis) code."
          },
          "regionCode": {
            "type": "string",
            "description": "The country/region requiring the custom AQI. Value should be provided using [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code."
          }
        }
      },
      "HealthRecommendations": {
        "type": "object",
        "description": "Health recommendations for different population groups in a free text format. The recommendations are derived from their associated air quality conditions.",
        "properties": {
          "lungDiseasePopulation": {
            "type": "string",
            "description": "Respiratory related problems and asthma suffers."
          },
          "elderly": {
            "type": "string",
            "description": "Retirees and people older than the general population."
          },
          "athletes": {
            "type": "string",
            "description": "Sports and other strenuous outdoor activities."
          },
          "generalPopulation": {
            "type": "string",
            "description": "No specific sensitivities."
          },
          "heartDiseasePopulation": {
            "type": "string",
            "description": "Heart and circulatory system diseases."
          },
          "pregnantWomen": {
            "type": "string",
            "description": "Women at all stages of pregnancy."
          },
          "children": {
            "type": "string",
            "description": "Younger populations including children, toddlers, and babies."
          }
        }
      },
      "HourInfo": {
        "type": "object",
        "description": "Contains the air quality information for each hour in the requested range. For example, if the request is for 48 hours of history there will be 48 elements of hourly info.",
        "properties": {
          "dateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A rounded down timestamp indicating the time the data refers to in RFC3339 UTC \"Zulu\" format, with nanosecond resolution and up to nine fractional digits. For example: \"2014-10-02T15:00:00Z\"."
          },
          "pollutants": {
            "type": "array",
            "description": "A list of pollutants affecting the location specified in the request. Note: This field will be returned only for requests that specified one or more of the following extra computations: POLLUTANT_ADDITIONAL_INFO, DOMINANT_POLLUTANT_CONCENTRATION, POLLUTANT_CONCENTRATION.",
            "items": {
              "$ref": "#/components/schemas/Pollutant"
            }
          },
          "healthRecommendations": {
            "$ref": "#/components/schemas/HealthRecommendations"
          },
          "indexes": {
            "type": "array",
            "description": "Based on the request parameters, this list will include (up to) two air quality indexes: - Universal AQI. Will be returned if the universalAqi boolean is set to true. - Local AQI. Will be returned if the LOCAL_AQI extra computation is specified.",
            "items": {
              "$ref": "#/components/schemas/AirQualityIndex"
            }
          }
        }
      },
      "HourlyForecast": {
        "type": "object",
        "description": "Contains the air quality information for each hour in the requested range. For example, if the request is for 48 hours of forecast there will be 48 elements of hourly forecasts.",
        "properties": {
          "dateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A rounded down timestamp indicating the time (hour) the data refers to in RFC3339 UTC \"Zulu\" format. For example: \"2014-10-02T15:00:00Z\"."
          },
          "pollutants": {
            "type": "array",
            "description": "A list of pollutants affecting the location specified in the request. Note: This field will be returned only for requests that specified one or more of the following extra computations: POLLUTANT_ADDITIONAL_INFO, DOMINANT_POLLUTANT_CONCENTRATION, POLLUTANT_CONCENTRATION.",
            "items": {
              "$ref": "#/components/schemas/Pollutant"
            }
          },
          "healthRecommendations": {
            "$ref": "#/components/schemas/HealthRecommendations"
          },
          "indexes": {
            "type": "array",
            "description": "Based on the request parameters, this list will include (up to) two air quality indexes: - Universal AQI. Will be returned if the `universal_aqi` boolean is set to true. - Local AQI. Will be returned if the LOCAL_AQI extra computation is specified.",
            "items": {
              "$ref": "#/components/schemas/AirQualityIndex"
            }
          }
        }
      },
      "HttpBody": {
        "type": "object",
        "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "The HTTP request/response body as raw binary."
          },
          "contentType": {
            "type": "string",
            "description": "The HTTP Content-Type header value specifying the content type of the body."
          },
          "extensions": {
            "type": "array",
            "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "Interval": {
        "type": "object",
        "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "LatLng": {
        "type": "object",
        "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
        "properties": {
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        }
      },
      "LookupCurrentConditionsRequest": {
        "type": "object",
        "description": "The request definition of the air quality current conditions.",
        "properties": {
          "extraComputations": {
            "type": "array",
            "description": "Optional. Additional features that can be optionally enabled. Specifying extra computations will result in the relevant elements and fields to be returned in the response.",
            "items": {
              "type": "string",
              "enum": [
                "EXTRA_COMPUTATION_UNSPECIFIED",
                "LOCAL_AQI",
                "HEALTH_RECOMMENDATIONS",
                "POLLUTANT_ADDITIONAL_INFO",
                "DOMINANT_POLLUTANT_CONCENTRATION",
                "POLLUTANT_CONCENTRATION"
              ]
            }
          },
          "languageCode": {
            "type": "string",
            "description": "Optional. Allows the client to choose the language for the response. If data cannot be provided for that language the API uses the closest match. Allowed values rely on the IETF standard. Default value is en."
          },
          "customLocalAqis": {
            "type": "array",
            "description": "Optional. Expresses a 'country/region to AQI' relationship. Pairs a country/region with a desired AQI so that air quality data that is required for that country/region will be displayed according to the chosen AQI. This parameter can be used to specify a non-default AQI for a given country, for example, to get the US EPA index for Canada rather than the default index for Canada.",
            "items": {
              "$ref": "#/components/schemas/CustomLocalAqi"
            }
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "uaqiColorPalette": {
            "type": "string",
            "description": "Optional. Determines the color palette used for data provided by the 'Universal Air Quality Index' (UAQI). This color palette is relevant just for UAQI, other AQIs have a predetermined color palette that can't be controlled.",
            "enum": [
              "COLOR_PALETTE_UNSPECIFIED",
              "RED_GREEN",
              "INDIGO_PERSIAN_DARK",
              "INDIGO_PERSIAN_LIGHT"
            ]
          },
          "universalAqi": {
            "type": "boolean",
            "description": "Optional. If set to true, the Universal AQI will be included in the 'indexes' field of the response. Default value is true."
          }
        }
      },
      "LookupCurrentConditionsResponse": {
        "type": "object",
        "properties": {
          "pollutants": {
            "type": "array",
            "description": "A list of pollutants affecting the location specified in the request. Note: This field will be returned only for requests that specified one or more of the following extra computations: POLLUTANT_ADDITIONAL_INFO, DOMINANT_POLLUTANT_CONCENTRATION, POLLUTANT_CONCENTRATION.",
            "items": {
              "$ref": "#/components/schemas/Pollutant"
            }
          },
          "healthRecommendations": {
            "$ref": "#/components/schemas/HealthRecommendations"
          },
          "regionCode": {
            "type": "string",
            "description": "The ISO_3166-1 alpha-2 code of the country/region corresponding to the location provided in the request. This field might be omitted from the response if the location provided in the request resides in a disputed territory."
          },
          "dateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A rounded down timestamp in RFC3339 UTC \"Zulu\" format, with nanosecond resolution and up to nine fractional digits. For example: \"2014-10-02T15:00:00Z\"."
          },
          "indexes": {
            "type": "array",
            "description": "Based on the request parameters, this list will include (up to) two air quality indexes: - Universal AQI. Will be returned if the universalAqi boolean is set to true. - Local AQI. Will be returned if the LOCAL_AQI extra computation is specified.",
            "items": {
              "$ref": "#/components/schemas/AirQualityIndex"
            }
          }
        }
      },
      "LookupForecastRequest": {
        "type": "object",
        "description": "The request object of the air quality forecast API.",
        "properties": {
          "dateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A timestamp for which to return the data for a specific point in time. The timestamp is rounded to the previous exact hour. Note: this will return hourly data for the requested timestamp only (i.e. a single hourly info element). For example, a request sent where the date_time parameter is set to 2023-01-03T11:05:49Z will be rounded down to 2023-01-03T11:00:00Z."
          },
          "languageCode": {
            "type": "string",
            "description": "Optional. Allows the client to choose the language for the response. If data cannot be provided for that language the API uses the closest match. Allowed values rely on the IETF standard (default = 'en')."
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of hourly info records to return per page (default = 24)."
          },
          "universalAqi": {
            "type": "boolean",
            "description": "Optional. If set to true, the Universal AQI will be included in the 'indexes' field of the response (default = true)."
          },
          "pageToken": {
            "type": "string",
            "description": "Optional. A page token received from a previous forecast call. It is used to retrieve the subsequent page."
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "period": {
            "$ref": "#/components/schemas/Interval"
          },
          "extraComputations": {
            "type": "array",
            "description": "Optional. Additional features that can be optionally enabled. Specifying extra computations will result in the relevant elements and fields to be returned in the response.",
            "items": {
              "type": "string",
              "enum": [
                "EXTRA_COMPUTATION_UNSPECIFIED",
                "LOCAL_AQI",
                "HEALTH_RECOMMENDATIONS",
                "POLLUTANT_ADDITIONAL_INFO",
                "DOMINANT_POLLUTANT_CONCENTRATION",
                "POLLUTANT_CONCENTRATION"
              ]
            }
          },
          "customLocalAqis": {
            "type": "array",
            "description": "Optional. Expresses a 'country/region to AQI' relationship. Pairs a country/region with a desired AQI so that air quality data that is required for that country/region will be displayed according to the chosen AQI. This parameter can be used to specify a non-default AQI for a given country, for example, to get the US EPA index for Canada rather than the default index for Canada.",
            "items": {
              "$ref": "#/components/schemas/CustomLocalAqi"
            }
          },
          "uaqiColorPalette": {
            "type": "string",
            "description": "Optional. Determines the color palette used for data provided by the 'Universal Air Quality Index' (UAQI). This color palette is relevant just for UAQI, other AQIs have a predetermined color palette that can't be controlled.",
            "enum": [
              "COLOR_PALETTE_UNSPECIFIED",
              "RED_GREEN",
              "INDIGO_PERSIAN_DARK",
              "INDIGO_PERSIAN_LIGHT"
            ]
          }
        }
      },
      "LookupForecastResponse": {
        "type": "object",
        "description": "The response object of the air quality forecast API.",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "Optional. The token to retrieve the next page."
          },
          "hourlyForecasts": {
            "type": "array",
            "description": "Optional. Contains the air quality information for each hour in the requested range. For example, if the request is for 48 hours of forecast there will be 48 elements of hourly forecasts.",
            "items": {
              "$ref": "#/components/schemas/HourlyForecast"
            }
          },
          "regionCode": {
            "type": "string",
            "description": "Optional. The ISO_3166-1 alpha-2 code of the country/region corresponding to the location provided in the request. This field might be omitted from the response if the location provided in the request resides in a disputed territory."
          }
        }
      },
      "LookupHistoryRequest": {
        "type": "object",
        "description": "The request object of the air quality history API.",
        "properties": {
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of hourly info records to return per page. The default is 72 and the max value is 168 (7 days of data)."
          },
          "languageCode": {
            "type": "string",
            "description": "Optional. Allows the client to choose the language for the response. If data cannot be provided for that language the API uses the closest match. Allowed values rely on the IETF standard. Default value is en."
          },
          "dateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "A timestamp for which to return historical data. The timestamp is rounded to the previous exact hour. Note: this will return hourly data for the requested timestamp only (i.e. a single hourly info element). For example, a request sent where the dateTime parameter is set to 2023-01-03T11:05:49Z will be rounded down to 2023-01-03T11:00:00Z. A timestamp in RFC3339 UTC \"Zulu\" format, with nanosecond resolution and up to nine fractional digits. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\"."
          },
          "hours": {
            "type": "integer",
            "format": "int32",
            "description": "Number from 1 to 720 that indicates the hours range for the request. For example: A value of 48 will yield data from the last 48 hours."
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "pageToken": {
            "type": "string",
            "description": "Optional. A page token received from a previous history call. It is used to retrieve the subsequent page. Note that when providing a value for this parameter all other parameters provided must match the call that provided the page token (the previous call)."
          },
          "universalAqi": {
            "type": "boolean",
            "description": "Optional. If set to true, the Universal AQI will be included in the 'indexes' field of the response. Default value is true."
          },
          "customLocalAqis": {
            "type": "array",
            "description": "Optional. Expresses a 'country/region to AQI' relationship. Pairs a country/region with a desired AQI so that air quality data that is required for that country/region will be displayed according to the chosen AQI. This parameter can be used to specify a non-default AQI for a given country, for example, to get the US EPA index for Canada rather than the default index for Canada.",
            "items": {
              "$ref": "#/components/schemas/CustomLocalAqi"
            }
          },
          "extraComputations": {
            "type": "array",
            "description": "Optional. Additional features that can be optionally enabled. Specifying extra computations will result in the relevant elements and fields to be returned in the response.",
            "items": {
              "type": "string",
              "enum": [
                "EXTRA_COMPUTATION_UNSPECIFIED",
                "LOCAL_AQI",
                "HEALTH_RECOMMENDATIONS",
                "POLLUTANT_ADDITIONAL_INFO",
                "DOMINANT_POLLUTANT_CONCENTRATION",
                "POLLUTANT_CONCENTRATION"
              ]
            }
          },
          "period": {
            "$ref": "#/components/schemas/Interval"
          },
          "uaqiColorPalette": {
            "type": "string",
            "description": "Optional. Determines the color palette used for data provided by the 'Universal Air Quality Index' (UAQI). This color palette is relevant just for UAQI, other AQIs have a predetermined color palette that can't be controlled.",
            "enum": [
              "COLOR_PALETTE_UNSPECIFIED",
              "RED_GREEN",
              "INDIGO_PERSIAN_DARK",
              "INDIGO_PERSIAN_LIGHT"
            ]
          }
        }
      },
      "LookupHistoryResponse": {
        "type": "object",
        "properties": {
          "hoursInfo": {
            "type": "array",
            "description": "Optional. Contains the air quality information for each hour in the requested range. For example, if the request is for 48 hours of history there will be 48 elements of hourly info.",
            "items": {
              "$ref": "#/components/schemas/HourInfo"
            }
          },
          "regionCode": {
            "type": "string",
            "description": "Optional. The ISO_3166-1 alpha-2 code of the country/region corresponding to the location provided in the request. This field might be omitted from the response if the location provided in the request resides in a disputed territory."
          },
          "nextPageToken": {
            "type": "string",
            "description": "Optional. The token to retrieve the next page."
          }
        }
      },
      "Pollutant": {
        "type": "object",
        "description": "Data regarding an air quality pollutant.",
        "properties": {
          "code": {
            "type": "string",
            "description": "The pollutant's code name (for example, \"so2\"). For a list of supported pollutant codes, see [Reported pollutants](/maps/documentation/air-quality/pollutants#reported_pollutants)."
          },
          "fullName": {
            "type": "string",
            "description": "The pollutant's full name. For chemical compounds, this is the IUPAC name. Example: \"Sulfur Dioxide\". For more information about the IUPAC names table, see https://iupac.org/what-we-do/periodic-table-of-elements/."
          },
          "additionalInfo": {
            "$ref": "#/components/schemas/AdditionalInfo"
          },
          "displayName": {
            "type": "string",
            "description": "The pollutant's display name. For example: \"NOx\"."
          },
          "concentration": {
            "$ref": "#/components/schemas/Concentration"
          }
        }
      }
    }
  }
}
