{
  "openapi": "3.0.0",
  "info": {
    "title": "DeepSearch Korean Stock Intelligence API",
    "version": "1.0.0",
    "description": "Real-time Korean stock market intelligence via x402 micropayments. Pay-per-query with USDC on Base Mainnet.",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    { "url": "https://x402.deepsearch.com" }
  ],
  "paths": {
    "/v1/context/company/{ticker}": {
      "get": {
        "summary": "Company fundamentals pack",
        "description": "Real-time company fundamentals: market cap, PER, PBR, ROE, revenue, operating profit, net income, debt ratio, and latest stock price. Use for valuation and financial overview.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "description": "6-digit KRX ticker code. e.g. 005930 (Samsung Electronics), 000660 (SK Hynix)",
            "schema": { "type": "string", "example": "005930" }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "Exchange code. Default: KRX",
            "schema": { "type": "string", "default": "KRX" }
          }
        ],
        "responses": {
          "200": {
            "description": "Company fundamentals data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticker": { "type": "string" },
                    "companyName": { "type": "string" },
                    "marketCap": { "type": "string" },
                    "keyFinancials": {
                      "type": "object",
                      "properties": {
                        "revenue": { "type": "string" },
                        "operatingProfit": { "type": "string" },
                        "per": { "type": "number" },
                        "pbr": { "type": "number" },
                        "roe": { "type": "string" }
                      }
                    },
                    "recentStock": {
                      "type": "object",
                      "properties": {
                        "latestClose": { "type": "number" },
                        "changePercent": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment Required — $0.05 USDC on Base Mainnet (eip155:8453)" }
        },
        "x-x402": {
          "price": "$0.05",
          "network": "eip155:8453",
          "asset": "USDC"
        }
      }
    },
    "/v1/context/issue/{ticker}": {
      "get": {
        "summary": "News-driven issue intelligence pack",
        "description": "Top news-driven issues from last 30 days with sentiment (positive/negative/neutral), relevance score, and publication date. Use to understand what is happening with a company right now.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "description": "6-digit KRX ticker code",
            "schema": { "type": "string", "example": "005930" }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "KRX" }
          }
        ],
        "responses": {
          "200": {
            "description": "Issue intelligence data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticker": { "type": "string" },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "sentiment": { "type": "string", "enum": ["positive", "negative", "neutral"] },
                          "relevance": { "type": "string", "enum": ["high", "medium", "low"] },
                          "summary": { "type": "string" },
                          "publishedAt": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment Required — $0.10 USDC on Base Mainnet (eip155:8453)" }
        },
        "x-x402": {
          "price": "$0.10",
          "network": "eip155:8453",
          "asset": "USDC"
        }
      }
    },
    "/v1/context/risk/{ticker}": {
      "get": {
        "summary": "Investment risk assessment pack",
        "description": "Investment risk assessment from 60 days of news and regulatory filings. Returns overall risk level (high/medium/low), categorized risk items, and mitigating factors. Use before making or recommending an investment decision.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "description": "6-digit KRX ticker code",
            "schema": { "type": "string", "example": "005930" }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "KRX" }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk assessment data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticker": { "type": "string" },
                    "overallRiskLevel": { "type": "string", "enum": ["high", "medium", "low"] },
                    "risks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": { "type": "string" },
                          "severity": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    },
                    "mitigatingFactors": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment Required — $0.15 USDC on Base Mainnet (eip155:8453)" }
        },
        "x-x402": {
          "price": "$0.15",
          "network": "eip155:8453",
          "asset": "USDC"
        }
      }
    }
  }
}
