{
  "openapi": "3.1.0",
  "info": {
    "title": "ApeGuard — Solana Token Risk Intelligence",
    "description": "Real-time Solana memecoin risk scanner. Analyze token safety, whale activity, and buy recommendations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pura2.ninja"
    }
  ],
  "paths": {
    "/api/scan": {
      "post": {
        "operationId": "scanToken",
        "summary": "Scan a Solana token for risks",
        "description": "Full risk analysis: 7-factor scoring, verdict, red/green flags, narrative.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["address"],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Solana token mint address (base58, 32-44 chars)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScanResult" }
              }
            }
          },
          "400": {
            "description": "Invalid or missing address",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Scan failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/whale": {
      "post": {
        "operationId": "analyzeWhale",
        "summary": "Whale activity analysis",
        "description": "Detect whale accumulation, selling, net flow, suspicious movements.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tokenAddress"],
                "properties": {
                  "tokenAddress": {
                    "type": "string",
                    "description": "Solana token mint address (base58, 32-44 chars)"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Token ticker symbol"
                  },
                  "liquidity": {
                    "type": "number",
                    "description": "Current liquidity in USD"
                  },
                  "marketCap": {
                    "type": "number",
                    "description": "Current market cap in USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Whale analysis result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WhaleResult" }
              }
            }
          },
          "400": {
            "description": "Missing tokenAddress",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Analysis failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/feed": {
      "get": {
        "operationId": "getLiveFeed",
        "summary": "Live token feed",
        "description": "Returns live Solana tokens with market data, risk classification (verdict), and momentum scores.",
        "responses": {
          "200": {
            "description": "Token feed array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FeedToken" }
                }
              }
            }
          },
          "500": {
            "description": "Feed fetch failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScanResult": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "description": "Token mint address" },
          "symbol": { "type": "string", "description": "Token ticker" },
          "name": { "type": "string", "description": "Token name" },
          "verdict": { "type": "string", "enum": ["CLEAN", "WATCH", "RISKY", "DANGER", "UNKNOWN", "DATA_INCOMPLETE"], "description": "Risk verdict" },
          "totalScore": { "type": "integer", "minimum": 0, "maximum": 100, "description": "Risk score 0-100 (higher = safer)" },
          "confidence": { "type": "string", "enum": ["Low", "Medium", "High"], "description": "Data confidence level" },
          "redFlags": { "type": "array", "items": { "type": "string" }, "description": "Detected risk signals" },
          "greenFlags": { "type": "array", "items": { "type": "string" }, "description": "Positive safety signals" },
          "recommendedAction": { "type": "string", "description": "Suggested action for this token" },
          "verdictCopy": { "type": "string", "description": "Human-readable verdict explanation" },
          "narrative": { "type": "object", "description": "Narrative analysis with summary, tone, and key points", "properties": {
            "summary": { "type": "string" },
            "tone": { "type": "string" },
            "confidence": { "type": "string" }
          }},
          "factors": { "type": "array", "description": "7 risk factors with scores", "items": { "type": "object", "properties": {
            "name": { "type": "string" },
            "score": { "type": "integer" },
            "maxScore": { "type": "integer" },
            "status": { "type": "string", "enum": ["safe", "warning", "danger", "critical", "unknown"] },
            "explanation": { "type": "string" }
          }}}
        }
      },
      "WhaleResult": {
        "type": "object",
        "properties": {
          "tokenAddress": { "type": "string" },
          "whaleSignal": { "type": "string", "enum": ["accumulation", "selling", "mixed", "neutral", "unknown"], "description": "Whale behavior signal" },
          "whaleScore": { "type": "integer", "minimum": 0, "maximum": 100, "description": "Whale activity score" },
          "confidence": { "type": "string", "enum": ["low", "medium", "high"], "description": "Data confidence level" },
          "netWhaleFlowUsd": { "type": "number", "description": "Net whale flow in USD (positive = buying)" },
          "whaleBuyVolumeUsd": { "type": "number" },
          "whaleSellVolumeUsd": { "type": "number" },
          "whaleBuyCount": { "type": "integer" },
          "whaleSellCount": { "type": "integer" },
          "suspiciousWalletMovement": { "type": "boolean" },
          "explanation": { "type": "string", "description": "Human-readable whale analysis" },
          "warnings": { "type": "array", "items": { "type": "string" } }
        }
      },
      "FeedToken": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "description": "Token mint address" },
          "symbol": { "type": "string", "description": "Token ticker" },
          "name": { "type": "string", "description": "Token name" },
          "marketCap": { "type": "number", "description": "Market cap in USD" },
          "liquidity": { "type": "number", "description": "Liquidity in USD" },
          "volume5m": { "type": "number", "description": "5-minute volume in USD" },
          "priceChange": { "type": "number", "description": "5-minute price change %" },
          "buys": { "type": "integer", "description": "5-minute buy count" },
          "sells": { "type": "integer", "description": "5-minute sell count" },
          "categories": { "type": "array", "items": { "type": "string" }, "description": "Token categories (new_mint, trending, etc)" },
          "riskClassification": { "type": "string", "enum": ["CLEAN", "WATCH", "RISKY", "DANGER", "UNKNOWN"], "description": "Quick risk classification" },
          "momentumScore": { "type": "integer", "minimum": 0, "maximum": 100, "description": "Momentum score" },
          "source": { "type": "string", "description": "Token source (Pump.fun, Raydium)" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "Error message" }
        }
      }
    }
  }
}
