{
  "openapi": "3.1.0",
  "info": {
    "title": "Arkham x402",
    "description": "Pay-per-request Arkham wallet intelligence and market data API protected by x402.",
    "version": "1.0.0",
    "x-guidance": "# Arkham x402 API\n\nArkham x402 exposes stateless Arkham wallet intelligence endpoints at the service root. All paid routes use x402 payments.\n\nWhen to use:\n- Pre-trade wallet due diligence before copy-trading or taking counterparty exposure.\n- Counterparty and smart-money analysis, including token flow monitoring.\n- Balance, portfolio, and historical portfolio tracking.\n- Token and broader market intelligence for trading decisions.\n- Polymarket market, wallet, position, and activity intelligence.\n\nUse POST requests with JSON bodies. Path parameters from Arkham are supplied as body fields. Extra fields become Arkham query parameters. Address fields are canonicalized at ingress: EVM addresses are lowercased, Solana addresses are preserved.\n\nPricing is $0.20 per Arkham credit. The free chains, networks/status, and arkm/circulating endpoints use SIWX sign-in instead of payment. Per-row endpoints such as transfers and swaps price from request limit, defaulting to the upstream page size of 20 when omitted, so agents should pass the smallest useful limit. Failed upstream Arkham requests are not charged.\n\nRate limits are per payer wallet and endpoint. Most endpoints allow 20 requests/sec. Heavy endpoints allow 1 request/sec: transfers, transfers/unenriched, transfers/histogram, swaps, token/top, token/top_flow, token/volume, intelligence/search, counterparties, and flow.\n\n## Error handling\n\n- 402 with PAYMENT-REQUIRED: this is the payment challenge, not an application error. Pay and retry the identical request with PAYMENT-SIGNATURE.\n- 402 without PAYMENT-REQUIRED after payment: verification failed. Read the new challenge and re-sign; retry once.\n- 400: validation failed or required body fields are missing. Fatal for the request as written; fix it before retrying. Not charged.\n- 404: the upstream Arkham resource does not exist. Fatal for the same input. Not charged.\n- 429: the payer wallet exceeded its endpoint rate limit. Retry with at least 1 second of backoff; keep heavy endpoints at no more than 1 request/second.\n- 5xx, including 502 and 504: Arkham failed or timed out. Retry with backoff. x402 payments are not settled for failed requests.\n\nExamples:\n- POST /search { \"query\": \"Coinbase\", \"arkhamEntities\": 3, \"tokens\": 2 }\n- POST /intelligence/entity-summary { \"entity\": \"coinbase\" }\n- POST /balances/address { \"chains\": \"ethereum\", \"address\": \"0x...\" }\n\nStateful Arkham account mutation routes such as alerts, private labels/entities, and WebSocket session lifecycle are intentionally not exposed.",
    "guidance": "# Arkham x402 API\n\nArkham x402 exposes stateless Arkham wallet intelligence endpoints at the service root. All paid routes use x402 payments.\n\nWhen to use:\n- Pre-trade wallet due diligence before copy-trading or taking counterparty exposure.\n- Counterparty and smart-money analysis, including token flow monitoring.\n- Balance, portfolio, and historical portfolio tracking.\n- Token and broader market intelligence for trading decisions.\n- Polymarket market, wallet, position, and activity intelligence.\n\nUse POST requests with JSON bodies. Path parameters from Arkham are supplied as body fields. Extra fields become Arkham query parameters. Address fields are canonicalized at ingress: EVM addresses are lowercased, Solana addresses are preserved.\n\nPricing is $0.20 per Arkham credit. The free chains, networks/status, and arkm/circulating endpoints use SIWX sign-in instead of payment. Per-row endpoints such as transfers and swaps price from request limit, defaulting to the upstream page size of 20 when omitted, so agents should pass the smallest useful limit. Failed upstream Arkham requests are not charged.\n\nRate limits are per payer wallet and endpoint. Most endpoints allow 20 requests/sec. Heavy endpoints allow 1 request/sec: transfers, transfers/unenriched, transfers/histogram, swaps, token/top, token/top_flow, token/volume, intelligence/search, counterparties, and flow.\n\n## Error handling\n\n- 402 with PAYMENT-REQUIRED: this is the payment challenge, not an application error. Pay and retry the identical request with PAYMENT-SIGNATURE.\n- 402 without PAYMENT-REQUIRED after payment: verification failed. Read the new challenge and re-sign; retry once.\n- 400: validation failed or required body fields are missing. Fatal for the request as written; fix it before retrying. Not charged.\n- 404: the upstream Arkham resource does not exist. Fatal for the same input. Not charged.\n- 429: the payer wallet exceeded its endpoint rate limit. Retry with at least 1 second of backoff; keep heavy endpoints at no more than 1 request/second.\n- 5xx, including 502 and 504: Arkham failed or timed out. Retry with backoff. x402 payments are not settled for failed requests.\n\nExamples:\n- POST /search { \"query\": \"Coinbase\", \"arkhamEntities\": 3, \"tokens\": 2 }\n- POST /intelligence/entity-summary { \"entity\": \"coinbase\" }\n- POST /balances/address { \"chains\": \"ethereum\", \"address\": \"0x...\" }\n\nStateful Arkham account mutation routes such as alerts, private labels/entities, and WebSocket session lifecycle are intentionally not exposed.",
    "contact": {
      "name": "Arkham Intelligence",
      "email": "api@arkm.com",
      "url": "https://api.arkm.com/x402"
    }
  },
  "servers": [
    {
      "url": "https://api.arkm.com/x402"
    }
  ],
  "tags": [
    {
      "name": "Arkm"
    },
    {
      "name": "Balances"
    },
    {
      "name": "Chains"
    },
    {
      "name": "Cluster"
    },
    {
      "name": "Counterparties"
    },
    {
      "name": "Flow"
    },
    {
      "name": "History"
    },
    {
      "name": "Intelligence"
    },
    {
      "name": "Loans"
    },
    {
      "name": "Marketdata"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Polymarket"
    },
    {
      "name": "Portfolio"
    },
    {
      "name": "Search"
    },
    {
      "name": "Swaps"
    },
    {
      "name": "Tag"
    },
    {
      "name": "Token"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Tx"
    },
    {
      "name": "Volume"
    },
    {
      "name": "Ws"
    }
  ],
  "paths": {
    "/arkm/circulating": {
      "post": {
        "operationId": "arkm_circulating",
        "summary": "Get ARKM circulating supply",
        "tags": [
          "Arkm"
        ],
        "security": [
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "description": "Authentication Required"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "description": "Get ARKM circulating supply. Free with SIWX sign-in."
      }
    },
    "/balances/address": {
      "post": {
        "operationId": "balances_address",
        "summary": "Get Arkham token balances for an address",
        "tags": [
          "Balances"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.20"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The blockchain address to query balances for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bsc'). If omitted, returns balances across all s\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "address": "0x28C6c06298d514Db089934071355E5743bf21d60"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham token balances for an address. $0.20 per call."
      }
    },
    "/balances/entity": {
      "post": {
        "operationId": "balances_entity",
        "summary": "Get Arkham token balances for an entity",
        "tags": [
          "Balances"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The entity ID to query balances for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bsc'). If omitted, returns balances across all s\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "cheap": {
                    "description": "If 'true', uses a faster but less real-time balance query (up to 24 hours delayed).",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "entity"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "entity": "binance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham token balances for an entity. $1.00 per call."
      }
    },
    "/balances/solana/subaccounts/address": {
      "post": {
        "operationId": "balances_solana_subaccounts_address",
        "summary": "Get Solana subaccount balances for addresses",
        "tags": [
          "Balances"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.20"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "Comma-separated list of Solana addresses to query subaccount balances for."
                  },
                  "limit": {
                    "description": "Maximum number of subaccount balance entries to return. Default: 1000.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "pricingID": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The CoinGecko pricing ID of the token to query subaccount balances for. Filters results to balances of this token."
                  }
                },
                "required": [
                  "addresses",
                  "pricingID"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "addresses": "GxDDTT1zqgH2aNgdoyDvEgvHdsLq91JAExCTao7c5GT4",
                "pricingID": "jito-staked-sol"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Solana subaccount balances for addresses. $0.20 per call."
      }
    },
    "/balances/solana/subaccounts/entity": {
      "post": {
        "operationId": "balances_solana_subaccounts_entity",
        "summary": "Get Solana subaccount balances for entities",
        "tags": [
          "Balances"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.60"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "Comma-separated list of entity IDs to query subaccount balances for."
                  },
                  "limit": {
                    "description": "Maximum number of subaccount balance entries to return. Default: 1000.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "pricingID": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The CoinGecko pricing ID of the token to query subaccount balances for. Filters results to balances of this token."
                  }
                },
                "required": [
                  "entities",
                  "pricingID"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "entities": "binance,coinbase",
                "pricingID": "tensor"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Solana subaccount balances for entities. $0.60 per call."
      }
    },
    "/chains": {
      "post": {
        "operationId": "chains",
        "summary": "List Arkham-supported chains",
        "tags": [
          "Chains"
        ],
        "security": [
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "description": "Authentication Required"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "description": "List Arkham-supported chains. Free with SIWX sign-in."
      }
    },
    "/cluster/summary": {
      "post": {
        "operationId": "cluster_summary",
        "summary": "Get Arkham cluster summary statistics",
        "tags": [
          "Cluster"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.20"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The ID of the cluster to summarize."
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "id": "00000002aae817c1a0d2ec3c91ede74c64c92c83658decdad52b591451948d75a9ca"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham cluster summary statistics. $0.20 per call."
      }
    },
    "/counterparties/address": {
      "post": {
        "operationId": "counterparties_address",
        "summary": "Get top Arkham counterparties for an address",
        "tags": [
          "Counterparties"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The address to query counterparties for. A comma-separated list is also accepted \u2014 their counterparties are aggregated\u2026"
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'base,bsc'). If omitted, returns counterparties across all\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "flow": {
                    "description": "Transfer direction. Only \"in\" or \"out\" are accepted (omit for both directions).",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "limit": {
                    "description": "Maximum number of results to return. Default: 20. Max: 1000.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "tags": {
                    "description": "List of counterparty tags to filter by.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeGte": {
                    "description": "Filter to activity after this time. Accepts RFC 3339, Unix seconds/ms, or YYYY-MM-DD.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeLast": {
                    "description": "Filter to activity within this duration before now (e.g. 24h, 7d). Cannot be combined with timeGte/timeLte.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeLte": {
                    "description": "Filter to activity before this time. Accepts RFC 3339, Unix seconds/ms, or YYYY-MM-DD.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "tokens": {
                    "description": "Comma-separated list of token addresses or token IDs; matches counterparties involving any of them.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "usdGte": {
                    "description": "Filter to counterparties whose aggregated USD volume is at least this value.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "address": "0x28C6c06298d514Db089934071355E5743bf21d60"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get top Arkham counterparties for an address. $10.00 per call."
      }
    },
    "/counterparties/entity": {
      "post": {
        "operationId": "counterparties_entity",
        "summary": "Get top Arkham counterparties for an entity",
        "tags": [
          "Counterparties"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The entity ID to query counterparties for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'base,bsc'). If omitted, returns counterparties across all\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "flow": {
                    "description": "Transfer direction. Only \"in\" or \"out\" are accepted (omit for both directions).",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "limit": {
                    "description": "Maximum number of results to return. Default: 20. Max: 1000.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "tags": {
                    "description": "List of counterparty tags to filter by.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeGte": {
                    "description": "Filter to activity after this time. Accepts RFC 3339, Unix seconds/ms, or YYYY-MM-DD.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeLast": {
                    "description": "Filter to activity within this duration before now (e.g. 24h, 7d). Cannot be combined with timeGte/timeLte.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "timeLte": {
                    "description": "Filter to activity before this time. Accepts RFC 3339, Unix seconds/ms, or YYYY-MM-DD.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "tokens": {
                    "description": "Comma-separated list of token addresses or token IDs; matches counterparties involving any of them.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "usdGte": {
                    "description": "Filter to counterparties whose aggregated USD volume is at least this value.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "entity"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "entity": "vitalik-buterin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get top Arkham counterparties for an entity. $10.00 per call."
      }
    },
    "/flow/address": {
      "post": {
        "operationId": "flow_address",
        "summary": "Get Arkham historical USD flows for an address",
        "tags": [
          "Flow"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.40"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The blockchain address to query flow data for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bsc'). If omitted, returns data across all suppo\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "address": "0x28C6c06298d514Db089934071355E5743bf21d60"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham historical USD flows for an address. $0.40 per call."
      }
    },
    "/flow/entity": {
      "post": {
        "operationId": "flow_entity",
        "summary": "Get Arkham historical USD flows for an entity",
        "tags": [
          "Flow"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.60"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The entity ID to query flow data for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bitcoin'). If omitted, returns data across all s\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "entity"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "entity": "binance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham historical USD flows for an entity. $0.60 per call."
      }
    },
    "/history/address": {
      "post": {
        "operationId": "history_address",
        "summary": "Get Arkham historical data for an address",
        "tags": [
          "History"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.20"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The blockchain address to query historical data for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bsc'). If omitted, returns data across all suppo\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "address": "0x28C6c06298d514Db089934071355E5743bf21d60"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham historical data for an address. $0.20 per call."
      }
    },
    "/history/entity": {
      "post": {
        "operationId": "history_entity",
        "summary": "Get Arkham historical data for an entity",
        "tags": [
          "History"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.40"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The entity ID to query historical data for."
                  },
                  "chains": {
                    "description": "Chains to filter by, as a single comma-separated value (e.g. 'ethereum,bitcoin'). If omitted, returns data across all s\u2026",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "entity"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "entity": "binance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham historical data for an entity. $0.40 per call."
      }
    },
    "/intelligence/address-all": {
      "post": {
        "operationId": "intelligence_address-all",
        "summary": "Get Arkham intelligence for an address across all chains",
        "tags": [
          "Intelligence"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.40"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The blockchain address to query across all compatible chains."
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "address": "0x28C6c06298d514Db089934071355E5743bf21d60"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Get Arkham intelligence for an address across all chains. $0.40 per call."
      }
    },
    "/intelligence/address-batch-all": {
      "post": {
        "operationId": "intelligence_address-batch-all",
        "summary": "Fetch Arkham address intelligence in batch, all chains",
        "tags": [
          "Intelligence"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "100.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "Array of blockchain addresses to query (max 1000). Supports EVM, Solana, Bitcoin, Tron, and other address formats."
                  },
                  "chain": {
                    "description": "Single blockchain network to filter all addresses to. If omitted, auto-detects per address.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "chains": {
                    "description": "List of chains to filter by. If omitted, auto-detects the best chain.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "addresses"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "addresses": [
                  "0x28C6c06298d514Db089934071355E5743bf21d60"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Fetch Arkham address intelligence in batch, all chains. $100.00 per call."
      }
    },
    "/intelligence/address-batch": {
      "post": {
        "operationId": "intelligence_address-batch",
        "summary": "Fetch Arkham address intelligence in batch",
        "tags": [
          "Intelligence"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "50.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "Array of blockchain addresses to query (max 1000). Supports EVM, Solana, Bitcoin, Tron, and other address formats."
                  },
                  "chain": {
                    "description": "Single blockchain network to filter all addresses to. If omitted, auto-detects per address.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "chains": {
                    "description": "List of chains to filter by. If omitted, auto-detects the best chain.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "addresses"
                ],
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "example": {
                "addresses": [
                  "0x28C6c06298d514Db089934071355E5743bf21d60"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired402"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "5XX": {
            "$ref": "#/components/responses/UpstreamError5xx"
          }
        },
        "security": [],
        "description": "Fetch Arkham address intelligence in batch. $50.00 per call."
      }
    },
    "/intelligence/address-enriched-all": {
      "post": {
        "operationId": "intelligence_address-enriched-all",
        "summary": "Get enriched Arkham intelligence for an address, all chains",
        "tags": [
          "Intelligence"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.80"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ],
                    "description": "The blockchain address to query across all compatible chains."
                  },
                  "includeClusters": {
                    "description": "Whether to include cluster IDs in the response. Defaults to 'true'.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "includeEntityPredictions": {
                    "description": "Whether to include entity predictions in the response. Defaults to 'true'.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
[...]
