{
  "openapi": "3.1.0",
  "info": {
    "title": "Gnosis Pay Card via x402",
    "version": "0.1.0",
    "description": "Bridge USDC from Solana or Base to a Gnosis Pay Safe, or onboard to a Gnosis Pay virtual card — all via x402 payments.",
    "contact": { "email": "info@hfsp.xyz" }
  },
  "servers": [{ "url": "https://card.hfsp.cloud" }],
  "paths": {
    "/api/card/topup/quote": {
      "get": {
        "summary": "Get bridge quote",
        "description": "Returns fee breakdown, estimated arrival time, and payTo address. No payment required.",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount of USDC to bridge (1–10000)",
            "schema": { "type": "number", "minimum": 1, "maximum": 10000, "example": 50 }
          },
          {
            "name": "safeAddress",
            "in": "query",
            "required": true,
            "description": "Gnosis Pay Safe address (0x...)",
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Destination token on Gnosis Chain",
            "schema": { "type": "string", "enum": ["USDC", "EURe", "GBPe"], "default": "USDC" }
          },
          {
            "name": "sourceChain",
            "in": "query",
            "required": false,
            "description": "Source chain to pay from",
            "schema": { "type": "string", "enum": ["solana", "base"], "default": "solana" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote with fee breakdown and payTo address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "quote": {
                      "type": "object",
                      "properties": {
                        "youPay": { "type": "string", "example": "50 USDC (Solana)" },
                        "youReceive": { "type": "string", "example": "49.7200 USDC (Gnosis Chain)" },
                        "bridgeFee": { "type": "string", "example": "$0.0800 USDC" },
                        "serviceFee": { "type": "string", "example": "$0.2500 USDC (0.5%)" },
                        "estimatedTime": { "type": "string", "example": "~2 min" },
                        "safeAddress": { "type": "string" },
                        "dstTokenAddress": { "type": "string" }
                      }
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "payTo": { "type": "string" },
                        "asset": { "type": "string" },
                        "network": { "type": "string", "example": "solana-mainnet" },
                        "amount": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid parameters" },
          "502": { "description": "Bridge quote unavailable" }
        }
      }
    },
    "/api/card/topup": {
      "post": {
        "summary": "Top up Gnosis Pay Safe",
        "description": "Submit Solana tx signature in X-Payment header. Bridges USDC to Gnosis Chain Safe via Relay.link.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": true,
            "description": "Solana tx signature (base58) or Base tx hash (0x...) for the USDC transfer",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Payment-Chain",
            "in": "header",
            "required": false,
            "description": "Source chain (solana or base) — auto-detected from signature format if omitted",
            "schema": { "type": "string", "enum": ["solana", "base"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "safeAddress"],
                "properties": {
                  "amount": { "type": "number", "minimum": 1, "maximum": 10000, "example": 50 },
                  "safeAddress": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
                  "currency": { "type": "string", "enum": ["USDC", "EURe", "GBPe"], "default": "USDC" },
                  "sourceChain": { "type": "string", "enum": ["solana", "base"], "default": "solana" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bridge order submitted — poll /api/card/topup/:orderId for status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "orderId": { "type": "string" },
                    "status": { "type": "string" },
                    "srcTxHash": { "type": "string" },
                    "safeAddress": { "type": "string" },
                    "currency": { "type": "string" },
                    "message": { "type": "string" },
                    "poll": { "type": "string", "example": "/api/card/topup/abc123" }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment invalid, insufficient, or already used" },
          "409": { "description": "Payment signature already used" },
          "502": { "description": "Bridge submission failed" }
        }
      }
    },
    "/api/card/topup/{orderId}": {
      "get": {
        "summary": "Poll bridge order status",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Current bridge order status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "orderId": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "in_progress", "fulfilled", "failed"] },
                    "srcTxHash": { "type": "string" },
                    "dstTxHash": { "type": ["string", "null"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/card/onboard/nonce": {
      "get": {
        "summary": "Get SIWE nonce (onboarding step 1)",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Nonce for SIWE message construction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "nonce": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/card/onboard/session": {
      "post": {
        "summary": "Verify SIWE signature + create session (onboarding step 2)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["walletAddress", "siweMessage", "signature"],
                "properties": {
                  "walletAddress": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
                  "siweMessage": { "type": "string" },
                  "signature": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created — use sessionId in POST /api/card/onboard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "sessionId": { "type": "string", "format": "uuid" },
                    "status": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "description": "SIWE verification failed" }
        }
      }
    },
    "/api/card/onboard": {
      "post": {
        "summary": "Pay onboarding fee via x402 (onboarding step 3)",
        "description": "Submit payment for Gnosis Pay onboarding. Unlocks KYC, Safe deployment, and card issuance.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": true,
            "description": "Solana tx signature for the onboarding fee (USDC)",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId"],
                "properties": {
                  "sessionId": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding activated — follow nextSteps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "sessionId": { "type": "string" },
                    "status": { "type": "string" },
                    "nextSteps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step": { "type": "integer" },
                          "action": { "type": "string" },
                          "endpoint": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment invalid or insufficient" },
          "409": { "description": "Payment already used" }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": { "description": "Service is up" }
        }
      }
    }
  }
}
