{
  "openapi": "3.1.0",
  "info": {
    "title": "ByKaranteli crypto derivatives data",
    "version": "1.0.0",
    "description": "Crypto derivatives market structure recorded around the clock. The live snapshots are free and unmetered; the endpoints listed here sell depth and history per call over the x402 protocol.",
    "x-guidance": "Free endpoints under /api/public/* need no payment or key. The /api/x402/* endpoints answer HTTP 402 with machine-readable payment requirements and settle in USDC on Solana or Base per successful response. A failed response settles nothing.",
    "contact": {
      "email": "support@bykaranteli.com",
      "url": "https://bykaranteli.com/developers"
    },
    "license": {
      "name": "Data: CC0 for published datasets",
      "url": "https://bykaranteli.com/data"
    }
  },
  "servers": [
    {
      "url": "https://bykaranteli.com"
    }
  ],
  "paths": {
    "/api/x402": {
      "get": {
        "summary": "List paid endpoints, prices and settlement rails",
        "description": "Machine-readable catalog of the paid endpoints: per-call price in USD, the accepted settlement networks and the pay-to addresses. No payment required.",
        "operationId": "x402Catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Catalog of paid endpoints, prices and settlement rails"
          }
        }
      }
    },
    "/api/x402/liqmap-levels": {
      "get": {
        "summary": "Fetch the multi-exchange liquidation map for one perp",
        "description": "Full liquidation map snapshot for a Binance USDT-M perp: modeled leverage clusters, real forceOrder levels aggregated across Binance, Bybit, OKX, Gate, HTX and Hyperliquid, top magnets, funding, open interest and orderbook context.",
        "operationId": "liqmap-levels",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-flow": {
      "get": {
        "summary": "Fetch Deribit options tape history and big prints",
        "description": "BTC or ETH options tape depth from recorded Deribit flow: daily premium-flow history plus the full big-print list. The 24h summary alone is unmetered at /api/public/options-flow.",
        "operationId": "options-flow",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/flow-vpin": {
      "get": {
        "summary": "Fetch VPIN order-flow toxicity history for BTC, ETH, SOL",
        "description": "Order flow toxicity (VPIN) history for BTC, ETH and SOL in one response: 90-day daily VPIN track with closes plus the last 500 volume buckets. The live snapshot alone is unmetered at /api/public/flow.",
        "operationId": "flow-vpin",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    }
  }
}
