{
  "openapi": "3.1.0",
  "info": {
    "title": "ByKaranteli crypto derivatives data",
    "version": "1.0.0",
    "description": "Crypto derivatives market structure recorded around the clock. The live snapshots are free and unmetered; the endpoints listed here sell depth and history per call over the x402 protocol.",
    "x-guidance": "Free endpoints under /api/public/* need no payment or key. The /api/x402/* endpoints answer HTTP 402 with machine-readable payment requirements and settle in USDC on Solana or Base per successful response. A failed response settles nothing.",
    "contact": {
      "email": "support@bykaranteli.com",
      "url": "https://bykaranteli.com/developers"
    },
    "license": {
      "name": "Data: CC0 for published datasets",
      "url": "https://bykaranteli.com/data"
    }
  },
  "servers": [
    {
      "url": "https://bykaranteli.com"
    }
  ],
  "paths": {
    "/api/x402": {
      "get": {
        "summary": "List paid endpoints, prices and settlement rails",
        "description": "Machine-readable catalog of the paid endpoints: per-call price in USD, the accepted settlement networks and the pay-to addresses. No payment required.",
        "operationId": "x402Catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Catalog of paid endpoints, prices and settlement rails"
          }
        }
      }
    },
    "/api/x402/liqmap-levels": {
      "get": {
        "summary": "Fetch the multi-exchange liquidation map for one perp",
        "description": "Full multi-exchange liquidation map snapshot for a Binance USDT-M perp: modeled leverage clusters, real forceOrder levels, top magnets, funding, OI and orderbook context.",
        "operationId": "liqmap-levels",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-flow": {
      "get": {
        "summary": "Fetch Deribit options tape history and big prints",
        "description": "BTC or ETH options tape depth from recorded Deribit flow: daily premium-flow history plus the full big-print list.",
        "operationId": "options-flow",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/flow-vpin": {
      "get": {
        "summary": "Fetch VPIN order-flow toxicity history for BTC, ETH, SOL",
        "description": "Order flow toxicity (VPIN) history for BTC, ETH and SOL: 90-day daily track plus the last 500 volume buckets.",
        "operationId": "flow-vpin",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/premium-history": {
      "get": {
        "summary": "Fetch daily Coinbase premium history for BTC and ETH",
        "description": "Daily Coinbase premium history: the Coinbase versus offshore price spread per day, the classic read on United States spot demand, with both leg prices.",
        "operationId": "premium-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/cot-history": {
      "get": {
        "summary": "Fetch CFTC Commitments of Traders history for crypto futures",
        "description": "Full CFTC Commitments of Traders weekly history for crypto futures: dealer, asset manager, leveraged fund, other reportable and non reportable long and short positions plus open interest per report.",
        "operationId": "cot-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/liquidations-raw": {
      "get": {
        "summary": "Fetch individual recorded liquidation events per venue",
        "description": "Individual liquidation events recorded from our own exchange sockets across Binance, Bybit and OKX: side, price, quantity, notional, venue and millisecond timestamp.",
        "operationId": "liquidations-raw",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/oi-history": {
      "get": {
        "summary": "Fetch 5-minute open interest history for major perps",
        "description": "Five minute open interest history for the major perpetuals in base units and USD, normalised across symbols and retained on our side, so one query replaces per-symbol paginated pulls against exchange endpoints.",
        "operationId": "oi-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/funding-history": {
      "get": {
        "summary": "Fetch settled funding rate history per symbol and venue",
        "description": "Settled funding rate history per symbol and venue, the series behind carry and basis work.",
        "operationId": "funding-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-oi-history": {
      "get": {
        "summary": "Fetch daily listed options open interest per instrument",
        "description": "Daily listed options open interest per instrument: strike, expiry, option type, open interest, mark implied volatility, underlying price and traded notional.",
        "operationId": "options-oi-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/dvol-history": {
      "get": {
        "summary": "Fetch daily BTC and ETH implied volatility index history",
        "description": "Daily implied volatility index history for BTC and ETH going back to 2021, the crypto equivalent of a VIX series.",
        "operationId": "dvol-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/slippage-history": {
      "get": {
        "summary": "Fetch hourly execution slippage ladders per symbol",
        "description": "Hourly recorded execution slippage ladders per symbol: what a given order size would actually cost against the live book at that hour.",
        "operationId": "slippage-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/listings-history": {
      "get": {
        "summary": "Fetch perpetual listing and delisting event history",
        "description": "Perpetual listing and delisting events across six exchanges with first seen, last seen and delisted timestamps per instrument, the record behind listing driven volatility studies.",
        "operationId": "listings-history",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/spot-microstructure": {
      "get": {
        "summary": "Fetch minute bars with the taker-buy quote volume split",
        "description": "Minute bars with the taker buy versus total quote volume split, pre-joined across venues and kept beyond exchange retention: the raw input behind order flow imbalance and VPIN work, in one query instead of paginating an exchange API per symbol per venue.",
        "operationId": "spot-microstructure",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    }
  }
}
