{
  "openapi": "3.1.0",
  "info": {
    "title": "ByKaranteli crypto derivatives data",
    "version": "1.0.0",
    "description": "Crypto derivatives market structure recorded around the clock. Live snapshots are free with an account key; the endpoints listed here sell depth and history per call over the x402 protocol.",
    "x-guidance": "Each /api/x402/* endpoint answers HTTP 402 with machine-readable payment requirements and settles in USDC on Solana or Base per successful response; a failed response settles nothing. Query parameters narrow the rows (symbol, exchange, from, to, limit where listed); the free GET /api/x402 returns the same catalog with prices and parameters.",
    "contact": {
      "email": "support@bykaranteli.com",
      "url": "https://bykaranteli.com/developers"
    },
    "license": {
      "name": "ByKaranteli Data Licence",
      "url": "https://bykaranteli.com/data#license"
    }
  },
  "servers": [
    {
      "url": "https://bykaranteli.com"
    }
  ],
  "paths": {
    "/api/x402/liqmap-levels": {
      "get": {
        "summary": "Fetch the multi-exchange liquidation map for one perp",
        "description": "Full multi-exchange liquidation map snapshot for a Binance USDT-M perp: modeled leverage clusters, real forceOrder levels, top magnets, funding, OI and orderbook context.",
        "operationId": "liqmap-levels",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Ticker covered by LiqMap, e.g. BTC, ETH or SOL, with or without the USDT suffix (default BTC); the list is at https://bykaranteli.com/liqmap",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Lookback window for the position model: 1h, 4h, 12h, 24h, 3d, 1w or 30d (default 24h)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leverage",
            "in": "query",
            "required": false,
            "description": "Leverage group, default all: all, low (5x and 10x), medium (25x) or high (50x and 100x)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "One venue's model instead of the multi-venue merge, default all: all, binance, bybit, okx, gate, htx or hyperliquid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-flow": {
      "get": {
        "summary": "Fetch the BTC or ETH options tape with its big prints",
        "description": "BTC or ETH options tape depth from our own recorded Deribit and OKX flow: the daily premium-flow history plus the full big-print list with strike, expiry, direction, premium, implied volatility and venue.",
        "operationId": "options-flow",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "BTC or ETH (default BTC)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/flow-vpin": {
      "get": {
        "summary": "Fetch VPIN order-flow toxicity history for BTC, ETH and SOL",
        "description": "Order flow toxicity (VPIN) history for BTC, ETH and SOL: 90-day daily VPIN track with closes plus the last 500 volume buckets.",
        "operationId": "flow-vpin",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/cot-history": {
      "get": {
        "summary": "Fetch CFTC COT weekly history with the dealer books",
        "description": "CFTC Commitments of Traders weekly history for crypto futures with the columns the free CSV does not carry: dealer long and short books and week-over-week change in open interest, alongside every participant class. The free download covers hedge fund, institutional, other reportable and small trader positions.",
        "operationId": "cot-history",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 3000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/liquidations-raw": {
      "get": {
        "summary": "Fetch raw liquidation events across venues",
        "description": "Individual liquidation events recorded from our own exchange sockets across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter and Kraken Futures, plus Deribit's hourly delayed flag: side, price, quantity, notional, venue and millisecond timestamp. Coverage per venue: /api/public/liquidations. History from 2026-07-30 (rolling window; rows before that date do not exist).",
        "operationId": "liquidations-raw",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/liquidation-leaderboard-history": {
      "get": {
        "summary": "Fetch the daily ranking of the largest liquidation prints",
        "description": "Per-day ranking of the largest single liquidation prints across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter and Kraken Futures: up to 100 ranks per finalized UTC day since the event store began, with symbol, venue, side (SELL = a long was liquidated), price, quantity, notional and millisecond event time, filterable by symbol and venue. The free CSV carries the top 10 per day; the free page and API rank only the last 24 hours to 30 days.",
        "operationId": "liquidation-leaderboard-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 10000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/networks-history": {
      "get": {
        "summary": "Fetch every version of venue withdrawal network rows",
        "description": "Every recorded version of each asset and network row on every venue we record (20+ exchanges): deposit flag, withdrawal flag, withdrawal fee and minimum, with valid_from and valid_to, so withdrawal suspensions can be dated and their duration measured. The free endpoint serves only the current table.",
        "operationId": "networks-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional asset, e.g. USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue id: kucoin | gate | htx | bitget ...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, valid_from lower bound",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/leverage-tiers-history": {
      "get": {
        "summary": "Fetch every version of perpetual leverage ladders per venue",
        "description": "Every recorded version of each perpetual's leverage ladder on every venue whose ladders we read: tier, notional floor and cap, maximum leverage and maintenance margin, with valid_from and valid_to so leverage cuts can be dated. The free endpoint serves only the current ladder.",
        "operationId": "leverage-tiers-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional base asset, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue id: bybit | okx | gate | htx | bitget | mexc ...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, valid_from lower bound",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/oi-history": {
      "get": {
        "summary": "Fetch five-minute open interest history for major perps",
        "description": "Five minute open interest history for the major perpetuals in base units and USD, normalised across symbols and retained on our side, so one query replaces per-symbol paginated pulls against exchange endpoints.",
        "operationId": "oi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tradfi-oi-history": {
      "get": {
        "summary": "Fetch five-minute open interest history for TradFi perps",
        "description": "Five minute open interest history for the top-40 Binance TradFi perpetuals (US, HK, KR and CN equities, commodities, indices) in base units and USD, recorded on our side from 2026-09-02; the free /api/public/tradfi board only carries the live value.",
        "operationId": "tradfi-oi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. TSLAUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tradfi-funding-history": {
      "get": {
        "summary": "Fetch settled funding history for Binance TradFi perps",
        "description": "Settled funding rate history of the top-40 Binance TradFi perpetuals at per-settlement granularity, recorded from 2026-09-02; the free board only carries the last settled rate.",
        "operationId": "tradfi-funding-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. TSLAUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/indicators-events": {
      "get": {
        "summary": "Fetch Bitcoin cycle indicator crossings with forward returns",
        "description": "Every day since 2012 on which a Bitcoin cycle indicator crossed a canonical band (Pi Cycle top cross and reset, Mayer Multiple 2.4 and 0.8, Puell Multiple 4 and 0.5, 200-week MA, 2-year MA x5, golden ratio 1.6/2/3/5, profitable days 95% and 50%), with the BTC close on the day and the forward 7, 30, 90, 180 and 365-day returns that followed. Computed over recorded daily closes (Bitstamp 2012-2017, Binance since); the free endpoint carries the levels without the event tape or forward returns.",
        "operationId": "indicators-events",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional: indicator key pi_cycle|mayer|puell|ma200w|ma2y|golden_ratio|profitable_days",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, default 1000, max 5000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/rsi-history": {
      "get": {
        "summary": "Fetch hourly RSI(14) history on eight intervals",
        "description": "Hourly Wilder RSI(14) history for the top-400 Binance crypto perpetuals by volume plus every TradFi perp on 15m, 1h, 4h, 12h, 1d, 3d, 1w and 1M intervals, recorded on our side from 2026-09-02; the free /api/public/rsi board only carries the live values.",
        "operationId": "rsi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTCUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: interval filter, e.g. 4h",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/hl-whale-events": {
      "get": {
        "summary": "Fetch position changes of the largest Hyperliquid accounts",
        "description": "Every recorded position change of the 300 largest Hyperliquid accounts by equity (opened, closed, increased, reduced, flipped) with size before and after, notional changed, entry and liquidation price and leverage, scanned every 5 minutes on our side from 2026-09-02; the free /api/public/hyperliquid-whales returns the live board and only the last 200 events.",
        "operationId": "hl-whale-events",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional coin, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional kind filter: opened | closed | increased | reduced | flipped",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/positioning-history": {
      "get": {
        "summary": "Fetch hourly long/short and taker positioning history",
        "description": "Hourly long/short account and position ratios (Binance global and top-trader, OKX by currency and top-trader, Gate accounts and top traders, HTX elite accounts and positions, Bitget accounts and positions, Kraken Futures all accounts and top 20%), taker buy/sell ratio (Binance), Bybit share of accounts long, OKX and Bitget taker buy share and Gate taker long/short size for the 30 most traded perps on Binance, Bybit, OKX, Gate, HTX, Bitget and Kraken Futures, plus Bitfinex margin long and short position size in coins and the long share on its spot margin book (margin borrowers, not perpetual accounts, from 2026-09-22), plus GMX and Jupiter Perps long and short open interest in USD and the long share (pool-based perpetual DEXes, from 2026-09-23), recorded on our side from 2026-09-02 (Gate, HTX and Bitget from 2026-09-20); the free /api/public/positioning returns only the live board.",
        "operationId": "positioning-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTCUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: binance | bybit | okx | gate | htx | bitget | kraken | bitfinex | gmx | jupiter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-liquidations": {
      "get": {
        "summary": "Generate download links for monthly liquidation event files",
        "description": "Monthly gzip CSV files of every liquidation event we recorded (exchange, symbol, side, price, qty, quote_qty, event_time) across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter, Kraken Futures and Deribit: about 1.5 million rows per month since 2026-07-30. One paid call returns one-hour signed download links for every finalized month plus the current month to date; the free /api/x402/liquidations-raw route returns at most 20k rows per call.",
        "operationId": "bulk-liquidations",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "15.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-derivatives": {
      "get": {
        "summary": "Generate download links for monthly OI and funding files",
        "description": "Monthly gzip CSV files of the derivatives tables: 5-minute Binance open interest per symbol (oi-5m), per-venue funding settlements (funding-settlements) and the 10-minute multi-venue market snapshots (venue-snapshots: price, volume, OI and funding for every venue feed we poll, exchanges and DEXs). One paid call returns one-hour signed links for every finalized month plus the current month to date.",
        "operationId": "bulk-derivatives",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-flow": {
      "get": {
        "summary": "Generate download links for monthly whale and flow files",
        "description": "Monthly gzip CSV files of the flow tables: $1M+ aggressive prints from our own trade sockets (whale-trades), Hyperliquid top-300 position change events (hl-whale-events), hourly long/short and taker statistics (positioning-hourly) and hourly RSI on eight intervals (rsi-hourly). One paid call returns one-hour signed links for every finalized month plus the current month to date.",
        "operationId": "bulk-flow",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/jupiter-history": {
      "get": {
        "summary": "Fetch hourly Jupiter Perps market history",
        "description": "Hourly Jupiter Perps history per market (SOL, ETH, BTC) and metric: exact long and short open interest read from the on-chain custody state (guaranteedUsd, globalShortSizes), long and short pool utilization, hourly borrow rates, custody AUM, price and 24h volume, plus JLP pool AUM, price and APR under market JLP; recorded on our side from 2026-09-02. The free /api/public/jupiter returns the live board and up to 30 days of hourly OI history.",
        "operationId": "jupiter-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional market: SOL | ETH | BTC | JLP",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "string, optional: long_oi_usd | short_oi_usd | long_util_pct | short_util_pct | long_borrow_hourly_pct | short_borrow_hourly_pct | custody_aum_usd | price_usd | volume_24h_usd, and for JLP aum_usd | apr_pct | price_usd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/turkey-premium-history": {
      "get": {
        "summary": "Fetch minute history of the Turkey premium index",
        "description": "Minute history of the Turkey premium index (2026-09-17): the TRY and USDT reference prices built from Turkish spot venues (BtcTurk, Bitlo, CoinTR, OKX TR, Binance TR, Bybit TR, KuCoin TR, Bitexen) as the median mid of eligible books, with eligible and observed venue counts, status, the Binance global USDT price, the ECB USD/TRY fix, the premium in basis points and index_bps, the Turkey Premium Index (total premium against the official rate; the 0-100 score is a fixed published reading of it); optionally the per-venue book rows (best bid and ask, spread, depth within 10 to 100 bps, censoring flag) with exchange=<venue>. The free /api/public/turkey-premium returns the live board and 15-minute points for up to 30 days.",
        "operationId": "turkey-premium-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional pair: BTC-TRY | ETH-TRY | USDT-TRY | BTC-USDT | ETH-USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: a venue id such as btcturk to return that venue's book rows instead of the index",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/insurance-fund-history": {
      "get": {
        "summary": "Fetch hourly insurance fund readings per venue pool",
        "description": "Hourly insurance fund readings per pool on Binance, Bybit, OKX, Gate, MEXC, Bitfinex, Crypto.com, Delta Exchange, dYdX and Paradex: venue, pool (the contracts a pool covers, OKX's instrument family and its published venue total as pool total, a MEXC contract or other for the contracts folded together, a Bitfinex collateral currency, a Delta Exchange asset, or the single fund of Crypto.com, dYdX and Paradex), asset, balance in the asset, USD value (dollar stables 1:1, other assets at our recorded price, null when unpriced) and the number of contracts the pool covers, recorded on our side from 2026-09-23 and kept 35 days. The free /api/public/insurance-funds returns the latest reading and daily closes per venue; the free insurance-funds-daily file carries one row per day, venue and asset.",
        "operationId": "insurance-fund-history",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "description": "string, optional: binance | bybit | okx | gate | mexc | bitfinex | cryptocom | delta | dydx | paradex",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tokenized-stocks-history": {
      "get": {
        "summary": "Fetch hourly tokenized stock wrapper prices and premiums",
        "description": "Hourly readings per tokenized stock wrapper from xStocks, Robinhood Stock Tokens, Coinbase Tokenized Stocks, Binance bStocks, Ondo Stocks, Backpack Securities, Reality (Bitget), Superstate Opening Bell and Figure: the wrapper price (liquidity-weighted median of admitted DEX pools, or the volume-weighted exchange price under chain cex), the real share reference and its session state, the premium in percent, pool liquidity, 24h volume and admitted pools, recorded on our side from 2026-09-23 and kept permanently. The free /api/public/tokenized-stocks returns the latest board, where each wrapper's price_source names the price that valued its supply dollars (reference, issuer_oracle, wrapper, or null when unpriced) and totals.priced_by counts the wrappers per level; the free tokenized-stocks-daily file carries one close per wrapper and day with price_source as its last column.",
        "operationId": "tokenized-stocks-history",
        "parameters": [
          {
            "name": "wrapper",
            "in": "query",
            "required": false,
            "description": "string, required, e.g. TSLAx",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "string, optional: solana | ethereum | bnb | arbitrum | base | robinhood | ton | mantle | optimism | ink | hyperevm | xlayer | tron | linea | morph | provenance | cex",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuer",
            "in": "query",
            "required": false,
            "description": "string, optional: xstocks | robinhood | coinbase | bstocks | ondo | backpack | gstocks | reality | superstate | figure",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "number, optional, 1..366, default 7",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/orderbook-history": {
      "get": {
        "summary": "Fetch five-minute spot order book depth snapshots",
        "description": "5-minute spot order book depth snapshots per venue (Binance, Coinbase, Kraken, Bybit, OKX, Gate, MEXC, HTX, Bitget, Bitstamp, Gemini, Bitfinex, BingX, Crypto.com, Backpack, Binance US, Poloniex, LBank, Bitrue, XT, HashKey, DigiFinex, Bullish, WEEX, Deribit, Aster, Bitvavo, Independent Reserve, BtcTurk; five venues from 2026-09-02, eleven from 2026-09-20, the rest from 2026-09-22) for BTC, ETH, SOL, XRP, DOGE, ADA, LINK, AVAX, LTC and BNB: the book binned into 0.1% price buckets within 20% of mid as USD notional (bids and asks as JSON arrays), 2% depth per side, coverage of the book and level count, and in_aggregate (false for a book we record but hold out of the summed aggregate), recorded on our side from 2026-09-02 and kept 14 days; the free /api/public/orderbook returns the live aggregate and up to 24 hours of summed history.",
        "operationId": "orderbook-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue: binance | coinbase | kraken | bybit | okx | gate | mexc | htx | bitget | bitstamp | gemini | bitfinex | bingx | cryptocom | backpack | binanceus | poloniex | lbank | bitrue | xt | hashkey | digifinex | bullish | weex | deribit | aster | bitvavo | independentreserve | btcturk",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 5000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/funding-history": {
      "get": {
        "summary": "Fetch per-venue settled funding rate history",
        "description": "Settled funding rate history at per-venue, per-settlement granularity (every 8h print with its source exchange), the series behind carry and basis work. The free metric-daily download already carries a single daily BTC funding aggregate; this route is for the venue-level record.",
        "operationId": "funding-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-oi-history": {
      "get": {
        "summary": "Fetch daily options open interest per instrument",
        "description": "Daily listed options open interest per instrument on Deribit, Bybit, Binance, OKX and Delta Exchange: venue, strike, expiry, option type, open interest in coins, mark implied volatility, underlying price and traded notional where the venue publishes it. History per venue: Deribit from 2026-08-06, Bybit and Binance from 2026-09-21, OKX and Delta Exchange from 2026-09-23 (rolling window; rows before those dates do not exist).",
        "operationId": "options-oi-history",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "string, optional BTC or ETH",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "description": "string, optional options venue: deribit | bybit | binance | okx | delta",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/spot-microstructure": {
      "get": {
        "summary": "Fetch minute bars with the taker buy volume split",
        "description": "Minute bars with the taker buy versus total quote volume split, pre-joined across venues and kept beyond exchange retention: the raw input behind order flow imbalance and VPIN work, in one query instead of paginating an exchange API per symbol per venue.",
        "operationId": "spot-microstructure",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/venue-markets-history": {
      "get": {
        "summary": "Fetch ten-minute market snapshots per venue and symbol",
        "description": "Ten-minute snapshots of price, 24h volume, open interest and 8h-equivalent funding per venue and symbol for every perpetual, spot and TradFi perpetual feed we poll (the live crypto list is /api/public/venues/markets, TradFi perps are on /api/public/tradfi): the raw rows behind the exchange coverage table, total-OI and DEX-share metrics, kept 35 days; older months are in the bulk-derivatives export.",
        "operationId": "venue-markets-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional, venue id e.g. binance|bybit|hyperliquid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/whale-trades-raw": {
      "get": {
        "summary": "Fetch the recorded archive of $1M+ aggressive prints",
        "description": "Every $1M+ aggressive market print recorded live from our own trade sockets, with side, price, quantity and notional, kept for 90 days, filterable by symbol, exchange and time. The free endpoint serves the live tape (newest 100 prints, no filters); this route is the recorded archive behind it.",
        "operationId": "whale-trades-raw",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 10000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    }
  }
}
