{
  "openapi": "3.1.0",
  "info": {
    "title": "ByKaranteli crypto derivatives data",
    "version": "1.0.0",
    "description": "Crypto derivatives market structure recorded around the clock. Live snapshots are free with an account key; the endpoints listed here sell depth and history per call over the x402 protocol.",
    "x-guidance": "Each /api/x402/* endpoint answers HTTP 402 with machine-readable payment requirements and settles in USDC on Solana or Base per successful response; a failed response settles nothing. Query parameters narrow the rows (symbol, exchange, from, to, limit where listed); the free GET /api/x402 returns the same catalog with prices and parameters.",
    "contact": {
      "email": "support@bykaranteli.com",
      "url": "https://bykaranteli.com/developers"
    },
    "license": {
      "name": "ByKaranteli Data Licence",
      "url": "https://bykaranteli.com/data#license"
    }
  },
  "servers": [
    {
      "url": "https://bykaranteli.com"
    }
  ],
  "paths": {
    "/api/x402/liqmap-levels": {
      "get": {
        "summary": "Fetch the multi-exchange liquidation map for one perp",
        "description": "Full multi-exchange liquidation map snapshot for a Binance USDT-M perp: modeled leverage clusters, real forceOrder levels, top magnets, funding, OI and orderbook context.",
        "operationId": "liqmap-levels",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Ticker covered by LiqMap, e.g. BTC, ETH or SOL, with or without the USDT suffix (default BTC); the list is at https://bykaranteli.com/liqmap",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Lookback window for the position model: 1h, 4h, 12h, 24h, 3d, 1w or 30d (default 24h)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leverage",
            "in": "query",
            "required": false,
            "description": "Leverage group, default all: all, low (5x and 10x), medium (25x) or high (50x and 100x)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "One venue's model instead of the multi-venue merge, default all: all, binance, bybit, okx, gate, htx or hyperliquid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported symbol or timeframe (code INVALID_SYMBOL or INVALID_TIMEFRAME); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (the plan does not include the catalog)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/options-flow": {
      "get": {
        "summary": "Fetch the BTC or ETH options tape with its big prints",
        "description": "BTC or ETH options tape depth from our own recorded Deribit and OKX flow: the daily premium-flow history, the full big-print list with strike, expiry, direction, premium, implied volatility and venue, the signed 1h, 4h and 24h bought, sold and net premium per option type, the expiry, strike and venue breakdowns and the latest multi-leg structures named from their legs.",
        "operationId": "options-flow",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "BTC or ETH (default BTC)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (the plan does not include the catalog)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/flow-vpin": {
      "get": {
        "summary": "Fetch VPIN order-flow toxicity history for BTC, ETH and SOL",
        "description": "Order flow toxicity (VPIN) history for BTC, ETH and SOL: 90-day daily VPIN track with closes plus the last 500 volume buckets.",
        "operationId": "flow-vpin",
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (the plan does not include the catalog)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/cot-history": {
      "get": {
        "summary": "Fetch CFTC COT weekly history with the dealer books",
        "description": "CFTC Commitments of Traders weekly history for crypto futures with the columns the free CSV does not carry: dealer long and short books and week-over-week change in open interest, alongside every participant class. The free download covers hedge fund, institutional, other reportable and small trader positions.",
        "operationId": "cot-history",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 3000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/liquidations-raw": {
      "get": {
        "summary": "Fetch raw liquidation events across venues",
        "description": "Individual liquidation events recorded from our own exchange sockets across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter, Kraken Futures and GMX, plus Deribit's hourly delayed flag: side, price, quantity, notional, venue and millisecond timestamp. Coverage per venue: /api/public/liquidations. Every event recorded since 2026-08-29; earlier days are in the daily dataset.",
        "operationId": "liquidations-raw",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/liquidation-leaderboard-history": {
      "get": {
        "summary": "Fetch the daily ranking of the largest liquidation prints",
        "description": "Per-day ranking of the largest single liquidation prints across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter, Kraken Futures and GMX: up to 100 ranks per finalized UTC day since 2026-08-29, with symbol, venue, side (SELL = a long was liquidated), price, quantity, notional and millisecond event time, filterable by symbol and venue. The free CSV carries the top 10 per day; the free page and API rank only the last 24 hours to 30 days.",
        "operationId": "liquidation-leaderboard-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "date, optional, default 30 days ago",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 10000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/networks-history": {
      "get": {
        "summary": "Fetch every version of venue withdrawal network rows",
        "description": "Every recorded version of each asset and network row on every venue we record (20+ exchanges): deposit flag, withdrawal flag, withdrawal fee and minimum, with valid_from and valid_to, so withdrawal suspensions can be dated and their duration measured. The free endpoint serves only the current table.",
        "operationId": "networks-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional asset, e.g. USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue id: kucoin | gate | htx | bitget ...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, valid_from lower bound",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/leverage-tiers-history": {
      "get": {
        "summary": "Fetch every version of perpetual leverage ladders per venue",
        "description": "Every recorded version of each perpetual's leverage ladder on every venue whose ladders we read: tier, notional floor and cap, maximum leverage and maintenance margin, with valid_from and valid_to so leverage cuts can be dated. The free endpoint serves only the current ladder.",
        "operationId": "leverage-tiers-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional base asset, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue id: bybit | okx | gate | htx | bitget | mexc ...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, valid_from lower bound",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/oi-history": {
      "get": {
        "summary": "Fetch five-minute open interest history for major perps",
        "description": "Five minute open interest history for the major perpetuals in base units and USD, normalised across symbols and retained on our side, so one query replaces per-symbol paginated pulls against exchange endpoints.",
        "operationId": "oi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tradfi-oi-history": {
      "get": {
        "summary": "Fetch five-minute open interest history for TradFi perps",
        "description": "Five minute open interest history for the top-40 Binance TradFi perpetuals (US, HK, KR and CN equities, commodities, indices) in base units and USD, recorded on our side from 2026-09-02; the free /api/public/tradfi board only carries the live value.",
        "operationId": "tradfi-oi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. TSLAUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tradfi-funding-history": {
      "get": {
        "summary": "Fetch settled funding history for Binance TradFi perps",
        "description": "Settled funding rate history of every Binance TradFi perpetual on our board (stocks, indices, commodities), one row per settlement since 2026-05-31 or the contract's listing, kept current hourly; the free board only carries the last settled rate.",
        "operationId": "tradfi-funding-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. TSLAUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/indicators-events": {
      "get": {
        "summary": "Fetch Bitcoin cycle indicator crossings with forward returns",
        "description": "Every day since 2012 on which a Bitcoin cycle indicator crossed a canonical band (Pi Cycle top cross and reset, Mayer Multiple 2.4 and 0.8, Puell Multiple 4 and 0.5, 200-week MA, 2-year MA x5, golden ratio 1.6/2/3/5, profitable days 95% and 50%), with the BTC close that day and the forward 7, 30, 90, 180 and 365-day returns. From recorded daily closes (Bitstamp 2012-2017, Binance since); the free endpoint carries the levels without the event tape or forward returns.",
        "operationId": "indicators-events",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional: indicator key pi_cycle|mayer|puell|ma200w|ma2y|golden_ratio|profitable_days",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, default 1000, max 5000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/rsi-history": {
      "get": {
        "summary": "Fetch hourly RSI(14) history on eight intervals",
        "description": "Hourly Wilder RSI(14) history for the top-400 Binance crypto perpetuals by volume plus every TradFi perp on 15m, 1h, 4h, 12h, 1d, 3d, 1w and 1M intervals, recorded on our side from 2026-09-02; the free /api/public/rsi board only carries the live values.",
        "operationId": "rsi-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTCUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: interval filter, e.g. 4h",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/hl-whale-events": {
      "get": {
        "summary": "Fetch position changes of the largest Hyperliquid accounts",
        "description": "Every recorded position change of the 1000 largest Hyperliquid accounts by equity (opened, closed, increased, reduced, flipped) with size before and after, notional changed, entry and liquidation price and leverage, scanned every 5 minutes on our side from 2026-09-02, one address or coin per filter; the free /api/public/hyperliquid-whales returns the live board and only the last 200 events.",
        "operationId": "hl-whale-events",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional coin, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "string, optional account, 0x and 40 hex characters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional kind filter: opened | closed | increased | reduced | flipped",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/hl-positions-history": {
      "get": {
        "summary": "Fetch hourly open positions of the largest Hyperliquid accounts",
        "description": "Every open position of the 1000 largest Hyperliquid accounts by equity once an hour: address, coin, signed size, notional, entry and liquidation price, leverage and account equity, recorded from 2026-09-30, newest hour first; filter by coin, address and time. The free /api/public/hyperliquid-positions serves the live liquidation bands and hourly totals, never per position rows.",
        "operationId": "hl-positions-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional coin, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "string, optional account, 0x and 40 hex characters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, default 7 days ago",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional, default now",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/positioning-history": {
      "get": {
        "summary": "Fetch hourly long/short and taker positioning history",
        "description": "Hourly long/short account and position ratios, taker buy/sell ratios and long shares for the 30 most traded perps on Binance, Bybit, OKX, Gate, HTX, Bitget and Kraken Futures, plus Bitfinex spot margin long and short size (from 2026-09-22) and GMX and Jupiter Perps pool long and short open interest (from 2026-09-23), recorded from 2026-09-02 (Gate, HTX and Bitget from 2026-09-20); the free /api/public/positioning returns only the live board.",
        "operationId": "positioning-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTCUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: binance | bybit | okx | gate | htx | bitget | kraken | bitfinex | gmx | jupiter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-liquidations": {
      "get": {
        "summary": "Generate download links for monthly liquidation event files",
        "description": "Monthly gzip CSV files of every liquidation event we recorded (exchange, symbol, side, price, qty, quote_qty, event_time) across Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter, Kraken Futures, GMX and Deribit: about 1.5 million rows per month since 2026-08-02. One paid call returns one-hour signed download links for every finalized month plus the current month to date; the per-call /api/x402/liquidations-raw route returns at most 20k rows a call.",
        "operationId": "bulk-liquidations",
        "responses": {
          "200": {
            "description": "One-hour signed download links, returned after payment settles, or included on a Business or higher account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's window reaches; the list holds the months that end inside it, or all",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (bulk exports are included from the Business plan)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "15.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-derivatives": {
      "get": {
        "summary": "Generate download links for monthly OI and funding files",
        "description": "Monthly gzip CSV files of the derivatives tables: 5-minute Binance open interest per symbol (oi-5m), every Binance USDT-M funding settlement of the month (funding-settlements) and the 10-minute multi-venue market snapshots (venue-snapshots: price, volume, OI and funding for every venue feed we poll, exchanges and DEXs). One paid call returns one-hour signed links for every finalized month plus the current month to date.",
        "operationId": "bulk-derivatives",
        "responses": {
          "200": {
            "description": "One-hour signed download links, returned after payment settles, or included on a Business or higher account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's window reaches; the list holds the months that end inside it, or all",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (bulk exports are included from the Business plan)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/bulk-flow": {
      "get": {
        "summary": "Generate download links for monthly whale and flow files",
        "description": "Monthly gzip CSV files of the flow tables: $1M+ aggressive prints from our own trade sockets (whale-trades), Hyperliquid top-1000 position change events (hl-whale-events), hourly long/short and taker statistics (positioning-hourly) and hourly RSI on eight intervals (rsi-hourly). One paid call returns one-hour signed links for every finalized month plus the current month to date.",
        "operationId": "bulk-flow",
        "responses": {
          "200": {
            "description": "One-hour signed download links, returned after payment settles, or included on a Business or higher account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's window reaches; the list holds the months that end inside it, or all",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements"
          },
          "403": {
            "description": "Account key refusal, answered with how to pay per call: tier_required (bulk exports are included from the Business plan)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "10.000000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/jupiter-history": {
      "get": {
        "summary": "Fetch hourly Jupiter Perps market history",
        "description": "Hourly Jupiter Perps history per market (SOL, ETH, BTC) and metric: long and short open interest from the on-chain custody state (long = locked tokens x mark price since 2026-09-30; long_oi_guaranteed_usd keeps the earlier measure), pool utilization, hourly borrow rates, custody AUM, price and 24h volume, plus JLP AUM, price and APR under market JLP; recorded from 2026-09-02. The free /api/public/jupiter returns the live board and 30 days of hourly OI.",
        "operationId": "jupiter-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional market: SOL | ETH | BTC | JLP",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "string, optional: long_oi_usd | long_oi_guaranteed_usd | short_oi_usd | long_util_pct | short_util_pct | long_borrow_hourly_pct | short_borrow_hourly_pct | custody_aum_usd | price_usd | volume_24h_usd, and for JLP aum_usd | apr_pct | price_usd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/market-profile-history": {
      "get": {
        "summary": "Fetch daily Market Profile history for one perpetual",
        "description": "Daily Market Profile per perpetual from our own minute bars: 30-minute TPO periods over price buckets a fixed fraction of the day's open, the point of control, the 70% value area (VAH, VAL), the initial balance (first hour UTC), the volume point of control and the per-bucket profile. One symbol per call, newest first; BTC from 2024, other symbols from their recorder's start. The free /api/public/market-profile serves 30 days without the profile column.",
        "operationId": "market-profile-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, required: BTC or BTCUSDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/venue-share-history": {
      "get": {
        "summary": "Fetch hourly liquidation totals and share per counted venue",
        "description": "Hourly recorded liquidations per counted venue (Binance, Bybit, OKX, Gate, HTX, dYdX, Aster, Lighter, Kraken Futures, GMX and Deribit): long and short USD, events, largest single print, symbols, the hour's total over the counted venues and the venue's share of it; a venue's hours start on its first counted day. Newest first, recorded since 2026-08-29. The free /api/public/venue-share serves 24h, 7d, 30d and 30 daily rows.",
        "operationId": "venue-share-history",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: binance | bybit | okx | gate | htx | dydx | aster | lighter | deribit | kraken | gmx",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, default 7 days ago",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional, default now",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/solana-perps-history": {
      "get": {
        "summary": "Fetch hourly Solana perp venue history per market and metric",
        "description": "Hourly history of every Solana perp venue on the board but Jupiter (jupiter-history): Pacifica, Phoenix, GM Trade, Velocity and Bullet, per market and metric: one-sided open interest in USD (both sides on pool venues), 24h volume, hourly funding in percent of position size (empty where the venue publishes only an accumulator), mark, and Phoenix's raw funding accumulator; recorded from 2026-09-25. The free API returns the live board and seven days of one market.",
        "operationId": "solana-perps-history",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "description": "string, optional: pacifica | phoenix | gmtrade | velocity | bullet",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional market as the venue names it, e.g. SOL, SOL-PERP, SOL-USD, USDCAD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "string, optional: oi_usd | oi_long_usd | oi_short_usd | volume_24h_usd | funding_hourly_pct | mark_usd | funding_accumulator_raw",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional, default 30 days ago",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional, default now",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, default 1000, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/turkey-premium-history": {
      "get": {
        "summary": "Fetch minute history of the Turkey premium index",
        "description": "Minute history of the Turkey premium index (from 2026-09-17): TRY and USDT reference prices from 11 Turkish spot venues (median mid of eligible books), eligible and observed venue counts, status, the Binance global USDT price, the ECB USD/TRY fix, premium in basis points, index_bps and the Turkey Premium Index; per-venue book rows with exchange=<venue>. The free /api/public/turkey-premium returns the live board and 15-minute points for up to 30 days.",
        "operationId": "turkey-premium-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional pair: BTC-TRY | ETH-TRY | USDT-TRY | BTC-USDT | ETH-USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional: a venue id such as btcturk to return that venue's book rows instead of the index",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/insurance-fund-history": {
      "get": {
        "summary": "Fetch hourly insurance fund readings per venue pool",
        "description": "Hourly insurance fund readings per pool on Binance, Bybit, OKX, Gate, MEXC, Bitfinex, Crypto.com, Delta Exchange, dYdX and Paradex: venue, pool, asset, balance in the asset, USD value (stables 1:1, other assets at our recorded price, null when unpriced) and the contracts the pool covers, recorded every hour since 2026-09-23. The free /api/public/insurance-funds returns the latest reading and daily closes per venue.",
        "operationId": "insurance-fund-history",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "description": "string, optional: binance | bybit | okx | gate | mexc | bitfinex | cryptocom | delta | dydx | paradex",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. USDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/tokenized-stocks-history": {
      "get": {
        "summary": "Fetch hourly tokenized stock wrapper prices and premiums",
        "description": "Hourly readings per tokenized stock wrapper from 12 issuers (the issuer filter lists them): wrapper price (liquidity-weighted DEX median, or the exchange price under chain cex), the real share reference and its session, premium in percent, pool liquidity, 24h volume and admitted pools, recorded since 2026-09-23. The free /api/public/tokenized-stocks returns only the latest board, with price_source per wrapper.",
        "operationId": "tokenized-stocks-history",
        "parameters": [
          {
            "name": "wrapper",
            "in": "query",
            "required": false,
            "description": "string, required, e.g. TSLAx",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "string, optional: solana | ethereum | bnb | arbitrum | base | robinhood | ton | mantle | optimism | ink | hyperevm | xlayer | tron | linea | morph | provenance | plume | algorand | cex",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuer",
            "in": "query",
            "required": false,
            "description": "string, optional: xstocks | robinhood | coinbase | bstocks | ondo | backpack | gstocks | reality | superstate | figure | dinari | securitize",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "number, optional, 1..366, default 7",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 20000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/orderbook-history": {
      "get": {
        "summary": "Fetch five-minute spot order book depth snapshots",
        "description": "5-minute spot order book depth snapshots on 29 venues, recorded since 2026-09-15 (five venues from the start, eleven from 2026-09-20, the rest from 2026-09-22), for BTC, ETH, SOL, XRP, DOGE, ADA, LINK, AVAX, LTC and BNB: the book binned into 0.1% buckets within 20% of mid as USD notional (bids and asks as JSON arrays), 2% depth per side, coverage, level count and in_aggregate; the free /api/public/orderbook returns the live aggregate and up to 24 hours of summed history.",
        "operationId": "orderbook-history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "string, optional, e.g. BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "description": "string, optional venue: binance | coinbase | kraken | bybit | okx | gate | mexc | htx | bitget | bitstamp | gemini | bitfinex | bingx | cryptocom | backpack | binanceus | poloniex | lbank | bitrue | xt | hashkey | digifinex | bullish | weex | deribit | aster | bitvavo | independentreserve | btcturk",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "iso, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number, optional, max 5000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested data, returned after payment settles, or included on a paid plan's account key",
            "headers": {
              "x-history-window-days": {
                "description": "Included answers: days back the plan's catalog window reaches from 00:00 UTC, or all",
                "schema": {
                  "type": "string"
                }
              },
              "x-history-row-cap": {
                "description": "Included answers: the most rows one included call returns",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-limit": {
                "description": "Included answers where a monthly ceiling applies",
                "schema": {
                  "type": "integer"
                }
              },
              "x-x402-allowance-used": {
                "description": "Included catalog calls used this calendar month (UTC)",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query (code INVALID_QUERY); never charged"
          },
          "402": {
            "description": "Payment required: the response carries x402 payment requirements; with an account key past the plan's monthly ceiling, code x402_allowance_used"
          },
          "403": {
            "description": "Account key refusals, each answered with how to pay per call: tier_required (the plan does not include the catalog or the bulk files), raw_tier_required (raw record routes below Business), history_window (rows before the plan's window)"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "asset": "USDC"
        }
      }
    },
    "/api/x402/funding-history": {
      "get": {
        "summary": "Fetch per-venue settled funding rate history",
        "description": "Settled funding rate history of every Binance USDT-M perpetual, crypto and TradFi, one row per settlement since 2026-05-31, each with its funding time, kept current hourly from Binance's settlement list (a delisted contract Binance still lists there keeps its placeholder rate): the series behind carry and basis work. The free metric-daily download carries one daily BTC funding aggregate.",
        "operationId": "funding-history",
        "parameters": [
          {
[...]
