{
  "openapi": "3.1.0",
  "info": {
    "title": "Birdeye Data API via x402",
    "description": "Pay-per-request DeFi market data, token analytics, and wallet intelligence using the x402 payment protocol. Powered by Birdeye. Access real-time Solana metrics without API keys.",
    "version": "1.0.0",
    "contact": {
      "name": "Birdeye",
      "url": "https://birdeye.so"
    }
  },
  "servers": [
    {
      "url": "https://public-api.birdeye.so"
    }
  ],
  "paths": {
    "/x402/defi/historical_price_unix": {
      "get": {
        "summary": "Get token price at a specific Unix timestamp",
        "operationId": "x402_defi_historical_price_unix",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          },
          {
            "name": "unixtime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "Unix timestamp in seconds for the historical price lookup. Omitting this falls back to the current price.",
            "example": 1726700000
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "value": {
                          "type": "number"
                        },
                        "updateUnixTime": {
                          "type": "integer"
                        },
                        "priceChange24h": {
                          "type": "number"
                        },
                        "scaledValue": {
                          "type": "number"
                        },
                        "multiplier": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "isScaledUiToken": false,
                        "value": 128.09276765626564,
                        "updateUnixTime": 1726675897,
                        "priceChange24h": -4.924324221890145
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "isScaledUiToken": true,
                        "value": 154.24048063205083,
                        "updateUnixTime": 1751417954,
                        "priceChange24h": -2.3458062991146713,
                        "scaledValue": 154.24048063205083,
                        "multiplier": 1
                      },
                      "success": true
                    }
                  },
                  "MissingHistoryPriceUnix": {
                    "value": {
                      "success": true,
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/history_price": {
      "get": {
        "summary": "Get historical price series for a token or pair",
        "operationId": "x402_defi_history_price",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token or pair address"
          },
          {
            "name": "address_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "token",
                "pair"
              ]
            },
            "description": "Whether the address is a token mint or a trading pair"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1H",
                "2H",
                "4H",
                "6H",
                "8H",
                "12H",
                "1D",
                "3D",
                "1W",
                "1M"
              ]
            },
            "description": "Candlestick interval"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "Start of time range as Unix timestamp in seconds"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "End of time range as Unix timestamp in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "multiplier": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unixTime": {
                                "type": "integer"
                              },
                              "value": {
                                "type": "number"
                              },
                              "scaledValue": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "isScaledUiToken": false,
                        "items": [
                          {
                            "unixTime": 1726670700,
                            "value": 127.97284640184616
                          },
                          {
                            "unixTime": 1726671600,
                            "value": 128.04188346328968
                          },
                          {
                            "unixTime": 1726672500,
                            "value": 127.40223856228901
                          }
                        ]
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "isScaledUiToken": true,
                        "multiplier": 1,
                        "items": [
                          {
                            "address": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh",
                            "unixTime": 1751417580,
                            "value": 153.4602929354709,
                            "scaledValue": 153.4602929354709
                          },
                          {
                            "address": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh",
                            "unixTime": 1751417640,
                            "value": 153.4602929354709,
                            "scaledValue": 153.4602929354709
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/ohlcv": {
      "get": {
        "summary": "Get OHLCV candlestick data for a token",
        "operationId": "x402_defi_ohlcv",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1H",
                "2H",
                "4H",
                "6H",
                "8H",
                "12H",
                "1D",
                "3D",
                "1W",
                "1M"
              ]
            },
            "description": "Candlestick interval"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "Start of time range as Unix timestamp in seconds"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "End of time range as Unix timestamp in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "multiplier": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "o",
                              "h",
                              "l",
                              "c",
                              "v",
                              "address",
                              "type",
                              "unixTime",
                              "currency"
                            ],
                            "properties": {
                              "o": {
                                "type": "number"
                              },
                              "h": {
                                "type": "number"
                              },
                              "l": {
                                "type": "number"
                              },
                              "c": {
                                "type": "number"
                              },
                              "v": {
                                "type": "number"
                              },
                              "address": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "unixTime": {
                                "type": "integer"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "scaledO": {
                                "type": "number"
                              },
                              "scaledH": {
                                "type": "number"
                              },
                              "scaledL": {
                                "type": "number"
                              },
                              "scaledC": {
                                "type": "number"
                              },
                              "scaledV": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "isScaledUiToken": false,
                        "items": [
                          {
                            "o": 128.27328370924414,
                            "h": 128.6281001340782,
                            "l": 127.91200927364626,
                            "c": 127.97284640184616,
                            "v": 58641.16636665621,
                            "unixTime": 1726670700,
                            "address": "So11111111111111111111111111111111111111112",
                            "type": "15m",
                            "currency": "usd"
                          },
                          {
                            "o": 127.97284640184616,
                            "h": 128.49450996585105,
                            "l": 127.89354285873108,
                            "c": 128.04188346328968,
                            "v": 47861.13031539581,
                            "unixTime": 1726671600,
                            "address": "So11111111111111111111111111111111111111112",
                            "type": "15m",
                            "currency": "usd"
                          }
                        ]
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "isScaledUiToken": true,
                        "multiplier": 1,
                        "items": [
                          {
                            "o": 153.91024638704283,
                            "h": 153.91535871498587,
                            "l": 153.90894363533533,
                            "c": 153.91535871498587,
                            "v": 0.07037699,
                            "unixTime": 1751414460,
                            "scaledO": 153.91024638704283,
                            "scaledH": 153.91535871498587,
                            "scaledL": 153.90894363533533,
                            "scaledC": 153.91535871498587,
                            "scaledV": 0.07037699,
                            "address": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh",
                            "type": "1m",
                            "currency": "usd"
                          },
                          {
                            "o": 153.91535871498587,
                            "h": 153.91785401707773,
                            "l": 153.91535871498587,
                            "c": 153.91785401707773,
                            "v": 0.51971038,
                            "unixTime": 1751414520,
                            "scaledO": 153.91535871498587,
                            "scaledH": 153.91785401707773,
                            "scaledL": 153.91535871498587,
                            "scaledC": 153.91785401707773,
                            "scaledV": 0.51971038,
                            "address": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh",
                            "type": "1m",
                            "currency": "usd"
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/ohlcv/base_quote": {
      "get": {
        "summary": "Get OHLCV candlestick data by base and quote token addresses",
        "operationId": "x402_defi_ohlcv_base_quote",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "base_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base token address"
          },
          {
            "name": "quote_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Quote token address"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1H",
                "2H",
                "4H",
                "6H",
                "8H",
                "12H",
                "1D",
                "3D",
                "1W",
                "1M"
              ]
            },
            "description": "Candlestick interval"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "Start of time range as Unix timestamp in seconds"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "End of time range as Unix timestamp in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "isScaledUiTokenBase": {
                          "type": "boolean"
                        },
                        "isScaledUiTokenQuote": {
                          "type": "boolean"
                        },
                        "multiplierBase": {
                          "type": "number"
                        },
                        "multiplierQuote": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "o",
                              "h",
                              "l",
                              "c",
                              "vBase",
                              "vQuote",
                              "unixTime"
                            ],
                            "properties": {
                              "o": {
                                "type": "number"
                              },
                              "h": {
                                "type": "number"
                              },
                              "l": {
                                "type": "number"
                              },
                              "c": {
                                "type": "number"
                              },
                              "vBase": {
                                "type": "number"
                              },
                              "vQuote": {
                                "type": "number"
                              },
                              "unixTime": {
                                "type": "integer"
                              },
                              "scaledO": {
                                "type": "number"
                              },
                              "scaledH": {
                                "type": "number"
                              },
                              "scaledL": {
                                "type": "number"
                              },
                              "scaledC": {
                                "type": "number"
                              },
                              "scaledVBase": {
                                "type": "number"
                              },
                              "scaledVQuote": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "o": 128.2848293438851,
                            "c": 127.98180512820512,
                            "h": 128.64650816293124,
                            "l": 127.91584674904873,
                            "vBase": 58641.16636665621,
                            "vQuote": 4362436.09417201,
                            "unixTime": 1726670700
                          },
                          {
                            "o": 127.98180512820512,
                            "c": 128.0549796460581,
                            "h": 128.51250171609132,
                            "l": 127.89610078074669,
                            "vBase": 47861.13031539581,
                            "vQuote": 3913815.120231004,
                            "unixTime": 1726671600
                          }
                        ],
                        "baseAddress": "So11111111111111111111111111111111111111112",
                        "quoteAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                        "isScaledUiTokenBase": false,
                        "isScaledUiTokenQuote": false,
                        "type": "15m"
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "items": [
                          {
                            "o": 1.044873537847058,
                            "c": 1.0464293679719943,
                            "h": 1.0464293679719943,
                            "l": 1.044873537847058,
                            "vBase": 0,
                            "vQuote": 55804.81725942366,
                            "unixTime": 1751417580,
                            "scaledO": 1.044873537847058,
                            "scaledC": 1.0464293679719943,
                            "scaledH": 1.0464293679719943,
                            "scaledL": 1.044873537847058,
                            "scaledVBase": 0,
                            "scaledVQuote": 55804.81725942366
                          },
                          {
                            "o": 1.0464293679719943,
                            "c": 1.0459240645688892,
                            "h": 1.0467828492410745,
                            "l": 1.0455628088823077,
                            "vBase": 0,
                            "vQuote": 60125.79360575415,
                            "unixTime": 1751417640,
                            "scaledO": 1.0464293679719943,
                            "scaledC": 1.0459240645688892,
                            "scaledH": 1.0467828492410745,
                            "scaledL": 1.0455628088823077,
                            "scaledVBase": 0,
                            "scaledVQuote": 60125.79360575415
                          }
                        ],
                        "baseAddress": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh",
                        "quoteAddress": "So11111111111111111111111111111111111111112",
                        "isScaledUiTokenBase": true,
                        "isScaledUiTokenQuote": false,
                        "multiplierBase": 1,
                        "multiplierQuote": null,
                        "type": "1m"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/ohlcv/pair": {
      "get": {
        "summary": "Get OHLCV candlestick data for a trading pair",
        "operationId": "x402_defi_ohlcv_pair",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair address"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1H",
                "2H",
                "4H",
                "6H",
                "8H",
                "12H",
                "1D",
                "3D",
                "1W",
                "1M"
              ]
            },
            "description": "Candlestick interval"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "Start of time range as Unix timestamp in seconds"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000000000
            },
            "description": "End of time range as Unix timestamp in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "o",
                              "h",
                              "l",
                              "c",
                              "v",
                              "address",
                              "type",
                              "unixTime",
                              "currency"
                            ],
                            "properties": {
                              "o": {
                                "type": "number"
                              },
                              "h": {
                                "type": "number"
                              },
                              "l": {
                                "type": "number"
                              },
                              "c": {
                                "type": "number"
                              },
                              "v": {
                                "type": "number"
                              },
                              "address": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "unixTime": {
                                "type": "integer"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "address": "Czfq3xZZDmsdGdUyrNLtRhGc47cXcZtLG4crryfu44zE",
                            "c": 131.98629958196778,
                            "h": 132.23482213379438,
                            "l": 131.51590533656915,
                            "o": 131.51590533656915,
                            "type": "15m",
                            "unixTime": 1726700400,
                            "v": 6156.155046497001
                          },
                          {
                            "address": "Czfq3xZZDmsdGdUyrNLtRhGc47cXcZtLG4crryfu44zE",
                            "c": 132.7284,
                            "h": 132.81605139774013,
                            "l": 131.95800580371125,
                            "o": 131.98629958196778,
                            "type": "15m",
                            "unixTime": 1726701300,
                            "v": 7401.823317684
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/price": {
      "get": {
        "summary": "Get real-time price for a token",
        "operationId": "x402_defi_price",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "required": [
                        "value",
                        "updateUnixTime",
                        "updateHumanTime",
                        "priceChange24h"
                      ],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "updateUnixTime": {
                          "type": "integer"
                        },
                        "updateHumanTime": {
                          "type": "string"
                        },
                        "priceChange24h": {
                          "type": "number"
                        },
                        "priceInNative": {
                          "type": "number"
                        },
                        "liquidity": {
                          "type": "number"
                        },
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "scaledValue": {
                          "type": "number"
                        },
                        "multiplier": {
                          "type": "number"
                        },
                        "scaledPriceInNative": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaWithLiquidity": {
                    "value": {
                      "data": {
                        "isScaledUiToken": false,
                        "value": 0.38622452197470425,
                        "updateUnixTime": 1745058945,
                        "updateHumanTime": "2025-04-19T10:35:45",
                        "priceChange24h": 1.933391934259418,
                        "priceInNative": 0.0027761598581298626,
                        "liquidity": 10854103.37938592
                      },
                      "success": true
                    }
                  },
                  "EVMWithLiquidity": {
                    "value": {
                      "data": {
                        "value": 1.2151838032744844e-05,
                        "updateUnixTime": 1745058827,
                        "updateHumanTime": "2025-04-19T10:33:47",
                        "priceChange24h": 1.4986903810717627,
                        "liquidity": 3349464.6246886267
                      },
                      "success": true
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "isScaledUiToken": true,
                        "value": 404.21180826549516,
                        "updateUnixTime": 1751369725,
                        "updateHumanTime": "2025-07-01T11:35:25",
                        "priceChange24h": 4.268112150090328,
                        "priceInNative": 2.7135492516187805,
                        "scaledValue": 404.21180826549516,
                        "multiplier": 1,
                        "scaledPriceInNative": 2.7135492516187805
                      },
                      "success": true
                    }
                  },
                  "MissingPrice": {
                    "value": {
                      "success": true,
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/price_volume/single": {
      "get": {
        "summary": "Get current price and 24h volume for a single token",
        "operationId": "x402_defi_price_volume_single",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "price",
                        "updateUnixTime",
                        "updateHumanTime",
                        "volumeUSD",
                        "volumeChangePercent",
                        "priceChangePercent"
                      ],
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "updateUnixTime": {
                          "type": "integer"
                        },
                        "updateHumanTime": {
                          "type": "string"
                        },
                        "volumeUSD": {
                          "type": "number"
                        },
                        "volumeChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "priceChangePercent": {
                          "type": "number"
                        },
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "scaledPrice": {
                          "type": "number"
                        },
                        "multiplier": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "isScaledUiToken": false,
                        "price": 128.70426432642992,
                        "updateUnixTime": 1726678569,
                        "updateHumanTime": "2024-09-18T16:56:09",
                        "volumeUSD": 755004403.5277437,
                        "volumeChangePercent": -6.0377419970263055,
                        "priceChangePercent": -2.6091746792986936
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "isScaledUiToken": true,
                        "price": 404.21180826549516,
                        "updateUnixTime": 1751369725,
                        "updateHumanTime": "2025-07-01T11:35:25",
                        "volumeUSD": 735344.6318917507,
                        "volumeChangePercent": null,
                        "priceChangePercent": 4.268112150090329,
                        "scaledPrice": 404.21180826549516,
                        "multiplier": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/token_creation_info": {
      "get": {
        "summary": "Get creation info and genesis data for a token",
        "operationId": "x402_defi_token_creation_info",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txHash": {
                          "type": "string"
                        },
                        "slot": {
                          "type": "integer"
                        },
                        "tokenAddress": {
                          "type": "string"
                        },
                        "decimals": {
                          "type": "integer"
                        },
                        "owner": {
                          "type": "string"
                        },
                        "blockUnixTime": {
                          "type": "integer"
                        },
                        "blockHumanTime": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "TokenCreationInfo": {
                    "value": {
                      "success": true,
                      "data": {
                        "txHash": "3cW2HpkUs5Hg2FBMa52iJoSMUf8MNkkzkRcGuBs1JEesQ1pnsvNwCbTmZfeJf8hTi9NSHh1Tqx6Rz5Wrr7ePDEps",
                        "slot": 223012712,
                        "tokenAddress": "D7rcV8SPxbv94s3kJETkrfMrWqHFs6qrmtbiu6saaany",
                        "decimals": 5,
                        "owner": "JEFL3KwPQeughdrQAjLo9o75qh15nYbFJ2ZDrb695qsZ",
                        "blockUnixTime": 1697044029,
                        "blockHumanTime": "2023-10-11T17:07:09.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-pricing": {
          "supportedPaymentMethods": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "cu"
        }
      }
    },
    "/x402/defi/token_overview": {
      "get": {
        "summary": "Get token overview: price, volume, liquidity, and metadata",
        "operationId": "x402_defi_token_overview",
        "parameters": [
          {
            "name": "x-chain",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "solana"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token mint address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "address",
                        "decimals",
                        "symbol",
                        "name",
                        "price"
                      ],
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "decimals": {
                          "type": "integer"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "marketCap": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "fdv": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "extensions": {
                          "type": "object",
                          "properties": {
                            "coingeckoId": {
                              "type": "string"
                            },
                            "serumV3Usdc": {
                              "type": "string"
                            },
                            "serumV3Usdt": {
                              "type": "string"
                            },
                            "website": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "telegram": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "twitter": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "description": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "discord": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "medium": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "logoURI": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "liquidity": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "lastTradeUnixTime": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "lastTradeHumanTime": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "price": {
                          "type": "number"
                        },
                        "totalSupply": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "circulatingSupply": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "holder": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "numberMarkets": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "multiplier": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade1m": {
                          "type": "integer"
                        },
                        "tradeHistory1m": {
                          "type": "integer"
                        },
                        "trade1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell1m": {
                          "type": "integer"
                        },
                        "sellHistory1m": {
                          "type": "integer"
                        },
                        "sell1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy1m": {
                          "type": "integer"
                        },
                        "buyHistory1m": {
                          "type": "integer"
                        },
                        "buy1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v1m": {
                          "type": "number"
                        },
                        "v1mUSD": {
                          "type": "number"
                        },
                        "vHistory1m": {
                          "type": "number"
                        },
                        "vHistory1mUSD": {
                          "type": "number"
                        },
                        "v1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy1m": {
                          "type": "number"
                        },
                        "vBuy1mUSD": {
                          "type": "number"
                        },
                        "vBuyHistory1m": {
                          "type": "number"
                        },
                        "vBuyHistory1mUSD": {
                          "type": "number"
                        },
                        "vBuy1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell1m": {
                          "type": "number"
                        },
                        "vSell1mUSD": {
                          "type": "number"
                        },
                        "vSellHistory1m": {
                          "type": "number"
                        },
                        "vSellHistory1mUSD": {
                          "type": "number"
                        },
                        "vSell1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet1m": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory1m": {
                          "type": "integer"
                        },
                        "uniqueWallet1mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade5m": {
                          "type": "integer"
                        },
                        "tradeHistory5m": {
                          "type": "integer"
                        },
                        "trade5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell5m": {
                          "type": "integer"
                        },
                        "sellHistory5m": {
                          "type": "integer"
                        },
                        "sell5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy5m": {
                          "type": "integer"
                        },
                        "buyHistory5m": {
                          "type": "integer"
                        },
                        "buy5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v5m": {
                          "type": "number"
                        },
                        "v5mUSD": {
                          "type": "number"
                        },
                        "vHistory5m": {
                          "type": "number"
                        },
                        "vHistory5mUSD": {
                          "type": "number"
                        },
                        "v5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy5m": {
                          "type": "number"
                        },
                        "vBuy5mUSD": {
                          "type": "number"
                        },
                        "vBuyHistory5m": {
                          "type": "number"
                        },
                        "vBuyHistory5mUSD": {
                          "type": "number"
                        },
                        "vBuy5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell5m": {
                          "type": "number"
                        },
                        "vSell5mUSD": {
                          "type": "number"
                        },
                        "vSellHistory5m": {
                          "type": "number"
                        },
                        "vSellHistory5mUSD": {
                          "type": "number"
                        },
                        "vSell5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet5m": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory5m": {
                          "type": "integer"
                        },
                        "uniqueWallet5mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade30m": {
                          "type": "integer"
                        },
                        "tradeHistory30m": {
                          "type": "integer"
                        },
                        "trade30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell30m": {
                          "type": "integer"
                        },
                        "sellHistory30m": {
                          "type": "integer"
                        },
                        "sell30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy30m": {
                          "type": "integer"
                        },
                        "buyHistory30m": {
                          "type": "integer"
                        },
                        "buy30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v30m": {
                          "type": "number"
                        },
                        "v30mUSD": {
                          "type": "number"
                        },
                        "vHistory30m": {
                          "type": "number"
                        },
                        "vHistory30mUSD": {
                          "type": "number"
                        },
                        "v30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy30m": {
                          "type": "number"
                        },
                        "vBuy30mUSD": {
                          "type": "number"
                        },
                        "vBuyHistory30m": {
                          "type": "number"
                        },
                        "vBuyHistory30mUSD": {
                          "type": "number"
                        },
                        "vBuy30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell30m": {
                          "type": "number"
                        },
                        "vSell30mUSD": {
                          "type": "number"
                        },
                        "vSellHistory30m": {
                          "type": "number"
                        },
                        "vSellHistory30mUSD": {
                          "type": "number"
                        },
                        "vSell30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet30m": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory30m": {
                          "type": "integer"
                        },
                        "uniqueWallet30mChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade1h": {
                          "type": "integer"
                        },
                        "tradeHistory1h": {
                          "type": "integer"
                        },
                        "trade1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell1h": {
                          "type": "integer"
                        },
                        "sellHistory1h": {
                          "type": "integer"
                        },
                        "sell1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy1h": {
                          "type": "integer"
                        },
                        "buyHistory1h": {
                          "type": "integer"
                        },
                        "buy1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v1h": {
                          "type": "number"
                        },
                        "v1hUSD": {
                          "type": "number"
                        },
                        "vHistory1h": {
                          "type": "number"
                        },
                        "vHistory1hUSD": {
                          "type": "number"
                        },
                        "v1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy1h": {
                          "type": "number"
                        },
                        "vBuy1hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory1h": {
                          "type": "number"
                        },
                        "vBuyHistory1hUSD": {
                          "type": "number"
                        },
                        "vBuy1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell1h": {
                          "type": "number"
                        },
                        "vSell1hUSD": {
                          "type": "number"
                        },
                        "vSellHistory1h": {
                          "type": "number"
                        },
                        "vSellHistory1hUSD": {
                          "type": "number"
                        },
                        "vSell1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet1h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory1h": {
                          "type": "integer"
                        },
                        "uniqueWallet1hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade2h": {
                          "type": "integer"
                        },
                        "tradeHistory2h": {
                          "type": "integer"
                        },
                        "trade2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell2h": {
                          "type": "integer"
                        },
                        "sellHistory2h": {
                          "type": "integer"
                        },
                        "sell2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy2h": {
                          "type": "integer"
                        },
                        "buyHistory2h": {
                          "type": "integer"
                        },
                        "buy2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v2h": {
                          "type": "number"
                        },
                        "v2hUSD": {
                          "type": "number"
                        },
                        "vHistory2h": {
                          "type": "number"
                        },
                        "vHistory2hUSD": {
                          "type": "number"
                        },
                        "v2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy2h": {
                          "type": "number"
                        },
                        "vBuy2hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory2h": {
                          "type": "number"
                        },
                        "vBuyHistory2hUSD": {
                          "type": "number"
                        },
                        "vBuy2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell2h": {
                          "type": "number"
                        },
                        "vSell2hUSD": {
                          "type": "number"
                        },
                        "vSellHistory2h": {
                          "type": "number"
                        },
                        "vSellHistory2hUSD": {
                          "type": "number"
                        },
                        "vSell2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet2h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory2h": {
                          "type": "integer"
                        },
                        "uniqueWallet2hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade4h": {
                          "type": "integer"
                        },
                        "tradeHistory4h": {
                          "type": "integer"
                        },
                        "trade4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell4h": {
                          "type": "integer"
                        },
                        "sellHistory4h": {
                          "type": "integer"
                        },
                        "sell4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy4h": {
                          "type": "integer"
                        },
                        "buyHistory4h": {
                          "type": "integer"
                        },
                        "buy4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v4h": {
                          "type": "number"
                        },
                        "v4hUSD": {
                          "type": "number"
                        },
                        "vHistory4h": {
                          "type": "number"
                        },
                        "vHistory4hUSD": {
                          "type": "number"
                        },
                        "v4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy4h": {
                          "type": "number"
                        },
                        "vBuy4hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory4h": {
                          "type": "number"
                        },
                        "vBuyHistory4hUSD": {
                          "type": "number"
                        },
                        "vBuy4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell4h": {
                          "type": "number"
                        },
                        "vSell4hUSD": {
                          "type": "number"
                        },
                        "vSellHistory4h": {
                          "type": "number"
                        },
                        "vSellHistory4hUSD": {
                          "type": "number"
                        },
                        "vSell4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet4h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory4h": {
                          "type": "integer"
                        },
                        "uniqueWallet4hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade6h": {
                          "type": "integer"
                        },
                        "tradeHistory6h": {
                          "type": "integer"
                        },
                        "trade6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell6h": {
                          "type": "integer"
                        },
                        "sellHistory6h": {
                          "type": "integer"
                        },
                        "sell6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy6h": {
                          "type": "integer"
                        },
                        "buyHistory6h": {
                          "type": "integer"
                        },
                        "buy6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v6h": {
                          "type": "number"
                        },
                        "v6hUSD": {
                          "type": "number"
                        },
                        "vHistory6h": {
                          "type": "number"
                        },
                        "vHistory6hUSD": {
                          "type": "number"
                        },
                        "v6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy6h": {
                          "type": "number"
                        },
                        "vBuy6hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory6h": {
                          "type": "number"
                        },
                        "vBuyHistory6hUSD": {
                          "type": "number"
                        },
                        "vBuy6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell6h": {
                          "type": "number"
                        },
                        "vSell6hUSD": {
                          "type": "number"
                        },
                        "vSellHistory6h": {
                          "type": "number"
                        },
                        "vSellHistory6hUSD": {
                          "type": "number"
                        },
                        "vSell6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet6h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory6h": {
                          "type": "integer"
                        },
                        "uniqueWallet6hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade8h": {
                          "type": "integer"
                        },
                        "tradeHistory8h": {
                          "type": "integer"
                        },
                        "trade8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell8h": {
                          "type": "integer"
                        },
                        "sellHistory8h": {
                          "type": "integer"
                        },
                        "sell8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy8h": {
                          "type": "integer"
                        },
                        "buyHistory8h": {
                          "type": "integer"
                        },
                        "buy8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v8h": {
                          "type": "number"
                        },
                        "v8hUSD": {
                          "type": "number"
                        },
                        "vHistory8h": {
                          "type": "number"
                        },
                        "vHistory8hUSD": {
                          "type": "number"
                        },
                        "v8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy8h": {
                          "type": "number"
                        },
                        "vBuy8hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory8h": {
                          "type": "number"
                        },
                        "vBuyHistory8hUSD": {
                          "type": "number"
                        },
                        "vBuy8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell8h": {
                          "type": "number"
                        },
                        "vSell8hUSD": {
                          "type": "number"
                        },
                        "vSellHistory8h": {
                          "type": "number"
                        },
                        "vSellHistory8hUSD": {
                          "type": "number"
                        },
                        "vSell8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet8h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory8h": {
                          "type": "integer"
                        },
                        "uniqueWallet8hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade12h": {
                          "type": "integer"
                        },
                        "tradeHistory12h": {
                          "type": "integer"
                        },
                        "trade12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell12h": {
                          "type": "integer"
                        },
                        "sellHistory12h": {
                          "type": "integer"
                        },
                        "sell12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy12h": {
                          "type": "integer"
                        },
                        "buyHistory12h": {
                          "type": "integer"
                        },
                        "buy12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v12h": {
                          "type": "number"
                        },
                        "v12hUSD": {
                          "type": "number"
                        },
                        "vHistory12h": {
                          "type": "number"
                        },
                        "vHistory12hUSD": {
                          "type": "number"
                        },
                        "v12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy12h": {
                          "type": "number"
                        },
                        "vBuy12hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory12h": {
                          "type": "number"
                        },
                        "vBuyHistory12hUSD": {
                          "type": "number"
                        },
                        "vBuy12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell12h": {
                          "type": "number"
                        },
                        "vSell12hUSD": {
                          "type": "number"
                        },
                        "vSellHistory12h": {
                          "type": "number"
                        },
                        "vSellHistory12hUSD": {
                          "type": "number"
                        },
                        "vSell12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet12h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory12h": {
                          "type": "integer"
                        },
                        "uniqueWallet12hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "trade24h": {
                          "type": "integer"
                        },
                        "tradeHistory24h": {
                          "type": "integer"
                        },
                        "trade24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "sell24h": {
                          "type": "integer"
                        },
                        "sellHistory24h": {
                          "type": "integer"
                        },
                        "sell24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "buy24h": {
                          "type": "integer"
                        },
                        "buyHistory24h": {
                          "type": "integer"
                        },
                        "buy24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "v24h": {
                          "type": "number"
                        },
                        "v24hUSD": {
                          "type": "number"
                        },
                        "vHistory24h": {
                          "type": "number"
                        },
                        "vHistory24hUSD": {
                          "type": "number"
                        },
                        "v24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vBuy24h": {
                          "type": "number"
                        },
                        "vBuy24hUSD": {
                          "type": "number"
                        },
                        "vBuyHistory24h": {
                          "type": "number"
                        },
                        "vBuyHistory24hUSD": {
                          "type": "number"
                        },
                        "vBuy24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "vSell24h": {
                          "type": "number"
                        },
                        "vSell24hUSD": {
                          "type": "number"
                        },
                        "vSellHistory24h": {
                          "type": "number"
                        },
                        "vSellHistory24hUSD": {
                          "type": "number"
                        },
                        "vSell24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "uniqueWallet24h": {
                          "type": "integer"
                        },
                        "uniqueWalletHistory24h": {
                          "type": "integer"
                        },
                        "uniqueWallet24hChangePercent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "address": "So11111111111111111111111111111111111111112",
                        "decimals": 9,
                        "symbol": "SOL",
                        "name": "Wrapped SOL",
                        "marketCap": 100263084724.62823,
                        "fdv": 112833577331.7062,
                        "extensions": {
                          "coingeckoId": "solana",
                          "serumV3Usdc": "9wFFyRfZBsuAha4YcuxcXLKwMxJR43S7fPfQLusDBzvT",
                          "serumV3Usdt": "HWHvQhFmJB3NUcu1aihKmrKegfVxBEHzwVX6yZCKEsi1",
                          "website": "https://solana.com/",
                          "telegram": null,
                          "twitter": "https://twitter.com/solana",
                          "description": "Wrapped Solana ",
                          "discord": "https://discordapp.com/invite/pquxPsq",
                          "medium": "https://medium.com/solana-labs"
                        },
                        "logoURI": "https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/So11111111111111111111111111111111111111112/logo.png",
                        "liquidity": 23353595552.52654,
                        "lastTradeUnixTime": 1754885472,
                        "lastTradeHumanTime": "2025-08-11T04:11:12",
                        "price": 185.82977629057913,
                        "history1mPrice": 185.79442728744755,
                        "priceChange1mPercent": 0.01902586834689952,
                        "history5mPrice": 185.64908719930227,
                        "priceChange5mPercent": 0.09732829501223636,
                        "history30mPrice": 184.58275803998023,
                        "priceChange30mPercent": 0.675587613838123,
                        "history1hPrice": 184.82378809782267,
                        "priceChange1hPercent": 0.5442958415201495,
                        "history2hPrice": 184.48623316778523,
                        "priceChange2hPercent": 0.7282619953392334,
                        "history4hPrice": 182.01858574612513,
                        "priceChange4hPercent": 2.093846916143914,
                        "history6hPrice": 183.3662593572315,
                        "priceChange6hPercent": 1.3434952220671261,
                        "history8hPrice": 182.781521215397,
                        "priceChange8hPercent": 1.6677041830667094,
                        "history12hPrice": 181.73998251416327,
                        "priceChange12hPercent": 2.2503544458617606,
                        "history24hPrice": 184.76148770760037,
                        "priceChange24hPercent": 0.5781987340724478,
                        "uniqueWallet1m": 7188,
                        "uniqueWalletHistory1m": 7299,
                        "uniqueWallet1mChangePercent": -1.5207562679819153,
                        "uniqueWallet5m": 23670,
                        "uniqueWalletHistory5m": 32416,
                        "uniqueWallet5mChangePercent": -26.98050345508391,
                        "uniqueWallet30m": 101456,
                        "uniqueWalletHistory30m": 74756,
                        "uniqueWallet30mChangePercent": 35.71619669324201,
                        "uniqueWallet1h": 144003,
                        "uniqueWalletHistory1h": 191107,
                        "uniqueWallet1hChangePercent": -24.64797207846913,
                        "uniqueWallet2h": 292417,
                        "uniqueWalletHistory2h": 206753,
                        "uniqueWallet2hChangePercent": 41.4330142730698,
                        "uniqueWallet4h": 426036,
                        "uniqueWalletHistory4h": 248734,
                        "uniqueWallet4hChangePercent": 71.28177088777569,
                        "uniqueWallet8h": 587111,
                        "uniqueWalletHistory8h": 623567,
                        "uniqueWallet8hChangePercent": -5.846364544627923,
                        "uniqueWallet24h": 1394679,
                        "uniqueWalletHistory24h": 1454172,
                        "uniqueWallet24hChangePercent": -4.091194164101633,
                        "totalSupply": 607187823.0928401,
                        "circulatingSupply": 539542621.8877238,
                        "holder": 3472782,
                        "trade1m": 17469,
                        "tradeHistory1m": 18850,
                        "trade1mChangePercent": -7.326259946949603,
                        "sell1m": 9852,
                        "sellHistory1m": 10653,
                        "sell1mChangePercent": -7.51900872993523,
                        "buy1m": 7617,
                        "buyHistory1m": 8197,
                        "buy1mChangePercent": -7.075759424179578,
                        "v1m": 26463.910059272,
                        "v1mUSD": 4916069.30362933,
                        "vHistory1m": 31502.769373499003,
                        "vHistory1mUSD": 5845693.180421255,
                        "v1mChangePercent": -15.994972551415849,
                        "vBuy1m": 14173.111565352001,
                        "vBuy1mUSD": 2632923.854699539,
                        "vBuyHistory1m": 18145.89539667,
                        "vBuyHistory1mUSD": 3367492.6286006058,
                        "vBuy1mChangePercent": -21.893567357646372,
                        "vSell1m": 12290.79849392,
                        "vSell1mUSD": 2283145.4489297913,
                        "vSellHistory1m": 13356.873976829002,
                        "vSellHistory1mUSD": 2478200.551820649,
                        "vSell1mChangePercent": -7.981474443484225,
                        "trade5m": 91739,
                        "tradeHistory5m": 108986,
                        "trade5mChangePercent": -15.824968344558016,
                        "sell5m": 53591,
                        "sellHistory5m": 66851,
                        "sell5mChangePercent": -19.835155794228957,
                        "buy5m": 38148,
                        "buyHistory5m": 42135,
                        "buy5mChangePercent": -9.4624421502314,
                        "v5m": 148180.406499723,
                        "v5mUSD": 27497701.609222054,
                        "vHistory5m": 144981.31597421103,
                        "vHistory5mUSD": 26875267.526915293,
                        "v5mChangePercent": 2.2065536541832875,
                        "vBuy5m": 75042.90142003099,
                        "vBuy5mUSD": 13926318.79128133,
                        "vBuyHistory5m": 75167.25709972801,
                        "vBuyHistory5mUSD": 13934408.671477377,
                        "vBuy5mChangePercent": -0.1654386291254898,
                        "vSell5m": 73137.50507969201,
                        "vSell5mUSD": 13571382.817940727,
                        "vSellHistory5m": 69814.058874483,
                        "vSellHistory5mUSD": 12940858.855437916,
                        "vSell5mChangePercent": 4.760425419734085,
                        "trade30m": 682302,
                        "tradeHistory30m": 883160,
                        "trade30mChangePercent": -22.743104307260293,
                        "sell30m": 402208,
                        "sellHistory30m": 506428,
                        "sell30mChangePercent": -20.579430837157503,
                        "buy30m": 280094,
                        "buyHistory30m": 376732,
                        "buy30mChangePercent": -25.651656880753425,
                        "v30m": 1041160.531349391,
                        "v30mUSD": 192563042.8167962,
                        "vHistory30m": 1424758.523452565,
                        "vHistory30mUSD": 263432974.7832449,
                        "v30mChangePercent": -26.923719759444932,
                        "vBuy30m": 525771.001339281,
                        "vBuy30mUSD": 97251183.41918801,
                        "vBuyHistory30m": 709160.8991117042,
                        "vBuyHistory30mUSD": 131127693.7657724,
                        "vBuy30mChangePercent": -25.86012539638573,
                        "vSell30m": 515389.53001011006,
                        "vSell30mUSD": 95311859.3976082,
                        "vSellHistory30m": 715597.6243408608,
                        "vSellHistory30mUSD": 132305281.0174725,
                        "vSell30mChangePercent": -27.97774720327824,
                        "trade1h": 1440761,
                        "tradeHistory1h": 1543682,
                        "trade1hChangePercent": -6.667241050941838,
[...]
