{
  "openapi": "3.1.0",
  "info": {
    "title": "Astro Agents",
    "version": "1.0.3",
    "summary": "Deterministic Western + Vedic astrology API for AI agents: JPL DE440 ephemeris, no LLM, reproducible SHA-256 hashes.",
    "description": "Deterministic Western + Vedic astrology API for AI agents: JPL DE440 ephemeris, no LLM, reproducible SHA-256 hashes.\n\nPay per call with **x402** (USDC on Base or Solana) or **MPP** (Tempo: OUSD or USDC.e). No account, no API key. First 3 calls free per client on the five $0.01-0.02 routes (any tool over MCP); every other route is always paid.\n\n- Positions from NASA/JPL DE440 (NASA/JPL), 1800-01-01..2200-01-01, via Skyfield: geocentric apparent, true equinox of date, IAU 2006/2000A.\n- Historical time zones resolved for you (IANA tz database, DST of the era, Local Mean Time); ambiguous or non-existent local times are flagged, never guessed.\n- Deterministic, no LLM: same input -> same bytes. Every response carries meta.input_sha256 and meta.result_sha256 (also as X-Input-SHA256 / X-Result-SHA256 headers); POST /v1/verify recomputes one.\n- Every convention is in the response: ayanamsa (name, true and mean value), house system, orbs, node type, dasha year length, dosha and koota rule sets.\n- Cross-validated against an independent engine (XALEN, Apache-2.0): ayanamsas agree to < 0.1\", 15/16 divisional charts identically, all 11 house systems in structure.",
    "x-guidance": "Deterministic astrology calculations (no LLM). Every chart endpoint takes a JSON body with a local 'datetime' (e.g. '1990-05-15T14:30'), 'latitude' and 'longitude'; the historical time zone is resolved for you. Cheapest calls: POST /v1/western/positions ($0.01) and /v1/vedic/nakshatra ($0.02). Western natal chart: POST /v1/western/natal. Vedic birth chart: POST /v1/vedic/kundli. Marriage compatibility: POST /v1/vedic/gun-milan with person_a and person_b. Each response carries meta.result_sha256; POST /v1/verify recomputes it. Pay with x402 or MPP; first 3 calls free on the $0.01-0.02 routes. Free catalog: GET /v1/catalog.",
    "contact": {
      "name": "Astro Agents support",
      "email": "aidatatools@proton.me",
      "url": "https://astro-agent.dev/support"
    },
    "termsOfService": "https://astro-agent.dev/terms"
  },
  "servers": [
    {
      "url": "https://astro-agent.dev"
    }
  ],
  "tags": [
    {
      "name": "time"
    },
    {
      "name": "western"
    },
    {
      "name": "vedic"
    },
    {
      "name": "free"
    }
  ],
  "paths": {
    "/v1/catalog": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Catalog: every endpoint, price, schema, example (free)",
        "tags": [
          "free"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Liveness, versions, live payment status (free)",
        "tags": [
          "free"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "operationId": "verifyResultHash",
        "tags": [
          "free"
        ],
        "security": [],
        "summary": "Recompute the SHA-256 of a result (free)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "result"
                ],
                "properties": {
                  "result": {
                    "type": "object"
                  },
                  "result_sha256": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hash and match flag"
          }
        }
      }
    },
    "/v1/time/resolve": {
      "post": {
        "operationId": "timeResolve",
        "summary": "Birth time resolver ($0.01)",
        "description": "Local birth time + place -> exact UT, historical UTC offset, Delta T, Local Mean Time, true solar time.\n\nThe step LLMs most often get wrong. Resolves the IANA time zone from coordinates, applies the offset in force on that date (historical DST, Local Mean Time before standard time), flags ambiguous or non-existent local times instead of guessing, and returns Julian Days (UT/TT), Delta T, Local Mean Time, true (apparent) solar time and the equation of time.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                    "examples": [
                      "1990-05-15T14:30"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "description": "YYYY-MM-DD (use with 'time' instead of 'datetime')."
                  },
                  "time": {
                    "type": "string",
                    "description": "HH:MM or HH:MM:SS, 24 h. Omit if unknown (computed at 12:00 with a TIME_UNKNOWN warning)."
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90,
                    "description": "Decimal degrees, north positive."
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180,
                    "description": "Decimal degrees, east positive."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                  },
                  "time_basis": {
                    "type": "string",
                    "enum": [
                      "civil",
                      "utc",
                      "lmt",
                      "true_solar"
                    ],
                    "default": "civil",
                    "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                  },
                  "ambiguous_time": {
                    "type": "string",
                    "enum": [
                      "earlier",
                      "later"
                    ],
                    "default": "earlier",
                    "description": "Which occurrence to use when a local time happens twice (DST fall-back)."
                  }
                },
                "required": [],
                "description": "Coordinates or a timezone are needed to interpret a local time."
              },
              "example": {
                "datetime": "1947-08-15T00:00",
                "latitude": 28.6139,
                "longitude": 77.209
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope with reproducibility hashes",
            "headers": {
              "X-Result-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Input-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "x402 receipt"
              },
              "Payment-Receipt": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP receipt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "endpoint",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "endpoint": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "engine": {
                          "type": "string"
                        },
                        "ephemeris": {
                          "type": "string"
                        },
                        "input_sha256": {
                          "type": "string"
                        },
                        "result_sha256": {
                          "type": "string"
                        },
                        "deterministic": {
                          "type": "boolean"
                        },
                        "llm_used": {
                          "type": "boolean"
                        },
                        "payment": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "endpoint": "time/resolve",
                  "result": {
                    "time": {
                      "local_input": "1947-08-15T00:00",
                      "time_basis": "civil",
                      "timezone": "Asia/Kolkata",
                      "timezone_source": "resolved_from_coordinates",
                      "utc_offset": "+05:30",
                      "is_dst": false,
                      "utc": "1947-08-14T18:30:00Z",
                      "julian_day_ut": 2432412.270996,
                      "julian_day_tt": 2432412.271322,
                      "delta_t_seconds": 28.109,
                      "time_known": true,
                      "local_mean_time": "1947-08-14T23:38:50",
                      "true_solar_time": "1947-08-14T23:34:10",
                      "equation_of_time_minutes": -4.6635
                    },
                    "location": {
                      "latitude": 28.6139,
                      "longitude": 77.209
                    },
                    "warnings": [
                      {
                        "code": "HISTORICAL_TIMEZONE",
                        "message": "offset +05:30 for Asia/Kolkata comes from the IANA tz database, whose pre-1970 history is best-effort. If the birth record states the clock offset, pass it inside 'datetime' (e.g. ...T14:30+01:00)."
                      }
                    ]
                  },
                  "meta": {
                    "engine": "astro-agents/1.0.3",
                    "ephemeris": "NASA/JPL DE440 (1800-01-01..2200-01-01)",
                    "astronomy_library": "skyfield/1.55",
                    "frame": "geocentric apparent positions, true ecliptic and equinox of date (IAU 2006/2000A)",
                    "deterministic": true,
                    "llm_used": false,
                    "input_sha256": "f0c3fe0873f0faf48339eb52c7ea115f4e0cdcb93431e85199c9a41d74f2929a",
                    "result_sha256": "c44090a343c5399be2ecb9728396283b91a07114611f8cd4db69d21da16fe618",
                    "reproducibility": "result_sha256 = SHA-256 of the result serialized as JSON with sorted keys, no whitespace, UTF-8, floats rounded to 6 decimals. Same input + same engine version => same hash."
                  },
                  "example_note": "real output of engine 1.0.3; lists shortened to 3 items"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (never charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "charged": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required: x402 offer in body / PAYMENT-REQUIRED, MPP offer in WWW-Authenticate",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c0000000000000000000006a37da5c996874be"
              }
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ],
          "offers": [
            {
              "amount": "10000",
              "currency": "0x20c0000000000000000000006a37da5c996874be",
              "description": "Birth time resolver - Local birth time + place -> exact UT, historical UTC offset, Delta T, Local Mean Time, true solar time.",
              "intent": "charge",
              "method": "tempo"
            },
            {
              "amount": "10000",
              "currency": "0x20c000000000000000000000b9537d11c60e8b50",
              "description": "Birth time resolver - Local birth time + place -> exact UT, historical UTC offset, Delta T, Local Mean Time, true solar time.",
              "intent": "charge",
              "method": "tempo"
            }
          ]
        },
        "x-mcp-tool": "resolve_birth_time"
      }
    },
    "/v1/western/positions": {
      "post": {
        "operationId": "westernPositions",
        "summary": "Planetary positions ($0.01)",
        "description": "Tropical (or sidereal) longitudes, latitudes, speeds and retrograde flags of Sun..Pluto, nodes, Lilith.\n\nGeocentric apparent positions from NASA/JPL DE440 for any moment 1800-2200, with sign, degree, element, modality, daily speed and retrograde status. Location is optional (only used to interpret a local time).",
        "tags": [
          "western"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                    "examples": [
                      "1990-05-15T14:30"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "description": "YYYY-MM-DD (use with 'time' instead of 'datetime')."
                  },
                  "time": {
                    "type": "string",
                    "description": "HH:MM or HH:MM:SS, 24 h. Omit if unknown (computed at 12:00 with a TIME_UNKNOWN warning)."
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90,
                    "description": "Decimal degrees, north positive."
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180,
                    "description": "Decimal degrees, east positive."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                  },
                  "time_basis": {
                    "type": "string",
                    "enum": [
                      "civil",
                      "utc",
                      "lmt",
                      "true_solar"
                    ],
                    "default": "civil",
                    "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                  },
                  "ambiguous_time": {
                    "type": "string",
                    "enum": [
                      "earlier",
                      "later"
                    ],
                    "default": "earlier",
                    "description": "Which occurrence to use when a local time happens twice (DST fall-back)."
                  },
                  "options": {
                    "type": "object",
                    "description": "Optional calculation settings; every default is the common Western convention.",
                    "properties": {
                      "house_system": {
                        "type": "string",
                        "enum": [
                          "alcabitius",
                          "campanus",
                          "equal",
                          "koch",
                          "meridian",
                          "morinus",
                          "placidus",
                          "porphyry",
                          "regiomontanus",
                          "topocentric",
                          "whole_sign"
                        ],
                        "default": "placidus",
                        "description": "House system for cusps and planet houses, e.g. 'placidus' (default) or 'whole_sign'."
                      },
                      "zodiac": {
                        "type": "string",
                        "enum": [
                          "tropical",
                          "sidereal"
                        ],
                        "default": "tropical",
                        "description": "'tropical' (Western, default) or 'sidereal' (pair it with 'ayanamsa')."
                      },
                      "ayanamsa": {
                        "type": "string",
                        "enum": [
                          "fagan_bradley",
                          "krishnamurti",
                          "lahiri",
                          "raman",
                          "true_chitrapaksha",
                          "yukteshwar"
                        ],
                        "default": "lahiri",
                        "description": "Only with zodiac=sidereal."
                      },
                      "points": {
                        "description": "'all' or a list from ['sun', 'moon', 'mercury', 'venus', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'mean_node', 'true_node', 'mean_lilith']. Default: 10 planets + true node + mean Lilith.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sun",
                                "moon",
                                "mercury",
                                "venus",
                                "mars",
                                "jupiter",
                                "saturn",
                                "uranus",
                                "neptune",
                                "pluto",
                                "mean_node",
                                "true_node",
                                "mean_lilith"
                              ]
                            }
                          }
                        ]
                      },
                      "aspects": {
                        "description": "'all' or a list from ['conjunction', 'opposition', 'trine', 'square', 'sextile', 'quincunx', 'semisextile', 'semisquare', 'sesquiquadrate', 'quintile', 'biquintile']. Default: the 5 majors.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conjunction",
                                "opposition",
                                "trine",
                                "square",
                                "sextile",
                                "quincunx",
                                "semisextile",
                                "semisquare",
                                "sesquiquadrate",
                                "quintile",
                                "biquintile"
                              ]
                            }
                          }
                        ]
                      },
                      "orbs": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 15
                        },
                        "description": "Override orbs per aspect, degrees."
                      },
                      "luminary_orb_bonus": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 5,
                        "default": 2,
                        "description": "Extra orb in degrees for aspects involving the Sun or the Moon. Example: 2."
                      }
                    }
                  }
                },
                "required": []
              },
              "example": {
                "datetime": "2026-10-01T12:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope with reproducibility hashes",
            "headers": {
              "X-Result-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Input-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "x402 receipt"
              },
              "Payment-Receipt": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP receipt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "endpoint",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "endpoint": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "engine": {
                          "type": "string"
                        },
                        "ephemeris": {
                          "type": "string"
                        },
                        "input_sha256": {
                          "type": "string"
                        },
                        "result_sha256": {
                          "type": "string"
                        },
                        "deterministic": {
                          "type": "boolean"
                        },
                        "llm_used": {
                          "type": "boolean"
                        },
                        "payment": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "endpoint": "western/positions",
                  "result": {
                    "subject": {
                      "time": {
                        "local_input": "2026-10-01T12:00:00Z",
                        "time_basis": "civil",
                        "timezone": null,
                        "timezone_source": "offset_in_datetime",
                        "utc_offset": "+00:00",
                        "is_dst": null,
                        "utc": "2026-10-01T12:00:00Z",
                        "julian_day_ut": 2461315.000001,
                        "julian_day_tt": 2461315.000801,
                        "delta_t_seconds": 69.091,
                        "time_known": true
                      }
                    },
                    "settings": {
                      "zodiac": "tropical"
                    },
                    "points": [
                      {
                        "point": "sun",
                        "name": "Sun",
                        "longitude": 188.33017,
                        "sign": "Libra",
                        "sign_index": 6,
                        "degree_in_sign": 8.33017,
                        "position": "8°19'49\" Libra",
                        "element": "air",
                        "modality": "cardinal",
                        "latitude": 0.000187,
                        "speed_longitude": 0.982927,
                        "retrograde": false,
                        "distance_au": 1.001186
                      },
                      {
                        "point": "moon",
                        "name": "Moon",
                        "longitude": 71.048302,
                        "sign": "Gemini",
                        "sign_index": 2,
                        "degree_in_sign": 11.048302,
                        "position": "11°02'54\" Gemini",
                        "element": "air",
                        "modality": "mutable",
                        "latitude": 5.056642,
                        "speed_longitude": 14.283559,
                        "retrograde": false,
                        "distance_au": 0.002469
                      },
                      {
                        "point": "mercury",
                        "name": "Mercury",
                        "longitude": 211.339088,
                        "sign": "Scorpio",
                        "sign_index": 7,
                        "degree_in_sign": 1.339088,
                        "position": "1°20'21\" Scorpio",
                        "element": "water",
                        "modality": "fixed",
                        "latitude": -1.80707,
                        "speed_longitude": 1.313986,
                        "retrograde": false,
                        "distance_au": 1.169303
                      }
                    ]
                  },
                  "meta": {
                    "engine": "astro-agents/1.0.3",
                    "ephemeris": "NASA/JPL DE440 (1800-01-01..2200-01-01)",
                    "astronomy_library": "skyfield/1.55",
                    "frame": "geocentric apparent positions, true ecliptic and equinox of date (IAU 2006/2000A)",
                    "deterministic": true,
                    "llm_used": false,
                    "input_sha256": "34b719359ced9d2d01130742d40810c8dcebdc0abf6c11e22e9161b55c3cd5f6",
                    "result_sha256": "269109e17efc86d60897373ac8244ecff90f9c71f9dd1836d848fddba92fcae1",
                    "reproducibility": "result_sha256 = SHA-256 of the result serialized as JSON with sorted keys, no whitespace, UTF-8, floats rounded to 6 decimals. Same input + same engine version => same hash."
                  },
                  "example_note": "real output of engine 1.0.3; lists shortened to 3 items"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (never charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "charged": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required: x402 offer in body / PAYMENT-REQUIRED, MPP offer in WWW-Authenticate",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c0000000000000000000006a37da5c996874be"
              }
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ],
          "offers": [
            {
              "amount": "10000",
              "currency": "0x20c0000000000000000000006a37da5c996874be",
              "description": "Planetary positions - Tropical (or sidereal) longitudes, latitudes, speeds and retrograde flags of Sun..Pluto, nodes, Lilith.",
              "intent": "charge",
              "method": "tempo"
            },
            {
              "amount": "10000",
              "currency": "0x20c000000000000000000000b9537d11c60e8b50",
              "description": "Planetary positions - Tropical (or sidereal) longitudes, latitudes, speeds and retrograde flags of Sun..Pluto, nodes, Lilith.",
              "intent": "charge",
              "method": "tempo"
            }
          ]
        },
        "x-mcp-tool": "planet_positions"
      }
    },
    "/v1/western/aspects": {
      "post": {
        "operationId": "westernAspects",
        "summary": "Aspects ($0.02)",
        "description": "Aspects (with orb, exactness, applying/separating) for a moment, or for any longitudes you supply.\n\nEither give a moment (datetime, optional place) and get the aspects among all planets, or give 'longitudes' {name: degrees} and get the pure geometry. Orbs are explicit and overridable.",
        "tags": [
          "western"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                    "examples": [
                      "1990-05-15T14:30"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "description": "YYYY-MM-DD (use with 'time' instead of 'datetime')."
                  },
                  "time": {
                    "type": "string",
                    "description": "HH:MM or HH:MM:SS, 24 h. Omit if unknown (computed at 12:00 with a TIME_UNKNOWN warning)."
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90,
                    "description": "Decimal degrees, north positive."
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180,
                    "description": "Decimal degrees, east positive."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                  },
                  "time_basis": {
                    "type": "string",
                    "enum": [
                      "civil",
                      "utc",
                      "lmt",
                      "true_solar"
                    ],
                    "default": "civil",
                    "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                  },
                  "ambiguous_time": {
                    "type": "string",
                    "enum": [
                      "earlier",
                      "later"
                    ],
                    "default": "earlier",
                    "description": "Which occurrence to use when a local time happens twice (DST fall-back)."
                  },
                  "longitudes": {
                    "type": "object",
                    "description": "Optional {name: degrees} or {name: {longitude, speed}}; when given, no ephemeris is used.",
                    "additionalProperties": true
                  },
                  "options": {
                    "type": "object",
                    "description": "Optional calculation settings; every default is the common Western convention.",
                    "properties": {
                      "house_system": {
                        "type": "string",
                        "enum": [
                          "alcabitius",
                          "campanus",
                          "equal",
                          "koch",
                          "meridian",
                          "morinus",
                          "placidus",
                          "porphyry",
                          "regiomontanus",
                          "topocentric",
                          "whole_sign"
                        ],
                        "default": "placidus",
                        "description": "House system for cusps and planet houses, e.g. 'placidus' (default) or 'whole_sign'."
                      },
                      "zodiac": {
                        "type": "string",
                        "enum": [
                          "tropical",
                          "sidereal"
                        ],
                        "default": "tropical",
                        "description": "'tropical' (Western, default) or 'sidereal' (pair it with 'ayanamsa')."
                      },
                      "ayanamsa": {
                        "type": "string",
                        "enum": [
                          "fagan_bradley",
                          "krishnamurti",
                          "lahiri",
                          "raman",
                          "true_chitrapaksha",
                          "yukteshwar"
                        ],
                        "default": "lahiri",
                        "description": "Only with zodiac=sidereal."
                      },
                      "points": {
                        "description": "'all' or a list from ['sun', 'moon', 'mercury', 'venus', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'mean_node', 'true_node', 'mean_lilith']. Default: 10 planets + true node + mean Lilith.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sun",
                                "moon",
                                "mercury",
                                "venus",
                                "mars",
                                "jupiter",
                                "saturn",
                                "uranus",
                                "neptune",
                                "pluto",
                                "mean_node",
                                "true_node",
                                "mean_lilith"
                              ]
                            }
                          }
                        ]
                      },
                      "aspects": {
                        "description": "'all' or a list from ['conjunction', 'opposition', 'trine', 'square', 'sextile', 'quincunx', 'semisextile', 'semisquare', 'sesquiquadrate', 'quintile', 'biquintile']. Default: the 5 majors.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conjunction",
                                "opposition",
                                "trine",
                                "square",
                                "sextile",
                                "quincunx",
                                "semisextile",
                                "semisquare",
                                "sesquiquadrate",
                                "quintile",
                                "biquintile"
                              ]
                            }
                          }
                        ]
                      },
                      "orbs": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 15
                        },
                        "description": "Override orbs per aspect, degrees."
                      },
                      "luminary_orb_bonus": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 5,
                        "default": 2,
                        "description": "Extra orb in degrees for aspects involving the Sun or the Moon. Example: 2."
                      }
                    }
                  }
                },
                "required": []
              },
              "example": {
                "longitudes": {
                  "sun": 54.4,
                  "moon": 297.4,
                  "saturn": 295.2,
                  "venus": 12.8
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope with reproducibility hashes",
            "headers": {
              "X-Result-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Input-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "x402 receipt"
              },
              "Payment-Receipt": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP receipt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "endpoint",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "endpoint": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "engine": {
                          "type": "string"
                        },
                        "ephemeris": {
                          "type": "string"
                        },
                        "input_sha256": {
                          "type": "string"
                        },
                        "result_sha256": {
                          "type": "string"
                        },
                        "deterministic": {
                          "type": "boolean"
                        },
                        "llm_used": {
                          "type": "boolean"
                        },
                        "payment": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "endpoint": "western/aspects",
                  "result": {
                    "settings": {
                      "aspects": {
                        "types": [
                          "conjunction",
                          "opposition",
                          "trine"
                        ],
                        "orbs": {
                          "conjunction": 8.0,
                          "opposition": 8.0,
                          "trine": 7.0,
                          "square": 7.0,
                          "sextile": 5.0
                        },
                        "luminary_orb_bonus": 2.0
                      },
                      "source": "longitudes"
                    },
                    "aspects": [
                      {
                        "point_a": "sun",
                        "point_b": "saturn",
                        "aspect": "trine",
                        "angle": 120.0,
                        "orb": 0.8,
                        "orb_allowed": 9.0,
                        "exactness_pct": 91.1
                      },
                      {
                        "point_a": "moon",
                        "point_b": "saturn",
                        "aspect": "conjunction",
                        "angle": 0.0,
                        "orb": 2.2,
                        "orb_allowed": 10.0,
                        "exactness_pct": 78.0
                      },
                      {
                        "point_a": "sun",
                        "point_b": "moon",
                        "aspect": "trine",
                        "angle": 120.0,
                        "orb": 3.0,
                        "orb_allowed": 9.0,
                        "exactness_pct": 66.7
                      }
                    ]
                  },
                  "meta": {
                    "engine": "astro-agents/1.0.3",
                    "ephemeris": "NASA/JPL DE440 (1800-01-01..2200-01-01)",
                    "astronomy_library": "skyfield/1.55",
                    "frame": "geocentric apparent positions, true ecliptic and equinox of date (IAU 2006/2000A)",
                    "deterministic": true,
                    "llm_used": false,
                    "input_sha256": "2cdc593e3cfb8d86604f58a0e70b0ded76974a0e25a362e32797bc132b3e61cf",
                    "result_sha256": "d9b6880d14220f7cafea3de8822c09202288b87349b8cd71f67e169591ad39f0",
                    "reproducibility": "result_sha256 = SHA-256 of the result serialized as JSON with sorted keys, no whitespace, UTF-8, floats rounded to 6 decimals. Same input + same engine version => same hash."
                  },
                  "example_note": "real output of engine 1.0.3; lists shortened to 3 items"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (never charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "charged": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required: x402 offer in body / PAYMENT-REQUIRED, MPP offer in WWW-Authenticate",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c0000000000000000000006a37da5c996874be"
              }
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ],
          "offers": [
            {
              "amount": "20000",
              "currency": "0x20c0000000000000000000006a37da5c996874be",
              "description": "Aspects - Aspects (with orb, exactness, applying/separating) for a moment, or for any longitudes you supply.",
              "intent": "charge",
              "method": "tempo"
            },
            {
              "amount": "20000",
              "currency": "0x20c000000000000000000000b9537d11c60e8b50",
              "description": "Aspects - Aspects (with orb, exactness, applying/separating) for a moment, or for any longitudes you supply.",
              "intent": "charge",
              "method": "tempo"
            }
          ]
        },
        "x-mcp-tool": "aspects"
      }
    },
    "/v1/western/natal": {
      "post": {
        "operationId": "westernNatal",
        "summary": "Western natal chart ($0.06)",
        "description": "Complete natal chart: planets in signs and houses, ascendant, MC, 11 house systems, aspects, summary.\n\nEverything a natal reading needs, computed exactly: positions, house cusps (Placidus by default; Koch, Whole Sign, Equal, Porphyry, Regiomontanus, Campanus, Topocentric, Alcabitius, Morinus, Meridian), ascendant/MC/DSC/IC, aspects with orbs and applying/separating state, element and modality balance, chart ruler, sect and Part of Fortune.",
        "tags": [
          "western"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                    "examples": [
                      "1990-05-15T14:30"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "description": "YYYY-MM-DD (use with 'time' instead of 'datetime')."
                  },
                  "time": {
                    "type": "string",
                    "description": "HH:MM or HH:MM:SS, 24 h. Omit if unknown (computed at 12:00 with a TIME_UNKNOWN warning)."
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90,
                    "description": "Decimal degrees, north positive."
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180,
                    "description": "Decimal degrees, east positive."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                  },
                  "time_basis": {
                    "type": "string",
                    "enum": [
                      "civil",
                      "utc",
                      "lmt",
                      "true_solar"
                    ],
                    "default": "civil",
                    "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                  },
                  "ambiguous_time": {
                    "type": "string",
                    "enum": [
                      "earlier",
                      "later"
                    ],
                    "default": "earlier",
                    "description": "Which occurrence to use when a local time happens twice (DST fall-back)."
                  },
                  "options": {
                    "type": "object",
                    "description": "Optional calculation settings; every default is the common Western convention.",
                    "properties": {
                      "house_system": {
                        "type": "string",
                        "enum": [
                          "alcabitius",
                          "campanus",
                          "equal",
                          "koch",
                          "meridian",
                          "morinus",
                          "placidus",
                          "porphyry",
                          "regiomontanus",
                          "topocentric",
                          "whole_sign"
                        ],
                        "default": "placidus",
                        "description": "House system for cusps and planet houses, e.g. 'placidus' (default) or 'whole_sign'."
                      },
                      "zodiac": {
                        "type": "string",
                        "enum": [
                          "tropical",
                          "sidereal"
                        ],
                        "default": "tropical",
                        "description": "'tropical' (Western, default) or 'sidereal' (pair it with 'ayanamsa')."
                      },
                      "ayanamsa": {
                        "type": "string",
                        "enum": [
                          "fagan_bradley",
                          "krishnamurti",
                          "lahiri",
                          "raman",
                          "true_chitrapaksha",
                          "yukteshwar"
                        ],
                        "default": "lahiri",
                        "description": "Only with zodiac=sidereal."
                      },
                      "points": {
                        "description": "'all' or a list from ['sun', 'moon', 'mercury', 'venus', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'mean_node', 'true_node', 'mean_lilith']. Default: 10 planets + true node + mean Lilith.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sun",
                                "moon",
                                "mercury",
                                "venus",
                                "mars",
                                "jupiter",
                                "saturn",
                                "uranus",
                                "neptune",
                                "pluto",
                                "mean_node",
                                "true_node",
                                "mean_lilith"
                              ]
                            }
                          }
                        ]
                      },
                      "aspects": {
                        "description": "'all' or a list from ['conjunction', 'opposition', 'trine', 'square', 'sextile', 'quincunx', 'semisextile', 'semisquare', 'sesquiquadrate', 'quintile', 'biquintile']. Default: the 5 majors.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conjunction",
                                "opposition",
                                "trine",
                                "square",
                                "sextile",
                                "quincunx",
                                "semisextile",
                                "semisquare",
                                "sesquiquadrate",
                                "quintile",
                                "biquintile"
                              ]
                            }
                          }
                        ]
                      },
                      "orbs": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 15
                        },
                        "description": "Override orbs per aspect, degrees."
                      },
                      "luminary_orb_bonus": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 5,
                        "default": 2,
                        "description": "Extra orb in degrees for aspects involving the Sun or the Moon. Example: 2."
                      }
                    }
                  }
                },
                "required": [
                  "latitude",
                  "longitude"
                ]
              },
              "example": {
                "datetime": "1990-05-15T14:30",
                "latitude": 48.8566,
                "longitude": 2.3522
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope with reproducibility hashes",
            "headers": {
              "X-Result-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Input-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "x402 receipt"
              },
              "Payment-Receipt": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP receipt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "endpoint",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "endpoint": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "engine": {
                          "type": "string"
                        },
                        "ephemeris": {
                          "type": "string"
                        },
                        "input_sha256": {
                          "type": "string"
                        },
                        "result_sha256": {
                          "type": "string"
                        },
                        "deterministic": {
                          "type": "boolean"
                        },
                        "llm_used": {
                          "type": "boolean"
                        },
                        "payment": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "endpoint": "western/natal",
                  "result": {
                    "subject": {
                      "time": {
                        "local_input": "1990-05-15T14:30",
                        "time_basis": "civil",
                        "timezone": "Europe/Paris",
                        "timezone_source": "resolved_from_coordinates",
                        "utc_offset": "+02:00",
                        "is_dst": true,
                        "utc": "1990-05-15T12:30:00Z",
                        "julian_day_ut": 2448027.020834,
                        "julian_day_tt": 2448027.021495,
                        "delta_t_seconds": 57.14,
                        "time_known": true,
                        "local_mean_time": "1990-05-15T12:39:24",
                        "true_solar_time": "1990-05-15T12:43:06",
                        "equation_of_time_minutes": 3.7054
                      },
                      "location": {
                        "latitude": 48.8566,
                        "longitude": 2.3522
                      }
                    },
                    "settings": {
                      "zodiac": "tropical",
                      "house_system": "placidus",
                      "aspects": {
                        "types": [
                          "conjunction",
                          "opposition",
                          "trine"
                        ],
                        "orbs": {
                          "conjunction": 8.0,
                          "opposition": 8.0,
                          "trine": 7.0,
                          "square": 7.0,
                          "sextile": 5.0
                        },
                        "luminary_orb_bonus": 2.0
                      }
                    },
                    "angles": {
                      "ascendant": {
                        "longitude": 160.24557,
                        "sign": "Virgo",
                        "sign_index": 5,
                        "degree_in_sign": 10.24557,
                        "position": "10°14'44\" Virgo",
                        "element": "earth",
                        "modality": "mutable"
                      },
                      "midheaven": {
                        "longitude": 64.783203,
                        "sign": "Gemini",
                        "sign_index": 2,
                        "degree_in_sign": 4.783203,
                        "position": "4°47'00\" Gemini",
                        "element": "air",
                        "modality": "mutable"
                      },
                      "descendant": {
                        "longitude": 340.24557,
                        "sign": "Pisces",
                        "sign_index": 11,
                        "degree_in_sign": 10.24557,
                        "position": "10°14'44\" Pisces",
                        "element": "water",
                        "modality": "mutable"
                      },
                      "imum_coeli": {
                        "longitude": 244.783203,
                        "sign": "Sagittarius",
                        "sign_index": 8,
                        "degree_in_sign": 4.783203,
                        "position": "4°47'00\" Sagittarius",
                        "element": "fire",
                        "modality": "mutable"
                      }
                    },
                    "houses": [
                      {
                        "house": 1,
                        "cusp": 160.24557,
                        "sign": "Virgo",
                        "sign_index": 5,
                        "degree_in_sign": 10.24557,
                        "position": "10°14'44\" Virgo",
                        "element": "earth",
                        "modality": "mutable"
                      },
                      {
                        "house": 2,
                        "cusp": 182.316905,
                        "sign": "Libra",
                        "sign_index": 6,
                        "degree_in_sign": 2.316905,
                        "position": "2°19'01\" Libra",
                        "element": "air",
                        "modality": "cardinal"
                      },
                      {
                        "house": 3,
                        "cusp": 210.401537,
                        "sign": "Scorpio",
                        "sign_index": 7,
                        "degree_in_sign": 0.401537,
                        "position": "0°24'06\" Scorpio",
                        "element": "water",
                        "modality": "fixed"
                      }
                    ],
                    "sidereal_time": {
                      "armc_deg": 62.829109,
                      "true_obliquity_deg": 23.442164
                    },
                    "points": [
                      {
                        "point": "sun",
                        "name": "Sun",
                        "longitude": 54.416197,
                        "sign": "Taurus",
                        "sign_index": 1,
                        "degree_in_sign": 24.416197,
                        "position": "24°24'58\" Taurus",
                        "element": "earth",
                        "modality": "fixed",
                        "latitude": -1.9e-05,
                        "speed_longitude": 0.964154,
                        "retrograde": false,
                        "distance_au": 1.010905,
                        "house": 9
                      },
                      {
                        "point": "moon",
                        "name": "Moon",
                        "longitude": 297.419463,
                        "sign": "Capricorn",
                        "sign_index": 9,
                        "degree_in_sign": 27.419463,
                        "position": "27°25'10\" Capricorn",
                        "element": "earth",
                        "modality": "cardinal",
                        "latitude": -1.124087,
                        "speed_longitude": 12.360083,
                        "retrograde": false,
                        "distance_au": 0.002643,
                        "house": 5
                      },
                      {
                        "point": "mercury",
                        "name": "Mercury",
                        "longitude": 38.009973,
                        "sign": "Taurus",
                        "sign_index": 1,
                        "degree_in_sign": 8.009973,
                        "position": "8°00'36\" Taurus",
                        "element": "earth",
                        "modality": "fixed",
                        "latitude": -2.523528,
                        "speed_longitude": -0.118848,
                        "retrograde": true,
                        "distance_au": 0.602159,
                        "house": 9
                      }
                    ],
                    "aspects": [
                      {
                        "point_a": "jupiter",
                        "point_b": "uranus",
                        "aspect": "opposition",
                        "angle": 180.0,
                        "orb": 0.362323,
                        "orb_allowed": 8.0,
                        "exactness_pct": 95.5,
                        "state": "separating"
                      },
                      {
                        "point_a": "jupiter",
                        "point_b": "ascendant",
                        "aspect": "sextile",
                        "angle": 60.0,
                        "orb": 0.699881,
                        "orb_allowed": 5.0,
                        "exactness_pct": 86.0
                      },
                      {
                        "point_a": "sun",
                        "point_b": "saturn",
                        "aspect": "trine",
                        "angle": 120.0,
                        "orb": 0.832861,
                        "orb_allowed": 9.0,
                        "exactness_pct": 90.7,
                        "state": "applying"
                      }
                    ],
                    "summary": {
                      "sun_sign": "Taurus",
                      "moon_sign": "Capricorn",
                      "rising_sign": "Virgo",
                      "element_balance": {
                        "earth": 6,
                        "fire": 1,
                        "water": 3
                      },
                      "modality_balance": {
                        "fixed": 3,
                        "cardinal": 6,
                        "mutable": 1
                      },
                      "retrograde_planets": [
                        "mercury",
                        "saturn",
                        "uranus"
                      ],
                      "chart_ruler": {
                        "traditional": "Mercury",
                        "modern": "Mercury"
                      },
                      "sect": "day",
                      "part_of_fortune": {
                        "longitude": 43.248836,
                        "sign": "Taurus",
                        "sign_index": 1,
                        "degree_in_sign": 13.248836,
                        "position": "13°14'56\" Taurus",
                        "element": "earth",
                        "modality": "fixed",
                        "formula": "ASC + Moon - Sun (day) / ASC + Sun - Moon (night)"
                      }
                    }
                  },
                  "meta": {
                    "engine": "astro-agents/1.0.3",
                    "ephemeris": "NASA/JPL DE440 (1800-01-01..2200-01-01)",
                    "astronomy_library": "skyfield/1.55",
                    "frame": "geocentric apparent positions, true ecliptic and equinox of date (IAU 2006/2000A)",
                    "deterministic": true,
                    "llm_used": false,
                    "input_sha256": "bfef1219bc6db2225ab6fd459d5c15b6d448ee730cad073399b878047d800c65",
                    "result_sha256": "be1fb244a2d60d64f2996cbccab5d7603af0c17e9127b5cb558c58e72f56adfe",
                    "reproducibility": "result_sha256 = SHA-256 of the result serialized as JSON with sorted keys, no whitespace, UTF-8, floats rounded to 6 decimals. Same input + same engine version => same hash."
                  },
                  "example_note": "real output of engine 1.0.3; lists shortened to 3 items"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (never charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "charged": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required: x402 offer in body / PAYMENT-REQUIRED, MPP offer in WWW-Authenticate",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.060000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c0000000000000000000006a37da5c996874be"
              }
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ],
          "offers": [
            {
              "amount": "60000",
              "currency": "0x20c0000000000000000000006a37da5c996874be",
              "description": "Western natal chart - Complete natal chart: planets in signs and houses, ascendant, MC, 11 house systems, aspects, summary.",
              "intent": "charge",
              "method": "tempo"
            },
            {
              "amount": "60000",
              "currency": "0x20c000000000000000000000b9537d11c60e8b50",
              "description": "Western natal chart - Complete natal chart: planets in signs and houses, ascendant, MC, 11 house systems, aspects, summary.",
              "intent": "charge",
              "method": "tempo"
            }
          ]
        },
        "x-mcp-tool": "natal_chart"
      }
    },
    "/v1/western/transits": {
      "post": {
        "operationId": "westernTransits",
        "summary": "Transits ($0.08)",
        "description": "Transits to a natal chart at a moment, and exact hit times over a window of up to a year.\n\n'transit': aspects from the sky at a moment to every natal point, with the natal house each transiting planet occupies. 'window': the exact UTC minute every transiting planet perfects each aspect to each natal point over up to 366 days (62 with the Moon), retrograde passes included.",
        "tags": [
          "western"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "natal"
                ],
                "properties": {
                  "natal": {
                    "type": "object",
                    "properties": {
                      "datetime": {
                        "type": "string",
                        "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                        "examples": [
                          "1990-05-15T14:30"
                        ]
                      },
                      "date": {
                        "type": "string",
                        "description": "YYYY-MM-DD (use with 'time' instead of 'datetime')."
                      },
                      "time": {
                        "type": "string",
                        "description": "HH:MM or HH:MM:SS, 24 h. Omit if unknown (computed at 12:00 with a TIME_UNKNOWN warning)."
                      },
                      "latitude": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90,
                        "description": "Decimal degrees, north positive."
                      },
                      "longitude": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180,
                        "description": "Decimal degrees, east positive."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                      },
                      "time_basis": {
                        "type": "string",
                        "enum": [
                          "civil",
                          "utc",
                          "lmt",
                          "true_solar"
                        ],
                        "default": "civil",
                        "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                      },
                      "ambiguous_time": {
                        "type": "string",
                        "enum": [
                          "earlier",
                          "later"
                        ],
                        "default": "earlier",
                        "description": "Which occurrence to use when a local time happens twice (DST fall-back)."
                      }
                    },
                    "required": [
                      "latitude",
                      "longitude"
                    ],
                    "description": "Birth data."
                  },
                  "transit": {
                    "type": "object",
                    "properties": {
                      "datetime": {
                        "type": "string",
                        "description": "Local birth date-time, ISO 8601: '1990-05-15T14:30' (local clock time at the place) or with an explicit offset '1990-05-15T14:30:00+02:00'. Alternative: 'date' + 'time'.",
                        "examples": [
                          "1990-05-15T14:30"
                        ]
                      },
                      "timezone": {
                        "type": "string",
                        "description": "IANA zone, e.g. 'Asia/Kolkata'. Optional: resolved from the coordinates, with the historical offset (DST, Local Mean Time) of that date."
                      },
                      "time_basis": {
                        "type": "string",
                        "enum": [
                          "civil",
                          "utc",
                          "lmt",
                          "true_solar"
                        ],
                        "default": "civil",
                        "description": "What the given clock time is: civil wall-clock (default), UTC, Local Mean Time, or true (apparent) solar time."
                      }
                    },
                    "description": "The transit moment. A bare local time is read in the natal place's zone."
                  },
                  "window": {
                    "type": "object",
                    "description": "UTC dates YYYY-MM-DD, at most 366 days apart.",
                    "properties": {
                      "start": {
                        "type": "string",
                        "description": "First UTC date, YYYY-MM-DD. Example: '2026-10-01'."
                      },
                      "end": {
                        "type": "string",
                        "description": "Last UTC date, YYYY-MM-DD, at most 366 days after start."
                      },
                      "include_moon": {
                        "type": "boolean",
                        "description": "Also time the fast Moon transits; the window is then limited to 62 days."
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "Optional calculation settings; every default is the common Western convention.",
                    "properties": {
                      "house_system": {
                        "type": "string",
                        "enum": [
                          "alcabitius",
                          "campanus",
                          "equal",
                          "koch",
                          "meridian",
                          "morinus",
                          "placidus",
                          "porphyry",
                          "regiomontanus",
                          "topocentric",
                          "whole_sign"
                        ],
                        "default": "placidus",
                        "description": "House system for cusps and planet houses, e.g. 'placidus' (default) or 'whole_sign'."
                      },
                      "zodiac": {
                        "type": "string",
                        "enum": [
                          "tropical",
                          "sidereal"
                        ],
                        "default": "tropical",
                        "description": "'tropical' (Western, default) or 'sidereal' (pair it with 'ayanamsa')."
                      },
                      "ayanamsa": {
                        "type": "string",
                        "enum": [
                          "fagan_bradley",
                          "krishnamurti",
                          "lahiri",
                          "raman",
                          "true_chitrapaksha",
                          "yukteshwar"
                        ],
                        "default": "lahiri",
                        "description": "Only with zodiac=sidereal."
                      },
                      "points": {
                        "description": "'all' or a list from ['sun', 'moon', 'mercury', 'venus', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'mean_node', 'true_node', 'mean_lilith']. Default: 10 planets + true node + mean Lilith.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sun",
                                "moon",
                                "mercury",
                                "venus",
                                "mars",
                                "jupiter",
                                "saturn",
                                "uranus",
                                "neptune",
                                "pluto",
                                "mean_node",
                                "true_node",
                                "mean_lilith"
                              ]
                            }
                          }
                        ]
                      },
                      "aspects": {
                        "description": "'all' or a list from ['conjunction', 'opposition', 'trine', 'square', 'sextile', 'quincunx', 'semisextile', 'semisquare', 'sesquiquadrate', 'quintile', 'biquintile']. Default: the 5 majors.",
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conjunction",
                                "opposition",
                                "trine",
                                "square",
                                "sextile",
                                "quincunx",
                                "semisextile",
                                "semisquare",
                                "sesquiquadrate",
                                "quintile",
                                "biquintile"
                              ]
                            }
                          }
                        ]
                      },
                      "orbs": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 15
                        },
                        "description": "Override orbs per aspect, degrees."
                      },
                      "luminary_orb_bonus": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 5,
                        "default": 2,
                        "description": "Extra orb in degrees for aspects involving the Sun or the Moon. Example: 2."
                      }
                    }
                  }
                }
              },
              "example": {
                "natal": {
                  "datetime": "1990-05-15T14:30",
                  "latitude": 48.8566,
                  "longitude": 2.3522
                },
                "transit": {
                  "datetime": "2026-10-01T12:00"
                },
                "window": {
                  "start": "2026-10-01",
                  "end": "2026-12-31"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope with reproducibility hashes",
            "headers": {
              "X-Result-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Input-SHA256": {
                "schema": {
                  "type": "string"
                }
              },
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "x402 receipt"
              },
              "Payment-Receipt": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP receipt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "endpoint",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "endpoint": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "engine": {
                          "type": "string"
                        },
                        "ephemeris": {
                          "type": "string"
                        },
                        "input_sha256": {
                          "type": "string"
                        },
                        "result_sha256": {
                          "type": "string"
                        },
                        "deterministic": {
                          "type": "boolean"
                        },
                        "llm_used": {
                          "type": "boolean"
                        },
                        "payment": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "endpoint": "western/transits",
                  "result": {
                    "natal": {
                      "subject": {
                        "time": {
                          "local_input": "1990-05-15T14:30",
                          "time_basis": "civil",
                          "timezone": "Europe/Paris",
                          "timezone_source": "resolved_from_coordinates",
                          "utc_offset": "+02:00",
                          "is_dst": true,
                          "utc": "1990-05-15T12:30:00Z",
                          "julian_day_ut": 2448027.020834,
                          "julian_day_tt": 2448027.021495,
                          "delta_t_seconds": 57.14,
                          "time_known": true,
                          "local_mean_time": "1990-05-15T12:39:24",
                          "true_solar_time": "1990-05-15T12:43:06",
                          "equation_of_time_minutes": 3.7054
                        },
                        "location": {
                          "latitude": 48.8566,
                          "longitude": 2.3522
                        }
                      },
                      "settings": {
                        "zodiac": "tropical",
                        "house_system": "placidus"
                      },
                      "points": [
                        {
                          "point": "sun",
                          "name": "Sun",
                          "longitude": 54.416197,
                          "sign": "Taurus",
                          "sign_index": 1,
                          "degree_in_sign": 24.416197,
                          "position": "24°24'58\" Taurus",
                          "element": "earth",
                          "modality": "fixed",
                          "latitude": -1.9e-05,
                          "speed_longitude": 0.964154,
                          "retrograde": false,
                          "distance_au": 1.010905,
                          "house": 9
                        },
                        {
                          "point": "moon",
                          "name": "Moon",
                          "longitude": 297.419463,
                          "sign": "Capricorn",
                          "sign_index": 9,
                          "degree_in_sign": 27.419463,
                          "position": "27°25'10\" Capricorn",
                          "element": "earth",
                          "modality": "cardinal",
                          "latitude": -1.124087,
                          "speed_longitude": 12.360083,
                          "retrograde": false,
                          "distance_au": 0.002643,
                          "house": 5
                        },
                        {
                          "point": "mercury",
                          "name": "Mercury",
                          "longitude": 38.009973,
                          "sign": "Taurus",
                          "sign_index": 1,
                          "degree_in_sign": 8.009973,
                          "position": "8°00'36\" Taurus",
                          "element": "earth",
                          "modality": "fixed",
                          "latitude": -2.523528,
                          "speed_longitude": -0.118848,
                          "retrograde": true,
                          "distance_au": 0.602159,
                          "house": 9
                        }
                      ],
                      "angles": {
                        "ascendant": {
                          "longitude": 160.24557,
                          "sign": "Virgo",
                          "sign_index": 5,
                          "degree_in_sign": 10.24557,
                          "position": "10°14'44\" Virgo",
                          "element": "earth",
                          "modality": "mutable"
                        },
                        "midheaven": {
                          "longitude": 64.783203,
                          "sign": "Gemini",
                          "sign_index": 2,
                          "degree_in_sign": 4.783203,
                          "position": "4°47'00\" Gemini",
                          "element": "air",
                          "modality": "mutable"
                        },
                        "descendant": {
                          "longitude": 340.24557,
                          "sign": "Pisces",
                          "sign_index": 11,
                          "degree_in_sign": 10.24557,
                          "position": "10°14'44\" Pisces",
                          "element": "water",
                          "modality": "mutable"
                        },
                        "imum_coeli": {
                          "longitude": 244.783203,
                          "sign": "Sagittarius",
                          "sign_index": 8,
                          "degree_in_sign": 4.783203,
                          "position": "4°47'00\" Sagittarius",
                          "element": "fire",
                          "modality": "mutable"
                        }
                      }
                    },
                    "settings": {
                      "aspects": {
                        "types": [
                          "conjunction",
                          "opposition",
                          "trine"
                        ],
                        "orbs": {
                          "conjunction": 2.0,
                          "opposition": 2.0,
                          "trine": 2.0,
                          "square": 2.0,
                          "sextile": 1.5
                        },
                        "luminary_orb_bonus": 0.0
                      }
                    },
                    "transit": {
                      "time": {
                        "local_input": "2026-10-01T12:00",
                        "time_basis": "civil",
                        "timezone": "Europe/Paris",
                        "timezone_source": "resolved_from_coordinates",
                        "utc_offset": "+02:00",
                        "is_dst": true,
                        "utc": "2026-10-01T10:00:00Z",
                        "julian_day_ut": 2461314.916668,
                        "julian_day_tt": 2461314.917467,
                        "delta_t_seconds": 69.091,
                        "time_known": true,
                        "local_mean_time": "2026-10-01T10:09:24",
                        "true_solar_time": "2026-10-01T10:19:43",
                        "equation_of_time_minutes": 10.3174
                      },
                      "points": [
                        {
                          "point": "sun",
                          "name": "Sun",
                          "longitude": 188.248256,
                          "sign": "Libra",
                          "sign_index": 6,
                          "degree_in_sign": 8.248256,
                          "position": "8°14'54\" Libra",
                          "element": "air",
                          "modality": "cardinal",
                          "latitude": 0.000187,
                          "speed_longitude": 0.982874,
                          "retrograde": false,
                          "distance_au": 1.00121,
                          "natal_house": 2
                        },
                        {
                          "point": "moon",
                          "name": "Moon",
                          "longitude": 69.858053,
                          "sign": "Gemini",
                          "sign_index": 2,
                          "degree_in_sign": 9.858053,
                          "position": "9°51'29\" Gemini",
                          "element": "air",
                          "modality": "mutable",
                          "latitude": 5.077628,
                          "speed_longitude": 14.284505,
                          "retrograde": false,
                          "distance_au": 0.002469,
                          "natal_house": 10
                        },
                        {
                          "point": "mercury",
                          "name": "Mercury",
                          "longitude": 211.229501,
                          "sign": "Scorpio",
                          "sign_index": 7,
                          "degree_in_sign": 1.229501,
                          "position": "1°13'46\" Scorpio",
                          "element": "water",
                          "modality": "fixed",
                          "latitude": -1.797208,
                          "speed_longitude": 1.315753,
                          "retrograde": false,
                          "distance_au": 1.170399,
                          "natal_house": 3
                        }
                      ],
                      "aspects_to_natal": [
                        {
                          "point_a": "transit:moon",
                          "point_b": "natal:ascendant",
                          "aspect": "square",
                          "angle": 90.0,
                          "orb": 0.387516,
                          "orb_allowed": 2.0,
                          "exactness_pct": 80.6,
                          "state": "applying"
                        },
                        {
                          "point_a": "transit:moon",
                          "point_b": "natal:true_node",
                          "aspect": "trine",
                          "angle": 120.0,
                          "orb": 0.399413,
                          "orb_allowed": 2.0,
                          "exactness_pct": 80.0,
                          "state": "applying"
                        },
                        {
                          "point_a": "transit:venus",
                          "point_b": "natal:mercury",
                          "aspect": "opposition",
                          "angle": 180.0,
                          "orb": 0.412961,
                          "orb_allowed": 2.0,
                          "exactness_pct": 79.4,
                          "state": "separating"
                        }
                      ]
                    },
                    "window": {
                      "start": "2026-10-01",
                      "end": "2026-12-31",
                      "include_moon": false,
                      "precision": "+/- 1 minute",
                      "count": 95,
                      "hits": [
                        {
                          "transit_point": "sun",
                          "natal_point": "uranus",
                          "aspect": "square",
                          "exact_utc": "2026-10-02T08:49Z",
                          "transit_retrograde": false
                        },
                        {
                          "transit_point": "sun",
                          "natal_point": "jupiter",
                          "aspect": "square",
                          "exact_utc": "2026-10-02T17:40Z",
                          "transit_retrograde": false
                        },
                        {
                          "transit_point": "sun",
                          "natal_point": "true_node",
                          "aspect": "trine",
                          "exact_utc": "2026-10-03T11:02Z",
                          "transit_retrograde": false
                        }
                      ]
                    }
                  },
                  "meta": {
                    "engine": "astro-agents/1.0.3",
[...]
