{
  "openapi": "3.0.3",
  "info": {
    "title": "Brian Booms x402 Store",
    "version": "2.0.0",
    "description": "62 paid endpoints for AI agents via x402 USDC: music products, data APIs, ambient audio. Unpaid requests return 402 (Solana/Base/Polygon/Arbitrum/Avalanche)."
  },
  "servers": [
    {
      "url": "https://pay.brianbooms.com"
    }
  ],
  "paths": {
    "/api/v1/buy/agent-wallpaper-cosmic-sunrise": {
      "get": {
        "summary": "Purchase Agent Wallpaper - Cosmic Sunrise for $0.05",
        "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/agent-wallpaper-golden-godrays": {
      "get": {
        "summary": "Purchase Agent Wallpaper - Golden Godrays for $0.05",
        "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/agent-wallpaper-midnight-drift": {
      "get": {
        "summary": "Purchase Agent Wallpaper - Midnight Drift for $0.05",
        "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/agent-wallpaper-teal-sanctuary": {
      "get": {
        "summary": "Purchase Agent Wallpaper - Teal Sanctuary for $0.05",
        "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/bazaar-ping": {
      "get": {
        "summary": "Purchase Bazaar Ping (discovery test) for $0.05",
        "description": "Discovery test purchase. One cosmic wallpaper JPG (16:9), instant download. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-fx-10pack": {
      "get": {
        "summary": "Purchase FX Data - 10-Call Pack for $0.08",
        "description": "10 FX conversion calls for the price of 8 (20% off). Single-use bearer tokens, 30-day expiry. Redeem with ?token= on /api/v1/data/fx. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-fx-monthly": {
      "get": {
        "summary": "Purchase FX Data - Monthly Pass for $1.20",
        "description": "30 days of FX conversion calls via one bearer token - no per-call charge. Redeem with ?token= on /api/v1/data/fx. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-fx-weekly": {
      "get": {
        "summary": "Purchase FX Data - Weekly Pass for $0.40",
        "description": "7 days of FX conversion calls via one bearer token - no per-call charge. Redeem with ?token= on /api/v1/data/fx. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-weather-10pack": {
      "get": {
        "summary": "Purchase Weather Data - 10-Call Pack for $0.08",
        "description": "10 weather API calls for the price of 8 (20% off). Single-use bearer tokens, 30-day expiry. Redeem with ?token= on /api/v1/data/weather. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-weather-monthly": {
      "get": {
        "summary": "Purchase Weather Data - Monthly Pass for $1.20",
        "description": "30 days of weather API calls via one bearer token - no per-call charge. Redeem with ?token= on /api/v1/data/weather. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/data-weather-weekly": {
      "get": {
        "summary": "Purchase Weather Data - Weekly Pass for $0.40",
        "description": "7 days of weather API calls via one bearer token - no per-call charge. Redeem with ?token= on /api/v1/data/weather. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/deep-focus-vol1": {
      "get": {
        "summary": "Purchase Deep Focus Collection Vol 1 for $9.99",
        "description": "Calm, spacious ambient for work, study, and deep focus. 320kbps MP3. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/deep-focus-vol2": {
      "get": {
        "summary": "Purchase Deep Focus Collection Vol 2 for $9.99",
        "description": "Second volume of calm, spacious ambient for work, study, and deep focus. 320kbps MP3. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/lyrics-complete-pdf": {
      "get": {
        "summary": "Purchase Complete Lyrics - 125 Songs (PDF) for $9.99",
        "description": "The full lyric book: all 125 Brian Booms songs in one PDF. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/podcast-ambient-transitions": {
      "get": {
        "summary": "Purchase Ambient Transitions - Bridges & Bumpers for $29.00",
        "description": "Bridges, bumpers, and transitions to carry podcast listeners between segments. 256kbps MP3 music beds. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/podcast-bundle": {
      "get": {
        "summary": "Purchase Podcast Music Bundle - All 3 Packs for $69.00",
        "description": "Calm Beginnings + Gentle Endings + Ambient Transitions: 20 podcast music beds. Save $18 vs buying separately. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/podcast-calm-beginnings": {
      "get": {
        "summary": "Purchase Calm Beginnings - Podcast Intro Stingers for $29.00",
        "description": "Warm, welcoming stingers to open every podcast episode. 256kbps MP3 music beds. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/podcast-gentle-endings": {
      "get": {
        "summary": "Purchase Gentle Endings - Podcast Outro Beds for $29.00",
        "description": "Soft landing beds for podcast outros and sign-offs. 256kbps MP3 music beds. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/ringtones-android": {
      "get": {
        "summary": "Purchase Android Ringtones for $4.99",
        "description": "Collection of Brian Booms ambient pieces formatted as Android ringtones. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/ringtones-iphone": {
      "get": {
        "summary": "Purchase iPhone Ringtones for $4.99",
        "description": "Collection of Brian Booms ambient pieces formatted as iPhone ringtones. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/sleep-club-annual": {
      "get": {
        "summary": "Purchase Sleep Club - Annual Membership for $99.00",
        "description": "A year of deep rest: the complete Deep Sleep Radio library to keep (MP3 320kbps + FLAC) plus the member bonus bundle of extended wind-down edits. $99/year, no auto-renewal, refundable within 14 days. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wallpaper-cosmic-sunrise": {
      "get": {
        "summary": "Purchase Wallpaper - Cosmic Sunrise (Single) for $0.99",
        "description": "One cosmic desktop wallpaper (16:9): cosmic sunrise. Instant download, yours to keep. For personal use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wallpaper-golden-godrays": {
      "get": {
        "summary": "Purchase Wallpaper - Golden Godrays (Single) for $0.99",
        "description": "One cosmic desktop wallpaper (16:9) in the Synthetic Universe god-rays style. Instant download, yours to keep. For personal use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wallpaper-midnight-drift": {
      "get": {
        "summary": "Purchase Wallpaper - Midnight Drift (Single) for $0.99",
        "description": "One cosmic desktop wallpaper (16:9): midnight drift. Instant download, yours to keep. For personal use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wallpaper-pack-vol1": {
      "get": {
        "summary": "Purchase Synthetic Universe Wallpaper Pack Vol. 1 for $2.99",
        "description": "4 cosmic desktop wallpapers (16:9) in the Synthetic Universe god-rays style. For personal use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wallpaper-teal-sanctuary": {
      "get": {
        "summary": "Purchase Wallpaper - Teal Sanctuary (Single) for $0.99",
        "description": "One cosmic desktop wallpaper (16:9): teal sanctuary. Instant download, yours to keep. For personal use. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wellness-pack-complete": {
      "get": {
        "summary": "Purchase Wellness Studio Pack - Complete Collection for $199.00",
        "description": "The Complete Studio Collection: all 13 tracks, ~48 min - a full day of sound, morning to night. 320kbps MP3 + license certificate, instant delivery. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wellness-pack-deep-calm": {
      "get": {
        "summary": "Purchase Wellness Studio Pack - Deep Calm for $99.00",
        "description": "Deep Calm: 5 tracks, ~23 min of stillness for spas, float centers, sleep lounges, and meditation rooms. 320kbps MP3 + license certificate, instant delivery. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wellness-pack-evening-unwind": {
      "get": {
        "summary": "Purchase Wellness Studio Pack - Evening Unwind for $99.00",
        "description": "Evening Unwind: 4 tracks, ~12.5 min of wind-down for evening yoga, meditation, and closing hours. 320kbps MP3 + license certificate, instant delivery. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wellness-pack-morning-flow": {
      "get": {
        "summary": "Purchase Wellness Studio Pack - Morning Flow for $99.00",
        "description": "Morning Flow: 4 tracks, ~12.5 min of energy for yoga studios, movement classes, and bright morning rooms. 320kbps MP3 + license certificate, instant delivery. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/wellness-venue-license": {
      "get": {
        "summary": "Purchase Wellness Venue License - Annual for $299.00",
        "description": "Fill your space with heaven: 12 months of Brian Booms ambient/sleep catalog as in-venue background music, quarterly curated playlist, framed license certificate. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/buy/zine-lyrics-vol1": {
      "get": {
        "summary": "Purchase Synthetic Universe Lyrics Zine Vol. 1 for $9.99",
        "description": "10 songs, full lyrics, cosmic art. 15 pages. Download URL in the settlement response.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/affirmation": {
      "get": {
        "summary": "Fetch a spoken-word affirmation for focus",
        "description": "A short spoken-word affirmation audio/text for encouragement and focus. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/apod": {
      "get": {
        "summary": "Fetch NASA Astronomy Picture of the Day",
        "description": "NASA Astronomy Picture of the Day with explanation. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/bls": {
      "get": {
        "summary": "Fetch US Bureau of Labor Statistics data",
        "description": "BLS time-series data: CPI, unemployment, and more. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seriesid",
            "in": "query",
            "required": true,
            "description": "BLS series id, e.g. CUUR0000SA0 (CPI-U)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startyear",
            "in": "query",
            "required": true,
            "description": "Start year as YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endyear",
            "in": "query",
            "required": true,
            "description": "End year as YYYY",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/catalog-search": {
      "get": {
        "summary": "Search the Brian Booms music catalog",
        "description": "Search Brian Booms tracks by keyword. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/cert": {
      "get": {
        "summary": "Fetch TLS certificate details for a domain",
        "description": "TLS certificate details for a domain. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to inspect, e.g. example.com",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/earthquakes": {
      "get": {
        "summary": "Fetch recent earthquake data from USGS",
        "description": "Recent earthquake data from USGS. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/ecb": {
      "get": {
        "summary": "Fetch European Central Bank reference data",
        "description": "European Central Bank reference data. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/fortune": {
      "get": {
        "summary": "Fetch a fortune-cookie style message",
        "description": "A random fortune-cookie style message. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/fx": {
      "get": {
        "summary": "Fetch current foreign exchange rates",
        "description": "Current foreign exchange rates. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/fx-convert": {
      "get": {
        "summary": "Convert an amount between fiat currencies",
        "description": "Currency conversion between fiat currencies. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/gas-price": {
      "get": {
        "summary": "Fetch current EVM network gas prices",
        "description": "Current EVM gas prices. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/id-generate": {
      "get": {
        "summary": "Generate unique identifiers",
        "description": "Generate unique identifiers. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/iss-now": {
      "get": {
        "summary": "Fetch the live position of the ISS",
        "description": "Current position of the International Space Station. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/joke": {
      "get": {
        "summary": "Fetch a random joke for light relief",
        "description": "A random joke. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/lyric-quote": {
      "get": {
        "summary": "Fetch a lyric quote from Brian Booms",
        "description": "A lyric quote from the Brian Booms catalog. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/natural-events": {
      "get": {
        "summary": "Fetch recent natural events data",
        "description": "Recent natural events data. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/quote": {
      "get": {
        "summary": "Fetch an inspirational quote",
        "description": "A random inspirational quote. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/settle-day": {
      "get": {
        "summary": "Fetch the daily settlement summary",
        "description": "Daily settlement summary data. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/sleep-tip": {
      "get": {
        "summary": "Fetch a sleep hygiene tip for tonight",
        "description": "A sleep hygiene tip. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/spaceflight-news": {
      "get": {
        "summary": "Fetch recent spaceflight news headlines",
        "description": "Recent spaceflight news headlines. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/time": {
      "get": {
        "summary": "Fetch the current time in any zone",
        "description": "Current time data. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/unit-convert": {
      "get": {
        "summary": "Convert a value between units",
        "description": "Unit conversion across length, mass, temperature, data, speed, time, volume, area. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source unit, e.g. m",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target unit, e.g. ft",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "Numeric value to convert",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/data/worldbank": {
      "get": {
        "summary": "Fetch World Bank development indicators",
        "description": "World Bank development indicators by country. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO country code, e.g. US",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "description": "WDI code, e.g. NY.GDP.MKTP.CD",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/avastha": {
      "get": {
        "summary": "Generate consciousness-state ambient mapping",
        "description": "Avastha: ambient mapping for dream, deep sleep, or pure awareness states. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Consciousness state: svapna, sushupti, turiya, or all",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/focus": {
      "get": {
        "summary": "Generate focus-state ambient audio mapping",
        "description": "Focus-state ambient audio mapping. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/match": {
      "get": {
        "summary": "Generate mood-matched ambient audio",
        "description": "Mood-match ambient audio for a described feeling. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/nidra": {
      "get": {
        "summary": "Generate deep-yogic-sleep ambient mapping",
        "description": "Nidra: deep-yogic-sleep ambient audio mapping. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/rasa": {
      "get": {
        "summary": "Generate emotional-essence ambient mapping",
        "description": "Rasa: ambient mapping from the nine Navarasa emotional essences. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "essence",
            "in": "query",
            "required": true,
            "description": "One of the nine Navarasa, e.g. veera",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/rest": {
      "get": {
        "summary": "Generate rest-state ambient audio mapping",
        "description": "Rest-state ambient audio mapping. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    },
    "/api/v1/audio/solar-term": {
      "get": {
        "summary": "Generate solar-term ambient audio mapping",
        "description": "Ambient audio mapping from the 24 East Asian solar terms. Paid per call via x402.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required - x402 challenge with USDC on Solana/Base/Polygon/Arbitrum/Avalanche."
          },
          "200": {
            "description": "Paid. Response contains the purchased content or data."
          }
        }
      }
    }
  }
}