{
 "openapi": "3.0.3",
 "info": {
  "title": "Brian Booms x402 Store",
  "version": "1.0.0",
  "description": "33 digital products sold to AI agents via x402 USDC micropayments. Unpaid requests return HTTP 402 with payment requirements."
 },
 "servers": [
  {
   "url": "https://pay.brianbooms.com"
  }
 ],
 "paths": {
  "/api/v1/buy/agent-wallpaper-cosmic-sunrise": {
   "get": {
    "summary": "Agent Wallpaper \u2014 Cosmic Sunrise",
    "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/agent-wallpaper-golden-godrays": {
   "get": {
    "summary": "Agent Wallpaper \u2014 Golden Godrays",
    "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/agent-wallpaper-midnight-drift": {
   "get": {
    "summary": "Agent Wallpaper \u2014 Midnight Drift",
    "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/agent-wallpaper-teal-sanctuary": {
   "get": {
    "summary": "Agent Wallpaper \u2014 Teal Sanctuary",
    "description": "Machine purchase: one cosmic wallpaper JPG (16:9). Download URL returned in the settlement response, instantly. For agent use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/commission-ep": {
   "get": {
    "summary": "Custom Ambient Commission \u2014 EP",
    "description": "A custom multi-track ambient EP made only for the buyer. Service: Brian composes and delivers personally. Include the human's brief as the 'brief' query parameter or POST field.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/commission-extended": {
   "get": {
    "summary": "Custom Ambient Commission \u2014 Extended",
    "description": "An extended custom ambient piece made only for the buyer. Service: Brian composes and delivers personally. Include the human's brief as the 'brief' query parameter or POST field.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/commission-single": {
   "get": {
    "summary": "Custom Ambient Commission \u2014 Single",
    "description": "A custom ambient piece made only for the buyer (weddings, memorials, meditation, yoga). Service: Brian composes and delivers personally. Include the human's brief as the 'brief' query parameter or POST field.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/deep-focus-vol1": {
   "get": {
    "summary": "Deep Focus Collection Vol 1",
    "description": "Calm, spacious ambient for work, study, and deep focus. 320kbps MP3.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/deep-focus-vol2": {
   "get": {
    "summary": "Deep Focus Collection Vol 2",
    "description": "Second volume of calm, spacious ambient for work, study, and deep focus. 320kbps MP3.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/game-license-commercial": {
   "get": {
    "summary": "Commercial Game Music License",
    "description": "License Brian Booms ambient tracks for a commercial game, stream, or video project. Written license terms included.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/game-license-indie": {
   "get": {
    "summary": "Indie Game Music License",
    "description": "License Brian Booms ambient tracks for an indie game, stream, or video project. Written license terms included.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/lease-basic": {
   "get": {
    "summary": "Track Lease \u2014 Basic",
    "description": "Non-exclusive lease: MP3, 1 commercial release, up to 100,000 streams. Credit required. Non-transferable. No Content ID registration by buyer. Terms: https://brianbooms.com/leases/",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/lease-premium": {
   "get": {
    "summary": "Track Lease \u2014 Premium",
    "description": "Non-exclusive lease: WAV, 1 commercial release, up to 1,000,000 streams. Credit required. Non-transferable. No Content ID registration by buyer. Terms: https://brianbooms.com/leases/",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/lease-unlimited": {
   "get": {
    "summary": "Track Lease \u2014 Unlimited",
    "description": "Non-exclusive lease: WAV, up to 3 commercial releases, unlimited streams. Credit required. Non-transferable. No Content ID registration by buyer. Terms: https://brianbooms.com/leases/",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/lyrics-complete-pdf": {
   "get": {
    "summary": "Complete Lyrics \u2014 125 Songs (PDF)",
    "description": "The full lyric book: all 125 Brian Booms songs in one PDF.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/podcast-ambient-transitions": {
   "get": {
    "summary": "Ambient Transitions \u2014 Bridges & Bumpers",
    "description": "Bridges, bumpers, and transitions to carry podcast listeners between segments. 256kbps MP3 music beds.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/podcast-bundle": {
   "get": {
    "summary": "Podcast Music Bundle \u2014 All 3 Packs",
    "description": "Calm Beginnings + Gentle Endings + Ambient Transitions: 20 podcast music beds. Save $18 vs buying separately.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/podcast-calm-beginnings": {
   "get": {
    "summary": "Calm Beginnings \u2014 Podcast Intro Stingers",
    "description": "Warm, welcoming stingers to open every podcast episode. 256kbps MP3 music beds.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/podcast-gentle-endings": {
   "get": {
    "summary": "Gentle Endings \u2014 Podcast Outro Beds",
    "description": "Soft landing beds for podcast outros and sign-offs. 256kbps MP3 music beds.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/premium-track-license": {
   "get": {
    "summary": "Premium Track License",
    "description": "The highest tier of rights for a single track: full WAV + stems with commercial sync rights (monetized YouTube, indie film, podcasts, ads up to $100k media spend). Perpetual use for the licensed project. Non-exclusive \u2014 Brian retains ownership, royalties, and the right to license to others. Credit r",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/ringtones-android": {
   "get": {
    "summary": "Android Ringtones",
    "description": "Collection of Brian Booms ambient pieces formatted as Android ringtones.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/ringtones-iphone": {
   "get": {
    "summary": "iPhone Ringtones",
    "description": "Collection of Brian Booms ambient pieces formatted as iPhone ringtones.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/sample-pack-vol1": {
   "get": {
    "summary": "Synthetic Universe Sample Pack Vol. 1",
    "description": "80 ambient samples: 40 loops, 20 one-shots, 20 atmospheres. 48kHz/16-bit WAV. For music production use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/sleep-club-annual": {
   "get": {
    "summary": "Sleep Club \u2014 Annual Membership",
    "description": "A year of deep rest. Full Deep Sleep Radio catalog (MP3 320kbps + FLAC), one member-first track every month, 20% off commissions and leases, quarterly member wind-down livestream. Personal listening license, non-exclusive, non-transferable.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wallpaper-cosmic-sunrise": {
   "get": {
    "summary": "Wallpaper \u2014 Cosmic Sunrise (Single)",
    "description": "One cosmic desktop wallpaper (16:9): cosmic sunrise. Instant download, yours to keep. For personal use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wallpaper-golden-godrays": {
   "get": {
    "summary": "Wallpaper \u2014 Golden Godrays (Single)",
    "description": "One cosmic desktop wallpaper (16:9) in the Synthetic Universe god-rays style. Instant download, yours to keep. For personal use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wallpaper-midnight-drift": {
   "get": {
    "summary": "Wallpaper \u2014 Midnight Drift (Single)",
    "description": "One cosmic desktop wallpaper (16:9): midnight drift. Instant download, yours to keep. For personal use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wallpaper-pack-vol1": {
   "get": {
    "summary": "Synthetic Universe Wallpaper Pack Vol. 1",
    "description": "4 cosmic desktop wallpapers (16:9) in the Synthetic Universe god-rays style. For personal use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wallpaper-teal-sanctuary": {
   "get": {
    "summary": "Wallpaper \u2014 Teal Sanctuary (Single)",
    "description": "One cosmic desktop wallpaper (16:9): teal sanctuary. Instant download, yours to keep. For personal use.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/wellness-venue-license": {
   "get": {
    "summary": "Wellness Venue License \u2014 Annual",
    "description": "One annual license for a spa, yoga studio, or wellness center to play the full released ambient/sleep catalog as in-venue background music at one physical location. Quarterly curated playlist + printable certificate. Non-exclusive, single location, non-transferable.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/zine-lyrics-vol1": {
   "get": {
    "summary": "Synthetic Universe Lyrics Zine Vol. 1",
    "description": "10 songs, full lyrics, cosmic art. 15 pages.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/zine-making-universe-vol1": {
   "get": {
    "summary": "Making the Synthetic Universe",
    "description": "Behind the music: the process, the channels, the mission. 15 pages.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  },
  "/api/v1/buy/zine-worthy-words-vol1": {
   "get": {
    "summary": "Worthy Words \u2014 A Brian Booms Zine",
    "description": "10 original meditations on rest, wonder, and light. 15 pages.",
    "parameters": [
     {
      "name": "X-Payment",
      "in": "header",
      "required": false,
      "description": "Base64-encoded x402 payment payload. Omit to receive the 402 payment challenge.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "402": {
      "description": "Payment required \u2014 x402 challenge with USDC requirements on Solana/Base/Polygon/Arbitrum/Avalanche."
     },
     "200": {
      "description": "Paid. Response contains the instant download URL (or commission acknowledgement)."
     }
    }
   }
  }
 }
}