{
  "openapi": "3.1.0",
  "info": {
    "title": "BlockRun - Stablecoin gated LLM inference",
    "version": "1.0.0",
    "description": "Accountless OpenAI-compatible chat completions with per-request x402 payments in USDC on Solana.",
    "x-logo": {
      "url": "https://blockrun.ai/brand/logo-256.png",
      "altText": "BlockRun"
    },
    "x-guidance": "Send an OpenAI-compatible model and messages request to POST /api/v1/chat/completions. An unpaid request returns an x402 challenge; sign it with a Solana wallet and retry with the payment header."
  },
  "servers": [
    {
      "url": "https://sol.blockrun.ai"
    }
  ],
  "paths": {
    "/api/v1/chat/completions": {
      "post": {
        "operationId": "chatCompletions",
        "summary": "Generate an AI chat completion with a selected model",
        "description": "Access 66 frontier LLMs with OpenAI-compatible API. Price depends on model and token usage.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0021",
            "max": "5.002"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID to use for completion",
                    "enum": [
                      "openai/gpt-5.6-sol",
                      "openai/gpt-5.6-terra",
                      "openai/gpt-5.6-luna",
                      "openai/gpt-5.5",
                      "openai/gpt-5.5-pro",
                      "openai/chat-latest",
                      "openai/gpt-5.4",
                      "openai/gpt-5.4-pro",
                      "openai/gpt-5.3",
                      "openai/gpt-5.2",
                      "openai/gpt-5.4-mini",
                      "openai/gpt-5-mini",
                      "openai/gpt-5.4-nano",
                      "openai/gpt-5.2-pro",
                      "openai/gpt-5.3-codex",
                      "openai/gpt-4.1",
                      "openai/gpt-4.1-mini",
                      "openai/gpt-4.1-nano",
                      "openai/gpt-4o",
                      "openai/gpt-4o-mini",
                      "openai/o1",
                      "openai/o3",
                      "openai/o3-mini",
                      "openai/o4-mini",
                      "anthropic/claude-haiku-4.5",
                      "anthropic/claude-sonnet-5",
                      "anthropic/claude-sonnet-4.5",
                      "anthropic/claude-sonnet-4.6",
                      "anthropic/claude-opus-4.5",
                      "anthropic/claude-opus-4.7",
                      "anthropic/claude-fable-5",
                      "anthropic/claude-opus-4.8",
                      "anthropic/claude-opus-5",
                      "google/gemini-3.1-pro",
                      "google/gemini-3-flash-preview",
                      "google/gemini-3.5-flash",
                      "google/gemini-2.5-pro",
                      "google/gemini-2.5-flash",
                      "google/gemini-3.1-flash-lite",
                      "google/gemini-2.5-flash-lite",
                      "deepseek/deepseek-v4-pro",
                      "deepseek/deepseek-chat",
                      "deepseek/deepseek-reasoner",
                      "zai/glm-5.2",
                      "zai/glm-5.1",
                      "zai/glm-5",
                      "zai/glm-5-turbo",
                      "xai/grok-4.5",
                      "xai/grok-4.3",
                      "xai/grok-build-0.1",
                      "moonshot/kimi-k3",
                      "minimax/minimax-m3",
                      "minimax/minimax-m2.7",
                      "qwen/qwen3.7-max",
                      "tencent/hy3",
                      "xiaomi/mimo-v2.5-pro",
                      "nvidia/deepseek-v4-flash",
                      "nvidia/nemotron-3-nano-omni-30b-a3b-reasoning",
                      "nvidia/seed-oss-36b",
                      "nvidia/qwen3-next-80b-a3b-instruct",
                      "nvidia/mistral-nemotron",
                      "nvidia/step-3.7-flash",
                      "nvidia/nemotron-nano-9b-v2",
                      "nvidia/nemotron-nano-12b-v2-vl"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of chat messages",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "description": "Text content for this chat message."
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum tokens to generate",
                    "minimum": 1,
                    "maximum": 128000
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0-2)",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming responses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "openai"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "openai"
    }
  ]
}
