{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Translation API",
    "description": "Translate text and documents across 130+ languages. Supports language detection, romanization, synchronous and batch translation, glossaries for domain terminology, adaptive MT datasets, custom models, and document formatting.",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://translate.google.gateway-402.com"
    }
  ],
  "paths": {
    "/v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages": {
      "get": {
        "operationId": "translate.projects.locations.getSupportedLanguages",
        "summary": "Returns a list of supported languages for translation.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "displayLanguageCode",
            "in": "query",
            "required": false,
            "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedLanguages"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate": {
      "post": {
        "operationId": "translate.projects.locations.adaptiveMtTranslate",
        "summary": "Translate text using Adaptive MT.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveMtTranslateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptiveMtTranslateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:detectLanguage": {
      "post": {
        "operationId": "translate.projects.locations.detectLanguage",
        "summary": "Detects the language of text within a request.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectLanguageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectLanguageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:refineText": {
      "post": {
        "operationId": "translate.projects.locations.refineText",
        "summary": "Refines the input translated text to improve the quality.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefineTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefineTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:romanizeText": {
      "post": {
        "operationId": "translate.projects.locations.romanizeText",
        "summary": "Romanize input text written in non-Latin scripts to Latin text.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RomanizeTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RomanizeTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:translateDocument": {
      "post": {
        "operationId": "translate.projects.locations.translateDocument",
        "summary": "Translates documents in synchronous mode.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/locations/{locationsId}:translateText": {
      "post": {
        "operationId": "translate.projects.locations.translateText",
        "summary": "Translates input text and returns translated text.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}/supportedLanguages": {
      "get": {
        "operationId": "translate.projects.getSupportedLanguages",
        "summary": "Returns a list of supported languages for translation.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "displayLanguageCode",
            "in": "query",
            "required": false,
            "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedLanguages"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}:detectLanguage": {
      "post": {
        "operationId": "translate.projects.detectLanguage",
        "summary": "Detects the language of text within a request.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectLanguageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectLanguageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}:romanizeText": {
      "post": {
        "operationId": "translate.projects.romanizeText",
        "summary": "Romanize input text written in non-Latin scripts to Latin text.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RomanizeTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RomanizeTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects/{projectsId}:translateText": {
      "post": {
        "operationId": "translate.projects.translateText",
        "summary": "Translates input text and returns translated text.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateTextResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdaptiveMtTranslateRequest": {
        "type": "object",
        "description": "The request for sending an AdaptiveMt translation query.",
        "properties": {
          "dataset": {
            "type": "string",
            "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`"
          },
          "content": {
            "type": "array",
            "description": "Required. The content of the input in string format.",
            "items": {
              "type": "string"
            }
          },
          "referenceSentenceConfig": {
            "$ref": "#/components/schemas/ReferenceSentenceConfig"
          },
          "glossaryConfig": {
            "$ref": "#/components/schemas/GlossaryConfig"
          }
        }
      },
      "AdaptiveMtTranslateResponse": {
        "type": "object",
        "description": "An AdaptiveMtTranslate response.",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "Output only. The translation's language code."
          },
          "glossaryTranslations": {
            "type": "array",
            "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
            "items": {
              "$ref": "#/components/schemas/AdaptiveMtTranslation"
            }
          },
          "translations": {
            "type": "array",
            "description": "Output only. The translation.",
            "items": {
              "$ref": "#/components/schemas/AdaptiveMtTranslation"
            }
          }
        }
      },
      "AdaptiveMtTranslation": {
        "type": "object",
        "description": "An AdaptiveMt translation.",
        "properties": {
          "translatedText": {
            "type": "string",
            "description": "Output only. The translated text."
          }
        }
      },
      "DetectLanguageRequest": {
        "type": "object",
        "description": "The request message for language detection.",
        "properties": {
          "labels": {
            "type": "object",
            "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "documentInputConfig": {
            "$ref": "#/components/schemas/DocumentInputConfig"
          },
          "content": {
            "type": "string",
            "description": "The content of the input stored as a string."
          },
          "model": {
            "type": "string",
            "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used."
          },
          "mimeType": {
            "type": "string",
            "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
          }
        }
      },
      "DetectLanguageResponse": {
        "type": "object",
        "description": "The response message for language detection.",
        "properties": {
          "languages": {
            "type": "array",
            "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result.",
            "items": {
              "$ref": "#/components/schemas/DetectedLanguage"
            }
          }
        }
      },
      "DetectedLanguage": {
        "type": "object",
        "description": "The response message for language detection.",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "The ISO-639 language code of the source content in the request, detected automatically."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result for this language."
          }
        }
      },
      "DocumentInputConfig": {
        "type": "object",
        "description": "A document translation request input config.",
        "properties": {
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Document's content represented as a stream of bytes."
          },
          "gcsSource": {
            "$ref": "#/components/schemas/GcsSource"
          },
          "mimeType": {
            "type": "string",
            "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        }
      },
      "DocumentOutputConfig": {
        "type": "object",
        "description": "A document translation request output config.",
        "properties": {
          "gcsDestination": {
            "$ref": "#/components/schemas/GcsDestination"
          },
          "mimeType": {
            "type": "string",
            "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        }
      },
      "DocumentTranslation": {
        "type": "object",
        "description": "A translated document message.",
        "properties": {
          "byteStreamOutputs": {
            "type": "array",
            "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
            "items": {
              "type": "string",
              "format": "byte"
            }
          },
          "mimeType": {
            "type": "string",
            "description": "The translated document's mime type."
          },
          "detectedLanguageCode": {
            "type": "string",
            "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        }
      },
      "GcsDestination": {
        "type": "object",
        "description": "The Google Cloud Storage location for the output content.",
        "properties": {
          "outputUriPrefix": {
            "type": "string",
            "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned."
          }
        }
      },
      "GcsSource": {
        "type": "object",
        "description": "The Google Cloud Storage location for the input content.",
        "properties": {
          "inputUri": {
            "type": "string",
            "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
          }
        }
      },
      "GlossaryConfig": {
        "type": "object",
        "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
        "properties": {
          "contextualTranslationEnabled": {
            "type": "boolean",
            "description": "Optional. If set to true, the glossary will be used for contextual translation."
          },
          "glossary": {
            "type": "string",
            "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
          },
          "ignoreCase": {
            "type": "boolean",
            "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
          }
        }
      },
      "ReferenceSentenceConfig": {
        "type": "object",
        "description": "Message of caller-provided reference configuration.",
        "properties": {
          "referenceSentencePairLists": {
            "type": "array",
            "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field.",
            "items": {
              "$ref": "#/components/schemas/ReferenceSentencePairList"
            }
          },
          "targetLanguageCode": {
            "type": "string",
            "description": "Target language code."
          },
          "sourceLanguageCode": {
            "type": "string",
            "description": "Source language code."
          }
        }
      },
      "ReferenceSentencePair": {
        "type": "object",
        "description": "A pair of sentences used as reference in source and target languages.",
        "properties": {
          "sourceSentence": {
            "type": "string",
            "description": "Source sentence in the sentence pair."
          },
          "targetSentence": {
            "type": "string",
            "description": "Target sentence in the sentence pair."
          }
        }
      },
      "ReferenceSentencePairList": {
        "type": "object",
        "description": "A list of reference sentence pairs.",
        "properties": {
          "referenceSentencePairs": {
            "type": "array",
            "description": "Reference sentence pairs.",
            "items": {
              "$ref": "#/components/schemas/ReferenceSentencePair"
            }
          }
        }
      },
      "RefineTextRequest": {
        "type": "object",
        "description": "Request message for RefineText.",
        "properties": {
          "sourceLanguageCode": {
            "type": "string",
            "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\"."
          },
          "targetLanguageCode": {
            "type": "string",
            "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
          },
          "refinementEntries": {
            "type": "array",
            "description": "Required. The source texts and original translations in the source and target languages.",
            "items": {
              "$ref": "#/components/schemas/RefinementEntry"
            }
          }
        }
      },
      "RefineTextResponse": {
        "type": "object",
        "description": "Response message for RefineText.",
        "properties": {
          "refinedTranslations": {
            "type": "array",
            "description": "The refined translations obtained from the original translations.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RefinementEntry": {
        "type": "object",
        "description": "A single refinement entry for RefineTextRequest.",
        "properties": {
          "sourceText": {
            "type": "string",
            "description": "Required. The source text to be refined."
          },
          "originalTranslation": {
            "type": "string",
            "description": "Required. The original translation of the source text."
          }
        }
      },
      "Romanization": {
        "type": "object",
        "description": "A single romanization response.",
        "properties": {
          "romanizedText": {
            "type": "string",
            "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response."
          },
          "detectedLanguageCode": {
            "type": "string",
            "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        }
      },
      "RomanizeTextRequest": {
        "type": "object",
        "description": "The request message for synchronous romanization.",
        "properties": {
          "contents": {
            "type": "array",
            "description": "Required. The content of the input in string format.",
            "items": {
              "type": "string"
            }
          },
          "sourceLanguageCode": {
            "type": "string",
            "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
          }
        }
      },
      "RomanizeTextResponse": {
        "type": "object",
        "description": "The response message for synchronous romanization.",
        "properties": {
          "romanizations": {
            "type": "array",
            "description": "Text romanization responses. This field has the same length as `contents`.",
            "items": {
              "$ref": "#/components/schemas/Romanization"
            }
          }
        }
      },
      "SupportedLanguage": {
        "type": "object",
        "description": "A single supported language response corresponds to information related to one supported language.",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN')."
          },
          "supportSource": {
            "type": "boolean",
            "description": "Can be used as a source language."
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable name of the language localized in the display language specified in the request."
          },
          "supportTarget": {
            "type": "boolean",
            "description": "Can be used as a target language."
          }
        }
      },
      "SupportedLanguages": {
        "type": "object",
        "description": "The response message for discovering supported languages.",
        "properties": {
          "languages": {
            "type": "array",
            "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports.",
            "items": {
              "$ref": "#/components/schemas/SupportedLanguage"
            }
          }
        }
      },
      "TranslateDocumentRequest": {
        "type": "object",
        "description": "A document translation request.",
        "properties": {
          "documentInputConfig": {
            "$ref": "#/components/schemas/DocumentInputConfig"
          },
          "labels": {
            "type": "object",
            "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "enableRotationCorrection": {
            "type": "boolean",
            "description": "Optional. If true, enable auto rotation correction in DVS."
          },
          "targetLanguageCode": {
            "type": "string",
            "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          },
          "customizedAttribution": {
            "type": "string",
            "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos"
          },
          "enableShadowRemovalNativePdf": {
            "type": "boolean",
            "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false"
          },
          "documentOutputConfig": {
            "$ref": "#/components/schemas/DocumentOutputConfig"
          },
          "glossaryConfig": {
            "$ref": "#/components/schemas/TranslateTextGlossaryConfig"
          },
          "sourceLanguageCode": {
            "type": "string",
            "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model."
          },
          "model": {
            "type": "string",
            "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation."
          },
          "isTranslateNativePdfOnly": {
            "type": "boolean",
            "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
          }
        }
      },
      "TranslateDocumentResponse": {
        "type": "object",
        "description": "A translated document response message.",
        "properties": {
          "glossaryDocumentTranslation": {
            "$ref": "#/components/schemas/DocumentTranslation"
          },
          "model": {
            "type": "string",
            "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
          },
          "documentTranslation": {
            "$ref": "#/components/schemas/DocumentTranslation"
          },
          "glossaryConfig": {
            "$ref": "#/components/schemas/TranslateTextGlossaryConfig"
          }
        }
      },
      "TranslateTextGlossaryConfig": {
        "type": "object",
        "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
        "properties": {
          "glossary": {
            "type": "string",
            "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
          },
          "ignoreCase": {
            "type": "boolean",
            "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
          },
          "contextualTranslationEnabled": {
            "type": "boolean",
            "description": "Optional. If set to true, the glossary will be used for contextual translation."
          }
        }
      },
      "TranslateTextRequest": {
        "type": "object",
        "description": "The request message for synchronous translation.",
        "properties": {
          "targetLanguageCode": {
            "type": "string",
            "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          },
          "labels": {
            "type": "object",
            "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "contents": {
            "type": "array",
            "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text.",
            "items": {
              "type": "string"
            }
          },
          "mimeType": {
            "type": "string",
            "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
          },
          "model": {
            "type": "string",
            "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used"
          },
          "glossaryConfig": {
            "$ref": "#/components/schemas/TranslateTextGlossaryConfig"
          },
          "transliterationConfig": {
            "$ref": "#/components/schemas/TransliterationConfig"
          },
          "sourceLanguageCode": {
            "type": "string",
            "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response."
          }
        }
      },
      "TranslateTextResponse": {
        "type": "object",
        "properties": {
          "translations": {
            "type": "array",
            "description": "Text translation responses with no glossary applied. This field has the same length as `contents`.",
            "items": {
              "$ref": "#/components/schemas/Translation"
            }
          },
          "glossaryTranslations": {
            "type": "array",
            "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`.",
            "items": {
              "$ref": "#/components/schemas/Translation"
            }
          }
        }
      },
      "Translation": {
        "type": "object",
        "description": "A single translation response.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
          },
          "translatedText": {
            "type": "string",
            "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
          },
          "glossaryConfig": {
            "$ref": "#/components/schemas/TranslateTextGlossaryConfig"
          },
          "detectedLanguageCode": {
            "type": "string",
            "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        }
      },
      "TransliterationConfig": {
        "type": "object",
        "description": "Configures transliteration feature on top of translation.",
        "properties": {
          "enableTransliteration": {
            "type": "boolean",
            "description": "If true, source text in romanized form can be translated to the target language."
          }
        }
      }
    }
  }
}
