{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Holiday & Business-Day API",
  "description": "Japanese public holidays, holiday lookup, and business-day calculation (skip weekends + national holidays). x402-enabled for AI agents that schedule, bill, or plan around the Japanese calendar.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://holiday.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "holiday"
  },
  {
   "name": "calendar"
  },
  {
   "name": "business-days"
  },
  {
   "name": "scheduling"
  },
  {
   "name": "date"
  }
 ],
 "paths": {
  "/is-holiday/{date}": {
   "get": {
    "operationId": "GET__is_holiday_date",
    "summary": "Check if a date is a Japanese public holiday",
    "description": "Classify a Japanese (JP) calendar date as a public holiday, weekend, or business day. Backed by the official 内閣府 (Cabinet Office) holiday record.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "date",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Date in YYYY-MM-DD format (e.g. 2026-07-20)"
     }
    ]
   }
  },
  "/holidays/{year}": {
   "get": {
    "operationId": "GET__holidays_year",
    "summary": "List Japanese public holidays for a year",
    "description": "List every Japanese (JP) national public holiday (国民の祝日) in a given year, with English names.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "year",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "4-digit year between 1955 and 2027 (e.g. 2026)"
     }
    ]
   }
  },
  "/business-days": {
   "post": {
    "operationId": "POST__business_days",
    "summary": "Get the business-day count between two dates in Japan",
    "description": "Count business days, weekend days, and public holidays across a Japanese (JP) calendar date range.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "from": {
          "type": "string",
          "description": "Range start, ISO date YYYY-MM-DD (inclusive)."
         },
         "to": {
          "type": "string",
          "description": "Range end, ISO date YYYY-MM-DD (inclusive)."
         }
        },
        "required": [
         "from",
         "to"
        ],
        "type": "object"
       },
       "example": {
        "from": "2026-05-01",
        "to": "2026-05-31"
       }
      }
     }
    }
   }
  },
  "/add-business-days": {
   "post": {
    "operationId": "POST__add_business_days",
    "summary": "Add N Japanese business days to a date",
    "description": "Add or subtract N Japanese (JP) business days from a date, skipping weekends and public holidays.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "date": {
          "type": "string",
          "description": "Start date, ISO YYYY-MM-DD."
         },
         "business_days": {
          "type": "number",
          "description": "Business days to add; negative shifts into the past, 0 snaps to the next business day."
         }
        },
        "required": [
         "date",
         "business_days"
        ],
        "type": "object"
       },
       "example": {
        "date": "2026-05-01",
        "business_days": 5
       }
      }
     }
    }
   }
  },
  "/next-business-day": {
   "post": {
    "operationId": "POST__next_business_day",
    "summary": "Get the next or previous Japanese business day",
    "description": "Find the next (or previous) Japanese (JP) business day relative to a date.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "date": {
          "type": "string",
          "description": "Reference date, ISO YYYY-MM-DD."
         },
         "direction": {
          "type": "string",
          "enum": [
           "next",
           "previous"
          ],
          "description": "Search forward (next) or backward (previous). Default next."
         }
        },
        "required": [
         "date"
        ],
        "type": "object"
       },
       "example": {
        "date": "2026-05-02",
        "direction": "next"
       }
      }
     }
    }
   }
  },
  "/batch": {
   "post": {
    "operationId": "POST__batch",
    "summary": "Check holidays and business days in bulk",
    "description": "Classify many Japanese (JP) dates in one request (up to 100 items). Dynamic pricing by item count.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.001 × item count × 0.8"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "items": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Caller-chosen item id echoed in the result",
             "maxLength": 64
            },
            "date": {
             "type": "string",
             "description": "Date to classify, YYYY-MM-DD"
            }
           },
           "required": [
            "id",
            "date"
           ]
          },
          "description": "Dates to classify; each item = {id, date} (max 100 items)"
         }
        },
        "required": [
         "items"
        ]
       },
       "example": {
        "items": [
         {
          "id": "1",
          "date": "2026-07-20"
         }
        ]
       }
      }
     }
    }
   }
  }
 }
}
