{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Textbelt SMS API",
    "version": "1.0.0",
    "description": "Send SMS messages and check delivery status through PaySponge's Textbelt service. `GET /status/{textId}` is free and `POST /text` is metered through x402."
  },
  "servers": [
    {
      "url": "https://api.paysponge.com/x402/purchase/svc_d6kszbre4qwg5n4n4"
    }
  ],
  "paths": {
    "/status/{textId}": {
      "get": {
        "summary": "Check SMS delivery status",
        "description": "Check the delivery status of a previously sent SMS message. This route is free. Delivery statuses are available for up to one week after the message is sent.",
        "operationId": "getTextStatus",
        "parameters": [
          {
            "name": "textId",
            "in": "path",
            "required": true,
            "description": "The text message identifier returned by `POST /text`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current delivery status for the message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextStatusResponse"
                },
                "examples": {
                  "delivered": {
                    "value": {
                      "status": "DELIVERED"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/text": {
      "post": {
        "summary": "Send an SMS message",
        "description": "Send an SMS message through the PaySponge Textbelt wrapper. For U.S. and Canada recipients, you can send a 10-digit phone number with area code and no country code. For other countries, send the number in E.164 format: `+` prefix, 1-3 digit country code, then the subscriber number. The upstream Textbelt API normally uses an API-key parameter, but this paid wrapper bills through x402 instead of exposing upstream key-based auth.",
        "operationId": "sendText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextSendRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "phone": "5555555555",
                    "message": "Hello world"
                  }
                },
                "withReplyWebhook": {
                  "value": {
                    "phone": "5555555555",
                    "message": "Hello? Reply STOP to opt out.",
                    "sender": "Acme Alerts",
                    "replyWebhookUrl": "https://example.com/api/handleSmsReply",
                    "webhookData": "order-1234"
                  }
                },
                "international": {
                  "value": {
                    "phone": "+447712345678",
                    "message": "Hello from abroad"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS send result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextSendResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "quotaRemaining": 40,
                      "textId": "12345"
                    }
                  },
                  "outOfQuota": {
                    "value": {
                      "success": false,
                      "quotaRemaining": 0,
                      "error": "Out of quota"
                    }
                  },
                  "incompleteRequest": {
                    "value": {
                      "success": false,
                      "error": "Incomplete request"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required",
                  "resource": {
                    "url": "/text",
                    "description": "Service: Textbelt (/text)",
                    "mimeType": "application/json"
                  },
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "amount": "20000",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
                      "maxTimeoutSeconds": 300,
                      "extra": {
                        "name": "USD Coin",
                        "version": "2"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "amount": "20000",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
                      "maxTimeoutSeconds": 300,
                      "extra": {
                        "feePayer": "2wKupLR9q6wXYppw8Gr2NvWxKBUqm4PPJKkQfoxHDBg4"
                      }
                    }
                  ],
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "method": "POST",
                          "bodyType": "json",
                          "body": {
                            "phone": "5555555555",
                            "message": "Hello world"
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "success": true,
                            "quotaRemaining": 40,
                            "textId": "12345"
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "phone": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "sender": {
                                    "type": "string"
                                  },
                                  "replyWebhookUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "webhookData": {
                                    "type": "string",
                                    "maxLength": 100
                                  }
                                },
                                "required": [
                                  "phone",
                                  "message"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "json"
                              },
                              "example": {
                                "type": "object",
                                "properties": {
                                  "success": {
                                    "type": "boolean"
                                  },
                                  "quotaRemaining": {
                                    "type": "integer"
                                  },
                                  "textId": {
                                    "type": [
                                      "string",
                                      "integer"
                                    ]
                                  },
                                  "error": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "input",
                          "output"
                        ],
                        "additionalProperties": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.02"
        },
        "x402Version": 2,
        "resource": {
          "url": "/text",
          "description": "Service: Textbelt (/text)",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "20000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "20000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "2wKupLR9q6wXYppw8Gr2NvWxKBUqm4PPJKkQfoxHDBg4"
            }
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "http",
                "method": "POST",
                "bodyType": "json",
                "body": {
                  "phone": "5555555555",
                  "message": "Hello world"
                }
              },
              "output": {
                "type": "json",
                "example": {
                  "success": true,
                  "quotaRemaining": 40,
                  "textId": "12345"
                }
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "http"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "POST",
                        "PUT",
                        "PATCH"
                      ]
                    },
                    "bodyType": {
                      "type": "string",
                      "enum": [
                        "json",
                        "form-data",
                        "text"
                      ]
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "sender": {
                          "type": "string"
                        },
                        "replyWebhookUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "webhookData": {
                          "type": "string",
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "phone",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "type",
                    "method",
                    "bodyType",
                    "body"
                  ],
                  "additionalProperties": false
                },
                "output": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "json"
                    },
                    "example": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "quotaRemaining": {
                          "type": "integer"
                        },
                        "textId": {
                          "type": [
                            "string",
                            "integer"
                          ]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "type"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "input",
                "output"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextSendRequest": {
        "type": "object",
        "description": "JSON body accepted by the PaySponge x402 wrapper. The upstream Textbelt API normally requires a `key` parameter, but this paid wrapper uses x402 billing and does not expose upstream key-based auth.",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Recipient phone number. Use a 10-digit number with area code for U.S. and Canada recipients. For other countries, use E.164 format: `+` prefix, 1-3 digit country code, then the subscriber number."
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "SMS body to send."
          },
          "sender": {
            "type": "string",
            "description": "Optional sender or business name used for compliance."
          },
          "replyWebhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "Optional webhook URL that receives inbound replies for supported SMS conversations."
          },
          "webhookData": {
            "type": "string",
            "maxLength": 100,
            "description": "Optional opaque metadata that Textbelt passes back as `data` in reply webhook payloads."
          }
        },
        "required": [
          "phone",
          "message"
        ],
        "additionalProperties": false
      },
      "TextSendResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextSendSuccessResponse"
          },
          {
            "$ref": "#/components/schemas/TextSendErrorResponse"
          }
        ]
      },
      "TextSendSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "quotaRemaining": {
            "type": "integer",
            "description": "Remaining SMS quota reported by the upstream Textbelt account when provided."
          },
          "textId": {
            "type": [
              "string",
              "integer"
            ],
            "description": "Identifier for the sent text message, used with `GET /status/{textId}`."
          }
        },
        "required": [
          "success",
          "textId"
        ],
        "additionalProperties": false
      },
      "TextSendErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "quotaRemaining": {
            "type": "integer",
            "description": "Remaining SMS quota reported by the upstream Textbelt account when provided."
          },
          "error": {
            "type": "string",
            "description": "Human-readable error returned by the service."
          }
        },
        "required": [
          "success",
          "error"
        ],
        "additionalProperties": false
      },
      "TextStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "DELIVERED",
              "SENT",
              "SENDING",
              "FAILED",
              "UNKNOWN"
            ],
            "description": "Carrier-reported delivery status."
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "X402PaymentRequired": {
        "type": "object",
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "error": {
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/X402Resource"
          },
          "accepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/X402Accept"
            },
            "minItems": 1
          },
          "extensions": {
            "$ref": "#/components/schemas/BazaarExtensions"
          }
        },
        "required": [
          "x402Version",
          "error",
          "resource",
          "accepts"
        ],
        "additionalProperties": true
      },
      "X402Resource": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          }
        },
        "required": [
          "url",
          "description",
          "mimeType"
        ],
        "additionalProperties": false
      },
      "X402Accept": {
        "type": "object",
        "properties": {
          "scheme": {
            "type": "string",
            "const": "exact"
          },
          "network": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "payTo": {
            "type": "string"
          },
          "maxTimeoutSeconds": {
            "type": "integer"
          },
          "extra": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "scheme",
          "network",
          "amount",
          "asset",
          "payTo",
          "maxTimeoutSeconds",
          "extra"
        ],
        "additionalProperties": false
      },
      "BazaarExtensions": {
        "type": "object",
        "properties": {
          "bazaar": {
            "type": "object",
            "properties": {
              "info": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "http"
                      },
                      "method": {
                        "type": "string",
                        "enum": [
                          "POST",
                          "PUT",
                          "PATCH"
                        ]
                      },
                      "bodyType": {
                        "type": "string",
                        "enum": [
                          "json",
                          "form-data",
                          "text"
                        ]
                      },
                      "body": {
                        "$ref": "#/components/schemas/TextSendRequest"
                      }
                    },
                    "required": [
                      "type",
                      "method",
                      "bodyType",
                      "body"
                    ],
                    "additionalProperties": false
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "json"
                      },
                      "example": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "input",
                  "output"
                ],
                "additionalProperties": false
              },
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "info",
              "schema"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "bazaar"
        ],
        "additionalProperties": false
      }
    }
  }
}
