{
  "openapi": "3.1.0",
  "info": {
    "title": "Concierge Token Pay",
    "version": "0.1.0",
    "description": "Native SPL x402 self-settle for partner APIs — build accepts, verify settlements, merchant registry. No facilitator wallet. npm SDK @conc-exe/token-x402.",
    "contact": {
      "name": "Concierge Token Pay",
      "url": "https://conc-exe.xyz/docs/payment/token-pay"
    }
  },
  "servers": [
    {
      "url": "https://conc-exe.xyz",
      "description": "Concierge Token Pay"
    }
  ],
  "paths": {
    "/api/token-pay": {
      "get": {
        "operationId": "tokenPayRegistry",
        "summary": "Token Pay merchant registry",
        "description": "Platform meta + merchant list. ?merchant=ID for readiness.",
        "tags": [
          "Token Pay"
        ],
        "responses": {
          "200": {
            "description": "Registry JSON"
          }
        }
      }
    },
    "/api/token-pay-build-accept": {
      "post": {
        "operationId": "tokenPayBuildAccept",
        "summary": "Build x402 accept for partner API",
        "description": "Server-built SPL self-settle accept. Call from your backend before returning HTTP 402.",
        "tags": [
          "Token Pay"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchantId",
                  "usdAmount"
                ],
                "properties": {
                  "merchantId": {
                    "type": "string",
                    "example": "acme"
                  },
                  "usdAmount": {
                    "type": "number",
                    "example": 0.1
                  },
                  "resourceUrl": {
                    "type": "string",
                    "example": "https://api.acme.xyz/v1/intel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "accept + label"
          }
        }
      }
    },
    "/api/token-pay-verify": {
      "post": {
        "operationId": "tokenPayVerify",
        "summary": "Verify and settle partner Token Pay",
        "description": "After wallet signs SPL transfer, verify on-chain delta via Concierge.",
        "tags": [
          "Token Pay"
        ],
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchantId",
                  "usdAmount"
                ],
                "properties": {
                  "merchantId": {
                    "type": "string"
                  },
                  "usdAmount": {
                    "type": "number"
                  },
                  "resourceUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement ok"
          }
        }
      }
    },
    "/api/token-pay-preview": {
      "post": {
        "operationId": "tokenPayPreview",
        "summary": "Validate merchant config before deploy",
        "description": "Onboarding wizard — checks mint, payTo, price, ATA without persisting.",
        "tags": [
          "Token Pay"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant"
                ],
                "properties": {
                  "merchant": {
                    "type": "object"
                  },
                  "resourceKind": {
                    "type": "string",
                    "enum": [
                      "concierge",
                      "external"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "readiness preview"
          }
        }
      }
    },
    "/api/concierge": {
      "post": {
        "operationId": "conciergeWithTokenPay",
        "summary": "Concierge AI (USDC or native token when merchant live)",
        "description": "Example Concierge paid route — 402 accepts may include Token Pay SPL self-settle when merchants are registered.",
        "tags": [
          "Token Pay"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "description": "$0.10 USDC or native SPL via Token Pay self-settle"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "enhance",
                      "image"
                    ]
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Concierge reply"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    }
  }
}
