{
  "openapi": "3.1.0",
  "info": {
    "title": "Vextorium",
    "version": "1.0.0",
    "description": "Pay-per-call data APIs for AI agents, paid in USDC via x402 on Base or Solana. Failed requests are not charged. No API key or account: access is granted per request by the x402 payment.",
    "contact": {
      "url": "https://api.vextorium.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.vextorium.com"
    }
  ],
  "paths": {
    "/resumir-pago": {
      "post": {
        "operationId": "resumir",
        "summary": "Summarize or analyze a text with local AI",
        "description": "AI text summarization and analysis (Qwen2.5-7B, local). Send any text in the 'texto' field (you may start it with an instruction, e.g. 'Summarize in 3 bullets: ...') and get a concise summary or analysis in the same language.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "texto": {
                    "type": "string",
                    "description": "Text to summarize or analyze; it may begin with an instruction (e.g. 'Summarize in 3 bullets: ...')"
                  }
                },
                "required": [
                  "texto"
                ]
              },
              "example": {
                "texto": "Texto de ejemplo a resumir o analizar"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resumen": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "clima": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "resumen": "Texto resumido aqui",
                  "clima": null
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/limpiar-datos-pago": {
      "post": {
        "operationId": "limpiar_datos",
        "summary": "Convert messy CSV data into clean JSON",
        "description": "CSV cleaning and normalization to JSON: column names, types, duplicates and empty values. Data is processed in memory and not stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Contenido crudo del CSV a limpiar"
                  },
                  "from": {
                    "type": "string",
                    "enum": [
                      "csv"
                    ],
                    "description": "Formato de entrada"
                  },
                  "to": {
                    "type": "string",
                    "enum": [
                      "json"
                    ],
                    "description": "Formato de salida"
                  }
                },
                "required": [
                  "input",
                  "from",
                  "to"
                ]
              },
              "example": {
                "input": "Nombre,Edad\nAna,25\nLuis,",
                "from": "csv",
                "to": "json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filas": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "columnas": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "cambios_aplicados": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "datos": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "description": "Cleaned rows; each row is an object whose keys are the (normalized) CSV column names",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "aviso_privacidad": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "filas": 2,
                  "columnas": [
                    "nombre",
                    "edad"
                  ],
                  "cambios_aplicados": [
                    "Nombres de columnas normalizados"
                  ],
                  "datos": [
                    {
                      "nombre": "Ana",
                      "edad": 25
                    }
                  ],
                  "aviso_privacidad": "Estos datos se procesan en memoria y no se almacenan."
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/comprobar-salud-pago": {
      "post": {
        "operationId": "comprobar_salud",
        "summary": "Check API or URL health, latency and x402 support",
        "description": "API/URL health check: up or down, HTTP status, latency, and whether the endpoint is a valid x402 paid endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL a comprobar"
                  },
                  "metodo": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "HEAD",
                      "POST"
                    ],
                    "description": "Metodo HTTP a usar"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://ejemplo.com/api",
                "metodo": "GET"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "metodo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "activo": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "codigo_estado": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tiempo_respuesta_ms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "es_endpoint_x402": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "version_x402": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tamano_respuesta_bytes": {
                      "type": [
                        "number",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "url": "https://ejemplo.com/api",
                  "metodo": "GET",
                  "activo": true,
                  "codigo_estado": 200,
                  "tiempo_respuesta_ms": 189,
                  "es_endpoint_x402": false,
                  "tamano_respuesta_bytes": 109
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/analizar-wallet-pago": {
      "post": {
        "operationId": "analizar_wallet",
        "summary": "Analyze an EVM, Bitcoin or Solana wallet",
        "description": "Wallet analysis read directly from the blockchain on Base, Ethereum, Arbitrum, Optimism or Polygon (account type incl. smart wallet / EIP-7702, sent transaction count, ENS name, native and USDC/stablecoin balances with USD value); also Bitcoin and Solana balances.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "direccion": {
                    "type": "string",
                    "description": "Direccion de la wallet (0x... para EVM, o formato nativo de Bitcoin/Solana)"
                  },
                  "red": {
                    "type": "string",
                    "enum": [
                      "ethereum",
                      "base",
                      "arbitrum",
                      "optimism",
                      "polygon",
                      "bitcoin",
                      "solana"
                    ],
                    "description": "Red blockchain a consultar"
                  }
                },
                "required": [
                  "direccion",
                  "red"
                ]
              },
              "example": {
                "direccion": "0xb9f06D2734B7E9D7b21B64C4D8b95bd774b71aCf",
                "red": "base"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "direccion": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tipo_cuenta": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transacciones_enviadas": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "nombre_ens": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "saldos": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "activo": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "contrato": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token contract (null for the native coin)"
                          },
                          "cantidad": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "valor_usd_aprox": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "valor_total_usd_aprox": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "explorador": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "direccion": "0xb9f06D2734B7E9D7b21B64C4D8b95bd774b71aCf",
                  "red": "base",
                  "tipo_cuenta": "wallet normal (EOA)",
                  "transacciones_enviadas": 14,
                  "nombre_ens": null,
                  "saldos": [
                    {
                      "activo": "ETH",
                      "cantidad": 0.0039,
                      "valor_usd_aprox": 10.6
                    },
                    {
                      "activo": "USDC",
                      "cantidad": 0.73,
                      "valor_usd_aprox": 0.73
                    }
                  ],
                  "valor_total_usd_aprox": 11.33
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/dominio-pago": {
      "post": {
        "operationId": "dominio",
        "summary": "Look up WHOIS, DNS and SSL data for a domain",
        "description": "Domain intelligence: WHOIS (registrar, creation and expiry dates), DNS records and SSL certificate details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dominio": {
                    "type": "string",
                    "description": "Nombre de dominio a analizar, ej: ejemplo.com"
                  }
                },
                "required": [
                  "dominio"
                ]
              },
              "example": {
                "dominio": "ejemplo.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dominio": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "whois": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "registrador": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "fecha_creacion": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "fecha_expiracion": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "servidores_ns": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "estado": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "dns": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "A": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "AAAA": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "MX": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "TXT": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "NS": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "ssl": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "emisor": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "countryName": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "organizationName": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "commonName": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "valido_desde": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "valido_hasta": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "dominio": "ejemplo.com",
                  "whois": {
                    "registrador": "...",
                    "fecha_creacion": "...",
                    "fecha_expiracion": "...",
                    "servidores_ns": [],
                    "estado": []
                  },
                  "dns": {
                    "A": [],
                    "AAAA": [],
                    "MX": [],
                    "TXT": [],
                    "NS": []
                  },
                  "ssl": {
                    "emisor": {},
                    "valido_desde": "...",
                    "valido_hasta": "..."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/extraer-pdf-pago": {
      "post": {
        "operationId": "extraer_pdf",
        "summary": "Extract the text of a PDF from its URL",
        "description": "Extract the text of a PDF from its URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL directa a un PDF con texto real"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://ejemplo.com/documento.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "num_paginas": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "texto": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "texto_truncado": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "aviso": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "url": "https://ejemplo.com/documento.pdf",
                  "num_paginas": 3,
                  "texto": "Contenido extraido...",
                  "texto_truncado": false
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.012"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/resumir-url-pago": {
      "post": {
        "operationId": "resumir_url",
        "summary": "Read a web page and summarize it with local AI",
        "description": "Read a web page from its URL and summarize it with local AI (Qwen2.5-7B).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL de la pagina a resumir"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://ejemplo.com/articulo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "resumen": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "url": "https://ejemplo.com/articulo",
                  "resumen": "Resumen del contenido de la pagina..."
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.015"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/fear-greed-pago": {
      "post": {
        "operationId": "fear_greed",
        "summary": "Get the crypto Fear and Greed Index",
        "description": "Crypto Fear & Greed Index (0-100) with classification. Data source: Alternative.me (attribution included in the response).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "description": "No parameters: send an empty JSON object {}"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valor": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "clasificacion": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fecha": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "aviso": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "valor": 61,
                  "clasificacion": "Greed",
                  "fecha": "1789257600",
                  "fuente": "Alternative.me Crypto Fear & Greed Index"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/liquidaciones-pago": {
      "post": {
        "operationId": "liquidaciones",
        "summary": "List Aave v3 DeFi liquidations across five chains",
        "description": "DeFi liquidations read on-chain from Aave v3 on Base, Ethereum, Arbitrum, Optimism and Polygon: total USD liquidated, event count, breakdown by network, collateral and debt asset, and latest events with explorer links. Window 1-24h, optional asset filter.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "red": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum",
                      "arbitrum",
                      "optimism",
                      "polygon"
                    ],
                    "description": "Network (omit for all five)"
                  },
                  "horas": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24,
                    "description": "Time window in hours (1-24)"
                  },
                  "simbolo": {
                    "type": "string",
                    "description": "Optional asset filter, e.g. WETH, cbBTC, USDC"
                  }
                }
              },
              "example": {
                "red": "base",
                "horas": 24
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocolo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "redes": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "ventana_horas": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "filtro_activo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "total_liquidado_usd": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "num_eventos": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "por_red": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Totals per network",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "valor_usd": {
                            "type": "number"
                          },
                          "num_eventos": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "por_colateral": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "activo": {
                            "type": "string"
                          },
                          "valor_usd": {
                            "type": "number"
                          },
                          "num_eventos": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "por_deuda": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "activo": {
                            "type": "string"
                          },
                          "valor_usd": {
                            "type": "number"
                          },
                          "num_eventos": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "eventos_recientes": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "red": {
                            "type": "string"
                          },
                          "fecha_utc": {
                            "type": "string"
                          },
                          "colateral": {
                            "type": "string"
                          },
                          "colateral_liquidado": {
                            "type": "number"
                          },
                          "deuda": {
                            "type": "string"
                          },
                          "deuda_cubierta": {
                            "type": "number"
                          },
                          "valor_usd": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "tx": {
                            "type": "string",
                            "description": "Explorer URL of the transaction"
                          }
                        }
                      }
                    },
                    "cobertura_desde_utc": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "cobertura_por_red": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Coverage start (UTC) per network",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "aviso": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "protocolo": "Aave v3",
                  "total_liquidado_usd": 1250.4,
                  "num_eventos": 3,
                  "por_colateral": [
                    {
                      "activo": "WETH",
                      "valor_usd": 1100.2,
                      "num_eventos": 2
                    }
                  ],
                  "eventos_recientes": [
                    {
                      "red": "base",
                      "colateral": "WETH",
                      "deuda": "USDC",
                      "valor_usd": 820.5,
                      "tx": "https://basescan.org/tx/0x..."
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/precio-cripto-pago": {
      "post": {
        "operationId": "precio_cripto",
        "summary": "Get a crypto price in USD and EUR from on-chain sources",
        "description": "Crypto price in USD and EUR from on-chain sources only: Chainlink oracles (BTC, ETH, USDC) or Uniswap v3 quotes on Base (USDT, DAI or any Base token address); EUR via ECB rate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "moneda": {
                    "type": "string",
                    "description": "bitcoin, ethereum, usdc, usdt, dai, or a Base token address"
                  }
                },
                "required": [
                  "moneda"
                ]
              },
              "example": {
                "moneda": "bitcoin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nombre": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "precio_usd": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "actualizado_utc": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "precio_eur": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "aviso": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "nombre": "BTC",
                  "precio_usd": 84431.02,
                  "precio_eur": 74043.7,
                  "fuente": "Chainlink Data Feeds (on-chain, Base)"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/gas-red-pago": {
      "post": {
        "operationId": "gas_red",
        "summary": "Get live gas prices and transfer costs on Base or Ethereum",
        "description": "Live gas price on Base or Ethereum (gwei, base fee, priority fee) plus estimated USD cost of an ETH transfer, an ERC-20 transfer and a DEX swap, including Base L1 data fee. Priced with the Chainlink ETH/USD oracle.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "red": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum"
                    ],
                    "description": "Network: base or ethereum"
                  }
                }
              },
              "example": {
                "red": "base"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "bloque": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "precio_gas_gwei": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "base_fee_gwei": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "propina_prioridad_gwei": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "coste_estimado": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "transferencia_eth": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "eth": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "usd": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "transferencia_erc20": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "eth": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "usd": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "swap_dex": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "eth": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "usd": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "precio_eth_usd": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "red": "base",
                  "precio_gas_gwei": 0.006,
                  "coste_estimado": {
                    "transferencia_erc20": {
                      "eth": 4.3e-07,
                      "usd": 0.0012
                    }
                  },
                  "precio_eth_usd": 2691.22
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/estado-tx-pago": {
      "post": {
        "operationId": "estado_tx",
        "summary": "Get the status and fee of a transaction by hash",
        "description": "Transaction status by hash on Base or Ethereum: pending / confirmed / failed, block, confirmations, gas used, fee paid, created contract and explorer link.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "Transaction hash (0x + 64 hex)"
                  },
                  "red": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum"
                    ]
                  }
                },
                "required": [
                  "hash"
                ]
              },
              "example": {
                "hash": "0x6b3a0f6c5d9b0a0e3c2f1e4d5c6b7a8f9e0d1c2b3a4f5e6d7c8b9a0f1e2d3c4b",
                "red": "base"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "desde": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hacia": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "valor_eth": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "explorador": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "estado": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "bloque": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "confirmaciones": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "gas_usado": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "comision_eth": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "contrato_creado": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "eventos_emitidos": {
                      "type": [
                        "number",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "red": "base",
                  "estado": "confirmada",
                  "bloque": 51867753,
                  "confirmaciones": 21,
                  "gas_usado": 48941,
                  "comision_eth": 1.7e-06
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/info-token-pago": {
      "post": {
        "operationId": "info_token",
        "summary": "Read ERC-20 token metadata and proxy status",
        "description": "ERC-20 token profile read directly from the contract on Base or Ethereum: name, symbol, decimals, total supply, bytecode size and whether it is an upgradeable EIP-1967 proxy (with implementation address).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contrato": {
                    "type": "string",
                    "description": "Token contract address"
                  },
                  "red": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum"
                    ]
                  }
                },
                "required": [
                  "contrato"
                ]
              },
              "example": {
                "contrato": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "red": "base"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "contrato": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nombre": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "simbolo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decimales": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "suministro_total": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tamano_bytecode": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "es_proxy_actualizable": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "implementacion": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "explorador": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "nombre": "USD Coin",
                  "simbolo": "USDC",
                  "decimales": 6,
                  "suministro_total": 4307231240.15,
                  "es_proxy_actualizable": false
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/saldos-wallet-pago": {
      "post": {
        "operationId": "saldos_wallet",
        "summary": "Get native and stablecoin balances of a wallet",
        "description": "Wallet balances on Base or Ethereum in one call: native ETH plus WETH, USDC, USDT, DAI and cbBTC/WBTC (and optionally any extra ERC-20), with approximate USD value from Chainlink oracles.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "direccion": {
                    "type": "string",
                    "description": "Wallet address"
                  },
                  "red": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum"
                    ]
                  },
                  "token": {
                    "type": "string",
                    "description": "Optional extra ERC-20 contract"
                  }
                },
                "required": [
                  "direccion"
                ]
              },
              "example": {
                "direccion": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                "red": "base"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "direccion": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "saldos": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "activo": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "contrato": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token contract (null for the native coin)"
                          },
                          "cantidad": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "valor_usd_aprox": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "valor_total_usd_aprox": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "explorador": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "saldos": [
                    {
                      "activo": "ETH",
                      "cantidad": 0.002,
                      "valor_usd_aprox": 5.38
                    },
                    {
                      "activo": "USDC",
                      "cantidad": 0.211,
                      "valor_usd_aprox": 0.21
                    }
                  ],
                  "valor_total_usd_aprox": 5.59
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/ens-pago": {
      "post": {
        "operationId": "ens",
        "summary": "Resolve ENS names to addresses and back",
        "description": "ENS resolution on Ethereum: name to address (vitalik.eth -> 0x...) or address to primary name, with round-trip verification of reverse records.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consulta": {
                    "type": "string",
                    "description": "ENS name (e.g. vitalik.eth) or 0x address"
                  }
                },
                "required": [
                  "consulta"
                ]
              },
              "example": {
                "consulta": "vitalik.eth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nombre_ens": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "direccion": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "explorador": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "nombre_ens": "vitalik.eth",
                  "direccion": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/cotizacion-dex-pago": {
      "post": {
        "operationId": "cotizacion_dex",
        "summary": "Fetch a Uniswap v3 swap quote on Base",
        "description": "On-chain swap quote on Base from Uniswap v3 QuoterV2 across all fee tiers (0.01%, 0.05%, 0.3%, 1%): output amount, unit price, best pool and gas estimate. Accepts symbols (WETH/ETH, USDC, USDT, DAI, cbBTC) or token addresses. Read-only, no swap executed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token_entrada": {
                    "type": "string",
                    "description": "Token to sell: WETH (or ETH), USDC, USDT, DAI, cbBTC, or a Base token contract address"
                  },
                  "token_salida": {
                    "type": "string",
                    "description": "Token to buy: WETH (or ETH), USDC, USDT, DAI, cbBTC, or a Base token contract address"
                  },
                  "cantidad": {
                    "type": "number",
                    "description": "Input amount in token units"
                  }
                },
                "required": [
                  "token_entrada",
                  "token_salida",
                  "cantidad"
                ]
              },
              "example": {
                "token_entrada": "WETH",
                "token_salida": "USDC",
                "cantidad": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "dex": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "entrada": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "token": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "contrato": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "cantidad": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "salida": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "token": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "contrato": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "cantidad": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "precio_unitario": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "mejor_pool_comision_pct": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "todas_las_pools": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "pool_comision_pct": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "cantidad_salida": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "gas_estimado": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "salida": {
                    "token": "USDC",
                    "cantidad": 2688.58
                  },
                  "precio_unitario": 2688.58,
                  "mejor_pool_comision_pct": 0.05
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.008"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/precio-oraculo-pago": {
      "post": {
        "operationId": "precio_oraculo",
        "summary": "Read a Chainlink oracle price feed",
        "description": "Tamper-resistant price from Chainlink Data Feeds on Base (ETH/USD, BTC/USD, USDC/USD, or any Chainlink aggregator address), with update time and staleness in seconds.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "par": {
                    "type": "string",
                    "description": "ETH/USD, BTC/USD, USDC/USD or a Chainlink feed address"
                  },
                  "red": {
                    "type": "string",
                    "enum": [
                      "base"
                    ]
                  }
                }
              },
              "example": {
                "par": "ETH/USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "red": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "par": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "precio": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "actualizado_utc": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "antiguedad_segundos": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "oraculo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "par": "BTC / USD",
                  "precio": 84436.1,
                  "actualizado_utc": "2026-09-27T15:58:37Z",
                  "antiguedad_segundos": 145
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/divisas-bce-pago": {
      "post": {
        "operationId": "divisas_bce",
        "summary": "Get ECB euro reference exchange rates and convert amounts",
        "description": "Official European Central Bank euro reference exchange rates (about 30 currencies) and currency conversion between any two of them, with reference date.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "de": {
                    "type": "string",
                    "description": "Source currency, e.g. EUR"
                  },
                  "a": {
                    "type": "string",
                    "description": "Target currency (omit to get all rates)"
                  },
                  "importe": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "de": "EUR",
                "a": "USD",
                "importe": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "de": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "a": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tipo": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "importe": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "resultado": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "fecha_referencia": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fuente": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "base": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tipos": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "All rates against 'base' (only when 'a' is omitted)",
                      "additionalProperties": {
                        "type": "number"
                      }
                    }
                  }
                },
                "example": {
                  "de": "EUR",
                  "a": "USD",
                  "tipo": 1.1403,
                  "importe": 100,
                  "resultado": 114.03,
                  "fecha_referencia": "2026-09-25"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/validar-iban-pago": {
      "post": {
        "operationId": "validar_iban",
        "summary": "Validate an IBAN and identify the Spanish bank",
        "description": "IBAN validation (ISO 13616 mod-97 and per-country length, SEPA membership; for Spain also the national CCC check digits and bank name). Computed locally, IBAN is not stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "iban": {
                    "type": "string",
                    "description": "IBAN, spaces allowed"
                  }
                },
                "required": [
                  "iban"
                ]
              },
              "example": {
                "iban": "ES9121000418450200051332"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "iban": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "pais": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "zona_sepa": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "codigo_entidad": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "entidad": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "codigo_oficina": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "valido": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "errores": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      }
                    },
                    "nota": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "iban": "ES91 **** 1332",
                  "pais": "ES",
                  "zona_sepa": true,
                  "entidad": "CaixaBank",
                  "valido": true,
                  "errores": []
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    },
    "/sentimiento-pago": {
      "post": {
        "operationId": "sentimiento",
        "summary": "Score the market sentiment of a text with local AI",
        "description": "Market sentiment of any text (news, posts, tweets; any language) via local AI (Qwen2.5-7B): bullish / bearish / neutral, score -1 to 1, confidence, mentioned assets and a short reason.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "texto": {
                    "type": "string",
                    "description": "Text to analyse"
                  }
                },
                "required": [
                  "texto"
                ]
              },
              "example": {
                "texto": "ETH breaks resistance as ETF inflows hit a monthly high"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sentimiento": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "puntuacion": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "confianza": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "activos_mencionados": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "motivo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "modelo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "aviso": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "sentimiento": "alcista",
                  "puntuacion": 0.7,
                  "confianza": 0.85,
                  "activos_mencionados": [
                    "ETH"
                  ],
                  "motivo": "Entradas record en ETF y ruptura de resistencia."
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2, USDC on Base or Solana)"
          },
          "404": {
            "description": "Not found (not charged)"
          },
          "422": {
            "description": "Invalid input (not charged)"
          },
          "502": {
            "description": "Upstream source unavailable (not charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.006"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "security": []
      }
    }
  }
}