{
  "openapi": "3.1.0",
  "info": {
    "title": "Phoenix Zero — Silicon DNA Agent Identity",
    "version": "1.0.0",
    "description": "Behavioral bot/agent classification. Returns HUMAN / LEGIT_AGENT / MALICIOUS_BOT from session timing signals, with confidence and the contributing signals."
  },
  "servers": [{"url": "https://rtt.phoenix-ai.work/api"}],
  "paths": {
    "/v1/classify": {
      "post": {
        "summary": "Classify a caller as HUMAN / LEGIT_AGENT / MALICIOUS_BOT",
        "description": "Silicon DNA behavioral classifier. Takes optional session timing/entropy signals and returns a 3-class agent verdict with confidence and the contributing signals. x402-paid ($0.01 USDC on Base).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Behavioral session signals; all optional, more signals raise confidence.",
                "properties": {
                  "ip": {"type": "string", "description": "Caller IP; correlated against the ban list."},
                  "entropy": {"type": "number", "description": "Inter-event entropy of the session."},
                  "variance": {"type": "number", "description": "Timing variance; near-zero indicates scripted traffic."},
                  "autocorr": {"type": "number", "description": "Autocorrelation of request intervals."},
                  "spearmanRho": {"type": "number", "description": "Spearman rho for static-script detection."},
                  "requestIntervals": {"type": "array", "items": {"type": "number"}, "description": "Millisecond gaps between requests."}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classification result with confidence and contributing signals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentClass": {"type": "string", "enum": ["HUMAN", "LEGIT_AGENT", "MALICIOUS_BOT"], "description": "Three-class verdict."},
                    "confidence": {"type": "number", "description": "Confidence 0..1."},
                    "signals": {"type": "array", "items": {"type": "string"}, "description": "Human-readable contributing signals."}
                  }
                }
              }
            }
          },
          "402": {"description": "Payment required (x402): pay $0.01 USDC on Base and retry."}
        }
      }
    }
  }
}
