{
  "openapi": "3.0.0",
  "info": {
    "title": "Elfa AI x402 API",
    "version": "2.0.0",
    "description": "Pay-per-call crypto social intelligence and conditional-execution API over x402."
  },
  "servers": [
    {
      "url": "https://api.elfa.ai"
    }
  ],
  "paths": {
    "/x402/v2/aggregations/trending-tokens": {
      "get": {
        "operationId": "x402-get-trending-tokens-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingTokensResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "pageSize": 1,
                        "page": 1,
                        "total": 1,
                        "data": [
                          {
                            "change_percent": 1,
                            "previous_count": 1,
                            "current_count": 1,
                            "token": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Retrieve trending tokens based on mention activity and momentum.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "Fetch trending tokens by mention volume",
        "tags": [
          "x402 Aggregations"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Time window for trending analysis (e.g., \"30m\", \"1h\", \"4h\", \"24h\", \"7d\", \"30d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "7d",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Minimum number of mentions required",
            "in": "query",
            "name": "minMentions",
            "required": false,
            "schema": {
              "default": 5,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/account/smart-stats": {
      "get": {
        "operationId": "x402-get-account-smart-stats-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSmartStatsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "averageReach": 1,
                        "averageEngagement": 1,
                        "smartFollowingCount": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Retrieve smart account statistics for a username.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "Fetch smart-account stats for an X username",
        "tags": [
          "x402 Account"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Account username to get stats for",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/data/top-mentions": {
      "get": {
        "operationId": "x402-get-top-mentions-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopMentionsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "tweetId": "string",
                          "link": "string",
                          "likeCount": 1,
                          "repostCount": 1,
                          "viewCount": 1,
                          "quoteCount": 1,
                          "replyCount": 1,
                          "bookmarkCount": 1,
                          "mentionedAt": "string",
                          "type": "repost",
                          "repostBreakdown": {
                            "ct": 1,
                            "smart": 1
                          }
                        }
                      ],
                      "metadata": {
                        "pageSize": 1,
                        "page": 1,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Returns the most significant mentions for a given ticker symbol.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "Fetch top mentions for a ticker symbol",
        "tags": [
          "x402 Data"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The ticker symbol to get mentions for. Use `$` prefix (e.g., `$SOL` or URL-encoded `%24SOL`) for exact cashtag matching only. Without `$`, results include both cashtag mentions and general token references.",
            "in": "query",
            "name": "ticker",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time window for mentions (e.g., \"1h\", \"24h\", \"7d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "1h",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Set to `false` to exclude reposts (default: included)",
            "in": "query",
            "name": "reposts",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/data/keyword-mentions": {
      "get": {
        "operationId": "x402-get-keyword-mentions-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordMentionsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "tweetId": "string",
                          "link": "string",
                          "likeCount": 1,
                          "repostCount": 1,
                          "viewCount": 1,
                          "quoteCount": 1,
                          "replyCount": 1,
                          "bookmarkCount": 1,
                          "mentionedAt": "string",
                          "type": "repost",
                          "repostBreakdown": {
                            "ct": 1,
                            "smart": 1
                          }
                        }
                      ],
                      "metadata": {
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Search mentions by keywords or account with cursor pagination.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "Search mentions by keyword or account",
        "tags": [
          "x402 Data"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Up to 5 keywords to search for, separated by commas (optional if accountName provided)",
            "in": "query",
            "name": "keywords",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account username to filter by (optional if keywords provided)",
            "in": "query",
            "name": "accountName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time window for mentions (e.g., \"1h\", \"24h\", \"7d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "7d",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of results to return (max 30)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 20,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Type of search (and, or)",
            "in": "query",
            "name": "searchType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cursor for pagination (millisecond timestamp from a previous response's `metadata.cursor`)",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to `false` to exclude reposts (default: included)",
            "in": "query",
            "name": "reposts",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/data/event-summary": {
      "get": {
        "operationId": "x402-get-event-summary-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSummaryResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "tweetIds": [
                            "string"
                          ],
                          "sourceLinks": [
                            "string"
                          ],
                          "summary": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Get event summary generated from keyword mention windows.\n\n**Cost:** 5 credits ($0.045). Requires x402 payment.",
        "summary": "Summarize events from keyword mentions",
        "tags": [
          "x402 Data"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Keywords to search for, separated by commas",
            "in": "query",
            "name": "keywords",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Time window for mentions (e.g., \"30m\", \"1h\", \"4h\", \"24h\", \"7d\", \"30d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "24h",
              "type": "string"
            }
          },
          {
            "description": "Type of search (and, or)",
            "in": "query",
            "name": "searchType",
            "required": false,
            "schema": {
              "default": "and",
              "type": "string",
              "enum": [
                "and",
                "or"
              ]
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.045
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/data/trending-narratives": {
      "get": {
        "operationId": "x402-get-trending-narratives-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingNarrativesResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "metadata": {
                          "error": "string",
                          "total_tweets": 1,
                          "total_narratives": 1
                        },
                        "trending_narratives": [
                          {
                            "tweet_ids": [
                              "string"
                            ],
                            "source_links": [
                              "string"
                            ],
                            "narrative": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Analyze narrative trends from recent market discussions.\n\n**Cost:** 5 credits ($0.045). Requires x402 payment.",
        "summary": "List trending narratives with sample posts",
        "tags": [
          "x402 Data"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Time frame for analysis (day, week)",
            "in": "query",
            "name": "timeFrame",
            "required": false,
            "schema": {
              "default": "day",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of narratives to return (1-20)",
            "in": "query",
            "name": "maxNarratives",
            "required": false,
            "schema": {
              "default": 7,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Maximum number of tweets per narrative (1-20)",
            "in": "query",
            "name": "maxTweetsPerNarrative",
            "required": false,
            "schema": {
              "default": 5,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.045
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/data/token-news": {
      "get": {
        "operationId": "x402-get-token-news-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenNewsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "tweetId": "string",
                          "link": "string",
                          "likeCount": 1,
                          "repostCount": 1,
                          "viewCount": 1,
                          "quoteCount": 1,
                          "replyCount": 1,
                          "bookmarkCount": 1,
                          "mentionedAt": "string",
                          "type": "repost",
                          "repostBreakdown": {
                            "ct": 1,
                            "smart": 1
                          }
                        }
                      ],
                      "metadata": {
                        "pageSize": 1,
                        "page": 1,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Get token-related news mention feed.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "Fetch the token news mentions feed",
        "tags": [
          "x402 Data"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Time window for mentions (e.g., \"30m\", \"1h\", \"4h\", \"24h\", \"7d\", \"30d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "7d",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 20,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "CoinGecko Coin IDs to filter by, comma-separated",
            "in": "query",
            "name": "coinIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to `false` to exclude reposts (default: included)",
            "in": "query",
            "name": "reposts",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/aggregations/trending-cas/twitter": {
      "get": {
        "operationId": "x402-get-trending-cas-twitter-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingCAsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "pageSize": 1,
                        "page": 1,
                        "total": 1,
                        "data": [
                          {
                            "contractAddress": "string",
                            "chain": "ethereum",
                            "mentionCount": 1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Retrieve trending contract addresses on Twitter.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "List trending contract addresses on X",
        "tags": [
          "x402 Aggregations"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Time window for trending analysis (e.g., \"30m\", \"1h\", \"4h\", \"24h\", \"7d\", \"30d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "24h",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Minimum number of mentions required",
            "in": "query",
            "name": "minMentions",
            "required": false,
            "schema": {
              "default": 5,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/aggregations/trending-cas/telegram": {
      "get": {
        "operationId": "x402-get-trending-cas-telegram-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingCAsResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "pageSize": 1,
                        "page": 1,
                        "total": 1,
                        "data": [
                          {
                            "contractAddress": "string",
                            "chain": "ethereum",
                            "mentionCount": 1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Retrieve trending contract addresses on Telegram.\n\n**Cost:** 1 credit ($0.009). Requires x402 payment.",
        "summary": "List trending contract addresses on Telegram",
        "tags": [
          "x402 Aggregations"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Time window for trending analysis (e.g., \"30m\", \"1h\", \"4h\", \"24h\", \"7d\", \"30d\")",
            "in": "query",
            "name": "timeWindow",
            "required": false,
            "schema": {
              "default": "24h",
              "type": "string"
            }
          },
          {
            "description": "Start date (unix timestamp)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "End date (unix timestamp)",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Minimum number of mentions required",
            "in": "query",
            "name": "minMentions",
            "required": false,
            "schema": {
              "default": 5,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.009
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/chat": {
      "post": {
        "operationId": "x402-chat-v2",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponseV2"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "creditsConsumed": 1,
                        "sessionId": "string",
                        "message": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Send a message to Elfa AI and receive a complete response.\n\n`message` is required for `analysisType: \"chat\"` and ignored for other\nanalysis types. `adaptive` speed is not available on x402.\n\n**Cost:** speed based (`fast` 5 credits/$0.045, `expert` 18 credits/$0.162).\nRequires x402 payment.",
        "summary": "Generate an AI answer about crypto markets",
        "tags": [
          "x402 Chat"
        ],
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "Chat request: `message`, `analysisType`, and `speed`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/X402ChatRequestBody",
                "description": "Chat request: `message`, `analysisType`, and `speed`"
              },
              "examples": {
                "default": {
                  "summary": "Example request",
                  "value": {
                    "analysisType": "summary",
                    "speed": "fast"
                  }
                }
              }
            }
          }
        },
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "variants": [
            {
              "param": "speed",
              "value": "fast",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.045
                    }
                  ]
                }
              ]
            },
            {
              "param": "speed",
              "value": "expert",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.162
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/chat": {
      "post": {
        "operationId": "x402-auto-chat",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoChatResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "creditsConsumed": 1,
                        "sessionId": "string",
                        "message": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "description": "Ask the AI to help you build an EQL query. It can research live market data, suggest strategies, and return ready-to-use EQL JSON.\n\nThe response message contains the AI's reply in Markdown. When it generates EQL,\nit will be in a JSON code block that you can extract, validate, and submit.\n\nUse `sessionId` in follow-up requests to maintain conversation context.\n\n**Cost:** speed based (`fast` 5 credits/$0.045, `expert` 18 credits/$0.162).\nRequires x402 payment.",
        "summary": "Generate an Auto plan from a prompt",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "Chat request: `query_package`, `speed`, and optional `sessionId`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoChatRequestBody",
                "description": "Chat request: `query_package`, `speed`, and optional `sessionId`"
              },
              "examples": {
                "default": {
                  "summary": "Example request",
                  "value": {
                    "message": "Build an Auto query for ETH downside alert under 2500.",
                    "speed": "fast"
                  }
                }
              }
            }
          }
        },
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "variants": [
            {
              "param": "speed",
              "value": "fast",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.045
                    }
                  ]
                }
              ]
            },
            {
              "param": "speed",
              "value": "expert",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.162
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/validate": {
      "post": {
        "operationId": "x402-auto-validate-query",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateQueryResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "valid": true,
                      "errors": [
                        "string"
                      ],
                      "warnings": [
                        "string"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validate EQL syntax and get a cost estimate without creating a query.\nReturns a simulation-based cost estimate when the query is valid.\nRequires `x-elfa-agent-secret` header.\n\n**Cost:** Free",
        "summary": "Validate an EQL query without creating it",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body carrying the EQL `query` to validate",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateQueryRequestBody",
                "description": "Request body carrying the EQL `query` to validate"
              },
              "examples": {
                "default": {
                  "summary": "Example request",
                  "value": {
                    "query": {
                      "conditions": {
                        "AND": [
                          {
                            "source": "price",
                            "method": "current",
                            "args": {
                              "symbol": "ETH"
                            },
                            "operator": "<",
                            "value": 2500
                          }
                        ]
                      },
                      "actions": [
                        {
                          "stepId": "step_1",
                          "type": "webhook",
                          "params": {
                            "url": "https://your-runner.example/auto/events"
                          }
                        }
                      ],
                      "expiresIn": "24h"
                    },
                    "title": "ETH downside guardrail",
                    "description": "Alert if ETH breaks below 2500 so risk can be reviewed quickly."
                  }
                }
              }
            }
          }
        },
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries": {
      "post": {
        "operationId": "x402-auto-create-query",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQueryResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "queryId": "string",
                      "status": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Query created and activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQueryResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "queryId": "string",
                      "status": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          },
          "422": {
            "description": "EQL validation failed"
          }
        },
        "description": "Create and activate a conditional query that monitors market data and triggers actions when conditions are met.\n\n**Allowed action types:** `webhook`, `notify`, `telegram_bot`, `llm`.\nTrade execution is not available via x402.\n\n**Cost:** Dynamic. Base fee is 5 credits ($0.045) plus simulated LLM calls:\nfast = +5 credits (+$0.045) per call, expert = +18 credits (+$0.162) per call.\nUse the validate endpoint to preview costs.\nRequires `x-elfa-agent-secret` header.\nRequires x402 payment.",
        "summary": "Create conditional query",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body carrying the EQL `query` and an optional `title`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQueryRequestBody",
                "description": "Request body carrying the EQL `query` and an optional `title`"
              },
              "examples": {
                "default": {
                  "summary": "Example request",
                  "value": {
                    "query": {
                      "conditions": {
                        "AND": [
                          {
                            "source": "price",
                            "method": "current",
                            "args": {
                              "symbol": "SOL"
                            },
                            "operator": ">",
                            "value": 220
                          }
                        ]
                      },
                      "actions": [
                        {
                          "stepId": "step_1",
                          "type": "telegram_bot",
                          "params": {
                            "botToken": "<telegram-bot-token>",
                            "chatId": "<telegram-chat-id>"
                          }
                        }
                      ],
                      "expiresIn": "24h"
                    },
                    "title": "SOL breakout alert",
                    "description": "Send a Telegram alert if SOL trades above 220."
                  }
                }
              }
            }
          }
        },
        "x-pay-metering": {
          "schemes": [
            "x402-exact"
          ],
          "variants": [
            {
              "param": "speed",
              "value": "fast",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.09
                    }
                  ]
                }
              ]
            },
            {
              "param": "speed",
              "value": "expert",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0.207
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/{queryId}": {
      "post": {
        "operationId": "x402-auto-poll-query",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollQueryResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "queryId": "string",
                      "status": "string",
                      "latestEvaluation": {
                        "evaluatedAt": "string",
                        "conditionStates": [
                          {
                            "index": 1,
                            "source": "string",
                            "method": "string"
                          }
                        ],
                        "wouldTriggerNow": true,
                        "matchingConditions": 1,
                        "totalConditions": 1
                      },
                      "executions": [
                        {
                          "id": "string",
                          "queryId": "string",
                          "type": "string",
                          "status": "string",
                          "createdAt": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Query not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check query status and execution results.\nRequires `x-elfa-agent-secret` header.\n\n`latestEvaluation` is the latest current-state snapshot, including\n`conditionStates[]`. Execution records include Auto Trigger Context\n(`triggerTime`, `conditionsMet`, `trigger`) when the query has fired.\n\n**Cost:** Free",
        "summary": "Poll query status and execution results",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The unique query identifier",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/{queryId}/cancel": {
      "post": {
        "operationId": "x402-auto-cancel-query",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelQueryResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "id": "string",
                      "status": "string",
                      "cancelledAt": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Query not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Query not in a cancellable state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel an active query.\nRequires `x-elfa-agent-secret` header.\n\n**Cost:** Free",
        "summary": "Cancel an active conditional query",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The unique query identifier",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/{queryId}/sessions": {
      "post": {
        "operationId": "x402-auto-list-sessions",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "queryId": "string",
                      "sessions": [
                        {
                          "sessionId": "string",
                          "status": "string",
                          "executedAt": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List LLM output sessions for a query.\nOnly relevant for queries with `actions[0].type: \"llm\"`.\nRequires `x-elfa-agent-secret` header.\n\n**Cost:** Free",
        "summary": "List LLM analysis sessions for a query",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The unique query identifier",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/{queryId}/sessions/{sessionId}": {
      "post": {
        "operationId": "x402-auto-get-session",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example successful response",
                    "value": {
                      "sessionId": "string",
                      "queryId": "string",
                      "title": "string",
                      "analysisType": "string",
                      "createdAt": "string",
                      "messages": [
                        {
                          "query": "string",
                          "response": "string",
                          "status": "string",
                          "analysisType": "string",
                          "timestamp": "string",
                          "trades": [
                            {}
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get full LLM analysis output for a specific session, including conversation messages and any trade signals.\nRequires `x-elfa-agent-secret` header.\n\n**Cost:** Free",
        "summary": "Get full LLM output for one session",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The unique query identifier",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The session identifier from the execution",
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/x402/v2/auto/queries/{queryId}/stream": {
      "get": {
        "operationId": "x402-auto-stream-notifications",
        "responses": {
          "200": {
            "description": "SSE stream established (text/event-stream)"
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Missing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Query not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Query stream closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Stream query notifications via Server-Sent Events (SSE).\nRequires `x-elfa-agent-secret` header.\n\n**Cost:** Free",
        "summary": "Monitor query notifications over SSE",
        "tags": [
          "x402 Auto"
        ],
        "security": [],
        "parameters": [
          {
            "description": "The unique query identifier",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any string you choose. Identity is `SHA256(secret)`, so reuse the same value across calls to reach your own queries.",
            "in": "header",
            "name": "x-elfa-agent-secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-pay-metering": {
          "variants": [
            {
              "param": "free",
              "value": "true",
              "dimensions": [
                {
                  "direction": "usage",
                  "unit": "requests",
                  "scale": 1,
                  "tiers": [
                    {
                      "price_usd": 0
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  },
  "components": {
    "examples": {},
    "headers": {},
    "parameters": {},
    "requestBodies": {},
    "responses": {},
    "schemas": {
      "PingResponseV2": {
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ],
            "nullable": false
          },
          "data": {
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": [
              "message"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ApiKeyStatusDataV2": {
        "properties": {
          "id": {
            "type": "number",
            "format": "double"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired",
              "payment_required"
            ]
          },
          "dailyRequestLimit": {
            "type": "number",
            "format": "double"
          },
          "monthlyRequestLimit": {
            "type": "number",
            "format": "double"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "requestsPerMinute": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "project": {
            "type": "string",
            "nullable": true
          },
          "allowOverage": {
            "type": "boolean",
            "nullable": true
          },
          "maxOverage": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "tier": {
            "type": "string"
          },
          "depositCredits": {
            "type": "number",
            "format": "double"
          },
          "billingMode": {
            "type": "string",
            "enum": [
              "deposit",
              "arrears"
            ]
          },
          "usage": {
            "properties": {
              "monthly": {
                "type": "number",
                "format": "double"
              },
              "daily": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "monthly",
              "daily"
            ],
            "type": "object"
          },
          "limits": {
            "properties": {
              "monthly": {
                "type": "number",
                "format": "double"
              },
              "daily": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "monthly",
              "daily"
            ],
            "type": "object"
          },
          "isExpired": {
            "type": "boolean"
          },
          "remainingRequests": {
            "properties": {
              "monthly": {
                "type": "number",
                "format": "double"
              },
              "daily": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "monthly",
              "daily"
            ],
            "type": "object"
          }
        },
        "required": [
          "id",
          "key",
          "name",
          "status",
          "dailyRequestLimit",
          "monthlyRequestLimit",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "requestsPerMinute",
          "email",
          "project",
          "allowOverage",
          "maxOverage",
          "tier",
          "depositCredits",
          "billingMode",
          "usage",
          "limits",
          "isExpired",
          "remainingRequests"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ApiKeyStatusResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ApiKeyStatusDataV2"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TrendingTokensResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "properties": {
              "pageSize": {
                "type": "number",
                "format": "double"
              },
              "page": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              },
              "data": {
                "items": {
                  "properties": {
                    "change_percent": {
                      "type": "number",
                      "format": "double"
                    },
                    "previous_count": {
                      "type": "number",
                      "format": "double"
                    },
                    "current_count": {
                      "type": "number",
                      "format": "double"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "change_percent",
                    "previous_count",
                    "current_count",
                    "token"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            },
            "required": [
              "pageSize",
              "page",
              "total",
              "data"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AccountSmartStatsResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "properties": {
              "followerCount": {
                "type": "number",
                "format": "double"
              },
              "smartFollowerCount": {
                "type": "number",
                "format": "double"
              },
              "averageReach": {
                "type": "number",
                "format": "double"
              },
              "averageEngagement": {
                "type": "number",
                "format": "double"
              },
              "smartFollowingCount": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "averageReach",
              "averageEngagement",
              "smartFollowingCount"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "MentionV2": {
        "description": "A single sanitized mention returned by V2 data endpoints.\n\nV2 never returns raw tweet text or content — use `link` to fetch the original\ntweet if needed. `mentionedAt` is an ISO 8601 string.",
        "properties": {
          "tweetId": {
            "type": "string",
            "description": "Tweet ID (string to preserve precision across 64-bit IDs)."
          },
          "link": {
            "type": "string",
            "description": "URL to the source tweet."
          },
          "likeCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "repostCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "viewCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quoteCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "replyCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bookmarkCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "mentionedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp (e.g. \"2026-04-18T15:07:49+00:00\"). Not a unix timestamp."
          },
          "type": {
            "type": "string",
            "enum": [
              "repost",
              "post",
              "quote",
              "reply",
              "note",
              "article"
            ]
          },
          "repostBreakdown": {
            "properties": {
              "ct": {
                "type": "number",
                "format": "double"
              },
              "smart": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "ct",
              "smart"
            ],
            "type": "object",
            "description": "Reposts broken down by audience: `smart` = smart accounts, `ct` = crypto-Twitter accounts."
          }
        },
        "required": [
          "tweetId",
          "link",
          "likeCount",
          "repostCount",
          "viewCount",
          "quoteCount",
          "replyCount",
          "bookmarkCount",
          "mentionedAt",
          "type",
          "repostBreakdown"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TopMentionsResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/MentionV2"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "pageSize": {
                "type": "number",
                "format": "double"
              },
              "page": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "pageSize",
              "page",
              "total"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "KeywordMentionV2": {
        "description": "Mention returned by `/v2/data/keyword-mentions`. Includes minimal account\ninfo; no follower counts, display name, bio, or account ID are returned.",
        "properties": {
          "tweetId": {
            "type": "string",
            "description": "Tweet ID (string to preserve precision across 64-bit IDs)."
          },
          "link": {
            "type": "string",
            "description": "URL to the source tweet."
          },
          "likeCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "repostCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "viewCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "quoteCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "replyCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bookmarkCount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "mentionedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp (e.g. \"2026-04-18T15:07:49+00:00\"). Not a unix timestamp."
          },
          "type": {
            "type": "string",
            "enum": [
              "repost",
              "post",
              "quote",
              "reply",
              "note",
              "article"
            ]
          },
          "repostBreakdown": {
            "properties": {
              "ct": {
                "type": "number",
                "format": "double"
              },
              "smart": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "ct",
              "smart"
            ],
            "type": "object",
            "description": "Reposts broken down by audience: `smart` = smart accounts, `ct` = crypto-Twitter accounts."
          },
          "account": {
            "properties": {
              "isVerified": {
                "type": "boolean"
              },
              "username": {
                "type": "string"
              }
            },
            "required": [
              "isVerified",
              "username"
            ],
            "type": "object",
            "description": "Minimal account info for the author. Only `username` and `isVerified` are\nreturned — no id, display name, follower count, or bio. May be omitted if\nthe underlying record is missing an account name."
          }
        },
        "required": [
          "tweetId",
          "link",
          "likeCount",
          "repostCount",
          "viewCount",
          "quoteCount",
          "replyCount",
          "bookmarkCount",
          "mentionedAt",
          "type",
          "repostBreakdown"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "KeywordMentionsResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/KeywordMentionV2"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "cursor": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "total"
            ],
            "type": "object",
            "description": "Pagination metadata. `cursor` is a millisecond timestamp — pass it back as\nthe `cursor` query param to fetch the next page. Omitted once `data` is\nempty, which is the signal to stop paging. `total` is the complete\nmatching result set, not the remainder after the cursor, and may be\ncapped at 10000 for performance."
          }
        },
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "EventSummaryResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "items": {
              "properties": {
                "tweetIds": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "sourceLinks": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "summary": {
                  "type": "string"
                }
              },
              "required": [
                "tweetIds",
                "sourceLinks",
                "summary"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "summaries": {
                "type": "number",
                "format": "double"
              },
              "total_summarized": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "summaries",
              "total_summarized",
              "total"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TrendingNarrativesResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "properties": {
              "metadata": {
                "properties": {
                  "error": {
                    "type": "string"
                  },
                  "total_tweets": {
                    "type": "number",
                    "format": "double"
                  },
                  "total_narratives": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "type": "object"
              },
              "trending_narratives": {
                "items": {
                  "properties": {
                    "tweet_ids": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "source_links": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "narrative": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "tweet_ids",
                    "source_links",
                    "narrative"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            },
            "required": [
              "metadata",
              "trending_narratives"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TokenNewsResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/MentionV2"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "pageSize": {
                "type": "number",
                "format": "double"
              },
              "page": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "pageSize",
              "page",
              "total"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TrendingContractAddressV2": {
        "properties": {
          "contractAddress": {
            "type": "string"
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "solana"
            ]
          },
          "mentionCount": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "contractAddress",
          "chain",
          "mentionCount"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TrendingCAsResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "properties": {
              "pageSize": {
                "type": "number",
                "format": "double"
              },
              "page": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              },
              "data": {
                "items": {
                  "$ref": "#/components/schemas/TrendingContractAddressV2"
                },
                "type": "array"
              }
            },
            "required": [
              "pageSize",
              "page",
              "total",
              "data"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ChatResponseV2": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "properties": {
              "creditsConsumed": {
                "type": "number",
                "format": "double"
              },
              "sessionId": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "creditsConsumed",
              "sessionId",
              "message"
            ],
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ChatAssetMetadataV2": {
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Token ticker symbol (e.g. \"BTC\", \"$ETH\"). Required for tokenIntro / tokenAnalysis when contractAddress is not provided."
          },
          "chain": {
            "type": "string",
            "description": "Blockchain name (e.g. \"ethereum\", \"solana\"). Use together with contractAddress as an alternative to symbol."
          },
          "contractAddress": {
            "type": "string",
            "description": "Token contract address. Use together with chain as an alternative to symbol."
          },
          "username": {
            "type": "string",
            "description": "Twitter/X username. Required for accountAnalysis."
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "ChatRequestBodyV2": {
        "properties": {
          "message": {
            "type": "string",
            "description": "The user message. Required when analysisType is \"chat\"; ignored for all other analysis types."
          },
          "sessionId": {
            "type": "string",
            "description": "Omit to start a new conversation. Pass the sessionId from a previous response to continue an existing conversation."
          },
          "analysisType": {
            "type": "string",
            "enum": [
              "chat",
              "macro",
              "summary",
              "tokenIntro",
              "tokenAnalysis",
              "accountAnalysis"
            ],
            "description": "The type of analysis to perform. Defaults to \"chat\".\n- `chat` — conversational AI. Requires `message`.\n- `macro` — macro market overview.\n- `summary` — quick market summary.\n- `tokenIntro` — token introduction. Requires `assetMetadata`.\n- `tokenAnalysis` — in-depth token analysis. Requires `assetMetadata`.\n- `accountAnalysis` — Twitter/X account analysis. Requires `assetMetadata.username`.",
            "default": "chat"
          },
          "speed": {
            "type": "string",
            "enum": [
              "fast",
              "expert",
              "adaptive"
            ],
            "description": "Response quality mode.",
            "default": "expert"
          },
          "assetMetadata": {
            "$ref": "#/components/schemas/ChatAssetMetadataV2",
            "description": "Required for tokenIntro, tokenAnalysis, and accountAnalysis. See endpoint description for required fields per analysis type."
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "TokenInsight": {
        "properties": {
          "cgCoinId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sentiment": {
            "type": "string"
          },
          "timestamp": {
            "type": "number",
            "format": "double"
          },
          "link": {
            "type": "string"
          },
          "supportingTweets": {
            "items": {
              "properties": {
                "author": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "username"
                  ],
                  "type": "object"
                },
                "timestamp": {
                  "type": "number",
                  "format": "double"
                },
                "url": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "required": [
                "author",
                "timestamp",
                "url",
                "content"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "cgCoinId",
          "title",
          "description",
          "sentiment",
          "timestamp",
          "link",
          "supportingTweets"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TokenInsightsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/TokenInsight"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "offset": {
                "type": "number",
                "format": "double"
              },
              "limit": {
                "type": "number",
                "format": "double"
              },
              "to": {
                "type": "number",
                "format": "double"
              },
              "from": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "offset",
              "limit",
              "to",
              "from",
              "total"
            ],
            "type": "object"
          }
        },
        "required": [
          "data",
          "metadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Insight": {
        "properties": {
          "chain": {
            "type": "string"
          },
          "contractAddress": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sentiment": {
            "type": "string"
          },
          "timestamp": {
            "type": "number",
            "format": "double"
          },
          "link": {
            "type": "string"
          },
          "supportingTweets": {
            "items": {
              "properties": {
                "author": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "username"
                  ],
                  "type": "object"
                },
                "timestamp": {
                  "type": "number",
                  "format": "double"
                },
                "url": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              },
              "required": [
                "author",
                "timestamp",
                "url",
                "content"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "chain",
          "contractAddress",
          "title",
          "description",
          "sentiment",
          "timestamp",
          "link",
          "supportingTweets"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "InsightsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Insight"
            },
            "type": "array"
          },
          "metadata": {
            "properties": {
              "offset": {
                "type": "number",
                "format": "double"
              },
              "limit": {
                "type": "number",
                "format": "double"
              },
              "to": {
                "type": "number",
                "format": "double"
              },
              "from": {
                "type": "number",
                "format": "double"
              },
              "total": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "offset",
              "limit",
              "to",
              "from",
              "total"
            ],
            "type": "object"
          }
        },
        "required": [
          "data",
          "metadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ApiKeyAutoChatResponse": {
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Session ID for continuing this conversation"
          },
          "response": {
            "type": "string",
            "description": "AI response in plain text/markdown"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Optional generated title"
          },
          "reasoning": {
            "type": "string",
            "nullable": true,
            "description": "Optional reasoning trace"
          },
          "planIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Related plan IDs"
          }
        },
        "required": [
          "sessionId",
          "response",
          "title",
          "reasoning",
          "planIds"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Record_string.unknown_": {
        "properties": {},
        "additionalProperties": {},
        "type": "object",
        "description": "Construct a type with a set of properties K of type T"
      },
      "JsonObject": {
        "$ref": "#/components/schemas/Record_string.unknown_"
      },
      "ApiKeyAutoValidationErrorDetail": {
        "properties": {
          "field": {
            "type": "string",
            "description": "Request field path, e.g. `body.credentials.secret`"
          },
          "message": {
            "type": "string",
            "description": "Human-readable validation message"
          }
        },
        "required": [
          "field",
          "message"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ApiKeyAutoErrorDetails": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/JsonObject"
          },
          {
            "items": {
              "$ref": "#/components/schemas/ApiKeyAutoValidationErrorDetail"
            },
            "type": "array"
          }
        ]
      },
      "ApiKeyAutoErrorResponse": {
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "$ref": "#/components/schemas/ApiKeyAutoErrorDetails"
          }
        },
        "required": [
          "error"
        ],
        "type": "object",
        "additionalProperties": {}
      },
[...]
