{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Diet API",
  "description": "Japanese Diet members and full-text minutes search over the official National Diet Library archive. x402-enabled for AI agents.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://diet.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "politics"
  },
  {
   "name": "diet"
  },
  {
   "name": "parliament"
  },
  {
   "name": "legislation"
  },
  {
   "name": "minutes"
  },
  {
   "name": "voting"
  }
 ],
 "paths": {
  "/members/search": {
   "get": {
    "operationId": "GET__members_search",
    "summary": "Search Japan Diet members by name, party, or district",
    "description": "Search current Japanese (JP) National Diet members by name (kanji, kana, or romaji), party, or constituency. Returns matching members with their canonical ids for use with GET /members/:id. Use to resolve a politician name to a record.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  },
  "/members/{id}": {
   "get": {
    "operationId": "GET__members_id",
    "summary": "Get the profile of a Japanese National Diet member",
    "description": "Full profile of a Japanese (JP) National Diet (国会) member by canonical id — name in kanji/kana/English, house (衆議院/参議院), party, constituency, times elected, current position, and committee memberships. Use to enrich a politician reference with structured biographical data.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Member ID from GET /members/search (e.g. shugiin-iwayatakeshi)"
     }
    ]
   }
  },
  "/minutes/search": {
   "post": {
    "operationId": "POST__minutes_search",
    "summary": "Search Japanese Diet proceedings full-text",
    "description": "Full-text search the official Japanese (JP) Diet proceedings archive (国会会議録, sourced from the National Diet Library), filterable by date range, house, committee, and speaker. Returns meeting metadata and matching snippets. Dynamic pricing: a base fee plus a small per-result fee. Use to find when and where a topic was debated.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.01 base + $0.0001 × result limit"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "query": {
          "type": "string",
          "description": "Full-text query for Diet minutes (国会会議録). The field `q` is also accepted as an alias.",
          "maxLength": 200
         },
         "from_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "to_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "house": {
          "type": "string",
          "enum": [
           "shugiin",
           "sangiin"
          ]
         },
         "limit": {
          "type": "number",
          "description": "Max results, 1–100",
          "minimum": 1,
          "maximum": 100
         }
        },
        "required": [
         "query"
        ],
        "type": "object"
       },
       "example": {
        "query": "ステーブルコイン",
        "limit": 20
       }
      }
     }
    }
   }
  },
  "/batch": {
   "post": {
    "operationId": "POST__batch",
    "summary": "Look up members in bulk (up to 100 items)",
    "description": "Batch lookups of Japanese (JP) Diet members — up to 100 items in one call, with per-item success/error reporting. Dynamic pricing: a small per-item fee. Use to resolve many members at once.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.005 × item count × 0.8"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "operation": {
          "type": "string",
          "enum": [
           "members"
          ]
         },
         "items": {
          "type": "array",
          "maxItems": 100,
          "description": "Lookups to run; each item = {id, key} per the chosen operation (max 100 items)"
         }
        },
        "required": [
         "operation",
         "items"
        ],
        "type": "object"
       },
       "example": {
        "operation": "members",
        "items": [
         {
          "id": "1",
          "key": "shugiin-iwayatakeshi"
         }
        ]
       }
      }
     }
    }
   }
  }
 }
}