{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Diet API",
  "description": "Japanese Diet members, minutes search, AI-readable summaries (via Claude), topic tracking, and vote results. x402-enabled for AI agents.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://diet.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "politics"
  },
  {
   "name": "diet"
  },
  {
   "name": "parliament"
  },
  {
   "name": "legislation"
  },
  {
   "name": "minutes"
  },
  {
   "name": "voting"
  }
 ],
 "paths": {
  "/members/search": {
   "get": {
    "operationId": "GET__members_search",
    "summary": "Search Japan Diet members by name, party, or district",
    "description": "Search current Japanese (JP) National Diet members by name (kanji, kana, or romaji), party, or constituency. Returns matching members with their canonical ids for use with GET /members/:id. Use to resolve a politician name to a record.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  },
  "/members/{id}": {
   "get": {
    "operationId": "GET__members_id",
    "summary": "Get the profile of a Japanese National Diet member",
    "description": "Full profile of a Japanese (JP) National Diet (国会) member by canonical id — name in kanji/kana/English, house (衆議院/参議院), party, constituency, times elected, current position, and committee memberships. Use to enrich a politician reference with structured biographical data.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Member ID from GET /members/search (e.g. iwaya-takeshi)"
     }
    ]
   }
  },
  "/votes/{bill_id}": {
   "get": {
    "operationId": "GET__votes_bill_id",
    "summary": "Get voting results for a Japanese Diet bill",
    "description": "Aggregated roll-call results for a specific Japanese (JP) Diet bill — for/against/abstain/absent totals, broken down by party and optionally by individual member. Use to analyze how parties and legislators voted on a bill.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "bill_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Bill ID <session>-<house>-<number> (e.g. 217-shu-44)"
     }
    ]
   }
  },
  "/minutes/search": {
   "post": {
    "operationId": "POST__minutes_search",
    "summary": "Search Japanese Diet proceedings full-text",
    "description": "Full-text search the official Japanese (JP) Diet proceedings archive (国会会議録, sourced from the National Diet Library), filterable by date range, house, committee, and speaker. Returns meeting metadata and matching snippets. Dynamic pricing: a base fee plus a small per-result fee. Use to find when and where a topic was debated.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.01 base + $0.0001 × result limit"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "query": {
          "type": "string",
          "description": "Full-text query for Diet minutes (国会会議録). The field `q` is also accepted as an alias.",
          "maxLength": 200
         },
         "from_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "to_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "house": {
          "type": "string",
          "enum": [
           "shugiin",
           "sangiin"
          ]
         },
         "limit": {
          "type": "number",
          "description": "Max results, 1–100",
          "minimum": 1,
          "maximum": 100
         }
        },
        "required": [
         "query"
        ],
        "type": "object"
       },
       "example": {
        "query": "ステーブルコイン",
        "limit": 20
       }
      }
     }
    }
   }
  },
  "/minutes/summarize": {
   "post": {
    "operationId": "POST__minutes_summarize",
    "summary": "Get an LLM summary of a Japanese Diet meeting transcript",
    "description": "AI-generated (Claude) summary of a Japanese (JP) Diet committee meeting transcript — key topics, notable quotes with speaker attribution, in Japanese and/or English, at short/medium/detailed length. The response reports the underlying LLM token cost. Use to digest a long transcript without running your own LLM.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.08 (short) / $0.14 (medium) / $0.22 (detailed) — priced by summary_length"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "meeting_id": {
          "type": "string",
          "description": "Diet meeting id from /minutes/search"
         },
         "focus": {
          "type": "string",
          "description": "Optional topic to focus the summary on"
         },
         "language": {
          "type": "string",
          "enum": [
           "ja",
           "en",
           "both"
          ]
         },
         "summary_length": {
          "type": "string",
          "enum": [
           "short",
           "medium",
           "detailed"
          ]
         }
        },
        "required": [
         "meeting_id"
        ],
        "type": "object"
       },
       "example": {
        "meeting_id": "11704041X00220250215",
        "language": "ja",
        "summary_length": "short"
       }
      }
     }
    }
   }
  },
  "/topic-track": {
   "post": {
    "operationId": "POST__topic_track",
    "summary": "Get a timeline of a topic across Japanese Diet sessions",
    "description": "Track how a specific policy topic has been discussed across recent Japanese (JP) Diet meetings: a dated timeline, the key actors and their stances, and an AI-written narrative of the overall policy direction. Use for legislative tracking and policy-trend analysis.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.05 base + $0.03 × meetings tracked"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "topic": {
          "type": "string",
          "description": "Topic to track across Diet discussions",
          "maxLength": 200
         },
         "from_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "to_date": {
          "type": "string",
          "description": "YYYY-MM-DD"
         },
         "max_meetings": {
          "type": "number"
         }
        },
        "required": [
         "topic"
        ],
        "type": "object"
       },
       "example": {
        "topic": "ステーブルコイン",
        "max_meetings": 10
       }
      }
     }
    }
   }
  },
  "/batch": {
   "post": {
    "operationId": "POST__batch",
    "summary": "Look up members or votes in bulk (up to 100 items)",
    "description": "Batch lookups of Japanese (JP) Diet members or bill votes — up to 100 items in one call, with per-item success/error reporting. Dynamic pricing: a small per-item fee. Use to resolve many members or bills at once.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.005 × item count × 0.8"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "operation": {
          "type": "string",
          "enum": [
           "members",
           "votes"
          ]
         },
         "items": {
          "type": "array",
          "maxItems": 100,
          "description": "Lookups to run; each item = {id, key} per the chosen operation (max 100 items)"
         }
        },
        "required": [
         "operation",
         "items"
        ],
        "type": "object"
       },
       "example": {
        "operation": "members",
        "items": [
         {
          "id": "1",
          "key": "iwaya-takeshi"
         }
        ]
       }
      }
     }
    }
   }
  }
 }
}
