{
  "openapi": "3.1.0",
  "info": {
    "title": "WURK x402 Solana Human Feedback Endpoints",
    "version": "1.1.0",
    "description": "Category-specific x402 listing surface for WURK Solana human-feedback endpoints: hire humans for reviews, opinions, tagging, lightweight research, submission workflows, and creator winner selection. Public v2 flow uses `PAYMENT-SIGNATURE`."
  },
  "servers": [
    {
      "url": "https://wurkapi.fun"
    }
  ],
  "tags": [
    {
      "name": "Agent Help"
    }
  ],
  "paths": {
    "/solana/agenttohuman": {
      "post": {
        "operationId": "post_solana_agenttohuman",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent-to-human (create, view, recover via action) (POST)",
        "description": "Public x402 endpoint: `/solana/agenttohuman`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nWhen action=create, total price is computed from winners × perUser.\n\nAliases exist under `/agenthelp` and dedicated view/recover routes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Action"
          },
          {
            "$ref": "#/components/parameters/Description"
          },
          {
            "$ref": "#/components/parameters/Winners"
          },
          {
            "$ref": "#/components/parameters/PerUser"
          },
          {
            "$ref": "#/components/parameters/Secret"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenttohumanadvanced": {
      "post": {
        "operationId": "post_solana_agenttohumanadvanced",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent-to-human Advanced (create, view, recover via action) (POST)",
        "description": "Public x402 endpoint: `/solana/agenttohumanadvanced`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nAdvanced variant with winner selection mode, extended selection time, attachment requirement toggle, and requirement-tier validation.\n\nUse the single `requirement` field when gating by profile requirements (Sorsa score, WURK X metric score, Seeker ecosystem user, or X blue-verified account).\n\nFor creator-selection jobs, choose winners through the chain-agnostic route `POST /api/agenttohumanadvanced/choose-winners` using `secret` + `submissionIds`; requests cannot exceed remaining winner slots.\n\nSubmission speed/volume is variable: simple broad tasks can fill in minutes, while strict requirements or complex tasks may take hours to days; poll status/view endpoints accordingly.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Action"
          },
          {
            "$ref": "#/components/parameters/Description"
          },
          {
            "$ref": "#/components/parameters/Winners"
          },
          {
            "$ref": "#/components/parameters/PerUser"
          },
          {
            "$ref": "#/components/parameters/Secret"
          },
          {
            "$ref": "#/components/parameters/Requirement"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp": {
      "post": {
        "operationId": "post_solana_agenthelp",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help (custom create) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          },
          {
            "$ref": "#/components/parameters/Winners"
          },
          {
            "$ref": "#/components/parameters/PerUser"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenttohuman/custom": {
      "post": {
        "operationId": "post_solana_agenttohuman_custom",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help (custom mode path) (POST)",
        "description": "Public x402 endpoint: `/solana/agenttohuman/custom`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          },
          {
            "$ref": "#/components/parameters/Winners"
          },
          {
            "$ref": "#/components/parameters/PerUser"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenttohuman/recover": {
      "post": {
        "operationId": "post_solana_agenttohuman_recover",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent-to-human Recover (POST)",
        "description": "Public x402 endpoint: `/solana/agenttohuman/recover`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: paid utility endpoint; typical fee is about `0.001 USDC` to recover recent jobs or view submissions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp/view": {
      "post": {
        "operationId": "post_solana_agenthelp_view",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help View (paid secret view) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp/view`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: paid utility endpoint; typical fee is about `0.001 USDC` to recover recent jobs or view submissions.\n\nThis alias requires `PAYMENT-SIGNATURE` before submissions are returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Secret"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp/view/{secret}": {
      "post": {
        "operationId": "post_solana_agenthelp_view_secret",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help View (paid path secret) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp/view/{secret}`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: paid utility endpoint; typical fee is about `0.001 USDC` to recover recent jobs or view submissions.\n\nPath-based paid variant of `/agenthelp/view`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/SecretPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp/recover": {
      "post": {
        "operationId": "post_solana_agenthelp_recover",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Recover (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp/recover`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: paid utility endpoint; typical fee is about `0.001 USDC` to recover recent jobs or view submissions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-1": {
      "post": {
        "operationId": "post_solana_agenthelp_1",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (1) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-1`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-5": {
      "post": {
        "operationId": "post_solana_agenthelp_5",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (5) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-5`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-10": {
      "post": {
        "operationId": "post_solana_agenthelp_10",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (10) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-10`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-20": {
      "post": {
        "operationId": "post_solana_agenthelp_20",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (20) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-20`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-50": {
      "post": {
        "operationId": "post_solana_agenthelp_50",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (50) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-50`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/agenthelp-100": {
      "post": {
        "operationId": "post_solana_agenthelp_100",
        "tags": [
          "Agent Help"
        ],
        "summary": "Agent Help Tier (100) (POST)",
        "description": "Public x402 endpoint: `/solana/agenthelp-100`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nAgent-help fallback context: tier routes commonly price at `0.02 USDC` per winner; custom defaults are often `winners=10` and `perUser=0.025` (about `0.25 USDC`).\n\nTier aliases map to fixed winner presets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Description"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PaymentSignature": {
        "name": "PAYMENT-SIGNATURE",
        "in": "header",
        "required": false,
        "description": "x402 v2 payment signature for public routes. Omit on first request to get `402 Payment-Required`; include on retry to settle.",
        "schema": {
          "type": "string"
        }
      },
      "Url": {
        "name": "url",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "description": "Target URL or profile URL."
      },
      "Amount": {
        "name": "amount",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Requested amount/slots."
      },
      "Handle": {
        "name": "handle",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Handle/username style target."
      },
      "Community": {
        "name": "community",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "X community URL or identifier."
      },
      "Instructions": {
        "name": "instructions",
        "in": "query",
        "schema": {
          "type": "string",
          "maxLength": 800
        },
        "description": "Optional custom instructions."
      },
      "Size": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "small",
            "medium",
            "large"
          ]
        },
        "description": "Raid preset size."
      },
      "Likes": {
        "name": "likes",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom likes count."
      },
      "Reposts": {
        "name": "reposts",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom reposts count."
      },
      "Comments": {
        "name": "comments",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom comments count."
      },
      "Bookmarks": {
        "name": "bookmarks",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom bookmarks count."
      },
      "Join": {
        "name": "join",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Telegram join target (URL, @handle, invite)."
      },
      "Group": {
        "name": "group",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Telegram group alias parameter."
      },
      "Invite": {
        "name": "invite",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Discord invite URL/code."
      },
      "Address": {
        "name": "address",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Base profile address (0x...)."
      },
      "VoteType": {
        "name": "voteType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "skeleton_vote",
            "moontok_vote",
            "majortrending_vote",
            "coingecko_vote",
            "coinmarketcap_vote"
          ]
        },
        "description": "Vote type for unified `/vote` endpoint."
      },
      "TypeAlias": {
        "name": "type",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "skeleton_vote",
            "moontok_vote",
            "majortrending_vote",
            "coingecko_vote",
            "coinmarketcap_vote"
          ]
        },
        "description": "Alias of `voteType` for unified `/vote`."
      },
      "Action": {
        "name": "action",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "create",
            "view",
            "recover"
          ]
        },
        "description": "Action selector for agent-to-human."
      },
      "Secret": {
        "name": "secret",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Secret/view key for submission retrieval."
      },
      "Description": {
        "name": "description",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Task description for agent-to-human create."
      },
      "Winners": {
        "name": "winners",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of winners."
      },
      "PerUser": {
        "name": "perUser",
        "in": "query",
        "schema": {
          "type": "number",
          "minimum": 0.01
        },
        "description": "USDC reward per participant."
      },
      "Requirement": {
        "name": "requirement",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "tweetScoutScore:0",
            "tweetScoutScore:10",
            "tweetScoutScore:25",
            "xMetricScore:75",
            "xMetricScore:250",
            "seekerUser",
            "xBlueVerified"
          ]
        },
        "description": "Optional single requirement selector for `agenttohumanadvanced`. Meaning: tweetScoutScore:* = Sorsa (formerly TweetScout) third-party X profile score; xMetricScore:* = WURK-generated X profile score (follower count, follower quality, profile signals); seekerUser = users in the Solana Seeker phone ecosystem; xBlueVerified = X account with a blue verified badge. Stricter requirements can reduce eligible participants and slow fill speed. Policy: tweetScoutScore:0 => max winners 100 + min perUser 0.05; tweetScoutScore:10 => max 75 + min 0.075; tweetScoutScore:25 => max 50 + min 0.125; xMetricScore:75 => max 100 + min 0.0625; xMetricScore:250 => max 50 + min 0.125; xBlueVerified => max 50 + min 0.075; seekerUser => baseline only."
      },
      "WinnersPath": {
        "name": "winners",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 250
        },
        "description": "Winner/slot count in path alias. Range is endpoint-specific (commonly 1..100 for agent-help, 5..250 for social jobs)."
      },
      "SecretPath": {
        "name": "secret",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Secret/view key in path."
      },
      "LikesPath": {
        "name": "likes",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom likes path value."
      },
      "RepostsPath": {
        "name": "reposts",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom reposts path value."
      },
      "CommentsPath": {
        "name": "comments",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom comments path value."
      },
      "BookmarksPath": {
        "name": "bookmarks",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom bookmarks path value."
      }
    },
    "schemas": {
      "PaymentRequirement": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "scheme": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "maxAmountRequired": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "payTo": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "maxTimeoutSeconds": {
            "type": "integer"
          },
          "extra": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaymentRequiredResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "x402Version",
          "accepts",
          "resource"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "example": 2
          },
          "accepts": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/PaymentRequirement"
            }
          },
          "error": {
            "type": "string"
          },
          "resource": {
            "description": "Requested resource metadata echoed by payment middleware.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaidSuccessResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "paid": {
            "type": "boolean",
            "example": true
          },
          "alreadyConfirmed": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "errorCode": {
            "type": "string",
            "description": "Machine-readable application error code (when available)."
          },
          "retryAfterSeconds": {
            "type": "integer",
            "description": "Retry-after hint in seconds for rate-limited requests."
          }
        }
      },
      "AgentSupportSendInput": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "secret": {
            "type": "string",
            "description": "Optional when sent via query/header."
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "message"
        ]
      },
      "AgentSupportSendSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thank you for your message. As soon as a human support team member is online, we will review your issue."
          },
          "messagesUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "ok",
          "message",
          "messagesUrl"
        ]
      },
      "AgentSupportThreadMessage": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "agent",
              "support"
            ]
          },
          "message": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "customJobId": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentSupportMessagesSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "wallet": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSupportThreadMessage"
            }
          }
        }
      },
      "AgentToHumanAdvancedChooseWinnersInput": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "secret": {
            "type": "string",
            "description": "Advanced job secret for creator-mode winner selection."
          },
          "submissionIds": {
            "oneOf": [
              {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "uniqueItems": true,
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "description": "Winner submission ids as array or comma-separated string."
          }
        },
        "required": [
          "secret",
          "submissionIds"
        ]
      },
      "AgentToHumanAdvancedChooseWinnersSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "jobId": {
            "type": "string"
          },
          "customId": {
            "type": "string"
          },
          "requested": {
            "type": "integer",
            "minimum": 1
          },
          "updated": {
            "type": "integer",
            "minimum": 0
          },
          "alreadyWinnerCountInRequest": {
            "type": "integer",
            "minimum": 0
          },
          "winnersNow": {
            "type": "integer",
            "minimum": 0
          },
          "winnerCap": {
            "type": "integer",
            "minimum": 1
          },
          "remainingSlots": {
            "type": "integer",
            "minimum": 0
          },
          "statusTransition": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedSubmissionIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "jobId",
          "requested",
          "updated",
          "winnersNow",
          "winnerCap",
          "remainingSlots"
        ]
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required. Sign and retry with `PAYMENT-SIGNATURE` (public v2 flow).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequiredResponse"
            }
          }
        }
      },
      "PaidSuccess": {
        "description": "Operation accepted/completed (after settlement on paid routes, or immediately for free variants).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaidSuccessResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request input or malformed payment signature.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized secret context.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource, job, or secret could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded for wallet-threaded support chat.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "SupportSendSuccess": {
        "description": "Support message accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentSupportSendSuccess"
            }
          }
        }
      },
      "SupportMessagesSuccess": {
        "description": "Wallet-threaded support messages.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentSupportMessagesSuccess"
            }
          }
        }
      },
      "ChooseWinnersSuccess": {
        "description": "Creator-mode advanced winners selected successfully.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentToHumanAdvancedChooseWinnersSuccess"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict with current state (for example, duplicate/similar running job).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server-side failure.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}