{
  "info": {
    "description": "Filtered OpenAPI description for the stateless synchronous Alibaba Cloud EduTutor proxy. The gateway serves only the allowlisted operations defined in the paired YAML manifest.",
    "title": "Alibaba Cloud EduTutor API",
    "version": "2025-07-07"
  },
  "openapi": "3.0.3",
  "paths": {
    "/service/cutApi": {
      "post": {
        "description": "CutQuestions",
        "operationId": "alibaba.edututor.CutQuestions",
        "parameters": [
          {
            "description": "The Model Studio workspace ID used for the current request.",
            "in": "query",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "description": "The Model Studio workspace ID used for the current request.",
              "example": "llm-1ijrzuv3v0ivvls7",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "The request body.",
                "properties": {
                  "image": {
                    "description": "The URL of the exam paper or question image.",
                    "example": "https://oss.xxx.com/xx.png",
                    "type": "string"
                  },
                  "parameters": {
                    "description": "Parameter settings.",
                    "properties": {
                      "extract_images": {
                        "description": "Indicates whether temporary OSS URLs of sub-questions are returned, facilitating direct use in subsequent answering.",
                        "example": "true",
                        "type": "boolean"
                      },
                      "struct": {
                        "description": "Indicates whether structured information is returned.",
                        "example": "true",
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "struct",
                      "extract_images"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "image",
                  "parameters"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Schema of Response",
                  "properties": {
                    "code": {
                      "description": "The response status code.",
                      "example": "SUCCESS",
                      "type": "string"
                    },
                    "data": {
                      "description": "The algorithm return result.",
                      "example": "'{\n    \"questions\": [\n        {\n            \"pos_list\": [\n                [\n                    21,\n                    0,\n                    364,\n                    0,\n                    364,\n                    82,\n                    21,\n                    82\n                ]\n            ],\n            \"sub_images\": [\n                \"http://duguang-mld.oss-accelerate.aliyuncs.com/ocr_edu/1CE2851D-96D6-51D0-8ADA-EB7ACAF374BB_0_0.png?OSSAccessKeyId=LTAI5tPtEwpyT4JR9Gym****&Expires=1755593474&Signature=SnqwepQVvZ51PnUGtpH0fWV50JI%3D\"\n            ],\n            \"merged_image\": \"http://duguang-mld.oss-accelerate.aliyuncs.com/ocr_edu/1CE2851D-96D6-51D0-8ADA-EB7ACAF374BB_0_0.png?OSSAccessKeyId=LTAI5tPtEwpyT4JR9Gy****&Expires=1755593474&Signature=SnqwepQVvZ51PnUGtpH0fWV50JI%3D\",\n            \"info\": {\n                \"stem\": {\n                    \"text\": \"8. 若 \\\\\\\\(a + b = -1\\\\\\\\), \\\\\\\\(ab = 4\\\\\\\\), 则 \\\\\\\\((4a - 5b - 3ab) - (3a - 6b + ab)\\\\\\\\) 的值为 _ 。\",\n                    \"pos_list\": [\n                        [\n                            21,\n                            4,\n                            364,\n                            4,\n                            364,\n                            78,\n                            21,\n                            78\n                        ]\n                    ]\n                },\n                \"option\": [],\n                \"figure\": [],\n                \"answer\": [\n                    {\n                        \"text\": \"-17\",\n                        \"pos_list\": [\n                            [\n                                225,\n                                51,\n                                262,\n                                51,\n                                262,\n                                70,\n                                225,\n                                70\n                            ]\n                        ]\n                    }\n                ],\n                \"type\": \"填空题\",\n                \"subquestion\": []\n            }\n        }\n    ]\n}'",
                      "type": "string"
                    },
                    "httpStatusCode": {
                      "description": "The HTTP status code.",
                      "example": "200",
                      "format": "int32",
                      "type": "integer"
                    },
                    "input_tokens": {
                      "description": "The number of tokens consumed by the input of this invocation.",
                      "example": "80",
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "description": "Description of the return code.",
                      "example": "success",
                      "type": "string"
                    },
                    "output_tokens": {
                      "description": "The number of tokens consumed by the output of this invocation.",
                      "example": "38",
                      "format": "int32",
                      "type": "integer"
                    },
                    "requestId": {
                      "description": "The request ID. Each request has a unique value, which facilitates troubleshooting.",
                      "example": "1CE2851D-96D6-51D0-8ADA-EB7ACAF374BB",
                      "type": "string"
                    },
                    "success": {
                      "description": "Indicates whether the invocation succeeded.",
                      "example": "True",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    },
                    "RequestId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Exam Paper Question Segmentation"
      }
    }
  },
  "servers": [
    {
      "url": "https://edututor.alibaba.gateway-402.com"
    }
  ]
}
