{
    "openapi": "3.1.0",
    "info": {
        "title": "Citable",
        "version": "1.0.0",
        "description": "Pay-per-check SEO and AI-visibility data. Every /v1 endpoint answers 402 with its price; pay in USDC on Solana via x402 and retry the same request. No Citable account or API key exists \u2014 the wallet is the identity. Errors are never charged.",
        "contact": {
            "url": "https://citable.run/docs",
            "email": "hello@citable.run"
        },
        "x-guidance": "Call any /v1 endpoint with query parameters and no credentials. The reply is 402 with an x402 challenge in the payment-required header; pay it in USDC on Solana and retry the same URL. Prices are per call and quoted in the challenge; ai-visibility is quoted per engine asked. 4xx and 5xx cancel the payment instead of settling it, so a failed call costs nothing."
    },
    "servers": [
        {
            "url": "https://citable.run"
        }
    ],
    "paths": {
        "/v1/keyword-suggest": {
            "get": {
                "operationId": "keywordSuggest",
                "summary": "Find related searches and questions for a seed keyword",
                "description": "The phrasings real people type: autocomplete expansions and questions for a seed \u2014 deduped and ranked, no search volume.\n\nPrice: $0.005 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to expand (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "language code, default en (id supported with localized question words)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "depth",
                        "in": "query",
                        "required": false,
                        "description": "0 seed only \u00b7 1 + questions and modifiers \u00b7 2 (default) + a\u2013z sweep",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "max keywords per list, default 100, max 300",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "required": false,
                        "description": "comma list of google,youtube,bing (default all)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.005"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "seed": {
                                            "type": "string"
                                        },
                                        "lang": {
                                            "type": "string"
                                        },
                                        "country": {
                                            "type": "string"
                                        },
                                        "depth": {
                                            "type": "integer"
                                        },
                                        "suggestions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "score": {},
                                                    "sources": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "matchesSeed": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "score": {},
                                                    "sources": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "matchesSeed": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "counts": {
                                            "type": "object",
                                            "properties": {
                                                "suggestions": {
                                                    "type": "integer"
                                                },
                                                "questions": {
                                                    "type": "integer"
                                                },
                                                "requests": {
                                                    "type": "integer"
                                                },
                                                "cacheHits": {
                                                    "type": "integer"
                                                },
                                                "failed": {
                                                    "type": "integer"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "sources": {
                                            "type": "object",
                                            "properties": {
                                                "google": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ok": {
                                                            "type": "integer"
                                                        },
                                                        "failed": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "youtube": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ok": {
                                                            "type": "integer"
                                                        },
                                                        "failed": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "bing": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ok": {
                                                            "type": "integer"
                                                        },
                                                        "failed": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "fetchedAt": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "seed": "solana rpc",
                                    "lang": "en",
                                    "country": "us",
                                    "depth": 1,
                                    "suggestions": [
                                        {
                                            "keyword": "solana rpc url",
                                            "score": 1,
                                            "sources": [
                                                "google"
                                            ],
                                            "type": "expansion",
                                            "matchesSeed": true
                                        }
                                    ],
                                    "questions": [
                                        {
                                            "keyword": "is solana rpc free",
                                            "score": 1,
                                            "sources": [
                                                "google"
                                            ],
                                            "type": "question",
                                            "matchesSeed": true
                                        }
                                    ],
                                    "counts": {
                                        "suggestions": 8,
                                        "questions": 8,
                                        "requests": 29,
                                        "cacheHits": 0,
                                        "failed": 0
                                    },
                                    "sources": {
                                        "google": {
                                            "ok": 27,
                                            "failed": 0
                                        },
                                        "youtube": {
                                            "ok": 1,
                                            "failed": 0
                                        },
                                        "bing": {
                                            "ok": 1,
                                            "failed": 0
                                        }
                                    },
                                    "fetchedAt": "2026-08-24T20:43:12.919Z",
                                    "price": "$0.005",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.005. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-research": {
            "get": {
                "operationId": "keywordResearch",
                "summary": "Find keywords for a seed with volume and competition",
                "description": "One seed, the whole picture: keywords and questions from autocomplete and the paid index, with volume, CPC, difficulty and intent attached.\n\nPrice: $0.06 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to research (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "rows per list, 1\u2013200 (default 100)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.06"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "seed": {
                                            "type": "string"
                                        },
                                        "country": {
                                            "type": "string"
                                        },
                                        "lang": {
                                            "type": "string"
                                        },
                                        "keywords": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "volume": {
                                                        "type": "integer"
                                                    },
                                                    "cpc": {},
                                                    "competition": {},
                                                    "difficulty": {
                                                        "type": "integer"
                                                    },
                                                    "intent": {
                                                        "type": "string"
                                                    },
                                                    "sources": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "isQuestion": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "questions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "volume": {
                                                        "type": "integer"
                                                    },
                                                    "cpc": {},
                                                    "competition": {},
                                                    "difficulty": {},
                                                    "intent": {},
                                                    "sources": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "isQuestion": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "withVolume": {
                                                    "type": "integer"
                                                },
                                                "questions": {
                                                    "type": "integer"
                                                },
                                                "totalFoundForSeed": {
                                                    "type": "integer"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "sources": {
                                            "type": "object",
                                            "properties": {
                                                "index": {
                                                    "type": "boolean"
                                                },
                                                "autocomplete": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "seed": "reksadana",
                                    "country": "id",
                                    "lang": "id",
                                    "keywords": [
                                        {
                                            "keyword": "reksadana",
                                            "volume": 74000,
                                            "cpc": 0.18,
                                            "competition": "low",
                                            "difficulty": 41,
                                            "intent": "informational",
                                            "sources": [
                                                "index"
                                            ],
                                            "isQuestion": false
                                        }
                                    ],
                                    "questions": [
                                        {
                                            "keyword": "apa itu reksadana",
                                            "volume": 8100,
                                            "cpc": 0.11,
                                            "competition": "low",
                                            "difficulty": 22,
                                            "intent": "informational",
                                            "sources": [
                                                "index"
                                            ],
                                            "isQuestion": true
                                        }
                                    ],
                                    "summary": {
                                        "total": 128,
                                        "withVolume": 104,
                                        "questions": 23,
                                        "totalFoundForSeed": 1840
                                    },
                                    "sources": {
                                        "index": true,
                                        "autocomplete": true
                                    },
                                    "price": "$0.06",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.06. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-ideas": {
            "get": {
                "operationId": "keywordIdeas",
                "summary": "Find related keywords for a seed, with volume and difficulty",
                "description": "Keyword research with the numbers attached: every result contains your seed, and arrives with search volume, CPC, difficulty and intent.\n\nPrice: $0.05 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to research (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "ideas to return, 1\u2013100 (default 50)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.05"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "seed": {
                                            "type": "string"
                                        },
                                        "country": {
                                            "type": "string"
                                        },
                                        "lang": {
                                            "type": "string"
                                        },
                                        "keywords": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "volume": {
                                                        "type": "integer"
                                                    },
                                                    "cpc": {
                                                        "type": "number"
                                                    },
                                                    "competition": {
                                                        "type": "string"
                                                    },
                                                    "difficulty": {
                                                        "type": "integer"
                                                    },
                                                    "intent": {
                                                        "type": "string"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "totalFound": {
                                            "type": "integer"
                                        },
                                        "source": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "seed": "seo api",
                                    "country": "us",
                                    "lang": "en",
                                    "keywords": [
                                        {
                                            "keyword": "seo api",
                                            "volume": 390,
                                            "cpc": 20.98,
                                            "competition": "low",
                                            "difficulty": 40,
                                            "intent": "commercial"
                                        }
                                    ],
                                    "totalFound": 1840,
                                    "source": "dataforseo_labs",
                                    "price": "$0.05",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.05. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-metrics": {
            "get": {
                "operationId": "keywordMetrics",
                "summary": "Look up search volume, CPC and competition for keywords",
                "description": "Search volume, CPC, competition, difficulty and intent per keyword \u2014 one price for a batch of up to 20.\n\nPrice: $0.03 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "keywords",
                        "in": "query",
                        "required": true,
                        "description": "comma list of 1\u201320 keywords (each \u226480 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.03"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "keywords": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "keyword": {
                                                        "type": "string"
                                                    },
                                                    "volume": {
                                                        "type": "integer"
                                                    },
                                                    "cpc": {
                                                        "type": "number"
                                                    },
                                                    "competition": {
                                                        "type": "string"
                                                    },
                                                    "difficulty": {
                                                        "type": "integer"
                                                    },
                                                    "intent": {
                                                        "type": "string"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "requested": {
                                            "type": "integer"
                                        },
                                        "matched": {
                                            "type": "integer"
                                        },
                                        "country": {
                                            "type": "string"
                                        },
                                        "lang": {
                                            "type": "string"
                                        },
                                        "source": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "keywords": [
                                        {
                                            "keyword": "seo api",
                                            "volume": 390,
                                            "cpc": 20.98,
                                            "competition": "low",
                                            "difficulty": 40,
                                            "intent": "commercial"
                                        }
                                    ],
                                    "requested": 2,
                                    "matched": 2,
                                    "country": "us",
                                    "lang": "en",
                                    "source": "dataforseo_labs",
                                    "price": "$0.03",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.03. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/rank-check": {
            "get": {
                "operationId": "rankCheck",
                "summary": "Check where a domain ranks on Google for a keyword",
                "description": "Google organic position of a domain for a keyword, plus the top-10 list \u2014 from a licensed SERP feed, never scraped.\n\nPrice: $0.012 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": true,
                        "description": "search query (1\u2013120 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to find, e.g. example.com (subdomains match)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gl",
                        "in": "query",
                        "required": false,
                        "description": "country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hl",
                        "in": "query",
                        "required": false,
                        "description": "language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "num",
                        "in": "query",
                        "required": false,
                        "description": "results window to check, 10\u201350 (default 20)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.012"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "keyword": {
                                            "type": "string"
                                        },
                                        "domain": {
                                            "type": "string"
                                        },
                                        "position": {
                                            "type": "integer"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "checked": {
                                            "type": "integer"
                                        },
                                        "gl": {
                                            "type": "string"
                                        },
                                        "hl": {
                                            "type": "string"
                                        },
                                        "top10": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "position": {
                                                        "type": "integer"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "keyword": "seo api",
                                    "domain": "dataforseo.com",
                                    "position": 1,
                                    "url": "https://dataforseo.com/",
                                    "title": "DataForSEO: Powerful API Stack For Data-Driven SEO Tools",
                                    "checked": 19,
                                    "gl": "us",
                                    "hl": "en",
                                    "top10": [
                                        {
                                            "position": 1,
                                            "domain": "dataforseo.com",
                                            "url": "https://dataforseo.com/",
                                            "title": "DataForSEO: Powerful API Stack For Data-Driven SEO Tools"
                                        }
                                    ],
                                    "price": "$0.012",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.012. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/onpage-audit": {
            "get": {
                "operationId": "onpageAudit",
                "summary": "Check one page for on-page SEO and AI citability",
                "description": "Classic on-page SEO plus AI citability, scored 0\u2013100 with a fix for every non-passing check.\n\nPrice: $0.01 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "description": "absolute http(s) URL of the page to audit",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.01"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "finalUrl": {
                                            "type": "string"
                                        },
                                        "fetchedAt": {
                                            "type": "string"
                                        },
                                        "http": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "redirects": {
                                                    "type": "integer"
                                                },
                                                "contentType": {
                                                    "type": "string"
                                                },
                                                "responseMs": {
                                                    "type": "integer"
                                                },
                                                "bytes": {
                                                    "type": "integer"
                                                },
                                                "truncated": {
                                                    "type": "boolean"
                                                },
                                                "https": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "page": {
                                            "type": "object",
                                            "properties": {
                                                "title": {
                                                    "type": "object",
                                                    "properties": {
                                                        "text": {
                                                            "type": "string"
                                                        },
                                                        "length": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "metaDescription": {
                                                    "type": "object",
                                                    "properties": {
                                                        "text": {
                                                            "type": "string"
                                                        },
                                                        "length": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "canonical": {
                                                    "type": "string"
                                                },
                                                "lang": {
                                                    "type": "string"
                                                },
                                                "headings": {
                                                    "type": "object",
                                                    "properties": {
                                                        "counts": {
                                                            "type": "object"
                                                        },
                                                        "h1": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "wordCount": {
                                                    "type": "integer"
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "internal": {
                                                            "type": "integer"
                                                        },
                                                        "external": {
                                                            "type": "integer"
                                                        },
                                                        "nofollow": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "images": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "missingAlt": {
                                                            "type": "integer"
                                                        },
                                                        "emptyAlt": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                },
                                                "structuredData": {
                                                    "type": "object",
                                                    "properties": {
                                                        "count": {
                                                            "type": "integer"
                                                        },
                                                        "invalid": {
                                                            "type": "integer"
                                                        },
                                                        "types": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "aiAccess": {
                                            "type": "object",
                                            "properties": {
                                                "robotsTxt": {
                                                    "type": "string"
                                                },
                                                "llmsTxt": {
                                                    "type": "boolean"
                                                },
                                                "bots": {
                                                    "type": "object",
                                                    "properties": {
                                                        "gptbot": {
                                                            "type": "string"
                                                        },
                                                        "claudebot": {
                                                            "type": "string"
                                                        },
                                                        "perplexitybot": {
                                                            "type": "string"
                                                        },
                                                        "google-extended": {
                                                            "type": "string"
                                                        },
                                                        "ccbot": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "answerability": {
                                            "type": "object",
                                            "properties": {
                                                "questionHeadings": {
                                                    "type": "integer"
                                                },
                                                "hasDate": {
                                                    "type": "boolean"
                                                },
                                                "hasAuthor": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "score": {
                                            "type": "integer"
                                        },
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "pass": {
                                                    "type": "integer"
                                                },
                                                "warn": {
                                                    "type": "integer"
                                                },
                                                "fail": {
                                                    "type": "integer"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "checks": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "weight": {
                                                        "type": "integer"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "current": {
                                                        "type": "string"
                                                    },
                                                    "fix": {}
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "topFixes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    },
                                                    "fix": {
                                                        "type": "string"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "url": "https://citable.run/",
                                    "finalUrl": "https://citable.run/",
                                    "fetchedAt": "2026-08-24T20:43:12.086Z",
                                    "http": {
                                        "status": 200,
                                        "redirects": 0,
                                        "contentType": "text/html; charset=UTF-8",
                                        "responseMs": 2011,
                                        "bytes": 68900,
                                        "truncated": false,
                                        "https": true
                                    },
                                    "page": {
                                        "title": {
                                            "text": "Citable \u2014 SEO and AI-visibility checks for agents",
                                            "length": 49
                                        },
                                        "metaDescription": {
                                            "text": "Pay-per-call SEO and AI-visibility data for AI agents. \u2026",
                                            "length": 178
                                        },
                                        "canonical": "https://citable.run/",
                                        "lang": "en",
                                        "headings": {
                                            "counts": {},
                                            "h1": [
                                                "SEO and AI-visibility checks for agents."
                                            ]
                                        },
                                        "wordCount": 1279,
                                        "links": {
                                            "total": 8,
                                            "internal": 5,
                                            "external": 3,
                                            "nofollow": 0
                                        },
                                        "images": {
                                            "total": 0,
                                            "missingAlt": 0,
                                            "emptyAlt": 0
                                        },
                                        "structuredData": {
                                            "count": 1,
                                            "invalid": 0,
                                            "types": [
                                                "FAQPage"
                                            ]
                                        }
                                    },
                                    "aiAccess": {
                                        "robotsTxt": "missing",
                                        "llmsTxt": false,
                                        "bots": {
                                            "gptbot": "allowed",
                                            "claudebot": "allowed",
                                            "perplexitybot": "allowed",
                                            "google-extended": "allowed",
                                            "ccbot": "allowed"
                                        }
                                    },
                                    "answerability": {
                                        "questionHeadings": 0,
                                        "hasDate": false,
                                        "hasAuthor": false
                                    },
                                    "score": 92,
                                    "summary": {
                                        "pass": 15,
                                        "warn": 5,
                                        "fail": 0
                                    },
                                    "checks": [
                                        {
                                            "id": "http-status",
                                            "status": "pass",
                                            "weight": 8,
                                            "message": "Returns 200 OK",
                                            "current": "200",
                                            "fix": null
                                        }
                                    ],
                                    "topFixes": [
                                        {
                                            "id": "meta-description",
                                            "severity": "warn",
                                            "fix": "Rewrite the meta description to 70\u2013160 characters"
                                        }
                                    ],
                                    "price": "$0.01",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.01. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/ai-visibility": {
            "get": {
                "operationId": "aiVisibility",
                "summary": "Check which sources AI answer engines cite for a question",
                "description": "Which AI answer engines cite a domain for a prompt \u2014 and who they cite instead. Official APIs, never UI scraping.\n\nPrice: $0.05/engine per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "prompt",
                        "in": "query",
                        "required": true,
                        "description": "the question a buyer would ask (3\u2013400 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to look for in the citations, e.g. example.com (subdomains match)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "engines",
                        "in": "query",
                        "required": false,
                        "description": "optional comma list of perplexity,gemini,openai,anthropic (default: all configured \u2014 GET /api lists them under engines_configured)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "dynamic",
                        "currency": "USD",
                        "min": "0.05",
                        "max": "0.20"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "prompt": {
                                            "type": "string"
                                        },
                                        "domain": {
                                            "type": "string"
                                        },
                                        "mentioned": {
                                            "type": "boolean"
                                        },
                                        "engines": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "engine": {
                                                        "type": "string"
                                                    },
                                                    "ok": {
                                                        "type": "boolean"
                                                    },
                                                    "mentioned": {
                                                        "type": "boolean"
                                                    },
                                                    "position": {},
                                                    "cited": {
                                                        "type": "array",
                                                        "items": {}
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "engines_run": {
                                                    "type": "integer"
                                                },
                                                "engines_ok": {
                                                    "type": "integer"
                                                },
                                                "engines_citing": {
                                                    "type": "integer"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "note": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "prompt": "best pay-per-call seo api",
                                    "domain": "citable.run",
                                    "mentioned": false,
                                    "engines": [
                                        {
                                            "engine": "perplexity",
                                            "ok": true,
                                            "mentioned": false,
                                            "position": null,
                                            "cited": [
                                                {}
                                            ]
                                        }
                                    ],
                                    "summary": {
                                        "engines_run": 4,
                                        "engines_ok": 4,
                                        "engines_citing": 0
                                    },
                                    "note": "One run per engine; answers vary between runs. Citations come from each engine's official API, which can differ from its web UI.",
                                    "price": "$0.20",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.05/engine. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/top-cited-pages": {
            "get": {
                "operationId": "topCitedPages",
                "summary": "List the pages of a domain that AI engines cite most",
                "description": "Which pages of a domain AI engines cite most, from an aggregated index of AI answers.\n\nPrice: $0.22 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to inventory, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "pages to return, 1\u201325 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.22"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "domain": {
                                            "type": "string"
                                        },
                                        "pages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "page": {
                                                        "type": "string"
                                                    },
                                                    "mentions": {
                                                        "type": "integer"
                                                    },
                                                    "aiSearchVolume": {
                                                        "type": "integer"
                                                    },
                                                    "engines": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "languages": {
                                                        "type": "array",
                                                        "items": {}
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "totalCitedPages": {
                                            "type": "integer"
                                        },
                                        "domainTotals": {
                                            "type": "object",
                                            "properties": {
                                                "mentions": {
                                                    "type": "integer"
                                                },
                                                "aiSearchVolume": {
                                                    "type": "integer"
                                                },
                                                "engines": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "source": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "domain": "example.com",
                                    "pages": [
                                        {
                                            "page": "https://example.com/docs/getting-started",
                                            "mentions": 412,
                                            "aiSearchVolume": 38900,
                                            "engines": [
                                                {}
                                            ],
                                            "languages": [
                                                {}
                                            ]
                                        }
                                    ],
                                    "totalCitedPages": 128,
                                    "domainTotals": {
                                        "mentions": 1930,
                                        "aiSearchVolume": 141200,
                                        "engines": [
                                            "\u2026"
                                        ],
                                        "languages": [
                                            "\u2026"
                                        ]
                                    },
                                    "source": "dataforseo_llm_mentions",
                                    "price": "$0.22",
                                    "cluster": "mainnet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.22. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/cited-prompts": {
            "get": {
                "operationId": "citedPrompts",
                "summary": "Find the prompts AI engines already cite a domain for",
                "description": "The real questions AI engines already cite a domain for \u2014 with the answer snippet and the exact URL cited.\n\nPrice: $0.25 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to look up, e.g. example.com \u2014 or a competitor's",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "prompts to return, 1\u201350 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "required": false,
                        "description": "chat_gpt or google (default: both)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.25"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "domain": {
                                            "type": "string"
                                        },
                                        "prompts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "question": {
                                                        "type": "string"
                                                    },
                                                    "answer": {
                                                        "type": "string"
                                                    },
                                                    "platform": {
                                                        "type": "string"
                                                    },
                                                    "aiSearchVolume": {
                                                        "type": "integer"
                                                    },
                                                    "citedUrl": {
                                                        "type": "string"
                                                    },
                                                    "citedRank": {
                                                        "type": "integer"
                                                    },
                                                    "firstSeen": {
                                                        "type": "string"
                                                    },
                                                    "lastSeen": {
                                                        "type": "string"
                                                    },
                                                    "webSearchBased": {
                                                        "type": "boolean"
                                                    },
                                                    "observations": {
                                                        "type": "integer"
                                                    },
                                                    "brandEntities": {
                                                        "type": "array"
                                                    },
                                                    "fanOutQueries": {
                                                        "type": "array"
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        },
                                        "totalPrompts": {
                                            "type": "integer"
                                        },
                                        "coverage": {
                                            "type": "object",
                                            "properties": {
                                                "platforms": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "note": {
                                                    "type": "string"
                                                }
                                            },
                                            "additionalProperties": true
                                        },
                                        "source": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "cluster": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": true
                                },
                                "example": {
                                    "domain": "profound.com",
                                    "prompts": [
                                        {
                                            "question": "profound",
[...]
