{
    "openapi": "3.1.0",
    "info": {
        "title": "Citable",
        "version": "1.0.0",
        "description": "Pay-per-check SEO and AI-visibility data. Every /v1 endpoint answers 402 with its price; pay in USDC on Solana via x402 and retry the same request. No Citable account or API key exists \u2014 the wallet is the identity. Errors are never charged.",
        "contact": {
            "url": "https://citable.run/docs",
            "email": "hello@citable.run"
        },
        "x-guidance": "Call any /v1 endpoint with query parameters and no credentials. The reply is 402 with an x402 challenge in the payment-required header; pay it in USDC on Solana and retry the same URL. Prices are per call and quoted in the challenge; ai-visibility is quoted per engine asked. 4xx and 5xx cancel the payment instead of settling it, so a failed call costs nothing."
    },
    "servers": [
        {
            "url": "https://citable.run"
        }
    ],
    "paths": {
        "/v1/keyword-suggest": {
            "get": {
                "operationId": "keywordSuggest",
                "summary": "Find related searches and questions for a seed keyword",
                "description": "The phrasings real people type: autocomplete expansions and questions for a seed \u2014 deduped and ranked, no search volume.\n\nPrice: $0.005 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to expand (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "language code, default en (id supported with localized question words)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "depth",
                        "in": "query",
                        "required": false,
                        "description": "0 seed only \u00b7 1 + questions and modifiers \u00b7 2 (default) + a\u2013z sweep",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "max keywords per list, default 100, max 300",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "required": false,
                        "description": "comma list of google,youtube,bing (default all)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.005"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.005. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-research": {
            "get": {
                "operationId": "keywordResearch",
                "summary": "Find keywords for a seed with volume and competition",
                "description": "One seed, the whole picture: keywords and questions from autocomplete and the paid index, with volume, CPC, difficulty and intent attached.\n\nPrice: $0.06 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to research (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "rows per list, 1\u2013200 (default 100)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.06"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.06. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-ideas": {
            "get": {
                "operationId": "keywordIdeas",
                "summary": "Find related keywords for a seed, with volume and difficulty",
                "description": "Keyword research with the numbers attached: every result contains your seed, and arrives with search volume, CPC, difficulty and intent.\n\nPrice: $0.05 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "description": "keyword to research (1\u201380 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "ideas to return, 1\u2013100 (default 50)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.05"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.05. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/keyword-metrics": {
            "get": {
                "operationId": "keywordMetrics",
                "summary": "Look up search volume, CPC and competition for keywords",
                "description": "Search volume, CPC, competition, difficulty and intent per keyword \u2014 one price for a batch of up to 20.\n\nPrice: $0.03 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "keywords",
                        "in": "query",
                        "required": true,
                        "description": "comma list of 1\u201320 keywords (each \u226480 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.03"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.03. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/rank-check": {
            "get": {
                "operationId": "rankCheck",
                "summary": "Check where a domain ranks on Google for a keyword",
                "description": "Google organic position of a domain for a keyword, plus the top-10 list \u2014 from a licensed SERP feed, never scraped.\n\nPrice: $0.012 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": true,
                        "description": "search query (1\u2013120 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to find, e.g. example.com (subdomains match)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gl",
                        "in": "query",
                        "required": false,
                        "description": "country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hl",
                        "in": "query",
                        "required": false,
                        "description": "language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "num",
                        "in": "query",
                        "required": false,
                        "description": "results window to check, 10\u201350 (default 20)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.012"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.012. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/onpage-audit": {
            "get": {
                "operationId": "onpageAudit",
                "summary": "Check one page for on-page SEO and AI citability",
                "description": "Classic on-page SEO plus AI citability, scored 0\u2013100 with a fix for every non-passing check.\n\nPrice: $0.01 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "description": "absolute http(s) URL of the page to audit",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.01"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.01. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/ai-visibility": {
            "get": {
                "operationId": "aiVisibility",
                "summary": "Check which sources AI answer engines cite for a question",
                "description": "Which AI answer engines cite a domain for a prompt \u2014 and who they cite instead. Official APIs, never UI scraping.\n\nPrice: $0.05/engine per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "prompt",
                        "in": "query",
                        "required": true,
                        "description": "the question a buyer would ask (3\u2013400 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to look for in the citations, e.g. example.com (subdomains match)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "engines",
                        "in": "query",
                        "required": false,
                        "description": "optional comma list of perplexity,gemini,openai,anthropic (default: all configured \u2014 GET /api lists them under engines_configured)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "dynamic",
                        "currency": "USD",
                        "min": "0.05",
                        "max": "0.20"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.05/engine. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/top-cited-pages": {
            "get": {
                "operationId": "topCitedPages",
                "summary": "List the pages of a domain that AI engines cite most",
                "description": "Which pages of a domain AI engines cite most, from an aggregated index of AI answers.\n\nPrice: $0.22 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to inventory, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "pages to return, 1\u201325 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.22"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.22. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/cited-prompts": {
            "get": {
                "operationId": "citedPrompts",
                "summary": "Find the prompts AI engines already cite a domain for",
                "description": "The real questions AI engines already cite a domain for \u2014 with the answer snippet and the exact URL cited.\n\nPrice: $0.25 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to look up, e.g. example.com \u2014 or a competitor's",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "prompts to return, 1\u201350 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "required": false,
                        "description": "chat_gpt or google (default: both)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.25"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.25. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/ai-mentions-trend": {
            "get": {
                "operationId": "aiMentionsTrend",
                "summary": "List a domain's AI mentions month by month",
                "description": "Monthly AI mentions and AI search volume for a domain, with month-over-month deltas \u2014 prompt tracking without a tracker.\n\nPrice: $0.18 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to track, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "start date yyyy-mm-dd (earlier than 2025-08-01 is clamped to it)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "end date yyyy-mm-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "required": false,
                        "description": "chat_gpt or google (default: both)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.18"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.18. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/ai-share-of-voice": {
            "get": {
                "operationId": "aiShareOfVoice",
                "summary": "Compare AI mention share across competing domains",
                "description": "Who AI cites most across 2\u201310 competing domains \u2014 one price for the whole set.\n\nPrice: $0.18 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domains",
                        "in": "query",
                        "required": true,
                        "description": "comma list of 2\u201310 hostnames",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "required": false,
                        "description": "chat_gpt or google (default: both)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.18"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.18. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/citability-report": {
            "get": {
                "operationId": "citabilityReport",
                "summary": "Run the full citability report for a domain",
                "description": "On-page audit + AI visibility across all engines + top cited pages, in one call. $0.30 instead of $0.43 separately.\n\nPrice: $0.30 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to report on, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "prompt",
                        "in": "query",
                        "required": true,
                        "description": "the buyer question to ask the engines (3\u2013400 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "top cited pages to include, 1\u201325 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.30"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.30. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/domain-overview": {
            "get": {
                "operationId": "domainOverview",
                "summary": "Look up a domain's organic keywords and estimated traffic",
                "description": "One domain's organic footprint \u2014 keywords ranked, top positions, estimated traffic and value.\n\nPrice: $0.03 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to profile, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.03"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.03. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/domain-keywords": {
            "get": {
                "operationId": "domainKeywords",
                "summary": "List the keywords a domain ranks for, with positions",
                "description": "The keywords a domain actually ranks for \u2014 volume, CPC, position and the ranking URL, loudest first.\n\nPrice: $0.04 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to inventory, e.g. example.com \u2014 a competitor's works too",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "keywords to return, 1\u2013100 (default 25)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.04"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.04. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/domain-history": {
            "get": {
                "operationId": "domainHistory",
                "summary": "List a domain's organic footprint month by month",
                "description": "A domain's organic footprint month by month \u2014 keywords, top-10 count, traffic \u2014 with the trend.\n\nPrice: $0.03 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to track, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "months",
                        "in": "query",
                        "required": false,
                        "description": "calendar months of history, 2\u201324 (default 12)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "2-letter country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "2-letter language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.03"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.03. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/serp": {
            "get": {
                "operationId": "serp",
                "summary": "Fetch the Google results page for a keyword",
                "description": "The raw Google results page \u2014 organic results with snippets, People-Also-Ask and related searches.\n\nPrice: $0.008 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": true,
                        "description": "search query (1\u2013120 chars)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gl",
                        "in": "query",
                        "required": false,
                        "description": "country code, default us",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hl",
                        "in": "query",
                        "required": false,
                        "description": "language code, default en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "num",
                        "in": "query",
                        "required": false,
                        "description": "results depth, 10\u201350 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.008"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.008. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        },
        "/v1/backlinks": {
            "get": {
                "operationId": "backlinks",
                "summary": "Look up a domain's backlinks and referring domains",
                "description": "Link profile in one call: totals, domain rank, broken links, and the top referring domains.\n\nPrice: $0.10 per call, paid via x402 (USDC on solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp).",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "description": "hostname to profile, e.g. example.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "referring domains to return, 1\u201325 (default 10)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [],
                "x-payment-info": {
                    "price": {
                        "mode": "fixed",
                        "currency": "USD",
                        "amount": "0.10"
                    },
                    "protocols": [
                        {
                            "x402": {
                                "version": 2,
                                "scheme": "exact",
                                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                                "asset": "USDC",
                                "payTo": "6nWrWRTqrqpqbu5MsMW8mPDpZjKLwPb9Wf8BdMwNMWzK"
                            }
                        }
                    ]
                },
                "responses": {
                    "200": {
                        "description": "The check result as JSON.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters \u2014 not charged."
                    },
                    "402": {
                        "description": "Payment required \u2014 $0.10. The payment-required header carries the challenge."
                    },
                    "502": {
                        "description": "Upstream data source failed \u2014 not charged."
                    }
                }
            }
        }
    }
}
