{
  "openapi": "3.1.0",
  "info": {
    "title": "WURK x402 Solana Social Growth Endpoints",
    "version": "1.1.0",
    "description": "Category-specific x402 listing surface for WURK Solana social growth endpoints: social engagement, followers, members, comments, reposts, bookmarks, and raid jobs. Public v2 flow uses `PAYMENT-SIGNATURE`."
  },
  "servers": [
    {
      "url": "https://wurkapi.fun"
    }
  ],
  "tags": [
    {
      "name": "Base App"
    },
    {
      "name": "Discord"
    },
    {
      "name": "hey.lol"
    },
    {
      "name": "Instagram"
    },
    {
      "name": "Raids"
    },
    {
      "name": "Telegram"
    },
    {
      "name": "X / Twitter"
    },
    {
      "name": "YouTube"
    },
    {
      "name": "Zora"
    }
  ],
  "paths": {
    "/solana/xlikes": {
      "post": {
        "operationId": "post_solana_xlikes",
        "tags": [
          "X / Twitter"
        ],
        "summary": "X Likes (POST)",
        "description": "Public x402 endpoint: `/solana/xlikes`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"like\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/reposts": {
      "post": {
        "operationId": "post_solana_reposts",
        "tags": [
          "X / Twitter"
        ],
        "summary": "X Reposts (POST)",
        "description": "Public x402 endpoint: `/solana/reposts`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"repost\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/comments": {
      "post": {
        "operationId": "post_solana_comments",
        "tags": [
          "X / Twitter"
        ],
        "summary": "X Comments (POST)",
        "description": "Public x402 endpoint: `/solana/comments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xbookmarks": {
      "post": {
        "operationId": "post_solana_xbookmarks",
        "tags": [
          "X / Twitter"
        ],
        "summary": "X Bookmarks (POST)",
        "description": "Public x402 endpoint: `/solana/xbookmarks`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"bookmark\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xfollowers": {
      "post": {
        "operationId": "post_solana_xfollowers",
        "tags": [
          "X / Twitter"
        ],
        "summary": "X Followers (POST)",
        "description": "Public x402 endpoint: `/solana/xfollowers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"follower\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":1000}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Handle"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Community"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/insta-likes": {
      "post": {
        "operationId": "post_solana_insta_likes",
        "tags": [
          "Instagram"
        ],
        "summary": "Instagram Likes (POST)",
        "description": "Public x402 endpoint: `/solana/insta-likes`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"like\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/instacomments": {
      "post": {
        "operationId": "post_solana_instacomments",
        "tags": [
          "Instagram"
        ],
        "summary": "Instagram Comments (POST)",
        "description": "Public x402 endpoint: `/solana/instacomments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250,\"instructionsMaxChars\":800}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          },
          {
            "$ref": "#/components/parameters/Instructions"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/instafollowers": {
      "post": {
        "operationId": "post_solana_instafollowers",
        "tags": [
          "Instagram"
        ],
        "summary": "Instagram Followers (POST)",
        "description": "Public x402 endpoint: `/solana/instafollowers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"follower\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":1000}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Handle"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylolfollowers": {
      "post": {
        "operationId": "post_solana_heylolfollowers",
        "tags": [
          "hey.lol"
        ],
        "summary": "hey.lol Followers (POST)",
        "description": "Public x402 endpoint: `/solana/heylolfollowers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"slot\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":100}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Handle"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylollikes": {
      "post": {
        "operationId": "post_solana_heylollikes",
        "tags": [
          "hey.lol"
        ],
        "summary": "hey.lol Likes (POST)",
        "description": "Public x402 endpoint: `/solana/heylollikes`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"like\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylolreposts": {
      "post": {
        "operationId": "post_solana_heylolreposts",
        "tags": [
          "hey.lol"
        ],
        "summary": "hey.lol Reposts (POST)",
        "description": "Public x402 endpoint: `/solana/heylolreposts`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"repost\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylolcomments": {
      "post": {
        "operationId": "post_solana_heylolcomments",
        "tags": [
          "hey.lol"
        ],
        "summary": "hey.lol Comments (POST)",
        "description": "Public x402 endpoint: `/solana/heylolcomments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250,\"instructionsMaxChars\":800}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          },
          {
            "$ref": "#/components/parameters/Instructions"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/ytlikes": {
      "post": {
        "operationId": "post_solana_ytlikes",
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Likes (POST)",
        "description": "Public x402 endpoint: `/solana/ytlikes`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"like\"}`.\n\nDefaults: `{\"amount\":40}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/ytcomments": {
      "post": {
        "operationId": "post_solana_ytcomments",
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Comments (POST)",
        "description": "Public x402 endpoint: `/solana/ytcomments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250,\"instructionsMaxChars\":800}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          },
          {
            "$ref": "#/components/parameters/Instructions"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/ytsubs": {
      "post": {
        "operationId": "post_solana_ytsubs",
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Subscribers (POST)",
        "description": "Public x402 endpoint: `/solana/ytsubs`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"subscriber\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":1000}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Handle"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/tgmembers": {
      "post": {
        "operationId": "post_solana_tgmembers",
        "tags": [
          "Telegram"
        ],
        "summary": "Telegram Members (POST)",
        "description": "Public x402 endpoint: `/solana/tgmembers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"member\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":500}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Join"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Group"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/dcmembers": {
      "post": {
        "operationId": "post_solana_dcmembers",
        "tags": [
          "Discord"
        ],
        "summary": "Discord Members (POST)",
        "description": "Public x402 endpoint: `/solana/dcmembers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"member\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Invite"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/basefollowers": {
      "post": {
        "operationId": "post_solana_basefollowers",
        "tags": [
          "Base App"
        ],
        "summary": "Base App Followers (POST)",
        "description": "Public x402 endpoint: `/solana/basefollowers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"follower\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":500}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Address"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/baselikes": {
      "post": {
        "operationId": "post_solana_baselikes",
        "tags": [
          "Base App"
        ],
        "summary": "Base App Likes (POST)",
        "description": "Public x402 endpoint: `/solana/baselikes`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"like\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/basereposts": {
      "post": {
        "operationId": "post_solana_basereposts",
        "tags": [
          "Base App"
        ],
        "summary": "Base App Reposts (POST)",
        "description": "Public x402 endpoint: `/solana/basereposts`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"repost\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/basecomments": {
      "post": {
        "operationId": "post_solana_basecomments",
        "tags": [
          "Base App"
        ],
        "summary": "Base App Comments (POST)",
        "description": "Public x402 endpoint: `/solana/basecomments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250,\"instructionsMaxChars\":800}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          },
          {
            "$ref": "#/components/parameters/Instructions"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/zorafollowers": {
      "post": {
        "operationId": "post_solana_zorafollowers",
        "tags": [
          "Zora"
        ],
        "summary": "Zora Followers (POST)",
        "description": "Public x402 endpoint: `/solana/zorafollowers`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.04,\"unit\":\"follower\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":100}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Handle"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/zoracomments": {
      "post": {
        "operationId": "post_solana_zoracomments",
        "tags": [
          "Zora"
        ],
        "summary": "Zora Comments (POST)",
        "description": "Public x402 endpoint: `/solana/zoracomments`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"comment\"}`.\n\nDefaults: `{\"amount\":100}`.\n\nLimits: `{\"amountMin\":5,\"amountMax\":250,\"instructionsMaxChars\":800}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Amount"
          },
          {
            "$ref": "#/components/parameters/Instructions"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xraid": {
      "post": {
        "operationId": "post_solana_xraid",
        "tags": [
          "Raids"
        ],
        "summary": "X Raid (dynamic size) (POST)",
        "description": "Public x402 endpoint: `/solana/xraid`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"slot\",\"presets\":{\"small\":{\"likes\":20,\"reposts\":10,\"comments\":10,\"bookmarks\":0},\"medium\":{\"likes\":50,\"reposts\":20,\"comments\":25,\"bookmarks\":5},\"large\":{\"likes\":100,\"reposts\":40,\"comments\":50,\"bookmarks\":10}}}`.\n\nDefaults: `{\"size\":\"small\"}`.\n\nLimits: `{\"sizeEnum\":[\"small\",\"medium\",\"large\"]}`.\n\nPreset aliases also exist: `/xraid/small`, `/xraid/medium`, `/xraid/large`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xraid/small": {
      "post": {
        "operationId": "post_solana_xraid_small",
        "tags": [
          "Raids"
        ],
        "summary": "X Raid (preset) (POST)",
        "description": "Public x402 endpoint: `/solana/xraid/small`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"slot\",\"presets\":{\"small\":{\"likes\":20,\"reposts\":10,\"comments\":10,\"bookmarks\":0},\"medium\":{\"likes\":50,\"reposts\":20,\"comments\":25,\"bookmarks\":5},\"large\":{\"likes\":100,\"reposts\":40,\"comments\":50,\"bookmarks\":10}}}`.\n\nDefaults: `{\"size\":\"small\"}`.\n\nLimits: `{\"sizeEnum\":[\"small\",\"medium\",\"large\"]}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xraid/custom": {
      "post": {
        "operationId": "post_solana_xraid_custom",
        "tags": [
          "Raids"
        ],
        "summary": "X Raid (custom query mode) (POST)",
        "description": "Public x402 endpoint: `/solana/xraid/custom`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"slot\"}`.\n\nDefaults: `{\"likes\":20,\"reposts\":10,\"comments\":10,\"bookmarks\":0}`.\n\nLimits: `{\"perComponentMax\":250,\"totalMax\":500}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Likes"
          },
          {
            "$ref": "#/components/parameters/Reposts"
          },
          {
            "$ref": "#/components/parameters/Comments"
          },
          {
            "$ref": "#/components/parameters/Bookmarks"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/xraid/scout/small": {
      "post": {
        "operationId": "post_solana_xraid_scout_small",
        "tags": [
          "Raids"
        ],
        "summary": "X Raid Scout (preset) (POST)",
        "description": "Public x402 endpoint: `/solana/xraid/scout/small`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"perUnit\":0.025,\"unit\":\"slot\",\"presets\":{\"small\":{\"likes\":20,\"reposts\":10,\"comments\":10,\"bookmarks\":0},\"medium\":{\"likes\":50,\"reposts\":20,\"comments\":25,\"bookmarks\":5},\"large\":{\"likes\":100,\"reposts\":40,\"comments\":50,\"bookmarks\":10}}}`.\n\nDefaults: `{\"size\":\"small\"}`.\n\nLimits: `{\"sizeEnum\":[\"small\",\"medium\",\"large\"]}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylolraid": {
      "post": {
        "operationId": "post_solana_heylolraid",
        "tags": [
          "Raids"
        ],
        "summary": "hey.lol Raid (dynamic size) (POST)",
        "description": "Public x402 endpoint: `/solana/heylolraid`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"presets\":{\"small\":{\"likes\":20,\"reposts\":10,\"comments\":10,\"totalUsd\":1},\"medium\":{\"likes\":40,\"reposts\":25,\"comments\":25,\"totalUsd\":2.5},\"large\":{\"likes\":55,\"reposts\":20,\"comments\":25,\"totalUsd\":5}}}`.\n\nDefaults: `{\"size\":\"small\"}`.\n\nLimits: `{\"sizeEnum\":[\"small\",\"medium\",\"large\"]}`.\n\nPreset aliases also exist: `/heylolraid/small`, `/heylolraid/medium`, `/heylolraid/large`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/solana/heylolraid/small": {
      "post": {
        "operationId": "post_solana_heylolraid_small",
        "tags": [
          "Raids"
        ],
        "summary": "hey.lol Raid (preset) (POST)",
        "description": "Public x402 endpoint: `/solana/heylolraid/small`.\n\nFlow kind: **paid** endpoint.\n\nFlow: call once **without** `PAYMENT-SIGNATURE` to receive `402 Payment-Required`; sign the requirement; retry the same URL **with** `PAYMENT-SIGNATURE` for `200`.\n\nUse `PAYMENT-SIGNATURE` for public routes (`/solana/*`, `/base/*`). `X-PAYMENT` is legacy/test context.\n\nPricing hint: `{\"currency\":\"USDC\",\"presets\":{\"small\":{\"likes\":20,\"reposts\":10,\"comments\":10,\"totalUsd\":1},\"medium\":{\"likes\":40,\"reposts\":25,\"comments\":25,\"totalUsd\":2.5},\"large\":{\"likes\":55,\"reposts\":20,\"comments\":25,\"totalUsd\":5}}}`.\n\nDefaults: `{\"size\":\"small\"}`.\n\nLimits: `{\"sizeEnum\":[\"small\",\"medium\",\"large\"]}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignature"
          },
          {
            "$ref": "#/components/parameters/Url"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaidSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PaymentSignature": {
        "name": "PAYMENT-SIGNATURE",
        "in": "header",
        "required": false,
        "description": "x402 v2 payment signature for public routes. Omit on first request to get `402 Payment-Required`; include on retry to settle.",
        "schema": {
          "type": "string"
        }
      },
      "Url": {
        "name": "url",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "description": "Target URL or profile URL."
      },
      "Amount": {
        "name": "amount",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Requested amount/slots."
      },
      "Handle": {
        "name": "handle",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Handle/username style target."
      },
      "Community": {
        "name": "community",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "X community URL or identifier."
      },
      "Instructions": {
        "name": "instructions",
        "in": "query",
        "schema": {
          "type": "string",
          "maxLength": 800
        },
        "description": "Optional custom instructions."
      },
      "Size": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "small",
            "medium",
            "large"
          ]
        },
        "description": "Raid preset size."
      },
      "Likes": {
        "name": "likes",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom likes count."
      },
      "Reposts": {
        "name": "reposts",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom reposts count."
      },
      "Comments": {
        "name": "comments",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom comments count."
      },
      "Bookmarks": {
        "name": "bookmarks",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom bookmarks count."
      },
      "Join": {
        "name": "join",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Telegram join target (URL, @handle, invite)."
      },
      "Group": {
        "name": "group",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Telegram group alias parameter."
      },
      "Invite": {
        "name": "invite",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Discord invite URL/code."
      },
      "Address": {
        "name": "address",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Base profile address (0x...)."
      },
      "VoteType": {
        "name": "voteType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "skeleton_vote",
            "moontok_vote",
            "majortrending_vote",
            "coingecko_vote",
            "coinmarketcap_vote"
          ]
        },
        "description": "Vote type for unified `/vote` endpoint."
      },
      "TypeAlias": {
        "name": "type",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "skeleton_vote",
            "moontok_vote",
            "majortrending_vote",
            "coingecko_vote",
            "coinmarketcap_vote"
          ]
        },
        "description": "Alias of `voteType` for unified `/vote`."
      },
      "Action": {
        "name": "action",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "create",
            "view",
            "recover"
          ]
        },
        "description": "Action selector for agent-to-human."
      },
      "Secret": {
        "name": "secret",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Secret/view key for submission retrieval."
      },
      "Description": {
        "name": "description",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Task description for agent-to-human create."
      },
      "Winners": {
        "name": "winners",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of winners."
      },
      "PerUser": {
        "name": "perUser",
        "in": "query",
        "schema": {
          "type": "number",
          "minimum": 0.01
        },
        "description": "USDC reward per participant."
      },
      "Requirement": {
        "name": "requirement",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "tweetScoutScore:0",
            "tweetScoutScore:10",
            "tweetScoutScore:25",
            "xMetricScore:75",
            "xMetricScore:250",
            "seekerUser",
            "xBlueVerified"
          ]
        },
        "description": "Optional single requirement selector for `agenttohumanadvanced`. Meaning: tweetScoutScore:* = Sorsa (formerly TweetScout) third-party X profile score; xMetricScore:* = WURK-generated X profile score (follower count, follower quality, profile signals); seekerUser = users in the Solana Seeker phone ecosystem; xBlueVerified = X account with a blue verified badge. Stricter requirements can reduce eligible participants and slow fill speed. Policy: tweetScoutScore:0 => max winners 100 + min perUser 0.05; tweetScoutScore:10 => max 75 + min 0.075; tweetScoutScore:25 => max 50 + min 0.125; xMetricScore:75 => max 100 + min 0.0625; xMetricScore:250 => max 50 + min 0.125; xBlueVerified => max 50 + min 0.075; seekerUser => baseline only."
      },
      "WinnersPath": {
        "name": "winners",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 250
        },
        "description": "Winner/slot count in path alias. Range is endpoint-specific (commonly 1..100 for agent-help, 5..250 for social jobs)."
      },
      "SecretPath": {
        "name": "secret",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Secret/view key in path."
      },
      "LikesPath": {
        "name": "likes",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom likes path value."
      },
      "RepostsPath": {
        "name": "reposts",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom reposts path value."
      },
      "CommentsPath": {
        "name": "comments",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom comments path value."
      },
      "BookmarksPath": {
        "name": "bookmarks",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Custom bookmarks path value."
      }
    },
    "schemas": {
      "PaymentRequirement": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "scheme": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "maxAmountRequired": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "payTo": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "maxTimeoutSeconds": {
            "type": "integer"
          },
          "extra": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaymentRequiredResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "x402Version",
          "accepts",
          "resource"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "example": 2
          },
          "accepts": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/PaymentRequirement"
            }
          },
          "error": {
            "type": "string"
          },
          "resource": {
            "description": "Requested resource metadata echoed by payment middleware.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PaidSuccessResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "paid": {
            "type": "boolean",
            "example": true
          },
          "alreadyConfirmed": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "errorCode": {
            "type": "string",
            "description": "Machine-readable application error code (when available)."
          },
          "retryAfterSeconds": {
            "type": "integer",
            "description": "Retry-after hint in seconds for rate-limited requests."
          }
        }
      },
      "AgentSupportSendInput": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "secret": {
            "type": "string",
            "description": "Optional when sent via query/header."
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "message"
        ]
      },
      "AgentSupportSendSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thank you for your message. As soon as a human support team member is online, we will review your issue."
          },
          "messagesUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "ok",
          "message",
          "messagesUrl"
        ]
      },
      "AgentSupportThreadMessage": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "agent",
              "support"
            ]
          },
          "message": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "customJobId": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentSupportMessagesSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "wallet": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSupportThreadMessage"
            }
          }
        }
      },
      "AgentToHumanAdvancedChooseWinnersInput": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "secret": {
            "type": "string",
            "description": "Advanced job secret for creator-mode winner selection."
          },
          "submissionIds": {
            "oneOf": [
              {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "uniqueItems": true,
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "description": "Winner submission ids as array or comma-separated string."
          }
        },
        "required": [
          "secret",
          "submissionIds"
        ]
      },
      "AgentToHumanAdvancedChooseWinnersSuccess": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "jobId": {
            "type": "string"
          },
          "customId": {
            "type": "string"
          },
          "requested": {
            "type": "integer",
            "minimum": 1
          },
          "updated": {
            "type": "integer",
            "minimum": 0
          },
          "alreadyWinnerCountInRequest": {
            "type": "integer",
            "minimum": 0
          },
          "winnersNow": {
            "type": "integer",
            "minimum": 0
          },
          "winnerCap": {
            "type": "integer",
            "minimum": 1
          },
          "remainingSlots": {
            "type": "integer",
            "minimum": 0
          },
          "statusTransition": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedSubmissionIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "jobId",
          "requested",
          "updated",
          "winnersNow",
          "winnerCap",
          "remainingSlots"
        ]
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required. Sign and retry with `PAYMENT-SIGNATURE` (public v2 flow).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequiredResponse"
            }
          }
        }
      },
      "PaidSuccess": {
        "description": "Operation accepted/completed (after settlement on paid routes, or immediately for free variants).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaidSuccessResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request input or malformed payment signature.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized secret context.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource, job, or secret could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded for wallet-threaded support chat.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "SupportSendSuccess": {
        "description": "Support message accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentSupportSendSuccess"
            }
          }
        }
      },
      "SupportMessagesSuccess": {
        "description": "Wallet-threaded support messages.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentSupportMessagesSuccess"
            }
          }
        }
      },
      "ChooseWinnersSuccess": {
        "description": "Creator-mode advanced winners selected successfully.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgentToHumanAdvancedChooseWinnersSuccess"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict with current state (for example, duplicate/similar running job).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server-side failure.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}