{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentFeed",
    "version": "1.0.0",
    "description": "Live crypto market, liquidation, tokenized-equity and Solana on-chain data for AI agents. Paid per call in USDC over x402 on Solana or Base. No API keys, no accounts.",
    "x-generated-from": "payments.PRICES + bazaar-examples.json, at boot",
    "contact": {
      "name": "ochinimus",
      "email": "ochinimus@gmail.com",
      "url": "https://ochinimus.app"
    },
    "x-guidance": "Every route is a GET that returns JSON. There are no API keys and no accounts. Paid routes answer 402 with the challenge base64-encoded in the PAYMENT-REQUIRED response header (x402 v2, not the body). Pay it and repeat the request with an X-PAYMENT header. USDC on Solana mainnet or Base. Response shape is always { \"tool\": \"<name>\", \"data\": { ... }, \"paid\": true }. Before paying, GET /api/sample/<route> for that route's real captured response, free. GET /api/sample lists them. Start cheap: /api/perp, /api/liq-pulse, /api/funding-pulse and /api/price are $0.001 each and cover most questions. The premium routes are the liquidation tape, cascade detection and the tokenized-equity peg tape. A route that cannot answer returns 200 with a decline field naming the reason; it never returns fabricated or zero-filled data. Limits: GET only on /api/* (HEAD answers 405); per caller per minute 240 GET or POST /mcp and 2400 of any other method; a 429 carries Retry-After."
  },
  "externalDocs": {
    "description": "AgentFeed agent skill: when to use each route, what it answers and what it costs",
    "url": "https://x402.ochinimus.app/SKILL.md"
  },
  "servers": [
    {
      "url": "https://x402.ochinimus.app"
    }
  ],
  "paths": {
    "/api/sol-price": {
      "get": {
        "description": "SOL price / Solana spot price in USD, live. Multi-source with a fixed fallback order — Coinbase, then Kraken, then Pyth Hermes — first finite quote wins. Returns the price, the venue that served it, and a Pyth confidence interval when Pyth did.",
        "operationId": "get_sol_price",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "confidence": {},
                        "publish_time": {},
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_sol_price",
                  "data": {
                    "symbol": "SOL",
                    "price": 121.35,
                    "confidence": null,
                    "publish_time": null,
                    "source": "coinbase"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, and in WWW-Authenticate (MPP solana/charge), not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch SOL price: sol price / solana spot price in usd, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.001,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        }
      }
    },
    "/api/btc-price": {
      "get": {
        "description": "BTC price / Bitcoin spot price in USD, live. Multi-source with a fixed fallback order — Coinbase, then Kraken, then Pyth Hermes — first finite quote wins. Returns the price, the venue that served it, and a Pyth confidence interval when Pyth did.",
        "operationId": "get_btc_price",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "confidence": {},
                        "publish_time": {},
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_btc_price",
                  "data": {
                    "symbol": "BTC",
                    "price": 83868.13,
                    "confidence": null,
                    "publish_time": null,
                    "source": "coinbase"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, and in WWW-Authenticate (MPP solana/charge), not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch BTC price: btc price / bitcoin spot price in usd, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.001,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        }
      }
    },
    "/api/funding-rate": {
      "get": {
        "description": "Funding rate for SOL and BTC perps, from Hyperliquid: the hourly rate, its 8h equivalent, mark price and open interest for each. For the funding rate on ANY USDT perp across Bybit, OKX and Hyperliquid in one call, use /api/funding-cross.",
        "operationId": "get_funding_rate",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sol": {
                          "type": "object"
                        },
                        "btc": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_funding_rate",
                  "data": {
                    "sol": {
                      "symbol": "SOL",
                      "funding_rate_hourly": 0.0000125,
                      "funding_rate_8h_equiv": 0.0001,
                      "funding_rate_pct_hourly": 0.00125,
                      "mark_price": 121.42,
                      "open_interest": 6103405.560000007,
                      "source": "hyperliquid"
                    },
                    "btc": {
                      "symbol": "BTC",
                      "funding_rate_hourly": 0.0000125,
                      "funding_rate_8h_equiv": 0.0001,
                      "funding_rate_pct_hourly": 0.00125,
                      "mark_price": 83875,
                      "open_interest": 39511.1646,
                      "source": "hyperliquid"
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch funding rate: funding rate for sol and btc perps, from",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.002,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002"
          }
        }
      }
    },
    "/api/market-snapshot": {
      "get": {
        "description": "Crypto market snapshot in one call: SOL and BTC spot prices, both perp funding rates with mark price and open interest, and the Fear & Greed index with its classification. Five reads, one payment.",
        "operationId": "get_market_snapshot",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sol": {
                          "type": "object"
                        },
                        "btc": {
                          "type": "object"
                        },
                        "funding": {
                          "type": "object"
                        },
                        "fear_greed": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_market_snapshot",
                  "data": {
                    "sol": {
                      "symbol": "SOL",
                      "price": 121.35,
                      "confidence": null,
                      "publish_time": null,
                      "source": "coinbase"
                    },
                    "btc": {
                      "symbol": "BTC",
                      "price": 83868.13,
                      "confidence": null,
                      "publish_time": null,
                      "source": "coinbase"
                    },
                    "funding": {
                      "sol": {
                        "symbol": "SOL",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 121.42,
                        "open_interest": 6103405.560000007,
                        "source": "hyperliquid"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 83875,
                        "open_interest": 39511.1646,
                        "source": "hyperliquid"
                      }
                    },
                    "fear_greed": {
                      "value": 71,
                      "classification": "Greed",
                      "timestamp": 1790294400,
                      "source": "alternative.me"
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch market snapshot: crypto market snapshot in one call",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.003,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003"
          }
        }
      }
    },
    "/api/wallet-holdings/{wallet}": {
      "get": {
        "description": "Solana wallet holdings / portfolio for any address: native SOL with its USD value, every SPL token with amount, unit price and USD value, and an NFT count. Helius DAS getAssetsByOwner, up to 100 assets.",
        "operationId": "get_wallet_holdings",
        "parameters": [
          {
            "description": "Solana wallet address (base58)",
            "in": "path",
            "name": "wallet",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address (base58)"
            }
          }
        ],
        "x-example-path": {
          "wallet": "Gack9UtqfeZxFA1LqeqjLgC3JGuD7rS6CsSHKoXsD4Tu"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wallet": {
                          "type": "string"
                        },
                        "native_sol": {
                          "type": "number"
                        },
                        "native_sol_usd": {
                          "type": "number"
                        },
                        "fungible_tokens": {
                          "type": "array"
                        },
                        "nft_count": {
                          "type": "number"
                        },
                        "total_items": {
                          "type": "number"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_wallet_holdings",
                  "data": {
                    "wallet": "Gack9UtqfeZxFA1LqeqjLgC3JGuD7rS6CsSHKoXsD4Tu",
                    "native_sol": 0,
                    "native_sol_usd": 0,
                    "fungible_tokens": [
                      {
                        "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                        "symbol": "USDC",
                        "amount": 0.055,
                        "price_usd": 0.9998925,
                        "value_usd": 0.05499408602714539
                      }
                    ],
                    "nft_count": 0,
                    "total_items": 1,
                    "source": "helius-das"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: path param wallet = not-a-valid-address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_wallet_holdings",
                  "error": "invalid wallet address"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch wallet holdings: solana wallet holdings / portfolio for",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.008,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.008"
          }
        }
      }
    },
    "/api/token-metadata/{mint}": {
      "get": {
        "description": "SPL token metadata for any Solana mint: name, symbol, decimals, total supply, current USD price, interface type, and whether the metadata is still mutable. Helius DAS.",
        "operationId": "get_token_metadata",
        "parameters": [
          {
            "description": "SPL token mint address (base58)",
            "in": "path",
            "name": "mint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "SPL token mint address (base58)"
            }
          }
        ],
        "x-example-path": {
          "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mint": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "interface": {
                          "type": "string"
                        },
                        "decimals": {
                          "type": "number"
                        },
                        "supply": {
                          "type": "number"
                        },
                        "price_usd": {
                          "type": "number"
                        },
                        "mutable": {
                          "type": "boolean"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_token_metadata",
                  "data": {
                    "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                    "name": "Bonk",
                    "symbol": "Bonk",
                    "interface": "FungibleToken",
                    "decimals": 5,
                    "supply": 8799438384760911000,
                    "price_usd": 0.0000036881577,
                    "mutable": true,
                    "source": "helius-das"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: path param mint = not-a-valid-address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_token_metadata",
                  "error": "invalid mint address"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch token metadata: spl token metadata for any solana mint",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/liquidations": {
      "get": {
        "description": "Crypto liquidations, live tape: recent perp liquidation prints across Bybit, OKX and Binance with timestamp, side liquidated, size, price and USD value. Any USDT perp we record, not just majors. The Bybit tape is complete and unthrottled.",
        "operationId": "get_recent_liquidations",
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string",
              "description": "SOL, BTC, ETH, XRP, DOGE, or any USDT perp e.g. SXTUSDT (omit for majors)"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "core",
                "all"
              ],
              "description": "core = the 5 majors (default), all = every recorded USDT perp"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "description": "max rows, 1-100, default 25"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "only prints >= this USD size"
            }
          }
        ],
        "x-example-query": {
          "symbol": "SOLUSDT"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "count": {
                          "type": "number"
                        },
                        "liquidations": {
                          "type": "array"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_recent_liquidations",
                  "data": {
                    "source": "multi_exchange_collector",
                    "exchanges": [
                      "bybit",
                      "okx",
                      "binance"
                    ],
                    "count": 25,
                    "liquidations": [
                      {
                        "ts": 1790355163131,
                        "symbol": "SOLUSDT",
                        "exchange": "binance",
                        "event": "short_liquidated",
                        "size": 4.44,
                        "price": 121.37,
                        "usd": 538.88
                      },
                      {
                        "ts": 1790354963088,
                        "symbol": "SOLUSDT",
                        "exchange": "okx",
                        "event": "long_liquidated",
                        "size": 23.46,
                        "price": 120.62,
                        "usd": 2829.75
                      },
                      {
                        "ts": 1790354961156,
                        "symbol": "SOLUSDT",
                        "exchange": "binance",
                        "event": "long_liquidated",
                        "size": 2.6,
                        "price": 120.65,
                        "usd": 313.69
                      }
                    ]
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch recent liquidations: crypto liquidations, live tape",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.003,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003"
          }
        }
      }
    },
    "/api/cascade": {
      "get": {
        "description": "Liquidation cascade detector, live: clustered same-side liquidations happening NOW on SOL, BTC, ETH, XRP and DOGE across Bybit, OKX and Binance, with side, USD total, prints, duration and severity. For every perp we record use /api/cascade-scan.",
        "operationId": "get_cascade_alert",
        "parameters": [
          {
            "in": "query",
            "name": "window",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback window seconds, 30-300, default 90"
            }
          },
          {
            "in": "query",
            "name": "min_events",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min prints to qualify, default 4"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min summed USD, default 50000"
            }
          }
        ],
        "x-example-query": {
          "window": 300
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "number"
                        },
                        "cascades": {
                          "type": "array"
                        },
                        "scope": {
                          "type": "string"
                        },
                        "params": {
                          "type": "object"
                        },
                        "checked_at": {
                          "type": "number"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_cascade_alert",
                  "data": {
                    "active": true,
                    "count": 2,
                    "cascades": [
                      {
                        "symbol": "ETHUSDT",
                        "side_liquidated": "longs",
                        "events": 10,
                        "total_usd": 111215.57,
                        "max_single_usd": 85774.4,
                        "duration_sec": 150,
                        "price_range": [
                          2680.45,
                          2684.72
                        ],
                        "severity": "minor"
                      },
                      {
                        "symbol": "XRPUSDT",
                        "side_liquidated": "longs",
                        "events": 11,
                        "total_usd": 62367.59,
                        "max_single_usd": 33188.9,
                        "duration_sec": 75,
                        "price_range": [
                          1.5537,
                          1.5642
                        ],
                        "severity": "minor"
                      }
                    ],
                    "scope": "core",
                    "params": {
                      "window_sec": 300,
                      "min_events": 4,
                      "min_usd": 50000
                    },
                    "checked_at": 1790355176441
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch cascade alert: liquidation cascade detector, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.01,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        }
      }
    },
    "/api/cascade-scan": {
      "get": {
        "description": "Liquidation cascade scan across EVERY USDT perp we record on Bybit, OKX and Binance at once, not just the majors: symbol, side liquidated, USD total, prints, duration, severity. Bybit is the only complete unthrottled liquidation tape in crypto.",
        "operationId": "get_cascade_scan",
        "parameters": [
          {
            "in": "query",
            "name": "window",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback window seconds, 30-300, default 90"
            }
          },
          {
            "in": "query",
            "name": "min_events",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min prints to qualify, default 4"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min summed USD, default 50000"
            }
          }
        ],
        "x-example-query": {
          "window": 300
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "number"
                        },
                        "cascades": {
                          "type": "array"
                        },
                        "scope": {
                          "type": "string"
                        },
                        "params": {
                          "type": "object"
                        },
                        "checked_at": {
                          "type": "number"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_cascade_scan",
                  "data": {
                    "active": true,
                    "count": 2,
                    "cascades": [
                      {
                        "symbol": "ETHUSDT",
                        "side_liquidated": "longs",
                        "events": 10,
                        "total_usd": 111215.57,
                        "max_single_usd": 85774.4,
                        "duration_sec": 150,
                        "price_range": [
                          2680.45,
                          2684.72
                        ],
                        "severity": "minor"
                      },
                      {
                        "symbol": "XRPUSDT",
                        "side_liquidated": "longs",
                        "events": 11,
                        "total_usd": 62367.59,
                        "max_single_usd": 33188.9,
                        "duration_sec": 75,
                        "price_range": [
                          1.5537,
                          1.5642
                        ],
                        "severity": "minor"
                      }
                    ],
                    "scope": "all",
                    "params": {
                      "window_sec": 300,
                      "min_events": 4,
                      "min_usd": 50000
                    },
                    "checked_at": 1790355176637
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch cascade scan: liquidation cascade scan across every usdt",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.05,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          }
        }
      }
    },
    "/api/liquidation-leaders": {
      "get": {
        "description": "Liquidation leaderboard: top symbols by liquidation USD right now across every USDT perp we record on Bybit, OKX and Binance, with long/short split, biggest single print and venue count. What is blowing up, ranked.",
        "operationId": "get_liquidation_leaders",
        "parameters": [
          {
            "in": "query",
            "name": "window_min",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback minutes, 5-1440, default 60"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "description": "top N symbols, 1-50, default 10"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "universe": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "window_min": {
                          "type": "number"
                        },
                        "count": {
                          "type": "number"
                        },
                        "leaders": {
                          "type": "array"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_liquidation_leaders",
                  "data": {
                    "source": "multi_exchange_collector",
                    "universe": "all_usdt_perps",
                    "exchanges": [
                      "bybit",
                      "okx",
                      "binance"
                    ],
                    "window_min": 60,
                    "count": 10,
                    "leaders": [
                      {
                        "symbol": "ETHUSDT",
                        "events": 80,
                        "total_usd": 903316.03,
                        "longs_usd": 114481.98,
                        "shorts_usd": 788834.05,
                        "biggest_usd": 220791.65,
                        "venues": 3,
                        "dominant_side": "shorts"
                      },
                      {
                        "symbol": "BTCUSDT",
                        "events": 72,
                        "total_usd": 852392.57,
                        "longs_usd": 31983.89,
                        "shorts_usd": 820408.68,
                        "biggest_usd": 224614.76,
                        "venues": 3,
                        "dominant_side": "shorts"
                      },
                      {
                        "symbol": "SOLUSDT",
                        "events": 111,
                        "total_usd": 551818.07,
                        "longs_usd": 19962.17,
                        "shorts_usd": 531855.9,
                        "biggest_usd": 100573.77,
                        "venues": 3,
                        "dominant_side": "shorts"
                      }
                    ]
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch liquidation leaders: liquidation leaderboard",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.02,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          }
        }
      }
    },
    "/api/liquidation-stats": {
      "get": {
        "description": "Liquidation stats, 1h and 24h totals for SOL, BTC, ETH, XRP and DOGE: long vs short USD split, biggest single print, and a per-exchange breakdown across Bybit, OKX and Binance.",
        "operationId": "get_liquidation_stats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "collecting_since": {
                          "type": "number"
                        },
                        "sol": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_liquidation_stat…",
                  "data": {
                    "source": "multi_exchange_colle…",
                    "exchanges": [
                      "bybit"
                    ],
                    "collecting_since": 1783528952067,
                    "sol": {
                      "1h": {
                        "events": 111,
                        "total_usd": 551818.07,
                        "longs_liquidated_usd": 19962.17,
                        "shorts_liquidated_usd": 531855.9,
                        "biggest_print_usd": 100573.77,
                        "by_exchange": {
                          "bybit": {
                            "events": 32,
                            "total_usd": 244917.79,
                            "longs_liquidated_usd": 445.55,
                            "shorts_liquidated_usd": 244472.23,
                            "biggest_print_usd": 100573.77
                          },
                          "binance": {
                            "events": 46,
                            "total_usd": 185867.75,
                            "longs_liquidated_usd": 5269.3,
                            "shorts_liquidated_usd": 180598.45,
                            "biggest_print_usd": 87563.06
                          },
                          "okx": {
                            "events": 33,
                            "total_usd": 121032.53,
                            "longs_liquidated_usd": 14247.32,
                            "shorts_liquidated_usd": 106785.21,
                            "biggest_print_usd": 53474.45
                          }
                        }
                      },
                      "24h": {
                        "events": 1808,
                        "total_usd": 16129696.9,
                        "longs_liquidated_usd": 3920645.3,
                        "shorts_liquidated_usd": 12209051.6,
                        "biggest_print_usd": 915882,
                        "by_exchange": {
                          "binance": {
                            "events": 705,
                            "total_usd": 9445111.62,
                            "longs_liquidated_usd": 2343782.62,
                            "shorts_liquidated_usd": 7101329,
                            "biggest_print_usd": 915882
                          },
                          "bybit": {
                            "events": 637,
                            "total_usd": 2953284.27,
                            "longs_liquidated_usd": 635875.59,
                            "shorts_liquidated_usd": 2317408.68,
                            "biggest_print_usd": 100573.77
                          },
                          "okx": {
                            "events": 466,
                            "total_usd": 3731301.02,
                            "longs_liquidated_usd": 940987.1,
                            "shorts_liquidated_usd": 2790313.92,
                            "biggest_print_usd": 585023.37
                          }
                        }
                      }
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch liquidation stats: liquidation stats, 1h and 24h totals",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.004,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004"
          }
        }
      }
    },
    "/api/positioning": {
      "get": {
        "description": "Open interest and long/short ratio for SOL and BTC perps: the retail long/short account ratio plus Bybit open interest with 1h and 24h change. For any other USDT perp use /api/open-interest and /api/long-short.",
        "operationId": "get_positioning",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "period": {
                          "type": "string"
                        },
                        "sol": {
                          "type": "object"
                        },
                        "btc": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_positioning",
                  "data": {
                    "source": "bybit_v5_public",
                    "period": "1h",
                    "sol": {
                      "long_short_ratio": {
                        "long_pct": 68.86,
                        "short_pct": 31.14,
                        "long_pct_prev_hour": 68.74,
                        "ts": 1790352000000
                      },
                      "open_interest": {
                        "base": 6478924.1,
                        "usd": 809589831,
                        "change_1h_pct": -1.3,
                        "change_24h_pct": 9.93
                      }
                    },
                    "btc": {
                      "long_short_ratio": {
                        "long_pct": 57.02,
                        "short_pct": 42.98,
                        "long_pct_prev_hour": 57,
                        "ts": 1790352000000
                      },
                      "open_interest": {
                        "base": 58663.035,
                        "usd": 4907625052,
                        "change_1h_pct": 0.19,
                        "change_24h_pct": -1.31
                      }
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch positioning: open interest and long/short ratio for sol",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.004,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004"
          }
        }
      }
    },
    "/api/trade-context": {
      "get": {
        "description": "Crypto trading context in one call: SOL and BTC prices, perp funding rates, Fear & Greed, long/short positioning, open interest and 1h/24h liquidation stats. The whole pre-trade picture, one payment.",
        "operationId": "get_trade_context",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ts": {
                          "type": "number"
                        },
                        "prices": {
                          "type": "object"
                        },
                        "funding": {
                          "type": "object"
                        },
                        "fear_greed": {
                          "type": "object"
                        },
                        "positioning": {
                          "type": "object"
                        },
                        "liquidations": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_trade_context",
                  "data": {
                    "ts": 1790355177366,
                    "prices": {
                      "sol": {
                        "symbol": "SOL",
                        "price": 121.35,
                        "confidence": null,
                        "publish_time": null,
                        "source": "coinbase"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "price": 83868.13,
                        "confidence": null,
                        "publish_time": null,
                        "source": "coinbase"
                      }
                    },
                    "funding": {
                      "sol": {
                        "symbol": "SOL",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 121.42,
                        "open_interest": 6103405.560000007,
                        "source": "hyperliquid"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 83875,
                        "open_interest": 39511.1646,
                        "source": "hyperliquid"
                      }
                    },
                    "fear_greed": {
                      "value": 71,
                      "classification": "Greed",
                      "timestamp": 1790294400,
                      "source": "alternative.me"
                    },
                    "positioning": {
                      "source": "bybit_v5_public",
                      "period": "1h",
                      "sol": {
                        "long_short_ratio": {
                          "long_pct": 68.86,
                          "short_pct": 31.14,
                          "long_pct_prev_hour": 68.74,
                          "ts": 1790352000000
                        },
                        "open_interest": {
                          "base": 6478924.1,
                          "usd": 809589831,
                          "change_1h_pct": -1.3,
                          "change_24h_pct": 9.93
                        }
                      },
                      "btc": {
                        "long_short_ratio": {
                          "long_pct": 57.02,
                          "short_pct": 42.98,
                          "long_pct_prev_hour": 57,
                          "ts": 1790352000000
                        },
                        "open_interest": {
                          "base": 58663.035,
                          "usd": 4907625052,
                          "change_1h_pct": 0.19,
                          "change_24h_pct": -1.31
                        }
                      }
                    },
                    "liquidations": {
                      "source": "multi_exchange_colle…",
                      "exchanges": [
                        "bybit"
                      ],
                      "collecting_since": 1783528952067,
                      "sol": {
                        "1h": {
                          "events": 111,
                          "total_usd": 551818.07,
                          "longs_liquidated_usd": 19962.17,
                          "shorts_liquidated_usd": 531855.9,
                          "biggest_print_usd": 100573.77,
                          "by_exchange": {
                            "bybit": {
                              "events": 32,
                              "total_usd": 244917.79,
                              "longs_liquidated_usd": 445.55,
                              "shorts_liquidated_usd": 244472.23,
                              "biggest_print_usd": 100573.77
                            },
                            "binance": {
                              "events": 46,
                              "total_usd": 185867.75,
                              "longs_liquidated_usd": 5269.3,
                              "shorts_liquidated_usd": 180598.45,
                              "biggest_print_usd": 87563.06
                            },
                            "okx": {
                              "events": 33,
                              "total_usd": 121032.53,
                              "longs_liquidated_usd": 14247.32,
                              "shorts_liquidated_usd": 106785.21,
                              "biggest_print_usd": 53474.45
                            }
                          }
                        },
                        "24h": {
                          "events": 1808,
                          "total_usd": 16129696.9,
                          "longs_liquidated_usd": 3920645.3,
                          "shorts_liquidated_usd": 12209051.6,
                          "biggest_print_usd": 915882,
                          "by_exchange": {
                            "binance": {
                              "events": 705,
                              "total_usd": 9445111.62,
                              "longs_liquidated_usd": 2343782.62,
                              "shorts_liquidated_usd": 7101329,
                              "biggest_print_usd": 915882
                            },
                            "bybit": {
                              "events": 637,
                              "total_usd": 2953284.27,
                              "longs_liquidated_usd": 635875.59,
                              "shorts_liquidated_usd": 2317408.68,
                              "biggest_print_usd": 100573.77
                            },
                            "okx": {
                              "events": 466,
                              "total_usd": 3731301.02,
                              "longs_liquidated_usd": 940987.1,
                              "shorts_liquidated_usd": 2790313.92,
                              "biggest_print_usd": 585023.37
                            }
                          }
                        }
                      }
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch trade context: crypto trading context in one call",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.01,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        }
      }
    },
    "/api/token-risk/{mint}": {
      "get": {
        "description": "Solana token rug check / risk signals for any SPL mint: mint and freeze authority status (revoked is safer), top-1 and top-10 holder concentration, supply, price, and a list of risk flags. Not a honeypot or LP-lock checker.",
        "operationId": "get_token_risk",
        "parameters": [
          {
            "description": "SPL token mint address (base58)",
            "in": "path",
            "name": "mint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "SPL token mint address (base58)"
            }
          }
        ],
        "x-example-path": {
          "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mint": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "supply": {
                          "type": "number"
                        },
                        "price_usd": {
                          "type": "number"
                        },
                        "authorities": {
                          "type": "object"
                        },
                        "concentration": {
                          "type": "object"
                        },
                        "risk_flags": {
                          "type": "array"
                        },
                        "risk_flag_count": {
                          "type": "number"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_token_risk",
                  "data": {
                    "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                    "name": "Bonk",
                    "symbol": "Bonk",
                    "supply": 87994383847609.11,
                    "price_usd": 0.0000036881577,
                    "authorities": {
                      "mint_authority": null,
                      "freeze_authority": null
                    },
                    "concentration": {
                      "top1_pct": 8.83,
                      "top10_pct": 38.33,
                      "note": "token accounts, not unique owners — pools/exchanges may be included",
                      "top_accounts": [
                        {
                          "address": "5hpfC9VBxVcoW9opCnM2PqR6YWRLBzrBpabJTZnwwNiw",
                          "amount": 7770515063166.431
                        },
                        {
                          "address": "2vPvEovB1gw8bAUqasThEv6YMAdJ77AU3RxiUNqknEiw",
                          "amount": 5772593511837.953
                        },
                        {
                          "address": "6LozHQrLbEPeJGWKpN6wnnk76GhD4bGAVSoTBE5xXpsf",
                          "amount": 3111312968005.8394
                        }
                      ]
                    },
                    "risk_flags": [],
                    "risk_flag_count": 0
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: path param mint = not-a-valid-address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_token_risk",
                  "error": "invalid mint address"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          }
        },
        "summary": "Fetch token risk: solana token rug check / risk signals for",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.01,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        }
      }
    },
    "/api/cascade-forecast": {
      "get": {
        "description": "Liquidation forecast, FORWARD-LOOKING and not a description of what already happened. Returns the probability that a symbol will liquidate more in the NEXT 15 minutes than its own 90th-percentile 15-minute window. Calibrated on a 28-day tape of 1.4M Bybit liquidations across 799 symbols, which cannot be reconstructed by anyone starting today because no exchange publishes liquidation history. Every answer carries the exact question, the threshold in USD, the window it read, the number of historical occurrences behind the number, and instructions for settling it yourself from the public feed. When a state has too little history the tool DECLINES rather than guessing, and says why. The settled record is free at /api/forecast-record.",
        "operationId": "get_cascade_forecast",
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string",
              "description": "SOL, BTC, ETH or any USDT perp e.g. SXTUSDT (default SOL)"
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "required": false,
            "schema": {
              "type": "string",
              "description": "comma separated for a batch, max 20, e.g. SOL,BTC,ETH"
            }
          }
        ],
        "x-example-query": {
          "symbol": "SOL"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "object"
                        },
                        "answers": {
                          "type": "array"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_cascade_forecast",
                  "data": {
                    "model": {
                      "fittedAt": "2026-09-25T12:00:25.086Z",
                      "scheme": "fine",
                      "trainedOnPairs": 2829617,
                      "symbolsCovered": 412
                    },
                    "answers": [
                      {
                        "question": {
                          "id": "liquidation-window-exceedance-v1",
                          "ask": "Will this symbol's liquidation volume in the NEXT window exc…",
                          "windowSeconds": 900,
                          "thresholdRule": "the 90th percentile of the symbol's own 15-minute liquidatio…",
                          "answer": "a probability between 0 and 1, or a decline",
                          "settlement": "sum liquidation USD for the symbol over the next window from…",
                          "settleable_by": "anyone subscribed to the same public liquidation stream",
                          "declines": "a decline is returned when the current state has too little…"
                        },
                        "symbol": "SOLUSDT",
                        "asOf": "2026-09-25T16:52:59.680Z",
                        "thresholdUsd": 162338.272406,
                        "thresholdSource": "the threshold this model was trained against",
                        "windowStart": "2026-09-25T16:30:00.000Z",
                        "windowEnd": "2026-09-25T16:45:00.000Z",
                        "observed": {
                          "usd": 122324.44509999998,
                          "events": 34,
                          "buyUsd": 9681.6,
                          "sellUsd": 112642.84509999998
                        },
                        "state": "3|1|3|1",
                        "support": 1059,
                        "symbolSupport": 26,
                        "evidence": "measured",
                        "p": 0.355076956950054,
                        "reason": null,
                        "basis": "26 occurrences of this state for this symbol, shrunk toward…"
                      }
                    ]
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. The full challenge is base64 in the PAYMENT-REQUIRED response header, not in the body. Read it from the header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 2,
                  "error": "Payment required"
                }
              }
            }
          },
          "405": {
            "description": "Any method other than GET on a paid route. The response has an Allow: GET header and an empty body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
[...]
