{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentFeed",
    "version": "1.0.0",
    "description": "Live crypto market, liquidation, tokenized-equity and Solana on-chain data for AI agents. Paid per call in USDC over x402 on Solana, Base, Polygon or Arbitrum. No API keys, no accounts.",
    "x-generated-from": "payments.PRICES + bazaar-examples.json, at boot",
    "contact": {
      "name": "ochinimus",
      "email": "ochinimus@gmail.com",
      "url": "https://ochinimus.app"
    },
    "x-guidance": "Every route is a GET that returns JSON. There are no API keys and no accounts. Paid routes answer 402 with the challenge twice: x402 v2, base64 JSON in the PAYMENT-REQUIRED response header, for every rail; and x402 v1, the JSON body {x402Version: 1, accepts}, for Base and Solana. Pay with a PAYMENT-SIGNATURE header (x402 v2) or an X-PAYMENT header (x402 v1, Base or Solana; an X-PAYMENT carrying a v2 payload is read as PAYMENT-SIGNATURE). USDC on Solana mainnet, Base, Polygon or Arbitrum. Copy payTo only from a fresh 402 response, never from transaction history: a lookalike of the treasury address has sent address-poisoning transfers to our buyers. Response shape is always { \"tool\": \"<name>\", \"data\": { ... }, \"paid\": true }. Before paying, GET /api/sample/<route> for that route's real captured response, free. GET /api/sample lists them. Start cheap: /api/perp, /api/liq-pulse, /api/funding-pulse and /api/price are $0.005 each and cover most questions. The premium routes are the liquidation tape, cascade detection and the tokenized-equity peg tape. A route that cannot answer returns 200 with a decline field naming the reason; it never returns fabricated or zero-filled data. Limits: GET only on /api/* (HEAD on a paid route answers the 402 challenge headers with no body, on a free route 405); per caller per minute 240 GET or POST /mcp and 2400 of any other method; a 429 carries Retry-After."
  },
  "externalDocs": {
    "description": "AgentFeed agent skill: when to use each route, what it answers and what it costs",
    "url": "https://x402.ochinimus.app/SKILL.md"
  },
  "servers": [
    {
      "url": "https://x402.ochinimus.app"
    }
  ],
  "paths": {
    "/api/sol-price": {
      "get": {
        "description": "SOL price / Solana spot price in USD, live. Multi-source with a fixed fallback order — Coinbase, then Kraken, then Pyth Hermes — first finite quote wins. Returns the price, the venue that served it, and a Pyth confidence interval when Pyth did.",
        "operationId": "get_sol_price",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "confidence": {},
                        "publish_time": {},
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_sol_price",
                  "data": {
                    "symbol": "SOL",
                    "price": 121.35,
                    "confidence": null,
                    "publish_time": null,
                    "source": "coinbase"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, and in WWW-Authenticate (MPP solana/charge), for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch SOL price: sol price / solana spot price in usd, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/btc-price": {
      "get": {
        "description": "BTC price / Bitcoin spot price in USD, live. Multi-source with a fixed fallback order — Coinbase, then Kraken, then Pyth Hermes — first finite quote wins. Returns the price, the venue that served it, and a Pyth confidence interval when Pyth did.",
        "operationId": "get_btc_price",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "confidence": {},
                        "publish_time": {},
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_btc_price",
                  "data": {
                    "symbol": "BTC",
                    "price": 83868.13,
                    "confidence": null,
                    "publish_time": null,
                    "source": "coinbase"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, and in WWW-Authenticate (MPP solana/charge), for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch BTC price: btc price / bitcoin spot price in usd, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/funding-rate": {
      "get": {
        "description": "Funding rate for any USDT perp on Bybit, OKX and Hyperliquid: per venue the raw rate, its interval in hours, the 8h equivalent, the annualised rate, next funding time and mark price. Without a symbol: funding rates for the SOL and BTC perps on Hyperliquid, with open interest. Cross-venue spread and crowding: /api/funding-cross.",
        "operationId": "get_funding_rate",
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string",
              "description": "USDT perp symbol e.g. ETHUSDT, ONDOUSDT (omit for SOL and BTC from Hyperliquid)"
            }
          }
        ],
        "x-example-query": {
          "symbol": "ETHUSDT"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "venues": {
                          "type": "object"
                        },
                        "note": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_funding_rate",
                  "data": {
                    "symbol": "ETHUSDT",
                    "venues": {
                      "bybit": {
                        "funding_rate_raw": -0.0000658,
                        "funding_interval_hours": 8,
                        "funding_rate_8h": -0.0000658,
                        "annualized_pct": -7.21,
                        "next_funding_time": 1790611200000,
                        "mark_price": 2649.08
                      },
                      "okx": {
                        "funding_rate_raw": -0.0000219362088511,
                        "funding_interval_hours": 8,
                        "funding_rate_8h": -0.0000219362088511,
                        "annualized_pct": -2.4,
                        "next_funding_time": 1790611200000,
                        "mark_price": 2648.8
                      },
                      "hyperliquid": {
                        "funding_rate_raw": 0.0000125,
                        "funding_interval_hours": 1,
                        "funding_rate_8h": 0.0001,
                        "annualized_pct": 10.95,
                        "next_funding_time": 1790593200000,
                        "mark_price": 2650.7
                      }
                    },
                    "note": "Each rate is quoted for its own interval: funding_rate_8h = raw x 8 / funding_interval_hours, annualized_pct = raw x 24 / funding_interval_hours x 365 x 100. /api/funding-cross adds the cross-venue spread and a crowding read.",
                    "source": "bybit+okx+hyperliquid public funding"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: optional query param symbol = not-a-symbol.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_funding_rate",
                  "error": "invalid symbol: not-a-symbol"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch funding rate: funding rate for any usdt perp on bybit",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/market-snapshot": {
      "get": {
        "description": "Crypto market snapshot in one call: SOL and BTC spot prices, both perp funding rates with mark price and open interest, and the Fear & Greed index with its classification. Five reads, one payment.",
        "operationId": "get_market_snapshot",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sol": {
                          "type": "object"
                        },
                        "btc": {
                          "type": "object"
                        },
                        "funding": {
                          "type": "object"
                        },
                        "fear_greed": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_market_snapshot",
                  "data": {
                    "sol": {
                      "symbol": "SOL",
                      "price": 121.35,
                      "confidence": null,
                      "publish_time": null,
                      "source": "coinbase"
                    },
                    "btc": {
                      "symbol": "BTC",
                      "price": 83868.13,
                      "confidence": null,
                      "publish_time": null,
                      "source": "coinbase"
                    },
                    "funding": {
                      "sol": {
                        "symbol": "SOL",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 121.42,
                        "open_interest": 6103405.560000007,
                        "source": "hyperliquid"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "funding_rate_hourly": 0.0000125,
                        "funding_rate_8h_equiv": 0.0001,
                        "funding_rate_pct_hourly": 0.00125,
                        "mark_price": 83875,
                        "open_interest": 39511.1646,
                        "source": "hyperliquid"
                      }
                    },
                    "fear_greed": {
                      "value": 71,
                      "classification": "Greed",
                      "timestamp": 1790294400,
                      "source": "alternative.me"
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch market snapshot: crypto market snapshot in one call",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/wallet-holdings/{wallet}": {
      "get": {
        "description": "Solana wallet holdings / portfolio for any address: native SOL with its USD value, every SPL token with amount, unit price and USD value, and an NFT count. Helius DAS getAssetsByOwner, up to 100 assets.",
        "operationId": "get_wallet_holdings",
        "parameters": [
          {
            "description": "Solana wallet address (base58)",
            "in": "path",
            "name": "wallet",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address (base58)"
            }
          }
        ],
        "x-example-path": {
          "wallet": "Gack9UtqfeZxFA1LqeqjLgC3JGuD7rS6CsSHKoXsD4Tu"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wallet": {
                          "type": "string"
                        },
                        "native_sol": {
                          "type": "number"
                        },
                        "native_sol_usd": {
                          "type": "number"
                        },
                        "fungible_tokens": {
                          "type": "array"
                        },
                        "nft_count": {
                          "type": "number"
                        },
                        "total_items": {
                          "type": "number"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_wallet_holdings",
                  "data": {
                    "wallet": "Gack9UtqfeZxFA1LqeqjLgC3JGuD7rS6CsSHKoXsD4Tu",
                    "native_sol": 0,
                    "native_sol_usd": 0,
                    "fungible_tokens": [
                      {
                        "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                        "symbol": "USDC",
                        "amount": 0.055,
                        "price_usd": 0.9998925,
                        "value_usd": 0.05499408602714539
                      }
                    ],
                    "nft_count": 0,
                    "total_items": 1,
                    "source": "helius-das"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: path param wallet = not-a-valid-address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_wallet_holdings",
                  "error": "invalid wallet address"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch wallet holdings: solana wallet holdings / portfolio for",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.008,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.008"
          }
        }
      }
    },
    "/api/token-metadata/{mint}": {
      "get": {
        "description": "SPL token metadata for any Solana mint: name, symbol, decimals, total supply, current USD price, interface type, and whether the metadata is still mutable. Helius DAS.",
        "operationId": "get_token_metadata",
        "parameters": [
          {
            "description": "SPL token mint address (base58)",
            "in": "path",
            "name": "mint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "SPL token mint address (base58)"
            }
          }
        ],
        "x-example-path": {
          "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mint": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "interface": {
                          "type": "string"
                        },
                        "decimals": {
                          "type": "number"
                        },
                        "supply": {
                          "type": "number"
                        },
                        "price_usd": {
                          "type": "number"
                        },
                        "mutable": {
                          "type": "boolean"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_token_metadata",
                  "data": {
                    "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                    "name": "Bonk",
                    "symbol": "Bonk",
                    "interface": "FungibleToken",
                    "decimals": 5,
                    "supply": 8799438384760911000,
                    "price_usd": 0.0000036881577,
                    "mutable": true,
                    "source": "helius-das"
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: path param mint = not-a-valid-address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_token_metadata",
                  "error": "invalid mint address"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch token metadata: spl token metadata for any solana mint",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/liquidations": {
      "get": {
        "description": "Crypto liquidations, live tape: recent perp liquidation prints across Bybit, OKX and Binance with timestamp, side liquidated, size, price and USD value. Any USDT perp we record, not just majors. The Bybit tape is complete and unthrottled.",
        "operationId": "get_recent_liquidations",
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string",
              "description": "SOL, BTC, ETH, XRP, DOGE, or any USDT perp e.g. SXTUSDT (omit for majors)"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "core",
                "all"
              ],
              "description": "core = the 5 majors (default), all = every recorded USDT perp"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "description": "max rows, 1-100, default 25"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "only prints >= this USD size"
            }
          }
        ],
        "x-example-query": {
          "symbol": "SOLUSDT"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "count": {
                          "type": "number"
                        },
                        "liquidations": {
                          "type": "array"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_recent_liquidations",
                  "data": {
                    "source": "multi_exchange_collector",
                    "exchanges": [
                      "bybit",
                      "okx",
                      "binance"
                    ],
                    "count": 25,
                    "liquidations": [
                      {
                        "ts": 1790355163131,
                        "symbol": "SOLUSDT",
                        "exchange": "binance",
                        "event": "short_liquidated",
                        "size": 4.44,
                        "price": 121.37,
                        "usd": 538.88
                      },
                      {
                        "ts": 1790354963088,
                        "symbol": "SOLUSDT",
                        "exchange": "okx",
                        "event": "long_liquidated",
                        "size": 23.46,
                        "price": 120.62,
                        "usd": 2829.75
                      },
                      {
                        "ts": 1790354961156,
                        "symbol": "SOLUSDT",
                        "exchange": "binance",
                        "event": "long_liquidated",
                        "size": 2.6,
                        "price": 120.65,
                        "usd": 313.69
                      }
                    ]
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. Observed: optional query param symbol = not-a-symbol.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "get_recent_liquidations",
                  "error": "symbol must be an alias (SOL, BTC, ETH, XRP, DOGE) or a USDT perp symbol (e.g. SXTUSDT)"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch recent liquidations: crypto liquidations, live tape",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/cascade": {
      "get": {
        "description": "Liquidation cascade detector, live: clustered same-side liquidations happening NOW on SOL, BTC, ETH, XRP and DOGE across Bybit, OKX and Binance, with side, USD total, prints, duration and severity. For every perp we record use /api/cascade-scan.",
        "operationId": "get_cascade_alert",
        "parameters": [
          {
            "in": "query",
            "name": "window",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback window seconds, 30-300, default 90"
            }
          },
          {
            "in": "query",
            "name": "min_events",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min prints to qualify, default 4"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min summed USD, default 50000"
            }
          }
        ],
        "x-example-query": {
          "window": 300
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "number"
                        },
                        "cascades": {
                          "type": "array"
                        },
                        "scope": {
                          "type": "string"
                        },
                        "params": {
                          "type": "object"
                        },
                        "checked_at": {
                          "type": "number"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_cascade_alert",
                  "data": {
                    "active": true,
                    "count": 2,
                    "cascades": [
                      {
                        "symbol": "ETHUSDT",
                        "side_liquidated": "longs",
                        "events": 10,
                        "total_usd": 111215.57,
                        "max_single_usd": 85774.4,
                        "duration_sec": 150,
                        "price_range": [
                          2680.45,
                          2684.72
                        ],
                        "severity": "minor"
                      },
                      {
                        "symbol": "XRPUSDT",
                        "side_liquidated": "longs",
                        "events": 11,
                        "total_usd": 62367.59,
                        "max_single_usd": 33188.9,
                        "duration_sec": 75,
                        "price_range": [
                          1.5537,
                          1.5642
                        ],
                        "severity": "minor"
                      }
                    ],
                    "scope": "core",
                    "params": {
                      "window_sec": 300,
                      "min_events": 4,
                      "min_usd": 50000
                    },
                    "checked_at": 1790355176441
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch cascade alert: liquidation cascade detector, live",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.01,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        }
      }
    },
    "/api/cascade-scan": {
      "get": {
        "description": "Liquidation cascade scan across EVERY USDT perp we record on Bybit, OKX and Binance at once, not just the majors: symbol, side liquidated, USD total, prints, duration, severity. Bybit is the only complete unthrottled liquidation tape in crypto.",
        "operationId": "get_cascade_scan",
        "parameters": [
          {
            "in": "query",
            "name": "window",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback window seconds, 30-300, default 90"
            }
          },
          {
            "in": "query",
            "name": "min_events",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min prints to qualify, default 4"
            }
          },
          {
            "in": "query",
            "name": "min_usd",
            "required": false,
            "schema": {
              "type": "number",
              "description": "min summed USD, default 50000"
            }
          }
        ],
        "x-example-query": {
          "window": 300
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "number"
                        },
                        "cascades": {
                          "type": "array"
                        },
                        "scope": {
                          "type": "string"
                        },
                        "params": {
                          "type": "object"
                        },
                        "checked_at": {
                          "type": "number"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_cascade_scan",
                  "data": {
                    "active": true,
                    "count": 2,
                    "cascades": [
                      {
                        "symbol": "ETHUSDT",
                        "side_liquidated": "longs",
                        "events": 10,
                        "total_usd": 111215.57,
                        "max_single_usd": 85774.4,
                        "duration_sec": 150,
                        "price_range": [
                          2680.45,
                          2684.72
                        ],
                        "severity": "minor"
                      },
                      {
                        "symbol": "XRPUSDT",
                        "side_liquidated": "longs",
                        "events": 11,
                        "total_usd": 62367.59,
                        "max_single_usd": 33188.9,
                        "duration_sec": 75,
                        "price_range": [
                          1.5537,
                          1.5642
                        ],
                        "severity": "minor"
                      }
                    ],
                    "scope": "all",
                    "params": {
                      "window_sec": 300,
                      "min_events": 4,
                      "min_usd": 50000
                    },
                    "checked_at": 1790355176637
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch cascade scan: liquidation cascade scan across every usdt",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.05,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          }
        }
      }
    },
    "/api/liquidation-leaders": {
      "get": {
        "description": "Liquidation leaderboard: top symbols by liquidation USD right now across every USDT perp we record on Bybit, OKX and Binance, with long/short split, biggest single print and venue count. What is blowing up, ranked.",
        "operationId": "get_liquidation_leaders",
        "parameters": [
          {
            "in": "query",
            "name": "window_min",
            "required": false,
            "schema": {
              "type": "number",
              "description": "lookback minutes, 5-1440, default 60"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "description": "top N symbols, 1-50, default 10"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "universe": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "window_min": {
                          "type": "number"
                        },
                        "count": {
                          "type": "number"
                        },
                        "leaders": {
                          "type": "array"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_liquidation_leaders",
                  "data": {
                    "source": "multi_exchange_collector",
                    "universe": "all_usdt_perps",
                    "exchanges": [
                      "bybit",
                      "okx",
                      "binance"
                    ],
                    "window_min": 60,
                    "count": 10,
                    "leaders": [
                      {
                        "symbol": "ETHUSDT",
                        "events": 80,
                        "total_usd": 903316.03,
                        "longs_usd": 114481.98,
                        "shorts_usd": 788834.05,
                        "biggest_usd": 220791.65,
                        "venues": 3,
                        "dominant_side": "shorts"
                      },
                      {
                        "symbol": "BTCUSDT",
                        "events": 72,
                        "total_usd": 852392.57,
                        "longs_usd": 31983.89,
                        "shorts_usd": 820408.68,
                        "biggest_usd": 224614.76,
                        "venues": 3,
                        "dominant_side": "shorts"
                      },
                      {
                        "symbol": "SOLUSDT",
                        "events": 111,
                        "total_usd": 551818.07,
                        "longs_usd": 19962.17,
                        "shorts_usd": 531855.9,
                        "biggest_usd": 100573.77,
                        "venues": 3,
                        "dominant_side": "shorts"
                      }
                    ]
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch liquidation leaders: liquidation leaderboard",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.02,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          }
        }
      }
    },
    "/api/liquidation-stats": {
      "get": {
        "description": "Liquidation stats, 1h and 24h totals for SOL, BTC, ETH, XRP and DOGE: long vs short USD split, biggest single print, and a per-exchange breakdown across Bybit, OKX and Binance.",
        "operationId": "get_liquidation_stats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "exchanges": {
                          "type": "array"
                        },
                        "collecting_since": {
                          "type": "number"
                        },
                        "sol": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_liquidation_stat…",
                  "data": {
                    "source": "multi_exchange_colle…",
                    "exchanges": [
                      "bybit",
                      "okx",
                      "binance"
                    ],
                    "collecting_since": 1783528952067,
                    "sol": {
                      "1h": {
                        "events": 474,
                        "total_usd": 6674773.67,
                        "longs_liquidated_usd": 6443900.69,
                        "shorts_liquidated_usd": 230872.98,
                        "biggest_print_usd": 565140.68,
                        "by_exchange": {
                          "bybit": {
                            "events": 246,
                            "total_usd": 924074.2,
                            "longs_liquidated_usd": 857833.57,
                            "shorts_liquidated_usd": 66240.63,
                            "biggest_print_usd": 67330.17
                          },
                          "okx": {
                            "events": 85,
                            "total_usd": 611411.23,
                            "longs_liquidated_usd": 583604.52,
                            "shorts_liquidated_usd": 27806.71,
                            "biggest_print_usd": 132626.52
                          },
                          "binance": {
                            "events": 143,
                            "total_usd": 5139288.24,
                            "longs_liquidated_usd": 5002462.6,
                            "shorts_liquidated_usd": 136825.64,
                            "biggest_print_usd": 565140.68
                          }
                        }
                      },
                      "24h": {
                        "events": 3160,
                        "total_usd": 35593650,
                        "longs_liquidated_usd": 34649734.64,
                        "shorts_liquidated_usd": 943915.35,
                        "biggest_print_usd": 1858611.82,
                        "by_exchange": {
                          "okx": {
                            "events": 566,
                            "total_usd": 3740852.51,
                            "longs_liquidated_usd": 3458924.73,
                            "shorts_liquidated_usd": 281927.78,
                            "biggest_print_usd": 382358.02
                          },
                          "binance": {
                            "events": 911,
                            "total_usd": 24296622.41,
                            "longs_liquidated_usd": 23797984.96,
                            "shorts_liquidated_usd": 498637.46,
                            "biggest_print_usd": 1858611.82
                          },
                          "bybit": {
                            "events": 1683,
                            "total_usd": 7556175.07,
                            "longs_liquidated_usd": 7392824.96,
                            "shorts_liquidated_usd": 163350.11,
                            "biggest_print_usd": 99431.77
                          }
                        }
                      }
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch liquidation stats: liquidation stats, 1h and 24h totals",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.01,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        }
      }
    },
    "/api/positioning": {
      "get": {
        "description": "Open interest and long/short ratio for SOL and BTC perps: the retail long/short account ratio plus Bybit open interest with 1h and 24h change. For any other USDT perp use /api/open-interest and /api/long-short.",
        "operationId": "get_positioning",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "period": {
                          "type": "string"
                        },
                        "sol": {
                          "type": "object"
                        },
                        "btc": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_positioning",
                  "data": {
                    "source": "bybit_v5_public",
                    "period": "1h",
                    "sol": {
                      "long_short_ratio": {
                        "long_pct": 68.86,
                        "short_pct": 31.14,
                        "long_pct_prev_hour": 68.74,
                        "ts": 1790352000000
                      },
                      "open_interest": {
                        "base": 6478924.1,
                        "usd": 809589831,
                        "change_1h_pct": -1.3,
                        "change_24h_pct": 9.93
                      }
                    },
                    "btc": {
                      "long_short_ratio": {
                        "long_pct": 57.02,
                        "short_pct": 42.98,
                        "long_pct_prev_hour": 57,
                        "ts": 1790352000000
                      },
                      "open_interest": {
                        "base": 58663.035,
                        "usd": 4907625052,
                        "change_1h_pct": 0.19,
                        "change_24h_pct": -1.31
                      }
                    }
                  },
                  "paid": true
                }
              }
            },
            "description": "Paid response."
          },
          "400": {
            "description": "The handler threw: a missing or malformed caller parameter, or an upstream data source failed. This route takes no required input, so a 400 means an upstream source failed, not a caller mistake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<human-readable reason>"
                }
              }
            }
          },
          "402": {
            "description": "No payment presented, or the payment did not settle. x402 v2: the full challenge is base64 in the PAYMENT-REQUIRED response header, for every rail; read it first. x402 v1: the body above, for Base and Solana; pay it with X-PAYMENT.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 challenge. The body is the same challenge as x402 v1 (Base and Solana).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "x402Version": 1,
                  "error": "Payment required",
                  "accepts": [
                    "<x402 v1 PaymentRequirements, one per v1 rail: base, solana>"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "HEAD on a free /api route. The response has an Allow: GET header and an empty body. HEAD on a paid route answers 402 with the challenge in PAYMENT-REQUIRED and no body.",
            "headers": {
              "Allow": {
                "description": "Always GET.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "More than 240 GET (or POST /mcp) requests from one IP in 60s. Other HTTP methods have a separate 2400/60s allowance. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "rate limit: 240 req/min",
                  "retry_after": "<seconds>"
                }
              }
            }
          },
          "503": {
            "description": "The route answers from a precomputed snapshot and that snapshot is past its staleness limit, or no source has data to answer with. Never charged: a status of 400 or more cancels the x402 settlement. Retry-After is also set as a response header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "tool": "<tool name>",
                  "error": "<reason, including the snapshot age>",
                  "retry_after": 60
                }
              }
            }
          }
        },
        "summary": "Fetch positioning: open interest and long/short ratio for sol",
        "tags": [
          "agentfeed"
        ],
        "x-price-usd": 0.005,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        }
      }
    },
    "/api/trade-context": {
      "get": {
        "description": "Crypto trading context in one call: SOL and BTC prices, perp funding rates, Fear & Greed, long/short positioning, open interest and 1h/24h liquidation stats. The whole pre-trade picture, one payment.",
        "operationId": "get_trade_context",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ts": {
                          "type": "number"
                        },
                        "prices": {
                          "type": "object"
                        },
                        "funding": {
                          "type": "object"
                        },
                        "fear_greed": {
                          "type": "object"
                        },
                        "positioning": {
                          "type": "object"
                        },
                        "liquidations": {
                          "type": "object"
                        }
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "tool": "get_trade_context",
                  "data": {
                    "ts": 1791476635017,
                    "prices": {
                      "sol": {
                        "symbol": "SOL",
                        "price": 108.745,
                        "confidence": null,
                        "publish_time": null,
                        "source": "coinbase"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "price": 81255.52,
                        "confidence": null,
                        "publish_time": null,
                        "source": "coinbase"
                      }
                    },
                    "funding": {
                      "sol": {
                        "symbol": "SOL",
                        "funding_rate_hourly": 0.0000061104,
                        "funding_rate_8h_equiv": 0.00004888,
                        "funding_rate_pct_hourly": 0.000611,
                        "mark_price": 108.68,
                        "open_interest": 5571356.6,
                        "source": "hyperliquid"
                      },
                      "btc": {
                        "symbol": "BTC",
                        "funding_rate_hourly": 0.0000057443,
                        "funding_rate_8h_equiv": 0.00004595,
                        "funding_rate_pct_hourly": 0.000574,
                        "mark_price": 81231,
                        "open_interest": 40268.2770399999,
                        "source": "hyperliquid"
                      }
                    },
                    "fear_greed": {
                      "value": 64,
                      "classification": "Greed",
                      "timestamp": 1791417600,
                      "source": "alternative.me"
                    },
                    "positioning": {
                      "source": "bybit_v5_public",
                      "period": "1h",
                      "sol": {
                        "long_short_ratio": {
                          "long_pct": 73.49,
                          "short_pct": 26.51,
                          "long_pct_prev_hour": 73.19,
                          "ts": 1791475200000
                        },
                        "open_interest": {
                          "base": 6326412.6,
                          "usd": 692973021,
                          "change_1h_pct": -4.32,
                          "change_24h_pct": 5.55
                        }
                      },
                      "btc": {
                        "long_short_ratio": {
                          "long_pct": 63.17,
                          "short_pct": 36.83,
                          "long_pct_prev_hour": 63.2,
                          "ts": 1791475200000
                        },
                        "open_interest": {
                          "base": 58495.439,
                          "usd": 4810687095,
                          "change_1h_pct": -0.38,
                          "change_24h_pct": 0.4
                        }
                      }
                    },
                    "liquidations": {
                      "source": "multi_exchange_colle…",
                      "exchanges": [
                        "bybit",
                        "okx",
                        "binance"
                      ],
                      "collecting_since": 1783528952067,
                      "sol": {
                        "1h": {
                          "events": 474,
                          "total_usd": 6674773.67,
                          "longs_liquidated_usd": 6443900.69,
                          "shorts_liquidated_usd": 230872.98,
                          "biggest_print_usd": 565140.68,
                          "by_exchange": {
                            "bybit": {
                              "events": 246,
                              "total_usd": 924074.2,
                              "longs_liquidated_usd": 857833.57,
                              "shorts_liquidated_usd": 66240.63,
                              "biggest_print_usd": 67330.17
                            },
                            "okx": {
                              "events": 85,
                              "total_usd": 611411.23,
                              "longs_liquidated_usd": 583604.52,
                              "shorts_liquidated_usd": 27806.71,
                              "biggest_print_usd": 132626.52
                            },
                            "binance": {
                              "events": 143,
                              "total_usd": 5139288.24,
                              "longs_liquidated_usd": 5002462.6,
                              "shorts_liquidated_usd": 136825.64,
                              "biggest_print_usd": 565140.68
                            }
                          }
                        },
                        "24h": {
                          "events": 3160,
                          "total_usd": 35593650,
                          "longs_liquidated_usd": 34649734.64,
                          "shorts_liquidated_usd": 943915.35,
                          "biggest_print_usd": 1858611.82,
                          "by_exchange": {
                            "okx": {
                              "events": 566,
                              "total_usd": 3740852.51,
                              "longs_liquidated_usd": 3458924.73,
                              "shorts_liquidated_usd": 281927.78,
                              "biggest_print_usd": 382358.02
                            },
                            "binance": {
                              "events": 911,
                              "total_usd": 24296622.41,
                              "longs_liquidated_usd": 23797984.96,
[...]
