{
  "openapi": "3.1.0",
  "info": {
    "title": "Amazon Gift Cards",
    "version": "1.0.0",
    "description": "Amazon gift cards via x402 USDC on Solana."
  },
  "servers": [
    {
      "url": "https://amazon.x402.fi",
      "description": "Production"
    }
  ],
  "paths": {
    "/store/catalog/amazon": {
      "get": {
        "operationId": "catalog_amazon",
        "summary": "List Amazon gift card denominations",
        "description": "Free. Returns the available Amazon gift card denominations, USDC prices, and supported country.",
        "responses": {
          "200": {
            "description": "Amazon catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Brand not found"
          }
        }
      }
    },
    "/store/buy/amazon-10": {
      "post": {
        "operationId": "buy_amazon_10",
        "summary": "Buy a Amazon $10 gift card",
        "description": "Purchase a $10 Amazon gift card. Pay 10 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$10.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "AU",
                      "CA",
                      "DE",
                      "FR",
                      "GB",
                      "IT",
                      "MX",
                      "SA",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 10 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/amazon-25": {
      "post": {
        "operationId": "buy_amazon_25",
        "summary": "Buy a Amazon $25 gift card",
        "description": "Purchase a $25 Amazon gift card. Pay 25 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$25.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "AU",
                      "CA",
                      "DE",
                      "FR",
                      "GB",
                      "IT",
                      "MX",
                      "SA",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 25 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/amazon-50": {
      "post": {
        "operationId": "buy_amazon_50",
        "summary": "Buy a Amazon $50 gift card",
        "description": "Purchase a $50 Amazon gift card. Pay 50 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$50.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "AU",
                      "CA",
                      "DE",
                      "FR",
                      "GB",
                      "IT",
                      "MX",
                      "SA",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 50 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    },
    "/store/buy/amazon-100": {
      "post": {
        "operationId": "buy_amazon_100",
        "summary": "Buy a Amazon $100 gift card",
        "description": "Purchase a $100 Amazon gift card. Pay 100 USDC on Solana via x402; the redemption code is emailed to recipient_email instantly. Gas-free — RelAI sponsors the Solana fee.",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$100.00"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_email",
                  "country_code"
                ],
                "properties": {
                  "recipient_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the gift card"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "AE",
                      "AT",
                      "AU",
                      "CA",
                      "DE",
                      "FR",
                      "GB",
                      "IT",
                      "MX",
                      "SA",
                      "US"
                    ],
                    "description": "ISO country code for the gift card"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "Sender name (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redeem code returned. The gift card code is emailed to recipient_email."
          },
          "402": {
            "description": "Payment Required — 100 USDC"
          },
          "409": {
            "description": "Transaction already used"
          }
        }
      }
    }
  }
}
