{
  "openapi": "3.1.0",
  "info": {
    "title": "Dynamic Environments API",
    "description": "REST API for managing Dynamic environments: users, sessions, access gates, webhooks, and external wallet links.",
    "version": "1.0.0",
    "contact": {
      "name": "Dynamic",
      "url": "https://dynamic.xyz",
      "email": "hello@dynamic.xyz"
    }
  },
  "servers": [
    {
      "url": "https://app.dynamicauth.com/api/v0",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dynamic API token with `dyn_` prefix from https://app.dynamic.xyz/dashboard/developer/api"
      }
    },
    "parameters": {
      "environmentId": {
        "name": "environmentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Dynamic environment UUID from your dashboard."
      },
      "userId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "walletId": {
        "name": "walletId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "messageId": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "gateId": {
        "name": "gateId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "verifiedCredentials": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserResponse"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "UserCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "agent@example.com"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "publicKey": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string",
            "example": "EVM"
          },
          "walletProvider": {
            "type": "string"
          },
          "walletType": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WalletsResponse": {
        "type": "object",
        "properties": {
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "CreateWalletRequest": {
        "type": "object",
        "required": [
          "publicKey",
          "chain"
        ],
        "properties": {
          "publicKey": {
            "type": "string",
            "example": "0xYourPublicKey"
          },
          "chain": {
            "type": "string",
            "enum": [
              "EVM",
              "SOL",
              "BTC",
              "SUI"
            ],
            "example": "EVM"
          },
          "walletProvider": {
            "type": "string",
            "example": "metamask"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "environmentId": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isEnabled": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhooksResponse": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://your-api.example.com/webhooks/dynamic",
            "description": "HTTPS endpoint that will receive webhook POST requests."
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "user.created",
              "wallet.created",
              "session.created",
              "settlement.state.completed"
            ],
            "description": "Event types to subscribe to."
          },
          "isEnabled": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "WebhookUpdateRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Must be included even when not changing the URL."
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isEnabled": {
            "type": "boolean"
          }
        }
      },
      "WebhookMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "delivered",
              "failed",
              "pending"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookMessagesResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookMessage"
            }
          }
        }
      },
      "Gate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of rule objects defining gate conditions."
          },
          "outcome": {
            "type": "string",
            "enum": [
              "scope",
              "siteAccess",
              "block"
            ],
            "description": "What happens when conditions are not met."
          },
          "isEnabled": {
            "type": "boolean"
          },
          "enabledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GatesResponse": {
        "type": "object",
        "properties": {
          "gates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Gate"
            }
          }
        }
      },
      "GateCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "rules",
          "outcome"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Token holder gate"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Rule objects defining gate conditions."
          },
          "outcome": {
            "type": "string",
            "enum": [
              "scope",
              "siteAccess",
              "block"
            ],
            "description": "Action when gate conditions are not met.",
            "example": "block"
          }
        }
      },
      "GateUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "outcome": {
            "type": "string",
            "enum": [
              "scope",
              "siteAccess",
              "block"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionsResponse": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerToken": []
    }
  ],
  "paths": {
    "/environments/{environmentId}/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users in an environment",
        "description": "Returns paginated users. Filter by email, wallet address, or custom fields using the `filter` query param. Use `limit` and `offset` for pagination.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter params \u2014 e.g. filter[email]=user@example.com or filter[walletPublicKey]=0x...",
            "schema": {
              "type": "object"
            },
            "style": "form"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "includeSessions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "When true, includes the most recent sessions for each user."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated user list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "403": {
            "description": "Forbidden."
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a new user in the environment",
        "description": "Programmatically create a user in this environment. Returns the created user object.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "422": {
            "description": "Validation error."
          }
        }
      }
    },
    "/environments/{environmentId}/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user in the environment by ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "User object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user in the environment",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user from the environment",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/environments/{environmentId}/users/{userId}/sessions": {
      "get": {
        "operationId": "getUserSessions",
        "summary": "List sessions for a user",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "User sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/environments/{environmentId}/users/{userId}/sessions/revoke": {
      "post": {
        "operationId": "revokeUserSessions",
        "summary": "Revoke all sessions for a user",
        "description": "Force sign-out a user by revoking all their active sessions.",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions revoked."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/environments/{environmentId}/wallets": {
      "get": {
        "operationId": "listWallets",
        "summary": "List wallets in an environment",
        "description": "Returns paginated wallets across all users in this environment.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated wallet list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/wallets/{walletId}": {
      "get": {
        "operationId": "getWallet",
        "summary": "Get a wallet in the environment by ID",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/walletId"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "Wallet not found."
          }
        }
      },
      "delete": {
        "operationId": "deleteWallet",
        "summary": "Delete a wallet from the environment",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/walletId"
          }
        ],
        "responses": {
          "204": {
            "description": "Wallet deleted."
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/users/{userId}/wallets": {
      "get": {
        "operationId": "getUserWallets",
        "summary": "Get all wallets for a user",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "User's wallets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "User not found."
          }
        }
      },
      "post": {
        "operationId": "createUserWallet",
        "summary": "Link an external wallet to a user",
        "description": "Links an externally managed wallet (e.g. MetaMask, Phantom) to an existing Dynamic user. Not for embedded/MPC wallet creation \u2014 use the WaaS endpoints for that.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet linked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "422": {
            "description": "Validation error or user already has an embedded wallet."
          }
        }
      }
    },
    "/environments/{environmentId}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks for an environment",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook in the environment",
        "description": "Subscribe to events like `user.created`, `wallet.created`, `session.created`, or checkout settlement events (`settlement.state.completed`).",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "422": {
            "description": "Invalid URL or event name."
          }
        }
      }
    },
    "/environments/{environmentId}/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook in the environment by ID",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook in the environment",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook from the environment",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted."
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/webhooks/{webhookId}/messages": {
      "get": {
        "operationId": "listWebhookMessages",
        "summary": "List delivery attempts for a webhook",
        "description": "Returns message delivery history for debugging failed webhook deliveries.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook message history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookMessagesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/webhooks/{webhookId}/messages/{messageId}/redeliver": {
      "post": {
        "operationId": "redeliverWebhookMessage",
        "summary": "Redeliver a failed webhook message",
        "description": "Retries delivery of a specific webhook message. Idempotent \u2014 safe to call multiple times.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/messageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Redelivery queued."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "Message not found."
          }
        }
      }
    },
    "/environments/{environmentId}/gates": {
      "get": {
        "operationId": "listGates",
        "summary": "List access gates for an environment",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Gates list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      },
      "post": {
        "operationId": "createGate",
        "summary": "Create an access gate in the environment",
        "description": "Creates a gate that controls who can sign in or create wallets based on conditions (token holdings, allowlists, custom logic).",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Gate created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gate"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "422": {
            "description": "Invalid gate conditions."
          }
        }
      }
    },
    "/environments/{environmentId}/gates/{gateId}": {
      "get": {
        "operationId": "getGate",
        "summary": "Get an access gate in the environment by ID",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/gateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Gate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gate"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "Gate not found."
          }
        }
      },
      "put": {
        "operationId": "updateGate",
        "summary": "Update an access gate configuration",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/gateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated gate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gate"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      },
      "delete": {
        "operationId": "deleteGate",
        "summary": "Delete an access gate from the environment",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/gateId"
          }
        ],
        "responses": {
          "204": {
            "description": "Gate deleted."
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/gates/{gateId}/enable": {
      "put": {
        "operationId": "enableGate",
        "summary": "Enable an access gate to enforce it",
        "description": "Activates the gate so it enforces conditions on sign-in or wallet creation. Idempotent.",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/gateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Gate enabled."
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    },
    "/environments/{environmentId}/gates/{gateId}/disable": {
      "put": {
        "operationId": "disableGate",
        "summary": "Disable an access gate to stop enforcing",
        "description": "Deactivates the gate, allowing all users through. Idempotent.",
        "tags": [
          "Gates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          },
          {
            "$ref": "#/components/parameters/gateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Gate disabled."
          },
          "401": {
            "description": "Invalid or missing API token."
          }
        }
      }
    }
  }
}