{"openapi": "3.0.3", "info": {"title": "percall \u2014 Arc agent RPC (pay per call)", "version": "1.0.0", "description": "Keyless JSON-RPC gateway for AI agents on Arc (chainId 5042, Circle stablecoin chain). Pay per call in USDC via x402 (HTTP 402 + EIP-3009 USDC transferWithAuthorization). No API key. Free tier: 50 calls/day per wallet via X-From header. Full docs: https://percall.io/llms.txt", "contact": {"email": "support@percall.io"}, "x-guidance": "percall: keyless Arc mainnet (chainId 5042) JSON-RPC + early-chain data for AI agents. Send the request unauthenticated first; the server answers HTTP 402 with x402 v2 payment requirements. Sign a USDC transferWithAuthorization (EIP-3009) for the quoted amount to the payTo address in the 402 body, retry with the X-PAYMENT header, receive 200 + data + receipt. Payer pays no gas. Free tier: 50 calls/day per wallet via X-From header. Full agent docs: https://percall.io/llms.txt. /meme = trending memecoins + live model scores (S/T/rug). /score = single-token model score (S/T/rug + verdict). /price = token USD quote (all chains, GeckoTerminal)."}, "servers": [{"url": "https://api.percall.io"}], "paths": {"/base": {"post": {"summary": "Base mainnet JSON-RPC (chainId 8453), x402 paid (0.002-0.005 USDC/call) on Base USDC"}}, "/arc": {"post": {"operationId": "arcJsonRpc", "summary": "Arc mainnet JSON-RPC (chainId 5042), x402 paid (0.002-0.005 USDC/call) or free tier (X-From, 50/day)", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["jsonrpc", "method"], "properties": {"jsonrpc": {"type": "string", "const": "2.0"}, "id": {"type": "integer", "example": 1}, "method": {"type": "string", "example": "eth_blockNumber"}, "params": {"type": "array", "items": {}}}}}}}, "responses": {"402": {"description": "x402 payment challenge \u2014 sign accepts[0] USDC authorization and retry with X-PAYMENT header"}, "200": {"description": "JSON-RPC result"}}, "x-payment-info": {"price": {"mode": "dynamic", "currency": "USD", "min": "0.002", "max": "0.005"}, "protocols": [{"x402": {}}]}}}, "/plans": {"get": {"operationId": "plans", "summary": "Pricing plans: per-call rates, $5/7-day weekly pack, free tier", "security": [], "responses": {"200": {"description": "plans & prices"}}}}, "/alerts": {"post": {"operationId": "alertsFeed", "summary": "Address USDC delta feed (0.005 USDC): window in/out transfers + balance, for 30-60s polling", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["address"], "properties": {"address": {"type": "string", "example": "0x282d1999c5e7f87d603700d11ac1ee931537aa89"}, "window": {"type": "integer", "description": "window seconds 10..600", "example": 60}}}}}}, "responses": {"402": {"description": "x402 challenge"}, "200": {"description": "delta feed"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.005"}, "protocols": [{"x402": {}}]}}}, "/audit": {"post": {"operationId": "auditToken", "summary": "Token hygiene check (0.02 USDC): metadata, owner, proxy, 1h volume, risk flags, verdict", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["address"], "properties": {"address": {"type": "string", "description": "token contract 0x.."}}}}}}, "responses": {"402": {"description": "x402 challenge"}, "200": {"description": "audit report"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.02"}, "protocols": [{"x402": {}}]}}}, "/early": {"post": {"operationId": "earlyWatch", "summary": "Monitoring snapshot (0.01 USDC): latest Arc block + txs; optional address window watch", "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"address": {"type": "string", "example": "0x282d1999c5e7f87d603700d11ac1ee931537aa89"}, "window": {"type": "integer", "description": "watch window in seconds (Arc = 1s blocks), 10..300", "example": 60}}}}}}, "responses": {"402": {"description": "x402 payment challenge (0.01 USDC)"}, "200": {"description": "block + tx snapshot"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.01"}, "protocols": [{"x402": {}}]}}}, "/topup": {"post": {"operationId": "topupCredits", "summary": "Prepay USDC credits (one on-chain settlement, zero per-call gas). Optional plan=\"week\" = $5/7-day pack", "security": [], "responses": {"200": {"description": "credits granted"}, "400": {"description": "validation error"}}}}, "/health": {"get": {"operationId": "health", "summary": "liveness", "security": [], "responses": {"200": {"description": "ok"}}}}, "/stats": {"get": {"operationId": "stats", "summary": "live public stats (revenue, payers, settle success)", "security": [], "responses": {"200": {"description": "stats"}}}}, "/whales": {"get": {"operationId": "whales", "summary": "Top 20 USDC flow addresses in window", "description": "GET ?window=<seconds 60-86400, default 3600>. Rolling buffer, sub-second.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.005"}, "protocols": [{"x402": {}}]}}}, "/deployments": {"get": {"operationId": "deployments", "summary": "New contract deployments in window", "description": "GET ?window=<seconds 60-86400, default 3600>. Arc ~2800 deployments/day, scarce early-chain data.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.01"}, "protocols": [{"x402": {}}]}}}, "/wallet-report": {"get": {"operationId": "walletReport", "summary": "Address risk/flow profile", "description": "GET ?address=0x..&window=<seconds, default 86400>. Balance + window in/out + top 5 counterparties (contract-checked) + risk flags. Replaces ~8 RPC round-trips.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.05"}, "protocols": [{"x402": {}}]}}}, "/meme": {"get": {"operationId": "meme", "summary": "Trending memecoins + live model scores", "description": "GET ?chain=<solana|base|bsc|arc|all>&limit=<1-200, default 50>. Latest GMGN trending batch per chain (price, 1h/24h change, volume, liquidity, market cap) joined with live model scores (S signal / T timing / rug probability) where available. Freshness: data_age_s + stale flag in response.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.01"}, "protocols": [{"x402": {}}]}}}, "/token-report": {"get": {"operationId": "tokenReport", "summary": "Full token report", "description": "GET ?address=0x<token>. Everything in /audit plus top-10 recipient holders and flow concentration.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.05"}, "protocols": [{"x402": {}}]}}}, "/score": {"get": {"operationId": "score", "summary": "Single token model score", "description": "GET ?address=0x<token>&chain=<solana|base|bsc|arc>. Model score S (signal) / T (timing) / rug (probability) + verdict (strong/watch/neutral/risky). Universe = trending memecoins, refreshed ~10 min.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.01"}, "protocols": [{"x402": {}}]}}}, "/price": {"get": {"operationId": "price", "summary": "Token USD quote (all chains)", "description": "GET ?address=0x<token>&chain=<base|bsc|solana|arc>. Token USD price from top pool via GeckoTerminal: price_usd, h1/h6/h24 change, 24h volume, pool liquidity. chain auto-detected from the trending universe when omitted.", "parameters": [], "responses": {"200": {"description": "ok"}, "402": {"description": "Payment Required"}}, "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.005"}, "protocols": [{"x402": {}}]}}}}}