{
  "openapi": "3.0.3",
  "info": {
    "title": "Tetrac Trading API",
    "description": "Multi-exchange trading data API — tickers, funding rates, open interest,\ntechnical analysis (Tetrac scanner), news, economic calendar, market\nintelligence, volume data, and order execution across 30+ CEXs and DEXs.\n\n## Authentication\n\nEvery endpoint except the free `/api/v1/markets` discovery index requires one of:\n\n- **Session auth** — pass `ttc-auth-token` (Bearer) + `ttc-public-key` header for registered Tetrac users.\n- **x402 micropayment** — pass a signed Solana USDC payment ($0.05 standard, $0.50 for the full-market scanner snapshot) in the `x-x402-payment` header.\n  See [x402.json](https://www.tetrac.xyz/.well-known/x402.json) for payment details.\n\nResponses from paid endpoints include an `x-x402-receipt` header confirming payment.\n",
    "version": "1.0.0",
    "contact": {
      "email": "security@tetrac.xyz"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://www.tetrac.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/markets": {
      "get": {
        "operationId": "getMarketsIndex",
        "summary": "Market data endpoint index",
        "description": "Free discovery index for every `/api/v1/markets/*` endpoint — no payment and no session required. Returns `{pricing, methods}`: `pricing` is the standard per-request price of the listed endpoints `{amount, currency, network, per}`, and `methods` is keyed by sub-route slug (e.g. `funding-rates`) with `{name, path, method, description, price: {amount, currency}, params}` per entry, so an agent can see what each paid endpoint costs before paying for any of them. Rate-limited per client (per account when a session is presented); over the limit it returns 429 with `Retry-After`. (Free)\n",
        "responses": {
          "200": {
            "description": "Endpoint catalog and pricing summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "pricing": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "example": "0.05"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USDC"
                        },
                        "network": {
                          "type": "string",
                          "example": "Solana"
                        },
                        "per": {
                          "type": "string",
                          "example": "request"
                        }
                      }
                    },
                    "methods": {
                      "type": "object",
                      "description": "Keyed by sub-route slug, e.g. `funding-rates`",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "method": {
                            "description": "HTTP method, or an array when the endpoint accepts several",
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "params": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — retry after `Retry-After` seconds"
          }
        },
        "tags": [
          "Market Data"
        ],
        "security": []
      }
    },
    "/api/v1/markets/hybrid-tickers": {
      "get": {
        "operationId": "getHybridTickers",
        "summary": "Multi-exchange tickers",
        "description": "Returns an array of unified ticker objects (`symbol`, `price`, `change24h`, `volume24hUSD`, `bid`, `ask`, `exchange`) covering spot and perpetual pairs across 30+ CEXs and DEXs, served from a single hybrid cache. Use this to screen markets in one paid call instead of fanning out per-exchange. Query params filter the result set: `type` (spot|futures), `exchange`, `symbol`, `minimumVolume`, `minimumPrice`, `maximumPrice`, `up` (gainers ≥ X%), `down` (losers ≥ X%). ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Market type filter",
            "schema": {
              "type": "string",
              "enum": [
                "futures",
                "spot"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Exact symbol match",
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          },
          {
            "name": "minimumVolume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "schema": {
              "type": "integer",
              "example": 10000000
            }
          },
          {
            "name": "up",
            "in": "query",
            "description": "Filter markets up by at least X%",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "down",
            "in": "query",
            "description": "Filter markets down by at least X%",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by specific exchange",
            "schema": {
              "type": "string",
              "example": "binance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "spot": {
                          "type": "object"
                        },
                        "futures": {
                          "type": "object"
                        }
                      }
                    },
                    "cached": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/funding-rates": {
      "get": {
        "operationId": "getFundingRates",
        "summary": "Perpetual funding rates",
        "description": "Returns an array of perpetual-futures funding entries (`exchange`, `symbol`, `fundingRate`, `intervalHours`, `hourlyRate`, `dailyRoi`, `nextFundingTime`) live across major perp venues. Use to spot funding-rate arbitrage between venues, monitor extreme rates that signal crowded positioning, or rank perps by funding cost. Filter by `symbol`. ($0.05 USDC on Solana mainnet)\n\n**Comparing venues:** `fundingRate` is each venue's NATIVE per-interval rate, and that interval differs per MARKET — not merely per exchange. A single venue commonly runs 1h, 4h and 8h markets side by side, so raw `fundingRate` values are not comparable across rows. Use `hourlyRate` (rate normalized to a 1-hour basis) for any cross-venue comparison, and `dailyRoi` (`hourlyRate` x 24) for a rough 24h projection.\n\n`hourlyRate` and `dailyRoi` are **omitted** when the market's settlement interval could not be established, rather than being estimated from a default. Check `intervalSource` to distinguish a confirmed interval from an unknown one.\n",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Filter by symbol",
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FundingRate"
                      }
                    },
                    "cached": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/open-interest": {
      "get": {
        "operationId": "getOpenInterest",
        "summary": "Open interest across exchanges",
        "description": "Returns the latest open-interest snapshot for Binance crypto perpetuals — array of `{symbol, openInterest, openInterestValue (USD)}` plus a `marketsCount` and `timestamp`. Use to detect OI build-up that often precedes price moves and spot liquidation cascades. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OpenInterest"
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "marketsCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/listings": {
      "get": {
        "operationId": "getNewListings",
        "summary": "New token listings",
        "description": "Returns the latest \"new listings\" delta — `{data: {newListings: ProcessedTickerData[], totalCount, previousCount}, timestamp, cached}`. Pulls the live spot+perp ticker set from the hybrid market cache, diffs it against a rolling 24h known-symbols set, and returns the tokens that newly appeared. Server caches the result for 1h so concurrent agents see a stable answer; the rolling known-set then advances and the next GET produces the next delta. POST exists for clients with their own ticker source (submit `{ tickers: ProcessedTickerData[] }` to diff against the same known set). ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "New listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "newListings": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ticker"
                          }
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total symbols currently tracked (spot + perp)"
                        },
                        "previousCount": {
                          "type": "integer",
                          "description": "Size of the known-symbols set before this snapshot"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Epoch ms when the snapshot was computed"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True if served from the 1h snapshot cache, false on fresh compute"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/volume-snapshot": {
      "get": {
        "operationId": "getVolumeSnapshot",
        "summary": "Cross-exchange volume snapshot",
        "description": "Returns an array of `{exchange, volume24h (USD), pairCount}` plus a snapshot `timestamp` for cross-exchange 24-hour volume comparison. Use to rank exchanges by liquidity, detect volume migration between venues, or feed market-share dashboards. Filter by `exchange`. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by a specific exchange",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cached": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/swap-volume": {
      "get": {
        "operationId": "getSwapVolume",
        "summary": "DEX swap volume history",
        "description": "Returns historical daily DEX swap volume — an array of `{date, totalVolume (USD), perChainVolumes}` entries. Use to track on-chain trading activity over time and identify chains gaining DEX share. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Swap volume history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/symbol-venues": {
      "get": {
        "operationId": "getSymbolVenues",
        "summary": "Cross-exchange symbol listings index",
        "description": "Returns which venues list each symbol: `data.symbolVenues` maps an upper-cased symbol to the sorted venue ids that offer a market for it. This is a listings index (does a venue offer the market), not a price aggregate — use it to find where a symbol trades before calling a venue-specific endpoint. Rebuilt at most once every 24 hours; `data.updatedAt` is the build time (epoch ms), `data.venueCount` the number of venues that contributed at least one symbol, and `cached` whether the call was served from that cache. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Symbol → venue membership map",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbolVenues": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "updatedAt": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "venueCount": {
                          "type": "integer"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "cached": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/markets/ttc-scanner": {
      "get": {
        "operationId": "runTTCScanner",
        "summary": "Tetrac technical scanner",
        "description": "Runs a multi-timeframe Quadrant-lines technical scan for one symbol. Returns `{price, scans (per-timeframe scan results), scoring (bull/bear strength), signal: {direction (LONG|SHORT|NEUTRAL), strength, confidence (HIGH|MEDIUM|LOW), entry, stoploss, takeProfits[]}}`. Use as a one-call signal generator for a specific symbol/timeframe — entry, stop, and up to three TPs derived from the same fan structure. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1h",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "2h",
                "4h",
                "6h",
                "12h",
                "1d",
                "1w"
              ]
            }
          },
          {
            "name": "bars",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000
            }
          },
          {
            "name": "swingStrength",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner result with signal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "params": {
                      "type": "object"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "signal": {
                          "$ref": "#/components/schemas/ScannerSignal"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing symbol"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Technical Analysis"
        ]
      }
    },
    "/api/v1/markets/ttc-scanner-cache": {
      "get": {
        "operationId": "getTTCScannerCache",
        "summary": "Tetrac scanner — full-market signal snapshot",
        "description": "Returns the latest CACHED technical-analysis signals for every scanned market in one call (no params). Each entry carries the same `signal` payload as the per-symbol scanner. Use as a one-call market-wide signal feed; the snapshot refreshes at most hourly. ($0.50 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Full cached snapshot of per-market signals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "staleAtMs": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Epoch ms when the snapshot becomes eligible for a refresh, or null if none exists yet"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "generatedAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "universe": {
                          "type": "string",
                          "example": "binance-futures"
                        },
                        "symbols": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "quoteVolume": {
                                "type": "number"
                              },
                              "signal": {
                                "$ref": "#/components/schemas/ScannerSignal"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Technical Analysis"
        ]
      }
    },
    "/api/v1/markets/news": {
      "get": {
        "operationId": "getCryptoNews",
        "summary": "Aggregated crypto news",
        "description": "Returns a market-impact news feed — array of `{title, summary, source, url, publishedAt, sentiment, marketImpact}` entries aggregated from major crypto and macro outlets. Use to detect market-moving headlines or as feature input for sentiment-aware strategies. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "News feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NewsItem"
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Intelligence"
        ]
      }
    },
    "/api/v1/markets/insights": {
      "get": {
        "operationId": "getMarketInsights",
        "summary": "AI-powered market insights",
        "description": "Vector-similarity ticker search plus an LLM-generated market analysis for the given query.\nReturns:\n  - `insights` — natural-language analysis (`summary`, `analysis`, or `report` depending on `type`).\n  - `tickers` — up to `limit` Binance spot pairs (volume ≥ $1M) ranked by semantic similarity to `query`,\n    each enriched with the live ticker fields plus a one-line `description`.\n($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC outlook"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "summary",
              "enum": [
                "summary",
                "analysis",
                "report"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market insights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "insights": {
                          "type": "string",
                          "description": "LLM-generated analysis text"
                        },
                        "tickers": {
                          "type": "array",
                          "description": "Ranked similar tickers (Binance spot, volume ≥ $1M) with a one-line description",
                          "items": {
                            "type": "object"
                          }
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Intelligence"
        ]
      }
    },
    "/api/v1/markets/calendar": {
      "get": {
        "operationId": "getEconomicCalendar",
        "summary": "Crypto & macro economic calendar",
        "description": "Returns a filtered economic calendar — `{events: [{title, date, country, impact (high|medium|low), source, ...}], fromCache}`. Covers macro releases that move crypto (FOMC, CPI prints, NFP, ECB) plus crypto-specific events. Use to schedule strategy windows around high-impact macro events or pause trading bots ahead of releases. Filter by `impact` and `country`. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "impact",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Low",
                "Medium",
                "High"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "CPI"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Economic calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CalendarEvent"
                          }
                        },
                        "fromCache": {
                          "type": "boolean"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Intelligence"
        ]
      }
    },
    "/api/v1/markets/quakes": {
      "get": {
        "operationId": "getMarketQuakes",
        "summary": "Market quake detector",
        "description": "Returns a GeoJSON `FeatureCollection` of \"market quake\" events — sudden abnormal volume + price spikes detected across exchanges. Each feature carries `{symbol, exchange, magnitude, type (spike|dump), timestamp, geometry}`. Use as a real-time alert stream for unusual market activity. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Market quake events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Intelligence"
        ]
      }
    },
    "/api/v1/solana-perps/long-short": {
      "get": {
        "operationId": "getSolanaPerpsLongShort",
        "summary": "Solana perp long/short open-interest snapshot",
        "description": "Open-interest snapshot across Solana perpetual venues, collected server-side in one pass. `rows` holds venues that publish a genuine long-vs-short split (`{venue, symbol, longUsd, shortUsd, longPositions, shortPositions}` — the position counts are `null` when a venue publishes none); `totals` holds venues that publish combined open interest only (`{venue, symbol, totalUsd}`); `venueStatus` maps each venue id to `ok` or `error`, so a degraded source is visible instead of silently missing. `fetchedAt` is the ISO collection time. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "venues",
            "in": "query",
            "required": false,
            "description": "Comma-separated venue ids (case-insensitive) that `rows` and `totals` are narrowed to. Omit for every venue; the valid ids are the keys of `venueStatus`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Long/short and total open-interest rows per venue and symbol",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fetchedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "venue": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "longUsd": {
                            "type": "number"
                          },
                          "shortUsd": {
                            "type": "number"
                          },
                          "longPositions": {
                            "type": "integer",
                            "nullable": true
                          },
                          "shortPositions": {
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "totals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "venue": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "totalUsd": {
                            "type": "number",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "venueStatus": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "enum": [
                          "ok",
                          "error"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/solana-perps/pacifica-watchlist": {
      "get": {
        "operationId": "getPacificaWatchlist",
        "summary": "Pacifica top open-interest account watchlist",
        "description": "Returns the top Pacifica trader accounts ranked by current open-interest notional, trimmed to `{address, label, oiUsd}` each, plus `totalRanked` (accounts on the upstream leaderboard) and `fetchedAt`. `label` is `null` when the trader has enabled privacy mode. Built for subscribing to those accounts on Pacifica's public WebSocket — this endpoint is address discovery only and carries no trade events itself. Refreshed at most every 5 minutes. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of accounts to return. Values above the maximum are capped; a non-positive or non-numeric value falls back to the default.",
            "schema": {
              "type": "integer",
              "default": 250,
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked account watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string",
                            "nullable": true
                          },
                          "oiUsd": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "totalRanked": {
                      "type": "integer"
                    },
                    "fetchedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Market Data"
        ]
      }
    },
    "/api/v1/exchanges": {
      "get": {
        "operationId": "getExchangeData",
        "summary": "Exchange read — positions, balances, orders, bid-ask",
        "description": "Read-only exchange dispatcher — one endpoint that proxies read calls to any supported venue. Pass `method` plus the target `exchange`; for account-data methods, also pass `apiKey`/`apiSecret`/`passphrase` as query params.\n\nSupported methods (response shape varies by method):\n  - `getTickers` — array of live ticker objects for the venue\n  - `getBestBidAsk` — best bid/ask for a `symbol`\n  - `getPositions` — open positions for the credentialed account\n  - `getBalance` — account balance summary\n  - `getOrders` — open or historical orders\n  - `getUserTradeHistory` — fills\n\nReturns `{success, data: <method-shaped>, exchange, code}`. Use to query any supported exchange through one unified endpoint instead of integrating each venue's SDK. ($0.05 USDC on Solana mainnet)\n",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getTickers",
                "getBestBidAsk",
                "getPositions",
                "getBalance",
                "getOrders",
                "getUserTradeHistory"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "binance",
              "description": "Venue roster changes over time and is not enumerated here; the current list is returned by `GET /api/v1/exchanges` (including in its 402 discovery response, which requires no payment) and is shown on https://www.tetrac.xyz."
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "BTCUSDT"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiSecret",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passphrase",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "exchange": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      },
      "post": {
        "operationId": "executeExchangeAction",
        "summary": "Exchange trade — place/cancel orders, set leverage, close positions",
        "description": "Trading dispatcher — one endpoint that executes order/position actions on any supported venue. Body fields: `exchangeName`, `method`, `params` (method-specific), `credentials` (`apiKey`/`apiSecret`/`passphrase`).\n\n**IMPORTANT**: Executes REAL trades with REAL money. Always confirm parameters with the user before calling.\n\nSupported methods (`params` shape varies by method):\n  - `placeMarketOrder` — `{symbol, side, quantity, reduceOnly?}`\n  - `placeLimitOrder` — `{symbol, side, quantity, price, timeInForce?, reduceOnly?}`\n  - `placeStopOrder` — `{symbol, side, quantity, stopPrice, ...}`\n  - `cancelOrder` — `{symbol, orderId}`\n  - `cancelAllOrders` — `{symbol?}`\n  - `closeAllPositions` — `{}`\n  - `setLeverage` — `{symbol, leverage}`\n  - `setHedgeMode` — `{enabled}`\n\nReturns `{success, data: <method-shaped result>, exchange, code}`. Use to execute trades on any supported venue without integrating each SDK. ($0.05 USDC on Solana mainnet)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exchangeName": {
                    "type": "string",
                    "example": "binance",
                    "description": "Venue roster changes over time and is not enumerated here; the current list is returned by `GET /api/v1/exchanges` (including in its 402 discovery response, which requires no payment) and is shown on https://www.tetrac.xyz."
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "placeMarketOrder",
                      "placeLimitOrder",
                      "placeStopOrder",
                      "cancelOrder",
                      "cancelAllOrders",
                      "closeAllPositions",
                      "setLeverage",
                      "setHedgeMode",
                      "getDepositAddress",
                      "createWithdrawal"
                    ]
                  },
                  "params": {
                    "description": "Method-specific parameters (symbol, side, quantity, price, leverage, etc.)",
                    "type": "object"
                  },
                  "credentials": {
                    "description": "Exchange API credentials",
                    "type": "object",
                    "properties": {
                      "apiKey": {
                        "type": "string"
                      },
                      "apiSecret": {
                        "type": "string"
                      },
                      "passphrase": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "exchangeName",
                  "method",
                  "params",
                  "credentials"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    },
                    "exchange": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      }
    },
    "/api/v1/exchanges/latency": {
      "get": {
        "operationId": "getExchangeLatency",
        "summary": "Exchange reachability & latency probe",
        "description": "Probes every configured venue from Tetrac's servers and returns two independent measurements per exchange: a TLS-handshake time (`tlsLatency`/`tlsStatus`) and a full data-endpoint roundtrip (`dataLatency`/`dataStatus`), plus the resolved `hostname`, `ip`, hosting `org` and static `tickerCount`. Takes no parameters — every configured venue is probed on each call. Rows are sorted data-online first, then by ascending data latency. Use to pick the lowest-latency venue for execution, or to detect a venue whose API is degraded while its edge is still up. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Per-exchange latency probe results plus aggregate summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "description": "Aggregate counts and mean latency, split per probe type",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Number of exchanges probed"
                        },
                        "tls": {
                          "$ref": "#/components/schemas/LatencyProbeSummary"
                        },
                        "data": {
                          "$ref": "#/components/schemas/LatencyProbeSummary"
                        }
                      }
                    },
                    "exchanges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExchangeLatency"
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Epoch ms when the probe run completed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required (x402)"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "Ticker": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "example": "BTCUSDT"
          },
          "price": {
            "type": "number",
            "example": 67420.5
          },
          "volume24h": {
            "type": "number",
            "example": 1200000000
          },
          "changePercent": {
            "type": "number",
            "example": 2.3
          },
          "exchange": {
            "type": "string",
            "example": "binance"
          }
        }
      },
      "FundingRate": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "example": "BTCUSDT"
          },
          "exchange": {
            "type": "string",
            "example": "binance"
          },
          "fundingRate": {
            "type": "number",
            "description": "The venue's NATIVE rate for one settlement interval, as a decimal fraction (0.0001 = 0.01%). NOT comparable across rows — see hourlyRate.",
            "example": 0.0001
          },
          "intervalHours": {
            "type": "number",
            "description": "This market's settlement interval in hours. Omitted when it could not be established.",
            "example": 8
          },
          "intervalSource": {
            "type": "string",
            "enum": [
              "api-field",
              "api-derived",
              "venue-constant",
              "unknown"
            ],
            "description": "How intervalHours was determined. \"unknown\" means the rate is un-normalized and hourlyRate/dailyRoi are absent.",
            "example": "api-field"
          },
          "hourlyRate": {
            "type": "number",
            "description": "fundingRate normalized to a 1-hour basis. The cross-venue comparable. Omitted when intervalHours is unknown.",
            "example": 1.25e-05
          },
          "dailyRoi": {
            "type": "number",
            "description": "hourlyRate x 24 — a hypothetical 24h projection, not compounded. Omitted when hourlyRate is.",
            "example": 0.0003
          },
          "nextFundingTime": {
            "type": "integer",
            "format": "int64",
            "description": "Epoch milliseconds of the next settlement.",
            "example": 1785859200000
          }
        }
      },
      "OpenInterest": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "example": "BTCUSDT"
          },
          "openInterest": {
            "type": "number",
            "example": 12500000000
          },
          "openInterestUsd": {
            "type": "number",
            "example": 12500000000
          },
          "price": {
            "type": "number",
            "example": 67420.5
          },
          "volumeUsd": {
            "type": "number",
            "example": 800000000
          },
          "timestamp": {
            "type": "integer",
            "example": 1711670400000
          }
        }
      },
      "NewsItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "time_published": {
            "type": "string",
            "format": "date-time"
          },
          "summary": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "impact_score": {
            "type": "number",
            "example": 0.78
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "Positive",
              "Negative",
              "Neutral"
            ]
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "event": {
            "type": "string",
            "example": "CPI m/m"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "previous": {
            "type": "number"
          },
          "estimate": {
            "type": "number"
          },
          "actual": {
            "type": "number"
          },
          "impact": {
            "type": "string",
            "enum": [
              "Low",
              "Medium",
              "High"
            ]
          }
        }
      },
      "ScannerSignal": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string",
            "enum": [
              "LONG",
              "SHORT",
              "NEUTRAL"
            ]
          },
          "strength": {
            "type": "number",
            "example": 72
          },
          "confidence": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "LOW"
            ]
          },
          "entry": {
            "type": "number"
          },
          "stopLoss": {
            "type": "number",
            "nullable": true
          },
          "takeProfit1": {
            "type": "number",
            "nullable": true
          },
          "takeProfit2": {
            "type": "number",
            "nullable": true
          },
          "takeProfit3": {
            "type": "number",
            "nullable": true
          },
          "riskRewardRatio": {
            "type": "number",
            "nullable": true
          },
          "reasoning": {
            "type": "string"
          }
        }
      },
      "LatencyProbeSummary": {
        "type": "object",
        "description": "Aggregate result for one probe type (TLS handshake or data endpoint) across every exchange in the run.",
        "properties": {
          "online": {
            "type": "integer",
            "example": 34
          },
          "offline": {
            "type": "integer",
            "example": 4
          },
          "timeout": {
            "type": "integer",
            "example": 2
          },
          "averageLatency": {
            "type": "number",
            "description": "Mean latency in ms over the probes that succeeded. Failed probes (latency -1) are excluded, and the value is 0 when none succeeded.",
            "example": 148
          }
        }
      },
      "ExchangeLatency": {
        "type": "object",
        "properties": {
          "exchange": {
            "type": "string",
            "description": "Stable lower-case venue key",
            "example": "binance"
          },
          "hostname": {
            "type": "string",
            "description": "Host of the venue's data endpoint, which is also the TLS probe target",
            "example": "fapi.binance.com"
          },
          "ip": {
            "type": "string",
            "nullable": true,
            "description": "IPv4 resolved for hostname, or null when DNS lookup failed",
            "example": "13.35.12.9"
          },
          "tlsLatency": {
            "type": "number",
            "description": "TLS-handshake time in ms, or -1 when the probe failed or timed out",
            "example": 42
          },
          "tlsStatus": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "timeout"
            ],
            "description": "\"online\" = handshake completed, \"timeout\" = socket timeout, \"offline\" = TCP/TLS error.",
            "example": "online"
          },
          "dataLatency": {
            "type": "number",
            "description": "Data-endpoint roundtrip in ms, or -1 when the probe failed or timed out",
            "example": 118
          },
          "dataStatus": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "timeout"
            ],
            "description": "\"online\" = HTTP 2xx or 400 (some APIs 400 a bare GET), \"timeout\" = aborted at the probe deadline, \"offline\" = network error or other non-2xx.",
            "example": "online"
          },
          "lastChecked": {
            "type": "integer",
            "format": "int64",
            "description": "Epoch ms at which both probes for this exchange finished",
            "example": 1785859200000
          },
          "tickerCount": {
            "type": "integer",
            "description": "Static per-venue market count from configuration, not measured",
            "example": 512
          },
          "org": {
            "type": "string",
            "description": "Hosting org / ASN resolved from the IP, or a hostname-derived fallback",
            "example": "Cloudflare"
          }
        }
      }
    },
    "securitySchemes": {
      "AuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "ttc-auth-token",
        "description": "Session token from Tetrac login (24-hour expiry)"
      },
      "PublicKey": {
        "type": "apiKey",
        "in": "header",
        "name": "ttc-public-key",
        "description": "Solana public key associated with the session token"
      },
      "X402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "x-x402-payment",
        "description": "Signed Solana USDC micropayment ($0.05 standard, $0.50 for the full-market scanner snapshot) — alternative to session auth"
      }
    }
  },
  "tags": [
    {
      "name": "Market Data",
      "description": "Real-time tickers, funding rates, open interest, volume, and listings"
    },
    {
      "name": "Technical Analysis",
      "description": "Tetrac scanner multi-market technical analysis"
    },
    {
      "name": "Market Intelligence",
      "description": "AI insights, news, economic calendar, and market quake detection"
    },
    {
      "name": "Exchange Infrastructure",
      "description": "Exchange read operations and trade execution"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "PublicKey": []
    },
    {
      "X402Payment": []
    }
  ]
}