{
  "openapi": "3.1.0",
  "info": {
    "title": "Venum RPC",
    "version": "1.0.0",
    "description": "Pay-per-call Solana mainnet JSON-RPC endpoint. All standard Solana JSON-RPC methods are dispatched through a single POST `/`. Pricing is flat: $0.0001 per request regardless of method or response size. USDC settlement on Solana via Solana MPP sessions ($25 cap / 1h TTL).",
    "license": { "name": "Proprietary" }
  },
  "servers": [
    { "url": "https://pay.rpc.venum.dev" }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Solana JSON-RPC dispatch",
        "description": "Send any Solana JSON-RPC method as a standard `{jsonrpc:\"2.0\", id, method, params}` envelope. Behaves as a drop-in for any web3.js `Connection` URL. Common methods include `getAccountInfo`, `getBalance`, `getBlock`, `getLatestBlockhash`, `getProgramAccounts`, `getSignaturesForAddress`, `getSlot`, `getTokenAccountsByOwner`, `getTransaction`, `getVersion`, and `sendTransaction`. Returns the upstream JSON-RPC response verbatim.",
        "operationId": "solanaJsonRpc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"]
                  },
                  "id": {
                    "oneOf": [
                      { "type": "string" },
                      { "type": "integer" },
                      { "type": "null" }
                    ]
                  },
                  "method": {
                    "type": "string",
                    "description": "Any Solana JSON-RPC method name."
                  },
                  "params": {
                    "type": "array",
                    "description": "Method-specific positional parameters per the Solana JSON-RPC spec."
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getHealth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from the Solana cluster.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": { "type": "string" },
                    "id": {
                      "oneOf": [
                        { "type": "string" },
                        { "type": "integer" },
                        { "type": "null" }
                      ]
                    },
                    "result": {},
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "integer" },
                        "message": { "type": "string" },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Returned when no valid Solana MPP session cookie is present. Inspect the `www-authenticate: Payment …` header for the session challenge.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "endpoint": { "type": "object" },
                    "error": { "type": "string" },
                    "message": { "type": "string" },
                    "pricing": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
