{
  "openapi": "3.1.0",
  "info": {
    "title": "Nodit x402 API",
    "version": "1.0.0",
    "description": "# Nodit on-chain APIs — raw JSON-RPC and indexed data queries\n\nNodit gives you two layers of on-chain access from one platform. Go straight to the chain with the **Node API** (raw JSON-RPC), or query the same data already indexed with the **Web3 Data API** — token balances, transfers, holders, NFTs, and stats, ready to use with no ETL of your own. Raw RPC when you need the chain as-is; indexed queries when you need answers.\n\n## Two ways to pay\n\n- **Pay-Per-Use** (`/pay-per-use/**`) — settle each request on-chain. No pre-funding, no authentication, no onboarding. Ideal for low-frequency calls and prototyping. From 0.001 USDC per request.\n- **Credit** (`/credit/**`) — top up USDC once, then deduct off-chain per call. Ideal for high-frequency, predictable workloads. Sign in with your wallet (SIWX) for a 1-hour JWT.\n",
    "contact": {
      "name": "Lambda256 Co., Ltd.",
      "url": "https://www.nodit.io"
    }
  },
  "servers": [
    {
      "url": "https://x402.nodit.io",
      "description": "Nodit x402 server"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Wallet-signature (SIWX) based authentication"
    },
    {
      "name": "credit",
      "description": "Credit balance management and credit-mode API calls"
    },
    {
      "name": "ppu",
      "description": "Pay-Per-Use mode API calls"
    },
    {
      "name": "data",
      "description": "Web3 Data API calls (proxied)"
    },
    {
      "name": "rpc",
      "description": "Node API (JSON-RPC) relay calls (proxied)"
    },
    {
      "name": "payments",
      "description": "Payment and usage history lookup"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Generate a short-lived JWT from a SIWX wallet signature",
        "description": "Verifies a Sign In With X (SIWX) format message and wallet signature and issues an account-scope JWT access token. Authentication uses the wallet signature alone — no sign-up or KYC.\n\n**Why you need this:** the JWT is required for **Credit mode** payments. In Credit mode, each API call is settled by deducting from your pre-funded credit balance off-chain, so the server must know which account to charge — the JWT identifies that account on every `/credit/**` request. Send the token in the `Authorization: Bearer <token>` header; it is valid for 1 hour, after which you re-authenticate here.\n\n**Pay-Per-Use mode does not need this** — those calls carry an on-chain payment per request and require no authentication.",
        "operationId": "authenticate",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiwxAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication succeeded — JWT issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or signature verification failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credit/charge": {
      "post": {
        "tags": [
          "credit"
        ],
        "summary": "Create a credit top-up with an x402 USDC payment",
        "description": "Tops up the credit balance with an on-chain USDC payment.\n\n- When called without the `payment-signature` header, returns **402 Payment Required** along with the payment requirements (PaymentRequirements).\n- When called again with the payment signature in the `payment-signature` header, the facilitator verifies/settles the payment and returns the balance after the top-up.\n\nThe top-up amount must be a positive atomic USDC string of at least **$0.01** (`10000` atomic USDC, 6 decimals). A rate limit of 10 requests per minute applies.",
        "operationId": "creditCharge",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top-up succeeded",
            "headers": {
              "PAYMENT-RESPONSE": {
                "$ref": "#/components/headers/PaymentResponseHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Top-up amount format/range error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "description": "Top-up rate limit exceeded (10/min)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Payment settlement failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credit/balance": {
      "get": {
        "tags": [
          "credit"
        ],
        "summary": "Fetch the remaining prepaid Nodit credit balance",
        "description": "Returns the current account's credit balance (atomic USDC). Returns \"0\" if the account does not exist.",
        "operationId": "creditBalance",
        "responses": {
          "200": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": [
          "payments"
        ],
        "summary": "List payment and usage history",
        "description": "Returns a paginated payment history that combines credit top-ups, credit usage, and PPU payments. It is automatically filtered by the accountId in the JWT, and other accounts' data cannot be queried.",
        "operationId": "paymentsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentsFrom"
          },
          {
            "$ref": "#/components/parameters/PaymentsTo"
          },
          {
            "$ref": "#/components/parameters/PaymentsBilling"
          },
          {
            "$ref": "#/components/parameters/PaymentsStatus"
          },
          {
            "$ref": "#/components/parameters/PaymentsServiceChain"
          },
          {
            "$ref": "#/components/parameters/PaymentsSearch"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "rpp",
            "in": "query",
            "required": false,
            "description": "Rows per page",
            "schema": {
              "type": "integer",
              "default": 12,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment history list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Query parameter validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/credit/{chain}/{network}/json-rpc": {
      "post": {
        "tags": [
          "credit",
          "rpc"
        ],
        "summary": "Send a raw JSON-RPC request to the chain node (credit)",
        "description": "Nodit Node API (JSON-RPC) relay. Credit mode x402 payment. Without a payment-signature, returns 402. method/params are passed through to the node.",
        "operationId": "credit_jsonRpc",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain01"
          },
          {
            "$ref": "#/components/parameters/Network01"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — node response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/{chain}/{network}/json-rpc": {
      "post": {
        "tags": [
          "ppu",
          "rpc"
        ],
        "summary": "Send a raw JSON-RPC request to the chain node (pay-per-use)",
        "description": "Nodit Node API (JSON-RPC) relay. Pay-Per-Use mode x402 payment. Without a payment-signature, returns 402. method/params are passed through to the node.",
        "operationId": "payperuse_jsonRpc",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain01"
          },
          {
            "$ref": "#/components/parameters/Network01"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — node response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/searchTokenContractMetadataByKeyword": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Search Token Contract Metadata by Keyword (credit)",
        "description": "Retrieves the list of contracts matching the ERC20 token contract name or symbol.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_searchTokenContractMetadataByKeyword",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/searchTokenContractMetadataByKeyword__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/searchTokenContractMetadataByKeyword__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/searchTokenContractMetadataByKeyword": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Search Token Contract Metadata by Keyword (pay-per-use)",
        "description": "Retrieves the list of contracts matching the ERC20 token contract name or symbol.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_searchTokenContractMetadataByKeyword",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/searchTokenContractMetadataByKeyword__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/searchTokenContractMetadataByKeyword__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenTransfersByContract": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Transfers by Contract (credit)",
        "description": "Retrieves the list of ERC20 token transfers that occurred from a specific contract. Results include token contract metadata and the transferred token amount.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenTransfersByContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenTransfersByContract": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Transfers by Contract (pay-per-use)",
        "description": "Retrieves the list of ERC20 token transfers that occurred from a specific contract. Results include token contract metadata and the transferred token amount.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenTransfersByContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByContract__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenPairByAssetType": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Pair by Asset Type (credit)",
        "description": "Retrieves token pair information for a specific asset type.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenPairByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenPairByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenPairByAssetType__aptos__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenPairByAssetType": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Pair by Asset Type (pay-per-use)",
        "description": "Retrieves token pair information for a specific asset type.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenPairByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenPairByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenPairByAssetType__aptos__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenMetadataByAssetTypes": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Metadata by Asset Types (credit)",
        "description": "Retrieves token metadata for the specified asset types.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenMetadataByAssetTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenMetadataByAssetTypes__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenMetadataByAssetTypes__aptos__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenMetadataByAssetTypes": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Metadata by Asset Types (pay-per-use)",
        "description": "Retrieves token metadata for the specified asset types.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenMetadataByAssetTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenMetadataByAssetTypes__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenMetadataByAssetTypes__aptos__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenBalanceChangesWithinRange": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Balance Changes Within Range (credit)",
        "description": "Retrieves token balance change history within the specified block range.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenBalanceChangesWithinRange",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenBalanceChangesWithinRange__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenBalanceChangesWithinRange": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Balance Changes Within Range (pay-per-use)",
        "description": "Retrieves token balance change history within the specified block range.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenBalanceChangesWithinRange",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenBalanceChangesWithinRange__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenBalanceChangesByAssetType": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Balance Changes by Asset Type (credit)",
        "description": "Retrieves token balance change history by asset type.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenBalanceChangesByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenBalanceChangesByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenBalanceChangesByAssetType": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Balance Changes by Asset Type (pay-per-use)",
        "description": "Retrieves token balance change history by asset type.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenBalanceChangesByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenBalanceChangesByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenPricesByContracts": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Prices by Contracts (credit)",
        "description": "Retrieves the on-chain market price of tokens issued by the specified ERC20 token contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.\n\n> 🚧 Things to know when querying token prices\n>\n> Token prices provided by this API are based on CoinMarketCap data. Price information is updated periodically, so it may differ from real-time prices. Additionally, querying tokens not registered on CoinMarketCap will return an empty array.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenPricesByContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain04"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenPricesByContracts__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenPricesByContracts__evm__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenPricesByContracts": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Prices by Contracts (pay-per-use)",
        "description": "Retrieves the on-chain market price of tokens issued by the specified ERC20 token contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.\n\n> 🚧 Things to know when querying token prices\n>\n> Token prices provided by this API are based on CoinMarketCap data. Price information is updated periodically, so it may differ from real-time prices. Additionally, querying tokens not registered on CoinMarketCap will return an empty array.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenPricesByContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain04"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenPricesByContracts__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenPricesByContracts__evm__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenContractMetadataByContracts": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Contract Metadata by Contracts (credit)",
        "description": "Retrieves metadata for specific ERC20 contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenContractMetadataByContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/contractAddresses__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenContractMetadataByContracts__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/contractMetadataList__evm__Res"
                    },
                    {
                      "$ref": "#/components/schemas/getTokenContractMetadataByContracts__tron__Res"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenContractMetadataByContracts": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Contract Metadata by Contracts (pay-per-use)",
        "description": "Retrieves metadata for specific ERC20 contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenContractMetadataByContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/contractAddresses__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenContractMetadataByContracts__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/contractMetadataList__evm__Res"
                    },
                    {
                      "$ref": "#/components/schemas/getTokenContractMetadataByContracts__tron__Res"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenTransfersByCurrencyAndIssuer": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Transfers By Currency And Issuer (credit)",
        "description": "Retrieves token transfer history for a specific currency and issuer.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenTransfersByCurrencyAndIssuer",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain05"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenTransfersByCurrencyAndIssuer__xrpl__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenTransfersByCurrencyAndIssuer": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Transfers By Currency And Issuer (pay-per-use)",
        "description": "Retrieves token transfer history for a specific currency and issuer.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenTransfersByCurrencyAndIssuer",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain05"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenTransfersByCurrencyAndIssuer__xrpl__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenHoldersByContract": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Holders By Contract (credit)",
        "description": "Retrieves the holder list for a specific ERC20 token contract. The holder list includes holder addresses and the quantity of tokens held by each holder.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenHoldersByContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/contractAddressPaged__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenHoldersByContract__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenHoldersByContract": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Holders By Contract (pay-per-use)",
        "description": "Retrieves the holder list for a specific ERC20 token contract. The holder list includes holder addresses and the quantity of tokens held by each holder.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenHoldersByContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/contractAddressPaged__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenHoldersByContract__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenAccountsByAssetType": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Accounts by Asset Type (credit)",
        "description": "Retrieves the list of accounts holding a specific asset type.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenAccountsByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenAccountsByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenAccountsByAssetType": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Accounts by Asset Type (pay-per-use)",
        "description": "Retrieves the list of accounts holding a specific asset type.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenAccountsByAssetType",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain03"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getTokenAccountsByAssetType__aptos__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenTransfersByAccount": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Transfers by Account (credit)",
        "description": "Retrieves the list of ERC20 token transfers sent or received by a specific address. Results include token contract metadata and the transferred token amount.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenTransfersByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain06"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenTransfersByAccount": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Transfers by Account (pay-per-use)",
        "description": "Retrieves the list of ERC20 token transfers sent or received by a specific address. Results include token contract metadata and the transferred token amount.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenTransfersByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain06"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersByAccount__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokensOwnedByAccount": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Tokens Owned By Account (credit)",
        "description": "Retrieves the list of ERC20 tokens held by a specific account. Results include the quantity held per token and token contract metadata.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokensOwnedByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain07"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__aptos__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/paginatedItems__common__Res"
                    },
                    {
                      "$ref": "#/components/schemas/getTokensOwnedByAccount__aptos__Res"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokensOwnedByAccount": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Tokens Owned By Account (pay-per-use)",
        "description": "Retrieves the list of ERC20 tokens held by a specific account. Results include the quantity held per token and token contract metadata.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokensOwnedByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain07"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokensOwnedByAccount__aptos__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/paginatedItems__common__Res"
                    },
                    {
                      "$ref": "#/components/schemas/getTokensOwnedByAccount__aptos__Res"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenBalanceChangesByAccount": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Balance Changes by Account (credit)",
        "description": "Retrieves the IOU token balance change history for a specific account.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenBalanceChangesByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain08"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenBalanceChangesByAccount__aptos__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenBalanceChangesByAccount__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenBalanceChangesByAccount": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Balance Changes by Account (pay-per-use)",
        "description": "Retrieves the IOU token balance change history for a specific account.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenBalanceChangesByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain08"
          },
          {
            "$ref": "#/components/parameters/Network03"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenBalanceChangesByAccount__aptos__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenBalanceChangesByAccount__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenAllowance": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Fetch the token allowance granted to a spender (credit)",
        "description": "Retrieves the amount of ERC20 tokens that the owner has approved for the spender.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenAllowance",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenAllowance__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenAllowance__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenAllowance___shared__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenAllowance": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Fetch the token allowance granted to a spender (pay-per-use)",
        "description": "Retrieves the amount of ERC20 tokens that the owner has approved for the spender.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenAllowance",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain02"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenAllowance__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenAllowance__tron__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenAllowance___shared__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/token/getTokenTransfersWithinRange": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Token Transfers Within Range (credit)",
        "description": "Retrieves the list of ERC20 token transfers that occurred during a specific period. Results include token contract metadata and the transferred token amount.\n\n\n> 📘 Period setting tip\n> If the specified period is long, response time may increase. For faster responses, it is recommended to set only the necessary period.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getTokenTransfersWithinRange",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain06"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/transfersWithinRange__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/token/getTokenTransfersWithinRange": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Token Transfers Within Range (pay-per-use)",
        "description": "Retrieves the list of ERC20 token transfers that occurred during a specific period. Results include token contract metadata and the transferred token amount.\n\n\n> 📘 Period setting tip\n> If the specified period is long, response time may increase. For faster responses, it is recommended to set only the necessary period.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getTokenTransfersWithinRange",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain06"
          },
          {
            "$ref": "#/components/parameters/Network02"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__evm__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__kaia__Req"
                  },
                  {
                    "$ref": "#/components/schemas/transfersWithinRange__tron__Req"
                  },
                  {
                    "$ref": "#/components/schemas/getTokenTransfersWithinRange__xrpl__Req"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/ens/getEnsRecordsByAccount": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get ENS Records By Account (credit)",
        "description": "Retrieves ENS domain information by entering the ENS domain owner address or the address that the domain points to. \nownerAddress indicates the ENS domain owner address, and resolvedAddress indicates the address that the ENS domain points to.\n\t\t\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getEnsRecordsByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getEnsRecordsByAccount__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/ens/getEnsRecordsByAccount": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get ENS Records By Account (pay-per-use)",
        "description": "Retrieves ENS domain information by entering the ENS domain owner address or the address that the domain points to. \nownerAddress indicates the ENS domain owner address, and resolvedAddress indicates the address that the ENS domain points to.\n\t\t\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getEnsRecordsByAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getEnsRecordsByAccount__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/ens/getEnsRecordByName": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Fetch the ENS record registered for a name (credit)",
        "description": "Retrieves ENS domain information by entering the ENS domain name.\n\t\t\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getEnsRecordByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ensName__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEnsRecordByName__evm__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/ens/getEnsRecordByName": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Fetch the ENS record registered for a name (pay-per-use)",
        "description": "Retrieves ENS domain information by entering the ENS domain name.\n\t\t\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getEnsRecordByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ensName__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEnsRecordByName__evm__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/ens/getEnsNameByAddress": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Resolve a wallet address to its ENS name (credit)",
        "description": "Returns the mapped ENS domain name by entering an address.\n\n\n> 🚧 Seeing null even though the address has an ENS domain name?\n>\n> Multiple domain names can point to a single address. This API returns only the name registered as the Primary Name. If you want to check all names, try [Get Ens Records By Account](ref:getensrecordsbyaccount)!\n\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getEnsNameByAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getEnsNameByAddress__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEnsNameByAddress__evm__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/ens/getEnsNameByAddress": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Resolve a wallet address to its ENS name (pay-per-use)",
        "description": "Returns the mapped ENS domain name by entering an address.\n\n\n> 🚧 Seeing null even though the address has an ENS domain name?\n>\n> Multiple domain names can point to a single address. This API returns only the name registered as the Primary Name. If you want to check all names, try [Get Ens Records By Account](ref:getensrecordsbyaccount)!\n\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getEnsNameByAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getEnsNameByAddress__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEnsNameByAddress__evm__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/ens/getAddressByEnsName": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Resolve an ENS name to its wallet address (credit)",
        "description": "Retrieves the mapped address by entering the ENS domain name.\n\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getAddressByEnsName",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ensName__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressByEnsName__evm__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/ens/getAddressByEnsName": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Resolve an ENS name to its wallet address (pay-per-use)",
        "description": "Retrieves the mapped address by entering the ENS domain name.\n\n\n> 🚧 Please verify the network when using!\n>\n> This API is supported only on Ethereum Mainnet and cannot be used on other networks. Please verify the network when using.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getAddressByEnsName",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain09"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ensName__evm__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressByEnsName__evm__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/asset/getAssetTransfersById": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Asset Transfers By ID (credit)",
        "description": "Retrieves the transfer history for a specific TRC-10 asset.\n\n> 🚧 What is TRC10?\n>\n> TRC10 is the native token standard supported by Tron. Tokens issued under this standard are created according to the specification built into the Tron chain itself without using smart contracts. Thanks to this structural characteristic, tokens can be issued easily without complex processes, and each token is identified by a unique Asset ID.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getAssetTransfersById",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain10"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getAssetTransfersById__tron__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/asset/getAssetTransfersById": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Asset Transfers By ID (pay-per-use)",
        "description": "Retrieves the transfer history for a specific TRC-10 asset.\n\n> 🚧 What is TRC10?\n>\n> TRC10 is the native token standard supported by Tron. Tokens issued under this standard are created according to the specification built into the Tron chain itself without using smart contracts. Thanks to this structural characteristic, tokens can be issued easily without complex processes, and each token is identified by a unique Asset ID.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getAssetTransfersById",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain10"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getAssetTransfersById__tron__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedItems__common__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/asset/getAssetMetadataByIssuer": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Asset Metadata By Issuer (credit)",
        "description": "Retrieves metadata for TRC-10 assets issued by a specific issuer.\n\n> 🚧 What is TRC10?\n>\n> TRC10 is the native token standard supported by Tron. Tokens issued under this standard are created according to the specification built into the Tron chain itself without using smart contracts. Thanks to this structural characteristic, tokens can be issued easily without complex processes, and each token is identified by a unique Asset ID.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getAssetMetadataByIssuer",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain10"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getAssetMetadataByIssuer__tron__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAssetMetadataByIssuer__tron__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/asset/getAssetMetadataByIssuer": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Asset Metadata By Issuer (pay-per-use)",
        "description": "Retrieves metadata for TRC-10 assets issued by a specific issuer.\n\n> 🚧 What is TRC10?\n>\n> TRC10 is the native token standard supported by Tron. Tokens issued under this standard are created according to the specification built into the Tron chain itself without using smart contracts. Thanks to this structural characteristic, tokens can be issued easily without complex processes, and each token is identified by a unique Asset ID.\n\n*Paid per call via x402 (Pay-Per-Use mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "payperuse_getAssetMetadataByIssuer",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain10"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getAssetMetadataByIssuer__tron__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAssetMetadataByIssuer__tron__Res"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "security": []
      }
    },
    "/credit/v1/{chain}/{network}/asset/getAssetMetadataByIds": {
      "post": {
        "tags": [
          "credit",
          "data"
        ],
        "summary": "Get Asset Metadata By IDs (credit)",
        "description": "Retrieves metadata for a specific TRC-10 asset.\n\n> 🚧 What is TRC10?\n>\n> TRC10 is the native token standard supported by Tron. Tokens issued under this standard are created according to the specification built into the Tron chain itself without using smart contracts. Thanks to this structural characteristic, tokens can be issued easily without complex processes, and each token is identified by a unique Asset ID.\n\n*Paid per call via x402 (Credit mode). Without a `payment-signature` header, the request returns **402 Payment Required** with the payment requirements; include the signed payment to receive the result.*",
        "operationId": "credit_getAssetMetadataByIds",
        "parameters": [
          {
            "$ref": "#/components/parameters/Chain10"
          },
          {
            "$ref": "#/components/parameters/Network04"
          },
          {
            "$ref": "#/components/parameters/PaymentSignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getAssetMetadataByIds__tron__Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — Nodit Data API result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAssetMetadataByIds__tron__Res"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/pay-per-use/v1/{chain}/{network}/asset/getAssetMetadataByIds": {
      "post": {
        "tags": [
          "ppu",
          "data"
        ],
        "summary": "Get Asset Metadata By IDs (pay-per-use)",
[...]
