{
  "openapi": "3.0.3",
  "info": {
    "title": "Red Queen Intelligence & Containment API",
    "description": "Premium real-time apocalypse telemetry and survival containment data feeds. Protected by x402 open-protocol stablecoin micropayments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://redqueen.space",
      "description": "Production Red Queen Mainframe Gateway"
    }
  ],
  "paths": {
    "/api/intel/premium": {
      "get": {
        "summary": "Premium Global Threat Briefing",
        "description": "Returns real-time USGS earthquake, NASA natural hazard, and Disease.sh global pathogen metrics, calculated through the Red Queen global entropy matrix.",
        "operationId": "getPremiumIntel",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Optional Bearer JWT token to award XP directly to the operative's profile.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Payment-Signature",
            "in": "header",
            "required": false,
            "description": "Standard x402 payment proof containing the transaction signature for the 0.01 USDC transfer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful decryption of global threat dossier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "timestamp": { "type": "string" },
                    "clearance": { "type": "string" },
                    "intel": {
                      "type": "object",
                      "properties": {
                        "headline": { "type": "string" },
                        "summary": { "type": "string" },
                        "combinedEntropyIndex": { "type": "string" },
                        "directive": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns standard x402 exact SVM scheme challenge details for 0.01 USDC payment routing."
          }
        }
      }
    },
    "/api/intel/depin": {
      "get": {
        "summary": "Live DePIN Mesh Network Diagnostic Telemetry",
        "description": "Returns live node stability percentage, delinquent validator list, vote performance thresholds, and average priority fee metrics queried directly from Solana Mainnet Beta.",
        "operationId": "getDepinIntel",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Optional Bearer JWT token to award XP directly to the operative's profile.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Payment-Signature",
            "in": "header",
            "required": false,
            "description": "Standard x402 payment proof containing the transaction signature for the 0.02 USDC transfer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful decryption of live validator and node analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "timestamp": { "type": "string" },
                    "clearance": { "type": "string" },
                    "depin": {
                      "type": "object",
                      "properties": {
                        "scannerName": { "type": "string" },
                        "onlineNodes": { "type": "integer" },
                        "compromisedNodes": { "type": "integer" },
                        "bandwidthTaintIndex": { "type": "string" },
                        "networkHealth": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns standard x402 exact SVM scheme challenge details for 0.02 USDC payment routing."
          }
        }
      }
    }
  }
}
