{
  "openapi": "3.1.0",
  "info": {
    "title": "smartmoney.market Pay Gateway API",
    "description": "Agent-ready smart money market data over Pay / MPP: curated 13-F fund positioning, selected issuer-side Form 4 insider activity, and House PTR trading signals.",
    "version": "v1",
    "contact": {
      "name": "smartmoney.market",
      "url": "https://smartmoney.market/agents"
    },
    "x-guidance": "Start with GET /api for the public route map. Use GET /api/fund-universe before fund endpoints and GET /api/insider-tracked-stocks before insider endpoints. Paid routes return HTTP 402 through the Pay / MPP gateway and settle in USDC on Solana mainnet."
  },
  "servers": [
    {
      "url": "https://pay.smartmoney.market",
      "description": "Production Pay / MPP gateway"
    }
  ],
  "tags": [
    {
      "name": "Discovery"
    },
    {
      "name": "Funds"
    },
    {
      "name": "Tickers"
    },
    {
      "name": "Insiders"
    },
    {
      "name": "Congress"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "getDiscovery",
        "summary": "Get public route map",
        "description": "List public smartmoney.market API routes, payment gateway details, and spend-aware endpoint guidance. Free, no payment required.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "Get agent instructions",
        "description": "Return plain-text agent instructions, coverage notes, endpoint guidance, and access details. Free, no payment required.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Plain-text agent guidance.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check health",
        "description": "Check smartmoney.market gateway and upstream FastAPI health status. Free, no payment required.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          }
        }
      }
    },
    "/api/insider-tracked-stocks": {
      "get": {
        "operationId": "listInsiderTrackedStocks",
        "summary": "List insider coverage",
        "description": "List stock tickers and company names selected for issuer-side Form 4 insider tracking. Use this free endpoint before paying for insider endpoints.",
        "tags": [
          "Discovery",
          "Insiders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          }
        }
      }
    },
    "/api/fund-universe": {
      "get": {
        "operationId": "listFundUniverse",
        "summary": "List fund coverage",
        "description": "List curated fund display names, slugs, and official names for coverage discovery. Use this free endpoint before paying for fund endpoints.",
        "tags": [
          "Discovery",
          "Funds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          }
        }
      }
    },
    "/api/funds": {
      "get": {
        "operationId": "listFunds",
        "summary": "Get premium fund overview",
        "description": "Retrieve premium all-funds overview with manager, AUM, latest quarter, top holdings, and quarter-over-quarter movement.",
        "tags": [
          "Funds"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/fund/{slug}/snapshot": {
      "get": {
        "operationId": "getFundSnapshot",
        "summary": "Get fund snapshot",
        "description": "Retrieve snapshot holdings for a specific fund with position weights, values, and history.",
        "tags": [
          "Funds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FundSlug"
          },
          {
            "$ref": "#/components/parameters/Limit500"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/fund/{slug}/changes": {
      "get": {
        "operationId": "getFundChanges",
        "summary": "Get fund changes",
        "description": "Retrieve quarter-over-quarter changes for a specific fund, including new buys, exits, increases, and decreases.",
        "tags": [
          "Funds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FundSlug"
          },
          {
            "$ref": "#/components/parameters/Limit500"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}": {
      "get": {
        "operationId": "getTickerSummary",
        "summary": "Get ticker summary",
        "description": "Retrieve compact ticker summary with smart-money data, coverage flags, company metadata, and available drilldown links.",
        "tags": [
          "Tickers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}/funds": {
      "get": {
        "operationId": "getTickerFunds",
        "summary": "Get ticker fund holders",
        "description": "Retrieve detailed fund-by-fund 13-F holdings breakdown for a ticker, including current exposure and exits.",
        "tags": [
          "Tickers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}/funds-updates": {
      "get": {
        "operationId": "getTickerFundUpdates",
        "summary": "Get ticker fund Form 4 updates",
        "description": "Retrieve fund-side Form 4 Smart Money Updates for a ticker during the current quarter.",
        "tags": [
          "Tickers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}/insider": {
      "get": {
        "operationId": "getTickerInsiderSummary",
        "summary": "Get ticker insider summary",
        "description": "Retrieve aggregated issuer-side insider Form 4 activity for a ticker when it is insider-tracked.",
        "tags": [
          "Tickers",
          "Insiders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}/insider-details": {
      "get": {
        "operationId": "getTickerInsiderDetails",
        "summary": "Get ticker insider details",
        "description": "Retrieve raw issuer-side Form 4 transaction rows for an insider-tracked ticker.",
        "tags": [
          "Tickers",
          "Insiders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          },
          {
            "$ref": "#/components/parameters/Limit500Default100"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/ticker/{symbol}/congress": {
      "get": {
        "operationId": "getTickerCongress",
        "summary": "Get ticker Congress PTR activity",
        "description": "Retrieve ticker-level House PTR activity when stock-backed congressional trades are available.",
        "tags": [
          "Tickers",
          "Congress"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TickerSymbol"
          },
          {
            "$ref": "#/components/parameters/Limit500Default100"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/insiders": {
      "get": {
        "operationId": "getGlobalInsiders",
        "summary": "Get global insider activity",
        "description": "Retrieve global issuer-side insider activity across selected insider-tracked stocks. Supports fixed cached windows days=7, days=30, or days=90; view; and limit.",
        "tags": [
          "Insiders"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Cached lookback window. Supported values are 7, 30, and 90.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                30,
                90
              ],
              "default": 7
            },
            "example": 7
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "description": "Global insider view to return.",
            "schema": {
              "type": "string",
              "enum": [
                "overview",
                "latest",
                "buys",
                "sells",
                "ten_pct"
              ],
              "default": "overview"
            },
            "example": "overview"
          },
          {
            "$ref": "#/components/parameters/LimitDefault20"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    },
    "/api/congress": {
      "get": {
        "operationId": "getGlobalCongress",
        "summary": "Get global House PTR activity",
        "description": "Retrieve global House PTR activity for stock-backed congressional trades.",
        "tags": [
          "Congress"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Lookback window in days.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            },
            "example": 30
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "description": "Congress activity view to return.",
            "schema": {
              "type": "string",
              "enum": [
                "overview",
                "latest",
                "buys",
                "sells",
                "tickers",
                "members"
              ],
              "default": "overview"
            },
            "example": "overview"
          },
          {
            "$ref": "#/components/parameters/Limit500Default20"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ],
          "pricingMode": "fixed"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TickerSymbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "description": "Stock ticker symbol, case-insensitive. Do not include exchange prefixes.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "example": "NVDA"
      },
      "FundSlug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "description": "Fund slug from GET /api/fund-universe.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 80
        },
        "example": "duquesne"
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "required": false,
        "description": "Optional case-insensitive search filter.",
        "schema": {
          "type": "string",
          "default": ""
        },
        "example": "NVDA"
      },
      "Limit500": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of rows to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "example": 50
      },
      "Limit500Default100": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of rows to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 100
        },
        "example": 100
      },
      "LimitDefault20": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of rows to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 20
        },
        "example": 20
      },
      "Limit500Default20": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of rows to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 20
        },
        "example": 20
      }
    },
    "responses": {
      "JsonResponse": {
        "description": "JSON response. Shape varies by endpoint and is documented in the endpoint description.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment Required. The Pay / MPP gateway returns an HTTP 402 challenge before delivering metered data.",
        "headers": {
          "WWW-Authenticate": {
            "description": "MPP payment challenge header.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": true
      }
    }
  }
}
