{
  "openapi": "3.1.0",
  "info": {
    "title": "MilyPay AU Postage",
    "description": "MilyPay Australia Post postage rates API: domestic and international parcel service options and prices between postcodes via the AusPost PAC. JSON over x402 on Solana for agents.",
    "version": "1.0.0",
    "contact": {
      "name": "MilyPay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "MilyPay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "MilyPay production API"
    }
  ],
  "paths": {
    "/au-postage": {
      "get": {
        "operationId": "getPostage",
        "summary": "Australia Post parcel rates",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "3000"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2000"
            }
          },
          {
            "name": "weight",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 0.5
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service options and prices"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    }
  }
}
