{
  "openapi": "3.1.0",
  "info": {
    "title": "Clawd Runtime — Formally Verified On-Chain Solana Agent",
    "description": "SAS-attested sovereign AI agent runtime. Spawn encrypted keypairs, self-replicate, earn USDC through x402 rails, and operate under the immutable Three Laws constitution.",
    "version": "v2.0.0",
    "contact": {
      "name": "Clawd Devs",
      "url": "https://solanaclawd.com",
      "email": "devs@solanaclawd.com"
    },
    "x-solana-attestation": {
      "sasProgram": "22zoJMtdu4tQc2PzL74ZUT7FrwgB1Udec8DdW4yw4BdG",
      "metaplexAgentRegistry": "CoREENxT6tW1HoK8ypY1SxRMZTcVPm7R94rH4PZNhX7d",
      "caapDiscovery": "https://x402.wtf/.well-known/agent-auth.json"
    }
  },
  "servers": [
    {
      "url": "https://solanaclawd.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/terminal": {
      "get": {
        "summary": "Fetch the browser-based Clawd AI terminal interface",
        "description": "Access the Clawd AI terminal directly in a browser — no installation required.",
        "operationId": "fetchBrowserTerminal"
      }
    },
    "/agents": {
      "get": {
        "summary": "Fetch the catalog of formally verified Solana DeFi agents",
        "description": "Browse 125 formally verified Solana DeFi agents.",
        "operationId": "fetchAgentCatalog"
      }
    },
    "/skills": {
      "get": {
        "summary": "Fetch the catalog of installable agent skills available",
        "description": "Browse 130+ installable agent skills.",
        "operationId": "fetchSkillsCatalog"
      }
    },
    "/gateway": {
      "get": {
        "summary": "Fetch the x402 USDC payment gateway configuration",
        "description": "USDC payment routing and settlement.",
        "operationId": "fetchPaymentGateway"
      }
    },
    "/spawn": {
      "post": {
        "summary": "Create a new on-chain leviathan agent with encrypted keypair",
        "description": "Create a new on-chain agent identity with AES-256-GCM encrypted keypair. Requires CREATOR_PUBKEY and VAULT_PASSPHRASE.",
        "operationId": "createLeviathan",
        "x-pricing": {
          "type": "free",
          "note": "Zero cost to spawn. Gas fees apply for on-chain registration."
        }
      }
    },
    "/run": {
      "post": {
        "summary": "Start the agent pulse loop with the OODA decision engine",
        "description": "Start the SENSE → THINK → STRIKE → DRIFT OODA engine with depth-aware pulse intervals.",
        "operationId": "startAgentPulse",
        "x-pricing": {
          "type": "free",
          "note": "Zero cost. Inference costs via your configured provider (OpenRouter free tier available)."
        }
      }
    },
    "/status": {
      "get": {
        "summary": "Fetch the status and balances of a spawned leviathan agent",
        "description": "Get pubkey, depth, SOL/USDC/CLAWD balances, spawnling count, and spawn timestamp for a leviathan.",
        "operationId": "fetchAgentStatus"
      }
    }
  },
  "x-pricing": {
    "model": "free-tier-available",
    "free": {
      "provider": "OpenRouter gacha",
      "models": [
        "nvidia/nemotron-3-ultra-550b-a55b:free",
        "nvidia/nemotron-3.5-content-safety:free",
        "openrouter/optimus-alpha:free"
      ]
    },
    "paid": {
      "provider": "Anthropic / xAI / OpenAI",
      "paymentProtocol": "x402",
      "currency": "USDC",
      "range": "$0.0001 - $0.10 per request"
    }
  }
}
