{
  "openapi": "3.1.0",
  "info": {
    "title": "Clawd Runtime — Formally Verified On-Chain Solana Agent",
    "description": "SAS-attested sovereign AI agent runtime. Spawn encrypted keypairs, self-replicate, earn USDC through x402 rails, and operate under the immutable Three Laws constitution.",
    "version": "v2.0.0",
    "contact": {
      "name": "Clawd Devs",
      "url": "https://solanaclawd.com",
      "email": "devs@solanaclawd.com"
    },
    "x-solana-attestation": {
      "sasProgram": "22zoJMtdu4tQc2PzL74ZUT7FrwgB1Udec8DdW4yw4BdG",
      "metaplexAgentRegistry": "CoREENxT6tW1HoK8ypY1SxRMZTcVPm7R94rH4PZNhX7d",
      "caapDiscovery": "https://x402.wtf/.well-known/agent-auth.json"
    }
  },
  "servers": [
    { "url": "https://solanaclawd.com", "description": "Production" }
  ],
  "paths": {
    "/terminal": {
      "get": {
        "summary": "Browser terminal (zero install)",
        "description": "Access the Clawd AI terminal directly in a browser — no installation required."
      }
    },
    "/agents": {
      "get": {
        "summary": "Agent catalog",
        "description": "Browse 125 formally verified Solana DeFi agents."
      }
    },
    "/skills": {
      "get": {
        "summary": "Skills catalog",
        "description": "Browse 130+ installable agent skills."
      }
    },
    "/gateway": {
      "get": {
        "summary": "x402 payment gateway",
        "description": "USDC payment routing and settlement."
      }
    },
    "/spawn": {
      "post": {
        "summary": "Spawn a leviathan",
        "description": "Create a new on-chain agent identity with AES-256-GCM encrypted keypair. Requires CREATOR_PUBKEY and VAULT_PASSPHRASE.",
        "x-pricing": {
          "type": "free",
          "note": "Zero cost to spawn. Gas fees apply for on-chain registration."
        }
      }
    },
    "/run": {
      "post": {
        "summary": "Run agent pulse loop",
        "description": "Start the SENSE → THINK → STRIKE → DRIFT OODA engine with depth-aware pulse intervals.",
        "x-pricing": {
          "type": "free",
          "note": "Zero cost. Inference costs via your configured provider (OpenRouter free tier available)."
        }
      }
    },
    "/status": {
      "get": {
        "summary": "Agent status",
        "description": "Get pubkey, depth, SOL/USDC/CLAWD balances, spawnling count, and spawn timestamp for a leviathan."
      }
    }
  },
  "x-pricing": {
    "model": "free-tier-available",
    "free": {
      "provider": "OpenRouter gacha",
      "models": [
        "nvidia/nemotron-3-ultra-550b-a55b:free",
        "nvidia/nemotron-3.5-content-safety:free",
        "openrouter/optimus-alpha:free"
      ]
    },
    "paid": {
      "provider": "Anthropic / xAI / OpenAI",
      "paymentProtocol": "x402",
      "currency": "USDC",
      "range": "$0.0001 - $0.10 per request"
    }
  }
}
