{"openapi":"3.0.3","info":{"title":"Automaton Services — Solana Risk Scanner + Entry Signal","version":"0.1.0","description":"AI trading agent service: deterministic risk scoring + real-time entry confidence signal (ENTER_NOW/WAIT/AVOID/EXIT) + Jupiter liquidity depth (price impact at $100/$1K/$10K) + deployer wallet freshness check (detects burner-wallet rug patterns) + brand impersonation detection (fake USDC/BONK/SOL) + per-source latency breakdown. 7 independent checks combined into one trading decision signal that RugCheck/GoPlus don't provide.","contact":{"email":"automaton.riskscanner@gmail.com"}},"servers":[{"url":"https://zlv402.wreckbots.io"}],"paths":{"/api/v1/analyze-token":{"post":{"operationId":"analyzeToken","summary":"Risk score + entry signal + deployer/impersonation checks for Solana tokens","description":"Returns a 0-100 risk score, a real-time entry confidence signal (ENTER_NOW/WAIT/AVOID/EXIT), Jupiter price-impact measurement at $100/$1K/$10K, deployer wallet freshness (burner-wallet rug detection), brand impersonation detection, and per-source latency breakdown.","tags":["Risk Scanner"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tokenAddress":{"type":"string","description":"Solana token mint address (base58)"},"includeExplanation":{"type":"boolean","description":"Include human-readable explanation"},"includeEntrySignal":{"type":"boolean","description":"Include entry confidence signal with timing recommendation (default: true)"}},"required":["tokenAddress"]}}}},"responses":{"200":{"description":"Risk analysis report with entry signal and latency breakdown","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"riskScore":{"type":"number","description":"0-100, higher = riskier"},"overallRisk":{"type":"string","description":"LOW | MEDIUM | HIGH | CRITICAL"},"recommendation":{"type":"string","description":"SAFE | CAUTION | WARNING | AVOID"},"entrySignal":{"type":"object","description":"Real-time entry confidence signal for trading agents","properties":{"entryConfidence":{"type":"number","description":"0-100 (100 = strong buy signal)"},"timing":{"type":"string","description":"ENTER_NOW | WAIT | AVOID | EXIT"}}},"latencyBreakdown":{"type":"object","description":"Per-source response times in milliseconds","properties":{"dexscreenerMs":{"type":"number"},"heliusMs":{"type":"number"},"birdeyeMs":{"type":"number"},"jupiterMs":{"type":"number"},"totalMs":{"type":"number"}}}}}},"required":["success","data"]}}}},"402":{"description":"Payment Required"}}}},"/api/v1/analyze-token/{address}":{"get":{"operationId":"analyzeTokenDebug","summary":"Free debug endpoint (rate-limited, not for production use)","tags":["Risk Scanner"],"security":[],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Solana token mint address (base58)"}],"responses":{"200":{"description":"Risk analysis report"},"429":{"description":"Rate limited (5 req/min)"}}}}}}https://github.com/Zilvador83/pay-skills/tree/main
