{
  "openapi": "3.1.0",
  "info": {
    "title": "Synthetic Universe Data APIs",
    "version": "1.1.0",
    "description": "Pay-per-call data APIs for AI agents via x402 ($0.01 USDC per call on Base, Polygon, Arbitrum, Avalanche, Solana). GET the endpoint, receive an HTTP 402 challenge, pay the quoted USDC, resubmit — data returns automatically after settlement. Operated by Synthetic Universe LLC."
  },
  "servers": [
    {
      "url": "https://pay.brianbooms.com"
    }
  ],
  "paths": {
    "/api/v1/data/astronomy": {
      "get": {
        "summary": "Get sun/moon rise-set times and moon phase for a date",
        "description": "Use when an agent needs sunrise, sunset, twilight, and moon phase for a location and date — photography planning, event scheduling, or radio operations. Pass lat, lon, and an optional YYYY-MM-DD date. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude. Example: 30.27",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude. Example: -97.74",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD, default today. Example: 2026-09-27",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/cert": {
      "get": {
        "summary": "Fetch TLS certificate details and expiry for a domain",
        "description": "Use when an agent monitors TLS certificates — its own infrastructure or a client's. Returns issuer, validity window, and days remaining so the agent can alert before expiry. Pass the domain. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Domain name. Example: example.com",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/country": {
      "get": {
        "summary": "Fetch country facts: capital, currency, languages",
        "description": "Use when an agent needs reference data about a country — capital, region, income level, and coordinates to join against FX, holidays, or geocoding results. Pass the ISO code or the country name. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "2-3 letter ISO code. Example: US",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Country name, resolved to ISO. Example: United States",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/crypto": {
      "get": {
        "summary": "Fetch crypto spot prices for one or more coins",
        "description": "Use when an agent needs a live crypto spot price — pricing goods, portfolio math, or trading-bot inputs. Pass the symbol (e.g. BTC) and an optional 3-letter currency, default USD. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Crypto symbol. Example: BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "3-letter fiat code, default USD. Example: USD",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/crypto-ohlcv": {
      "get": {
        "summary": "Fetch OHLCV candles for a crypto pair",
        "description": "Use when an agent needs OHLCV candles for a crypto pair — charts, trading decisions, volatility checks. Coinbase Exchange data. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Coin slug. Example: bitcoin",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs",
            "in": "query",
            "required": false,
            "description": "Quote currency. Example: USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of days of candles. Example: 30",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Candle interval: daily or hourly. Example: daily",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/crypto-price": {
      "get": {
        "summary": "Fetch batch crypto spot prices for multiple coins",
        "description": "Use when an agent needs batch crypto spot prices — portfolio checks, pricing, market snapshots. Multiple coins in one $0.01 call (Coinbase). Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "coins",
            "in": "query",
            "required": false,
            "description": "Comma-separated coin slugs. Example: bitcoin,ethereum",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vs",
            "in": "query",
            "required": false,
            "description": "Quote currency. Example: USD",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/dns": {
      "get": {
        "summary": "Resolve DNS records for a domain",
        "description": "Use when an agent needs DNS records for a domain — verifying MX before sending mail, infrastructure recon, or pre-flight checks. Pass the domain and an optional record type. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Domain name. Example: example.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Record type, default A: A, AAAA, MX, TXT, CNAME, NS, SOA, SRV",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/feed": {
      "get": {
        "summary": "Fetch latest entries from an RSS or Atom feed",
        "description": "Use when an agent needs an RSS/Atom feed parsed to clean JSON — news monitoring, content ingestion, or change detection. Pass the feed URL; up to 20 items, HTML stripped. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "RSS/Atom feed URL. Example: https://example.com/feed.xml",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/fx": {
      "get": {
        "summary": "Fetch fiat exchange rates against a base currency",
        "description": "Use when an agent needs a fiat currency conversion at current reference rates — pricing, payouts, or multi-currency accounting. Pass amount plus from/to currency codes. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert. Example: 100",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "3-letter code. Example: USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "3-letter code. Example: EUR",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/fx-convert": {
      "get": {
        "summary": "Convert an amount between any two currencies",
        "description": "Use when an agent needs to convert an amount between any two fiat currencies — pricing, budgeting, cross-border math. Any base currency (ECB reference rates via Frankfurter), no base-currency lock. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Source currency code. Example: USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Target currency code. Example: EUR",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert. Example: 100",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/fx-timeseries": {
      "get": {
        "summary": "Fetch historical FX rates over a date range",
        "description": "Use when an agent needs historical fiat exchange rates over a date range — trends, backtesting, reporting. ECB reference rates via Frankfurter. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Source currency code. Example: USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Target currency code. Example: EUR",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start date YYYY-MM-DD. Example: 2026-09-01",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date YYYY-MM-DD. Example: 2026-10-01",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/gas-price": {
      "get": {
        "summary": "Fetch live EVM gas prices for a chain",
        "description": "Use when an agent needs the current gas price on an EVM chain before sending a transaction — cost estimation, fee budgeting, or deciding whether to transact now. Pass network (base, polygon, arbitrum, avalanche); returns live eth_gasPrice plus priority fee in wei and gwei from the chain's public RPC. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "EVM chain id. Example: base (default), polygon, arbitrum, avalanche",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/geocode": {
      "get": {
        "summary": "Convert a place name to latitude/longitude",
        "description": "Use when an agent has a place name and needs coordinates — the on-ramp to the weather, ISS-pass, and astronomy endpoints, which all take lat/lon. Pass q for forward lookup, or lat+lon for reverse. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Place name for forward lookup. Example: Leander, TX",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude for reverse lookup. Example: 30.57",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude for reverse lookup. Example: -97.86",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/holidays": {
      "get": {
        "summary": "List public holidays for a country and year",
        "description": "Use when an agent needs to know whether a date is a public holiday in a country — support scheduling, market calendars, or posting logic. Pass the 2-letter ISO country code and an optional year. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "2-letter ISO code. Example: US",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "4-digit year, default current. Example: 2026",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/httpcheck": {
      "get": {
        "summary": "Check HTTP status, timing, and headers for a URL",
        "description": "Use when an agent needs to verify a webhook or endpoint is alive — status code, redirect chain, key headers, and timing in one call. A down target returns an honest unreachable result instead of an error. Pass the URL. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full http(s) URL to check. Example: https://example.com/hook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/ip": {
      "get": {
        "summary": "Fetch IP geolocation: city, region, country, ASN",
        "description": "Use when an agent needs approximate geolocation and network info for an IP — fraud triage, locale defaults, or log enrichment. Pass ip, or omit to look up the caller's own IP. City-level approximate. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6, optional. Example: 8.8.8.8",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/iss-pass": {
      "get": {
        "summary": "Get upcoming visible ISS flyover times for a location",
        "description": "Use when an agent needs upcoming visible ISS flyover times for a location — skywatching alerts, photography planning, or space-event scheduling. Pass the observer's latitude and longitude. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude, -90 to 90. Example: 30.27",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude, -180 to 180. Example: -97.74",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/lyric-quote": {
      "get": {
        "summary": "Generate an original lyric line in ambient sleep-lane voice",
        "description": "Use when an agent needs an original lyric line in Brian Booms' ambient sleep-lane voice — short cosmic/comfort lines for creative prompts, app copy, or bedtime content. All lines are his own words (no third-party lyrics, no royalty issues). Rotates daily; pass index for a specific line. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "required": false,
            "description": "Quote index 0-11, optional. Omit for today's rotating quote. Example: 7",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/preflight": {
      "get": {
        "summary": "Run a one-call domain check: alive, DNS, TLS expiry",
        "description": "Use when an agent needs a one-call pre-flight check on a domain — is the endpoint alive, does DNS resolve, is the TLS certificate valid and when does it expire. Pass domain or full URL; one $0.01 call returns all three checks. A down target returns honest per-check results, not an error. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Domain name. Example: example.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL instead of domain. Example: https://example.com/path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/readability": {
      "get": {
        "summary": "Extract clean article text from a webpage",
        "description": "Use when an agent needs clean article text extracted from a webpage — navigation, ads, and chrome stripped for downstream processing or summarization. Pass the page URL. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Public webpage URL. Example: https://example.com/article",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/sleep-plan": {
      "get": {
        "summary": "Build a wind-down schedule for a city and bedtime",
        "description": "Use when an agent needs a wind-down schedule for a city and bedtime — real local sun times plus wind-down start and a 7.5-9h wake window, computed from live geocoding and astronomy. Pass city and bedtime HH:MM. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Place name. Example: Leander, TX",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bedtime",
            "in": "query",
            "required": false,
            "description": "Bedtime HH:MM 24-hour, local to the city. Example: 22:30",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/sleep-tip": {
      "get": {
        "summary": "Get one practical sleep-hygiene tip",
        "description": "Use when an agent needs a genuine sleep-hygiene tip — one practical habit from Brian Booms' rotating collection of 12 (consistent wake times, light, wind-down routines; no medical claims). Rotates daily; pass index for a specific tip. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "required": false,
            "description": "Tip index 0-11, optional. Omit for today's rotating tip. Example: 3",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/stock": {
      "get": {
        "summary": "Fetch a delayed equity quote for a ticker",
        "description": "Use when an agent needs a delayed equity quote — portfolio math, watchlists, or market context. Pass the ticker (bare US tickers get .US). Delayed ~15 min, not investment advice. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Ticker, optional exchange suffix. Example: AAPL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/summarize": {
      "get": {
        "summary": "Summarize the key points of a public webpage",
        "description": "Use when an agent needs the key points of a public webpage without reading the whole page — research triage, link previews, or content monitoring. Pass the page URL; robots.txt is honored before any charge. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Public webpage URL. Example: https://example.com/article",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/time": {
      "get": {
        "summary": "Get the current local time in any IANA time zone",
        "description": "Use when an agent needs the current local time in any IANA time zone — scheduling posts, broadcasts, reminders, or market-window checks. Computed locally from the time zone database, no upstream to fail. Pass tz. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "description": "IANA time zone. Example: America/Chicago",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/token-resolve": {
      "get": {
        "summary": "Resolve a token name/symbol to a canonical ID",
        "description": "Use when an agent needs to resolve a token name or symbol to a canonical ID — disambiguation before price lookups. Curated table of 269 tokens. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Token name or symbol to resolve. Example: solana",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/weather": {
      "get": {
        "summary": "Fetch current weather + 7-day forecast for coordinates",
        "description": "Use when an agent needs current weather plus a 7-day forecast for a latitude/longitude — trip planning, event scheduling, or any location-aware task. Give it coordinates; the geocode endpoint translates place names. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude, -90 to 90. Example: 30.27",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude, -180 to 180. Example: -97.74",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/weather-alerts": {
      "get": {
        "summary": "Fetch active US weather alerts for coordinates",
        "description": "Use when an agent needs active US weather alerts for a latitude/longitude — severe weather, trip safety, event risk. US-only (National Weather Service, public domain); non-US coordinates return an error, not silence. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude, -90 to 90. Example: 30.27",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude, -180 to 180. Example: -97.74",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    },
    "/api/v1/data/wiki": {
      "get": {
        "summary": "Fetch a background summary on a person, place, or concept",
        "description": "Use when an agent needs background on a person, place, company, or concept inside a research task — a structured summary plus the link to the full article. Pass topic and an optional language code. Resale permitted: buyer may resell this data output at their own price.",
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Article topic. Example: Ada Lovelace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Wikipedia language code, default en. Example: en",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — x402 challenge with payment details"
          },
          "200": {
            "description": "Data product JSON after payment"
          }
        }
      }
    }
  }
}
