{
  "openapi": "3.1.0",
  "info": {
    "title": "DeepSearch Korean Stock & Crypto API",
    "description": "Historical and real-time data for all 2,000+ KRX-listed companies via x402 micropayments.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://x402.deepsearch.com" }
  ],
  "paths": {
    "/v1/context/company/{ticker}": {
      "get": {
        "summary": "Company fundamentals ($0.005)",
        "description": "Market cap, PER/PBR/ROE, revenue, operating profit, net income, debt ratio, latest stock price. Accepts 6-digit KRX code or company name (samsung, 삼성전자).",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Company fundamentals" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/financials/{ticker}": {
      "get": {
        "summary": "Latest quarterly financials ($0.005)",
        "description": "Most recent quarterly financial statements: revenue, gross profit, operating profit, net income, total assets, equity.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Quarterly financials" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/financials/{ticker}/2y": {
      "get": {
        "summary": "2-year financial history ($0.01)",
        "description": "8 quarters of revenue, operating profit, net income, assets, equity. Ideal for YoY comparisons.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "2-year quarterly history" }, "402": { "description": "Payment Required — $0.01 USDC" } }
      }
    },
    "/v1/context/financials/{ticker}/5y": {
      "get": {
        "summary": "5-year financial history ($0.015)",
        "description": "20 quarters of financials. Medium-term profitability trends and business cycle analysis.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "5-year quarterly history" }, "402": { "description": "Payment Required — $0.015 USDC" } }
      }
    },
    "/v1/context/financials/{ticker}/all": {
      "get": {
        "summary": "Full financial history — back to 2018 ($0.025)",
        "description": "33+ quarters of financials for long-term CAGR and multi-year cycle research.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Full financial history" }, "402": { "description": "Payment Required — $0.025 USDC" } }
      }
    },
    "/v1/context/stock/{ticker}/1m": {
      "get": {
        "summary": "1-month daily stock prices ($0.005)",
        "description": "~22 trading days of daily close, change %, market cap. Period high/low/return.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "1-month price history" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/stock/{ticker}/3m": {
      "get": {
        "summary": "3-month daily stock prices ($0.01)",
        "description": "~65 trading days of daily close. Quarterly trend and earnings-cycle price behavior.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "3-month price history" }, "402": { "description": "Payment Required — $0.01 USDC" } }
      }
    },
    "/v1/context/stock/{ticker}/1y": {
      "get": {
        "summary": "1-year daily stock prices ($0.015)",
        "description": "~252 trading days. Annual trend, 52-week high/low, YTD return.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "1-year price history" }, "402": { "description": "Payment Required — $0.015 USDC" } }
      }
    },
    "/v1/context/stock/{ticker}/3y": {
      "get": {
        "summary": "3-year daily stock prices ($0.025)",
        "description": "~780 trading days. Long-term trend, multi-year comparisons, backtests.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "3-year price history" }, "402": { "description": "Payment Required — $0.025 USDC" } }
      }
    },
    "/v1/context/news/{ticker}": {
      "get": {
        "summary": "News with sentiment ($0.005)",
        "description": "30-day news articles with per-company sentiment: positive, negative, or neutral.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "News + sentiment" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/issue/{ticker}": {
      "get": {
        "summary": "AI issue analysis ($0.025)",
        "description": "Top news-driven issues from last 30 days — headline, sentiment label, relevance score. Identifies what's actually moving the stock.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Issue analysis" }, "402": { "description": "Payment Required — $0.025 USDC" } }
      }
    },
    "/v1/context/risk/{ticker}": {
      "get": {
        "summary": "Investment risk assessment ($0.025)",
        "description": "Risk level (high/medium/low) + risk items by category (financial, legal, operational, market) from 60 days of news and filings.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Risk assessment" }, "402": { "description": "Payment Required — $0.025 USDC" } }
      }
    },
    "/v1/context/dividend/{ticker}": {
      "get": {
        "summary": "Dividend schedule ($0.005)",
        "description": "Ex-dividend date, payment date, dividend amount (KRW), forecast flag.",
        "parameters": [{ "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" }, "example": "005930" }],
        "responses": { "200": { "description": "Dividend schedule" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/crypto/market": {
      "get": {
        "summary": "Global crypto market overview ($0.005)",
        "description": "Global market cap (USD + KRW), BTC dominance, top 5 gainers/losers/by volume on Korean exchanges.",
        "responses": { "200": { "description": "Global crypto market" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/crypto/{symbol}": {
      "get": {
        "summary": "Crypto price + kimchi premium ($0.005)",
        "description": "Current price in KRW, change rate, kimchi premium (Korean vs global price gap), daily high/low, volume. BTC, ETH, XRP, SOL, DOGE, etc.",
        "parameters": [{ "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "BTC" }],
        "responses": { "200": { "description": "Crypto price + premium" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/crypto/{symbol}/news": {
      "get": {
        "summary": "Crypto news ($0.005)",
        "description": "Latest news articles for a cryptocurrency — title, press, published date, URL.",
        "parameters": [{ "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "BTC" }],
        "responses": { "200": { "description": "Crypto news" }, "402": { "description": "Payment Required — $0.005 USDC" } }
      }
    },
    "/v1/context/crypto/{symbol}/briefing": {
      "get": {
        "summary": "AI crypto briefing ($0.01)",
        "description": "DeepSearch AI summarizes recent crypto news into concise briefings with key insights.",
        "parameters": [{ "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "BTC" }],
        "responses": { "200": { "description": "AI crypto briefing" }, "402": { "description": "Payment Required — $0.01 USDC" } }
      }
    }
  }
}
