{
  "openapi": "3.1.0",
  "info": {
    "title": "BIOHASH Oracle",
    "version": "1.0.0",
    "description": "oracle-backed peptide pricing on solana. verified, on-chain-anchored vendor prices and twap, queried per call over x402."
  },
  "servers": [{ "url": "https://api.getstax.xyz" }],
  "x-discovery": { "ownershipProofs": [] },
  "paths": {
    "/api/v1/oracle/prices/{peptide_code}": {
      "get": {
        "operationId": "getOraclePrices",
        "summary": "Fetch oracle-backed vendor prices and twap for a peptide",
        "description": "returns the verified per-vendor price list, best value, time-weighted average price, spread, and the latest on-chain commit for a peptide tracked by the biohash oracle. settles 0.01 usdc per call via x402 on solana mainnet.",
        "parameters": [
          {
            "name": "peptide_code",
            "in": "path",
            "required": true,
            "description": "peptide code, 2-32 alphanumeric characters, e.g. bpc-157",
            "schema": { "type": "string", "minLength": 2, "maxLength": 32, "example": "bpc-157" }
          }
        ],
        "x-payment-info": {
          "protocols": ["x402"],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.01" }
        },
        "responses": {
          "200": {
            "description": "verified oracle pricing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "peptide_code": { "type": "string" },
                    "source": { "type": "string", "example": "biohash" },
                    "oracle": {
                      "type": "object",
                      "properties": {
                        "vendors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "vendor_name": { "type": "string" },
                              "price_usd_per_mg": { "type": "number" },
                              "rank": { "type": "string" },
                              "observed_at": { "type": "string" }
                            }
                          }
                        },
                        "best_value": {
                          "type": ["object", "null"],
                          "properties": {
                            "vendor_name": { "type": "string" },
                            "price_usd_per_mg": { "type": "number" }
                          }
                        },
                        "twap_usd_per_mg": { "type": "number" },
                        "spread": { "type": "number" },
                        "last_commit": { "type": "object" },
                        "computed_at": { "type": "string" },
                        "cluster": { "type": "string" }
                      }
                    },
                    "settlement": {
                      "type": "object",
                      "properties": {
                        "transaction": { "type": "string" },
                        "network": { "type": "string" },
                        "amount_atomic": { "type": "string" },
                        "asset": { "type": "string" },
                        "scheme": { "type": "string" },
                        "payer": { "type": ["string", "null"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "payment required (x402 challenge)" },
          "404": { "description": "peptide not tracked by the oracle" }
        }
      }
    },
    "/api/v1/oracle/verify": {
      "post": {
        "operationId": "verifyOraclePrice",
        "summary": "Verify a claimed per-mg price against the oracle floor",
        "description": "compares a claimed per-mg price against the verified oracle floor, median, max, and twap, and returns a verdict (in_line, overpriced, underpriced, flagged) with the delta. settles 0.01 usdc per call via x402 on solana mainnet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["peptide_code", "claimed_price_usd_per_mg"],
                "properties": {
                  "peptide_code": { "type": "string", "minLength": 2, "maxLength": 32, "example": "bpc-157" },
                  "claimed_price_usd_per_mg": { "type": "number", "exclusiveMinimum": 0, "example": 3.5 },
                  "vendor_name": { "type": "string", "description": "optional; surfaces that vendor's verified price" }
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": ["x402"],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.01" }
        },
        "responses": {
          "200": {
            "description": "verdict against the verified oracle data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "peptide_code": { "type": "string" },
                    "source": { "type": "string", "example": "biohash" },
                    "verdict": { "type": "string", "enum": ["in_line", "overpriced", "underpriced", "flagged"] },
                    "delta_pct": { "type": "number" },
                    "claimed_price_usd_per_mg": { "type": "number" },
                    "oracle_best_usd_per_mg": { "type": "number" },
                    "oracle_median_usd_per_mg": { "type": "number" },
                    "oracle_max_usd_per_mg": { "type": "number" },
                    "oracle_twap": { "type": "number" },
                    "vendor_count": { "type": "integer" },
                    "matched_vendor": {
                      "type": ["object", "null"],
                      "properties": {
                        "vendor_name": { "type": "string" },
                        "price_usd_per_mg": { "type": "number" }
                      }
                    },
                    "message": { "type": "string" },
                    "last_commit": { "type": "object" },
                    "settlement": { "type": "object" }
                  }
                }
              }
            }
          },
          "402": { "description": "payment required (x402 challenge)" },
          "404": { "description": "peptide not tracked by the oracle" }
        }
      }
    }
  }
}
