{
  "openapi": "3.1.0",
  "info": {
    "title": "Intelica \u2014 Competitive Intelligence API",
    "description": "Competitive intelligence API for autonomous AI agents. Pay-per-call via x402 on Solana mainnet ($0.05 USDC standard / $1.00 USDC elite). No accounts, no API keys.",
    "version": "4.5.6",
    "contact": {
      "email": "teodorofodocrispin@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.intelica.dev",
      "description": "Intelica production API"
    }
  ],
  "paths": {
    "/intel": {
      "post": {
        "summary": "Competitive intelligence analysis",
        "description": "Analyzes any company or market and returns structured go/no-go decision with IMI score, competitor mapping, and execution plan. Standard modes: $0.05 USDC. Elite modes: $1.00 USDC.",
        "operationId": "intel_analyze",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Company or market description to analyze (50+ words recommended for best results)"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "competitive",
                      "fundraising",
                      "partnership",
                      "acquisition",
                      "market_entry",
                      "crypto_protocol",
                      "venture_screening",
                      "market_entry_execution",
                      "regulatory_compliance",
                      "risk_assessment",
                      "sales_enablement"
                    ],
                    "default": "competitive",
                    "description": "Analysis mode. Standard ($0.05): competitive, fundraising, partnership, acquisition, market_entry, crypto_protocol. Elite ($1.00): venture_screening, market_entry_execution, regulatory_compliance, risk_assessment, sales_enablement."
                  },
                  "auto_execute": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true and action=monitor, auto-subscribes to IMI change alerts via Pulse at $0.01 USDC/alert"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for Pulse alerts when auto_execute=true"
                  }
                }
              },
              "example": {
                "text": "Stripe competitor for developers in Southeast Asia with local payment methods and lower cross-border fees",
                "mode": "competitive"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competitive intelligence analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decision_recommendation": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "enum": [
                            "enter",
                            "avoid",
                            "monitor",
                            "acquire",
                            "partner"
                          ]
                        },
                        "confidence_score": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "rationale": {
                          "type": "string"
                        },
                        "risk_level": {
                          "type": "string",
                          "enum": [
                            "high",
                            "medium",
                            "low"
                          ]
                        }
                      }
                    },
                    "intelica_moat_index": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1,
                      "description": "Structural moat strength scored against 3,600+ companies"
                    },
                    "detected_competitors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "execution_plan": {
                      "type": "object",
                      "properties": {
                        "non_obvious_insight": {
                          "type": "string"
                        },
                        "week_1_actions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "budget_guidance": {
                          "type": "object"
                        }
                      }
                    },
                    "auto_executed": {
                      "type": "object",
                      "nullable": true,
                      "description": "Pulse subscription details if auto_execute=true and action=monitor"
                    }
                  }
                },
                "example": {
                  "decision_recommendation": {
                    "action": "avoid",
                    "confidence_score": 0.88,
                    "rationale": "IMI 0.82 exceeds avoid threshold \u2014 Stripe developer ecosystem lock-in creates unassailable moat",
                    "risk_level": "high"
                  },
                  "intelica_moat_index": 0.82,
                  "detected_competitors": [
                    "Stripe",
                    "Adyen",
                    "2C2P"
                  ],
                  "execution_plan": {
                    "non_obvious_insight": "The exploitable gap is local payment method coverage (<40% merchant penetration in SEA), not the API layer where Stripe dominates",
                    "week_1_actions": [
                      "Map Stripe merchant penetration by country",
                      "Identify local payment method coverage gaps"
                    ],
                    "budget_guidance": {
                      "phase_1_usd": "$2.5M-$4M"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required \u2014 x402 challenge with Solana mainnet payment details",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 v2 payment payload"
              }
            }
          }
        },
        "x-payment": {
          "protocol": "x402",
          "version": 2,
          "networks": [
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:8453"
          ],
          "standard_price_usdc": 0.05,
          "elite_price_usdc": 1.0
        }
      }
    },
    "/batch": {
      "post": {
        "summary": "Batch competitive intelligence analysis",
        "description": "Analyze up to 10 companies in parallel for $0.20 USDC via x402.",
        "operationId": "intel_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string",
                          "default": "competitive"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required \u2014 $0.20 USDC on Solana mainnet"
          }
        },
        "x-payment": {
          "protocol": "x402",
          "version": 2,
          "price_usdc": 0.2
        }
      }
    },
    "/graph/market-share/{sector}": {
      "get": {
        "summary": "Free market saturation report",
        "description": "Free sector saturation report from the Competitive Graph (3,600+ companies). No payment required.",
        "operationId": "graph_market_share",
        "parameters": [
          {
            "name": "sector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "fintech",
                "healthcare",
                "saas",
                "defense",
                "logistics",
                "legaltech",
                "edtech",
                "robotics",
                "energy",
                "ecommerce"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market saturation data for the sector",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}