{"openapi":"3.1.0","info":{"title":"Clawd Browser Paid API","version":"v1","description":"x402.wtf paid automation routes for premium agent chat, sandbox launch flows, wallet intelligence, and catalog discovery."},"servers":[{"url":"https://x402.wtf"}],"paths":{"/api/x402/catalog":{"get":{"operationId":"getPaidCatalog","summary":"List paid Clawd API products","description":"List the live paid Clawd routes, their prices, CLAWD token pricing, and supported settlement protocols.","responses":{"200":{"description":"Catalog payload returned successfully."}}}},"/api/pump/pay-gateway":{"get":{"operationId":"getPumpStreamPayGateway","summary":"List the Pump Stream Pay gateway catalog","description":"Return the sandbox gateway URL, production gateway placeholder, free checks, paid Pump.fun endpoints, route prices, and agent prompt for wallet-approved Pay calls.","responses":{"200":{"description":"Pump Stream Pay gateway catalog returned successfully."}}}},"/api/pump/pay-quickstart.md":{"get":{"operationId":"getPumpStreamPayQuickstart","summary":"Read the Pump Stream Pay quickstart","description":"Markdown handoff for starting the Backroom Pump runtime, launching the Pay sandbox gateway, running free checks, and making wallet-approved paid calls.","responses":{"200":{"description":"Markdown quickstart returned successfully.","content":{"text/markdown":{}}}}}},"/api/automation/status":{"get":{"operationId":"getAutomationStatus","summary":"Read automation entrypoint status","description":"Return public automation entrypoint metadata, login state, sandbox actions, and the current pay.sh/x402 price for premium agent chat.","responses":{"200":{"description":"Automation status returned successfully."}}}},"/api/x402/clawd":{"post":{"operationId":"createPrivateAgentSession","summary":"Run a private Clawd operator session","description":"Stream a premium Clawd session for research, routing, and operator-grade task execution from one paid request.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string"},"sessionId":{"type":"string"},"model":{"type":"string"},"maxSteps":{"type":"number"},"maxCostUsd":{"type":"number"},"enableShell":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Server-sent event stream with session events.","content":{"text/event-stream":{}}},"402":{"description":"x402 payment challenge for the paid session."}}}},"/api/x402/agent/chat":{"post":{"operationId":"createPremiumAgentChat","summary":"Open a premium Clawd chat stream","description":"Stream premium agent chat events for public automation users after a $0.69420 x402/pay.sh payment or 1,000 CLAWD app-native access check.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["messages"],"properties":{"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":["string","null"]}}}},"sessionId":{"type":"string"},"userPublicKey":{"type":"string"},"canTrade":{"type":"boolean"},"thinking":{"type":"boolean"},"effort":{"type":"string","enum":["high","max"]}}}}}},"responses":{"200":{"description":"Server-sent event stream with chat events.","content":{"text/event-stream":{}}},"402":{"description":"x402 payment challenge for the premium chat lane."}}}},"/api/x402/stocks/catalog":{"get":{"operationId":"getPaidStockDataCatalog","summary":"List paid stock-data API endpoints","description":"Return the Financial Datasets-backed endpoint catalog, public app routes, and the x402 payment terms for paid stock-data calls.","responses":{"200":{"description":"Stock-data catalog returned successfully."}}}},"/api/x402/stocks/data":{"post":{"operationId":"callPaidStockDataEndpoint","summary":"Call a paid stock-data endpoint","description":"Proxy a whitelisted Financial Datasets endpoint after x402 payment. Supports real-time prices, metrics, financials, filings, news, earnings, ownership, KPIs, and screeners.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["endpoint"],"properties":{"endpoint":{"type":"string","examples":["priceSnapshot","financialMetricsSnapshot","balanceSheetSegments"]},"params":{"type":"object","additionalProperties":true,"examples":[{"ticker":"AAPL","period":"annual","limit":4}]},"body":{"type":"object","additionalProperties":true}}}}}},"responses":{"200":{"description":"Stock data returned successfully."},"402":{"description":"x402 payment challenge for the stock-data call."}}}},"/api/x402/backroom-pump/catalog":{"get":{"operationId":"getBackroomPumpIntelCatalog","summary":"List paid Backroom Pump Intelligence API metadata","description":"Return x402 payment metadata, supported Pump.fun data endpoint ids, and examples for premium Backroom Pump/Solana intelligence.","responses":{"200":{"description":"Backroom Pump Intelligence catalog returned successfully."}}}},"/api/x402/backroom-pump/data":{"post":{"operationId":"callBackroomPumpData","summary":"Call a paid Backroom Pump.fun data endpoint","description":"Proxy or derive Backroom Pump.fun/Solana data after x402 payment. Supports tokens, summary, intel, and status endpoint modes.","requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"endpoint":{"type":"string","enum":["tokens","summary","intel","status"],"examples":["tokens","intel"]},"params":{"type":"object","additionalProperties":true,"examples":[{"limit":25,"github_only":false}]}}}}}},"responses":{"200":{"description":"Backroom Pump data returned successfully."},"402":{"description":"x402 payment challenge for the premium data call."}}}},"/api/x402/backroom-pump/analyze":{"post":{"operationId":"analyzeBackroomPumpData","summary":"Analyze live Backroom Pump data with DeepSeek","description":"Run a paid DeepSeek-first CLAWD analysis over the live Backroom Pump.fun token buffer. Provider keys stay server-side and output remains read-only by default.","requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string"},"limit":{"type":"number"},"params":{"type":"object","additionalProperties":true}}}}}},"responses":{"200":{"description":"DeepSeek analysis and compact source data returned successfully."},"402":{"description":"x402 payment challenge for the premium analysis call."}}}},"/api/dexscreener/solana":{"get":{"operationId":"getDexScreenerSolanaSnapshot","summary":"Read a cached DexScreener Solana rank snapshot","description":"Return cached Solana DEX market data from CLAWD Backrooms. Supports rank=m5,h1,h6,h24 and is safe for browser/frontend reads.","parameters":[{"name":"rank","in":"query","required":false,"schema":{"type":"string","enum":["m5","h1","h6","h24"],"default":"h24"}}],"responses":{"200":{"description":"Cached rank snapshot returned successfully."}}}},"/api/dexscreener/solana/service":{"get":{"operationId":"getDexScreenerSolanaService","summary":"Read the CLAWD DexScreener Solana service manifest","description":"Proxy the CLAWD Backrooms DexScreener service manifest for agent discovery. Browser-safe and cache-backed; no CLAWD or Firecrawl keys are forwarded.","responses":{"200":{"description":"DexScreener service manifest returned successfully."}}}},"/api/dexscreener/solana/ranks":{"get":{"operationId":"getDexScreenerSolanaRanks","summary":"Read all cached DexScreener Solana rank snapshots","description":"Return all cached CLAWD Backrooms DexScreener Solana rank views in one request for tabbed frontend or terminal hydration.","responses":{"200":{"description":"Cached rank snapshots returned successfully."}}}},"/api/dexscreener/solana/premium":{"get":{"operationId":"getDexScreenerSolanaPremium","summary":"Read aggregate Solana DEX analytics","description":"Return cached aggregate analytics across DexScreener rank views, including coverage, movers, liquidity, volume, overlap, and deduped pairs.","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120,"default":50}}],"responses":{"200":{"description":"Aggregate snapshot returned successfully."}}}},"/api/dexscreener/solana/pairs":{"get":{"operationId":"queryDexScreenerSolanaPairs","summary":"Query cached DexScreener Solana pairs","description":"Filter cached CLAWD Backrooms pair data by rank, view, text search, liquidity, volume, and limit. Browser-safe and cache-backed.","parameters":[{"name":"rank","in":"query","required":false,"schema":{"type":"string","enum":["m5","h1","h6","h24"],"default":"h24"}},{"name":"view","in":"query","required":false,"schema":{"type":"string","enum":["trend","volume","liquidity","movers","new"],"default":"trend"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"min_liquidity","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"min_volume","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120,"default":50}}],"responses":{"200":{"description":"Filtered pair data returned successfully."}}}},"/api/dex/token-data":{"get":{"operationId":"getDexTokenData","summary":"Read unified Solana token data and candles","description":"Return one browser-safe token payload with Birdeye detail, Solana Tracker risk, recent trades, token links, and multi-source OHLCV candles. Used by /terminal, /terminal/free, /dex, and /dexscreener.","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}},{"name":"pool","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["1m","5m","15m","1H","4H","1D"],"default":"15m"}},{"name":"timeFrom","in":"query","required":false,"schema":{"type":"integer"}},{"name":"timeTo","in":"query","required":false,"schema":{"type":"integer"}},{"name":"include_dflow","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Unified token data returned successfully."}}}},"/api/dexscreener/solana/context":{"get":{"operationId":"getDexScreenerSolanaContext","summary":"Read terminal-ready Solana DEX context","description":"Return a compact CLAWD Backrooms prompt block built from cached DexScreener Solana data. Supports rank and max_chars query params.","parameters":[{"name":"rank","in":"query","required":false,"schema":{"type":"string","enum":["m5","h1","h6","h24"],"default":"h24"}},{"name":"max_chars","in":"query","required":false,"schema":{"type":"integer","minimum":1000,"maximum":32000,"default":16000}}],"responses":{"200":{"description":"DexScreener context returned successfully."}}}},"/api/dexscreener/solana/refresh":{"post":{"operationId":"refreshDexScreenerSolana","summary":"Refresh one CLAWD DexScreener Solana rank","description":"Trusted terminal/server route. Requires x-terminal-secret or a valid backrooms bearer key, then calls CLAWD with process.env.CLAWD_API_KEY. Never expose this route as an unauthenticated browser action.","requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"rank":{"type":"string","enum":["m5","h1","h6","h24"],"default":"h24"},"limit":{"type":"integer","default":50},"inject":{"type":"boolean","default":true},"maxChars":{"type":"integer","default":16000},"maxAge":{"type":"integer","default":300000},"stopSession":{"type":"boolean","default":true}}}}}},"responses":{"200":{"description":"Refresh completed successfully."},"401":{"description":"Missing or invalid terminal authorization."}}}},"/api/dexscreener/solana/refresh-all":{"post":{"operationId":"refreshAllDexScreenerSolanaRanks","summary":"Refresh all CLAWD DexScreener Solana ranks","description":"Trusted terminal/server route. Requires x-terminal-secret or a valid Backrooms/admin bearer key, then calls CLAWD Firecrawl refresh-all with server-side CLAWD_API_KEY.","requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"ranks":{"type":"array","items":{"type":"string","enum":["m5","h1","h6","h24"]}},"limit":{"type":"integer","default":50},"inject":{"type":"boolean","default":false},"maxChars":{"type":"integer","default":16000},"maxAge":{"type":"integer","default":300000},"stopSession":{"type":"boolean","default":true}}}}}},"responses":{"200":{"description":"Refresh-all completed successfully."},"401":{"description":"Missing or invalid terminal authorization."}}}},"/api/dexscreener/solana/inject":{"post":{"operationId":"injectDexScreenerSolanaContext","summary":"Inject cached Solana DEX context into CLAWD","description":"Trusted terminal/server route. Injects cached DexScreener context into the CLAWD Backrooms conversation without starting another Firecrawl refresh.","parameters":[{"name":"rank","in":"query","required":false,"schema":{"type":"string","enum":["m5","h1","h6","h24"],"default":"h24"}},{"name":"max_chars","in":"query","required":false,"schema":{"type":"integer","minimum":1000,"maximum":32000,"default":16000}}],"responses":{"200":{"description":"Cached context injected successfully."},"401":{"description":"Missing or invalid terminal authorization."}}}},"/api/store/agents/wallet-brief":{"post":{"operationId":"createWalletBrief","summary":"Generate a wallet intelligence brief","description":"Inspect a Solana wallet with Helius-backed balances and indexed assets, then return a concise operator brief.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["wallet"],"properties":{"wallet":{"type":"string"}}}}}},"responses":{"200":{"description":"Wallet brief returned successfully."},"402":{"description":"x402 payment challenge for the wallet brief."}}}}}}