{
  "openapi": "3.1.0",
  "info": {
    "title": "Cult OS Developer Toolkit",
    "version": "1.0.0",
    "description": "Five synchronous developer tools accepting exact USDC payments on Solana mainnet and Base.",
    "contact": {
      "url": "https://www.cultos.dev/x402"
    }
  },
  "servers": [
    {
      "url": "https://www.cultos.dev"
    }
  ],
  "tags": [
    {
      "name": "Developer services"
    }
  ],
  "paths": {
    "/services/x402-lens": {
      "post": {
        "operationId": "inspectX402Quote",
        "summary": "Fetch an endpoint's x402 payment terms",
        "description": "Read and normalize the payment requirements advertised by a public HTTPS endpoint. Accepts exact USDC payments on Base or Solana mainnet; use the live 402 terms. Solana payments do not include x402aff payouts.",
        "tags": [
          "Developer services"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "endpoint"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "maxLength": 2048,
                    "example": "https://example.com/service"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST"
                    ],
                    "default": "POST"
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and result returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402LensResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/services/builder-code-validator": {
      "post": {
        "operationId": "inspectBuilderCode",
        "summary": "Validate Base Builder Code syntax",
        "description": "Validate a Base Builder Code and return its request header without checking registration. Accepts exact USDC payments on Base or Solana mainnet; use the live 402 terms. Solana payments do not include x402aff payouts.",
        "tags": [
          "Developer services"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "builderCode"
                ],
                "properties": {
                  "builderCode": {
                    "type": "string",
                    "maxLength": 32,
                    "example": "bc_yourcode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and result returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuilderCodeResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/services/bazaar-metadata-check": {
      "post": {
        "operationId": "validateBazaarMetadata",
        "summary": "Validate x402 Bazaar discovery metadata",
        "description": "Validate an x402 Bazaar discovery extension against the installed protocol schema. Accepts exact USDC payments on Base or Solana mainnet; use the live 402 terms. Solana payments do not include x402aff payouts.",
        "tags": [
          "Developer services"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "extension"
                ],
                "properties": {
                "extension": {
                  "type": "object",
                  "description": "The complete extensions.bazaar object from an x402 payment challenge, including info and schema.",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and result returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BazaarMetadataResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/services/http-header-audit": {
      "post": {
        "operationId": "auditHttpHeaders",
        "summary": "Validate a public endpoint's HTTP security headers",
        "description": "Inspect security and browser-policy headers from a public HTTPS endpoint. Accepts exact USDC payments on Base or Solana mainnet; use the live 402 terms. Solana payments do not include x402aff payouts.",
        "tags": [
          "Developer services"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "maxLength": 2048,
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and result returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpHeaderAuditResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/services/dockerfile-audit": {
      "post": {
        "operationId": "auditDockerfile",
        "summary": "Validate Dockerfile text without executing it",
        "description": "Inspect Dockerfile text for deterministic security and portability risks without executing it. Accepts exact USDC payments on Base or Solana mainnet; use the live 402 terms. Solana payments do not include x402aff payouts.",
        "tags": [
          "Developer services"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "dockerfile"
                ],
                "properties": {
                  "dockerfile": {
                    "type": "string",
                    "maxLength": 65536,
                    "example": "FROM node:22\nUSER node"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and result returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DockerfileAuditResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Payment required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "X402LensResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["endpoint", "method", "reachable", "quoteFound"],
        "properties": {
          "endpoint": { "type": "string", "format": "uri" },
          "method": { "type": "string", "enum": ["GET", "POST"] },
          "reachable": { "type": "boolean" },
          "status": { "type": "integer", "minimum": 100, "maximum": 599 },
          "quoteFound": { "type": "boolean" },
          "valid": { "type": "boolean" },
          "x402Version": { "type": "integer" },
          "resource": { "type": "object", "additionalProperties": true },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["scheme", "network", "asset", "amount", "payTo", "maxTimeoutSeconds"],
              "properties": {
                "scheme": { "type": "string" },
                "network": { "type": "string" },
                "asset": { "type": "string" },
                "amount": { "type": "string" },
                "payTo": { "type": "string" },
                "maxTimeoutSeconds": { "type": "integer" }
              }
            }
          }
        }
      },
      "BuilderCodeResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["valid", "builderCode", "registration"],
        "properties": {
          "valid": { "type": "boolean" },
          "builderCode": { "type": "string" },
          "header": {
            "type": "object",
            "additionalProperties": false,
            "required": ["X-Builder-Code"],
            "properties": { "X-Builder-Code": { "type": "string" } }
          },
          "registration": { "type": "string", "const": "not_checked" }
        }
      },
      "BazaarMetadataResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["valid", "errors"],
        "properties": {
          "valid": { "type": "boolean" },
          "errors": { "type": "array", "items": { "type": "string" } }
        }
      },
      "HttpHeaderAuditResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["url", "reachable", "valid", "findings"],
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "reachable": { "type": "boolean" },
          "status": { "type": "integer", "minimum": 100, "maximum": 599 },
          "valid": { "type": "boolean" },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["header", "severity", "message"],
              "properties": {
                "header": { "type": "string" },
                "severity": { "type": "string", "const": "low" },
                "message": { "type": "string" }
              }
            }
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": ["string", "null"] }
          }
        }
      },
      "DockerfileAuditResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["valid", "findings", "lines"],
        "properties": {
          "valid": { "type": "boolean" },
          "lines": { "type": "integer", "minimum": 1 },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["rule", "severity", "message"],
              "properties": {
                "rule": { "type": "string" },
                "severity": { "type": "string", "enum": ["low", "medium"] },
                "line": { "type": "integer", "minimum": 1 },
                "message": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 v2 payment authorization"
      }
    }
  }
}
