{
  "openapi": "3.1.0",
  "info": {
    "title": "GlianaAI",
    "version": "1",
    "description": "Pay-per-call AI models, live market data, SEC filings and identity APIs. Generative image, video, music, speech and LLM chat, plus crypto and FX rates, DEX liquidity, DeFi TVL, gas, US company fundamentals, SEC filings and insider trades, web search, document OCR and face matching. No signup or API key; each call is settled from the caller’s own wallet. Per-call prices: GET /v1/price?model=. Rate limit ~120 requests/min per IP — need more? contact@glianalabs.com. Not sure which endpoint you need? GET /v1/consult?intent=… is free. Agents: set up https://api.glianalabs.com/skill.md.",
    "contact": {
      "name": "Gliana Labs",
      "email": "contact@glianalabs.com",
      "url": "https://ai.glianalabs.com"
    },
    "x-guidance": "Browse models at GET /v1/models, get a model’s exact inputs at GET /v1/schema?model=, quote at GET /v1/price?model=, then POST /v1/infer with { model, ...modelInput }. You get a 402 with the price; pay from your wallet and retry. No API key — payment is the gate. Rails: POST /v1/infer settles over MPP (USDC on Tempo); for native x402 USDC on Base or Solana, POST /x402/{model}; the same tools and recipes also settle in USDC on Algorand at /a402/… and on BNB Smart Chain at /b402/… (see the per-endpoint x-payment-info for each path’s exact protocol). File inputs (image/video/audio, e.g. video-to-video video_uri) take a public URL — upload a local file (free) at POST /v1/media (≤40MB) and pass the returned url."
  },
  "x-service-info": {
    "categories": [
      "media",
      "image-to-video",
      "music",
      "stt",
      "text-to-image",
      "text-to-video",
      "tts",
      "video-to-video",
      "text"
    ],
    "docs": {
      "homepage": "https://ai.glianalabs.com",
      "apiReference": "https://ai.glianalabs.com/docs"
    }
  },
  "tags": [
    {
      "name": "media",
      "description": "Generative media inference."
    },
    {
      "name": "image-to-video"
    },
    {
      "name": "music"
    },
    {
      "name": "stt"
    },
    {
      "name": "text-to-image"
    },
    {
      "name": "text-to-video"
    },
    {
      "name": "tts"
    },
    {
      "name": "video-to-video"
    },
    {
      "name": "text"
    },
    {
      "name": "image"
    },
    {
      "name": "utility"
    }
  ],
  "servers": [
    {
      "url": "https://api.glianalabs.com"
    }
  ],
  "externalDocs": {
    "description": "GlianaAI",
    "url": "https://ai.glianalabs.com"
  },
  "components": {
    "schemas": {
      "InferOutput": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "costMicroUsd": {
            "type": "integer",
            "description": "Amount charged, micro-USD."
          },
          "output": {
            "type": "object",
            "additionalProperties": true,
            "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
          }
        }
      },
      "PromptInput": {
        "type": "object",
        "required": [],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt, or the model-specific input — see GET /v1/schema?model=."
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/v1/infer": {
      "post": {
        "operationId": "infer",
        "summary": "Run any of 90+ generative models pay-per-call.",
        "tags": [
          "media",
          "image-to-video",
          "music",
          "stt",
          "text-to-image",
          "text-to-video",
          "tts",
          "video-to-video",
          "text"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nOne endpoint for the whole catalog: send { model, ...modelInput } — pick any model from GET /v1/models (90+ across image, video, image-to-video, text-to-speech, speech-to-text, music). Responds 402 Payment Required with the per-model price; pay from your own account and retry.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id or full run id (see GET /v1/models)."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Most models take a text prompt; STT/some take a file/url instead."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "grok-imagine-image",
                "prompt": "a red apple on a table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output + payment receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    },
                    "output": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
                    }
                  }
                },
                "example": {
                  "model": "nano-banana-2",
                  "costMicroUsd": 92400,
                  "output": {
                    "url": "https://api.glianalabs.com/v1/media/8f2c1d9e4a7b3f60.png",
                    "contentType": "image/png",
                    "sizeBytes": 1834127
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/infer\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\":\"grok-imagine-image\",\"prompt\":\"a red apple on a table\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/infer', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"model\": \"grok-imagine-image\",\n    \"prompt\": \"a red apple on a table\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/session/infer": {
      "post": {
        "operationId": "sessionInfer",
        "summary": "Run any of 100+ models over a payment channel (pay-as-you-go).",
        "tags": [
          "media",
          "image-to-video",
          "music",
          "stt",
          "text-to-image",
          "text-to-video",
          "tts",
          "video-to-video",
          "text"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nOpen one Tempo channel and pay many calls with off-chain vouchers; settle on close. Non-custodial — the deposit stays in the on-chain escrow.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "session",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "session",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "session",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id or full run id."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output + payment receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    },
                    "output": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
                    }
                  }
                },
                "example": {
                  "model": "nano-banana-2",
                  "costMicroUsd": 92400,
                  "output": {
                    "url": "https://api.glianalabs.com/v1/media/8f2c1d9e4a7b3f60.png",
                    "contentType": "image/png",
                    "sizeBytes": 1834127
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — open/extend the channel and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/session/infer\"\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/session/infer', {\n  method: 'POST',\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "chatCompletions",
        "summary": "Generate chat completions with any LLM pay-per-call.",
        "tags": [
          "text"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nDrop-in for the OpenAI chat completions API: swap the base URL, keep your SDK. Pick any text model from GET /v1/models (category \"text\"). Billing is a pre-charged ceiling — (estimated input tokens + max_tokens) at the model’s per-1M rates — so set max_tokens to bound spend; the response returns real `usage`. Supports messages (required), max_tokens, temperature, top_p, stream: true (SSE, OpenAI chunk format), tools/tool_choice (OpenAI function calling — tool_calls + role:\"tool\" round-trip), and vision (content parts with image_url on vision-capable models). 402 → pay → retry. FILE INPUT: if the image is already on the web or your own storage, pass `image_url` — we fetch it server-side at datacenter speed, which is the fastest option by far. Sending it inline as `image_base64` is simplest and stores nothing anywhere, but base64 adds ~33% to the bytes and you pay your own upload speed, so it is best under ~1MB. For a large local file, upload the RAW bytes to `POST /v1/media` (free, ≤40MB) and pass the URL: same transfer as base64 minus the 33%, and identity endpoints delete the object as soon as they have read it.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Text model id (see GET /v1/models, category \"text\")."
                  },
                  "messages": {
                    "type": "array",
                    "description": "OpenAI-style chat messages: [{ role: \"user\"|\"assistant\"|\"system\"|\"tool\", content }].",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Output cap — bounds the pre-charged ceiling. Default 1024."
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "OpenAI function tools; response returns tool_calls."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "grok-4.3",
                "messages": [
                  {
                    "role": "user",
                    "content": "Summarize x402 in one sentence."
                  }
                ],
                "max_tokens": 256
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI chat-completion body (+ costMicroUsd and a payment receipt)."
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/chat/completions\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\":\"grok-4.3\",\"messages\":[{\"role\":\"user\",\"content\":\"Summarize x402 in one sentence.\"}],\"max_tokens\":256}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/chat/completions', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"model\": \"grok-4.3\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Summarize x402 in one sentence.\"\n      }\n    ],\n    \"max_tokens\": 256\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "imagesGenerate",
        "summary": "Generate an image from a text prompt with any model.",
        "tags": [
          "image",
          "text-to-image"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nCapability endpoint — pick any matching model with GET /v1/models and pass it as { model }. Same pay-per-call charge as /v1/infer (402, then pay and retry); the per-model POST /x402/flux-2-pro-preview path also works.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id or full run id (see GET /v1/models)."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "flux-2-pro-preview",
                "prompt": "a red apple on a wooden table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result + payment receipt (media: { data: [{ url }] }; STT: { text }).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    },
                    "output": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
                    }
                  }
                },
                "example": {
                  "model": "nano-banana-2",
                  "costMicroUsd": 92400,
                  "output": {
                    "url": "https://api.glianalabs.com/v1/media/8f2c1d9e4a7b3f60.png",
                    "contentType": "image/png",
                    "sizeBytes": 1834127
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/images/generations\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\":\"flux-2-pro-preview\",\"prompt\":\"a red apple on a wooden table\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/images/generations', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"model\": \"flux-2-pro-preview\",\n    \"prompt\": \"a red apple on a wooden table\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "operationId": "audioSpeech",
        "summary": "Convert text to speech with any TTS model.",
        "tags": [
          "tts"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nCapability endpoint — pick any matching model with GET /v1/models and pass it as { model }. Same pay-per-call charge as /v1/infer (402, then pay and retry); the per-model POST /x402/grok-tts path also works.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id or full run id (see GET /v1/models)."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "grok-tts",
                "input": "Hello from GlianaAI."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result + payment receipt (media: { data: [{ url }] }; STT: { text }).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    },
                    "output": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
                    }
                  }
                },
                "example": {
                  "model": "nano-banana-2",
                  "costMicroUsd": 92400,
                  "output": {
                    "url": "https://api.glianalabs.com/v1/media/8f2c1d9e4a7b3f60.png",
                    "contentType": "image/png",
                    "sizeBytes": 1834127
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/audio/speech\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\":\"grok-tts\",\"input\":\"Hello from GlianaAI.\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/audio/speech', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"model\": \"grok-tts\",\n    \"input\": \"Hello from GlianaAI.\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "operationId": "audioTranscribe",
        "summary": "Transcribe audio to text with any STT model.",
        "tags": [
          "stt"
        ],
        "description": "**$0.0001–$60 per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nCapability endpoint — pick any matching model with GET /v1/models and pass it as { model }. Same pay-per-call charge as /v1/infer (402, then pay and retry); the per-model POST /x402/grok-stt path also works. FILE INPUT: if the audio file is already on the web or your own storage, pass `audio_url` — we fetch it server-side at datacenter speed, which is the fastest option by far. Sending it inline as `audio_base64` is simplest and stores nothing anywhere, but base64 adds ~33% to the bytes and you pay your own upload speed, so it is best under ~1MB. For a large local file, upload the RAW bytes to `POST /v1/media` (free, ≤40MB) and pass the URL: same transfer as base64 minus the 33%, and identity endpoints delete the object as soon as they have read it.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "60"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id or full run id (see GET /v1/models)."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "grok-stt",
                "audio_url": "https://example.com/input.mp3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result + payment receipt (media: { data: [{ url }] }; STT: { text }).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    },
                    "output": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The model result, nested — NOT spread across the top level. Media models return { url, contentType, sizeBytes } where url is a stable /v1/media link we host; text models (STT, vision, JSON tools) return the provider shape, e.g. { text }."
                    }
                  }
                },
                "example": {
                  "model": "nano-banana-2",
                  "costMicroUsd": 92400,
                  "output": {
                    "url": "https://api.glianalabs.com/v1/media/8f2c1d9e4a7b3f60.png",
                    "contentType": "image/png",
                    "sizeBytes": 1834127
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/audio/transcriptions\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"model\":\"grok-stt\",\"audio_url\":\"https://example.com/input.mp3\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/audio/transcriptions', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"model\": \"grok-stt\",\n    \"audio_url\": \"https://example.com/input.mp3\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/minimax-m3": {
      "post": {
        "operationId": "x402_minimax-m3",
        "summary": "Generate text with minimax-m3 via x402.",
        "description": "**$0.001291 per call.** Flat price, charged only on success.\n\nPay-per-call minimax-m3 (text).",
        "tags": [
          "text"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001291"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "OpenAI-style chat messages: [{ role: \"user\" | \"system\" | \"assistant\" | \"tool\", content }]. Vision: content may be a parts array with { type: \"image_url\", image_url: { url } } (public URL — upload via POST /v1/media)."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Output-token cap — bounds the pre-charged price ceiling. Default 1024."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature. Passed through where the provider supports it."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling. Passed through where the provider supports it."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "true → Server-Sent Events in the OpenAI chunk format (on /v1/chat/completions)."
                  },
                  "tools": {
                    "type": "array",
                    "description": "OpenAI-style function tools: [{ type: \"function\", function: { name, description, parameters } }]. The response returns tool_calls (finish_reason \"tool_calls\"); send results back as { role: \"tool\", tool_call_id, content }."
                  },
                  "tool_choice": {
                    "type": "string",
                    "description": "\"auto\" (default) | \"none\" | \"required\" | { type: \"function\", function: { name } }."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "Summarize x402 in one sentence."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/minimax-m3\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"messages\":[{\"role\":\"user\",\"content\":\"Summarize x402 in one sentence.\"}]}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/minimax-m3', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Summarize x402 in one sentence.\"\n      }\n    ]\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/nano-banana-2": {
      "post": {
        "operationId": "x402_nano-banana-2",
        "summary": "Generate an image with nano-banana-2 via x402.",
        "description": "**$0.114000 per call.** Flat price, charged only on success.\n\nPay-per-call nano-banana-2 (text-to-image).",
        "tags": [
          "text-to-image"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.114000"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Output aspect ratio (e.g. 16:9, 1:1, 9:16).",
                    "enum": [
                      "match_input_image",
                      "1:1",
                      "2:3",
                      "3:2",
                      "3:4",
                      "4:3",
                      "4:5",
                      "5:4",
                      "9:16",
                      "16:9",
                      "21:9"
                    ]
                  },
                  "google_search": {
                    "type": "boolean",
                    "description": "Allow the model to use Google Search for grounding."
                  },
                  "image_input": {
                    "type": "array",
                    "description": "Reference image(s) to guide generation (HTTPS URL or upload). Pass a public URL; to use a local file, upload it (free) via POST /v1/media (≤40MB) and pass the returned url.",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "x-file-input": true
                  },
                  "image_search": {
                    "type": "boolean",
                    "description": "Allow the model to search for reference images."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "File format of the output (e.g. png, jpeg, mp4).",
                    "enum": [
                      "jpg",
                      "png"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt describing what to generate."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Output resolution / quality tier.",
                    "enum": [
                      "1K",
                      "2K",
                      "4K"
                    ]
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "prompt": "a red apple on a table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/nano-banana-2\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"prompt\":\"a red apple on a table\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/nano-banana-2', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"prompt\": \"a red apple on a table\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/tts-1": {
      "post": {
        "operationId": "x402_tts-1",
        "summary": "Convert text to speech with tts-1 via x402.",
        "description": "**$0.001000–$undefined per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nPay-per-call tts-1 (tts). Priced per character — final price scales with text length; min is the smallest possible charge.",
        "tags": [
          "tts"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.001000"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "response_format": {
                    "type": "string",
                    "description": "The output format for the audio. Supported formats are mp3, opus, wav, aac and flac.",
                    "enum": [
                      "mp3",
                      "opus",
                      "wav",
                      "aac",
                      "flac"
                    ]
                  },
                  "speed": {
                    "type": "number",
                    "description": "The speed of the generated audio. Select a value from 0.25 to 4.0. 1.0 is the default.",
                    "minimum": 0.25,
                    "maximum": 4
                  },
                  "text": {
                    "type": "string",
                    "description": "The text to generate audio for. Maximum length is 4096 characters."
                  },
                  "voice": {
                    "type": "string",
                    "description": "The voice to use when generating the audio. Defaults to alloy.",
                    "enum": [
                      "alloy",
                      "echo",
                      "fable",
                      "onyx",
                      "nova",
                      "shimmer"
                    ]
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "text": "Hello from GlianaAI."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/tts-1\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"text\":\"Hello from GlianaAI.\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/tts-1', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"text\": \"Hello from GlianaAI.\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/grok-tts": {
      "post": {
        "operationId": "x402_grok-tts",
        "summary": "Convert text to speech with grok-tts via x402.",
        "description": "**$0.001000–$undefined per call**, depending on model and input. Exact price is returned in the 402 challenge before you pay, or up front from `GET /v1/price?model=`.\n\nPay-per-call grok-tts (tts). Priced per character — final price scales with text length; min is the smallest possible charge.",
        "tags": [
          "tts"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.001000"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "BCP-47 language code (e.g. \"en\", \"zh\", \"pt-BR\") or \"auto\" for automatic language detection. Required for both REST and WebSocket modes. Supported codes: auto, en, ar-EG, ar-SA, ar-AE, bn, zh, fr, de, hi, id, it, ja, ko, pt-BR, pt-PT, ru, es-MX, es-ES, tr, vi."
                  },
                  "optimize_streaming_latency": {
                    "type": "number",
                    "description": "Latency optimization for streaming synthesis. 0 (default): no optimization, best audio quality. 1: reduced first-chunk size for lower time-to-first-audio with minor quality tradeoff.",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "output_format": {
                    "type": "object",
                    "description": "Output audio format. Defaults to MP3 at 24 kHz / 128 kbps when omitted."
                  },
                  "speed": {
                    "type": "number",
                    "description": "Speech speed multiplier. 1.0 is normal speed. Range: 0.7 to 1.5. Defaults to 1.0. Only used in WebSocket mode.",
                    "minimum": 0.7,
                    "maximum": 1.5
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert to speech. Maximum 15,000 characters. Supports inline speech tags: [pause], [laugh], <whisper>…</whisper>, etc. Required for REST mode, mutually exclusive with websocket."
                  },
                  "text_normalization": {
                    "type": "boolean",
                    "description": "When true, normalizes written-form text into spoken-form before synthesis (e.g. \"Dr.\" → \"Doctor\", \"100\" → \"one hundred\"). Defaults to false."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice for synthesis. Defaults to \"eve\". Built-in voices: eve (energetic), ara (warm), rex (confident), sal (balanced), leo (authoritative). Custom voice IDs from /v1/tts/voices are also accepted. Case-insensitive — \"Eve\", \"EVE\", and \"eve\" are equivalent."
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "text": "Hello from GlianaAI."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/grok-tts\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"text\":\"Hello from GlianaAI.\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/grok-tts', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"text\": \"Hello from GlianaAI.\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/grok-stt": {
      "post": {
        "operationId": "x402_grok-stt",
        "summary": "Transcribe audio with grok-stt via x402.",
        "description": "**$0.009006 per call.** Flat price, charged only on success.\n\nPay-per-call grok-stt (stt).",
        "tags": [
          "stt"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.009006"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "audio_format": {
                    "type": "string",
                    "description": "Format hint for raw/headerless audio. Required for pcm, mulaw, alaw. Omit for container formats (mp3, wav, etc.) — xAI auto-detects them.",
                    "enum": [
                      "pcm",
                      "mulaw",
                      "alaw"
                    ]
                  },
                  "channels": {
                    "type": "integer",
                    "description": "Number of audio channels (2–8). Required only for multichannel raw audio; auto-detected for container formats.",
                    "minimum": 2,
                    "maximum": 8
                  },
                  "diarize": {
                    "type": "boolean",
                    "description": "When true, enables speaker diarization. Each word in the response includes a `speaker` integer identifying the detected speaker."
                  },
                  "file": {
                    "type": "string",
                    "description": "Audio file as a data URI (data:audio/...;base64,...) or an HTTPS URL the gateway fetches and uploads. Supported container formats: flac, mp3, mp4, m4a, mkv, ogg, opus, wav, aac. Raw formats (pcm, mulaw, alaw) also accepted — supply audio_format and sample_rate. Gateway-side size limit: 25 MB. Mutually exclusive with `url`. Pass a public URL; to use a local file, upload it (free) via POST /v1/media (≤40MB) and pass the returned url.",
                    "x-file-input": true
                  },
                  "filler_words": {
                    "type": "boolean",
                    "description": "When true, filler words (uh, um, er) are included in the transcript. Defaults to false — filler words are removed."
                  },
                  "format": {
                    "type": "boolean",
                    "description": "When true, enables Inverse Text Normalization — spoken numbers and currencies are converted to written form (e.g. \"one hundred dollars\" → \"$100\"). Requires language to be set."
                  },
                  "keyterm": {
                    "type": "array",
                    "description": "Key terms to bias transcription toward (e.g. product names, proper nouns). Each term up to 50 characters, max 100 terms. Sent as repeated form fields: keyterm=Term+One&keyterm=Term+Two."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g. \"en\", \"fr\", \"de\"). Used with format=true to enable Inverse Text Normalization. xAI transcribes in any language regardless — supplying this enables number/currency formatting in the transcript."
                  },
                  "multichannel": {
                    "type": "boolean",
                    "description": "When true, each audio channel is transcribed independently. Results are returned in the `channels` array. Requires channels ≥ 2."
                  },
                  "sample_rate": {
                    "type": "integer",
                    "description": "Sample rate in Hz. Required when audio_format is set."
                  },
                  "url": {
                    "type": "string",
                    "description": "HTTPS URL of an audio file for xAI to fetch server-side. Mutually exclusive with `file` and `websocket`. No gateway-side size limit applies. Pass a public URL; to use a local file, upload it (free) via POST /v1/media (≤40MB) and pass the returned url.",
                    "x-file-input": true
                  }
                },
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/grok-stt\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/grok-stt', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({}),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/x402/flux-2-pro-preview": {
      "post": {
        "operationId": "x402_flux-2-pro-preview",
        "summary": "Generate an image with flux-2-pro-preview via x402.",
        "description": "**$0.054000 per call.** Flat price, charged only on success.\n\nPay-per-call flux-2-pro-preview (text-to-image).",
        "tags": [
          "text-to-image"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.054000"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  {
                    "network": "base",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "payTo": "0x7662E00f8Ab4C362166e1FF649Ff6c2A638c80AD"
                  },
                  {
                    "network": "solana",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "payTo": "CXSdm7NgrFXooHbvN6CdNgMvmqTkVLzu6JCVZR3J3Ygh"
                  }
                ]
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "height": {
                    "type": "integer",
                    "description": "Height of the generated image in pixels (minimum 64). Omit to let BFL pick.",
                    "minimum": 64
                  },
                  "input_images": {
                    "type": "array",
                    "description": "Up to 8 reference images for editing or multi-image composition. Each entry is an HTTPS URL or a data:image/...;base64,... URI. Pass a public URL; to use a local file, upload it (free) via POST /v1/media (≤40MB) and pass the returned url.",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "x-file-input": true
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Output image format. Defaults to jpeg.",
                    "enum": [
                      "jpeg",
                      "png",
                      "webp"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt for image generation or editing."
                  },
                  "safety_tolerance": {
                    "type": "integer",
                    "description": "Tolerance for input/output moderation. 0 is the strictest, 5 the most permissive. Defaults to 2.",
                    "minimum": 0,
                    "maximum": 5
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Optional seed for reproducible generation."
                  },
                  "width": {
                    "type": "integer",
                    "description": "Width of the generated image in pixels (minimum 64). Omit to let BFL pick.",
                    "minimum": 64
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "prompt": "a red apple on a table"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferOutput"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/x402/flux-2-pro-preview\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"prompt\":\"a red apple on a table\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/x402/flux-2-pro-preview', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"prompt\": \"a red apple on a table\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/scrape": {
      "post": {
        "operationId": "toolScrape",
        "summary": "Scrape a rendered page to clean markdown.",
        "tags": [
          "utility"
        ],
        "description": "**$0.005000 per call.** Flat price, charged only on success.\n\nRender a page (JS) → clean markdown — { url }. Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "https URL of the page to fetch as markdown."
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/scrape",
                  "costMicroUsd": 5000,
                  "url": "https://example.com",
                  "markdown": "# Example\n\nSome page text..."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/scrape\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/scrape', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"url\": \"https://example.com\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/face-compare": {
      "post": {
        "operationId": "toolFaceCompare",
        "summary": "Compare two faces for similarity and match.",
        "tags": [
          "utility"
        ],
        "description": "**$0.011000 per call.** Flat price, charged only on success.\n\nCompare two faces → cosine similarity + match — { a:{image_url|image_base64}, b:{image_url|image_base64} }. Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry). FILE INPUT: if the image is already on the web or your own storage, pass `image_url` — we fetch it server-side at datacenter speed, which is the fastest option by far. Sending it inline as `image_base64` is simplest and stores nothing anywhere, but base64 adds ~33% to the bytes and you pay your own upload speed, so it is best under ~1MB. For a large local file, upload the RAW bytes to `POST /v1/media` (free, ≤40MB) and pass the URL: same transfer as base64 minus the 33%, and identity endpoints delete the object as soon as they have read it.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.011000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "a": {
                    "type": "object",
                    "description": "First face to compare: { image_url } or { image_base64 }."
                  },
                  "b": {
                    "type": "object",
                    "description": "Second face to compare: { image_url } or { image_base64 }."
                  }
                },
                "required": [
                  "a",
                  "b"
                ]
              },
              "example": {
                "a": {
                  "image_url": "https://example.com/a.jpg"
                },
                "b": {
                  "image_url": "https://example.com/b.jpg"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/face-compare",
                  "costMicroUsd": 11000
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/face-compare\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"a\":{\"image_url\":\"https://example.com/a.jpg\"},\"b\":{\"image_url\":\"https://example.com/b.jpg\"}}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/face-compare', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"a\": {\n      \"image_url\": \"https://example.com/a.jpg\"\n    },\n    \"b\": {\n      \"image_url\": \"https://example.com/b.jpg\"\n    }\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/token-price": {
      "post": {
        "operationId": "toolTokenPrice",
        "summary": "Fetch spot token prices by ticker symbol.",
        "tags": [
          "utility"
        ],
        "description": "**$0.002000 per call.** Flat price, charged only on success.\n\nSpot token prices — { symbols: \"BTC,ETH\", vs? } (CoinGecko ids also accepted via the same field or { ids }). Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "symbols": {
                    "type": "string",
                    "description": "Comma-separated ticker symbols, e.g. \"BTC,ETH\"."
                  },
                  "vs": {
                    "type": "string",
                    "description": "Quote currency for the price, e.g. \"usd\"."
                  }
                },
                "required": [
                  "symbols",
                  "vs"
                ]
              },
              "example": {
                "symbols": "BTC,ETH",
                "vs": "usd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/token-price",
                  "costMicroUsd": 2000,
                  "vs": "USD",
                  "prices": {
                    "BTC": 68000.12,
                    "ETH": 3450.5
                  },
                  "sources": {
                    "BTC": "coinbase",
                    "ETH": "coinbase"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/token-price\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"symbols\":\"BTC,ETH\",\"vs\":\"usd\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/token-price', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"symbols\": \"BTC,ETH\",\n    \"vs\": \"usd\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/swap-quote": {
      "post": {
        "operationId": "toolSwapQuote",
        "summary": "Get token swap and bridge quotes across chains.",
        "tags": [
          "utility"
        ],
        "description": "**$0.002000 per call.** Flat price, charged only on success.\n\nBest routes to swap or bridge tokens across 60+ mainnets — { chain, from, to, amount, to_chain?, slippage_pct?, limit? }. amount is in whole tokens. Returns routes[] with receive, receive_min, value lost to fees and price impact, gas, fees and the DEXs or bridges used. Quote only: no wallet needed, nothing executed. The per-call price buys the quote; a service fee (service_fee_pct) is taken on-chain only if a swap executes. Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Chain to swap on: a name like base, ethereum, arbitrum, bsc, solana, or a chain id."
                  },
                  "from": {
                    "type": "string",
                    "description": "Token to sell: a symbol like USDC or ETH, or its contract address."
                  },
                  "to": {
                    "type": "string",
                    "description": "Token to buy: a symbol or contract address."
                  },
                  "amount": {
                    "type": "string",
                    "description": "How much of the from token to sell, in whole tokens, e.g. \"10\" or \"0.25\"."
                  },
                  "to_chain": {
                    "type": "string",
                    "description": "Optional destination chain for a bridge, e.g. arbitrum or solana. Default: same as chain."
                  },
                  "slippage_pct": {
                    "type": "number",
                    "description": "Optional slippage tolerance in percent, 0.05 to 10. Default 0.5."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional number of routes to return, 1 to 5. Default 3."
                  }
                },
                "required": [
                  "chain",
                  "from",
                  "to",
                  "amount"
                ]
              },
              "example": {
                "chain": "base",
                "from": "USDC",
                "to": "ETH",
                "amount": "10"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/swap-quote",
                  "costMicroUsd": 2000,
                  "from": {
                    "chain": "Base",
                    "chain_id": 8453,
                    "symbol": "USDC",
                    "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "decimals": 6,
                    "amount": "10"
                  },
                  "to": {
                    "chain": "Base",
                    "chain_id": 8453,
                    "symbol": "ETH",
                    "address": "0x0000000000000000000000000000000000000000",
                    "decimals": 18
                  },
                  "slippage_pct": 0.5,
                  "service_fee_pct": 0,
                  "routes": [
                    {
                      "receive": "0.004157370122155659",
                      "receive_min": "0.004136583271544881",
                      "send_usd": 9.8864,
                      "receive_usd": 9.9926,
                      "value_lost_pct": -1.07,
                      "gas_usd": 0.0077,
                      "fees": [
                        {
                          "name": "Routing fee",
                          "usd": 0.0247
                        }
                      ],
                      "via": [
                        "1inch"
                      ],
                      "duration_s": 0,
                      "tags": [
                        "RECOMMENDED",
                        "CHEAPEST",
                        "FASTEST"
                      ]
                    }
                  ],
                  "note": "GlianaAI never holds your funds or keys. A quote, not a transaction."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/swap-quote\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"chain\":\"base\",\"from\":\"USDC\",\"to\":\"ETH\",\"amount\":\"10\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/swap-quote', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"chain\": \"base\",\n    \"from\": \"USDC\",\n    \"to\": \"ETH\",\n    \"amount\": \"10\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/rerank": {
      "post": {
        "operationId": "toolRerank",
        "summary": "List documents ranked by relevance to a query.",
        "tags": [
          "utility"
        ],
        "description": "**$0.001000 per call.** Flat price, charged only on success.\n\nCross-encoder reranking for RAG — { query, documents, top_k? }. Reads the query with each document and orders them, most relevant first. Up to 100 documents (strings or { text } objects), each up to 4,000 characters. Returns results[] with index (position in your input), score and document. Use after a vector or keyword search, before prompting. Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "What the documents are being ranked against, up to 1,000 characters."
                  },
                  "documents": {
                    "type": "array",
                    "description": "Candidate texts to rank: up to 100 strings or { text } objects, each up to 4,000 characters."
                  },
                  "top_k": {
                    "type": "integer",
                    "description": "Optional: return only the N most relevant documents. Default: all of them, ranked."
                  }
                },
                "required": [
                  "query",
                  "documents"
                ]
              },
              "example": {
                "query": "How do I get a refund?",
                "documents": [
                  "Our office is open Monday to Friday.",
                  "Refunds are issued to the original payment method within 5 business days."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/rerank",
                  "costMicroUsd": 1000,
                  "model": "@cf/baai/bge-reranker-base",
                  "query": "How do I get a refund?",
                  "count": 2,
                  "results": [
                    {
                      "index": 1,
                      "score": 0.981204,
                      "document": "Refunds are issued to the original payment method within 5 business days."
                    },
                    {
                      "index": 0,
                      "score": 0.004117,
                      "document": "Our office is open Monday to Friday."
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/rerank\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"query\":\"How do I get a refund?\",\"documents\":[\"Our office is open Monday to Friday.\",\"Refunds are issued to the original payment method within 5 business days.\"]}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/rerank', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"query\": \"How do I get a refund?\",\n    \"documents\": [\n      \"Our office is open Monday to Friday.\",\n      \"Refunds are issued to the original payment method within 5 business days.\"\n    ]\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    },
    "/v1/tools/filing-digest": {
      "post": {
        "operationId": "toolFilingDigest",
        "summary": "Extract answers from an SEC filing with cited quotes.",
        "tags": [
          "utility"
        ],
        "description": "**$0.100000 per call.** Flat price, charged only on success.\n\nA model reads a US public company filing and answers from it — { ticker, form?, accession?, question?, compare_to_prior? }. form defaults to 10-K; compare_to_prior also reads the previous filing of the same form and reports what changed. Returns answer, passages[] each matched verbatim against the filing, and links. Flat price for up to 700,000 characters of filing text; larger filings are refused before payment. Never investment advice. Utility endpoint (not an AI model) — flat price, paid like /v1/infer (402, then pay and retry).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge",
                "network": "eip155:8453",
                "currency": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "network": "solana:mainnet",
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "ticker": {
                    "type": "string",
                    "description": "US stock ticker, e.g. AAPL. Case-insensitive."
                  },
                  "form": {
                    "type": "string",
                    "description": "Optional form to read, newest first: 10-K (default), 10-Q, 20-F, 40-F, 8-K, 6-K, DEF 14A, S-1 or F-1."
                  },
                  "accession": {
                    "type": "string",
                    "description": "Optional accession number of one specific filing, e.g. 0000320193-25-000079. Overrides form."
                  },
                  "question": {
                    "type": "string",
                    "description": "Optional question to answer from the filing, up to 500 characters. Omit for the most important disclosures."
                  },
                  "compare_to_prior": {
                    "type": "boolean",
                    "description": "Optional. true also reads the previous filing of the same form and reports what changed. Both must fit the 700,000-character cap together."
                  }
                },
                "required": [
                  "ticker"
                ]
              },
              "example": {
                "ticker": "AAPL"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result, plus the payment receipt headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string",
                      "description": "Tool id, echoed back."
                    },
                    "costMicroUsd": {
                      "type": "integer",
                      "description": "Amount charged, micro-USD."
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "tool": "tools/filing-digest",
                  "costMicroUsd": 100000,
                  "company": {
                    "name": "Apple Inc.",
                    "ticker": "AAPL",
                    "cik": "0000320193"
                  },
                  "filing": {
                    "form": "10-K",
                    "filed": "2025-10-31",
                    "period": "2025-09-27",
                    "accession": "0000320193-25-000079",
                    "url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/aapl-20250927.htm"
                  },
                  "question": "What does the filing say about tariffs?",
                  "answer": "Apple names new and higher tariffs as a risk to its costs and margins, and says trade measures can affect its supply chain and demand.",
                  "passages": [
                    {
                      "quote": "Tariffs and other trade measures can adversely affect the Company’s business.",
                      "supports": "tariffs are a named risk"
                    }
                  ],
                  "charsRead": 209892,
                  "model": "gemini-3.5-flash-lite"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — pay the challenge and retry."
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.glianalabs.com/v1/tools/filing-digest\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"ticker\":\"AAPL\"}'\n# Answers 402 with the price and where to pay. Pay from your wallet and\n# retry the same request with the proof. Clients like mppx do this for you."
          },
          {
            "lang": "JavaScript",
            "source": "const res = await fetch('https://api.glianalabs.com/v1/tools/filing-digest', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    \"ticker\": \"AAPL\"\n  }),\n});\nconst data = await res.json();"
          }
        ]
      }
    }
  }
}
