{
  "openapi": "3.1.0",
  "info": {
    "title": "glim.sh",
    "description": "One remote endpoint gives your agent live data from Twitter, Reddit, the open web, GitHub and more. No API keys, no scraping stack - just connect the URL and pay per call.",
    "version": "1.0.0",
    "contact": {
      "url": "https://glim.sh",
      "email": "support@glim.sh"
    },
    "x-guidance": "glim.sh is a pay-per-use research and inference API. Every /api/v1 endpoint accepts an x402 or MPP wallet payment, or a glim.sh API key / OAuth token (apiKey query param or Authorization: Bearer <key>) charged to your account. The MCP server at /mcp accepts the same credential types."
  },
  "servers": [
    {
      "url": "https://glim.sh"
    }
  ],
  "paths": {
    "/api/v1/twitter/search": {
      "post": {
        "operationId": "postApiV1TwitterSearch",
        "tags": [
          "Twitter"
        ],
        "summary": "Search tweets with advanced query operators",
        "description": "Search Twitter with advanced operators. Returns ~20 tweets per page with engagement summary. Use cursor for pagination.",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Search query with advanced operators"
                  },
                  "sort": {
                    "description": "Sort order: \"latest\" (newest first) or \"top\" (most engaged). Default: \"latest\".",
                    "type": "string",
                    "enum": [
                      "latest",
                      "top"
                    ]
                  },
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string",
                    "maxLength": 500
                  },
                  "start_date": {
                    "description": "Only tweets on or after this time. YYYY-MM-DD (UTC midnight) or ISO 8601 datetime with Z/offset (e.g. 2026-04-13T14:30:00Z)",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}(:\\d{2}(\\.\\d+)?)?(Z|[+-]\\d{2}:?\\d{2}))?$"
                  },
                  "end_date": {
                    "description": "Only tweets before this time. YYYY-MM-DD (inclusive through end of day UTC) or ISO 8601 datetime with Z/offset (e.g. 2026-04-13T14:30:00Z)",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}(:\\d{2}(\\.\\d+)?)?(Z|[+-]\\d{2}:?\\d{2}))?$"
                  },
                  "expand_urls": {
                    "default": false,
                    "description": "When true, auto-crawl entity URLs and attach crawled_content to tweets. Off by default: responses can grow by up to 4KB per expanded URL. Use glim_web_crawl(url) for targeted crawls instead.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "from:elonmusk AI min_faves:100"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Search tweets with advanced query operators"
        }
      }
    },
    "/api/v1/twitter/get": {
      "post": {
        "operationId": "postApiV1TwitterGet",
        "tags": [
          "Twitter"
        ],
        "summary": "Fetch a tweet with thread context, or a user profile",
        "description": "Fetch a tweet or a user from a single reference. Tweet URLs, handle-less /i/status URLs, and bare numeric tweet ids return the tweet with full thread context, parent, and optional replies/quotes; a profile URL (https://x.com/<handle>) returns the user with ~20 recent tweets.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Tweet URL/id or profile URL. Tweet URLs including /i/status/<id> and bare numeric tweet ids return the tweet + thread; a profile URL (https://x.com/<handle>) returns the user + recent tweets."
                  },
                  "include": {
                    "description": "Tweet refs only: extra sections to include (replies, quotes)",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "replies",
                        "quotes"
                      ]
                    }
                  },
                  "include_replies": {
                    "default": false,
                    "description": "Profile refs only: include replies in the timeline",
                    "type": "boolean"
                  },
                  "include_mentions": {
                    "default": false,
                    "description": "Profile refs only: include the mentions timeline",
                    "type": "boolean"
                  },
                  "cursor": {
                    "description": "Profile refs only: pagination cursor",
                    "type": "string",
                    "maxLength": 500
                  },
                  "expand_urls": {
                    "default": false,
                    "description": "When true, auto-crawl entity URLs and attach crawled_content to tweets. Off by default: responses can grow by up to 4KB per expanded URL. Use glim_web_crawl(url) for targeted crawls instead.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "ref"
                ]
              },
              "example": {
                "ref": "https://x.com/karpathy/status/1585841080431321088"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "tweet": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "thread": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "thread_has_more": {
                      "type": "boolean"
                    },
                    "thread_next_cursor": {
                      "type": "string"
                    },
                    "parent": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "article": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "replies": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "tweets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "tweets",
                        "count",
                        "has_more"
                      ]
                    },
                    "quotes": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "tweets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "tweets",
                        "count",
                        "has_more"
                      ]
                    },
                    "user": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "mentions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            },
            "description": "Tweet or user payload"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Not Found"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch a tweet with thread context, or a user profile"
        }
      }
    },
    "/api/v1/reddit/search": {
      "post": {
        "operationId": "postApiV1RedditSearch",
        "tags": [
          "Reddit"
        ],
        "summary": "Search Reddit posts by keyword query",
        "description": "Search posts across Reddit with sort and time filters.",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Search query"
                  },
                  "sort": {
                    "default": "relevance",
                    "description": "Sort order",
                    "type": "string",
                    "enum": [
                      "relevance",
                      "hot",
                      "top",
                      "new",
                      "comments"
                    ]
                  },
                  "time": {
                    "default": "all",
                    "description": "Time range",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "limit": {
                    "default": 25,
                    "description": "Max results",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string",
                    "maxLength": 500
                  },
                  "start_date": {
                    "description": "Only posts on or after this date (YYYY-MM-DD)",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "end_date": {
                    "description": "Only posts before this date (YYYY-MM-DD)",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "x402 protocol"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Search Reddit posts by keyword query"
        }
      }
    },
    "/api/v1/reddit/get": {
      "post": {
        "operationId": "postApiV1RedditGet",
        "tags": [
          "Reddit"
        ],
        "summary": "Fetch a Reddit post with comments, subreddit feed, or user",
        "description": "Fetch a Reddit post, subreddit, or user. Posts return comments; subreddit and user refs return metadata plus recent activity.",
        "responses": {
          "200": {
            "description": "Reddit resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Reddit post, subreddit, or user reference. Best: a post URL, subreddit URL/r/name, or user URL/u/name. A bare base36 post id also works."
                  },
                  "comment_sort": {
                    "default": "confidence",
                    "description": "Comment sort",
                    "type": "string",
                    "enum": [
                      "confidence",
                      "top",
                      "new",
                      "controversial",
                      "old",
                      "qa"
                    ]
                  },
                  "comment_limit": {
                    "default": 50,
                    "description": "Max comments",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 200
                  },
                  "comment_depth": {
                    "default": 5,
                    "description": "Max nesting depth",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10
                  },
                  "sort": {
                    "default": "hot",
                    "description": "Listing post sort",
                    "type": "string",
                    "enum": [
                      "hot",
                      "new",
                      "top",
                      "rising"
                    ]
                  },
                  "time": {
                    "default": "day",
                    "description": "Listing time range",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "limit": {
                    "default": 25,
                    "description": "Max listing posts/comments",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "include_posts": {
                    "default": true,
                    "description": "Include recent posts for user refs",
                    "type": "boolean"
                  },
                  "include_comments": {
                    "default": false,
                    "description": "Include recent comments for user refs",
                    "type": "boolean"
                  }
                },
                "required": [
                  "ref"
                ]
              },
              "example": {
                "ref": "https://www.reddit.com/r/python/comments/1a2b3c/title/"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.015000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch a Reddit post with comments, subreddit feed, or user"
        }
      }
    },
    "/api/v1/web/search": {
      "post": {
        "operationId": "postApiV1WebSearch",
        "tags": [
          "Web"
        ],
        "summary": "Run a semantic web search with ranked results",
        "description": "Semantic web search powered by Exa. Returns titles, URLs, and a query-relevant excerpt per result.",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Search query"
                  },
                  "include_domains": {
                    "description": "Restrict results to these domains (e.g. ['arxiv.org'])",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exclude_domains": {
                    "description": "Exclude results from these domains. Useful for filtering noisy aggregators or SEO farms when you've seen them dominate results (e.g. ['pinterest.com', 'quora.com']).",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "published_within_days": {
                    "description": "Restrict to results published within the last N days. Skip this for broad queries - it excludes pages without publish-date metadata. Common values: 1, 7, 30, 365.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "x402 protocol"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Run a semantic web search with ranked results"
        }
      }
    },
    "/api/v1/web/fetch": {
      "post": {
        "operationId": "postApiV1WebFetch",
        "tags": [
          "Web"
        ],
        "summary": "Fetch a web page as clean extracted content",
        "description": "Extract content from a web page as markdown, HTML, or JSON.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "url": {
                      "type": "string"
                    },
                    "outcome": {
                      "type": "string",
                      "enum": [
                        "success",
                        "teaser",
                        "thin_content",
                        "paywall",
                        "bot_challenge",
                        "consent_wall",
                        "login_wall",
                        "rate_limited",
                        "timeout",
                        "transient_upstream",
                        "unsupported_target",
                        "not_found",
                        "error"
                      ],
                      "description": "Classified result type. Use this to branch your retry / strategy logic."
                    },
                    "paywalled": {
                      "description": "True when the URL is paywalled. Equivalent to outcome === 'paywall'.",
                      "type": "boolean"
                    },
                    "unsupported_reason": {
                      "description": "When outcome=unsupported_target, why the URL pattern is permanently unsupported.",
                      "type": "string"
                    },
                    "alternatives": {
                      "description": "When outcome=unsupported_target, alternative URL patterns or tools that may work.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total_chars": {
                      "description": "Full extracted content length in characters, before any inline truncation.",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "truncated": {
                      "description": "True when content was truncated to fit the inline cap; full content at download_url.",
                      "type": "boolean"
                    },
                    "truncated_chars": {
                      "description": "Characters NOT included inline (available via download_url).",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "download_url": {
                      "description": "Presigned HTTPS URL to download the full extracted content. Set when truncated.",
                      "type": "string"
                    },
                    "expires_at": {
                      "description": "ISO 8601 UTC timestamp when download_url expires (~1h).",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "content",
                    "url",
                    "outcome"
                  ],
                  "description": "FetchResult"
                }
              }
            },
            "description": "Fetched content"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Too many concurrent requests"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 2048,
                    "description": "URL to fetch"
                  },
                  "format": {
                    "default": "markdown",
                    "description": "Output format. 'markdown' (default) clean article text; 'html' raw cleaned HTML; 'json' the structured SSR blob (TikTok, Pinterest, etc.) instead of article text.",
                    "type": "string",
                    "enum": [
                      "markdown",
                      "html",
                      "json"
                    ]
                  },
                  "selector": {
                    "description": "CSS selector to scope extraction",
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "example": {
                "url": "https://example.com",
                "format": "markdown"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch a web page as clean extracted content"
        }
      }
    },
    "/api/v1/github/search": {
      "post": {
        "operationId": "postApiV1GithubSearch",
        "tags": [
          "GitHub"
        ],
        "summary": "Search GitHub repos, conversations, or code",
        "description": "Search GitHub repositories, conversations (issues + PRs), or code. Supports GitHub search syntax.",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Search query. For kind=repos: minimal distinctive keywords only - the project/library name (GOOD: 'rtk', 'react query'; BAD: natural-language phrases like 'rtk rust token killer', which match copycat repos and exclude the real project). Narrow with qualifiers (language:, stars:>N, topic:, user:/org:, in:readme), not extra words. For kind=code: a LITERAL code pattern that appears in files (GOOD: 'useState(', 'createServerFn'; BAD: keywords/questions); narrow with the repo param or language:/path: qualifiers in the query (e.g. 'split_payment language:rust path:src/', extracted automatically), not extra words. Supports full GitHub search syntax."
                  },
                  "kind": {
                    "description": "What to search: 'repos', 'conversations' (issues+PRs), or 'code' (literal code patterns across 1M+ public GitHub repos). Optional - if omitted it is inferred from the query (a repo: scope or is:/label: qualifier implies conversations; a path: qualifier implies code; otherwise repos).",
                    "type": "string",
                    "enum": [
                      "repos",
                      "conversations",
                      "code"
                    ]
                  },
                  "repo": {
                    "description": "Scope to one repository. Accepts 'owner/name', a github.com URL, or a partial 'owner/' (code). Works with any kind; setting it with kind=repos routes the search to conversations, since repo-name search can't scope to one repo.",
                    "type": "string"
                  },
                  "sort": {
                    "description": "Sort field. Repos: stars, forks, updated, help-wanted-issues. Conversations: comments, reactions, interactions, created, updated. Default: best-match (relevance)",
                    "default": "best-match",
                    "type": "string",
                    "enum": [
                      "best-match",
                      "stars",
                      "forks",
                      "updated",
                      "help-wanted-issues",
                      "comments",
                      "reactions",
                      "interactions",
                      "created"
                    ]
                  },
                  "order": {
                    "description": "Sort direction (default: desc)",
                    "default": "desc",
                    "type": "string",
                    "enum": [
                      "desc",
                      "asc"
                    ]
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "per_page": {
                    "default": 20,
                    "description": "Results per page",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 30
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "x402 payment protocol",
                "kind": "repos"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Search GitHub repos, conversations, or code"
        }
      }
    },
    "/api/v1/github/get": {
      "post": {
        "operationId": "postApiV1GithubGet",
        "tags": [
          "GitHub"
        ],
        "summary": "Fetch GitHub repo metadata, files, PRs, or issues",
        "description": "Fetch GitHub data from a single ref (a github.com URL or owner/repo shorthand): repo metadata + README, files, tree, commits, branches, releases, PRs, or issues - inferred from the ref.",
        "responses": {
          "200": {
            "description": "GitHub data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Not Found"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "GitHub URL or 'owner/repo' shorthand. A repo URL or owner/repo returns metadata + README; /pull/N -> PR (with comments + changed files), /issues/N -> issue, /blob/<ref>/<path> -> file, /tree/<ref> -> file tree, /commits -> history, /branches, /releases."
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number for paginated results",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "per_page": {
                    "default": 30,
                    "description": "Results per page",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                },
                "required": [
                  "ref"
                ]
              },
              "example": {
                "ref": "x402-foundation/x402"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch GitHub repo metadata, files, PRs, or issues"
        }
      }
    },
    "/api/v1/amazon/search": {
      "post": {
        "operationId": "postApiV1AmazonSearch",
        "tags": [
          "Amazon"
        ],
        "summary": "Search Amazon product listings",
        "description": "Search Amazon by keyword (query) or browse bestsellers by category (category_slug). Regional TLDs: com, co.uk, de, fr, es, it. Returns ranked products with VAT-exclusive net price computed alongside gross.",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Not Found"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "description": "Free-text keyword query (mutually exclusive with category_slug)",
                    "type": "string"
                  },
                  "category_slug": {
                    "description": "Amazon bestsellers category slug, e.g. 'electronics' (.com), 'elektronik' (.de), 'electronique' (.fr). Invalid slugs return 'not_found' - retry with a correct slug.",
                    "type": "string"
                  },
                  "tld": {
                    "default": "com",
                    "type": "string",
                    "enum": [
                      "com",
                      "co.uk",
                      "de",
                      "fr",
                      "es",
                      "it"
                    ],
                    "description": "Amazon marketplace: com | co.uk | de | fr | es | it"
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number (1-20)",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  },
                  "response_format": {
                    "default": "concise",
                    "description": "'concise' drops images/variants/deep seller metadata; 'detailed' keeps everything",
                    "type": "string",
                    "enum": [
                      "concise",
                      "detailed"
                    ]
                  },
                  "geo": {
                    "description": "Postal code Amazon uses to compute shipping & delivery dates (e.g. '28001' for Madrid)",
                    "type": "string"
                  },
                  "sort_by": {
                    "description": "Server-side sort, except 'most_reviewed' which re-ranks the current page client-side by review count desc (rating tiebreaker). Pair 'most_reviewed' with min_reviews to skip thinly-reviewed items.",
                    "type": "string",
                    "enum": [
                      "most_recent",
                      "price_low_to_high",
                      "price_high_to_low",
                      "featured",
                      "average_review",
                      "bestsellers",
                      "most_reviewed"
                    ]
                  },
                  "min_reviews": {
                    "description": "Drop hits with fewer than N reviews. Pair with sort_by='most_reviewed' for a trust-weighted result. Applied client-side to organic/paid/suggested.",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "category": {
                    "description": "Amazon node ID to narrow results (returned in `refinements` from a prior call)",
                    "type": "string"
                  },
                  "merchant": {
                    "description": "Filter to a specific seller ID",
                    "type": "string"
                  },
                  "currency": {
                    "description": "Override display currency. Validated against per-tld allow-list.",
                    "type": "string"
                  },
                  "include_paid": {
                    "default": false,
                    "description": "Include sponsored ad results (default: dropped)",
                    "type": "boolean"
                  },
                  "include_suggested": {
                    "default": false,
                    "description": "Include 'people also searched for' suggestions (default: dropped)",
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "query": "LG Ultragear OLED 34",
                "tld": "de"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Search Amazon product listings"
        }
      }
    },
    "/api/v1/amazon/get": {
      "post": {
        "operationId": "postApiV1AmazonGet",
        "tags": [
          "Amazon"
        ],
        "summary": "Fetch Amazon product details by ASIN",
        "description": "Fetch live product detail by 10-char ASIN on a regional marketplace (com, co.uk, de, fr, es, it). Runs 2 upstream calls in parallel (amazon_product + amazon_pricing), returning buybox + full offer listing (including used-condition breakdown) + embedded top reviews.",
        "responses": {
          "200": {
            "description": "Product detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Not Found"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asin": {
                    "type": "string",
                    "pattern": "^[A-Z0-9]{10}$",
                    "description": "10-char Amazon product ID (ASIN). Obtain a real ASIN from glim_amazon_search results; do not invent or reuse example ASINs."
                  },
                  "tld": {
                    "default": "com",
                    "type": "string",
                    "enum": [
                      "com",
                      "co.uk",
                      "de",
                      "fr",
                      "es",
                      "it"
                    ],
                    "description": "Amazon marketplace: com | co.uk | de | fr | es | it"
                  },
                  "response_format": {
                    "default": "concise",
                    "description": "'concise' drops images/variants/deep seller metadata; 'detailed' keeps everything",
                    "type": "string",
                    "enum": [
                      "concise",
                      "detailed"
                    ]
                  },
                  "geo": {
                    "description": "Postal code for region-accurate pricing and delivery dates",
                    "type": "string"
                  },
                  "currency": {
                    "description": "Override display currency. Validated against per-tld allow-list.",
                    "type": "string"
                  }
                },
                "required": [
                  "asin"
                ],
                "description": "Fetch live Amazon product detail by ASIN on a specific TLD. Runs 2 upstream calls (amazon_product + amazon_pricing) in parallel and merges buybox + full offer listing."
              },
              "example": {
                "asin": "B0F59XT8QM",
                "tld": "de"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch Amazon product details by ASIN"
        }
      }
    },
    "/api/v1/youtube/get": {
      "post": {
        "operationId": "postApiV1YoutubeGet",
        "tags": [
          "YouTube"
        ],
        "summary": "Fetch YouTube subtitles (VTT file via presigned URL)",
        "description": "Fetch YouTube subtitles/transcript for an 11-char video_id in the requested language and origin (uploader_provided | auto_generated). Returns a presigned download URL to a WebVTT file (transcripts can be 50K+ chars, so file delivery instead of inline text). URL expires in ~1 hour; call again to refresh. Cached 7 days server-side — repeat calls on the same (video_id, language_code, origin) tuple are free after the first.",
        "responses": {
          "200": {
            "description": "Subtitles available via presigned download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Not Found"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Error"
                }
              }
            },
            "description": "Upstream Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "pattern": "^[\\w-]{11}$",
                    "description": "11-char YouTube video ID (e.g. dQw4w9WgXcQ)"
                  },
                  "language_code": {
                    "default": "en",
                    "description": "ISO 639-1 language code (e.g. 'en', 'de', 'fr')",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 10
                  },
                  "origin": {
                    "default": "uploader_provided",
                    "description": "'uploader_provided' for human captions (default), 'auto_generated' for YouTube auto-captions.",
                    "type": "string",
                    "enum": [
                      "uploader_provided",
                      "auto_generated"
                    ]
                  },
                  "format": {
                    "default": "inline",
                    "description": "'inline' (default): include vtt in response when transcript fits the inline cap; otherwise omit it and set vtt_omitted_reason. 'url': never include vtt; caller fetches download_url. download_url is always present.",
                    "type": "string",
                    "enum": [
                      "inline",
                      "url"
                    ]
                  }
                },
                "required": [
                  "video_id"
                ],
                "description": "Input for POST /youtube/get"
              },
              "example": {
                "video_id": "dQw4w9WgXcQ",
                "language_code": "en",
                "origin": "uploader_provided"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch YouTube subtitles (VTT file via presigned URL)"
        }
      }
    },
    "/api/v1/twitter/tweets/search": {
      "post": {
        "operationId": "postApiV1TwitterTweetsSearch",
        "tags": [
          "Twitter"
        ],
        "summary": "Search tweets (paginated)",
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result_count"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Upstream error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Twitter search query with operators"
                  },
                  "sort": {
                    "default": "Latest",
                    "description": "Sort order",
                    "type": "string",
                    "enum": [
                      "Latest",
                      "Top"
                    ]
                  },
                  "limit": {
                    "default": 20,
                    "description": "Maximum tweets to return",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  },
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string"
                  }
                },
                "required": [
                  "q"
                ]
              },
              "example": {
                "q": "x402",
                "sort": "Latest",
                "limit": 20
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Search tweets (paginated)"
        }
      }
    },
    "/api/v1/twitter/tweets": {
      "post": {
        "operationId": "postApiV1TwitterTweets",
        "tags": [
          "Twitter"
        ],
        "summary": "Fetch multiple tweets by id (comma-separated ids)",
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result_count"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Upstream error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "string",
                    "description": "Comma-separated tweet IDs"
                  }
                },
                "required": [
                  "ids"
                ]
              },
              "example": {
                "ids": "1234567890,1234567891"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch multiple tweets by id (comma-separated ids)"
        }
      }
    },
    "/api/v1/twitter/tweets/{id}/replies": {
      "post": {
        "operationId": "postApiV1TwitterTweetsByIdReplies",
        "tags": [
          "Twitter"
        ],
        "summary": "Fetch replies to a tweet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric tweet (status) id"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result_count"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Upstream error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sort": {
                    "default": "Relevance",
                    "description": "Reply sort",
                    "type": "string",
                    "enum": [
                      "Relevance",
                      "Latest",
                      "Likes"
                    ]
                  },
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string"
                  },
                  "since": {
                    "description": "Only include replies after this Unix timestamp",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "until": {
                    "description": "Only include replies before this Unix timestamp",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                }
              },
              "example": {
                "sort": "Relevance"
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch replies to a tweet"
        }
      }
    },
    "/api/v1/twitter/tweets/{id}/quotes": {
      "post": {
        "operationId": "postApiV1TwitterTweetsByIdQuotes",
        "tags": [
          "Twitter"
        ],
        "summary": "Fetch quote tweets of a tweet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric tweet (status) id"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result_count"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Upstream error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string"
                  },
                  "since": {
                    "description": "Only include quotes after this Unix timestamp",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "until": {
                    "description": "Only include quotes before this Unix timestamp",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "include_replies": {
                    "default": true,
                    "description": "Include replies in quote results",
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "include_replies": true
              }
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch quote tweets of a tweet"
        }
      }
    },
    "/api/v1/twitter/tweets/{id}/retweeters": {
      "post": {
        "operationId": "postApiV1TwitterTweetsByIdRetweeters",
        "tags": [
          "Twitter"
        ],
        "summary": "Fetch users who retweeted a tweet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric tweet (status) id"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "result_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result_count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Upstream error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "description": "Pagination cursor",
                    "type": "string"
                  }
                }
              },
              "example": {}
            }
          }
        },
        "security": [
          {},
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyBearer": []
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.004000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            },
            {
              "x402": {
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "payTo": "9MkM5Ra48KFcSv9HDQ8sb3C3r5HjouEwGQ6sp1cx1vde"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:143",
                    "payTo": "0xC751344Ee09B5159160173F77D4a1169bCd386A1"
                  }
                ]
              }
            }
          ],
          "description": "Fetch users who retweeted a tweet"
        }
      }
    },
    "/api/v1/twitter/tweets/{id}/thread": {
      "post": {
[...]
