{
  "openapi": "3.1.0",
  "info": {
    "title": "OptimAI x402 API",
    "description": "OptimAI is an agent-ready decentralized search and retrieval service powered by the OptimAI Network nodes, returning real-time contextual answers with citations from web, social, and crypto sources.",
    "version": "1.0.0",
    "x-guidance": "Use POST /external/v1/x402/search with application/json {\"query\":\"...\"}. If the response is 402, read the payment-required header, satisfy one accepted x402 v2 payment requirement, then retry with PAYMENT-SIGNATURE. A successful paid request returns an accepted OptimAI Search request for agent-ready web, social, and crypto research with cited results."
  },
  "servers": [
    {
      "url": "https://api-onchain.optimai.network",
      "description": "Production"
    }
  ],
  "paths": {
    "/external/v1/x402/search": {
      "post": {
        "operationId": "createX402Search",
        "summary": "Create an x402-paid OptimAI Search request",
        "description": "Submit a natural-language search or research question and receive an asynchronous OptimAI Search request.",
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001",
            "pricingMode": "request-dependent",
            "agentMultiplier": 2
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Natural-language search or research question."
                  },
                  "search_mode": {
                    "type": "string",
                    "enum": [
                      "search",
                      "agent"
                    ],
                    "default": "search",
                    "description": "Select standard Search or text-only Agent mode."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": true
              },
              "example": {
                "query": "What is OptimAI?"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Search request accepted after x402 payment verification."
          },
          "400": {
            "description": "Invalid request body."
          },
          "402": {
            "description": "Payment Required. Inspect the payment-required header for x402 requirements."
          }
        }
      }
    }
  }
}
