{
  "openapi": "3.1.0",
  "info": {
    "title": "Milypay AU Business",
    "description": "Milypay Australian business identity API: ABN and ACN lookup plus name search from the ABR (ATO). Returns entity name, status, type, GST, and location as JSON for agent KYB over x402 on Solana.",
    "version": "1.0.0",
    "contact": {
      "name": "Milypay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "Milypay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "Milypay production API"
    }
  ],
  "paths": {
    "/au-business/abn/{abn}": {
      "get": {
        "operationId": "lookupAbn",
        "summary": "Look up an Australian business by ABN",
        "description": "Entity name, status, type, ACN, GST, business names, location from the ABR.",
        "parameters": [
          {
            "name": "abn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "51824753556"
            },
            "description": "11-digit Australian Business Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Business entity details"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    },
    "/au-business/acn/{acn}": {
      "get": {
        "operationId": "lookupAcn",
        "summary": "Look up an Australian business by ACN",
        "parameters": [
          {
            "name": "acn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "051775556"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business entity details"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    },
    "/au-business/search": {
      "get": {
        "operationId": "searchBusiness",
        "summary": "Search Australian businesses by name",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woolworths"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching ABNs"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    }
  }
}
