{
  "openapi": "3.1.0",
  "info": {
    "title": "2s",
    "version": "1",
    "description": "Unified JSON REST API for AI agents — an ever-expanding catalog of endpoints, pay per call in USDC on Base or Solana via x402, no accounts, no API keys. Fund a wallet on either chain with USDC, hit any endpoint, and your client signs an EIP-3009 authorization (Base) or a partial SPL transfer (Solana) to settle the call. Try before you buy: add ?trial=1 (or header X-2s-Trial: 1) to any endpoint for one free real call per endpoint per hour — no wallet needed — to verify it works before paying. 2s is an open-ended experiment in maximally-comprehensive agent infrastructure — new endpoints land regularly.",
    "contact": {
      "name": "2s",
      "url": "https://2s.io",
      "email": "alley@2s.io"
    }
  },
  "servers": [
    {
      "url": "https://2s.io"
    }
  ],
  "components": {
    "parameters": {
      "TrialMode": {
        "name": "trial",
        "in": "query",
        "required": false,
        "description": "Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the \"X-2s-Trial: 1\" request header. Works on every endpoint.",
        "schema": {
          "type": "integer",
          "enum": [
            1
          ]
        }
      }
    },
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org."
      }
    },
    "schemas": {
      "X402PaymentRequiredV2": {
        "type": "object",
        "description": "x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.",
        "required": [
          "x402Version",
          "accepts"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "error": {
            "type": "string",
            "description": "Human-readable reason payment is required."
          },
          "resource": {
            "type": "string",
            "description": "The resource URL being purchased."
          },
          "accepts": {
            "type": "array",
            "description": "Payment requirement options, one per supported network (Base USDC, Solana USDC).",
            "items": {
              "type": "object",
              "required": [
                "scheme",
                "network",
                "amount",
                "asset",
                "payTo",
                "maxTimeoutSeconds"
              ],
              "properties": {
                "scheme": {
                  "type": "string",
                  "enum": [
                    "exact"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network id, e.g. \"eip155:8453\" (Base) or \"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp\"."
                },
                "amount": {
                  "type": "string",
                  "description": "Price in atomic asset units (USDC has 6 decimals)."
                },
                "asset": {
                  "type": "string",
                  "description": "Asset contract address / mint."
                },
                "payTo": {
                  "type": "string",
                  "description": "Treasury address to pay."
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                },
                "extra": {
                  "type": "object",
                  "description": "Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).",
                  "additionalProperties": true
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "description": "Optional discovery metadata (e.g. bazaar input/output schemas).",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "paths": {
    "/api/census/zipcode": {
      "get": {
        "tags": [
          "census"
        ],
        "summary": "Fetch US Census ACS 5-year demographics for a ZIP code (ZCTA).",
        "description": "US Census ACS 5-year demographics for a ZIP code (ZCTA). Returns population, median age, median household income, poverty rate, household composition, race + ethnicity breakdown, education attainment, workforce (with computed unemployment rate), and housing (with computed owner-occupancy rate and median rent/home value). Backed by ~33k ZCTAs pre-ingested from api.census.gov; refreshed annually. Public-domain US government data.",
        "operationId": "census_zipcode",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [demographics] (one ZCTA: population, age, income, poverty, households, race/ethnicity, education, workforce, housing — with computed rates); total = 1. 404 if the ZIP has no ZCTA coverage.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.001 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "census.zipcode",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.001,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "US ZIP code.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$"
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/bill-summaries": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Fetch Stream the latest US Congressional bill summaries via...",
        "description": "Stream the latest US Congressional bill summaries via Congress.gov. Each row is a CRS-authored summary attached to a specific version of a bill (Introduced, Reported to House, Engrossed in Senate, Public Law, etc.). Filter by congress + bill type. Returns the underlying bill metadata + summary text + version code + action date. Use this for change-detection on bills you care about, or to power agent-side \"what did Congress just pass\" feeds.",
        "operationId": "gov_bill-summaries",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = CRS bill summaries (bill metadata + summary text + version code + action date); total = upstream match count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "actionDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "actionDesc": {
                                "type": "string",
                                "nullable": true
                              },
                              "bill": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "currentChamber": {
                                "type": "string",
                                "nullable": true
                              },
                              "currentChamberCode": {
                                "type": "string",
                                "nullable": true
                              },
                              "lastSummaryUpdateDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "text": {
                                "type": "string",
                                "nullable": true
                              },
                              "updateDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "versionCode": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "actionDate",
                              "actionDesc",
                              "bill",
                              "currentChamber",
                              "currentChamberCode",
                              "lastSummaryUpdateDate",
                              "text",
                              "updateDate",
                              "versionCode"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.bill-summaries",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results by type.",
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+desc",
                "updateDate+asc"
              ],
              "default": "updateDate+desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-amendment": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or list US Congressional amendments via Congress.gov.",
        "description": "Look up or list US Congressional amendments via Congress.gov. Pass congress + type + number to fetch a single amendment with full sponsor + action history. Or filter list by congress + type + date range. Amendment types: hamdt=House Amendment, samdt=Senate Amendment, suamdt=Senate Unprinted Amendment.",
        "operationId": "gov_congress-amendment",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [amendment] (lookup mode, total 1) or the amendment list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-amendment",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results by type.",
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Item number or identifier.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-bill": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or search US Congressional bills via the Library of...",
        "description": "Look up or search US Congressional bills via the Library of Congress Congress.gov API. Pass congress + type + number to fetch a specific bill (title, sponsors, latest action, action/amendment/committee counts, policy area, congress.gov URL). Or omit number to list bills filtered by congress, bill type (hr | s | hjres | sjres | hconres | sconres | hres | sres), date range, with pagination + sort. Bill type semantics: hr=House Bill, s=Senate Bill, hjres/sjres=joint resolution, hconres/sconres=concurrent resolution, hres/sres=simple resolution.",
        "operationId": "gov_congress-bill",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [bill] (lookup mode, total 1) or the bill list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-bill",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results by type.",
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Item number or identifier.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+desc",
                "updateDate+asc"
              ],
              "default": "updateDate+desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-committee": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "List or look up US Congressional committees (Library of...",
        "description": "List or look up US Congressional committees (Library of Congress Congress.gov). Pass systemCode (e.g. \"hspw00\") to fetch a single committee with full detail (members, subcommittees, history, hearings, jurisdiction). Or filter list by congress + chamber (house | senate | joint). Standard system codes follow chamber prefix + abbreviation + suffix convention.",
        "operationId": "gov_congress-committee",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [committee] (lookup mode, total 1) or the committee list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-committee",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "chamber",
            "in": "query",
            "required": false,
            "description": "Legislative chamber: house or senate.",
            "schema": {
              "type": "string",
              "enum": [
                "house",
                "senate",
                "joint"
              ]
            }
          },
          {
            "name": "systemCode",
            "in": "query",
            "required": false,
            "description": "System code.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2,8}\\d{2,4}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-filings": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Fetch Track US House members' financial-disclosure filings...",
        "description": "Track US House members' financial-disclosure filings — including Periodic Transaction Reports (PTRs), the STOCK Act filings where members must disclose their stock trades within 45 days. Defaults to PTRs; pass type=annual|candidate|amendment|all to see other disclosure kinds. Filter by member name (q), 2-letter state, filing year, or filing-date range (dateFrom/dateTo). Each result gives the member, state + district, filing type (with a readable label), the filing/disclosure date, and a direct link to the source document (docUrl). The envelope total is the full count matching your filter — so q=Pelosi or year=2026 answers 'how many PTRs did they file'. Covers 2008→present (~8,200 PTRs), refreshed daily so new filings appear within ~a day. Note: by law trades are disclosed up to 45 days after they happen — this is current-to-the-filing, not real-time. Data: US House Clerk (public domain).",
        "operationId": "gov_congress-filings",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = matching filings (newest first); total = full count matching the filter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "docId": {
                                "type": "string"
                              },
                              "chamber": {
                                "type": "string"
                              },
                              "memberName": {
                                "type": "string",
                                "nullable": true
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "district": {
                                "type": "string",
                                "nullable": true
                              },
                              "filingType": {
                                "type": "string",
                                "nullable": true
                              },
                              "filingTypeLabel": {
                                "type": "string",
                                "nullable": true
                              },
                              "filingYear": {
                                "type": "number",
                                "nullable": true
                              },
                              "filingDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "docUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "tradesParsed": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "docId",
                              "chamber",
                              "memberName",
                              "state",
                              "district",
                              "filingType",
                              "filingTypeLabel",
                              "filingYear",
                              "filingDate",
                              "docUrl",
                              "tradesParsed"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-filings",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results by type.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "chamber",
            "in": "query",
            "required": false,
            "description": "Legislative chamber: house or senate.",
            "schema": {
              "type": "string",
              "enum": [
                "house",
                "senate"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit calendar year.",
            "schema": {
              "type": "integer",
              "minimum": 2008,
              "maximum": 2100
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "description": "Date from.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "Date to.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-hearing": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or list US Congressional hearings via Congress.gov.",
        "description": "Look up or list US Congressional hearings via Congress.gov. Pass congress + chamber + jacketNumber to fetch a single hearing with full detail (title, dates, committee, transcripts/recordings if available). Or filter list by congress + chamber, with optional date range. Hearings cover committee testimony from the executive branch, subject experts, and stakeholders — primary-source material for oversight + policy research.",
        "operationId": "gov_congress-hearing",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [hearing] (lookup mode, total 1) or the hearing list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-hearing",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "chamber",
            "in": "query",
            "required": false,
            "description": "Legislative chamber: house or senate.",
            "schema": {
              "type": "string",
              "enum": [
                "house",
                "senate"
              ]
            }
          },
          {
            "name": "jacketNumber",
            "in": "query",
            "required": false,
            "description": "Jacket number.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-member": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or search members of the US Congress via Library of...",
        "description": "Look up or search members of the US Congress via Library of Congress Congress.gov API. Pass bioguideId (e.g. M001190) to fetch one member (full bio, terms, party history, leadership roles, sponsored + cosponsored legislation counts, official website, address). Or filter by congress + state + district, with currentMember=true to limit to seated members. Bioguide IDs are stable across history and are the canonical Congress-member identifier.",
        "operationId": "gov_congress-member",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [member] (lookup mode, total 1) or the member list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-member",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "bioguideId",
            "in": "query",
            "required": false,
            "description": "Bioguide ID.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]\\d{6}$"
            }
          },
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 60
            }
          },
          {
            "name": "currentMember",
            "in": "query",
            "required": false,
            "description": "Current member.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-nomination": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or list US presidential nominations (cabinet...",
        "description": "Look up or list US presidential nominations (cabinet, judicial, executive) sent to the Senate for confirmation via Congress.gov. Pass congress + number for a single nomination with full action history. Or filter list by congress + date range. Each row carries: citation (PN###-#), description (nominee + position), receivedDate, nominationType (civilian / military / etc.), organization, latest action (committee referral, hearing, confirmation, withdrawal). Essential for confirmation-tracking + judicial-vetting agents.",
        "operationId": "gov_congress-nomination",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [nomination] (lookup mode, total 1) or the nomination list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-nomination",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "US Congress number (e.g. 118 for the 2023–2025 Congress).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Item number or identifier.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To date.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-record": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "List daily Congressional Record issues via Congress.gov...",
        "description": "List daily Congressional Record issues via Congress.gov — the official transcripts and proceedings of the US House and Senate, daily. Filter by year + month + day to narrow to a specific date or month. Each issue carries volume, issue number, publish date, and links to per-section content (Daily Digest, Senate, House, Extensions of Remarks) with PDF + sub-section URLs. Primary source for what was said on the floor.",
        "operationId": "gov_congress-record",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = Congressional Record issues (id, congress, session, issue, volume, publishDate, links); total = null (upstream paginates without a true count).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-record",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit calendar year.",
            "schema": {
              "type": "integer",
              "minimum": 1873,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Calendar month (1–12).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "Day of the month (1–31).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-trades": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Search individual US Congress member stock trades, parsed...",
        "description": "Search individual US Congress member stock trades, parsed from STOCK Act Periodic Transaction Reports into clean rows. Filter by member name (q, e.g. \"Pelosi\"), ticker (e.g. NVDA), transaction type (purchase | sale | exchange | partial_sale), 2-letter state, chamber, or transaction-date range (dateFrom/dateTo). Each trade returns the member + state/district, owner (self/spouse/joint/dependent), ticker + asset description, buy/sell, the disclosed dollar RANGE (amountMin/amountMax — disclosures are ranges, not exact), the transaction date, the disclosure date, days-to-disclose (compliance lag), and a link to the source filing PDF. The envelope total is the full count matching your filter — so ticker=NVDA&type=purchase counts who bought NVIDIA. Amounts are ranges by law; trades are disclosed up to 45 days after they happen (current-to-the-filing). Coverage: US House + Senate e-filed PTRs; scanned/handwritten reports are parsed separately. Data: US House Clerk / US Senate eFD (public domain). Cross-ref /api/gov/congress-filings for the raw filing index.",
        "operationId": "gov_congress-trades",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = matching trades (newest transaction first); total = full count matching the filter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "member": {
                                "type": "string",
                                "nullable": true
                              },
                              "chamber": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "district": {
                                "type": "string",
                                "nullable": true
                              },
                              "owner": {
                                "type": "string",
                                "nullable": true
                              },
                              "ticker": {
                                "type": "string",
                                "nullable": true
                              },
                              "assetDescription": {
                                "type": "string",
                                "nullable": true
                              },
                              "assetType": {
                                "type": "string",
                                "nullable": true
                              },
                              "transactionType": {
                                "type": "string",
                                "nullable": true
                              },
                              "amountMin": {
                                "type": "number",
                                "nullable": true
                              },
                              "amountMax": {
                                "type": "number",
                                "nullable": true
                              },
                              "transactionDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "disclosureDate": {
                                "type": "string",
                                "nullable": true
                              },
                              "daysToDisclose": {
                                "type": "number",
                                "nullable": true
                              },
                              "docUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "source": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "member",
                              "chamber",
                              "state",
                              "district",
                              "owner",
                              "ticker",
                              "assetDescription",
                              "assetType",
                              "transactionType",
                              "amountMin",
                              "amountMax",
                              "transactionDate",
                              "disclosureDate",
                              "daysToDisclose",
                              "docUrl",
                              "source"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequiredV2"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — see `Allow` header for the supported method."
          },
          "500": {
            "description": "Internal server error."
          },
          "502": {
            "description": "Upstream provider error."
          }
        },
        "x-2s-id": "gov.congress-trades",
        "x-2s-version": null,
        "x-2s-price": {
          "usd": 0.0012,
          "tier": 0
        },
        "x-2s-accepts": [
          "x402"
        ],
        "x-2s-response-shape": "normalized",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001200"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Ticker.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results by type.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            }
          },
          {
            "name": "chamber",
            "in": "query",
            "required": false,
            "description": "Legislative chamber: house or senate.",
            "schema": {
              "type": "string",
              "enum": [
                "house",
                "senate"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "US state — two-letter postal abbreviation (e.g. CA) or full name.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "description": "Date from.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "Date to.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip before returning (pagination offset).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/TrialMode"
          }
        ]
      }
    },
    "/api/gov/congress-treaty": {
      "get": {
        "tags": [
          "gov"
        ],
        "summary": "Look up or list international treaties transmitted to the...",
        "description": "Look up or list international treaties transmitted to the US Senate for advice and consent via Congress.gov. Pass congress + number (optionally + suffix for partitioned treaties) to fetch a single treaty with parties, topic, transmittal date, and consideration status. Or list by congress. Returns the congress the treaty was received in, the congress that considered it (if any), partial-treaty suffix, topic, transmitted date, and count of parties.",
        "operationId": "gov_congress-treaty",
        "deprecated": false,
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized envelope: items = [treaty] (lookup mode, total 1) or the treaty list (list mode, total = upstream match count); meta.mode flags which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Total matching rows upstream; null when unknown."
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "license": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "url",
                            "license"
                          ],
                          "additionalProperties": false
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "lookup",
                                "list"
                              ]
                            }
                          },
                          "required": [
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "ok",
                        "items",
                        "total",
                        "source"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "description": "Per-call meta envelope — endpoint id, cost, caller kind, settlement details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters."
          },
          "402": {
            "description": "Payment required — costs $0.0012 per call. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array. Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).",
[...]
