{
  "openapi": "3.1.0",
  "info": {
    "title": "Market Intelligence API",
    "description": "Pay-per-call market intelligence for AI agents, built on observed data. On-chain order flow from executed DEX trades on Base, Ethereum, Arbitrum, Optimism, Polygon, Robinhood Chain and Solana (buy/sell pressure, momentum, anomalies vs each asset's own baseline, large trades, smart-money wallets, candles and daily datasets); token risk checks and swap quotes; Hyperliquid perps funding, open interest and crowding; SEC EDGAR (XBRL fundamentals, Form 4, Form 144, 13D/13G, dividends, fails-to-deliver, 8-K) and European ESEF fundamentals; European short interest (AMF); ECB, Eurostat, US Treasury and Federal Reserve data; CFTC positioning, EIA oil inventories and the official macro calendar; GDELT and SEC news; and deterministic analytics primitives on numbers you supply. Every answer is timestamped and names its source. Decisions (/api/v1/decision*) are a rule-based aggregation of these data with a free, live track record (/api/v1/decision/track-record). The chain query parameter of the token routes names the chain the token lives on; it is never the payment network, which every paid route lists in x-payment-info.networks as CAIP-2 ids.",
    "contact": {
      "name": "Market Intelligence API",
      "email": "hisazzul@gmail.com",
      "url": "https://api.marketintelligenceapi.com"
    },
    "version": "1.3.0",
    "x-guidance": "Every paid route answers HTTP 402 with x402 payment requirements (USDC on Base, Polygon, Arbitrum, World Chain or Solana; EURC on Base or World Chain); pay and repeat the request. You are charged only on HTTP 2xx: an unknown symbol is a free 404. Start with GET /api/v1/intelligence/{symbol} (live on-chain order flow of one asset), GET /api/v1/intelligence/summary (what is moving), GET /api/v1/intelligence/token-risk/{address} (before buying a token) or GET /api/v1/report/{symbol} (filings, flow and news of one stock). Free: /coverage (which symbols and sources exist), /api/v1/datasets, /status (data freshness), /api/v1/decision/track-record (measured hit rates). A signal of INSUFFICIENT_DATA means too few trades in the window. Full guide: /llms.txt.",
    "x-operator": {
      "name": "Market Intelligence API",
      "type": "independent operator",
      "jurisdiction": "BG",
      "country": "Bulgaria",
      "website": "https://api.marketintelligenceapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.marketintelligenceapi.com"
    }
  ],
  "x-discovery": {
    "ownershipProofs": [
      "0x48d5A78d480B4C32dE319C2aEF69e682Dc304615"
    ]
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT"
      }
    },
    "schemas": {
      "MarketIntelligenceDocument": {
        "type": "object",
        "description": "Derived real-time market intelligence document built from trade activity and rolling baselines.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable MongoDB document identifier."
          },
          "symbol": {
            "type": "string",
            "description": "Normalized crypto or US equity symbol, e.g. BTCUSD or AAPL."
          },
          "window": {
            "type": "string",
            "description": "Analysis window.",
            "enum": [
              "1m",
              "5m",
              "15m"
            ]
          },
          "price": {
            "type": "number",
            "description": "Latest observed trade price."
          },
          "volume": {
            "type": "number",
            "description": "Total traded volume in the analysis window."
          },
          "buyVolume": {
            "type": "number",
            "description": "Volume classified as buy-side trade flow."
          },
          "sellVolume": {
            "type": "number",
            "description": "Volume classified as sell-side trade flow."
          },
          "buyPressure": {
            "type": "number",
            "description": "Buy pressure percentage, from 0 to 100."
          },
          "buySellRatio": {
            "type": [
              "number",
              "null"
            ],
            "description": "Ratio of buy volume to sell volume; null when nothing was sold in the window."
          },
          "buySellImbalance": {
            "type": "number",
            "description": "Buy-side minus sell-side imbalance as a percentage of total volume."
          },
          "priceChangePercent": {
            "type": "number",
            "description": "Price change percentage over the analysis window."
          },
          "volumeAcceleration": {
            "type": "number",
            "description": "Current volume relative to the previous comparable window."
          },
          "tradeAcceleration": {
            "type": "number",
            "description": "Current trade count relative to the previous comparable window."
          },
          "momentumScore": {
            "type": "number",
            "description": "Derived momentum score."
          },
          "activityScore": {
            "type": "number",
            "description": "Derived relative trading activity score."
          },
          "anomalyScore": {
            "type": "number",
            "description": "Derived anomaly score based on baseline deviations and activity/volume multiples."
          },
          "confidenceScore": {
            "type": "number",
            "description": "Confidence score derived from trade count and historical baseline samples."
          },
          "averageTradeSize": {
            "type": "number",
            "description": "Average traded volume per trade."
          },
          "tradeRatePerMinute": {
            "type": "number",
            "description": "Trade count per minute."
          },
          "volumeRatePerMinute": {
            "type": "number",
            "description": "Volume traded per minute."
          },
          "priceChangePerMinute": {
            "type": "number",
            "description": "Price change percentage per minute."
          },
          "tradeCount": {
            "type": "integer",
            "description": "Number of trades in the analysis window."
          },
          "largeTradeCount": {
            "type": "integer",
            "description": "Number of detected large trades."
          },
          "largeBuyVolume": {
            "type": "number",
            "description": "Volume attributed to large buy-side trades."
          },
          "largeSellVolume": {
            "type": "number",
            "description": "Volume attributed to large sell-side trades."
          },
          "maxTradeSize": {
            "type": "number",
            "description": "Largest individual trade size."
          },
          "maxTradeNotional": {
            "type": "number",
            "description": "Largest individual trade notional value."
          },
          "dominantSide": {
            "type": "string",
            "description": "Dominant trade-flow side.",
            "enum": [
              "BUY",
              "SELL",
              "BALANCED"
            ]
          },
          "signal": {
            "type": "string",
            "description": "Derived market signal. INSUFFICIENT_DATA when the window has fewer than 10 trades (see dataSufficiency): the raw counts are still returned, but they are too few to read a direction."
          },
          "signalStrength": {
            "type": "string",
            "description": "Signal strength; NONE with INSUFFICIENT_DATA.",
            "enum": [
              "NONE",
              "LOW",
              "MEDIUM",
              "HIGH"
            ]
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of the intelligence observation.",
            "format": "date-time"
          },
          "previousSignal": {
            "type": "string",
            "description": "Previous signal when available."
          },
          "signalChangedAt": {
            "type": "string",
            "description": "Timestamp when the current signal began.",
            "format": "date-time"
          },
          "signalAgeSeconds": {
            "type": "integer",
            "description": "Age of the current signal in seconds."
          },
          "activityMultiple": {
            "type": "number",
            "description": "Trading activity multiple relative to baseline."
          },
          "volumeMultiple": {
            "type": "number",
            "description": "Volume multiple relative to baseline."
          },
          "activityZScore": {
            "type": "number",
            "description": "Trading activity deviation from baseline in standard deviations."
          },
          "volumeZScore": {
            "type": "number",
            "description": "Volume deviation from baseline in standard deviations."
          },
          "baselineSamples": {
            "type": "integer",
            "description": "Number of historical baseline samples."
          },
          "baselineReady": {
            "type": "boolean",
            "description": "Whether the historical baseline has reached the minimum sample threshold."
          },
          "marketPercentile": {
            "type": "number",
            "description": "Percentile rank of activity among covered symbols."
          },
          "relativeMomentumPercentile": {
            "type": "number",
            "description": "Percentile rank of momentum among covered symbols."
          },
          "relativeBuyPressurePercentile": {
            "type": "number",
            "description": "Percentile rank of buy pressure among covered symbols."
          },
          "eventType": {
            "type": "string",
            "description": "Derived market event type."
          },
          "lifecycleState": {
            "type": "string",
            "description": "Signal lifecycle state.",
            "enum": [
              "NEW_SIGNAL",
              "PERSISTING"
            ]
          },
          "observations": {
            "type": "object",
            "description": "Machine-readable observed market measurements.",
            "additionalProperties": true
          },
          "interpretation": {
            "type": "object",
            "description": "Machine-readable interpretation of momentum, activity, buying and relative strength.",
            "additionalProperties": true
          },
          "evidence": {
            "type": "array",
            "description": "Human-readable evidence supporting the derived signal.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CompactMarketIntelligence": {
        "type": "object",
        "description": "Compact market intelligence representation used inside summary, comparison and regime responses.",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Normalized crypto or US equity symbol, e.g. BTCUSD or AAPL."
          },
          "window": {
            "type": "string",
            "description": "Analysis window.",
            "enum": [
              "1m",
              "5m",
              "15m"
            ]
          },
          "price": {
            "type": "number",
            "description": "Latest observed trade price."
          },
          "volume": {
            "type": "number",
            "description": "Total traded volume in the analysis window."
          },
          "buyPressure": {
            "type": "number",
            "description": "Buy pressure percentage, from 0 to 100."
          },
          "buySellImbalance": {
            "type": "number",
            "description": "Buy-side minus sell-side imbalance as a percentage of total volume."
          },
          "priceChangePercent": {
            "type": "number",
            "description": "Price change percentage over the analysis window."
          },
          "volumeAcceleration": {
            "type": "number",
            "description": "Current volume relative to the previous comparable window."
          },
          "tradeAcceleration": {
            "type": "number",
            "description": "Current trade count relative to the previous comparable window."
          },
          "momentumScore": {
            "type": "number",
            "description": "Derived momentum score."
          },
          "activityScore": {
            "type": "number",
            "description": "Derived relative trading activity score."
          },
          "anomalyScore": {
            "type": "number",
            "description": "Derived anomaly score based on baseline deviations and activity/volume multiples."
          },
          "confidenceScore": {
            "type": "number",
            "description": "Confidence score derived from trade count and historical baseline samples."
          },
          "tradeCount": {
            "type": "integer",
            "description": "Number of trades in the analysis window."
          },
          "largeTradeCount": {
            "type": "integer",
            "description": "Number of detected large trades."
          },
          "largeBuyVolume": {
            "type": "number",
            "description": "Volume attributed to large buy-side trades."
          },
          "largeSellVolume": {
            "type": "number",
            "description": "Volume attributed to large sell-side trades."
          },
          "maxTradeSize": {
            "type": "number",
            "description": "Largest individual trade size."
          },
          "maxTradeNotional": {
            "type": "number",
            "description": "Largest individual trade notional value."
          },
          "dominantSide": {
            "type": "string",
            "description": "Dominant trade-flow side.",
            "enum": [
              "BUY",
              "SELL",
              "BALANCED"
            ]
          },
          "signal": {
            "type": "string",
            "description": "Derived market signal. INSUFFICIENT_DATA when the window has fewer than 10 trades (see dataSufficiency): the raw counts are still returned, but they are too few to read a direction."
          },
          "signalStrength": {
            "type": "string",
            "description": "Signal strength; NONE with INSUFFICIENT_DATA.",
            "enum": [
              "NONE",
              "LOW",
              "MEDIUM",
              "HIGH"
            ]
          },
          "previousSignal": {
            "type": "string",
            "description": "Previous signal when available."
          },
          "signalChangedAt": {
            "type": "string",
            "description": "Timestamp when the current signal began.",
            "format": "date-time"
          },
          "signalAgeSeconds": {
            "type": "integer",
            "description": "Age of the current signal in seconds."
          },
          "activityMultiple": {
            "type": "number",
            "description": "Trading activity multiple relative to baseline."
          },
          "volumeMultiple": {
            "type": "number",
            "description": "Volume multiple relative to baseline."
          },
          "activityZScore": {
            "type": "number",
            "description": "Trading activity deviation from baseline in standard deviations."
          },
          "volumeZScore": {
            "type": "number",
            "description": "Volume deviation from baseline in standard deviations."
          },
          "baselineSamples": {
            "type": "integer",
            "description": "Number of historical baseline samples."
          },
          "baselineReady": {
            "type": "boolean",
            "description": "Whether the historical baseline has reached the minimum sample threshold."
          },
          "marketPercentile": {
            "type": "number",
            "description": "Percentile rank of activity among covered symbols."
          },
          "relativeMomentumPercentile": {
            "type": "number",
            "description": "Percentile rank of momentum among covered symbols."
          },
          "relativeBuyPressurePercentile": {
            "type": "number",
            "description": "Percentile rank of buy pressure among covered symbols."
          },
          "eventType": {
            "type": "string",
            "description": "Derived market event type."
          },
          "lifecycleState": {
            "type": "string",
            "description": "Signal lifecycle state.",
            "enum": [
              "NEW_SIGNAL",
              "PERSISTING"
            ]
          },
          "observations": {
            "type": "object",
            "description": "Machine-readable observed market measurements.",
            "additionalProperties": true
          },
          "interpretation": {
            "type": "object",
            "description": "Machine-readable interpretation of momentum, activity, buying and relative strength.",
            "additionalProperties": true
          },
          "evidence": {
            "type": "array",
            "description": "Human-readable evidence supporting the derived signal.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DataFreshness": {
        "type": "object",
        "properties": {
          "freshestMs": {
            "type": "integer",
            "description": "Age in milliseconds of the freshest covered symbol."
          },
          "oldestMs": {
            "type": "integer",
            "description": "Age in milliseconds of the oldest covered symbol."
          }
        }
      },
      "MarketSummary": {
        "type": "object",
        "description": "Aggregated market summary generated from the current intelligence documents.",
        "properties": {
          "window": {
            "type": "string",
            "description": "Normalized analysis window.",
            "enum": [
              "1m",
              "5m",
              "15m"
            ]
          },
          "symbolsCovered": {
            "type": "integer",
            "description": "Number of symbols covered."
          },
          "bullishSymbols": {
            "type": "integer",
            "description": "Number of symbols with bullish signals."
          },
          "bearishSymbols": {
            "type": "integer",
            "description": "Number of symbols with bearish signals."
          },
          "neutralSymbols": {
            "type": "integer",
            "description": "Number of symbols that are neither bullish nor bearish."
          },
          "bullishBreadthPercent": {
            "type": "number",
            "description": "Percentage of symbols with bullish signals."
          },
          "bearishBreadthPercent": {
            "type": "number",
            "description": "Percentage of symbols with bearish signals."
          },
          "averageBuyPressure": {
            "type": "number",
            "description": "Average buy pressure across covered symbols."
          },
          "averagePriceChangePercent": {
            "type": "number",
            "description": "Average price change percentage across covered symbols."
          },
          "unusualActivitySymbols": {
            "type": "integer",
            "description": "Number of symbols with anomaly score at least 70."
          },
          "regime": {
            "type": "string",
            "description": "Current aggregated market regime."
          },
          "topMomentum": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "topActivity": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "topBuying": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "topSelling": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "dataFreshness": {
            "$ref": "#/components/schemas/DataFreshness"
          },
          "staleSymbols": {
            "type": "integer",
            "description": "Number of symbols considered stale."
          },
          "source": {
            "type": "string",
            "description": "Trade data source identifier."
          },
          "timestamp": {
            "type": "string",
            "description": "Response generation timestamp.",
            "format": "date-time"
          }
        }
      },
      "MarketRegime": {
        "type": "object",
        "properties": {
          "window": {
            "type": "string",
            "description": "Normalized analysis window.",
            "enum": [
              "1m",
              "5m",
              "15m"
            ]
          },
          "regime": {
            "type": "string",
            "description": "Aggregated regime: BULLISH, BEARISH, MIXED, or NO_DATA."
          },
          "symbolsCovered": {
            "type": "integer",
            "description": "Number of symbols covered."
          },
          "bullishBreadthPercent": {
            "type": "number",
            "description": "Percentage of symbols satisfying the bullish context."
          },
          "bearishBreadthPercent": {
            "type": "number",
            "description": "Percentage of symbols satisfying the bearish context."
          },
          "averageBuyPressure": {
            "type": "number",
            "description": "Average buy pressure."
          },
          "averagePriceChangePercent": {
            "type": "number",
            "description": "Average price change percentage."
          },
          "averageMomentumScore": {
            "type": "number",
            "description": "Average momentum score."
          },
          "highConfidenceSignals": {
            "type": "integer",
            "description": "Count of signals with confidence score at least 75."
          },
          "unusualActivity": {
            "type": "integer",
            "description": "Count of symbols with anomaly score at least 70."
          },
          "topLeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "topActivityConcentration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactMarketIntelligence"
            }
          },
          "timestamp": {
            "type": "string",
            "description": "Response generation timestamp.",
            "format": "date-time"
          }
        }
      },
      "BacktestEventStats": {
        "type": "object",
        "properties": {
          "occurrences": {
            "type": "integer",
            "description": "Number of signal occurrences."
          },
          "averageConfidence": {
            "type": "number",
            "description": "Average signal confidence."
          },
          "winRate5m": {
            "type": "number",
            "description": "Win rate at the 5-minute horizon."
          },
          "winRate15m": {
            "type": "number",
            "description": "Win rate at the 15-minute horizon."
          },
          "winRate60m": {
            "type": "number",
            "description": "Win rate at the 60-minute horizon."
          },
          "averageReturn5mPercent": {
            "type": "number",
            "description": "Average forward return at 5 minutes."
          },
          "averageReturn15mPercent": {
            "type": "number",
            "description": "Average forward return at 15 minutes."
          },
          "averageReturn60mPercent": {
            "type": "number",
            "description": "Average forward return at 60 minutes."
          },
          "medianReturn15mPercent": {
            "type": "number",
            "description": "Median forward return at 15 minutes."
          },
          "averageMfe15mPercent": {
            "type": "number",
            "description": "Average maximum favorable excursion over 15 minutes."
          },
          "averageMae15mPercent": {
            "type": "number",
            "description": "Average maximum adverse excursion over 15 minutes."
          },
          "direction": {
            "type": "string",
            "description": "Event direction."
          }
        }
      },
      "BacktestReturnStats": {
        "type": "object",
        "properties": {
          "samples": {
            "type": "integer",
            "description": "Number of return observations."
          },
          "averagePercent": {
            "type": "number",
            "description": "Average forward return percentage."
          },
          "medianPercent": {
            "type": "number",
            "description": "Median forward return percentage."
          },
          "positiveRate": {
            "type": "number",
            "description": "Percentage of positive returns."
          }
        }
      },
      "BacktestResults": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Backtest start timestamp.",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "description": "Backtest end timestamp.",
            "format": "date-time"
          },
          "window": {
            "type": "string",
            "description": "Analysis window.",
            "enum": [
              "1m",
              "5m",
              "15m"
            ]
          },
          "symbolsAnalyzed": {
            "type": "integer",
            "description": "Number of symbols analyzed."
          },
          "signalsEvaluated": {
            "type": "integer",
            "description": "Number of qualifying signals evaluated."
          },
          "minConfidence": {
            "type": "integer",
            "description": "Minimum confidence threshold."
          },
          "minBaselineSamples": {
            "type": "integer",
            "description": "Minimum historical baseline samples."
          },
          "methodology": {
            "type": "string",
            "description": "Walk-forward methodology description."
          },
          "dataResolution": {
            "type": "string",
            "description": "Resolution of the historical source data."
          },
          "effectiveWindow": {
            "type": "string",
            "description": "Effective aggregation window in seconds."
          },
          "signals": {
            "type": "object",
            "description": "Statistics grouped by signal event type.",
            "additionalProperties": {
              "$ref": "#/components/schemas/BacktestEventStats"
            }
          },
          "confidenceCalibration": {
            "type": "object",
            "description": "Signal statistics grouped into confidence buckets.",
            "additionalProperties": {
              "$ref": "#/components/schemas/BacktestEventStats"
            }
          },
          "allSignalsForwardReturns": {
            "type": "object",
            "properties": {
              "1m": {
                "$ref": "#/components/schemas/BacktestReturnStats"
              },
              "5m": {
                "$ref": "#/components/schemas/BacktestReturnStats"
              },
              "15m": {
                "$ref": "#/components/schemas/BacktestReturnStats"
              },
              "60m": {
                "$ref": "#/components/schemas/BacktestReturnStats"
              }
            }
          }
        }
      },
      "SecMetric": {
        "type": "object",
        "description": "SEC EDGAR-derived financial metric. Exact fields depend on the available SEC XBRL fact.",
        "additionalProperties": true
      },
      "LatestFiling": {
        "type": "object",
        "properties": {
          "form": {
            "type": "string",
            "description": "SEC filing form, such as 10-K, 10-Q or 8-K."
          },
          "filingDate": {
            "type": "string",
            "description": "SEC filing date."
          },
          "accessionNumber": {
            "type": "string",
            "description": "SEC accession number."
          },
          "primaryDocument": {
            "type": "string",
            "description": "Primary filing document name."
          }
        },
        "additionalProperties": true
      },
      "SecFundamentalIntelligence": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Normalized US equity ticker."
          },
          "cik": {
            "type": "string",
            "description": "SEC Central Index Key."
          },
          "companyName": {
            "type": "string",
            "description": "Company name from SEC submissions."
          },
          "source": {
            "type": "string",
            "description": "Data source identifier."
          },
          "sourceUrl": {
            "type": "string",
            "description": "SEC data source URL.",
            "format": "uri"
          },
          "asOf": {
            "type": "string",
            "description": "Time at which the response was generated.",
            "format": "date-time"
          },
          "latestFiling": {
            "$ref": "#/components/schemas/LatestFiling"
          },
          "financials": {
            "type": "object",
            "description": "Latest available SEC/XBRL financial metrics.",
            "additionalProperties": {
              "$ref": "#/components/schemas/SecMetric"
            }
          },
          "derivedIntelligence": {
            "type": "object",
            "properties": {
              "revenueGrowthYoYPercent": {
                "type": "number",
                "description": "Year-over-year revenue growth percentage."
              },
              "earningsGrowthYoYPercent": {
                "type": "number",
                "description": "Year-over-year net income growth percentage."
              },
              "operatingMarginPercent": {
                "type": "number",
                "description": "Operating margin percentage."
              },
              "netMarginPercent": {
                "type": "number",
                "description": "Net margin percentage."
              },
              "returnOnAssetsPercent": {
                "type": "number",
                "description": "Return on assets percentage."
              },
              "debtToEquity": {
                "type": "number",
                "description": "Debt-to-equity ratio."
              },
              "cashToDebt": {
                "type": "number",
                "description": "Cash-to-debt ratio."
              },
              "fundamentalSignal": {
                "type": "string",
                "description": "Deterministic fundamental signal."
              },
              "signalScore": {
                "type": "number",
                "description": "Deterministic fundamental signal score."
              },
              "confidence": {
                "type": "number",
                "description": "Fundamental signal confidence."
              },
              "interpretation": {
                "type": "string",
                "description": "Human-readable interpretation of the fundamental signal."
              }
            },
            "additionalProperties": true
          },
          "methodology": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "MarketNewsDocument": {
        "type": "object",
        "description": "A publisher-attributed crypto or US stock news headline, or a corporate filing event. Full article content is not redistributed; items carry an attribution notice where the metadata provider requires one.",
        "required": [
          "source",
          "category",
          "title",
          "url",
          "publishedAt",
          "sentiment",
          "sentimentScore"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable deduplication identifier."
          },
          "source": {
            "type": "string",
            "description": "Publisher hostname from the article URL."
          },
          "category": {
            "type": "string",
            "enum": [
              "crypto",
              "stocks",
              "filings"
            ],
            "description": "News category; filings are material corporate events (Form 8-K)."
          },
          "title": {
            "type": "string",
            "description": "Publisher headline."
          },
          "summary": {
            "type": "string",
            "description": "Short summary if available, e.g. the reported filing items."
          },
          "provider": {
            "type": "string",
            "description": "Collection channel of the item."
          },
          "attribution": {
            "type": "string",
            "description": "Citation to display when redistributing the item, if required by its metadata provider."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Canonical publisher article URL."
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Publisher publication timestamp when supplied by the feed."
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this service ingested the feed item."
          },
          "symbols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ticker-like symbols extracted from the headline and summary."
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Matched market-sentiment keywords."
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "positive",
              "negative",
              "neutral"
            ],
            "description": "Lightweight keyword-based headline sentiment; not investment advice."
          },
          "sentimentScore": {
            "type": "integer",
            "description": "Signed lightweight headline-sentiment score."
          }
        }
      },
      "CompareResult": {
        "$ref": "#/components/schemas/CompactMarketIntelligence"
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response.",
        "additionalProperties": true
      },
      "AnalyticsError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "INVALID_INPUT",
              "EMPTY_DATASET",
              "INVALID_WEIGHT",
              "ZERO_TOTAL_WEIGHT",
              "UNEQUAL_SERIES_LENGTH",
              "ZERO_VARIANCE",
              "INSUFFICIENT_OBSERVATIONS",
              "VALUE_OUT_OF_RANGE",
              "PAYLOAD_TOO_LARGE"
            ]
          },
          "message": {
            "type": "string"
          },
          "charged": {
            "type": "boolean"
          }
        },
        "required": [
          "error",
          "message"
        ]
      }
    }
  },
  "paths": {
    "/api/v1/news": {
      "get": {
        "operationId": "getCryptoStockMarketNews",
        "summary": "Get latest crypto and US stock market headlines",
        "description": "Recent publisher-attributed market news for crypto and US stocks. Search current market headlines by category, ticker, company or keyword. Results include source attribution, article URL, publication time, extracted symbols and lightweight headline sentiment.",
        "tags": [
          "Market News",
          "Crypto News",
          "Stock News"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "crypto",
                "stocks",
                "filings",
                "europe",
                "policy"
              ]
            },
            "description": "Optional market category: crypto, stocks, filings (SEC 8-K) or europe (European market headlines, AMF short-position changes, ESEF annual reports, ECB releases, Eurostat inflation and unemployment prints).",
            "example": "crypto"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional keyword, company name or ticker search.",
            "example": "tariffs"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum news items to return.",
            "example": 20
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Market-news results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketNewsDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/news/symbol": {
      "get": {
        "operationId": "getSymbolMarketNews",
        "summary": "Get recent headlines and filings for one ticker",
        "description": "Recent publisher-attributed market-news headlines for one crypto or US stock ticker. Use this endpoint for company news, stock news, crypto asset news, symbol-specific headlines and news sentiment.",
        "tags": [
          "Market News",
          "Symbol News"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NVDA"
            },
            "description": "Ticker or crypto symbol, for example NVDA, BTC or ETH."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum news items to return.",
            "example": 20
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.003",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Ticker-specific market-news results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketNewsDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/news/policy": {
      "get": {
        "operationId": "getPolicyNews",
        "summary": "Get US policy news with its market exposure",
        "description": "US administration policy news: GDELT headlines on the President and tariffs, the Federal Reserve, sanctions, crypto and trade deals, and every new presidential document (executive orders, proclamations, memoranda) from the Federal Register (public domain). Each item has topics (tariffs, trade_deal, fed, sanctions, crypto, energy, defense, tech, healthcare, taxes, immigration, geopolitics), exposed sectors and covered symbols, plus a link to the publisher or official text. Keyword tags only: no political or market judgement.",
        "tags": [
          "Agent Tools"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tariffs",
                "trade_deal",
                "fed",
                "sanctions",
                "crypto",
                "energy",
                "defense",
                "tech",
                "healthcare",
                "taxes",
                "immigration",
                "geopolitics"
              ]
            },
            "description": "Optional topic filter",
            "example": "tariffs"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional exposed symbol, e.g. NVDA or BTCUSD",
            "example": "ETHUSD"
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 720,
              "default": 24
            },
            "description": "Look-back period in hours",
            "example": 24
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum number of items",
            "example": 20
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Also return items without a market topic (ceremonial proclamations and the like)",
            "example": false
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Policy items with topics, sectors and exposed symbols",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Unknown topic or invalid symbol (not charged)"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "No policy news for the filter (not charged)"
          }
        }
      }
    },
    "/api/v1/intelligence": {
      "get": {
        "summary": "List all covered assets ranked by trade-flow signal",
        "description": "Real-time market signals, trade flow and signal strength for crypto and US stocks. Use this endpoint for market signals, market intelligence, trade flow, buying pressure, selling pressure, signal strength, momentum, trading activity, acceleration, anomalies, and complete market snapshots.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of results to return",
            "example": 20
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Market intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getMarketIntelligence"
      }
    },
    "/api/v1/intelligence/{symbol}": {
      "get": {
        "summary": "Get the live trade-flow signal for one asset",
        "description": "Real-time market intelligence for a specific crypto or US stock symbol. Analyze price movement, momentum, buying pressure, selling pressure, trade flow, trading activity, signal strength, and unusual market activity. Also returns on-chain liquidity (cost of a $1k/$10k/$50k market order, liquidity score), sources[] and as_of.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Any covered symbol, not only the example: crypto pairs (ETHUSD) and tokenized US stocks (NVDA); free list at /coverage. Unknown: 404, not charged.",
            "example": "ETHUSD"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Symbol intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MarketIntelligenceDocument"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "liquidity": {
                          "type": "object",
                          "description": "On-chain liquidity: cost of a market order as one swap in the best pool, fee included (Uniswap v3/v4 pool math from swap events). Sizes whose price move would exceed 1% are null with a reason.",
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "as_of": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            },
                            "liquidity_score": {
                              "type": [
                                "integer",
                                "null"
                              ],
                              "minimum": 0,
                              "maximum": 100,
                              "description": "100*exp(-bps/50) of the average $10k buy/sell cost"
                            },
                            "slippage_bps": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "buy": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  }
                                },
                                "sell": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              "description": "Keys are USD sizes: 1000, 10000, 50000"
                            },
                            "estimates": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "pools": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            }
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "as_of": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "as_of": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "No recent data for this symbol (not charged). The body lists the covered symbols.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "no_data"
                    },
                    "message": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "coveredSymbols": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "charged": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getSymbolMarketIntelligence"
      }
    },
    "/api/v1/intelligence/summary": {
      "get": {
        "summary": "Summarize market breadth, regime and top movers",
        "description": "Aggregated real-time market summary for crypto and US stocks. Get market breadth, regime, average buying pressure, price change, top momentum, top activity, top buying, top selling, market events, and data freshness.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Market summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSummary"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getMarketSummary"
      }
    },
    "/api/v1/intelligence/top-momentum": {
      "get": {
        "summary": "List assets with the strongest short-term momentum",
        "description": "Real-time short-term momentum rankings for crypto and US stocks. Find momentum leaders, strongest price momentum, fastest-moving assets, accelerating symbols, and high-momentum signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Momentum rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getCryptoStockMomentumRankings"
      }
    },
    "/api/v1/intelligence/top-activity": {
      "get": {
        "summary": "List assets with unusually high trading activity",
        "description": "Real-time trading activity rankings for crypto and US stocks. Find the most actively traded assets, highest trade counts, trading volume, activity multiples, and significant trading activity.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Activity rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getMostActiveCryptoStocks"
      }
    },
    "/api/v1/intelligence/unusual": {
      "get": {
        "summary": "Detect statistical anomalies in trading activity",
        "description": "Detect unusual and abnormal trading activity across crypto and US stocks. Find volume spikes, activity anomalies, unusual price movement, abnormal buying or selling pressure, trade anomalies, and statistically unusual market behavior.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          },
          {
            "name": "minAnomaly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 70
            },
            "description": "Minimum anomaly score (0-100)",
            "example": 70
          },
          {
            "name": "minTrades",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3
            },
            "description": "Minimum number of trades in the window",
            "example": 3
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Unusual activity results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getUnusualTradingActivity"
      }
    },
    "/api/v1/intelligence/events": {
      "get": {
        "summary": "List detected accumulation and breakout events",
        "description": "Real-time market events for crypto and US stocks. Find significant price moves, momentum changes, unusual activity, buying or selling events, trade-flow changes, and emerging market signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Market events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getMarketEvents"
      }
    },
    "/api/v1/intelligence/buying": {
      "get": {
        "summary": "List assets under aggressive on-chain buying",
        "description": "Real-time buy-side trade flow rankings for crypto and US stocks. Find assets with the strongest buying pressure, aggressive buying, buyer dominance, positive buy-side imbalance, and bullish buying signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          },
          {
            "name": "minBuyPressure",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 60
            },
            "description": "Minimum buy pressure in percent of aggressor volume (0-100)",
            "example": 60
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Buying pressure rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getStrongestBuyingPressure"
      }
    },
    "/api/v1/intelligence/selling": {
      "get": {
        "summary": "List assets under aggressive on-chain selling",
        "description": "Real-time sell-side trade flow rankings for crypto and US stocks. Find assets with the strongest selling pressure, aggressive selling, seller dominance, negative buy-side imbalance, and bearish selling signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return",
            "example": 10
          },
          {
            "name": "maxBuyPressure",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 40
            },
            "description": "Maximum buy pressure in percent of aggressor volume (0-100)",
            "example": 40
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Selling pressure rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketIntelligenceDocument"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getStrongestSellingPressure"
      }
    },
    "/api/v1/intelligence/compare": {
      "get": {
        "summary": "Compare trade-flow signals of several assets",
        "description": "Compare selected crypto and US stocks using momentum, price movement, buying pressure, selling pressure, trade flow, trading activity, anomalies, and signal strength.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTCUSD,ETHUSD,SOLUSD"
            },
            "description": "Comma-separated asset symbols, e.g. ETHUSD,BTCUSD,NVDA"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Symbol comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompactMarketIntelligence"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "compareCryptoStocks"
      }
    },
    "/api/v1/intelligence/regime": {
      "get": {
        "summary": "Classify the market regime as bullish or bearish",
        "description": "Current market regime across crypto and US stocks. Identify bullish, bearish, or mixed market conditions using market breadth, momentum, buying pressure, selling pressure, trading activity, trade flow, and market signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Market regime",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketRegime"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "getMarketRegime"
      }
    },
    "/api/v1/intelligence/backtest": {
      "get": {
        "summary": "Analyze signal performance in a walk-forward backtest",
        "description": "Backtest and validate market intelligence signals using historical crypto and US stock data. Evaluate signal performance, forward returns, win rate, confidence, signal strength, maximum favorable excursion, maximum adverse excursion, and baseline performance.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Analysis window.",
            "schema": {
              "type": "string",
              "default": "5m",
              "enum": [
                "1m",
                "5m",
                "15m"
              ]
            },
            "example": "5m"
          },
          {
            "name": "minConfidence",
            "in": "query",
            "required": false,
            "description": "Minimum signal confidence from 0 to 100.",
            "schema": {
              "type": "integer",
              "default": 60,
              "minimum": 0,
              "maximum": 100
            },
            "example": 60
          },
          {
            "name": "minBaselineSamples",
            "in": "query",
            "required": false,
            "description": "Minimum historical baseline samples; service enforces a minimum of 2.",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 2
            },
            "example": 10
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "ISO-8601 backtest start timestamp. Defaults to 24 hours before end.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "ISO-8601 backtest end timestamp. Defaults to now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated crypto or US equity symbols. Empty means all available symbols.",
            "schema": {
              "type": "string"
            },
            "example": "ETHUSD,BTCUSD,NVDA"
          },
          {
            "name": "persist",
            "in": "query",
            "required": false,
            "description": "Whether to persist the backtest result.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.05",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Backtest results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BacktestResults"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "Market Intelligence"
        ],
        "operationId": "backtestMarketSignals"
      }
    },
    "/mcp": {
      "post": {
        "summary": "Fetch market intelligence tools over MCP JSON-RPC",
        "description": "MCP market intelligence tools for AI agents. Access aggregated market intelligence, symbol intelligence, momentum, activity, buying pressure, selling pressure, trade flow, signal strength, unusual activity, market regime, market events, SEC stock fundamentals, and signal backtesting through MCP JSON-RPC. initialize and tools/list are free; each tools/call is priced like the matching HTTP route ($0.003-$0.05), shown in the 402 response.",
        "security": [
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "minPrice": "0.003",
          "maxPrice": "0.05",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MCP JSON-RPC response containing the requested tool result or JSON-RPC error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "MCP"
        ],
        "operationId": "getMarketIntelligenceMcpTools"
      }
    },
    "/api/v1/fundamentals/{symbol}": {
      "get": {
        "operationId": "getSecFundamentalsFinancialStatements",
        "summary": "Get SEC financial statements for a US company",
        "description": "SEC fundamentals, stock fundamentals and financial statements for US equities. Get company financials from SEC EDGAR including income statement, balance sheet, cash flow, revenue, net income, EPS, assets, liabilities, equity, revenue growth, earnings growth, profit margins, return on assets, debt-to-equity, cash-to-debt, SEC filings, 10-K, 10-Q, XBRL data and deterministic fundamental signals.",
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Any US ticker with SEC filings (about 10,000, e.g. AAPL, KO, JPM), not only the example. Unknown: 404, not charged.",
            "example": "AAPL"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "SEC EDGAR-derived fundamental intelligence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecFundamentalIntelligence"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unknown US equity ticker"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "tags": [
          "SEC Fundamentals",
          "Stock Fundamentals",
          "Financial Statements"
        ]
      }
    },
    "/api/v1/intelligence/pre-trade": {
      "get": {
        "operationId": "preTradeCheck",
        "summary": "Check whether now is a good moment to buy or sell",
        "description": "Use right before placing a trade: \"I want to buy (or sell) SYMBOL - is now a good moment?\". Returns a verdict (FAVORABLE, CAUTION, UNFAVORABLE) with a 0-100 score and the checks behind it: order flow, momentum, volatility, adverse market events, market regime, and news or material SEC filings from the last 24h. Works for crypto (ETHUSD, BTCUSD, ...) and tokenized US equities (NVDA, TSLA, SPY, ...), 24/7. Includes on-chain slippage of a $1k/$10k/$50k order and a liquidity score.",
        "tags": [
          "Agent Tools"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETHUSD"
            },
            "description": "Asset symbol, e.g. ETHUSD, BTCUSD, NVDA, TSLA."
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "buy",
                "sell"
              ],
              "default": "buy"
            },
            "description": "Intended trade direction.",
            "example": "buy"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Signal window (1m, 5m, 15m, 1h, 4h, 24h).",
            "example": "5m"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Verdict, score, checks and market snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "side": {
                      "type": "string"
                    },
                    "verdict": {
                      "type": "string",
                      "enum": [
                        "FAVORABLE",
                        "CAUTION",
                        "UNFAVORABLE"
                      ]
                    },
                    "score": {
                      "type": "number"
                    },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "snapshot": {
                      "type": "object"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "liquidity": {
                      "type": "object",
                      "description": "On-chain liquidity: cost of a market order as one swap in the best pool, fee included (Uniswap v3/v4 pool math from swap events). Sizes whose price move would exceed 1% are null with a reason.",
                      "properties": {
                        "method": {
                          "type": "string"
                        },
                        "as_of": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "liquidity_score": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 0,
                          "maximum": 100,
                          "description": "100*exp(-bps/50) of the average $10k buy/sell cost"
                        },
                        "slippage_bps": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "buy": {
                              "type": "object",
                              "additionalProperties": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            },
                            "sell": {
                              "type": "object",
                              "additionalProperties": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            }
                          },
                          "description": "Keys are USD sizes: 1000, 10000, 50000"
                        },
                        "estimates": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "pools": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "as_of": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "as_of": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid symbol or side (not charged)"
          },
          "402": {
            "description": "Payment Required"
          },
          "404": {
            "description": "No recent data for this symbol (not charged). The body lists the covered symbols.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "no_data"
                    },
                    "message": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "coveredSymbols": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "charged": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/intelligence/equities": {
      "get": {
        "operationId": "getTokenizedEquities",
        "summary": "Get 24/7 trade flow of tokenized US stocks",
        "description": "Use to read US stock sentiment around the clock, including nights and weekends when exchanges are closed. Returns 24/7 trade flow of tokenized US equities and ETFs (NVDA, AAPL, TSLA, SPY, ...) traded on public blockchains, labelled with the current US market session, with breadth, average buy pressure and per-asset signals. Prices are on-chain trade prices, not official exchange quotes.",
        "tags": [
          "Agent Tools"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5m"
            },
            "description": "Aggregation window of the signal: 1m, 5m or 15m",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Maximum number of results to return",
            "example": 20
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Session, breadth and per-asset flow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/intelligence/token/{address}": {
      "get": {
        "operationId": "analyzeToken",
        "summary": "Analyze last-hour DEX trade flow of any ERC-20 token",
        "description": "Send any token contract address (Base by default; chain=ethereum, arbitrum, optimism or polygon), get its live DEX trade flow for the last hour: swaps, buy and sell volume in USD, buy pressure, price change, largest trade, trader concentration and a verdict (ACCUMULATION, DISTRIBUTION, BALANCED, ILLIQUID_OR_INACTIVE, NO_POOL). Read live from the chain; repeat requests within 45 s share one read (see timestamp). Ethereum reads the last ~12 minutes (the public RPC serves only recent logs); window.approxMinutes says which span was read.",
        "tags": [
          "Agent Tools"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            },
            "description": "Any ERC-20 contract address (0x...) on the chain given by ?chain (base, ethereum, arbitrum, optimism or polygon).",
            "example": "0x940181a94a35a4569e4529a3cdfb74e38fd98631"
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base",
                "ethereum",
                "arbitrum",
                "optimism",
                "polygon"
              ],
              "default": "base"
            },
            "description": "Chain the token lives on: base, ethereum, arbitrum, optimism or polygon. Not the payment network: payment networks are in x-payment-info.networks.",
            "example": "base"
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.01",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Token info, flow, price, pools and verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Not a token address or unsupported chain (not charged)"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/intelligence/candles/{symbol}": {
      "get": {
        "operationId": "getCandles",
        "summary": "Get OHLCV candles with buy and sell volume split",
        "description": "Send a symbol (ETHUSD, BTCUSD, NVDA, TSLA, SPY, ...), get OHLCV candles (1m, 5m, 15m or 1h) with volume split into aggressive buys and sells, buy pressure, VWAP and trade count per candle, from on-chain trade flow. A free 15-minute delayed sample is at /api/v1/preview.",
        "tags": [
          "Agent Tools"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ETHUSD"
            },
            "description": "Any covered symbol, not only the example: crypto pairs (ETHUSD) and tokenized US stocks (NVDA); free list at /coverage. Unknown: 404, not charged.",
            "example": "ETHUSD"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "1h"
              ],
              "default": "1m"
            },
            "description": "Candle interval, e.g. 1m, 5m, 15m or 1h",
            "example": "1m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 60,
              "maximum": 500
            },
            "description": "Maximum number of results to return",
            "example": 60
          }
        ],
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "0.005",
          "currency": "USD",
          "networks": [
            "eip155:8453",
            "eip155:137",
            "eip155:42161",
            "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "eip155:480"
          ]
        },
        "responses": {
          "200": {
            "description": "Candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "interval": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "candles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "volumeUsd": {
                            "type": "number"
                          },
                          "buyVolume": {
                            "type": "number"
                          },
                          "sellVolume": {
                            "type": "number"
                          },
                          "buyPressure": {
                            "type": [
                              "number",
                              "null"
[...]
