{
  "openapi": "3.1.0",
  "info": {
    "title": "NetIntel API",
    "version": "1.0.0",
    "description": "Network intelligence API — 141 endpoints, all pay-per-call via x402 micropayments (USDC on Base or Solana mainnet).\n\nNetIntel is agent fair-trade aligned: transparent per-call pricing in USDC on Base or Solana via x402, no API keys or signup, and automatic no-charge on server errors, upstream failures, and input-validation rejections — failed calls are never billed across NetIntel's network, domain, and data-intelligence endpoints.",
    "x-guidance": "NetIntel provides 141 network intelligence endpoints covering DNS, SSL/TLS, WHOIS/RDAP, email security, web fingerprinting, and OSINT. Every endpoint is pay-per-call via x402 micropayments (USDC on Base or Solana mainnet — no API keys, no subscriptions). Call any endpoint normally; if unpaid it returns HTTP 402 with payment requirements, then pay and retry. The per-call price is in each operation's x-payment-info.",
    "contact": {
      "email": "support@netintel.dev"
    },
    "x-logo": {
      "url": "https://netintel.dev/favicon.png",
      "altText": "NetIntel API"
    }
  },
  "servers": [
    {
      "url": "https://netintel.dev"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Report service health and uptime",
        "tags": [
          "meta"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dns/lookup": {
      "get": {
        "operationId": "getDnsLookup",
        "summary": "DNS lookup for any domain",
        "tags": [
          "dns"
        ],
        "description": "DNS lookup for any domain — resolve A, AAAA, MX, TXT, NS, CNAME, SOA and PTR records in one call. Parses SPF/DMARC from TXT plus DKIM at the default._domainkey selector, and cross-checks A records across Google/Cloudflare/Quad9 resolvers for propagation consistency. Also answers nslookup / dig style queries.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain name to query (e.g. example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.002000",
          "outputShape": "domain, records, security, propagation"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "records": {
                      "type": "object"
                    },
                    "security": {
                      "type": "object"
                    },
                    "propagation": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "domain": "example.com",
                  "records": {
                    "A": [
                      "93.184.216.34"
                    ],
                    "AAAA": [
                      "2606:2800:220:1:248:1893:25c8:1946"
                    ],
                    "MX": [
                      {
                        "priority": 10,
                        "exchange": "mail.example.com"
                      }
                    ],
                    "NS": [
                      "ns1.example.com",
                      "ns2.example.com"
                    ],
                    "TXT": [
                      "v=spf1 include:_spf.google.com ~all"
                    ],
                    "SOA": {
                      "mname": "ns1.example.com",
                      "rname": "admin.example.com",
                      "serial": 2024010101,
                      "refresh": 3600,
                      "retry": 900,
                      "expire": 604800,
                      "minimum": 86400
                    },
                    "CNAME": [],
                    "PTR": []
                  },
                  "security": {
                    "spf": {
                      "raw": "v=spf1 include:_spf.google.com ~all",
                      "version": "spf1",
                      "mechanisms": [
                        "include:_spf.google.com"
                      ],
                      "all_qualifier": "~all"
                    },
                    "dkim": {
                      "raw": "v=DKIM1; k=rsa; p=MIIBIjAN...",
                      "version": "DKIM1",
                      "key_type": "rsa",
                      "public_key": "MIIBIjAN..."
                    },
                    "dmarc": {
                      "raw": "v=DMARC1; p=reject; rua=mailto:dmarc@example.com",
                      "version": "DMARC1",
                      "policy": "reject",
                      "subdomain_policy": null,
                      "pct": null,
                      "rua": "mailto:dmarc@example.com",
                      "ruf": null
                    }
                  },
                  "propagation": {
                    "resolvers": [
                      {
                        "resolver": "Google",
                        "ip": "8.8.8.8",
                        "A": [
                          "93.184.216.34"
                        ]
                      },
                      {
                        "resolver": "Cloudflare",
                        "ip": "1.1.1.1",
                        "A": [
                          "93.184.216.34"
                        ]
                      },
                      {
                        "resolver": "Quad9",
                        "ip": "9.9.9.9",
                        "A": [
                          "93.184.216.34"
                        ]
                      }
                    ],
                    "consistent": true
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/ssl/analyze": {
      "get": {
        "operationId": "getSslAnalyze",
        "summary": "Inspect a TLS handshake, cert chain, protocols and ciphers",
        "tags": [
          "ssl"
        ],
        "description": "Performs a TLS handshake to inspect the certificate chain, probes supported TLS versions (1.0–1.3), detects weak keys and expiry issues, and returns an overall security grade (A/B/C/F). For just the cert facts fast, see the cheaper /ssl/cert (quick tier).",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze (e.g. example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "port",
            "in": "query",
            "required": false,
            "description": "Port to connect to (default: 443)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.007000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.007000",
          "outputShape": "host, port, certificate, chain, chain_valid, connection, warnings, grade"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "host": {
                      "type": "string"
                    },
                    "port": {
                      "type": "number"
                    },
                    "certificate": {
                      "type": "object"
                    },
                    "chain": {
                      "type": "array"
                    },
                    "chain_valid": {
                      "type": "boolean"
                    },
                    "connection": {
                      "type": "object"
                    },
                    "warnings": {
                      "type": "array"
                    },
                    "grade": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "host": "example.com",
                  "port": 443,
                  "certificate": {
                    "subject": {
                      "common_name": "example.com",
                      "organization": "Internet Corporation for Assigned Names and Numbers",
                      "organizational_unit": null,
                      "country": "US"
                    },
                    "issuer": {
                      "common_name": "DigiCert TLS RSA SHA256 2020 CA1",
                      "organization": "DigiCert Inc",
                      "country": "US"
                    },
                    "serial_number": "0FD078DD48F1A2BD4D0F2BA96B6038FE",
                    "san": [
                      "example.com",
                      "www.example.com"
                    ],
                    "key_info": {
                      "algorithm": "RSA",
                      "size": 2048
                    },
                    "not_before": "Jan 13 00:00:00 2024 GMT",
                    "not_after": "Feb 13 23:59:59 2025 GMT",
                    "signature_algorithm": "sha256WithRSAEncryption",
                    "version": 3
                  },
                  "chain": [
                    {
                      "subject": "DigiCert TLS RSA SHA256 2020 CA1",
                      "issuer": "DigiCert Global Root CA",
                      "not_before": "Apr 14 00:00:00 2021 GMT",
                      "not_after": "Apr 13 23:59:59 2031 GMT"
                    }
                  ],
                  "chain_valid": true,
                  "connection": {
                    "protocol": "TLSv1.3",
                    "cipher": "TLS_AES_256_GCM_SHA384",
                    "supported_protocols": [
                      "TLS 1.2",
                      "TLS 1.3"
                    ]
                  },
                  "warnings": [],
                  "grade": "A"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/ssl/cert": {
      "get": {
        "operationId": "getSslCert",
        "summary": "SSL certificate check for any domain",
        "tags": [
          "ssl"
        ],
        "description": "SSL certificate check for any domain — issuer, subject, SANs, valid from/to, days until expiry, expired/self-signed flags, TLS version, chain length. One TLS handshake, sub-2-second answer. The light, cheap tier under /ssl/analyze (full analysis, grading). No API key.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to check (e.g. example.com) — a full URL is also accepted, the host is extracted. Aliases: host, hostname, url, site",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "port",
            "in": "query",
            "required": false,
            "description": "Port to connect to (default: 443, clamped to 1-65535). Alias: p",
            "schema": {
              "type": "number"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.003000",
          "outputShape": "domain, port, subject, issuer, sans, sans_truncated, valid_from, valid_to, days_remaining, expired, not_yet_valid, self_signed, chain_length, tls_version, sig_alg, key, cache_age_seconds, findings"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "port": {
                      "type": "number"
                    },
                    "subject": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "common_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "organization": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "sans": {
                      "type": "array"
                    },
                    "sans_truncated": {
                      "type": "boolean"
                    },
                    "valid_from": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "valid_to": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "days_remaining": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "not_yet_valid": {
                      "type": "boolean"
                    },
                    "self_signed": {
                      "type": "boolean"
                    },
                    "chain_length": {
                      "type": "number"
                    },
                    "tls_version": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sig_alg": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "key": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "bits": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "cache_age_seconds": {
                      "type": "number"
                    },
                    "findings": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "domain": "example.com",
                  "port": 443,
                  "subject": "example.com",
                  "issuer": {
                    "common_name": "R11",
                    "organization": "Let's Encrypt"
                  },
                  "sans": [
                    "example.com",
                    "www.example.com"
                  ],
                  "sans_truncated": false,
                  "valid_from": "2026-07-01T00:00:00.000Z",
                  "valid_to": "2026-09-29T23:59:59.000Z",
                  "days_remaining": 27,
                  "expired": false,
                  "not_yet_valid": false,
                  "self_signed": false,
                  "chain_length": 3,
                  "tls_version": "TLSv1.3",
                  "sig_alg": "sha256WithRSAEncryption",
                  "key": {
                    "type": "EC",
                    "bits": 256
                  },
                  "cache_age_seconds": 0,
                  "findings": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      },
      "post": {
        "operationId": "postSslCert",
        "summary": "SSL certificate check for any domain",
        "tags": [
          "ssl"
        ],
        "description": "SSL certificate check for any domain — issuer, subject, SANs, valid from/to, days until expiry, expired/self-signed flags, TLS version, chain length. One TLS handshake, sub-2-second answer. The light, cheap tier under /ssl/analyze (full analysis, grading). No API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to check (e.g. example.com) — a full URL is also accepted, the host is extracted. Aliases: host, hostname, url, site"
                  },
                  "port": {
                    "type": "number",
                    "description": "Port to connect to (default: 443, clamped to 1-65535). Alias: p"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.003000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.003000",
          "outputShape": "domain, port, subject, issuer, sans, sans_truncated, valid_from, valid_to, days_remaining, expired, not_yet_valid, self_signed, chain_length, tls_version, sig_alg, key, cache_age_seconds, findings"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "port": {
                      "type": "number"
                    },
                    "subject": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "common_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "organization": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "sans": {
                      "type": "array"
                    },
                    "sans_truncated": {
                      "type": "boolean"
                    },
                    "valid_from": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "valid_to": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "days_remaining": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "expired": {
                      "type": "boolean"
                    },
                    "not_yet_valid": {
                      "type": "boolean"
                    },
                    "self_signed": {
                      "type": "boolean"
                    },
                    "chain_length": {
                      "type": "number"
                    },
                    "tls_version": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sig_alg": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "key": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "bits": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "cache_age_seconds": {
                      "type": "number"
                    },
                    "findings": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "domain": "example.com",
                  "port": 443,
                  "subject": "example.com",
                  "issuer": {
                    "common_name": "R11",
                    "organization": "Let's Encrypt"
                  },
                  "sans": [
                    "example.com",
                    "www.example.com"
                  ],
                  "sans_truncated": false,
                  "valid_from": "2026-07-01T00:00:00.000Z",
                  "valid_to": "2026-09-29T23:59:59.000Z",
                  "days_remaining": 27,
                  "expired": false,
                  "not_yet_valid": false,
                  "self_signed": false,
                  "chain_length": 3,
                  "tls_version": "TLSv1.3",
                  "sig_alg": "sha256WithRSAEncryption",
                  "key": {
                    "type": "EC",
                    "bits": 256
                  },
                  "cache_age_seconds": 0,
                  "findings": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/redirect/trace": {
      "get": {
        "operationId": "getRedirectTrace",
        "summary": "Follows a URL through its full redirect chain",
        "tags": [
          "redirect"
        ],
        "description": "Follows a URL through its full redirect chain (up to 20 hops), recording status codes, timing, headers, TLS status, and protocol downgrades per hop, then returns an overall redirect health grade (A–F).",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL to trace redirects for (e.g. http://google.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_hops",
            "in": "query",
            "required": false,
            "description": "Maximum redirect hops to follow (default: 10, max: 20)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.010000",
          "outputShape": "chain, final_url, final_status_code, total_hops, total_timing_ms, protocol_downgrade, loop_detected, flags, grade, score, deductions"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain": {
                      "type": "array"
                    },
                    "final_url": {
                      "type": "string"
                    },
                    "final_status_code": {
                      "type": "number"
                    },
                    "total_hops": {
                      "type": "number"
                    },
                    "total_timing_ms": {
                      "type": "number"
                    },
                    "protocol_downgrade": {
                      "type": "boolean"
                    },
                    "loop_detected": {
                      "type": "boolean"
                    },
                    "flags": {
                      "type": "array"
                    },
                    "grade": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "deductions": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "chain": [
                    {
                      "hop": 0,
                      "url": "http://example.com/",
                      "status_code": 301,
                      "location": "https://example.com/",
                      "headers": {
                        "location": "https://example.com/",
                        "server": "nginx"
                      },
                      "tls": false,
                      "timing_ms": 85
                    },
                    {
                      "hop": 1,
                      "url": "https://example.com/",
                      "status_code": 200,
                      "location": null,
                      "headers": {
                        "server": "nginx",
                        "content-type": "text/html"
                      },
                      "tls": true,
                      "timing_ms": 42
                    }
                  ],
                  "final_url": "https://example.com/",
                  "final_status_code": 200,
                  "total_hops": 1,
                  "total_timing_ms": 127,
                  "protocol_downgrade": false,
                  "loop_detected": false,
                  "flags": [
                    "http_entry_point"
                  ],
                  "grade": "A",
                  "score": 95,
                  "deductions": [
                    {
                      "reason": "http_entry_point",
                      "points": -5
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/security-headers/analyze": {
      "get": {
        "operationId": "getSecurityHeadersAnalyze",
        "summary": "Grade a URL's 10 security-critical response headers",
        "tags": [
          "security-headers"
        ],
        "description": "Fetches a URL and evaluates 10 security-critical response headers (CSP, HSTS, X-Content-Type-Options, X-Frame-Options, Referrer-Policy, Permissions-Policy, X-XSS-Protection, CORP, COEP, COOP), detects anti-patterns, and returns an overall security grade (A–F).",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "URL or domain to audit security headers for (e.g. https://example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.010000",
          "outputShape": "service, target, timestamp, grade, score, deductions, results, warnings, errors, meta"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "type": "string"
                    },
                    "target": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "grade": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "deductions": {
                      "type": "array"
                    },
                    "results": {
                      "type": "object"
                    },
                    "warnings": {
                      "type": "array"
                    },
                    "errors": {
                      "type": "array"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "service": "security-headers",
                  "target": "https://example.com",
                  "timestamp": "2025-01-15T12:00:00.000Z",
                  "grade": "B",
                  "score": 78,
                  "deductions": [
                    {
                      "reason": "Permissions-Policy not set",
                      "points": -5
                    },
                    {
                      "reason": "Cross-Origin-Resource-Policy not set",
                      "points": -2
                    },
                    {
                      "reason": "Cross-Origin-Embedder-Policy not set",
                      "points": -2
                    },
                    {
                      "reason": "Cross-Origin-Opener-Policy not set",
                      "points": -2
                    },
                    {
                      "reason": "X-Powered-By header exposes server framework",
                      "points": -3
                    }
                  ],
                  "results": {
                    "final_url": "https://example.com/",
                    "status_code": 200,
                    "content_type": "text/html; charset=utf-8",
                    "summary": {
                      "pass": 6,
                      "warn": 0,
                      "fail": 0,
                      "info": 4
                    },
                    "headers": {
                      "content-security-policy": {
                        "present": true,
                        "raw_value": "default-src 'self'",
                        "status": "pass",
                        "reason": "Content-Security-Policy is set with a strong policy"
                      },
                      "strict-transport-security": {
                        "present": true,
                        "raw_value": "max-age=31536000; includeSubDomains",
                        "status": "pass",
                        "reason": "HSTS enabled with max-age=31536000"
                      },
                      "x-content-type-options": {
                        "present": true,
                        "raw_value": "nosniff",
                        "status": "pass",
                        "reason": "X-Content-Type-Options is set to nosniff"
                      },
                      "x-frame-options": {
                        "present": true,
                        "raw_value": "DENY",
                        "status": "pass",
                        "reason": "X-Frame-Options is set to DENY"
                      },
                      "referrer-policy": {
                        "present": true,
                        "raw_value": "strict-origin-when-cross-origin",
                        "status": "pass",
                        "reason": "Referrer-Policy is set to strict-origin-when-cross-origin"
                      },
                      "permissions-policy": {
                        "present": false,
                        "raw_value": null,
                        "status": "warn",
                        "reason": "Permissions-Policy not set — browser features not restricted"
                      },
                      "x-xss-protection": {
                        "present": false,
                        "raw_value": null,
                        "status": "info",
                        "reason": "X-XSS-Protection not set — modern browsers use CSP instead"
                      },
                      "cross-origin-resource-policy": {
                        "present": false,
                        "raw_value": null,
                        "status": "info",
                        "reason": "Cross-Origin-Resource-Policy not set"
                      },
                      "cross-origin-embedder-policy": {
                        "present": false,
                        "raw_value": null,
                        "status": "info",
                        "reason": "Cross-Origin-Embedder-Policy not set"
                      },
                      "cross-origin-opener-policy": {
                        "present": false,
                        "raw_value": null,
                        "status": "info",
                        "reason": "Cross-Origin-Opener-Policy not set"
                      }
                    },
                    "anti_patterns": [
                      {
                        "header": "x-powered-by",
                        "raw_value": "Express",
                        "severity": "warn",
                        "reason": "Information leakage — reveals server framework"
                      }
                    ]
                  },
                  "warnings": [],
                  "errors": [],
                  "meta": {
                    "duration_ms": 312
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/email-auth": {
      "post": {
        "operationId": "postEmailAuth",
        "summary": "Email deliverability & domain security check",
        "tags": [
          "email-auth"
        ],
        "description": "Email deliverability & domain security check — validates SPF, DKIM (multi-selector), and DMARC, detects spoofing and misconfigurations, and returns an A–F email security grade with transparent deductions. Anti-spam / anti-phishing readiness for any sending domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to validate email authentication for (e.g. example.com)"
                  },
                  "dkim_selectors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of DKIM selectors to probe (defaults to common selectors)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.002000",
          "outputShape": "domain, resolves, grade, score, spf, dkim, dmarc, deductions"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "resolves": {
                      "type": "boolean",
                      "description": "Whether the domain has mail infrastructure (MX/A) — false adds a -100 no-mail-infrastructure deduction"
                    },
                    "grade": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "spf": {
                      "type": "object"
                    },
                    "dkim": {
                      "type": "object"
                    },
                    "dmarc": {
                      "type": "object"
                    },
                    "deductions": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "domain": "example.com",
                  "resolves": true,
                  "grade": "A",
                  "score": 100,
                  "spf": {
                    "found": true,
                    "record": "v=spf1 include:_spf.google.com -all",
                    "mechanisms": [
                      "include:_spf.google.com"
                    ],
                    "all_qualifier": "-all",
                    "dns_lookup_count": 1,
                    "issues": []
                  },
                  "dkim": {
                    "found": true,
                    "selectors_checked": [
                      "default",
                      "google"
                    ],
                    "records": [
                      {
                        "selector": "google",
                        "record": "v=DKIM1; k=rsa; p=MIIBIjAN...",
                        "key_type": "rsa",
                        "key_length_bits": 2048,
                        "issues": []
                      }
                    ],
                    "issues": []
                  },
                  "dmarc": {
                    "found": true,
                    "record": "v=DMARC1; p=reject; rua=mailto:dmarc@example.com; ruf=mailto:forensic@example.com",
                    "policy": "reject",
                    "subdomain_policy": null,
                    "pct": 100,
                    "rua": [
                      "mailto:dmarc@example.com"
                    ],
                    "ruf": [
                      "mailto:forensic@example.com"
                    ],
                    "issues": []
                  },
                  "deductions": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/cloud-fingerprint/analyze": {
      "get": {
        "operationId": "getCloudFingerprintAnalyze",
        "summary": "Fingerprints a domain's cloud infrastructure",
        "tags": [
          "cloud-fingerprint"
        ],
        "description": "Fingerprints a domain's cloud infrastructure — DNS records, HTTP headers, a TLS handshake and PTR lookups — to detect CDN, WAF, hosting, DNS and email provider, plus cert issuer/wildcard/SAN count, with confidence scores and a security grade (A–F). Hosts that resolve but answer nothing on 80/443 return http_reachable:false, score null and grade insufficient_data — never a grade inferred from an unanswered probe.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to fingerprint (e.g. example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.010000",
          "outputShape": "domain, resolved_ips, cname_chain, http_reachable, hosting, cdn, waf, dns_provider, email_provider, http_fingerprint, tls, score, grade, findings"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "resolved_ips": {
                      "type": "array"
                    },
                    "cname_chain": {
                      "type": "array"
                    },
                    "http_reachable": {
                      "type": "boolean"
                    },
                    "hosting": {
                      "type": "object"
                    },
                    "cdn": {
                      "type": "object"
                    },
                    "waf": {
                      "type": "array"
                    },
                    "dns_provider": {
                      "type": "object"
                    },
                    "email_provider": {
                      "type": "object"
                    },
                    "http_fingerprint": {
                      "type": "object"
                    },
                    "tls": {
                      "type": "object",
                      "properties": {
                        "issuer": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "wildcard": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "san_count": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "score": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "grade": {
                      "type": "string"
                    },
                    "findings": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "domain": "cloudflare.com",
                  "resolved_ips": [
                    "104.16.133.229",
                    "104.16.132.229"
                  ],
                  "cname_chain": [],
                  "http_reachable": true,
                  "hosting": {
                    "provider": "Cloudflare",
                    "confidence": "medium",
                    "signals": [
                      "cf-ray header present"
                    ]
                  },
                  "cdn": {
                    "provider": "Cloudflare",
                    "confidence": "medium",
                    "signals": [
                      "cf-ray header present"
                    ]
                  },
                  "waf": [
                    {
                      "provider": "Cloudflare WAF",
                      "confidence": "medium",
                      "signals": [
                        "cf-ray header present"
                      ]
                    }
                  ],
                  "dns_provider": {
                    "provider": "Cloudflare DNS",
                    "confidence": "high",
                    "signals": [
                      "NS ns3.cloudflare.com contains cloudflare.com"
                    ]
                  },
                  "email_provider": {
                    "provider": null,
                    "confidence": null,
                    "signals": []
                  },
                  "http_fingerprint": {
                    "https_enforced": true,
                    "server_header": "cloudflare",
                    "server_version_exposed": false,
                    "x_powered_by": null,
                    "notable_headers": [
                      "cf-ray"
                    ]
                  },
                  "tls": {
                    "issuer": "Google Trust Services",
                    "wildcard": true,
                    "san_count": 5
                  },
                  "score": 100,
                  "grade": "A",
                  "findings": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/schema-parse/extract": {
      "post": {
        "operationId": "postSchemaParseExtract",
        "summary": "Extract text into your own JSON Schema",
        "tags": [
          "schema-parse"
        ],
        "description": "Extract structured data from any unstructured text into your own JSON Schema — structured-data / information extraction, text-to-JSON, LLM data enrichment. You supply the schema; the LLM returns a matching object. Works for contacts, invoices, events, product specs, medical records, legal clauses, resumes — any shape. Returns the extracted object plus token usage; unfound fields are omitted or null.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "raw_text": {
                    "type": "string",
                    "description": "Unstructured text to extract data from — emails, resumes, articles, log entries, contracts, support tickets, etc."
                  },
                  "target_schema": {
                    "type": "object",
                    "description": "A standard JSON Schema object with type, properties, and optionally required. Defines the shape of the extracted output."
                  }
                },
                "required": [
                  "raw_text",
                  "target_schema"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.010000",
          "outputShape": "extracted, tokens_used"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extracted": {
                      "type": "object",
                      "description": "Structured data conforming to the caller's target_schema. Missing fields are omitted or null."
                    },
                    "tokens_used": {
                      "type": "object",
                      "description": "LLM token consumption for this extraction",
                      "properties": {
                        "input": {
                          "type": "number",
                          "description": "Prompt tokens consumed"
                        },
                        "output": {
                          "type": "number",
                          "description": "Completion tokens consumed"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "extracted": {
                    "name": "Sarah Chen",
                    "email": "sarah.chen@acme.com",
                    "phone": "555-867-5309",
                    "company": "Acme Corp",
                    "role": "VP of Engineering"
                  },
                  "tokens_used": {
                    "input": 312,
                    "output": 48
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/messages": {
      "post": {
        "operationId": "postMessages",
        "summary": "Chat completions answered by Claude Sonnet",
        "tags": [
          "messages"
        ],
        "description": "OpenAI-compatible chat completions over x402, answered by Claude Sonnet 4.6 — send a messages array and get an assistant reply for Q&A, reasoning, agent planning, coding help, summarization, extraction, and classification. Body is OpenAI chat.completions-shaped ({model?, messages:[{role,content}], max_tokens?, temperature?}); response is a chat.completion object. Flat $0.06; inputs capped ~6KB, max_tokens 1024; no streaming in v1.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model to use. Supported: claude-sonnet-4-6 (aliases: balanced, sonnet). Optional — defaults to claude-sonnet-4-6."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Chat messages in OpenAI format. Each item is {role: 'system'|'user'|'assistant', content: string}. System messages are applied as the system prompt.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum output tokens. Optional — defaults to 1024, capped at 1024."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0–1). Optional."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling (0–1). Optional; ignored if temperature is set."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.060000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.060000",
          "outputShape": "id, object, created, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "description": "Always 'chat.completion'"
                    },
                    "created": {
                      "type": "number",
                      "description": "Unix timestamp (seconds)"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "description": "One choice with the assistant message and a finish_reason (stop/length/content_filter/tool_calls)."
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, completion_tokens, total_tokens"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-abc123",
                  "object": "chat.completion",
                  "created": 1735689600,
                  "model": "claude-sonnet-4-6",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "The capital of France is Paris."
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 14,
                    "completion_tokens": 8,
                    "total_tokens": 22
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/openai/gpt-4o": {
      "post": {
        "operationId": "postOpenaiGpt4o",
        "summary": "Call OpenAI's gpt-4o via a single pay-per-call x402 endpoint",
        "tags": [
          "openai"
        ],
        "description": "Call OpenAI's gpt-4o via a single pay-per-call x402 endpoint — no OpenAI account or API key needed, pay $0.10 per request in USDC. Standard OpenAI chat.completions shape. EVERY call is bounded by a 16000-token combined input budget (real tokenizer) plus the 48000-char cap; output 2048. Vision: up to 4 https image_url parts (detail low/high/auto).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role, content}]. content is text, or parts: {type:'text',text} and (user role, max 4 per call) {type:'image_url',image_url:{url:'https://…',detail:'low'|'high'|'auto'}}. EVERY request — with or without images — must fit a 16000-token combined input budget and a 48000-char cap.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "description": "Message text, or content parts: {type:'text',text} / {type:'image_url',image_url:{url,detail}}"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens. Optional — defaults to 2048, capped at 2048."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature. Optional."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling. Optional."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.100000",
          "outputShape": "id, object, created, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "description": "Always 'chat.completion'"
                    },
                    "created": {
                      "type": "number",
                      "description": "Unix timestamp (seconds)"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "description": "Assistant message + finish_reason."
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, completion_tokens, total_tokens"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-abc123",
                  "object": "chat.completion",
                  "created": 1735689600,
                  "model": "gpt-4o",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hi!"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 11,
                    "completion_tokens": 2,
                    "total_tokens": 13
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/openai/gpt-4-1": {
      "post": {
        "operationId": "postOpenaiGpt41",
        "summary": "Call OpenAI's gpt-4.1 via a single pay-per-call x402 endpoint",
        "tags": [
          "openai"
        ],
        "description": "Call OpenAI's gpt-4.1 via a single pay-per-call x402 endpoint — no OpenAI account or API key needed, pay $0.09 per request in USDC. Standard OpenAI chat.completions request/response shape, capped input and output.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role:'system'|'user'|'assistant', content:string}]. Input capped ~48000 chars total.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens. Optional — defaults to 2048, capped at 2048."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature. Optional."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling. Optional."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.090000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.090000",
          "outputShape": "id, object, created, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "description": "Always 'chat.completion'"
                    },
                    "created": {
                      "type": "number",
                      "description": "Unix timestamp (seconds)"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "description": "Assistant message + finish_reason."
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, completion_tokens, total_tokens"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-abc123",
                  "object": "chat.completion",
                  "created": 1735689600,
                  "model": "gpt-4.1",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hi!"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 11,
                    "completion_tokens": 2,
                    "total_tokens": 13
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/openai/gpt-4-1-mini": {
      "post": {
        "operationId": "postOpenaiGpt41Mini",
        "summary": "Call OpenAI's gpt-4.1-mini, pay per call",
        "tags": [
          "openai"
        ],
        "description": "Call OpenAI's gpt-4.1-mini via a single pay-per-call x402 endpoint — no OpenAI account or API key needed, pay $0.005 per request in USDC. Standard OpenAI chat.completions request/response shape, capped input and output.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role:'system'|'user'|'assistant', content:string}]. Input capped ~12000 chars total.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens. Optional — defaults to 2048, capped at 2048."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature. Optional."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling. Optional."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "outputShape": "id, object, created, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "description": "Always 'chat.completion'"
                    },
                    "created": {
                      "type": "number",
                      "description": "Unix timestamp (seconds)"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "description": "Assistant message + finish_reason."
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, completion_tokens, total_tokens"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-abc123",
                  "object": "chat.completion",
                  "created": 1735689600,
                  "model": "gpt-4.1-mini",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hi!"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 11,
                    "completion_tokens": 2,
                    "total_tokens": 13
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/chat/completions": {
      "post": {
        "operationId": "postApiV1ChatCompletions",
        "summary": "OpenAI-compatible chat completions gateway",
        "tags": [
          "api"
        ],
        "description": "OpenAI-compatible chat completions gateway (alias of /v1/chat/completions for api/v1-style base URLs) — standard request shape, model chosen in the body: any gpt-* chat model (not Claude/embeddings), each at its own price. Priced per model, $0.005–$0.65 per call in USDC via x402, no API key: POST unpaid and the 402 quotes your model's exact price. Supports response_format json_object. Free model catalog: GET /v1/models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id, e.g. gpt-4o-mini. Free catalog: GET /v1/models"
                  },
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role, content}]",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens (clamped to the model's cap)."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "variable",
            "currency": "USD",
            "amount": "0.005000",
            "minAmount": "0.005000",
            "maxAmount": "0.650000",
            "note": "$0.005–$0.65 (depends on the model in the body)"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "costRangeUsd": {
            "min": "0.005000",
            "max": "0.650000"
          },
          "costNote": "$0.005–$0.65 (depends on the model in the body)",
          "outputShape": "id, object, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array"
                    },
                    "usage": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-9f2f28d90a3c4e0f8f1c2d3e",
                  "object": "chat.completion",
                  "model": "gpt-4o-mini",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hi!"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 13,
                    "completion_tokens": 2,
                    "total_tokens": 15
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/embeddings": {
      "post": {
        "operationId": "postApiV1Embeddings",
        "summary": "OpenAI-compatible text embeddings API",
        "tags": [
          "api"
        ],
        "description": "OpenAI-compatible text embeddings API (alias of /v1/embeddings for api/v1-style base URLs) — input as a string or batch of up to 128 strings, model text-embedding-3-small (default) or text-embedding-3-large. Flat $0.005 per call in USDC via x402, no OpenAI account or API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "description": "Text to embed. Also accepts an array of up to 128 strings (64000 chars total).",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 128
                      }
                    ]
                  },
                  "model": {
                    "type": "string",
                    "description": "text-embedding-3-small (default) or text-embedding-3-large"
                  },
                  "dimensions": {
                    "type": "number",
                    "description": "Optional output vector size (truncation)."
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "outputShape": "object, data, model, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "description": "[{object:'embedding', index, embedding:[…]}]"
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0102,
                        -0.0083,
                        0.0264
                      ]
                    }
                  ],
                  "model": "text-embedding-3-small",
                  "usage": {
                    "prompt_tokens": 4,
                    "total_tokens": 4
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "operationId": "postV1Embeddings",
        "summary": "OpenAI-compatible text embeddings API",
        "tags": [
          "v1"
        ],
        "description": "OpenAI-compatible text embeddings API — standard /v1/embeddings request shape: input as a string or a batch of up to 128 strings (64000 chars total on text-embedding-3-small, the default; 24000 on text-embedding-3-large). Flat $0.005 per call in USDC via x402, no OpenAI account or API key. Returns float vectors for RAG, semantic search, clustering, and dedup.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "description": "Text to embed. Also accepts an array of up to 128 strings (64000 chars total).",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 128
                      }
                    ]
                  },
                  "model": {
                    "type": "string",
                    "description": "text-embedding-3-small (default) or text-embedding-3-large"
                  },
                  "dimensions": {
                    "type": "number",
                    "description": "Optional output vector size (truncation)."
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "outputShape": "object, data, model, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always 'list'"
                    },
                    "data": {
                      "type": "array",
                      "description": "[{object:'embedding', index, embedding:[…]}]"
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, total_tokens (input-only)"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0102,
                        -0.0083,
                        0.0264
                      ]
                    }
                  ],
                  "model": "text-embedding-3-small",
                  "usage": {
                    "prompt_tokens": 4,
                    "total_tokens": 4
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "operationId": "postEmbeddings",
        "summary": "Multilingual text embeddings",
        "tags": [
          "embeddings"
        ],
        "description": "Multilingual text embeddings (384-dim) served in-house, no OpenAI dependency, no API key. NetIntel's cheapest embeddings at $0.001/call, batches up to 256 texts. Supports query/passage input types for retrieval (e5). Pairs with /text/chunk for a full chunk→embed RAG pipeline on one provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "description": "Text to embed. Also accepts an array of up to 256 strings (200000 chars total). Aliases: text, inputs.",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 256
                      }
                    ]
                  },
                  "input_type": {
                    "type": "string",
                    "description": "query or passage (default). Aliases: task, type."
                  },
                  "encoding_format": {
                    "type": "string",
                    "description": "float (default) or base64."
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.001000",
          "outputShape": "object, data, model, dimensions, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always 'list'"
                    },
                    "data": {
                      "type": "array",
                      "description": "[{object:'embedding', index, embedding:[…384 floats]}]"
                    },
                    "model": {
                      "type": "string",
                      "description": "Always 'netintel-embed-small'"
                    },
                    "dimensions": {
                      "type": "number",
                      "description": "Always 384"
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens, total_tokens (input-only, estimated)"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0123,
                        -0.0456,
                        0.0789
                      ]
                    }
                  ],
                  "model": "netintel-embed-small",
                  "provider": "netintel",
                  "source_model": "multilingual-e5-small",
                  "dimensions": 384,
                  "input_type": "passage",
                  "normalized": true,
                  "usage": {
                    "prompt_tokens": 6,
                    "total_tokens": 6
                  },
                  "findings": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/semantic/rank": {
      "post": {
        "operationId": "postSemanticRank",
        "summary": "Semantic similarity ranking",
        "tags": [
          "semantic"
        ],
        "description": "Semantic similarity ranking — send a query plus up to 100 candidate texts, get the candidates back ranked by semantic similarity with scores. No vectors, no cosine math, no embedding model to manage: one call, one price, ranked results. Flat $0.02 per call in USDC via x402, no API key. For RAG retrieval, FAQ matching, and search result ordering.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text to rank candidates against."
                  },
                  "candidates": {
                    "type": "array",
                    "description": "1-100 candidate strings to rank (64000 chars total on the default model).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "model": {
                    "type": "string",
                    "description": "text-embedding-3-small (default) or text-embedding-3-large"
                  },
                  "top_k": {
                    "type": "number",
                    "description": "Return only the best N results. Optional."
                  },
                  "min_score": {
                    "type": "number",
                    "description": "Drop results scoring below this (-1 to 1). Optional."
                  }
                },
                "required": [
                  "query",
                  "candidates"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.020000",
          "outputShape": "results, method, provider, model, dimensions, normalized, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Ranked best-first: [{index (original position), score, text}]"
                    },
                    "method": {
                      "type": "string",
                      "description": "Always 'embedding_similarity'"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "dimensions": {
                      "type": "number"
                    },
                    "normalized": {
                      "type": "boolean"
                    },
                    "usage": {
                      "type": "object",
                      "description": "prompt_tokens (input-only)"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "index": 0,
                      "score": 0.5361,
                      "text": "Use the Forgot Password link to recover your account."
                    },
                    {
                      "index": 1,
                      "score": 0.1399,
                      "text": "Refunds are accepted within 30 days."
                    }
                  ],
                  "method": "embedding_similarity",
                  "provider": "openai",
                  "model": "text-embedding-3-small",
                  "dimensions": 1536,
                  "normalized": true,
                  "usage": {
                    "prompt_tokens": 36
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "postV1ChatCompletions",
        "summary": "OpenAI-compatible chat completions gateway",
        "tags": [
          "v1"
        ],
        "description": "OpenAI-compatible chat completions gateway — standard /v1/chat/completions path and request shape, model chosen in the body: any gpt-* chat model (not Claude/embeddings), each at its own price. Priced per model, $0.005–$0.65 per call in USDC via x402, no API key: POST unpaid and the 402 quotes your model's exact price. Supports response_format json_object. GET /v1/models (free) lists every model with its endpoint and price.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model id, e.g. gpt-4o-mini. Free catalog: GET /v1/models (every model, endpoint and price)"
                  },
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role:'system'|'user'|'assistant', content:string}]",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens (clamped to the model's cap)."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "variable",
            "currency": "USD",
            "amount": "0.005000",
            "minAmount": "0.005000",
            "maxAmount": "0.650000",
            "note": "$0.005–$0.65 (depends on the model in the body)"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "costRangeUsd": {
            "min": "0.005000",
            "max": "0.650000"
          },
          "costNote": "$0.005–$0.65 (depends on the model in the body)",
          "outputShape": "id, object, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array"
                    },
                    "usage": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-9f2f28d90a3c4e0f8f1c2d3e",
                  "object": "chat.completion",
                  "model": "gpt-4o-mini",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hi!"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 13,
                    "completion_tokens": 2,
                    "total_tokens": 15
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/openai/gpt-4o-mini": {
      "post": {
        "operationId": "postOpenaiGpt4oMini",
        "summary": "Call OpenAI's gpt-4o-mini, pay per call",
        "tags": [
          "openai"
        ],
        "description": "Call OpenAI's gpt-4o-mini via a single pay-per-call x402 endpoint — no OpenAI account or API key needed, pay $0.005 per request in USDC. Standard OpenAI chat.completions request/response shape, capped input and output.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "OpenAI chat messages: [{role:'system'|'user'|'assistant', content:string}]. Input capped ~24000 chars total.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "system, user, or assistant"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Max output tokens. Optional — defaults to 1024, capped at 1024."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature. Optional."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling. Optional."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "x-guidance": {
          "approvalRequirement": "APPROVAL_REQUIREMENT_NOT_REQUIRED",
          "costObservedUsd": "0.005000",
          "outputShape": "id, object, created, model, choices, usage"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
