{
    "openapi": "3.1.0",
    "info": {
        "title": "Top Ledger Wallet Intelligence Pay API",
        "description": "Pay-per-request Solana wallet intelligence APIs for portfolio analysis, token holdings, DeFi positions, rewards, and DEX PnL.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.topledger.xyz/pay",
            "description": "Top Ledger pay.sh gateway"
        }
    ],
    "tags": [
        {
            "name": "Wallet Intelligence",
            "description": "Paid Solana wallet portfolio and DeFi intelligence endpoints."
        }
    ],
    "components": {
        "securitySchemes": {
            "x402Payment": {
                "type": "apiKey",
                "in": "header",
                "name": "X-PAYMENT",
                "description": "Signed x402 or MPP payment proof generated by pay.sh."
            }
        }
    },
    "paths": {
        "/api/wallets/{wallet}/analyze": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "analyzeWallet",
                "summary": "Analyze wallet portfolio",
                "description": "Analyze a Solana wallet and return total net worth, token holdings, DeFi positions, protocol exposure, rewards, and DEX PnL in one response.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/holdings": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getWalletHoldings",
                "summary": "List wallet holdings",
                "description": "List native SOL, SPL, and Token-2022 holdings for a Solana wallet with real-time USD pricing and optional minimum-value filtering.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-lending": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllLending",
                "summary": "List lending positions",
                "description": "Return lending deposits, borrows, and net value for a Solana wallet across supported Solana lending protocols.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-perps": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllPerps",
                "summary": "List perpetual positions",
                "description": "Return perpetual futures positions, collateral, size, and PnL for a Solana wallet across supported perps protocols.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-staking": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllStaking",
                "summary": "List staking positions",
                "description": "Return native SOL and protocol staking positions for a Solana wallet across supported staking systems.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-governance": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllGovernance",
                "summary": "List governance positions",
                "description": "Return governance token deposits and vote-escrow positions for a Solana wallet across supported DAO systems.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-lp": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllLp",
                "summary": "List LP positions",
                "description": "Return liquidity provider positions for a Solana wallet across supported AMMs, including Meteora, Orca Whirlpool, Raydium, and Kamino liquidity pools.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-yield": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllYield",
                "summary": "List yield positions",
                "description": "Return yield-bearing vault and protocol positions for a Solana wallet across supported yield protocols.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-rewards": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllRewards",
                "summary": "List pending rewards",
                "description": "Return pending and unclaimed rewards for a Solana wallet across supported protocols, including reward amounts and USD value where available.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-dex": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllDex",
                "summary": "Analyze DEX trading PnL",
                "description": "Return DEX trading positions for a Solana wallet with FIFO cost basis, current value, realized and unrealized PnL, and seven-day trading performance.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        }
    }
}
