{
    "openapi": "3.1.0",
    "info": {
        "title": "Top Ledger Wallet Intelligence Pay API",
        "description": "Pay-per-request Solana wallet intelligence APIs for portfolio analysis, token holdings, DeFi positions, rewards, and DEX PnL.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.topledger.xyz/pay",
            "description": "Top Ledger pay.sh gateway"
        }
    ],
    "tags": [
        {
            "name": "Wallet Intelligence",
            "description": "Paid Solana wallet portfolio and DeFi intelligence endpoints."
        }
    ],
    "components": {
        "securitySchemes": {
            "x402Payment": {
                "type": "apiKey",
                "in": "header",
                "name": "X-PAYMENT",
                "description": "Signed x402 or MPP payment proof generated by pay.sh."
            }
        }
    },
    "paths": {
        "/api/wallets/{wallet}/analyze": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "analyzeWallet",
                "summary": "Analyze wallet portfolio",
                "description": "Analyze a Solana wallet and return total net worth, token holdings, DeFi positions, protocol exposure, rewards, and DEX PnL in one response.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44
                                        },
                                        "total_net_worth_usd": {
                                            "type": "number",
                                            "description": "holdings + lending net + perp collateral + staking + lp + yield + rewards + governance. Excludes DEX trading positions to avoid double-counting with on-chain holdings."
                                        },
                                        "categories": {
                                            "type": "object",
                                            "properties": {
                                                "holdings": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value_usd": {
                                                            "type": "number",
                                                            "description": "USD value of native SOL plus Jupiter-verified SPL / Token-2022 holdings."
                                                        },
                                                        "token_count": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991,
                                                            "description": "Number of distinct holdings after Jupiter verified-token filtering."
                                                        }
                                                    },
                                                    "required": [
                                                        "value_usd",
                                                        "token_count"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "lending": {
                                                    "type": "object",
                                                    "properties": {
                                                        "deposit_usd": {
                                                            "type": "number"
                                                        },
                                                        "borrow_usd": {
                                                            "type": "number"
                                                        },
                                                        "net_usd": {
                                                            "type": "number"
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "kamino",
                                                                            "project_zero",
                                                                            "loopscale",
                                                                            "jupiter_lend",
                                                                            "carrot"
                                                                        ],
                                                                        "description": "Protocol identifier. Stable string \u2014 safe to switch on programmatically."
                                                                    },
                                                                    "deposit_value_usd": {
                                                                        "type": "number",
                                                                        "minimum": 0,
                                                                        "description": "Total USD value supplied/deposited into this protocol by the wallet."
                                                                    },
                                                                    "borrow_value_usd": {
                                                                        "type": "number",
                                                                        "minimum": 0,
                                                                        "description": "Total USD value borrowed from this protocol by the wallet."
                                                                    },
                                                                    "net_value_usd": {
                                                                        "type": "number",
                                                                        "description": "deposit_value_usd \u2212 borrow_value_usd. Can be negative if borrows exceed collateral valuation."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "deposit_value_usd",
                                                                    "borrow_value_usd",
                                                                    "net_value_usd"
                                                                ],
                                                                "additionalProperties": false,
                                                                "description": "Per-protocol lending position summary."
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "deposit_usd",
                                                        "borrow_usd",
                                                        "net_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "perpetuals": {
                                                    "type": "object",
                                                    "properties": {
                                                        "positions": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                        },
                                                        "size_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "collateral_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "pnl_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "jupiter_perps",
                                                                            "flash",
                                                                            "parcl"
                                                                        ],
                                                                        "description": "Perpetuals protocol identifier."
                                                                    },
                                                                    "positions": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "maximum": 9007199254740991,
                                                                        "description": "Number of open perpetual positions on this protocol."
                                                                    },
                                                                    "size_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Total notional position size in USD. Null if unknown."
                                                                    },
                                                                    "collateral_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Total USD value posted as collateral."
                                                                    },
                                                                    "pnl_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Combined PnL (realized + unrealized for Jupiter; unrealized only for Flash). Null if unknown."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "positions",
                                                                    "size_usd",
                                                                    "collateral_usd",
                                                                    "pnl_usd"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "positions",
                                                        "size_usd",
                                                        "collateral_usd",
                                                        "pnl_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "staking": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "native_sol",
                                                                            "jupiter_dao",
                                                                            "flash",
                                                                            "helium",
                                                                            "seeker",
                                                                            "huma",
                                                                            "raydium",
                                                                            "kamino",
                                                                            "pyth",
                                                                            "wormhole",
                                                                            "parcl",
                                                                            "meteora_m3m3",
                                                                            "solomon"
                                                                        ],
                                                                        "description": "Staking protocol identifier."
                                                                    },
                                                                    "token_symbol": {
                                                                        "type": "string",
                                                                        "description": "Symbol of the staked token (e.g. SOL, JUP)."
                                                                    },
                                                                    "token_mint": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Mint address of the staked token. Null if not applicable."
                                                                    },
                                                                    "price_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Current USD price per token. Null if unknown."
                                                                    },
                                                                    "staked_value_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "USD value of staked tokens."
                                                                    },
                                                                    "locked_amount_jup": {
                                                                        "description": "Jupiter DAO only: JUP amount still locked in escrow.",
                                                                        "type": "number",
                                                                        "minimum": 0
                                                                    },
                                                                    "locked_value_usd": {
                                                                        "description": "Jupiter DAO only: USD value of JUP still locked in escrow.",
                                                                        "type": "number",
                                                                        "minimum": 0
                                                                    },
                                                                    "unlocked_amount_jup": {
                                                                        "description": "Jupiter DAO only: JUP amount in partial unstakings, including withdrawable amounts.",
                                                                        "type": "number",
                                                                        "minimum": 0
                                                                    },
                                                                    "unlocked_value_usd": {
                                                                        "description": "Jupiter DAO only: USD value of JUP in partial unstakings.",
                                                                        "type": "number",
                                                                        "minimum": 0
                                                                    },
                                                                    "faf_price_usd": {
                                                                        "description": "Flash only: current USD price for FAF token staking.",
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "sflp_pool_prices_usd": {
                                                                        "description": "Flash only: per-pool sFLP staking prices used in Flash staking valuation.",
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "pool": {
                                                                                    "type": "string"
                                                                                },
                                                                                "price_usd": {
                                                                                    "type": "number"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "pool",
                                                                                "price_usd"
                                                                            ],
                                                                            "additionalProperties": false
                                                                        }
                                                                    },
                                                                    "positions": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "maximum": 9007199254740991,
                                                                        "description": "Number of staking positions on this protocol (e.g. validator stakes, escrows)."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "token_symbol",
                                                                    "token_mint",
                                                                    "price_usd",
                                                                    "staked_value_usd",
                                                                    "positions"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "value_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "lp_positions": {
                                                    "type": "object",
                                                    "properties": {
                                                        "positions": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                        },
                                                        "value_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "meteora_dlmm",
                                                                            "meteora_damm_v2",
                                                                            "orca_whirlpool",
                                                                            "raydium_clmm",
                                                                            "raydium_amm",
                                                                            "raydium_cp_swap",
                                                                            "parcl"
                                                                        ],
                                                                        "description": "Liquidity-provider protocol identifier."
                                                                    },
                                                                    "positions": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "maximum": 9007199254740991,
                                                                        "description": "Number of LP positions on this protocol. For Parcl, pending withdrawal settlement requests are included."
                                                                    },
                                                                    "value_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "Total USD value of LP positions. Null if unknown."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "positions",
                                                                    "value_usd"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "positions",
                                                        "value_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "yield": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "kamino_vaults",
                                                                            "kamino_liquidity",
                                                                            "hylo",
                                                                            "carrot",
                                                                            "perena",
                                                                            "exponent",
                                                                            "elemental",
                                                                            "huma",
                                                                            "hawkfi"
                                                                        ],
                                                                        "description": "Yield-bearing protocol identifier."
                                                                    },
                                                                    "value_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "USD value of yield-bearing positions on this protocol."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "value_usd"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "value_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "rewards": {
                                                    "type": "object",
                                                    "properties": {
                                                        "pending_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "kamino",
                                                                            "loopscale"
                                                                        ],
                                                                        "description": "Rewards protocol identifier."
                                                                    },
                                                                    "pending_rewards_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "USD value of unclaimed/pending rewards."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "pending_rewards_usd"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "pending_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "governance": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value_usd": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "protocols": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protocol": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "realms",
                                                                            "tribeca"
                                                                        ],
                                                                        "description": "Governance protocol identifier."
                                                                    },
                                                                    "deposited_value_usd": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ],
                                                                        "description": "USD value of deposited governance tokens. Null when prices are unavailable."
                                                                    },
                                                                    "deposits": {
                                                                        "type": "integer",
                                                                        "minimum": 0,
                                                                        "maximum": 9007199254740991,
                                                                        "description": "Number of non-zero governance token deposits."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "protocol",
                                                                    "deposited_value_usd",
                                                                    "deposits"
                                                                ],
                                                                "additionalProperties": false
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "value_usd",
                                                        "protocols"
                                                    ],
                                                    "additionalProperties": false
                                                }
                                            },
                                            "required": [
                                                "holdings",
                                                "lending",
                                                "perpetuals",
                                                "staking",
                                                "lp_positions",
                                                "yield",
                                                "rewards",
                                                "governance"
                                            ],
                                            "additionalProperties": false
                                        },
                                        "active_protocols": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Deduplicated list of all protocol identifiers that contributed any position to this wallet across all categories."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_net_worth_usd",
                                        "categories",
                                        "active_protocols"
                                    ],
                                    "additionalProperties": false,
                                    "title": "AnalyzeWalletResponse",
                                    "description": "Master portfolio overview: total net worth + per-category breakdown across holdings, lending, perpetuals, staking, LP, yield, rewards, and governance deposits."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/holdings": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getWalletHoldings",
                "summary": "List wallet holdings",
                "description": "List native SOL, SPL, and Token-2022 holdings for a Solana wallet with real-time USD pricing and optional minimum-value filtering.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    },
                    {
                        "name": "min_value_usd",
                        "in": "query",
                        "required": false,
                        "description": "Minimum USD value per holding to include in the response. Defaults to 1.",
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "default": 1
                        },
                        "example": 1
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44
                                        },
                                        "total_value_usd": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Sum of value_usd across all holdings (excluding any unpriced tokens)."
                                        },
                                        "holdings_count": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 9007199254740991,
                                            "description": "Number of holdings included in the response."
                                        },
                                        "holdings": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "mint": {
                                                        "type": "string",
                                                        "description": "Token mint (base58). For native SOL the canonical wrapped-SOL mint is used."
                                                    },
                                                    "balance": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "description": "Human-readable token balance (already divided by 10^decimals)."
                                                    },
                                                    "price_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "USD price per token. Null if no price feed is available."
                                                    },
                                                    "value_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "balance \u00d7 price_usd. Null if price is unknown."
                                                    }
                                                },
                                                "required": [
                                                    "mint",
                                                    "balance",
                                                    "price_usd",
                                                    "value_usd"
                                                ],
                                                "additionalProperties": false
                                            },
                                            "description": "Holdings sorted by value_usd descending. Includes native SOL and Jupiter-verified SPL / Token-2022 tokens only. NFTs (decimals=0, balance=1) and known fungible LP/share mints (Kamino Vaults, Raydium AMM/CPMM, Loopscale Vaults, Kamino Liquidity) are excluded."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_value_usd",
                                        "holdings_count",
                                        "holdings"
                                    ],
                                    "additionalProperties": false,
                                    "title": "HoldingsResponse",
                                    "description": "On-chain token holdings with USD pricing. Returns native SOL plus Jupiter-verified SPL / Token-2022 token balances only to reduce scam-token noise and price discrepancies. Filtered by `min_value_usd` query param (default 1)."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-lending": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllLending",
                "summary": "List lending positions",
                "description": "Return lending deposits, borrows, and net value for a Solana wallet across supported Solana lending protocols.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44,
                                            "description": "Solana wallet address (base58, 32\u201344 chars)."
                                        },
                                        "total_deposit_value_usd": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Sum of deposit_value_usd across all protocols."
                                        },
                                        "total_borrow_value_usd": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Sum of borrow_value_usd across all protocols."
                                        },
                                        "net_value_usd": {
                                            "type": "number",
                                            "description": "total_deposit_value_usd \u2212 total_borrow_value_usd. The wallet's net lending exposure."
                                        },
                                        "protocols": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "protocol": {
                                                        "type": "string",
                                                        "enum": [
                                                            "kamino",
                                                            "project_zero",
                                                            "loopscale",
                                                            "jupiter_lend",
                                                            "carrot"
                                                        ],
                                                        "description": "Protocol identifier. Stable string \u2014 safe to switch on programmatically."
                                                    },
                                                    "deposit_value_usd": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "description": "Total USD value supplied/deposited into this protocol by the wallet."
                                                    },
                                                    "borrow_value_usd": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "description": "Total USD value borrowed from this protocol by the wallet."
                                                    },
                                                    "net_value_usd": {
                                                        "type": "number",
                                                        "description": "deposit_value_usd \u2212 borrow_value_usd. Can be negative if borrows exceed collateral valuation."
                                                    }
                                                },
                                                "required": [
                                                    "protocol",
                                                    "deposit_value_usd",
                                                    "borrow_value_usd",
                                                    "net_value_usd"
                                                ],
                                                "additionalProperties": false,
                                                "description": "Per-protocol lending position summary."
                                            },
                                            "description": "Only protocols with non-zero positions are included. Empty array if the wallet has no lending activity."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_deposit_value_usd",
                                        "total_borrow_value_usd",
                                        "net_value_usd",
                                        "protocols"
                                    ],
                                    "additionalProperties": false,
                                    "title": "AllLendingResponse",
                                    "description": "Aggregated lending positions across all supported lending protocols (Kamino, Project Zero, Loopscale vaults/loans/direct strategies, Jupiter Lend, Carrot)."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-perps": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllPerps",
                "summary": "List perpetual positions",
                "description": "Return perpetual futures positions, collateral, size, and PnL for a Solana wallet across supported perps protocols.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44
                                        },
                                        "total_positions": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 9007199254740991,
                                            "description": "Sum of positions across all protocols."
                                        },
                                        "total_size_usd": {
                                            "anyOf": [
                                                {
                                                    "type": "number"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ],
                                            "description": "Sum of size_usd across all protocols. Null if all are zero."
                                        },
                                        "total_collateral_usd": {
                                            "anyOf": [
                                                {
                                                    "type": "number"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ],
                                            "description": "Sum of collateral_usd across all protocols."
                                        },
                                        "total_pnl_usd": {
                                            "anyOf": [
                                                {
                                                    "type": "number"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ],
                                            "description": "Sum of pnl_usd across all protocols. Null if zero."
                                        },
                                        "protocols": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "protocol": {
                                                        "type": "string",
                                                        "enum": [
                                                            "jupiter_perps",
                                                            "flash",
                                                            "parcl"
                                                        ],
                                                        "description": "Perpetuals protocol identifier."
                                                    },
                                                    "positions": {
                                                        "type": "integer",
                                                        "minimum": 0,
                                                        "maximum": 9007199254740991,
                                                        "description": "Number of open perpetual positions on this protocol."
                                                    },
                                                    "size_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "Total notional position size in USD. Null if unknown."
                                                    },
                                                    "collateral_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "Total USD value posted as collateral."
                                                    },
                                                    "pnl_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "Combined PnL (realized + unrealized for Jupiter; unrealized only for Flash). Null if unknown."
                                                    }
                                                },
                                                "required": [
                                                    "protocol",
                                                    "positions",
                                                    "size_usd",
                                                    "collateral_usd",
                                                    "pnl_usd"
                                                ],
                                                "additionalProperties": false
                                            },
                                            "description": "Per-protocol breakdown. Empty array if no perp positions."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_positions",
                                        "total_size_usd",
                                        "total_collateral_usd",
                                        "total_pnl_usd",
                                        "protocols"
                                    ],
                                    "additionalProperties": false,
                                    "title": "AllPerpsResponse",
                                    "description": "Aggregated perpetual futures positions across Jupiter Perps, Flash Trade, and Parcl."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-staking": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllStaking",
                "summary": "List staking positions",
                "description": "Return native SOL and protocol staking positions for a Solana wallet across supported staking systems.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44
                                        },
                                        "total_staked_value_usd": {
                                            "anyOf": [
                                                {
                                                    "type": "number"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ],
                                            "description": "Sum of staked_value_usd across all protocols. Null if zero."
                                        },
                                        "protocols": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "protocol": {
                                                        "type": "string",
                                                        "enum": [
                                                            "native_sol",
                                                            "jupiter_dao",
                                                            "flash",
                                                            "helium",
                                                            "seeker",
                                                            "huma",
                                                            "raydium",
                                                            "kamino",
                                                            "pyth",
                                                            "wormhole",
                                                            "parcl",
                                                            "meteora_m3m3",
                                                            "solomon"
                                                        ],
                                                        "description": "Staking protocol identifier."
                                                    },
                                                    "token_symbol": {
                                                        "type": "string",
                                                        "description": "Symbol of the staked token (e.g. SOL, JUP)."
                                                    },
                                                    "token_mint": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "Mint address of the staked token. Null if not applicable."
                                                    },
                                                    "price_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "Current USD price per token. Null if unknown."
                                                    },
                                                    "staked_value_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "USD value of staked tokens."
                                                    },
                                                    "locked_amount_jup": {
                                                        "description": "Jupiter DAO only: JUP amount still locked in escrow.",
                                                        "type": "number",
                                                        "minimum": 0
                                                    },
                                                    "locked_value_usd": {
                                                        "description": "Jupiter DAO only: USD value of JUP still locked in escrow.",
                                                        "type": "number",
                                                        "minimum": 0
                                                    },
                                                    "unlocked_amount_jup": {
                                                        "description": "Jupiter DAO only: JUP amount in partial unstakings, including withdrawable amounts.",
                                                        "type": "number",
                                                        "minimum": 0
                                                    },
                                                    "unlocked_value_usd": {
                                                        "description": "Jupiter DAO only: USD value of JUP in partial unstakings.",
                                                        "type": "number",
                                                        "minimum": 0
                                                    },
                                                    "faf_price_usd": {
                                                        "description": "Flash only: current USD price for FAF token staking.",
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "sflp_pool_prices_usd": {
                                                        "description": "Flash only: per-pool sFLP staking prices used in Flash staking valuation.",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "pool": {
                                                                    "type": "string"
                                                                },
                                                                "price_usd": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "required": [
                                                                "pool",
                                                                "price_usd"
                                                            ],
                                                            "additionalProperties": false
                                                        }
                                                    },
                                                    "positions": {
                                                        "type": "integer",
                                                        "minimum": 0,
                                                        "maximum": 9007199254740991,
                                                        "description": "Number of staking positions on this protocol (e.g. validator stakes, escrows)."
                                                    }
                                                },
                                                "required": [
                                                    "protocol",
                                                    "token_symbol",
                                                    "token_mint",
                                                    "price_usd",
                                                    "staked_value_usd",
                                                    "positions"
                                                ],
                                                "additionalProperties": false
                                            },
                                            "description": "Per-protocol staking breakdown. Only protocols with non-zero stake are included."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_staked_value_usd",
                                        "protocols"
                                    ],
                                    "additionalProperties": false,
                                    "title": "AllStakingResponse",
                                    "description": "Aggregated staking positions: native SOL staking, Jupiter DAO (veJUP), Flash, Helium veHNT, Seeker SKR, Huma, Raydium RAY, Kamino KMNO, Pyth, Wormhole MultiGov, Parcl, Meteora M3M3, and Solomon sUSDv staking."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
                                "description": "Payment challenge understood by pay.sh clients.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-payment-info": {
                    "price_usd": 0.0004,
                    "currency": "USDC",
                    "network": "solana-mainnet"
                }
            }
        },
        "/api/wallets/{wallet}/all-governance": {
            "get": {
                "tags": [
                    "Wallet Intelligence"
                ],
                "operationId": "getAllGovernance",
                "summary": "List governance positions",
                "description": "Return governance token deposits and vote-escrow positions for a Solana wallet across supported DAO systems.",
                "parameters": [
                    {
                        "name": "wallet",
                        "in": "path",
                        "required": true,
                        "description": "Solana wallet address in base58 format.",
                        "schema": {
                            "type": "string",
                            "minLength": 32,
                            "maxLength": 44
                        },
                        "example": "11111111111111111111111111111111"
                    }
                ],
                "security": [
                    {
                        "x402Payment": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallet intelligence response after payment settlement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "type": "object",
                                    "properties": {
                                        "wallet": {
                                            "type": "string",
                                            "minLength": 32,
                                            "maxLength": 44
                                        },
                                        "total_deposited_value_usd": {
                                            "anyOf": [
                                                {
                                                    "type": "number"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ],
                                            "description": "Sum of deposited governance token USD value across protocols. Null if zero or unavailable."
                                        },
                                        "protocols": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "protocol": {
                                                        "type": "string",
                                                        "enum": [
                                                            "realms",
                                                            "tribeca"
                                                        ],
                                                        "description": "Governance protocol identifier."
                                                    },
                                                    "deposited_value_usd": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ],
                                                        "description": "USD value of deposited governance tokens. Null when prices are unavailable."
                                                    },
                                                    "deposits": {
                                                        "type": "integer",
                                                        "minimum": 0,
                                                        "maximum": 9007199254740991,
                                                        "description": "Number of non-zero governance token deposits."
                                                    }
                                                },
                                                "required": [
                                                    "protocol",
                                                    "deposited_value_usd",
                                                    "deposits"
                                                ],
                                                "additionalProperties": false
                                            },
                                            "description": "Per-protocol governance deposit breakdown. Only active deposits are included."
                                        }
                                    },
                                    "required": [
                                        "wallet",
                                        "total_deposited_value_usd",
                                        "protocols"
                                    ],
                                    "additionalProperties": false,
                                    "title": "AllGovernanceResponse",
                                    "description": "Aggregated governance deposits across supported governance protocols, including SPL Governance / Realms and Tribeca vote-escrow deposits."
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required. Retry with a signed x402 or MPP payment header.",
                        "headers": {
                            "WWW-Authenticate": {
[...]
