{
  "openapi": "3.1.0",
  "info": {
    "title": "Scry Wallet Intelligence",
    "version": "0.1.0",
    "summary": "Pay-per-request Solana wallet intelligence and forensic evidence for agents.",
    "description": "Evidence-only Solana wallet screening, counterparty graphs, funding lineage, bundler checks, transfers, PnL context, Pump.fun cohorts, mint risk, watchlists, and priority fees.",
    "x-logo": {
      "url": "https://scry.solanahub.de/x402/assets/scry-wallet-intelligence-512.png",
      "altText": "Scry Wallet Intelligence"
    },
    "contact": {
      "name": "Scry Wallet Intelligence",
      "url": "https://solanahub.de/en/scry/"
    },
    "x-guidance": "Start with GET /x402/wallet/{address}/quick-flag ($0.001) for the cheapest coverage and evidence check. Escalate only the dimensions the task needs: PnL ($0.002), live priority fees ($0.005), bundler evidence ($0.01), funding lineage ($0.03), pairwise wallet connections ($0.04), or a forensic dossier ($0.05). Use launch-window-cluster for launch-cohort evidence and full-context-pro only when the combined evidence surface is worth the higher spend. Read coverage_status, confidence, freshness timestamps, field provenance, and methodology before applying caller-owned policy; absent evidence and partial coverage are not negative findings. No API key or subscription is required. Call a paid endpoint without X-PAYMENT to receive the x402 challenge, pay the declared USDC amount, then retry the identical request.",
    "x-provider": "Scry",
    "x-contract-source": "https://scry.solanahub.de/openapi.json"
  },
  "externalDocs": {
    "description": "Scry product overview and live discovery",
    "url": "https://solanahub.de/en/scry/"
  },
  "servers": [
    {
      "url": "https://scry.solanahub.de"
    }
  ],
  "paths": {
    "/x402/solana/hot-wallets/daily": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "daily-hot-wallets",
          "cohort",
          "wallet-intelligence",
          "x402-data-broker",
          "solana-x402-data-marketplace",
          "agent-product"
        ],
        "summary": "List notable Solana wallets for daily review",
        "description": "Low-cost daily Solana notable-wallet cohort for autonomous agents. Returns today's ranked cohort shortlist, pre-filtered against known routers, exchanges, services, and vaults. Each wallet includes source-rank context, Scry coverage gaps, cluster tags, missing dimensions, and a credit-aware depth-call plan before single-wallet forensics. Use for daily discovery and routing. Not for one-wallet transaction rows; use Wallet Transfer Tape for that object. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.10. Requires x402 exact payment.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "wallet_count",
                    "wallets",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_daily_hot_wallets"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "wallet_count": {
                      "type": "number"
                    },
                    "buyer_job": {
                      "type": "string"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "source_reports": {
                      "type": "object"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_agent_product_daily_hot_wallets_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.10",
        "x-scry-cache-ttl-seconds": 900,
        "x-marketplace-alias": false,
        "operationId": "list_solana_hot_wallets_daily",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/solana/persistent-wallets/weekly": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "weekly-persistent-wallets",
          "cohort-7d",
          "wallet-intelligence",
          "x402-data-broker",
          "solana-x402-data-marketplace",
          "agent-product"
        ],
        "summary": "List persistent Solana wallets for weekly review",
        "description": "Low-cost weekly persistence cohort for agents that need lower-noise recurring wallets before deeper wallet forensics. Includes daily-overlap context, Scry coverage gaps, missing dimensions, and a deeper analysis ladder for caller-defined monitoring and research workflows. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.20. Requires x402 exact payment.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "wallet_count",
                    "wallets",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_weekly_persistent_wallets"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "wallet_count": {
                      "type": "number"
                    },
                    "buyer_job": {
                      "type": "string"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "source_reports": {
                      "type": "object"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_agent_product_weekly_persistent_wallets_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.20",
        "x-scry-cache-ttl-seconds": 3600,
        "x-marketplace-alias": false,
        "operationId": "list_solana_persistent_wallets_weekly",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.200000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/solana/pumpfun-risk-protection": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "pumpfun-risk-protection-api",
          "pumpfun-risk-protection",
          "pumpfun-risk-wallets",
          "pumpfun-rugger-detection",
          "pumpfun-rugger-wallet-detection",
          "serial-deployer-wallets",
          "pumpfun-serial-deployer-wallets",
          "consumer-protection",
          "rug-pattern-wallets",
          "rugger-pattern-wallets",
          "wallet-intelligence",
          "x402-data-broker",
          "solana-x402-data-marketplace",
          "agent-product"
        ],
        "summary": "Fetch Pump.fun wallet-cohort risk evidence",
        "description": "Low-cost Pump.fun wallet-cohort screen for agents that need rugger-pattern, serial-deployer, service-router, and suspicious-activity context before deeper review. Returns identity, activity, coverage, and sample evidence for wallet cohorts and deployer sets. Use for cohorts, not one mint, one launch, or one wallet. Evidence only; no verdict. No API keys, no subscriptions; x402 exact payment per request. Search aliases: pumpfun risk protection solana; pumpfun rugger wallet detection; pumpfun serial deployer wallet api; pump.fun rugger wallet detection; pump.fun serial deployer wallets; pumpfun risk wallet cohort; pumpfun wallet cohort risk screen; pumpfun deployer risk screen. Primary object: low cost pumpfun wallet cohort screen.\n\nPrice: $0.05. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of cohort rows to return, from 1 through 100.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "wallet_count",
                    "wallets",
                    "data_quality",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_pumpfun_risk_protection"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "wallet_count": {
                      "type": "number"
                    },
                    "cohort_summary": {
                      "type": "object"
                    },
                    "data_quality": {
                      "type": "object",
                      "description": "Product-level freshness, onchain enrichment, and risk-coverage attestation."
                    },
                    "buyer_job": {
                      "type": "string"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_agent_product_pumpfun_risk_protection_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.05",
        "x-scry-cache-ttl-seconds": 1800,
        "x-marketplace-alias": false,
        "operationId": "get_pumpfun_wallet_cohort_risk",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/solana/agent-intel-brief": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "agent-intel-brief",
          "agent-orchestrator-solana-wallet-intelligence",
          "orchestrator-wallet-intelligence",
          "solana-agent-wallet-intelligence",
          "solana-spend-router",
          "orchestrator-agent",
          "agent-spend-routing",
          "product-ladder-routing",
          "onchain-call-plan",
          "wallet-triage",
          "solana-agent-brief",
          "agent-operations-brief",
          "cohort-brief",
          "daily-weekly-wallet-brief",
          "refresh-queue",
          "wallet-refresh-plan",
          "scry-agent-intel",
          "x402-data-broker",
          "solana-x402-data-marketplace",
          "wallet-intelligence",
          "onchain-plan",
          "agent-product"
        ],
        "summary": "Fetch a Solana wallet-intelligence routing brief",
        "description": "Agent orchestrator Solana wallet intelligence brief and low-cost spend-router for autonomous agents deciding which Scry endpoint or onchain depth workflow to request next. Combines 24h/7d wallet context, DB freshness, refresh queue, coverage gaps, product-ladder routing, and next evidence depth in one response. Use when the object is an agent workflow. Not a single-wallet bundler/private-routing check. No API keys, no subscriptions; x402 exact payment per request. Search aliases: agent orchestrator solana wallet intelligence; which scry endpoint should my agent select; solana agent spend router; agent orchestrator solana wallet intelligence api; which scry endpoint should my agent request next; low cost solana agent wallet intelligence router; scry agent orchestrator spend router; solana wallet intelligence spend router. Primary object: agent spend router.\n\nPrice: $0.03. Requires x402 exact payment.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "service_objective",
                    "brief",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_agent_intel_brief"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "service_objective": {
                      "type": "string"
                    },
                    "brief": {
                      "type": "object"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "product_ladder": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_agent_product_intel_brief_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.03",
        "x-scry-cache-ttl-seconds": 900,
        "x-marketplace-alias": false,
        "operationId": "get_solana_agent_intel_brief",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.030000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/quick-flag": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-quick-flag",
          "sub-cent-prefilter",
          "wallet-prefilter",
          "bulk-wallet-screen",
          "identity-quarantine",
          "transfer-freshness",
          "private-routing",
          "low-cost-agent-sku",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Fetch quick evidence flags for a Solana wallet",
        "description": "A $0.001 x402 call — the lowest-price endpoint in this catalog and a practical first target to test a real USDC micropayment end-to-end. Returns service-quarantine status, bundler-routing hint, known identity, coverage status, cached transfer freshness, and stale-vs-DB marker for any Solana wallet. Built for agents bulk-screening before paying for deeper wallet evidence, and for x402 clients that want a working sub-cent settlement test against a live API. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.001. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "product",
                    "address",
                    "in_db",
                    "supported",
                    "quick_flags",
                    "coverage",
                    "evidence_pack",
                    "evidence_pathways",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_quick_flag"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "address": {
                      "type": "string"
                    },
                    "in_db": {
                      "type": "boolean"
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "quick_flags": {
                      "type": "object"
                    },
                    "coverage": {
                      "type": "object"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "evidence_pathways": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "string",
                          "const": "scry_evidence_pathways_v1"
                        },
                        "posture": {
                          "type": "string",
                          "const": "caller_selects"
                        },
                        "current_product": {
                          "type": "string"
                        },
                        "next_steps": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_wallet_quick_flag_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.001",
        "x-scry-cache-ttl-seconds": 120,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_quick_flag",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/pnl": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-pnl",
          "canonical-pnl",
          "pre-post-balances",
          "no-estimated-pnl",
          "validator-native-balance-delta",
          "profit-and-loss",
          "wallet-profit",
          "low-cost-agent-sku",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Fetch canonical SOL PnL evidence for a wallet",
        "description": "Per-transaction SOL PnL for one Solana wallet from validator pre/postBalances — never estimated or price-derived (that data source is verified to the lamport). Returns an explicit null + reason when the number is not computable, the wallet is multi-asset, or a large PnL sits on a now-empty wallet (withheld as unverifiable pending the chain-anchored recompute — equally a real winner who withdrew or a flow artifact, NOT judged fake). NOTE: whole-lifetime chain-anchored verification is being hardened — the served number is currently internal-consistency-checked, NOT yet certified against the on-chain lifetime balance delta (sol_pnl_chain_anchored=false). Includes trade count, classification, coverage, and freshness. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.002. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "product",
                    "address",
                    "in_db",
                    "supported",
                    "pnl",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_pnl"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "address": {
                      "type": "string"
                    },
                    "in_db": {
                      "type": "boolean"
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "pnl": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "coverage": {
                      "type": "object"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_wallet_pnl_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.002",
        "x-scry-cache-ttl-seconds": 300,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_pnl",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/bundler-check": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-intelligence",
          "bundler-detection",
          "jito",
          "nozomi",
          "bloxroute",
          "private-routing-wallet",
          "memecoin",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Check a Solana wallet for bundler routing evidence",
        "description": "Is this Solana wallet a bundler? Single-wallet bundler and private-routing evidence check. Detects whether one wallet routes through Jito, Nozomi, BloXroute, ZeroSlot, BlockRazor, NextBlock, Astralane, or onchain Sender. Returns routing-pattern evidence, tip-stack counts, service-quarantine status, and coverage warnings before deeper wallet forensics. Not an agent orchestrator brief. No API keys, no subscriptions; x402 exact payment per request. Search aliases: solana wallet private routing detection; solana wallet bundler detection api; x402 solana bundler check; one cent solana wallet bundler check; low cost solana private routing evidence; jito tip service wallet evidence; solana wallet jito nozomi bloxroute check; solana jito wallet check. Primary object: low cost single wallet precheck.\n\nPrice: $0.01. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "address",
                    "in_db",
                    "supported",
                    "risk",
                    "confidence",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_bundler_check"
                    },
                    "as_of": {
                      "type": "string",
                      "description": "Response evidence timestamp."
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Named data sources used in this response."
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "address": {
                      "type": "string",
                      "description": "Queried Solana wallet address."
                    },
                    "in_db": {
                      "type": "boolean",
                      "description": "Whether this wallet is currently in Scry coverage."
                    },
                    "supported": {
                      "type": "boolean",
                      "description": "False for known infrastructure/CEX/system wallets."
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH",
                        "UNKNOWN"
                      ]
                    },
                    "confidence": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH",
                        "UNKNOWN"
                      ]
                    },
                    "pattern": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Bundler usage class, when available."
                    },
                    "bundler_pattern": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Deprecated compatibility alias for pattern."
                    },
                    "primary_service": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Primary observed service, or multi."
                    },
                    "services_observed": {
                      "type": "object",
                      "description": "Observed bundler/tip-service counts by provider."
                    },
                    "tip_total_sol": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Sanitized total SOL sent to known tip addresses."
                    },
                    "sample_size": {
                      "type": "object",
                      "properties": {
                        "txs_scanned": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "services_observed_total": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "tips_observed_total": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "bundler_evidence_scope": {
                      "type": "object",
                      "description": "Scan-specific completeness and confidence boundary, independent of unrelated holdings or trading coverage."
                    },
                    "coverage": {
                      "type": "object",
                      "description": "Coverage warnings and checked sources."
                    },
                    "profile": {
                      "type": "object",
                      "description": "Sanitized wallet trading/context profile."
                    },
                    "trade_context": {
                      "type": "object",
                      "description": "High-level wallet trade context."
                    },
                    "explanation": {
                      "type": "string"
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object",
                      "description": "Machine-readable evidence contract for caller-defined policies."
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "sentinel_x402_bundler_check_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.01",
        "x-scry-cache-ttl-seconds": 14400,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_bundler_evidence",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/forensics": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-forensics",
          "wallet-evidence-dossier",
          "wallet-evidence-dossier-api",
          "solana-wallet-evidence-dossier",
          "solana-wallet-evidence-dossier-api",
          "full-wallet-dossier",
          "wallet-intelligence",
          "kol-identity",
          "x-handle",
          "twitter-handle",
          "wallet-to-twitter",
          "social-identity",
          "onchain-identity-context",
          "onchain-deep-tx-evidence",
          "gettransactionsforaddress",
          "kol-lookup",
          "funding-lineage",
          "sol-flow",
          "coordination-peers",
          "rug-evidence",
          "sniper-risk-context",
          "manipulation-window-context",
          "mev-risk-context",
          "verdict-free",
          "launch-window-context",
          "memecoin",
          "wallet-research",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Fetch a forensic evidence dossier for a Solana wallet",
        "description": "What is the on-chain forensic profile of this Solana wallet? Single-wallet evidence dossier API for agents that need one wallet in depth. Returns identity and X/Twitter-handle hints when available, service/router/exchange quarantine, funding-source lineage, cached transaction evidence, SOL-flow graph, coordination peers, cluster membership, rug-evidence flags, sniper/MEV/bundler pattern context, current activity, holdings snapshot when covered, coverage confidence, and source freshness timestamps. Use when the object is one Solana wallet. Not for token-launch dossiers, daily wallet cohorts, or transfer-only tapes. Evidence context only; caller owns policy decisions. No API keys or subscriptions; x402 exact payment per request. Search aliases: solana wallet evidence dossier; solana wallet to twitter handle; solana wallet to twitter handle reverse lookup; solana wallet evidence dossier api; full solana wallet evidence dossier; one wallet solana evidence dossier; solana wallet forensic dossier; solana wallet x handle lookup api. Primary object: single wallet dossier.\n\nPrice: $0.05. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "address",
                    "in_db",
                    "supported",
                    "risk_summary",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_forensics"
                    },
                    "as_of": {
                      "type": "string",
                      "description": "Response evidence timestamp."
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Named data sources used in this response."
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "address": {
                      "type": "string",
                      "description": "Queried Solana wallet address."
                    },
                    "in_db": {
                      "type": "boolean",
                      "description": "Whether this wallet is currently in Scry coverage."
                    },
                    "supported": {
                      "type": "boolean",
                      "description": "False for known infrastructure/CEX/system wallets."
                    },
                    "identity": {
                      "type": "object",
                      "description": "Known labels, handles, or entity hints when available."
                    },
                    "trading_profile": {
                      "type": "object",
                      "description": "Canonical wallet trading profile, including PnL/classification/sample size when available."
                    },
                    "bundler": {
                      "type": "object",
                      "description": "Bundler/tip-service pattern summary."
                    },
                    "activity": {
                      "type": "object",
                      "description": "Recent wallet balance and transaction-success fingerprint."
                    },
                    "holdings_snapshot": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Latest holdings snapshot. Exact counts are returned only when snapshot_completeness=complete; bounded scans expose token_count_lower_bound instead.",
                      "properties": {
                        "captured_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "snapshot_freshness": {
                          "type": "object",
                          "properties": {
                            "observed_at": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "age_seconds": {
                              "type": [
                                "integer",
                                "null"
                              ],
                              "minimum": 0
                            },
                            "tier": {
                              "type": "string",
                              "enum": [
                                "fresh",
                                "standard",
                                "stale",
                                "unknown"
                              ]
                            },
                            "stale_gt_30d": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            }
                          }
                        },
                        "snapshot_completeness": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "bounded_lower_bound",
                            "unverified"
                          ]
                        },
                        "total_value_usd": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "native_balance_sol": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "token_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 0,
                          "description": "Exact token count; null unless snapshot_completeness=complete."
                        },
                        "token_count_lower_bound": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 0,
                          "description": "Observed lower bound; populated only for a bounded lower-bound scan."
                        },
                        "token_count_is_lower_bound": {
                          "type": "boolean"
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "tokens_truncated": {
                          "type": "boolean"
                        },
                        "token_preview_limit": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 0
                        },
                        "tokens_omitted_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 0
                        },
                        "field_coverage": {
                          "type": "object"
                        },
                        "active_mint_inventory": {
                          "type": "object"
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "source": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "sol_flows": {
                      "type": "object",
                      "description": "Native SOL top destinations and funding sources."
                    },
                    "deep_tx_evidence": {
                      "type": "object",
                      "description": "Cached onchain onchain-transaction-read transaction evidence summary. Raw transactions are not returned; this is forensic context for caller-defined policies."
                    },
                    "sniper_risk_context": {
                      "type": "object",
                      "description": "Sniper/MEV/bundler cohort context exposed as risk-pattern evidence only. Stage-1 forward-return testing did not support execution use."
                    },
                    "clusters": {
                      "type": "array",
                      "description": "Cluster memberships and related wallet context."
                    },
                    "coordination_peers": {
                      "type": "array",
                      "description": "Wallets with joint-trigger or coordinated activity behavior."
                    },
                    "funding_trace": {
                      "type": "array",
                      "description": "Funding lineage edges known to Scry."
                    },
                    "red_flags": {
                      "type": "object",
                      "description": "Structured advisory flags."
                    },
                    "risk_summary": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "explanation": {
                          "type": "string"
                        }
                      }
                    },
                    "coverage": {
                      "type": "object",
                      "properties": {
                        "coverage_status": {
                          "type": "string",
                          "enum": [
                            "deep",
                            "medium",
                            "shallow",
                            "unavailable"
                          ]
                        },
                        "confidence": {
                          "type": "number"
                        },
                        "last_scanned_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "missing_fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "source_updated_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Latest source update timestamp."
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object",
                      "description": "Machine-readable evidence contract for caller-defined policies."
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "sentinel_x402_wallet_forensics_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.05",
        "x-scry-cache-ttl-seconds": 3600,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_forensics",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/lineage": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "solana-funding-lineage-api",
          "funding-lineage",
          "funding-lineage-api",
          "upstream-funder",
          "funder-lookup",
          "wallet-provenance",
          "wallet-forensics",
          "wallet-intelligence",
          "source-of-funds",
          "counterparty-review",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Trace funding lineage for a Solana wallet",
        "description": "Who funded this Solana wallet, and where did its funds come from? Cache-first funding-lineage evidence API returns known upstream funders, hop depth, source freshness, identity hints, loop detection, and coverage/confidence without forcing a live onchain refresh per request. Built for wallet provenance, source-of-funds review, counterparty review, risk triage, and paid Globe wallet dossiers. No API keys, no subscriptions; x402 exact payment per request. Search aliases: wallet source of funds solana api; solana funding lineage api; who funded this solana wallet; solana wallet funding lineage api; solana wallet lineage api; solana source of funds api; solana wallet provenance api; wallet funder lookup solana. Primary object: single wallet source of funds.\n\nPrice: $0.03. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "address",
                    "lineage_available",
                    "lineage",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_lineage"
                    },
                    "address": {
                      "type": "string"
                    },
                    "in_db": {
                      "type": "boolean"
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "lineage_available": {
                      "type": "boolean"
                    },
                    "lineage": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "evidence_contract_version": {
                      "type": "string",
                      "const": "scry_lineage_edge_evidence_v2"
                    },
                    "depth_reached": {
                      "type": "number"
                    },
                    "terminal_funder": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "loop_detected": {
                      "type": "boolean"
                    },
                    "wallet": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "coverage": {
                      "type": "object"
                    },
                    "source_updated_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_wallet_lineage_cache_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.03",
        "x-scry-cache-ttl-seconds": 3600,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_funding_lineage",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.030000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/connection": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-connection",
          "wallet-pair-evidence",
          "wallet-link-check",
          "are-wallets-connected",
          "wallet-relationship-api",
          "shared-funder",
          "funding-lineage",
          "shared-counterparties",
          "common-counterparty",
          "graph-community",
          "cluster-co-membership",
          "token-overlap",
          "sybil-evidence-context",
          "airdrop-farming-context",
          "wallet-graph",
          "verdict-free",
          "coverage-aware",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "Check evidence connecting two Solana wallets",
        "description": "Are these two Solana wallets connected on-chain? Pairwise wallet connection evidence API for agents that need to know whether two specific wallets are linked. Takes two wallet addresses and returns typed evidence blocks: direct transfer and swap-counterparty edges between the pair with direction and observed volume, funding-lineage comparison with terminal-funder match, shared transfer counterparties ranked by observed SOL volume with infrastructure flags, graph-community co-membership from network clustering, and traded-token overlap with Jaccard score. Every block carries its own computed_at timestamp and coverage status; wallets outside the covered transfer universe return explicit nulls instead of fabricated negatives. Use when the object is a PAIR of wallets. Not for single-wallet dossiers, token-launch analysis, or bulk cohort scans. Evidence context only; caller owns interpretation and policy decisions. No API keys or subscriptions; x402 exact payment per request.\n\nPrice: $0.04. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "First Solana wallet address of the pair"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          },
          {
            "name": "b",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Second Solana wallet address of the pair (must differ from `a`)"
            },
            "example": "Dzc54GPaA59RXdQ7Q4auqHxJkD2w1AmsPKfgL9vTQbnt"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product",
                    "pair",
                    "connection_found",
                    "evidence",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_connection"
                    },
                    "as_of": {
                      "type": "string",
                      "description": "Response evidence timestamp derived from source data, never fabricated."
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "pair": {
                      "type": "object",
                      "properties": {
                        "a": {
                          "type": "string"
                        },
                        "b": {
                          "type": "string"
                        }
                      },
                      "description": "Echoed wallet pair, lexicographically normalized; direction fields refer to this order."
                    },
                    "pair_order": {
                      "type": "string",
                      "const": "lexicographic_normalized"
                    },
                    "in_db": {
                      "type": "object",
                      "description": "Per-wallet index membership."
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "connection_found": {
                      "type": "boolean",
                      "description": "True when at least one evidence block carries a positive signal (edge count > 0, funder match, community match, shared counterparties, or token overlap). False with full coverage is an honest 'no connection in evidence'."
                    },
                    "evidence": {
                      "type": "object",
                      "properties": {
                        "direct_edges": {
                          "type": "object",
                          "description": "Direct graph edges between the pair with direction, weight, and detected_at."
                        },
                        "shared_terminal_funder": {
                          "type": "object",
                          "description": "Funding-lineage comparison with terminal-funder match and per-side depth."
                        },
                        "shared_counterparties": {
                          "type": "object",
                          "description": "Transfer counterparties observed on both sides, ranked by observed SOL volume, with is_infrastructure flags."
                        },
                        "same_community": {
                          "type": "object",
                          "description": "Graph-community co-membership from network clustering with community id, size, and staleness flag."
                        },
                        "token_overlap": {
                          "type": "object",
                          "description": "Traded-token overlap with per-side counts, shared mints, and Jaccard score."
                        }
                      },
                      "description": "Typed evidence blocks; each carries its own computed_at and coverage_status (covered | partial | not_covered)."
                    },
                    "coverage": {
                      "type": "object",
                      "description": "Merged pair coverage plus per-wallet coverage gates."
                    },
                    "source_updated_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
                        "evidence_summary": {
                          "type": "string"
                        },
                        "decision_options": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "escalation_triggers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "spend_rationale": {
                      "type": "object",
                      "properties": {
                        "why_this_cost_is_worth_it": {
                          "type": "string"
                        },
                        "cheaper_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "more_complete_alternative": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "explicit_delta_over_daily_plus_weekly": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "const": "scry_wallet_connection_pair_v1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or mint"
          },
          "402": {
            "description": "X-PAYMENT header required"
          }
        },
        "x-scry-price": "$0.04",
        "x-scry-cache-ttl-seconds": 3600,
        "x-marketplace-alias": false,
        "operationId": "get_wallet_connection",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.040000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/x402/wallet/{address}/transfer-tape": {
      "get": {
        "tags": [
          "x402-paid",
          "solana",
          "wallet-transfer-tape",
          "fresh-solana-wallet-transfers",
          "fresh-wallet-transfers",
          "single-wallet-transfers",
          "wallet-transfers",
          "onchain-wallet-transfers",
          "transfer-reconciliation",
          "wallet-activity",
          "fresh-wallet-activity",
          "today-wallet-activity",
          "counterparty-graph",
          "edge-gap",
          "pnl-reconciliation-input",
          "x402-data-broker",
          "solana-x402-data-marketplace"
        ],
        "summary": "List recent transfers for a Solana wallet",
        "description": "Fresh Solana wallet transfers for one wallet. Returns one-wallet transfer rows as the live evidence tape: deduplicated activity, exact organization/service counterparty context across the cached history, in/out direction counts, mints touched, local edge-gap reconciliation, and freshness timestamps. Use for one wallet's latest transfer evidence before deeper forensics or graph refresh. Not a daily hot-wallet cohort and not a ranked wallet shortlist. No API keys, no subscriptions; x402 exact payment per request. Search aliases: fresh solana wallet transfers; wallet activity feed solana; solana wallet transfer tape; fresh solana wallet transfers x402; what happened to this wallet today; solana wallet transfer tape x402; solana wallet transfers api; solana wallet transfer history x402. Primary object: single wallet fresh activity.\n\nPrice: $0.15. Requires x402 exact payment.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Solana wallet address"
            },
            "example": "DR5vSR5xCTqaejVymJuKRbXg7gztniaJ7hH8148C4q9F"
          },
          {
            "name": "since_slot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Optional exclusive Solana slot cursor. Returns only cached transfer rows with slot > since_slot."
            },
            "example": 350000000
          }
        ],
        "responses": {
          "200": {
            "description": "Paid intelligence response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "product",
                    "address",
                    "supported",
                    "transfer_tape",
                    "reconciliation",
                    "coverage",
                    "evidence_pack",
                    "agent_decision_support",
                    "spend_rationale",
                    "methodology"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "partial",
                        "error"
                      ]
                    },
                    "product": {
                      "type": "string",
                      "const": "scry_wallet_transfer_tape"
                    },
                    "as_of": {
                      "type": "string",
                      "description": "Response evidence timestamp."
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "address": {
                      "type": "string"
                    },
                    "in_db": {
                      "type": "boolean"
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "wallet": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Indexed wallet context when available."
                    },
                    "transfer_tape": {
                      "type": "object",
                      "description": "Normalized transfer rows and aggregate counts after direct onchain freshen-on-request.",
                      "properties": {
                        "row_count": {
                          "type": "number"
                        },
                        "signature_count": {
                          "type": "number"
                        },
                        "latest_observed_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "latest_fetched_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "direction_counts": {
                          "type": "object"
                        },
                        "distinct_counterparty_count": {
                          "type": "number"
                        },
                        "counterparties_missing_from_local_edges": {
                          "type": "number"
                        },
                        "edge_gap_ratio": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "distinct_mint_count": {
                          "type": "number"
                        },
                        "organization_context": {
                          "type": "object",
                          "description": "Exact-address organization/service matches across all cached transfer rows. History completeness is explicit and may be bounded."
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "activity_delta": {
                      "type": "object",
                      "description": "Slot cursor receipt for incremental polling, including explicit gap/completeness semantics."
                    },
                    "reconciliation": {
                      "type": "object",
                      "description": "Comparison between cached transfer rows and Scry's current local graph/freshness fields."
                    },
                    "onchain_live_refresh": {
                      "type": "object",
                      "description": "Direct onchain onchain-transfer-read refresh metadata for this response when on-demand freshening is enabled."
                    },
                    "coverage": {
                      "type": "object",
                      "properties": {
                        "coverage_status": {
                          "type": "string",
                          "enum": [
                            "deep",
                            "medium",
                            "shallow",
                            "unavailable"
                          ]
                        },
                        "confidence": {
                          "type": "number"
                        },
                        "last_refreshed_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "missing_fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "source_updated_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "caveat": {
                      "type": "string"
                    },
                    "evidence_pack": {
                      "type": "object"
                    },
                    "agent_decision_support": {
                      "type": "object",
                      "properties": {
                        "posture": {
                          "type": "string",
                          "const": "evidence_only"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MID",
                            "HIGH",
                            "UNKNOWN"
                          ]
                        },
[...]
