{
  "openapi": "3.1.0",
  "info": {
    "title": "Milypay AU Company",
    "description": "Milypay ASIC company register API: look up Australian companies by ACN or name across 3.9M records. Returns status, type, class, registration dates, and former names as JSON over x402 on Solana.",
    "version": "1.0.0",
    "contact": {
      "name": "Milypay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "Milypay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "Milypay production API"
    }
  ],
  "paths": {
    "/au-company/acn/{acn}": {
      "get": {
        "operationId": "lookupCompanyAcn",
        "summary": "Look up an ASIC company by ACN",
        "parameters": [
          {
            "name": "acn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "004085616"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company record"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    },
    "/au-company/search": {
      "get": {
        "operationId": "searchCompany",
        "summary": "Search ASIC companies by name",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "commonwealth bank"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching companies"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    }
  }
}
