{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Security Auditor",
    "version": "0.1.0",
    "description": "Pay $0.99 USDC (Solana or Base) to run a static + dynamic security audit on any public x402 GitHub repo.",
    "contact": { "email": "info@hfsp.xyz" }
  },
  "servers": [{ "url": "https://audit.hfsp.cloud" }],
  "paths": {
    "/audit": {
      "get": {
        "summary": "Request audit payment challenge",
        "description": "Returns HTTP 402 with payment instructions. Send the repo URL as a query param to get the payTo address and cost breakdown.",
        "parameters": [
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Full GitHub repo URL (e.g. https://github.com/owner/repo)",
            "schema": { "type": "string", "example": "https://github.com/coinbase/x402" }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required — includes payTo addresses for Base and Solana",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": { "type": "integer", "example": 1 },
                    "error": { "type": "string" },
                    "description": { "type": "string" },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": { "type": "string", "example": "exact" },
                          "network": { "type": "string", "example": "solana-mainnet" },
                          "maxAmountRequired": { "type": "string", "example": "990000" },
                          "asset": { "type": "string" },
                          "payTo": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid repo URL" }
        }
      },
      "post": {
        "summary": "Submit payment and run audit",
        "description": "Submit a Solana signature or Base tx hash in X-Payment header. Returns the full security audit report.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": true,
            "description": "Solana tx signature (base58) or Base tx hash (0x...) — chain auto-detected",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["repo"],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "GitHub repo URL",
                    "example": "https://github.com/coinbase/x402"
                  },
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "description": "Live HTTPS URL to probe dynamically (optional — auto-detected from README if omitted)",
                    "example": "https://api.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit complete — full report with findings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "verdict": { "type": "string", "enum": ["PASS", "REVIEW", "FAIL"] },
                        "total": { "type": "integer" },
                        "critical": { "type": "integer" },
                        "high": { "type": "integer" },
                        "medium": { "type": "integer" },
                        "low": { "type": "integer" },
                        "info": { "type": "integer" }
                      }
                    },
                    "findings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "severity": { "type": "string", "enum": ["CRITICAL", "HIGH", "MEDIUM", "LOW", "INFO"] },
                          "title": { "type": "string" },
                          "detail": { "type": "string" },
                          "location": { "type": "string" },
                          "fix": { "type": "string" }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "repo": { "type": "string" },
                        "commitSha": { "type": "string" },
                        "liveEndpoint": { "type": ["string", "null"] },
                        "staticFiles": { "type": "integer" },
                        "dynamicProbes": { "type": "boolean" },
                        "auditedAt": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment invalid, expired, or already used" },
          "500": { "description": "Audit failed — repo may be private or unreachable" }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": { "description": "Service is up" }
        }
      }
    }
  }
}
