{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Security Auditor",
    "version": "0.2.0",
    "description": "Pay $0.99 USDC (Solana or Base) to run 12 static + dynamic security checks on any public x402 GitHub repo. New in v0.2: CORS null-origin, subdomain regex bypass, HTTP verb tampering, JWT alg-confusion, source exposure probes, payment replay, and cloud metadata SSRF.",
    "contact": {
      "email": "info@hfsp.xyz"
    }
  },
  "servers": [
    {
      "url": "https://audit.hfsp.cloud"
    }
  ],
  "paths": {
    "/audit": {
      "get": {
        "summary": "Request audit payment challenge",
        "description": "Returns HTTP 402 with payment instructions. Send the repo URL as a query param to get the payTo address and cost breakdown.",
        "parameters": [
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Full GitHub repo URL (e.g. https://github.com/owner/repo)",
            "schema": {
              "type": "string",
              "format": "uri",
              "pattern": "^https://github\\.com/[^/]+/[^/]+",
              "example": "https://github.com/coinbase/x402"
            }
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required \u2014 includes payTo addresses for Base and Solana",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": {
                      "type": "integer",
                      "example": 1
                    },
                    "error": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "example": "exact"
                          },
                          "network": {
                            "type": "string",
                            "example": "solana-mainnet"
                          },
                          "maxAmountRequired": {
                            "type": "string",
                            "example": "990000"
                          },
                          "asset": {
                            "type": "string"
                          },
                          "payTo": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid repo URL"
          }
        }
      },
      "post": {
        "summary": "Submit payment and run audit",
        "description": "Submit a Solana signature or Base tx hash in X-Payment header. Runs all 12 checks and returns the full security audit report.",
        "parameters": [
          {
            "name": "X-Payment",
            "in": "header",
            "required": true,
            "description": "Solana tx signature (base58) or Base tx hash (0x...) \u2014 chain auto-detected",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://github\\.com/[^/]+/[^/]+",
                    "description": "GitHub repo URL",
                    "example": "https://github.com/coinbase/x402"
                  },
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "description": "Live HTTPS URL to probe dynamically (optional \u2014 auto-detected from README if omitted)",
                    "example": "https://api.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit complete \u2014 full report with findings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "verdict": {
                          "type": "string",
                          "enum": [
                            "PASS",
                            "REVIEW",
                            "FAIL"
                          ]
                        },
                        "total": {
                          "type": "integer"
                        },
                        "critical": {
                          "type": "integer"
                        },
                        "high": {
                          "type": "integer"
                        },
                        "medium": {
                          "type": "integer"
                        },
                        "low": {
                          "type": "integer"
                        },
                        "info": {
                          "type": "integer"
                        }
                      }
                    },
                    "findings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW",
                              "INFO"
                            ]
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "cors-reflection",
                              "cors-null-origin",
                              "cors-subdomain-bypass",
                              "payment-bypass",
                              "hardcoded-secret",
                              "source-exposure",
                              "verb-tampering",
                              "jwt-alg-confusion",
                              "preflight-bypass",
                              "payment-replay",
                              "cloud-ssrf",
                              "info-leak"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "fix": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "repo": {
                          "type": "string"
                        },
                        "commitSha": {
                          "type": "string"
                        },
                        "liveEndpoint": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "staticFiles": {
                          "type": "integer"
                        },
                        "dynamicProbes": {
                          "type": "boolean"
                        },
                        "probeCategories": {
                          "type": "array",
                          "description": "Which of the 12 probe categories were executed",
                          "items": {
                            "type": "string",
                            "enum": [
                              "cors-reflection",
                              "cors-null-origin",
                              "cors-subdomain-bypass",
                              "payment-bypass",
                              "hardcoded-secret",
                              "source-exposure",
                              "verb-tampering",
                              "jwt-alg-confusion",
                              "preflight-bypass",
                              "payment-replay",
                              "cloud-ssrf",
                              "info-leak"
                            ]
                          }
                        },
                        "auditedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment invalid, expired, or already used"
          },
          "500": {
            "description": "Audit failed \u2014 repo may be private or unreachable"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is up"
          }
        }
      }
    }
  }
}