{
  "info": {
    "description": "Filtered OpenAPI description for the stateless synchronous Alibaba Cloud CAPTCHA proxy. The gateway serves only the allowlisted operations defined in the paired YAML manifest.",
    "title": "Alibaba Cloud CAPTCHA API",
    "version": "2023-03-05"
  },
  "openapi": "3.0.3",
  "paths": {
    "/verify-intelligent-captcha": {
      "post": {
        "description": "Intelligent verification code authentication API. The gateway injects Alibaba RPC Action=VerifyIntelligentCaptcha and Version automatically before forwarding the paid request upstream.",
        "operationId": "alibaba.captcha.VerifyIntelligentCaptcha",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "CaptchaVerifyParam": {
                    "description": "Verification parameter uploaded by the client.",
                    "example": "dsjidsjidsjkds*djsjdiskds\n",
                    "type": "string"
                  },
                  "SceneId": {
                    "description": "Scenario ID.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Schema of Response",
                  "properties": {
                    "Code": {
                      "description": "Response code",
                      "example": "Success",
                      "type": "string"
                    },
                    "Message": {
                      "description": "Response message. If the request succeeded, the value is \"success\".",
                      "example": "success",
                      "type": "string"
                    },
                    "RequestId": {
                      "description": "Id of the request",
                      "example": "95784F***D39FDC5\n",
                      "type": "string"
                    },
                    "Result": {
                      "description": "Return Result",
                      "properties": {
                        "CertifyId": {
                          "description": "Authentication ID",
                          "type": "string"
                        },
                        "VerifyCode": {
                          "type": "string"
                        },
                        "VerifyResult": {
                          "description": "Verification result\n\n- true: Pass\n\n- false: Failed",
                          "example": "true",
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "Success": {
                      "description": "Indicates whether the request succeeded.",
                      "example": "true",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    },
                    "RequestId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Intelligent Verification Code Authentication"
      }
    }
  },
  "servers": [
    {
      "url": "https://captcha.alibaba.gateway-402.com"
    }
  ]
}
