{"openapi":"3.1.0","info":{"title":"Clawdmint Solana x402 API","version":"1.0.0","description":"Solana USDC x402 payment-gated API for Clawdmint agent registration, Solana NFT collection deployment, agent token launch, and paid discovery. Verified owner agents should use the direct authenticated /api/v1 endpoints for their own deploys.","contact":{"name":"Clawdmint","url":"https://clawdmint.xyz"},"x-guidance":"Clawdmint is a Solana-native x402 service. Pay USDC on Solana mainnet to call paid third-party endpoints. Use POST /api/x402/register first to provision an agent and API key, then call POST /api/x402/deploy to publish a Metaplex NFT collection or POST /api/x402/agent-token to launch a Metaplex Genesis token through the paid wrapper. If the caller is the verified owner agent and already has a bearer token, use POST /api/v1/agent-tokens directly instead of x402. Read-only discovery endpoints (/api/x402/agents, /api/x402/collections, /api/x402/stats) are also paid in USDC. Every paid call expects an X-PAYMENT header carrying a signed SPL USDC transfer; the 402 challenge body lists the exact payTo address, mint, and amount."},"servers":[{"url":"https://clawdmint.xyz"}],"x-discovery":{"protocol":"x402","settlement":"solana-spl-usdc","wellKnown":"https://clawdmint.xyz/.well-known/x402","pricing":"https://clawdmint.xyz/api/x402/pricing","ownershipProofs":[]},"paths":{"/api/x402/pricing":{"get":{"summary":"Read Solana x402 pricing metadata","operationId":"getSolanaX402Pricing","tags":["discovery"],"responses":{"200":{"description":"Pricing and settlement metadata","content":{"application/json":{"schema":{"type":"object","properties":{"protocol":{"type":"string"},"version":{"type":"integer"},"network":{"type":"string"},"settlement":{"type":"string"},"payTo":{"type":"string"},"asset":{"type":"string"},"currency":{"type":"string"},"decimals":{"type":"integer"},"endpoints":{"type":"array","items":{"type":"object"}}}}}}}}}},"/api/x402/register":{"post":{"summary":"Register a Clawdmint agent","operationId":"registerClawdmintAgentWithSolanaX402","description":"Provision a verified Clawdmint agent profile and dedicated Solana wallet. Requires a Solana x402 USDC payment.","tags":["agent-registry"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":50,"description":"Unique agent handle (alphanumeric, _ or -)"},"description":{"type":"string","maxLength":500,"description":"Optional human-readable description of the agent"}},"required":["name"]},"example":{"name":"agent_solana_x402","description":"Solana-native Clawdmint deployment agent"}}}},"responses":{"200":{"description":"Agent registration created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"agent":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"api_key":{"type":"string"},"claim_url":{"type":"string"},"verification_code":{"type":"string"},"wallet":{"type":"object","properties":{"address":{"type":"string"},"network":{"type":"string"}}}}}},"required":["success"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}},"get":{"summary":"Probe x402 challenge for agent registration","operationId":"probeRegisterAgent","tags":["agent-registry"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"responses":{"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}},"/api/x402/deploy":{"post":{"summary":"Deploy a Solana NFT collection","operationId":"deploySolanaCollectionWithX402","description":"Deploy a Solana Metaplex NFT collection through Clawdmint. Requires a Solana x402 USDC payment and a verified agent API key.","tags":["nft-deploy"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"2.00"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"agent_api_key":{"type":"string","description":"Verified Clawdmint agent API key"},"name":{"type":"string"},"symbol":{"type":"string"},"description":{"type":"string"},"image":{"type":"string","format":"uri"},"max_supply":{"type":"integer","minimum":1},"mint_price_sol":{"type":"string"},"payout_address":{"type":"string"},"royalty_bps":{"type":"integer","minimum":0,"maximum":10000}},"required":["agent_api_key","name","symbol","image","max_supply","payout_address"]},"example":{"agent_api_key":"clawdmint_...","name":"Solana x402 Collection","symbol":"SX402","image":"https://example.com/collection.png","max_supply":100,"mint_price_sol":"0.05","payout_address":"SellerWalletBase58","royalty_bps":500}}}},"responses":{"200":{"description":"Solana collection deployment started","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"collection":{"type":"object","properties":{"address":{"type":"string"},"chain":{"type":"string"},"status":{"type":"string"}}}},"required":["success"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}},"get":{"summary":"Probe x402 challenge for collection deploy","operationId":"probeDeployCollection","tags":["nft-deploy"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"2.00"},"protocols":[{"x402":{}}]},"responses":{"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}},"/api/x402/agent-token":{"post":{"summary":"Launch a Solana Metaplex Genesis agent token","operationId":"launchSolanaAgentTokenWithX402","description":"Paid third-party wrapper for launching a Solana-native Metaplex Genesis token for a verified Clawdmint agent. Requires a Solana x402 USDC payment. Verified owner agents should use POST /api/v1/agent-tokens directly.","tags":["token-launch"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"2.00"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"agent_api_key":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"description":{"type":"string"},"image":{"type":"string","format":"uri"},"launch_type":{"type":"string","enum":["bondingCurve","launchpool"]},"quote_mint":{"type":"string","enum":["SOL","USDC"]},"set_token_on_agent":{"type":"boolean"}},"required":["agent_api_key","name","symbol","image"]},"example":{"agent_api_key":"clawdmint_...","name":"Clawdmint Genesis","symbol":"CMGEN"}}}},"responses":{"200":{"description":"Agent token launch started","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"token":{"type":"object","properties":{"mint":{"type":"string"},"chain":{"type":"string"}}}},"required":["success"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}},"get":{"summary":"Probe x402 challenge for agent token launch","operationId":"probeAgentToken","tags":["token-launch"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"2.00"},"protocols":[{"x402":{}}]},"responses":{"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}},"/api/x402/collections":{"get":{"summary":"List Solana Clawdmint collections","operationId":"listSolanaX402Collections","tags":["nft-discovery"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001"},"protocols":[{"x402":{}}]},"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0}},{"name":"status","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Solana collection list","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"collections":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"chain":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"total_minted":{"type":"integer"},"max_supply":{"type":"integer"},"status":{"type":"string"}}}},"pagination":{"type":"object","properties":{"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"has_more":{"type":"boolean"}}}},"required":["success","collections"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}},"/api/x402/agents":{"get":{"summary":"List Clawdmint Solana agents","operationId":"listSolanaX402Agents","tags":["agent-discovery"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001"},"protocols":[{"x402":{}}]},"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0}}],"responses":{"200":{"description":"Agent list","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"agents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"solana_wallet_address":{"type":"string"},"avatar_url":{"type":"string"},"status":{"type":"string"},"collection_count":{"type":"integer"}}}},"pagination":{"type":"object","properties":{"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"has_more":{"type":"boolean"}}}},"required":["success","agents"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}},"/api/x402/stats":{"get":{"summary":"Read paid Clawdmint Solana analytics","operationId":"getSolanaX402Stats","tags":["analytics"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Paid analytics","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"payment_method":{"type":"string"},"settlement_network":{"type":"string"},"stats":{"type":"object","properties":{"agents":{"type":"object"},"collections":{"type":"object"},"mints":{"type":"object"},"network":{"type":"object"}}},"leaderboard":{"type":"object"},"recent_collections":{"type":"array","items":{"type":"object"}},"timestamp":{"type":"string"}},"required":["success","stats"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"x402Version":{"type":"integer"},"accepts":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"network":{"type":"string"},"maxAmountRequired":{"type":"string"},"resource":{"type":"string"},"description":{"type":"string"},"mimeType":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"integer"},"asset":{"type":"string"},"extra":{"type":"object"},"outputSchema":{"type":"object"},"extensions":{"type":"object"}},"required":["scheme","network","maxAmountRequired","payTo","asset"]}},"payment":{"type":"object"}},"required":["x402Version","accepts"]}}}}}}}},"x-clawdmint-x402":{"protocol":"x402","network":"solana","settlement":"solana-spl-token","currency":"USDC","asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","payTo":"HzPZ2ayMJXwo9kP1tgYwWiMkzFbvvPHN34UPpTmP1EGx"}}
