{
  "openapi": "3.0.0",
  "info": {
    "title": "Blocksize Market Data",
    "version": "v1",
    "description": "Filtered Pay.sh-facing OpenAPI spec for Blocksize x402-paid market data endpoints."
  },
  "servers": [
    {
      "url": "https://mcp.blocksize.info"
    }
  ],
  "paths": {
    "/v1/vwap/BTC-USD": {
      "get": {
        "summary": "Get crypto VWAP",
        "description": "Return real-time crypto VWAP market data. Replace BTC-USD with another supported pair after using discovery.",
        "operationId": "getCryptoVwap",
        "responses": {
          "200": {
            "description": "Structured VWAP response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/bidask/BTC-USD": {
      "get": {
        "summary": "Get crypto bid/ask",
        "description": "Return a real-time bid/ask snapshot. Replace BTC-USD with another supported symbol after using discovery.",
        "operationId": "getCryptoBidAsk",
        "responses": {
          "200": {
            "description": "Structured bid/ask response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/state/MSOLUSD": {
      "get": {
        "summary": "Get AMM state price",
        "description": "Return a pool-derived AMM state price for a state-covered symbol such as MSOLUSD.",
        "operationId": "getStatePrice",
        "responses": {
          "200": {
            "description": "Structured state price response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004",
          "starterCredits": 1
        }
      }
    },
    "/v1/vwap30m/SOLUSD": {
      "get": {
        "summary": "Get latest 30-minute close",
        "description": "Return the latest completed 30-minute close backed by Blocksize closingprice_list.",
        "operationId": "getVwap30m",
        "responses": {
          "200": {
            "description": "Structured 30-minute close response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004",
          "starterCredits": 1
        }
      }
    },
    "/v1/vwap24h/BTCUSD": {
      "get": {
        "summary": "Get 24h fixed VWAP",
        "description": "Return true 24h fixed VWAP from the Blocksize fixedvwap_subscribe websocket cache.",
        "operationId": "getVwap24h",
        "responses": {
          "200": {
            "description": "Structured 24h fixed VWAP response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004",
          "starterCredits": 1
        }
      }
    },
    "/v1/fx/EURUSD": {
      "get": {
        "summary": "Get FX rate",
        "description": "Return real-time FX market data. Replace EURUSD with another supported FX pair after using discovery.",
        "operationId": "getFxRate",
        "responses": {
          "200": {
            "description": "Structured FX rate response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.005"
        }
      }
    },
        "/v1/metal/XAUUSD": {
            "get": {
                "summary": "Get metals price",
                "description": "Return real-time metals market data. Replace XAUUSD with another supported metals ticker after using discovery.",
                "operationId": "getMetalPrice",
        "responses": {
          "200": {
            "description": "Structured metals price response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
                    "price": "$0.005"
                }
            }
        },
        "/v1/briefs/market": {
            "post": {
                "summary": "Create Agent Market Brief",
                "description": "Return a decision-ready market brief with live data, quality flags, and provenance.",
                "operationId": "createAgentMarketBrief",
                "responses": {
                    "200": {
                        "description": "Agent Market Brief response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.25",
                    "starterCredits": 10
                }
            }
        },
        "/v1/checks/pre-trade": {
            "post": {
                "summary": "Run Pre-Trade Sanity Check",
                "description": "Return a read-only spread, freshness, and reference-price guardrail check before execution elsewhere.",
                "operationId": "runPreTradeSanityCheck",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["symbol"],
                                "properties": {
                                    "symbol": {"type": "string", "example": "BTC-USD"},
                                    "side": {"type": "string", "example": "buy"},
                                    "notional_usd": {"type": "number", "example": 1000}
                                }
                            },
                            "example": {"symbol": "BTC-USD", "side": "buy", "notional_usd": 1000}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pre-trade sanity check response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.10",
                    "starterCredits": 5
                }
            }
        },
        "/v1/receipts/price": {
            "post": {
                "summary": "Create Audit-Grade Price Receipt",
                "description": "Return a price lookup plus receipt id, request hash, response hash, and source provenance.",
                "operationId": "createPriceReceipt",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["symbol"],
                                "properties": {
                                    "symbol": {"type": "string", "example": "BTC-USD"},
                                    "service": {"type": "string", "example": "vwap"}
                                }
                            },
                            "example": {"symbol": "BTC-USD", "service": "vwap"}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Audit-grade price receipt response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.25",
                    "starterCredits": 10
                }
            }
        },
        "/v1/snapshots/macro": {
            "post": {
                "summary": "Create Multi-Asset Macro Snapshot",
                "description": "Return a bounded multi-asset snapshot across crypto, FX, and metals with a market-regime summary.",
                "operationId": "createMacroSnapshot",
                "responses": {
                    "200": {
                        "description": "Multi-asset macro snapshot response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$1.00",
                    "starterCredits": 25
                }
            }
        },
        "/v1/monitors/evaluate": {
            "post": {
                "summary": "Evaluate Spend-Controlled Market Monitor",
                "description": "Return immediate rule matches and spend-control metadata for a bounded market monitor evaluation.",
                "operationId": "evaluateMarketMonitor",
                "responses": {
                    "200": {
                        "description": "Spend-controlled market monitor response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.25",
                    "starterCredits": 10
                }
            }
        },
        "/v1/indicators/token-quality": {
            "post": {
                "summary": "Create Token Market Quality Indicator",
                "description": "Return a transparent trader-grade token quality score from live VWAP, bid/ask, optional state_pool price, and closing-price window data where available.",
                "operationId": "createTokenMarketQualityIndicator",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["symbol"],
                                "properties": {
                                    "symbol": {"type": "string", "example": "BTC-USD"}
                                }
                            },
                            "example": {"symbol": "BTC-USD"}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token market quality indicator response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.50",
                    "starterCredits": 15
                }
            }
        },
        "/v1/indicators/state-divergence": {
            "post": {
                "summary": "Create Oracle / State Price Divergence Indicator",
                "description": "Compare live market VWAP and bid/ask mid against Blocksize state_pool price for symbols with state_instruments pool coverage.",
                "operationId": "createStateDivergenceIndicator",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["symbol"],
                                "properties": {
                                    "symbol": {"type": "string", "example": "MSOLUSD"}
                                }
                            },
                            "example": {"symbol": "MSOLUSD"}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "State divergence indicator response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$0.50",
                    "starterCredits": 15
                }
            }
        },
        "/v1/signals/solana-token-brief": {
            "post": {
                "summary": "Create Solana Token Brief",
                "description": "Return a Solana-oriented token watchlist brief for supported symbols with explicit coverage misses for unsupported protocol, DEX, oracle, or pool feeds.",
                "operationId": "createSolanaTokenBrief",
                "responses": {
                    "200": {
                        "description": "Solana token brief response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$1.00",
                    "starterCredits": 25
                }
            }
        },
        "/v1/signals/trader-alpha-pack": {
            "post": {
                "summary": "Create Trader Alpha Signal Pack",
                "description": "Return a bounded trader decision-support bundle with token quality rankings, optional state divergence, spread quality, closing-price drift, and provenance.",
                "operationId": "createTraderAlphaPack",
                "responses": {
                    "200": {
                        "description": "Trader alpha signal pack response."
                    },
                    "402": {
                        "description": "Payment Required."
                    }
                },
                "x-payment-info": {
                    "protocols": [
                        "x402"
                    ],
                    "pricingMode": "fixed",
                    "price": "$2.50",
                    "starterCredits": 50
                }
            }
        }
    }
}
