{
  "openapi": "3.0.0",
  "info": {
    "title": "Blocksize Market Data",
    "version": "v1",
    "description": "Filtered Pay.sh-facing OpenAPI spec for sampled Blocksize x402-paid market data endpoints."
  },
  "servers": [
    {
      "url": "https://mcp.blocksize.info"
    }
  ],
  "paths": {
    "/v1/vwap/BTC-USD": {
      "get": {
        "summary": "Fetch crypto VWAP market data",
        "description": "Return real-time crypto VWAP market data for the listed BTC-USD sample route.",
        "operationId": "getCryptoVwap",
        "responses": {
          "200": {
            "description": "Structured VWAP response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/bidask/BTC-USD": {
      "get": {
        "summary": "Fetch crypto bid-ask snapshot",
        "description": "Return a real-time crypto bid-ask snapshot for the listed BTC-USD sample route.",
        "operationId": "getCryptoBidAsk",
        "responses": {
          "200": {
            "description": "Structured bid/ask response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/fx/EURUSD": {
      "get": {
        "summary": "Fetch FX exchange rate data",
        "description": "Return real-time FX market data for the listed EURUSD sample route.",
        "operationId": "getFxRate",
        "responses": {
          "200": {
            "description": "Structured FX rate response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.005"
        }
      }
    },
    "/v1/metal/XAUUSD": {
      "get": {
        "summary": "Fetch precious metals price data",
        "description": "Return real-time precious metals market data for the listed XAUUSD sample route.",
        "operationId": "getMetalPrice",
        "responses": {
          "200": {
            "description": "Structured metals price response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.005"
        }
      }
    }
  }
}
