{
  "openapi": "3.0.0",
  "info": {
    "title": "Blocksize Market Data",
    "version": "v1",
    "description": "Filtered Pay.sh-facing OpenAPI spec for Blocksize x402-paid market data endpoints."
  },
  "servers": [
    {
      "url": "https://mcp.blocksize.info"
    }
  ],
  "paths": {
    "/v1/vwap/BTC-USD": {
      "get": {
        "summary": "Get crypto VWAP",
        "description": "Return real-time crypto VWAP market data. Replace BTC-USD with another supported pair after using discovery.",
        "operationId": "getCryptoVwap",
        "responses": {
          "200": {
            "description": "Structured VWAP response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/bidask/BTC-USD": {
      "get": {
        "summary": "Get crypto bid/ask",
        "description": "Return a real-time bid/ask snapshot. Replace BTC-USD with another supported symbol after using discovery.",
        "operationId": "getCryptoBidAsk",
        "responses": {
          "200": {
            "description": "Structured bid/ask response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "dynamic",
          "price": "$0.002-$0.004"
        }
      }
    },
    "/v1/fx/EURUSD": {
      "get": {
        "summary": "Get FX rate",
        "description": "Return real-time FX market data. Replace EURUSD with another supported FX pair after using discovery.",
        "operationId": "getFxRate",
        "responses": {
          "200": {
            "description": "Structured FX rate response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.005"
        }
      }
    },
    "/v1/metal/XAUUSD": {
      "get": {
        "summary": "Get metals price",
        "description": "Return real-time metals market data. Replace XAUUSD with another supported metals ticker after using discovery.",
        "operationId": "getMetalPrice",
        "responses": {
          "200": {
            "description": "Structured metals price response."
          },
          "402": {
            "description": "Payment Required."
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.005"
        }
      }
    }
  }
}
