{
  "openapi": "3.1.0",
  "info": {
    "title": "Blocksize Market Data",
    "version": "0.6.21",
    "description": "Filtered production Blocksize API with strict canonical Pay.sh request contracts: free discovery/readiness and x402-paid multi-asset observations and workflows. Explicit symbols are required for client-side spending intent; legacy aliases and implicit watchlists are not exposed. Catalog presence does not guarantee live readiness."
  },
  "servers": [
    {
      "url": "https://mcp.blocksize.info"
    }
  ],
  "paths": {
    "/v1/vwap/{pair}": {
      "get": {
        "summary": "Fetch a volume-weighted price for one crypto pair",
        "description": "Get real-time VWAP for a crypto pair. Cost: $0.002–$0.004 USDC.",
        "operationId": "get_vwap_v1_vwap__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "BTCUSD"
            },
            "example": "BTCUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Vwap V1 Vwap  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/bidask/{pair}": {
      "get": {
        "summary": "Fetch bid and ask prices for one supported symbol",
        "description": "Get bid/ask snapshot for a shared symbol. Cost: $0.002–$0.008 USDC.",
        "operationId": "get_bidask_v1_bidask__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "BTCUSD"
            },
            "example": "BTCUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Bidask V1 Bidask  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.008"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/state/{pair}": {
      "get": {
        "summary": "Fetch a pool-derived AMM state price for one symbol",
        "description": "Get pool-derived state price for a covered crypto/protocol pair.",
        "operationId": "get_state_price_endpoint_v1_state__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "MSOLUSD"
            },
            "example": "MSOLUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get State Price Endpoint V1 State  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/vwap30m/{pair}": {
      "get": {
        "summary": "Fetch the latest completed 30-minute closing price",
        "description": "Get latest completed 30-minute close via Blocksize closingprice_list.",
        "operationId": "get_vwap_30m_endpoint_v1_vwap30m__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "SOLUSD"
            },
            "example": "SOLUSD"
          },
          {
            "name": "include_trades",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include closingprice_trades evidence",
              "default": false,
              "title": "Include Trades"
            },
            "description": "Include closingprice_trades evidence"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Vwap 30M Endpoint V1 Vwap30M  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/vwap24h/{pair}": {
      "get": {
        "summary": "Fetch the cached fixed 24-hour volume-weighted price",
        "description": "Get true 24-hour fixed VWAP from the websocket-backed cache.",
        "operationId": "get_vwap_24h_endpoint_v1_vwap24h__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "BTCUSD"
            },
            "example": "BTCUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Vwap 24H Endpoint V1 Vwap24H  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.004"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/fx/{pair}": {
      "get": {
        "summary": "Fetch a foreign-exchange rate for one currency pair",
        "description": "Get FX rate. Cost: $0.005 USDC.",
        "operationId": "get_fx_v1_fx__pair__get",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pair",
              "example": "EURUSD"
            },
            "example": "EURUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Fx V1 Fx  Pair  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/metal/{ticker}": {
      "get": {
        "summary": "Fetch a precious-metal spot price for one ticker",
        "description": "Get metal spot price. Cost: $0.005 USDC.",
        "operationId": "get_metal_v1_metal__ticker__get",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticker",
              "example": "XAUUSD"
            },
            "example": "XAUUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Metal V1 Metal  Ticker  Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/batch": {
      "get": {
        "summary": "Fetch a bounded batch of requested market observations",
        "description": "Execute a batch of data queries.\nPass a comma separated list of svc:pair in the `reqs` query parameter.\nExample: /v1/batch?reqs=vwap:BTCUSD,bidask:ETHUSD,fx:EURUSD",
        "operationId": "batch_request_v1_batch_get",
        "parameters": [
          {
            "name": "reqs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Reqs",
              "example": "vwap:BTCUSD,bidask:ETHUSD"
            },
            "example": "vwap:BTCUSD,bidask:ETHUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Batch Request V1 Batch Get"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.002",
            "max": "0.400"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/v1/briefs/market": {
      "post": {
        "summary": "Create a market brief for a bounded symbol list",
        "description": "Create a decision-ready market brief. Cost: 10 credits or $0.25 USDC.",
        "operationId": "agent_market_brief_v1_briefs_market_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 8,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  },
                  "service": {
                    "type": "string",
                    "enum": [
                      "vwap",
                      "bidask",
                      "state",
                      "vwap30m",
                      "vwap24h",
                      "fx",
                      "metal"
                    ],
                    "description": "Optional explicit raw-data service; confirm symbol coverage first."
                  }
                },
                "required": [
                  "symbols"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. At most eight symbols."
              },
              "example": {
                "symbols": [
                  "BTCUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Agent Market Brief V1 Briefs Market Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.25"
        }
      }
    },
    "/v1/checks/pre-trade": {
      "post": {
        "summary": "Check market spread and freshness before a trade",
        "description": "Run a read-only pre-trade sanity check. Cost: 5 credits or $0.10 USDC.",
        "operationId": "pre_trade_sanity_check_v1_checks_pre_trade_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbol": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32,
                    "pattern": "^[A-Z0-9]{2,32}$",
                    "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                    "examples": [
                      "BTCUSD"
                    ]
                  },
                  "service": {
                    "type": "string",
                    "enum": [
                      "vwap",
                      "bidask",
                      "state",
                      "vwap30m",
                      "vwap24h",
                      "fx",
                      "metal"
                    ],
                    "description": "Optional explicit raw-data service; confirm symbol coverage first."
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell"
                    ],
                    "description": "Intended side for reporting only; no trade is executed."
                  },
                  "notional_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Informational notional, not a trade instruction or payment amount."
                  },
                  "reference_price": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "max_spread_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 50
                  },
                  "max_age_ms": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 60000
                  }
                },
                "required": [
                  "symbol"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Read-only quote sanity check. Optional numeric thresholds must be positive."
              },
              "example": {
                "symbol": "BTCUSD",
                "side": "buy",
                "notional_usd": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Pre Trade Sanity Check V1 Checks Pre Trade Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.10"
        }
      }
    },
    "/v1/receipts/price": {
      "post": {
        "summary": "Create an unsigned provenance receipt for a price",
        "description": "Create an audit-grade receipt for one price lookup. Cost: 10 credits or $0.25 USDC.",
        "operationId": "audit_grade_price_receipt_v1_receipts_price_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbol": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32,
                    "pattern": "^[A-Z0-9]{2,32}$",
                    "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                    "examples": [
                      "BTCUSD"
                    ]
                  },
                  "service": {
                    "type": "string",
                    "enum": [
                      "vwap",
                      "bidask",
                      "state",
                      "vwap30m",
                      "vwap24h",
                      "fx",
                      "metal"
                    ],
                    "description": "Optional explicit raw-data service; confirm symbol coverage first."
                  },
                  "client_reference_id": {
                    "type": "string"
                  },
                  "purpose": {
                    "type": "string"
                  }
                },
                "required": [
                  "symbol"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Fetch one price and return a provenance record, not a signed attestation."
              },
              "example": {
                "symbol": "BTCUSD",
                "service": "vwap"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Audit Grade Price Receipt V1 Receipts Price Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.25"
        }
      }
    },
    "/v1/snapshots/macro": {
      "post": {
        "summary": "Create a bounded multi-asset market snapshot",
        "description": "Create a bounded multi-asset macro snapshot. Cost: 25 credits or $1.00 USDC.",
        "operationId": "multi_asset_macro_snapshot_v1_snapshots_macro_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "universe": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 12,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  }
                },
                "required": [
                  "universe"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. At most twelve explicitly selected symbols."
              },
              "example": {
                "universe": [
                  "BTCUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Multi Asset Macro Snapshot V1 Snapshots Macro Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$1.00"
        }
      }
    },
    "/v1/monitors/evaluate": {
      "post": {
        "summary": "Evaluate market monitor rules once without scheduling",
        "description": "Evaluate a bounded market monitor immediately. Cost: 10 credits or $0.25 USDC.",
        "operationId": "spend_controlled_market_monitor_v1_monitors_evaluate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 8,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  },
                  "service": {
                    "type": "string",
                    "enum": [
                      "vwap",
                      "bidask",
                      "state",
                      "vwap30m",
                      "vwap24h",
                      "fx",
                      "metal"
                    ],
                    "description": "Optional explicit raw-data service; confirm symbol coverage first."
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "metric",
                        "operator",
                        "value"
                      ],
                      "properties": {
                        "metric": {
                          "type": "string",
                          "enum": [
                            "value",
                            "freshness_ms",
                            "spread_bps"
                          ]
                        },
                        "operator": {
                          "type": "string",
                          "enum": [
                            ">",
                            ">=",
                            "<",
                            "<="
                          ]
                        },
                      "value": {
                        "type": "number",
                        "description": "Numeric comparison value in the selected metric's units: price units for value, milliseconds for freshness_ms, or basis points for spread_bps. Zero and negative values are supported; for example, spread_bps < 0 detects crossed quotes. This is not a positive spread/age limit field.",
                        "examples": [50]
                        }
                      }
                    }
                  },
                  "max_credits": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Reporting only, NOT a server-enforced spending cap or payment authorization. Authorize actual cost separately."
                  }
                },
                "required": [
                  "symbols"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Evaluate once; no scheduler is created. At most eight symbols."
              },
              "example": {
                "symbols": [
                  "BTCUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Spend Controlled Market Monitor V1 Monitors Evaluate Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.25"
        }
      }
    },
    "/v1/indicators/token-quality": {
      "post": {
        "summary": "Evaluate token market quality using supported feeds",
        "description": "Score one token using live price, bid/ask, state, and VWAP-window feeds.",
        "operationId": "token_market_quality_indicator_v1_indicators_token_quality_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbol": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32,
                    "pattern": "^[A-Z0-9]{2,32}$",
                    "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                    "examples": [
                      "BTCUSD"
                    ]
                  },
                  "max_spread_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 50
                  },
                  "max_state_divergence_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 75
                  },
                  "include_state_price": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_windows": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_state_coverage": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "symbol"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Optional feed flags default off; check feed readiness before enabling."
              },
              "example": {
                "symbol": "BTCUSD"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Token Market Quality Indicator V1 Indicators Token Quality Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.50"
        }
      }
    },
    "/v1/indicators/state-divergence": {
      "post": {
        "summary": "Compare market prices with a covered AMM state price",
        "description": "Compare Blocksize market prices with state/reference prices.",
        "operationId": "state_divergence_indicator_v1_indicators_state_divergence_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbol": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32,
                    "pattern": "^[A-Z0-9]{2,32}$",
                    "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                    "examples": [
                      "BTCUSD"
                    ]
                  },
                  "max_divergence_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 75
                  },
                  "include_state_coverage": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "symbol"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Requires state/reference-price coverage, not merely a generic token listing."
              },
              "example": {
                "symbol": "MSOLUSD"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response State Divergence Indicator V1 Indicators State Divergence Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.50"
        }
      }
    },
    "/v1/signals/solana-token-brief": {
      "post": {
        "summary": "Create a market brief for supported Solana symbols",
        "description": "Build a Solana-oriented token signal brief for supported price symbols.",
        "operationId": "solana_token_brief_v1_signals_solana_token_brief_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  },
                  "max_spread_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 50
                  },
                  "max_state_divergence_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 75
                  },
                  "include_state_price": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_windows": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_state_coverage": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "symbols"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. At most ten explicitly selected symbols."
              },
              "example": {
                "symbols": [
                  "SOLUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Solana Token Brief V1 Signals Solana Token Brief Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$1.00"
        }
      }
    },
    "/v1/signals/trader-alpha-pack": {
      "post": {
        "summary": "Create a bounded market indicator and signal bundle",
        "description": "Bundle token quality indicators and macro context into a trader signal pack.",
        "operationId": "trader_alpha_pack_v1_signals_trader_alpha_pack_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 12,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  },
                  "max_spread_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 50
                  },
                  "max_state_divergence_bps": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 75
                  },
                  "include_state_price": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_windows": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_state_coverage": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "symbols"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. At most twelve explicitly selected symbols."
              },
              "example": {
                "symbols": [
                  "BTCUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Trader Alpha Pack V1 Signals Trader Alpha Pack Post"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Returns a PAYMENT-REQUIRED header with an x402 PaymentRequired challenge.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 encoded x402 PaymentRequired object.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$2.50"
        }
      }
    },
    "/v1/search": {
      "get": {
        "summary": "Search supported market-data instruments for free",
        "description": "Search instruments. FREE.",
        "operationId": "search_pairs_v1_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "description": "Search query",
              "title": "Q",
              "example": "BTC"
            },
            "description": "Search query",
            "example": "BTC"
          },
          {
            "name": "asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(all|crypto|equity|equities|fx|metal)$",
              "description": "Asset class filter",
              "default": "all",
              "title": "Asset Class"
            },
            "description": "Asset class filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Maximum matching instruments to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum matching instruments to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Zero-based offset into the deterministic search results",
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based offset into the deterministic search results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Search Pairs V1 Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instruments/{service}": {
      "get": {
        "summary": "List supported instruments for one data service",
        "description": "List instruments for a service. FREE.",
        "operationId": "list_instruments_v1_instruments__service__get",
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Service",
              "example": "vwap"
            },
            "example": "vwap"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Maximum instruments to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum instruments to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Zero-based offset into the sorted instrument catalog",
              "default": 0,
              "title": "Offset"
            },
            "description": "Zero-based offset into the sorted instrument catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Instruments V1 Instruments  Service  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "summary": "List market-data products and access options",
        "description": "Serve raw data and premium workflow product catalog. FREE.",
        "operationId": "get_products_v1_products_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Get Products V1 Products Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/check": {
      "post": {
        "summary": "Check supported feed coverage before buying data",
        "description": "Check whether the current key has enough feed coverage for a product.\n\nThis is a free readiness check. It uses instrument catalogs and known method\navailability, not paid price snapshots.",
        "operationId": "check_data_capabilities_v1_capabilities_check_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "product": {
                    "type": "string",
                    "enum": [
                      "token_market_quality_indicator",
                      "state_divergence_indicator",
                      "solana_token_brief",
                      "trader_alpha_pack"
                    ],
                    "default": "token_market_quality_indicator"
                  },
                  "symbols": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 32,
                      "pattern": "^[A-Z0-9]{2,32}$",
                      "description": "Canonical uppercase symbol returned by discovery; do not guess coverage.",
                      "examples": [
                        "BTCUSD"
                      ]
                    }
                  },
                  "include_state_price": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_windows": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_state_coverage": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "symbols"
                ],
                "description": "Canonical Pay.sh client contract. Explicit symbols prevent unintended default paid lookups; legacy server aliases are not exposed. Free capability check for at most 25 symbols; does not buy prices."
              },
              "example": {
                "product": "token_market_quality_indicator",
                "symbols": [
                  "BTCUSD"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Check Data Capabilities V1 Capabilities Check Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "summary": "Inspect market-data coverage without buying prices",
        "description": "Return one conservative coverage map for humans and agents. FREE.",
        "operationId": "unified_coverage_v1_coverage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Unified Coverage V1 Coverage Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cache/status": {
      "get": {
        "summary": "Inspect cached observation freshness and availability",
        "description": "Report stream-cache readiness for websocket-backed feeds. FREE.",
        "operationId": "get_cache_status_v1_cache_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Get Cache Status V1 Cache Status Get"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}
