{
  "openapi": "3.1.0",
  "info": {
    "title": "BotVisibility — AI Agent Readiness Scan",
    "description": "Pay-per-scan AI-agent readiness audit. POST a URL and get back a scored report across 58 checks and 5 levels, with prioritized remediation. Paid per call via x402 (USDC on Solana mainnet).",
    "version": "v1"
  },
  "servers": [
    { "url": "https://pay.botvisibility.com" }
  ],
  "paths": {
    "/api/v1/scan-gateway": {
      "post": {
        "tags": ["Scan"],
        "summary": "Generate an AI agent readiness report for a URL",
        "description": "Run the full BotVisibility audit on a URL: 58 checks across 5 levels (Discoverable, Usable, Optimized, Indexable, Agent-Native). Returns a scored, prioritized readiness report as Markdown. With no payment attached, the endpoint answers HTTP 402 with x402 payment requirements (USDC on Solana mainnet); your wallet settles and retries, then the gateway returns the report.",
        "operationId": "scanUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ScanRequest" },
              "example": { "url": "https://example.com" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scored agent-readiness report (Markdown).",
            "content": {
              "text/markdown": { "schema": { "type": "string" } }
            }
          },
          "400": {
            "description": "Invalid or missing url.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          },
          "402": {
            "description": "Payment Required — x402 challenge (USDC or USDT on Solana mainnet).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PaymentRequired" } }
            }
          },
          "502": {
            "description": "Scan failed or did not complete in time; payment is not settled.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          }
        },
        "x-payment-info": {
          "protocols": ["x402", "mpp"],
          "pricingMode": "fixed",
          "price": "$0.10"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScanRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The site to scan, e.g. https://stripe.com",
            "example": "https://example.com"
          }
        }
      },
      "PaymentRequired": {
        "type": "object",
        "description": "x402 payment challenge returned before payment.",
        "properties": {
          "error": { "type": "string", "example": "payment_required" },
          "accepts": {
            "type": "array",
            "description": "x402 payment options. Solana mainnet, USDC or USDT.",
            "items": {
              "type": "object",
              "properties": {
                "scheme": { "type": "string", "example": "exact" },
                "network": { "type": "string", "example": "solana-mainnet" },
                "maxAmountRequired": { "type": "string", "example": "100000" },
                "payTo": { "type": "string" },
                "asset": { "type": "string", "description": "Token mint address (USDC or USDT)" },
                "maxTimeoutSeconds": { "type": "integer", "example": 300 }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response body.",
        "properties": {
          "error": { "type": "string", "example": "invalid_url" }
        }
      }
    }
  }
}
