{
  "openapi": "3.0.0",
  "info": {
    "title": "CoinStats Crypto Data API",
    "description": "Pay-per-request access to real-time cryptocurrency market data, wallet balances, DeFi positions, news, insights, and portfolio analytics via x402 micropayments.",
    "version": "1.0.0",
    "contact": {
      "name": "CoinStats",
      "url": "https://coinstats.app"
    }
  },
  "servers": [
    {
      "url": "https://x402.coinstats.app"
    }
  ],
  "paths": {
    "/coins": {
      "get": {
        "operationId": "get-coins",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number to retrieve (1-based indexing)",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items to return per page",
            "schema": {
              "example": 20,
              "type": "number"
            }
          },
          {
            "name": "coinIds",
            "required": false,
            "in": "query",
            "description": "Filter coins by specific coin IDs. Use comma-separated values to specify multiple coins. Each coin ID should be the unique identifier for the cryptocurrency.",
            "schema": {
              "example": "bitcoin,ethereum,solana",
              "type": "string"
            }
          },
          {
            "name": "currency",
            "required": false,
            "in": "query",
            "description": "The currency to display coin prices and market data in.",
            "schema": {
              "example": "USD",
              "type": "string"
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "Search for coins by their name. Supports partial matching - you can search for \"bit\" to find \"Bitcoin\" and other coins containing that substring.",
            "schema": {
              "example": "bitcoin",
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "required": false,
            "in": "query",
            "description": "Filter coins by their ticker symbol. Use the standard trading symbol for the cryptocurrency (e.g., BTC for Bitcoin, ETH for Ethereum).",
            "schema": {
              "example": "BTC",
              "type": "string"
            }
          },
          {
            "name": "contractAddresses",
            "required": false,
            "in": "query",
            "description": "Filter coins by smart contract addresses. Use comma-separated values to specify multiple addresses. Matching is case-insensitive.",
            "schema": {
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xdac17f958d2ee523a2206206994597c13d831ec7",
              "type": "string"
            }
          },
          {
            "name": "blockchains",
            "required": false,
            "in": "query",
            "description": "Filter coins by blockchain networks. Use comma-separated values to specify multiple blockchains. Common values include ethereum, solana, binance-smart-chain, polygon, avalanche.",
            "schema": {
              "example": "ethereum,solana,binance-smart-chain",
              "type": "string"
            }
          },
          {
            "name": "includeRiskScore",
            "required": false,
            "in": "query",
            "description": "Include risk score data in the response. Set to \"true\" to include risk assessment metrics, or \"false\" to exclude them.",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "name": "categories",
            "required": false,
            "in": "query",
            "description": "Filter coins by categories. Use comma-separated values to specify multiple categories. Common categories include defi, memecoins, gaming, nft, metaverse, layer-1, layer-2.",
            "schema": {
              "example": "defi,memecoins,gaming",
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Field to sort results by.",
            "schema": {
              "example": "marketCap",
              "type": "string",
              "enum": [
                "rank",
                "marketCap",
                "price",
                "volume",
                "priceChange1h",
                "priceChange1d",
                "priceChange7d",
                "priceChange1m",
                "name",
                "symbol"
              ]
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "Sort direction for the results. Use \"asc\" for ascending order or \"desc\" for descending order.",
            "schema": {
              "example": "desc",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "marketCap~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with market capitalization greater than the specified value (in USD). Example: 1000000000 for coins with market cap above $1 billion.",
            "schema": {
              "example": "1000000000",
              "type": "number"
            }
          },
          {
            "name": "marketCap~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with market capitalization equal to the specified value (in USD). Exact matches are rare due to constant price fluctuations.",
            "schema": {
              "example": "500000000",
              "type": "number"
            }
          },
          {
            "name": "marketCap~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with market capitalization less than the specified value (in USD). Example: 100000000 for coins with market cap below $100 million.",
            "schema": {
              "example": "100000000",
              "type": "number"
            }
          },
          {
            "name": "fullyDilutedValuation~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with fully diluted valuation greater than the specified value (in USD). FDV represents the theoretical market cap if all tokens were in circulation.",
            "schema": {
              "example": "2000000000",
              "type": "number"
            }
          },
          {
            "name": "fullyDilutedValuation~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with fully diluted valuation equal to the specified value (in USD). FDV = total supply \u00d7 current price.",
            "schema": {
              "example": "1500000000",
              "type": "number"
            }
          },
          {
            "name": "fullyDilutedValuation~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with fully diluted valuation less than the specified value (in USD). Useful for finding smaller cap projects with growth potential.",
            "schema": {
              "example": "500000000",
              "type": "number"
            }
          },
          {
            "name": "volume~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour trading volume greater than the specified value (in USD). Higher volume indicates more liquidity and trading activity.",
            "schema": {
              "example": "10000000",
              "type": "number"
            }
          },
          {
            "name": "volume~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour trading volume equal to the specified value (in USD). Exact matches are uncommon due to constant trading activity.",
            "schema": {
              "example": "5000000",
              "type": "number"
            }
          },
          {
            "name": "volume~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour trading volume less than the specified value (in USD). Useful for finding less traded or emerging coins.",
            "schema": {
              "example": "1000000",
              "type": "number"
            }
          },
          {
            "name": "priceChange1h~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-hour price change greater than the specified percentage. Example: 5 for coins with more than 5% gain in the last hour.",
            "schema": {
              "example": "5",
              "type": "number"
            }
          },
          {
            "name": "priceChange1h~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-hour price change equal to the specified percentage. Useful for finding stable coins in short timeframes.",
            "schema": {
              "example": "0",
              "type": "number"
            }
          },
          {
            "name": "priceChange1h~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-hour price change less than the specified percentage. Example: -2 for coins declining more than 2% in the last hour.",
            "schema": {
              "example": "-2",
              "type": "number"
            }
          },
          {
            "name": "priceChange1d~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour price change greater than the specified percentage. Example: 10 for coins with more than 10% daily gain.",
            "schema": {
              "example": "10",
              "type": "number"
            }
          },
          {
            "name": "priceChange1d~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour price change equal to the specified percentage. Useful for finding stable coins over a day.",
            "schema": {
              "example": "0",
              "type": "number"
            }
          },
          {
            "name": "priceChange1d~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 24-hour price change less than the specified percentage. Example: -5 for coins declining more than 5% today.",
            "schema": {
              "example": "-5",
              "type": "number"
            }
          },
          {
            "name": "priceChange7d~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 7-day price change greater than the specified percentage. Example: 20 for coins with more than 20% weekly gain.",
            "schema": {
              "example": "20",
              "type": "number"
            }
          },
          {
            "name": "priceChange7d~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with 7-day price change equal to the specified percentage. Useful for finding coins with stable weekly performance.",
            "schema": {
              "example": "0",
              "type": "number"
            }
          },
          {
            "name": "priceChange7d~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 7-day price change less than the specified percentage. Example: -10 for coins declining more than 10% this week.",
            "schema": {
              "example": "-10",
              "type": "number"
            }
          },
          {
            "name": "priceChange1m~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-month price change greater than the specified percentage. Example: 30 for coins with more than 30% monthly gain.",
            "schema": {
              "example": "30",
              "type": "number"
            }
          },
          {
            "name": "priceChange1m~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-month price change equal to the specified percentage. Useful for finding coins with stable monthly performance.",
            "schema": {
              "example": "0",
              "type": "number"
            }
          },
          {
            "name": "priceChange1m~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with 1-month price change less than the specified percentage. Example: -20 for coins declining more than 20% this month.",
            "schema": {
              "example": "-20",
              "type": "number"
            }
          },
          {
            "name": "availableSupply~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with circulating supply greater than the specified amount. This represents tokens currently available for trading in the market.",
            "schema": {
              "example": "1000000",
              "type": "number"
            }
          },
          {
            "name": "availableSupply~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with circulating supply equal to the specified amount. Example: 21000000 for Bitcoin's maximum supply.",
            "schema": {
              "example": "21000000",
              "type": "number"
            }
          },
          {
            "name": "availableSupply~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with circulating supply less than the specified amount. Useful for finding scarce or limited supply tokens.",
            "schema": {
              "example": "100000",
              "type": "number"
            }
          },
          {
            "name": "totalSupply~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with total supply greater than the specified amount. Total supply includes all minted tokens, including locked and vested ones.",
            "schema": {
              "example": "10000000",
              "type": "number"
            }
          },
          {
            "name": "totalSupply~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with total supply equal to the specified amount. Useful for finding tokens with specific supply characteristics.",
            "schema": {
              "example": "1000000000",
              "type": "number"
            }
          },
          {
            "name": "totalSupply~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with total supply less than the specified amount. Great for finding ultra-scarce tokens with limited total supply.",
            "schema": {
              "example": "500000",
              "type": "number"
            }
          },
          {
            "name": "rank~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with market cap rank greater than the specified number. Example: 100 to exclude top 100 coins and find smaller cap projects.",
            "schema": {
              "example": "100",
              "type": "number"
            }
          },
          {
            "name": "rank~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with market cap rank equal to the specified number. Example: 10 to find the 10th largest cryptocurrency by market cap.",
            "schema": {
              "example": "10",
              "type": "number"
            }
          },
          {
            "name": "rank~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with market cap rank less than the specified number. Example: 50 to show only top 50 cryptocurrencies.",
            "schema": {
              "example": "50",
              "type": "number"
            }
          },
          {
            "name": "price~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with current price greater than the specified value (in the selected currency). Example: 100 for coins priced above $100.",
            "schema": {
              "example": "100",
              "type": "number"
            }
          },
          {
            "name": "price~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with current price equal to the specified value. Useful for finding stablecoins or coins at specific price points.",
            "schema": {
              "example": "1",
              "type": "number"
            }
          },
          {
            "name": "price~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with current price less than the specified value. Example: 0.01 for coins under 1 cent, often called \"penny coins\".",
            "schema": {
              "example": "0.01",
              "type": "number"
            }
          },
          {
            "name": "riskScore~greaterThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with risk score greater than the specified value (0-100 scale). Higher scores indicate higher risk. Only available when **includeRiskScore=true**.",
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "example": "70",
              "type": "number"
            }
          },
          {
            "name": "riskScore~equals",
            "required": false,
            "in": "query",
            "description": "Filter coins with risk score equal to the specified value (0-100 scale). Useful for finding coins with specific risk profiles. Only available when **includeRiskScore=true**.",
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "example": "50",
              "type": "number"
            }
          },
          {
            "name": "riskScore~lessThan",
            "required": false,
            "in": "query",
            "description": "Filter coins with risk score less than the specified value (0-100 scale). Lower scores indicate lower risk investments. Only available when **includeRiskScore=true**.",
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "example": "30",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get coins list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinListResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get comprehensive data about all cryptocurrencies",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**2** credits per request</Note><hr/>\n    <AccordionGroup>\n<Accordion title=\"You will get\">\n- Price, market cap, and volume\n- Price changes (1h, 24h, 7d, 1m)\n- Supply information\n- Trading metrics\n- Social links and metadata\n</Accordion>\n<Accordion title=\"Optional\">\n- currency: Price display currency\n- limit & skip: Pagination controls\n- includeRiskScore: Add risk analysis data\n- categories: Filter by coin categories\n- blockchains: Filter by blockchain networks\n</Accordion>\n<Accordion title=\"Sorting Options\">\n- sortBy: rank, price, volume, etc.\n- sortDir: asc or desc\n</Accordion>\n</AccordionGroup>",
          "metadata": {
            "title": "Get Coins",
            "description": "Get comprehensive data about all cryptocurrencies",
            "og:title": "Get Coins"
          },
          "href": "/openapi/get-coins"
        }
      }
    },
    "/coins/{coinId}": {
      "get": {
        "operationId": "get-coin-by-id",
        "parameters": [
          {
            "name": "currency",
            "required": false,
            "in": "query",
            "description": "The currency to display coin prices and market data in.",
            "schema": {
              "default": "USD",
              "example": "USD",
              "type": "string"
            }
          },
          {
            "name": "coinId",
            "required": true,
            "in": "path",
            "description": "The identifier of coin, which you received from [/coins](/openapi/get-coins) call response.",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Coin with global avg prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinListResponseItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get detailed information about a specific cryptocurrency using coinId. ",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**1** credit per request</Note>",
          "metadata": {
            "title": "Get Coin By Id",
            "description": "Get detailed information about a specific cryptocurrency using coinId. ",
            "og:title": "Get Coin By Id"
          },
          "href": "/openapi/get-coin-by-id"
        }
      }
    },
    "/coins/{coinId}/charts": {
      "get": {
        "operationId": "get-coin-chart-by-id",
        "parameters": [
          {
            "name": "period",
            "required": true,
            "in": "query",
            "description": "Time period for the chart data",
            "schema": {
              "example": "24h",
              "type": "string",
              "enum": [
                "all",
                "24h",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y"
              ],
              "default": "24h"
            }
          },
          {
            "name": "coinId",
            "required": true,
            "in": "path",
            "description": "The identifier of coin, which you received from [/coins](/openapi/get-coins) call response.",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Historical global avg price chart.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Array of historical price data points. Each data point is an array containing:\n1. TIMESTAMP - Unix timestamp in seconds\n2. USD - Price in USD\n3. BTC - Price in Bitcoin\n4. ETH - Price in Ethereum",
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "example": [
                  [
                    1438905600,
                    2.83162,
                    0.0101411,
                    1
                  ],
                  [
                    1438992000,
                    2.7976,
                    0.0100039,
                    1
                  ],
                  [
                    1439078400,
                    0.725225,
                    0.00278432,
                    1
                  ],
                  [
                    1439164800,
                    0.671728,
                    0.00252591,
                    1
                  ],
                  [
                    1439251200,
                    0.71888,
                    0.00271961,
                    1
                  ]
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get historical chart data for a specific cryptocurrency using coinId.",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**3** credits per request</Note>",
          "metadata": {
            "title": "Get Coin Chart By Id",
            "description": "Get historical chart data for a specific cryptocurrency using coinId.",
            "og:title": "Get Coin Chart By Id"
          },
          "href": "/openapi/get-coin-chart-by-id"
        }
      }
    },
    "/coins/price/avg": {
      "get": {
        "operationId": "get-coin-avg-price",
        "parameters": [
          {
            "name": "coinId",
            "required": true,
            "in": "query",
            "schema": {
              "example": "bitcoin",
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "required": true,
            "in": "query",
            "schema": {
              "example": 1636315200,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Historical global avg price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinPriceResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get the historical average price of a specific cryptocurrency for a given date. ",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**4** credits per request</Note>",
          "metadata": {
            "title": "Get Coin Avg Price",
            "description": "Get the historical average price of a specific cryptocurrency for a given date. ",
            "og:title": "Get Coin Avg Price"
          },
          "href": "/openapi/get-coin-avg-price"
        }
      }
    },
    "/coins/price/exchange": {
      "get": {
        "operationId": "get-coin-exchange-price",
        "parameters": [
          {
            "name": "exchange",
            "required": true,
            "in": "query",
            "description": "The name of the exchange to get price data from",
            "schema": {
              "example": "Binance",
              "type": "string"
            }
          },
          {
            "name": "from",
            "required": true,
            "in": "query",
            "description": "The base currency symbol to convert from",
            "schema": {
              "example": "BTC",
              "type": "string"
            }
          },
          {
            "name": "to",
            "required": true,
            "in": "query",
            "description": "The target currency symbol to convert to",
            "schema": {
              "example": "ETH",
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "required": true,
            "in": "query",
            "description": "Unix timestamp in seconds for the historical price lookup",
            "schema": {
              "example": 1636315200,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Historical coin exchange price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinExchangePriceResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get historical price data for a specific cryptocurrency on a selected exchange.",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**5** credits per request</Note>",
          "metadata": {
            "title": "Get Coin Exchange Price",
            "description": "Get historical price data for a specific cryptocurrency on a selected exchange.",
            "og:title": "Get Coin Exchange Price"
          },
          "href": "/openapi/get-coin-exchange-price"
        }
      }
    },
    "/tickers/exchanges": {
      "get": {
        "operationId": "get-ticker-exchanges",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a list of supported cryptocurrency exchanges available on CoinStats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeCollectionEntity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Provides a comprehensive list of cryptocurrency exchanges supported by CoinStats.",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**2** credits per request</Note>",
          "metadata": {
            "title": "Get Ticker Exchanges",
            "description": "Provides a comprehensive list of cryptocurrency exchanges supported by CoinStats.",
            "og:title": "Get Ticker Exchanges"
          },
          "href": "/openapi/get-ticker-exchanges"
        }
      }
    },
    "/tickers/markets": {
      "get": {
        "operationId": "get-ticker-markets",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number to retrieve (1-based indexing)",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items to return per page",
            "schema": {
              "example": 20,
              "type": "number"
            }
          },
          {
            "name": "exchange",
            "required": false,
            "in": "query",
            "description": "Filter tickers by exchange name (case-insensitive exact match)",
            "schema": {
              "example": "Binance",
              "type": "string"
            }
          },
          {
            "name": "fromCoin",
            "required": false,
            "in": "query",
            "description": "Filter by base currency symbol of the trading pair",
            "schema": {
              "example": "BTC",
              "type": "string"
            }
          },
          {
            "name": "toCoin",
            "required": false,
            "in": "query",
            "description": "Filter by quote currency symbol of the trading pair",
            "schema": {
              "example": "USDT",
              "type": "string"
            }
          },
          {
            "name": "coinId",
            "required": false,
            "in": "query",
            "description": "Filter by unique coin identifier (e.g., \"bitcoin\" for BTC)",
            "schema": {
              "example": "bitcoin",
              "type": "string"
            }
          },
          {
            "name": "onlyVerified",
            "required": false,
            "in": "query",
            "description": "When true, returns only verified tickers with recent updates and no fake volume flags",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get ticker market list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TickerMarketListResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Returns a list of tickers for a specific cryptocurrency across multiple exchanges.",
        "tags": [
          "Market Data"
        ],
        "x-mint": {
          "content": "<Note>**3** credits per request</Note>",
          "metadata": {
            "title": "Get Ticker Markets",
            "description": "Returns a list of tickers for a specific cryptocurrency across multiple exchanges.",
            "og:title": "Get Ticker Markets"
          },
          "href": "/openapi/get-ticker-markets"
        }
      }
    },
    "/wallet/blockchains": {
      "get": {
        "operationId": "get-blockchains",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get list of blockchains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockchainListItemResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get the list of blockchains supported by CoinStats",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**1** credit per request</Note><hr/>\n    <AccordionGroup>\n<Accordion title=\"You will get\">\n- All supported blockchains\n- Blockchain network names\n- Blockchain network icons\n</Accordion>\n<Accordion title=\"Use this data\">\n- To connect your wallet to CoinStats\n- To display blockchain network information\n- In other API endpoints\n</Accordion>\n</AccordionGroup>",
          "metadata": {
            "title": "Get Blockchains",
            "description": "Get the list of blockchains supported by CoinStats",
            "og:title": "Get Blockchains"
          },
          "href": "/openapi/get-blockchains"
        }
      }
    },
    "/wallet/balance": {
      "get": {
        "operationId": "get-wallet-balance",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "query",
            "description": "The blockchain wallet address to query balances for",
            "schema": {
              "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "The identifier of connection from [/wallet/blockchains](/openapi/get-blockchains) call response. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base-wallet",
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The blockchain network identifier from [/wallet/blockchains](/openapi/get-blockchains) call response. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletBalanceResponseCoinDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get cryptocurrency balances for any blockchain wallet",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**40** credits per request</Note><hr/>\n    <AccordionGroup>\n<Accordion title='Details'>\n- Token balances across multiple networks\n- NFT holdings\n- Current USD values\n- Historical transactions\n</Accordion>\n<Accordion title='Required'>\n- address: Wallet address to query\n- connectionId: Blockchain network(s) to check\n  - Single network (e.g., \"ethereum\")\n  - Multiple networks (\"ethereum,polygon\")\n  - \"all\" for all supported networks\n</Accordion>\n<Accordion title='Features'>\n- Multi-chain support\n- ERC20 token detection\n- NFT balance tracking\n- Historical data access\n</Accordion>\n\n</AccordionGroup>",
          "metadata": {
            "title": "Get Wallet Balance",
            "description": "Get cryptocurrency balances for any blockchain wallet",
            "og:title": "Get Wallet Balance"
          },
          "href": "/openapi/get-wallet-balance"
        }
      }
    },
    "/wallet/balances": {
      "get": {
        "operationId": "get-wallet-balances",
        "parameters": [
          {
            "name": "address",
            "required": false,
            "in": "query",
            "description": "The wallet address for which the balance is being queried. Must be a valid string representing an EVM-compatible wallet address.",
            "schema": {
              "example": "0x1234567890abcdef1234567890abcdef12345678",
              "type": "string"
            }
          },
          {
            "name": "networks",
            "required": false,
            "in": "query",
            "description": "Use blockchain instead.",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The identifier of connection from [/wallet/blockchains](/openapi/get-blockchains) call response. Specifies the blockchain networks to query for the wallet balance. Can be a single network (e.g., \"ethereum\") or a comma-separated list of networks (e.g., \"ethereum,polygon,binance_smart\"). If not provided, the default is \"all\" supported networks.",
            "schema": {
              "default": "all",
              "example": "ethereum,polygon,binance_smart",
              "type": "string"
            }
          },
          {
            "name": "wallets",
            "required": false,
            "in": "query",
            "description": "Comma-separated list of wallet addresses in format \"[connectionId](/openapi/get-blockchains):address\".",
            "schema": {
              "example": "ethereum:0x1234567890abcdef1234567890abcdef12345678,all:0x4567890abcdef1234567890abcdef1234567890abc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get wallets balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletBalancesResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get cryptocurrency balances for multiple wallets",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**40** credits per request</Note><Accordion title=\"Multipliers\" icon=\"rectangle-history-circle-plus\" ><Note>In **Query** field **\"networks\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"networks\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Note>In **Query** field **\"blockchain\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"blockchain\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Note>In **Query** field **\"wallets\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"wallets\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Warning>Multipliers can be applied multiple times.</Warning><Info>[**Detailed multipliers explanation**](/multipliers)</Info></Accordion><hr/>\n    <AccordionGroup>\n<Accordion title='You will get'>\n- Token balances across multiple networks\n- Token balances across multiple addresses\n</Accordion>\n</AccordionGroup>",
          "metadata": {
            "title": "Get Wallet Balances",
            "description": "Get cryptocurrency balances for multiple wallets",
            "og:title": "Get Wallet Balances"
          },
          "href": "/openapi/get-wallet-balances"
        }
      }
    },
    "/wallet/transactions": {
      "get": {
        "operationId": "get-wallet-transactions",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number to retrieve (1-based indexing)",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of transactions to return per page. Default is 20, min is 1, max is 100.",
            "schema": {
              "example": 20,
              "type": "number"
            }
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "Please include the date in ISO 8601 format",
            "schema": {
              "format": "date-time",
              "example": "2026-04-23T08:10:48.228Z",
              "type": "string"
            }
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "Please include the date in ISO 8601 format",
            "schema": {
              "format": "date-time",
              "example": "2026-04-24T10:10:48.228Z",
              "type": "string"
            }
          },
          {
            "name": "currency",
            "required": false,
            "in": "query",
            "schema": {
              "example": "USD",
              "type": "string"
            }
          },
          {
            "name": "types",
            "required": false,
            "in": "query",
            "description": "Comma separated values of (deposit,withdraw,approve,executed,balance,fee)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "required": false,
            "in": "query",
            "description": "The wallet address to fetch transactions for. **Required if not using wallets parameter.**",
            "schema": {
              "example": "0x1234567890abcdef1234567890abcdef12345678",
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "The identifier of connection from [/wallet/blockchains](/openapi/get-blockchains) call response. **Either connectionId or blockchain must be provided. If both are provided, connectionId will be used. Required if using address parameter.**",
            "schema": {
              "example": "ethereum",
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The blockchain network identifier from [/wallet/blockchains](/openapi/get-blockchains) call response. **Either connectionId or blockchain must be provided. If both are provided, connectionId will be used. Required if using address parameter.**",
            "schema": {
              "example": "ethereum",
              "type": "string"
            }
          },
          {
            "name": "txId",
            "required": false,
            "in": "query",
            "description": "Transaction hash to search for a specific transaction.",
            "schema": {
              "example": "0xc969639a5c08179c32326b5d9e8bb73f34beeb5566b7e7a6a411d38ee4c77ba4",
              "type": "string"
            }
          },
          {
            "name": "coinId",
            "required": false,
            "in": "query",
            "description": "Coin ID to search for a specific coin.",
            "schema": {
              "example": "bitcoin",
              "type": "string"
            }
          },
          {
            "name": "wallets",
            "required": false,
            "in": "query",
            "description": "Comma-separated list of wallet addresses in format \"[connectionId](/openapi/get-blockchains):address\". Use this for querying multiple wallets at once.",
            "schema": {
              "example": "ethereum:0x1234567890abcdef1234567890abcdef12345678,all:0x4567890abcdef1234567890abcdef1234567890abc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get wallet transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Transactions not synced. Please call PATCH /transactions\n\nConflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get transaction data for wallet addresses",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**30** credits per request</Note><Accordion title=\"Multipliers\" icon=\"rectangle-history-circle-plus\" ><Note>In **Query** field **\"wallets\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"wallets\"** in **Query** is **\"all\"**, multiplier is **300** credits.</Note><Info>[**Detailed multipliers explanation**](/multipliers)</Info></Accordion><hr/>\n    <AccordionGroup>\n<Accordion title=\"Single wallet\">\nProvide **address** and **connectionId** separately\n</Accordion>\n<Accordion title=\"Multiple wallets\">\nProvide **wallets** parameter in format \"**connectionId**:*address*,**connectionId**:*address*\"\n</Accordion>\n</AccordionGroup>",
          "metadata": {
            "title": "Get Wallet Transactions",
            "description": "Get transaction data for wallet addresses",
            "og:title": "Get Wallet Transactions"
          },
          "href": "/openapi/get-wallet-transactions"
        }
      }
    },
    "/wallet/status": {
      "get": {
        "operationId": "get-wallet-sync-status",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "query",
            "description": "The blockchain wallet address to query balances for",
            "schema": {
              "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "The identifier of connection from [/wallet/blockchains](/openapi/get-blockchains) call response. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base-wallet",
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The blockchain network identifier from [/wallet/blockchains](/openapi/get-blockchains) call response. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get wallet sync status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioSyncStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Transactions not synced. Please call PATCH /transactions\n\nConflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get the syncing status of the provided wallet address with the blockchain network.",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**3** credits per request</Note>",
          "metadata": {
            "title": "Get Wallet Sync Status",
            "description": "Get the syncing status of the provided wallet address with the blockchain network.",
            "og:title": "Get Wallet Sync Status"
          },
          "href": "/openapi/get-wallet-sync-status"
        }
      }
    },
    "/wallet/chart": {
      "get": {
        "operationId": "wallet-chart",
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "One of time periods.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y",
                "all"
              ]
            }
          },
          {
            "name": "address",
            "required": true,
            "in": "query",
            "description": "The wallet address for which the chart is being queried.",
            "schema": {
              "example": "0x1234567890abcdef1234567890abcdef12345678",
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "The identifier of connection from [/wallet/blockchains](/openapi/get-blockchains) call response.  Can be a single network (e.g., \"ethereum\") or a comma-separated list of networks or \"all\" for all connections. ",
            "schema": {
              "example": "base-wallet",
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The blockchain network identifier from [/wallet/blockchains](/openapi/get-blockchains) call response. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Chart of Wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletChartDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get wallet chart data for specific time ranges",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**40** credits per request</Note><Accordion title=\"Multipliers\" icon=\"rectangle-history-circle-plus\" ><Note>In **Query** field **\"connectionId\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"connectionId\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Note>In **Query** field **\"blockchain\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"blockchain\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Warning>Multipliers can be applied multiple times.</Warning><Info>[**Detailed multipliers explanation**](/multipliers)</Info></Accordion>",
          "metadata": {
            "title": "Wallet Chart",
            "description": "Get wallet chart data for specific time ranges",
            "og:title": "Wallet Chart"
          },
          "href": "/openapi/wallet-chart"
        }
      }
    },
    "/wallet/charts": {
      "get": {
        "operationId": "wallet-charts",
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "One of time periods.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y",
                "all"
              ]
            }
          },
          {
            "name": "wallets",
            "required": true,
            "in": "query",
            "description": "Comma-separated list of wallet addresses in format \"**connectionId**:address\" or \"**blockchain**:address\".",
            "schema": {
              "example": "ethereum:0x1234567890abcdef1234567890abcdef12345678,polygon:0x4567890abcdef1234567890abcdef1234567890abc",
              "type": "string"
            }
          },
          {
            "name": "aggregated",
            "required": false,
            "in": "query",
            "description": "Whether to return aggregated data",
            "schema": {
              "default": "true",
              "example": "true",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Chart data for multiple wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletMultiChartResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Unauthorized",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "message": "Forbidden",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Not Found",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (for some endpoints)",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 409,
                  "message": "Transactions not synced",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "message": "Rate limit exceeded",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 503,
                  "message": "Service Unavailable. Please Contact Support"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "summary": "Get chart data for multiple wallet addresses across various networks.",
        "tags": [
          "Wallet Data"
        ],
        "x-mint": {
          "content": "<Note>**40** credits per request</Note><Accordion title=\"Multipliers\" icon=\"rectangle-history-circle-plus\" ><Note>In **Query** field **\"wallets\"**: credits are multiplied by the number of values.</Note><Note>If the value of **\"wallets\"** in **Query** is **\"all\"**, multiplier is **400** credits.</Note><Info>[**Detailed multipliers explanation**](/multipliers)</Info></Accordion><hr/>\n    <AccordionGroup>\n<Accordion title='Aggregate data'>\n- If **aggregated** is **true**, the response will include aggregated data for all wallets.\n- If **aggregated** is **false**, the response will include data for each wallet individually.\n</Accordion>\n\n</AccordionGroup>",
          "metadata": {
            "title": "Wallet Charts",
            "description": "Get chart data for multiple wallet addresses across various networks.",
            "og:title": "Wallet Charts"
          },
          "href": "/openapi/wallet-charts"
        }
      }
    },
    "/wallet/defi": {
      "get": {
        "operationId": "get-wallet-defi",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "query",
            "description": "The wallet address for which the DeFi data is being queried. Must be a valid string representing an EVM-compatible wallet address.",
            "schema": {
              "example": "0x1234567890abcdef1234567890abcdef12345678",
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "Specifies the blockchain network connection ID to query for DeFi data. Can be a single network (e.g., \"ethereum\") or comma-separated list of networks (e.g., \"ethereum,polygon-wallet\") or \"all\" for all networks. Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base-wallet",
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "required": false,
            "in": "query",
            "description": "The blockchain network identifier from [/wallet/blockchains](/openapi/get-blockchains) call response. Can be a single network (e.g., \"ethereum\") or a comma-separated list of networks (e.g., \"ethereum,polygon,binance_smart\"). Either connectionId or blockchain must be provided. If both are provided, connectionId will be used.",
            "schema": {
              "example": "base",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Defi Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefiResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "Bad Request",
                  "requestId": "11111111-2222-3333-4444-555555555555",
                  "path": "<requested-endpoint>"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
[...]
