{
  "openapi": "3.1.0",
  "info": {
    "title": "The Stall \u2014 292-cap pay-per-call data API",
    "description": "292 pay-per-call AI data tools on Base and Solana mainnet. Equity, options, on-chain analytics, insider filings, DeFi yields, macro indicators, OSINT, and research synthesis. No API keys or accounts required. Pay USDC per call via x402 protocol.",
    "version": "4.94.0",
    "contact": {
      "name": "IntuiTek",
      "url": "https://the-stall.intuitek.ai"
    }
  },
  "servers": [
    {
      "url": "https://the-stall.intuitek.ai",
      "description": "Production (Base + Solana rails)"
    }
  ],
  "components": {
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment",
        "description": "x402 payment \u2014 EIP-3009 signed authorization (Base) or signed USDC transfer (Solana mainnet-beta) in the X-Payment header. See /.well-known/x402 for the full challenge schema."
      }
    }
  },
  "paths": {
    "/cap/action-receipt": {
      "get": {
        "operationId": "action-receipt",
        "summary": "Issue a self-verifying action receipt: sha256-chained record binding actor, action, subject, and result hash to a timestamp and nonce. Returns the receipt plus the exact recompute recipe so any third party can verify it offline. Durable proof for agent actions, dispute defense, and audit trails.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.05,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/activist-investor-intel": {
      "get": {
        "operationId": "activist-investor-intel",
        "summary": "SEC EDGAR Schedule 13D/13G beneficial ownership disclosures for US equities. Mode 1 (ticker): returns all 5%+ shareholders for a company \u2014 activist funds (13D) vs passive holders (13G), with ownership %, share count, and EDGAR filing URL. Mode 2 (recent): returns market-wide Schedule 13D disclosures",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.02,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/address-intel": {
      "get": {
        "operationId": "address-intel",
        "summary": "On-chain intelligence for any Base network wallet. Classifies EOA vs contract, profiles USDC transfer activity over a configurable block window, scores payer diversity (distinct counterparties / total transfers, 0\u2013100), detects sybil vanity-lookalike address clusters (same first-4 + last-4 hex chars",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.05,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/address-security": {
      "get": {
        "operationId": "address-security",
        "summary": "Wallet/address security and reputation check. Detects phishing, sanctions, cybercrime, money laundering, dark-web activity, and blacklisted wallets using GoPlus Labs + SlowMist + BlockSec data. Returns risk score (0-100) and per-flag breakdown. Supports Ethereum, Base, BSC, Polygon, Arbitrum, Optimi",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.136,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/agent-access-check": {
      "get": {
        "operationId": "agent-access-check",
        "summary": "Checks whether a website is accessible and agent-friendly. Fetches robots.txt, .well-known/ai.txt, and sitemap.xml; inspects HTTP headers (CORS, CSP, rate-limit); and returns a readiness verdict. Useful for agents that need to decide whether to scrape, crawl, or interact with a domain before committ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/agent-kya-score": {
      "get": {
        "operationId": "agent-kya-score",
        "summary": "Know Your Agent (KYA) trust score for any EVM wallet. Returns a 0\u2013100 score, tier (trusted/verified/unknown), sanctions screening result, per-dimension score breakdown (wallet age, activity, sanctions, ERC-8004 identity, KYB, tx history, trust bond, endpoint quality), on-chain attestations (Coinbase",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.136,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/agriculture-brief": {
      "get": {
        "operationId": "agriculture-brief",
        "summary": "AI-synthesized US agricultural commodities market intelligence brief. Assembles 9 real-time signals from Yahoo Finance: corn futures (ZC=F), wheat (ZW=F), soybeans (ZS=F), live cattle (LE=F), lean hogs (HE=F), coffee arabica (KC=F), cotton (CT=F), agribusiness sector ETF (MOO), and Deere & Co (DE, f",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.35,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/ai-image-gen": {
      "get": {
        "operationId": "ai-image-gen",
        "summary": "Generate an AI image from a text prompt using DALL-E 3. Returns a public URL for the image (hosted for 1 hour) plus the model's revised prompt. Supports vivid or natural style, and three aspect ratios: square (1024\u00d71024), portrait (1024\u00d71792), or landscape (1792\u00d71024). $0.080/image \u2014 20% below close",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.289,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/ai-pipeline-brief": {
      "get": {
        "operationId": "ai-pipeline-brief",
        "summary": "AI pipeline architecture brief: finds the best HuggingFace models for your ML task, validates or generates your cron schedule, and synthesizes a deployment guide \u2014 all in one call. Serves AI developers and agent builders who need model selection + scheduling together. Input: task description (e.g. '",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 1.75,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/air-quality": {
      "get": {
        "operationId": "air-quality",
        "summary": "Real-time US AQI and pollutant readings for any lat/lon. Returns current AQI with category label (Good/Moderate/Unhealthy/Hazardous), PM2.5, PM10, nitrogen dioxide, ozone, carbon monoxide, dust levels, and UV index. Data from CAMS (Copernicus Atmosphere Monitoring Service), updated hourly. Use for h",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/analyst-ratings": {
      "get": {
        "operationId": "analyst-ratings",
        "summary": "Wall Street analyst consensus and price targets for any US equity. Returns buy/hold/sell breakdown, mean recommendation score (1=Strong Buy, 5=Strong Sell), analyst count, and price target range (low/mean/median/high) with upside-to-target. Free Yahoo Finance data, no API key. Complements us-stock-p",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.078,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/analyst-upgrades": {
      "get": {
        "operationId": "analyst-upgrades",
        "summary": "Analyst rating change history (upgrades, downgrades, initiations) for any US equity. Returns each firm, action, from/to grade, and date \u2014 up to 365 days back. Computes net sentiment (upgrades minus downgrades): positive = bullish momentum building. Pairs with analyst-ratings (current consensus) and ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/app-store-intel": {
      "get": {
        "operationId": "app-store-intel",
        "summary": "iOS App Store competitive intelligence: search apps by keyword, look up a specific app's profile (ratings, freshness, install tier, release notes), or fetch top-charts for a category (finance, productivity, games, etc.). Free iTunes API, no auth required. Covers the App Store gap in the developer-ec",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.01,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/arxiv-intel": {
      "get": {
        "operationId": "arxiv-intel",
        "summary": "Search arXiv preprints by query, filtered by field (title/abstract/author/all) and category. Returns title, authors (up to 6), abstract (first 600 chars), arXiv ID, PDF link, publish date, and subject categories. arXiv is the canonical source for AI/ML, CS, physics, math, and quantitative biology pr",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/audio-transcribe": {
      "get": {
        "operationId": "audio-transcribe",
        "summary": "Transcribe audio from any publicly accessible URL using OpenAI Whisper. Supports mp3, mp4, m4a, wav, webm, ogg, flac, and wma up to 24 MB. Returns the full transcript text, detected language, and estimated duration in seconds. Optionally accepts an ISO 639-1 language hint to improve accuracy. Useful",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.213,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/aviation-weather": {
      "get": {
        "operationId": "aviation-weather",
        "summary": "Aviation weather (METAR + TAF) for any airport. Returns current conditions (temp, wind, visibility, ceiling, flight category VFR/MVFR/IFR/LIFR) plus 24\u201330 hour TAF forecast periods. Accepts IATA (JFK) or ICAO (KJFK) codes. Source: NOAA Aviation Weather Center \u2014 official, real-time, no API key.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/balance-sheet": {
      "get": {
        "operationId": "balance-sheet",
        "summary": "Quarterly or annual balance sheet history for any US public stock. Returns cash & equivalents, short-term investments, total assets, total debt, net debt, total liabilities, stockholders' equity, book value, retained earnings, goodwill & intangibles, tangible book value, working capital, and shares ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.015,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/base-season": {
      "get": {
        "operationId": "base-season",
        "summary": "Base chain season snapshot: total chain TVL, top 10 protocols by Base-native TVL, category breakdown, 7d trend, and top Base ecosystem tokens by market cap. No input required \u2014 agents use this for pre-trade orientation before DeFi, lending, or liquidity calls on Base.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/block-intel": {
      "get": {
        "operationId": "block-intel",
        "summary": "Returns block header data (number, hash, timestamp, gas used/limit, base fee, tx count, validator address) for any block on Base, Ethereum, or Arbitrum. Accepts block tag (latest/safe/finalized) or number. Free-RPC alternative to skills.onesource.io at 33% lower price \u2014 $0.002 vs $0.003.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/bonds-brief": {
      "get": {
        "operationId": "bonds-brief",
        "summary": "AI-synthesized fixed-income market brief. Assembles 9 signals: Treasury yield curve (3M/5Y/10Y/30Y from Yahoo Finance CBOE indices), 2Y yield + 10Y TIPS real yield + 10Y breakeven inflation (FRED), and HY/IG credit spreads (FRED ICE BofA). Returns 2Y-10Y inversion signal, real rate environment, cred",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.4,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/breadcrumb-extractor": {
      "get": {
        "operationId": "breadcrumb-extractor",
        "summary": "Extracts structured breadcrumb navigation from a URL. Returns domain, ordered path segments with human-readable labels, query parameters as key-value pairs, and a formatted breadcrumb trail string. Identifies numeric IDs vs. named path segments. Pure URL parsing \u2014 zero external calls. Useful for age",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/btc-game-theory": {
      "get": {
        "operationId": "btc-game-theory",
        "summary": "Bitcoin mining game theory and systems dynamics in one call. Returns: selfish-mining profitability threshold (Eyal-Sirer), 51%-attack electricity cost estimate, fee-vs-subsidy revenue split, difficulty epoch trajectory (expansion / contraction / neutral), Nash-equilibrium state for honest mining, an",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.136,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/btc-miner-econ": {
      "get": {
        "operationId": "btc-miner-econ",
        "summary": "Bitcoin mining economics and fee-market game theory via mempool.space. Returns current fee rates and pressure tier, miner revenue split (subsidy vs fees), next difficulty adjustment (direction, magnitude, blocks remaining), mining pool concentration (top-3 hashrate share), and mempool backlog size. ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/btc-systems-theory": {
      "get": {
        "operationId": "btc-systems-theory",
        "summary": "Seven-lens systems theory analysis of the Bitcoin network. Returns: (1) difficulty feedback loop state + regulator lag, (2) mempool stock-flow ratio and queue depth, (3) confirmation delay at economy/priority fee tiers, (4) fee nonlinearity index and hash-rate growth curvature, (5) Nakamoto coeffici",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/capital-allocation-score": {
      "get": {
        "operationId": "capital-allocation-score",
        "summary": "Capital allocation quality assessment for any US public company. Returns ROIC (Return on Invested Capital), FCF yield, total shareholder yield (dividends + buybacks), CapEx intensity, and reinvestment rate. Synthesizes these into a letter grade (A\u2013F) that answers: is management good at deploying the",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cash-flow-statement": {
      "get": {
        "operationId": "cash-flow-statement",
        "summary": "Full cash flow statement history for any US public stock \u2014 operating, investing, and financing sections. Returns: D&A, stock-based comp, working capital changes, operating CF, capex, acquisitions, investing CF, debt issuance/repayment, share buybacks, dividends paid, financing CF, free cash flow, be",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.015,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cdp-market-depth": {
      "get": {
        "operationId": "cdp-market-depth",
        "summary": "Real-time Coinbase order book depth and market microstructure for any crypto trading pair (BTC-USD, ETH-USD, SOL-USD, etc.). Returns best bid/ask spread, 24h price stats (high, low, volume, % change), top-N bids and asks with cumulative notional, order pressure ratio (bid vs ask volume), and the las",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/chain-pulse": {
      "get": {
        "operationId": "chain-pulse",
        "summary": "Returns an Ethereum block header + current stablecoin depeg status in one call. Collapses the eth-block \u2192 stablecoin-watch 2-hop chain. Block fields: number, hash, miner, timestamp, gas_used, tx_count. Stablecoin fields: symbol, price, peg_deviation, depeg_status, composite alert level. Supports Eth",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/changelog-generate": {
      "get": {
        "operationId": "changelog-generate",
        "summary": "Converts commit messages to a keep-a-changelog release block. Groups feat/fix/perf/docs/security commits into Added/Fixed/Changed/Security sections. Returns versioned markdown or structured JSON. No API key \u2014 pure transform.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.023,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/chromatic-dispersion": {
      "get": {
        "operationId": "chromatic-dispersion",
        "summary": "Fiber optic chromatic dispersion calculator. Computes dispersion coefficient D(\u03bb) in ps/(nm\u00b7km), accumulated dispersion (ps/nm) over a fiber span, and dispersion slope for SMF-28, NZDSF, DSF, LEAF, DCF, and ULLSF fiber types. Optionally sweeps a wavelength range (C-band, L-band, or custom). Pure mat",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/city-lookup": {
      "get": {
        "operationId": "city-lookup",
        "summary": "Search airports and cities by keyword, IATA code, or city name. Returns IATA/ICAO codes, coordinates, country, and timezone for each match \u2014 useful for travel planning, routing, and geographic enrichment.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/classic-novels": {
      "get": {
        "operationId": "classic-novels",
        "summary": "Looks up classic and contemporary books by title, author, or ISBN via Open Library (748M+ editions). Returns publication year, subjects/genres, page count, cover images, and links to read online via Project Gutenberg or Internet Archive. Useful for research agents, reading recommendation workflows, ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/clinical-trials": {
      "get": {
        "operationId": "clinical-trials",
        "summary": "Search ClinicalTrials.gov for clinical studies by condition, intervention, or keyword. Returns phase, status, enrollment, sponsor, and dates. NIH primary source \u2014 no markup. $0.005/call.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/code-api-surface": {
      "get": {
        "operationId": "code-api-surface",
        "summary": "Analyzes a code snippet and returns its API surface: HTTP routes (method + path), exported symbols, and middleware. Supports Express, FastAPI, Flask, Django, Spring Boot, ASP.NET, Rails, Gin. Pure static analysis \u2014 no code execution. Returns JSON with routes[], exports[], middleware[], lang, framewo",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.045,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/code-test-detector": {
      "get": {
        "operationId": "code-test-detector",
        "summary": "Detects testing frameworks and test coverage presence in a code snippet or GitHub repository. For code snippets: identifies test functions, assertions, mocks, fixtures, and frameworks (Jest, pytest, go test, JUnit, RSpec, etc.). For GitHub repos: counts test files vs source files, surfaces config fi",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/commodity-futures": {
      "get": {
        "operationId": "commodity-futures",
        "summary": "Returns live price and intraday metrics for major commodity futures: crude oil, natural gas, gold, silver, copper, platinum, wheat, corn, soybeans, and coffee. Includes price, day high/low, 52-week range, previous close, exchange, and contract name. Filter by commodity name or category (energy/metal",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/company-due-diligence": {
      "get": {
        "operationId": "company-due-diligence",
        "summary": "AI-agent due diligence on any company. Queries SEC EDGAR for public company data (CIK, ticker, SIC, address, filing history) and optionally analyzes the company website for contact details, social profiles, and legitimacy signals. Returns a structured report with risk flags. Accepts company name plu",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.358,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/company-intel": {
      "get": {
        "operationId": "company-intel",
        "summary": "Returns SEC EDGAR due diligence data for any US public company by ticker symbol: legal name, CIK, SIC industry code and description, state of incorporation, fiscal year end, SEC filer category, primary business location, and 2-year filing history (10-K/10-Q/8-K counts and most-recent dates). Use bef",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/concentration-risk-score": {
      "get": {
        "operationId": "concentration-risk-score",
        "summary": "Returns a concentration-risk score for an x402 pay_to wallet: HHI, unique payer count, top-payer share, persistence across scans, and a risk tier (LOW / MEDIUM / HIGH / CRITICAL). An agent uses this to assess whether an endpoint is a single-agent dependency before building a workflow that depends on",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.213,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/congressional-trades": {
      "get": {
        "operationId": "congressional-trades",
        "summary": "US Congressional stock trades (STOCK Act disclosures). Two modes: supply a ticker to get all congress member trades in that stock (with excess-return-vs-SPY performance), or omit ticker for recent market-wide congressional activity. Returns representative, party, chamber, transaction type, dollar ra",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.117,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/consumer-brief": {
      "get": {
        "operationId": "consumer-brief",
        "summary": "AI-synthesized US consumer health briefing. Fetches 8 FRED signals (Michigan sentiment, retail sales MoM, real PCE, real disposable income, savings rate, total/revolving consumer credit) and uses GPT-4o-mini to produce consumer posture, spending regime, confidence level, savings stress, credit depen",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.37,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/content-analyze": {
      "get": {
        "operationId": "content-analyze",
        "summary": "AI-powered URL content analysis. Fetches a URL, extracts the readable article text, and returns structured intelligence: 2\u20133 sentence summary, key points, named entities with types, sentiment score, topic tags, content type classification, and credibility signals (has author/date/sources). Use for c",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.165,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/content-moderation": {
      "get": {
        "operationId": "content-moderation",
        "summary": "Classify text (and optional image URLs) for harmful content \u2014 hate speech, harassment, self-harm, sexual content, violence, and illicit instructions. Returns flagged status, risk level (NONE/LOW/MEDIUM/HIGH), flagged categories, per-category confidence scores, and an optional AI-generated safe rewri",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.136,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cot-positioning": {
      "get": {
        "operationId": "cot-positioning",
        "summary": "CFTC Commitment of Traders weekly positioning: large speculator (hedge fund) vs commercial hedger net long/short, week-over-week change, % of OI, 4-week trend, and a SPEC_LONG/SPEC_SHORT/NEUTRAL signal. Free CFTC source, updated Fridays.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.018,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/country-info": {
      "get": {
        "operationId": "country-info",
        "summary": "Country information lookup by name, ISO code (alpha-2 or alpha-3), or capital city. Returns: official name, ISO codes, capital, population, area (km\u00b2), region, languages, currencies (code + symbol), borders, calling code, timezones, and flag image URL. Useful for international business agents, geogr",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/credit-spreads": {
      "get": {
        "operationId": "credit-spreads",
        "summary": "Returns current US corporate credit spreads from ICE BofA indices via FRED (free, no API key): High Yield OAS, Investment Grade OAS, and BBB (lowest IG tier) OAS. Includes HY-IG differential and risk regime classification. Pairs with treasury-yields for complete fixed-income discount rate constructi",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cron-parser": {
      "get": {
        "operationId": "cron-parser",
        "summary": "Parse and explain any Unix cron expression in plain English. Returns human-readable schedule description, field breakdown, and the next N run times (UTC). Supports @yearly/@monthly/@weekly/@daily/@hourly shortcuts. Zero external calls.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cross-chain-bridge-status": {
      "get": {
        "operationId": "cross-chain-bridge-status",
        "summary": "Live cross-chain bridge availability and route discovery. Given a from/to chain pair, returns all active bridges (Stargate, Across, CCTP, Relay, Squid, etc.), chain metadata, and bridge coverage breadth. Use before any cross-chain transfer or arbitrage to identify available routes. Free \u2014 powered by",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-brief": {
      "get": {
        "operationId": "crypto-brief",
        "summary": "AI-synthesized cryptocurrency market intelligence brief. Assembles 12 real-time signals from CoinGecko (BTC, ETH, SOL, BNB, XRP, DOGE, ADA, AVAX, LINK, UNI, MATIC, ATOM \u2014 price, 24h change, market cap, volume) plus the Alternative.me Fear & Greed Index. Returns crypto regime classification and a 200",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.35,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-equity-brief": {
      "get": {
        "operationId": "crypto-equity-brief",
        "summary": "AI-synthesized cross-market brief combining top crypto movers and equity performance \u2014 identifies how crypto and stock markets are moving together or diverging. Returns top crypto gainers/losers, equity prices, global crypto market stats, and a synthesized cross-market intelligence brief: market reg",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 2.0,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-fear-greed": {
      "get": {
        "operationId": "crypto-fear-greed",
        "summary": "Crypto Fear & Greed Index \u2014 current score (0=extreme fear, 100=extreme greed), 7-day trend, 30-day min/max/avg, and trading regime signal. Free alternative.me data updated daily. $0.005/call.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-fiat-price": {
      "get": {
        "operationId": "crypto-fiat-price",
        "summary": "Cryptocurrency price in any fiat currency \u2014 JPY, EUR, CNY, GBP, KRW, INR, AUD, BRL, or 80+ more. Input a coin name or CoinGecko ID (bitcoin, ethereum, solana, btc, eth, sol, etc.) and one or more currency codes. Returns current price, 24h percent change per currency, and last updated timestamp. Free",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-momentum-pack": {
      "get": {
        "operationId": "crypto-momentum-pack",
        "summary": "Korean exchange volume leaders + global 24h movers + optional DeFi yield cross-reference in one call. Collapses the printmoneylab/market-movers \u2192 ottoai/yield-farming-active agent chain at 53% of the chain cost. Returns top gaining/losing/volume-leading tokens on Upbit (Korea's #1 exchange), global ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-news-equity-brief": {
      "get": {
        "operationId": "crypto-news-equity-brief",
        "summary": "AI brief connecting today's crypto news narrative to equity watchlist performance in one call \u2014 replaces separate crypto-news-impact + stock-price-multi lookups. Fetches CoinDesk headlines, pairs with live equity prices via Yahoo Finance, and GPT-4o-mini synthesizes the dominant news story and its p",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 1.75,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-news-impact": {
      "get": {
        "operationId": "crypto-news-impact",
        "summary": "Latest cryptocurrency news headlines from CoinDesk with live price correlation for mentioned assets. Returns up to 10 recent articles \u2014 each with title, URL, published timestamp, primary category, and a keyword-derived sentiment signal (bullish/bearish/neutral). For each article, identified crypto a",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-pulse": {
      "get": {
        "operationId": "crypto-pulse",
        "summary": "Crypto market pulse \u2014 latest Ethereum (or Base) block context plus top crypto gainers and losers by 24h change, in a single call. Returns: block_number, timestamp, gas info (base_fee_gwei, gas_used/limit, tx_count), and top movers (symbol, name, price_usd, change_24h, volume_24h, market_cap). Use fo",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-stock-pulse": {
      "get": {
        "operationId": "crypto-stock-pulse",
        "summary": "Focused cross-asset analysis: top crypto movers + single equity deep dive synthesized in one call. Answers 'how does the current crypto regime affect this specific stock?' Returns top crypto gainers/losers, global market stats, individual stock data (price, change, volume, 52-week range), and GPT-4o",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 1.25,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/crypto-top-movers": {
      "get": {
        "operationId": "crypto-top-movers",
        "summary": "Real-time cryptocurrency market snapshot: top 5 gainers and top 5 losers by 24-hour percentage change (among the top 100 coins by market cap), plus the 10 largest coins by market cap with current prices and 24h change. Also returns global market statistics: total market cap (USD), BTC dominance perc",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/currency-format": {
      "get": {
        "operationId": "currency-format",
        "summary": "Locale-aware currency formatting and symbol lookup for any ISO 4217 currency. Formats numbers as currency strings (e.g. 1234.56 USD \u2192 '$1,234.56', EUR in German locale \u2192 '1.234,56 \u20ac'), returns currency symbol, decimal separator, grouping separator, and currency name. Pure computation \u2014 no API key, n",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/cve-intel": {
      "get": {
        "operationId": "cve-intel",
        "summary": "CVE vulnerability lookup via NVD NIST. Query by CVE ID, keyword, or severity. Returns CVSS score, attack vector, CWEs, and references. Covers 260K+ vulnerabilities.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.136,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/db-perf-intel": {
      "get": {
        "operationId": "db-perf-intel",
        "summary": "Database performance intelligence: current versions, EOL status, and benchmark-grounded performance profiles for PostgreSQL, MySQL, MariaDB, MongoDB, Redis, Elasticsearch, SQLite, Cassandra, CockroachDB, and SQL Server. Useful mid-task for infrastructure audits, database selection, and upgrade urgen",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dcf-scenario": {
      "get": {
        "operationId": "dcf-scenario",
        "summary": "Three-scenario DCF model (bear / base / bull) for any US public company plus a sensitivity grid. Runs five-year FCF projections and Gordon Growth terminal value for each growth assumption in parallel, returns margin of safety and upside % per scenario, a probability-weighted composite intrinsic valu",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.045,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dcf-valuation": {
      "get": {
        "operationId": "dcf-valuation",
        "summary": "5-year Discounted Cash Flow model for any US public company. Fetches free cash flow history, consensus EPS growth, and WACC (CAPM), then projects 5 years of FCF, adds a Gordon Growth terminal value, subtracts net debt, and divides by diluted shares to produce intrinsic value per share vs current pri",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defi-market-pulse": {
      "get": {
        "operationId": "defi-market-pulse",
        "summary": "Combined DeFi yield intelligence and market momentum in one call \u2014 33% cheaper than separate yield-farming-active + market-movers calls ($0.009). Returns top yield pools from DeFiLlama, crypto and equity market movers, and a cross-signal layer that flags 'boosted' pools (high APY + rising token) vs ",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defi-portfolio": {
      "get": {
        "operationId": "defi-portfolio",
        "summary": "Multi-chain DeFi portfolio scanner. Returns token holdings and USD values for any EVM wallet across Ethereum, Base, Polygon, and Arbitrum mainnet. Covers ETH, major stablecoins (USDC, USDT, DAI), WBTC, ARB, cbETH, and chain-native assets. Collapses the defi.hugen.tokyo/defi/address seam \u2014 41 payers.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defi-state-pack": {
      "get": {
        "operationId": "defi-state-pack",
        "summary": "Returns Ethereum block header + stablecoin depeg status + top DeFi yield farming pools in one call. Collapses the 3-hop eth-block \u2192 stablecoin-watch \u2192 yield-farming chain into a single call. All three upstreams fetched in parallel. Supports Ethereum, Base, Polygon, Arbitrum. Filter yield pools by ch",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defi-yield-strategies": {
      "get": {
        "operationId": "defi-yield-strategies",
        "summary": "DeFi yield strategy planner. Given a portfolio size and risk tolerance, returns an optimized allocation across top DeFi yield opportunities. Risk tiers: low (stablecoins only, APY < 30%, TVL \u2265 $50M), medium (TVL \u2265 $10M, APY < 80%), high (TVL \u2265 $1M, all assets). Output includes per-position allocatio",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.039,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defi-yields": {
      "get": {
        "operationId": "defi-yields",
        "summary": "Returns top DeFi yield pools ranked by APY from DeFiLlama. Covers 16,000+ pools across 400+ protocols and 50+ chains (Ethereum, Base, Solana, Arbitrum, Polygon, etc.). Filter by chain, minimum APY, minimum TVL, or stablecoin-only. Each pool includes APY breakdown (base + reward), TVL, 7-day APY chan",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defillama-coin-price": {
      "get": {
        "operationId": "defillama-coin-price",
        "summary": "Returns on-chain aggregated token prices via DefiLlama coins API. Accepts coingecko IDs, contract addresses, or shorthand (eth, btc, sol). Up to 10 tokens per call. Undercuts blockrun.ai's $0.021/call by 24%.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defillama-pack": {
      "get": {
        "operationId": "defillama-pack",
        "summary": "DeFi research pack: returns TVL, chain breakdown, fees, and native token price for 1\u20133 protocols in one call. Collapses the defillama-protocol + defillama-coin-price 2-call chain at 70% of combined cost ($0.034\u2192$0.024). Same DefiLlama upstreams, zero auth.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/defillama-protocol": {
      "get": {
        "operationId": "defillama-protocol",
        "summary": "Returns current TVL, chain breakdown, 24h/7d TVL change, fees, and metadata for any DeFi protocol slug (aave, uniswap-v3, lido, etc.) via DefiLlama. Undercuts blockrun.ai's $0.022/call by 18%.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dex-pair-search": {
      "get": {
        "operationId": "dex-pair-search",
        "summary": "Search DEX trading pairs for any token (by symbol, name, or contract address) across 50+ chains including Ethereum, Solana, Base, BSC, Arbitrum, Polygon, and Avalanche. Returns top pairs by liquidity with real-time price, 24h volume, buy/sell transaction counts, price change %, and buy pressure metr",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dex-swap-quote": {
      "get": {
        "operationId": "dex-swap-quote",
        "summary": "Best-route DEX swap quote across 20+ chains via Li.Fi aggregator. Returns expected output, exchange rate, gas cost, price impact, and route (DEX/bridge names). Works for same-chain and cross-chain swaps. Use ETH/USDC/WBTC symbols or ERC-20 addresses. Chains: ethereum, base, polygon, arbitrum, optimi",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dex-trending-pools": {
      "get": {
        "operationId": "dex-trending-pools",
        "summary": "Trending DEX liquidity pools with buy/sell pressure data across multiple timeframes (5m, 1h, 6h, 24h). Sourced from GeckoTerminal (free, no key). Supports 100+ networks: eth, base, bsc, arbitrum, polygon_pos, solana, etc. Returns pool name, price, price change %, volume, buy vs sell transaction coun",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dictionary-intel": {
      "get": {
        "operationId": "dictionary-intel",
        "summary": "English word lookup: definitions (up to 4 per part of speech), phonetic transcription, audio pronunciation URL, synonyms, antonyms, and example sentences. Supports multiple parts of speech per word (noun, verb, adjective, etc.). Useful for writing agents, NLP preprocessing, vocabulary enrichment, co",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dividend-calendar": {
      "get": {
        "operationId": "dividend-calendar",
        "summary": "Upcoming dividend ex-dates from NASDAQ \u2014 all stocks going ex-dividend on a given date (default: today) or in the next 1\u20137 days. Returns symbol, company name, ex-date, record date, payment date, dividend amount, and annual indicated dividend. $0.008/call.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dividend-intel": {
      "get": {
        "operationId": "dividend-intel",
        "summary": "Full dividend intelligence for any US equity: trailing 12-month yield, forward annual rate, payout frequency (monthly/quarterly/semi-annual/annual), 5-year dividend CAGR, consecutive years paid, consecutive years of growth, and complete 5-year dividend history with dates and amounts. Single call \u2014 n",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/dns-lookup": {
      "get": {
        "operationId": "dns-lookup",
        "summary": "DNS record lookup for any domain via Cloudflare DoH. Supports A, AAAA, MX, TXT, CNAME, NS, SOA, CAA, or ALL record types. TXT lookups include SPF/DMARC/DKIM email security signal extraction. Useful for domain audits, email configuration verification, CDN setup checks, and infrastructure reconnaissan",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.023,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/document-qa-prep": {
      "get": {
        "operationId": "document-qa-prep",
        "summary": "Prepares a document for question-answering and RAG pipelines. Chunks the input text at paragraph/sentence boundaries, assigns deterministic chunk IDs, estimates token counts, and extracts document metadata (word count, type, headings). Returns ready-to-embed chunks with overlap support. No LLM or ex",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.194,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/domain-availability": {
      "get": {
        "operationId": "domain-availability",
        "summary": "Check domain name availability across multiple TLDs (com, net, org, io, ai, co, app, dev by default). Returns per-TLD availability status, registrar, and expiry for registered domains. Uses RDAP \u2014 authoritative registry data, no API key. Ideal for brand research, startup naming, and domain portfolio",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/domain-whois": {
      "get": {
        "operationId": "domain-whois",
        "summary": "Domain WHOIS/RDAP lookup. Returns registration date, expiration date, last updated, registrar, nameservers, status flags, and registrant/admin contact info (where available). Uses RDAP \u2014 the structured JSON replacement for WHOIS. Useful for domain due diligence, expiry monitoring, and identifying re",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/drug-intel": {
      "get": {
        "operationId": "drug-intel",
        "summary": "FDA drug intelligence: labeling (warnings, dosage, drug interactions, contraindications, indications), adverse event report summary (top reactions + total count), and recent recall history. Accepts brand or generic name. Data from openFDA \u2014 no API key. Useful for pharmaceutical research, clinical AI",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-brief": {
      "get": {
        "operationId": "earnings-brief",
        "summary": "AI-synthesized earnings catalyst brief for the next 7 days (configurable 1\u201314). Fetches the Alpha Vantage earnings calendar, identifies S&P 500 bellwether events, and uses gpt-4o-mini to produce a 150-200 word forward-looking assessment: most important event, sector concentration, and agent decision",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.35,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-calendar": {
      "get": {
        "operationId": "earnings-calendar",
        "summary": "Upcoming US stock earnings \u2014 report date, EPS estimate, pre/post-market timing. Filter by ticker or look N days ahead (1\u201390). Data: Alpha Vantage 3-month calendar, cached 2 hr.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-estimates": {
      "get": {
        "operationId": "earnings-estimates",
        "summary": "Forward analyst consensus EPS and revenue estimates for any US equity. Returns current-quarter, next-quarter, current-year, and next-year forecasts \u2014 avg/low/high EPS and revenue, YoY growth, analyst count, estimate revision momentum (revisions up vs down last 7/30 days), and EPS trend drift (curren",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.012,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-intel-bundle": {
      "get": {
        "operationId": "earnings-intel-bundle",
        "summary": "Full earnings intelligence for a US stock in one call: next earnings date + EPS estimates, historical EPS beat/miss data, fundamental valuations (P/E, EV/EBITDA, margins), and current FOMC rate context. Replaces 4 separate cap calls at ~37% discount.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.08,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-quality": {
      "get": {
        "operationId": "earnings-quality",
        "summary": "Earnings quality and manipulation-risk screen for any US public company. Returns Beneish M-Score (8-component manipulation detector: M > -1.78 = manipulation risk), Sloan Accrual Ratio, cash conversion ratio, and AR vs revenue quality signal. Designed to chain after income-statements and equity-fund",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-reaction": {
      "get": {
        "operationId": "earnings-reaction",
        "summary": "Stock price reaction to past earnings events for any US equity. Returns report-day and next-day price move % for each recent quarterly earnings date, paired with the EPS beat/miss magnitude and reaction class (beat_and_up, beat_selloff, miss_and_down, miss_rally, neutral). Identifies contrarian sign",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.025,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earnings-surprises": {
      "get": {
        "operationId": "earnings-surprises",
        "summary": "Historical EPS beat/miss data for any US equity: actual EPS, consensus estimate, surprise %, beat rate, estimate revisions (30-day EPS drift), and next earnings date. Free Yahoo Finance data, no API key. Pairs with analyst-ratings and equity-fundamentals for a complete earnings intelligence stack.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/earthquake-intel": {
      "get": {
        "operationId": "earthquake-intel",
        "summary": "Real-time earthquake intelligence from USGS. Fetch recent global significant quakes (M5.0+ last 7 days) or quakes near a lat/lon (M3.0+ within 500 km). Returns magnitude, depth, location, tsunami flag, and shake intensity. Free USGS FDSN API \u2014 no key required.",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.059,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/economic-calendar": {
      "get": {
        "operationId": "economic-calendar",
        "summary": "Upcoming US macro data release schedule: CPI, NFP, FOMC, GDP, PCE, PPI, JOLTS, Retail Sales, Housing Starts, and 20+ more releases with exact dates, times (ET), and market-impact priority. BLS live calendar + Fed/BEA/Census static 2026 schedule. Essential for agents timing trades or building macro-r",
        "tags": [
          "capabilities"
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-pricing": {
          "currency": "USDC",
          "rails": [
            "base",
            "solana"
          ],
          "price_usd": 0.034,
          "scheme": "x402-exact"
        },
        "responses": {
          "200": {
            "description": "Structured JSON response \u2014 format varies by capability; see /catalog for per-cap output schemas."
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge with accepted rails and price."
          }
        }
      }
    },
    "/cap/economic-momentum": {
      "get": {
        "operationId": "economic-momentum",
[...]
