{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Transit API",
  "description": "Real-time train delays + delay-aware alternative routes for Japan rail. x402-enabled for AI agents.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://transit.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "transit"
  },
  {
   "name": "train"
  },
  {
   "name": "railway"
  },
  {
   "name": "delay"
  },
  {
   "name": "route-planning"
  }
 ],
 "paths": {
  "/station/{name}/status": {
   "get": {
    "operationId": "GET__station_name_status",
    "summary": "Get real-time delay status for a Japanese train station",
    "description": "Real-time delay and operational status for a Japanese (JP) train station — per-line status (normal / delayed / suspended), estimated delay minutes, and cause — plus a one-line summary in English and Japanese. Sourced live from ODPT. Use to answer 'is my train delayed' for a station.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "name",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Station name in Japanese or English (e.g. 東京)"
     }
    ]
   }
  },
  "/line/{line}/disruptions": {
   "get": {
    "operationId": "GET__line_line_disruptions",
    "summary": "Get current disruptions on a Japanese railway line",
    "description": "Current service disruptions on a specific Japanese (JP) train line: status, estimated delay, cause, and last-updated time, with a bilingual summary. Sourced live from ODPT. Use to monitor one line for delays or suspensions.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "line",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Line ID from GET /lines (e.g. jr-yamanote)"
     }
    ]
   }
  },
  "/route-plan": {
   "post": {
    "operationId": "POST__route_plan",
    "summary": "Get a rail route between two Japanese stations",
    "description": "Plan a route between two Japanese (JP) train stations — timetable-based, with transfers, duration, and fare. Standard planning without delay adjustment (cheaper). Use for ordinary trip planning.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.01",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "from": {
          "type": "string",
          "description": "Origin station (Japanese)"
         },
         "to": {
          "type": "string",
          "description": "Destination station (Japanese)"
         },
         "departure_time": {
          "type": "string",
          "description": "ISO 8601 departure time"
         }
        },
        "required": [
         "from",
         "to"
        ],
        "type": "object"
       },
       "example": {
        "from": "新宿",
        "to": "東京"
       }
      }
     }
    }
   }
  },
  "/alternative-routes": {
   "post": {
    "operationId": "POST__alternative_routes",
    "summary": "Get delay-aware alternative rail routes in Japan",
    "description": "Suggest delay-aware alternative routes for Japanese (JP) train travel: returns the primary route plus ranked alternatives that route around currently-disrupted lines, each with a reason. The differentiating endpoint — use when trains are delayed and the agent needs a route that still works.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.015",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "from": {
          "type": "string",
          "description": "Origin station (Japanese)"
         },
         "to": {
          "type": "string",
          "description": "Destination station (Japanese)"
         },
         "departure_time": {
          "type": "string"
         },
         "max_alternatives": {
          "type": "number"
         }
        },
        "required": [
         "from",
         "to"
        ],
        "type": "object"
       },
       "example": {
        "from": "新宿",
        "to": "東京",
        "max_alternatives": 3
       }
      }
     }
    }
   }
  },
  "/alerts/feed": {
   "get": {
    "operationId": "GET__alerts_feed",
    "summary": "List current Japan rail service alerts",
    "description": "Latest feed of rail service disruptions across the Japanese (JP) network — a single list of active delays and suspensions with bilingual summaries. Use to poll for nationwide rail incidents.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  },
  "/lines": {
   "get": {
    "operationId": "GET__lines",
    "summary": "List supported Japanese railway lines",
    "description": "Directory of Japanese (JP) rail operators and their lines, with canonical ids and Japanese/English names. Use to discover valid line and operator identifiers for the other endpoints.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  },
  "/stations/search": {
   "get": {
    "operationId": "GET__stations_search",
    "summary": "Search Japanese train stations by name",
    "description": "Fuzzy-search Japanese (JP) train stations by name — accepts kanji, kana, or romaji and tolerates the 駅/station suffix. Returns matching stations with their operators and lines. Use to resolve a station name to a canonical record.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  }
 }
}
