{
  "openapi": "3.1.0",
  "info": {
    "title": "SuVerse Pay - crypto verdict APIs and Solana swap",
    "version": "1.0.0",
    "description": "Paid (x402) decision endpoints on proxy.suverse.io. Every path below returns HTTP 402 with a Solana mainnet USDC accept until paid. The full 400+ endpoint catalog is at https://proxy.suverse.io/openapi.json; this document lists the curated first-party products."
  },
  "servers": [
    {
      "url": "https://proxy.suverse.io"
    }
  ],
  "paths": {
    "/v1/data/polymarket-smart-sheet": {
      "post": {
        "operationId": "polymarket_smart_sheet",
        "summary": "Polymarket Smart-Money Sheet",
        "description": "Joins the four Polymarket Smart Money endpoints (smart-bias, whale-entries, trader-skill, position-holders) into a single ranked sheet of every active market where tracked smart money currently has an edge. Each row carries direction, conviction-based confidence, whale flow, entrant skill and holder concentration, topped by a verdict with the single strongest pick. The critical bias source is proven before payment settles; enrichment sources degrade gracefully and are disclosed in data_quality. Post-settle failures are auto-refunded.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.750000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Rows in the returned sheet, 1-50 (default 20). Out-of-range values are clamped, never rejected."
                  },
                  "category": {
                    "type": "string",
                    "description": "Optional market category filter (default all).",
                    "pattern": "^(politics|crypto|sports|macro|other|all)$"
                  },
                  "time_window": {
                    "type": "string",
                    "description": "Smart-bias aggregation window (default 24h).",
                    "pattern": "^(1h|24h|7d|30d)$"
                  }
                }
              },
              "example": {
                "limit": 20,
                "category": "all",
                "time_window": "24h"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict payload (JSON object): verdict block first, evidence and data_quality layers after."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept and machine-readable input_schema."
          }
        }
      }
    },
    "/v1/data/token-entry-verdict": {
      "post": {
        "operationId": "token_entry_verdict",
        "summary": "Token Entry Verdict (Solana)",
        "description": "Combines the token-check safety analysis with fresh smart-money netflow (24h/7d from our trade tape, 30d cache) and recent-trader label context into a single ENTER/CAUTION/AVOID call for any Solana mint. The safety layer is fail-closed pre-settlement - if critical sources are down you are never charged - and non-critical layers degrade honestly with named stale sources and reduced confidence. Post-settle failures are auto-refunded.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.500000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mint"
                ],
                "properties": {
                  "mint": {
                    "type": "string",
                    "description": "Solana token mint address to evaluate for entry (base58, 32-44 chars)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
                  }
                }
              },
              "example": {
                "mint": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict payload (JSON object): verdict block first, evidence and data_quality layers after."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept and machine-readable input_schema."
          }
        }
      }
    },
    "/v1/data/market-regime-verdict": {
      "post": {
        "operationId": "market_regime_verdict",
        "summary": "Crypto Market Regime Verdict",
        "description": "Aggregates five market drivers - fear-greed sentiment, BTC momentum, on-chain smart-money netflow, Binance perp funding, and DeFiLlama stablecoin float - into a single weighted risk_on/risk_off/chop regime verdict with per-driver attribution and evidence. Critical sources are health-proven before your payment settles; non-critical drivers degrade gracefully and lower confidence instead of failing the call. Optional detail:summary trims the raw payload. Post-settle failures are auto-refunded.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.500000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "detail": {
                    "type": "string",
                    "description": "Response detail level (default \"full\"). \"summary\" omits the raw base-pulse payload from the raw layer.",
                    "pattern": "^(summary|full)$"
                  }
                }
              },
              "example": {
                "detail": "full"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict payload (JSON object): verdict block first, evidence and data_quality layers after."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept and machine-readable input_schema."
          }
        }
      }
    },
    "/v1/data/base-token-forensics": {
      "post": {
        "operationId": "base_token_forensics",
        "summary": "Base Token Forensics",
        "description": "POST a Base token contract address and get a merged forensic dossier from Etherscan verification data, Blockscout holder distribution, and decoded on-chain activity. A single explicit rule table yields a CLEAN, WATCH, or RED-FLAG verdict with per-source data-quality disclosure. Critical sources are proven before settlement; degraded sources are flagged, never silently omitted. Post-settle failures are auto-refunded.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.350000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract_address"
                ],
                "properties": {
                  "contract_address": {
                    "type": "string",
                    "description": "Base (eip155:8453) token contract address to investigate (0x + 40 hex chars)",
                    "pattern": "^0x[0-9a-fA-F]{40}$"
                  }
                }
              },
              "example": {
                "contract_address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict payload (JSON object): verdict block first, evidence and data_quality layers after."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept and machine-readable input_schema."
          }
        }
      }
    },
    "/v1/data/x402-liveness-check": {
      "post": {
        "operationId": "x402_liveness_check",
        "summary": "x402 Endpoint Liveness Check",
        "description": "Sends one unpaid GET/POST/HEAD probe to any x402 resource URL and grades its 402 surface: ALIVE means a well-formed 402 with valid accepts and extracted minimum USD price; DEGRADED means reachable but not a clean x402 surface (non-402, redirect, malformed challenge, or slow); DEAD means network error, timeout, or 5xx. Private, loopback, link-local, CGNAT and metadata targets are blocked before settlement so you are never charged for an unprobeable request. Post-settle failures are auto-refunded.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.250000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resource_url"
                ],
                "properties": {
                  "resource_url": {
                    "type": "string",
                    "description": "Full http(s) URL of the x402 resource to probe (we request it unpaid and grade its 402 challenge).",
                    "pattern": "^https?://"
                  },
                  "method": {
                    "type": "string",
                    "description": "HTTP method for the probe: GET | POST | HEAD. Default GET.",
                    "pattern": "^(GET|POST|HEAD)$"
                  },
                  "request_body": {
                    "type": "object",
                    "description": "Optional JSON object sent as the probe body when method is POST (many x402 endpoints only answer 402 on POST)."
                  }
                }
              },
              "example": {
                "resource_url": "https://proxy.suverse.io/v1/data/crypto-market-pulse",
                "method": "POST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict payload (JSON object): verdict block first, evidence and data_quality layers after."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept and machine-readable input_schema."
          }
        }
      }
    },
    "/v1/swap/solana/quote": {
      "post": {
        "operationId": "solana_swap_quote",
        "summary": "Solana Swap Quote (Jupiter-routed)",
        "description": "Returns a firm Jupiter-routed quote for a USDC-to-token or token-to-USDC swap on Solana mainnet: expected output, route plan, price impact, service fee, and a quote_id with an x402_pay_url for the dynamically priced execute step (POST /v1/swap/solana/execute/{quote_id}, priced per quote at quoted USDC value plus 1% service fee, so it is not listed as a fixed-price path here). One side of the pair must be USDC. Forward input is capped at 50 USDC per swap; slippage_bps accepts 10-500.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_mint",
                  "output_mint",
                  "input_amount",
                  "slippage_bps"
                ],
                "properties": {
                  "input_mint": {
                    "type": "string",
                    "description": "Input token mint (base58). Exactly one of input_mint/output_mint must be USDC (EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v)."
                  },
                  "output_mint": {
                    "type": "string",
                    "description": "Output token mint (base58)."
                  },
                  "input_amount": {
                    "type": "string",
                    "description": "Input amount in atomic units of input_mint, as a decimal string. Forward (USDC-in) swaps are capped at 50000000 (50 USDC)."
                  },
                  "slippage_bps": {
                    "type": "integer",
                    "description": "Max slippage in basis points, 10-500.",
                    "minimum": 10,
                    "maximum": 500
                  }
                }
              },
              "example": {
                "input_mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "output_mint": "So11111111111111111111111111111111111111112",
                "input_amount": "1000000",
                "slippage_bps": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote object: expected_output, route plan, price_impact, fees, quote_id and x402_pay_url for the execute step."
          },
          "402": {
            "description": "Payment Required - x402 challenge with Solana mainnet USDC accept ($0.001 quote fee)."
          }
        }
      }
    }
  }
}