{
  "openapi": "3.1.0",
  "info": {
    "title": "minia2a Web Scrape",
    "description": "Pay-per-call web scraping via x402: extract structured text from any URL with optional CSS selector targeting. Part of the minia2a M2M micropayment marketplace (323+ services).",
    "version": "1.0.0",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    {
      "url": "https://minia2a.uk"
    }
  ],
  "paths": {
    "/x402/proxy/x402-web-scrape": {
      "get": {
        "summary": "Extract structured text content from a URL",
        "description": "Extract structured text content from any URL with optional CSS selector targeting for precise data extraction. Supports multiple payment paths: Base (USDC), Solana (USDC), Polygon, BSC, XRPL (RLUSD), Injective, and Algorand.",
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": ["x402"],
          "pricingMode": "fixed",
          "price": "$0.005"
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL to scrape content from. Must be a valid HTTP or HTTPS URL.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "selector",
            "in": "query",
            "required": false,
            "description": "Optional CSS selector for targeted extraction. When provided, only elements matching this selector are returned. When omitted, all visible text content is extracted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scraped content returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "url": { "type": "string" },
                    "text": { "type": "string" },
                    "length": { "type": "integer" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — agent must sign and resubmit with X402-PAYMENT header"
          }
        }
      }
    }
  }
}
