{
  "openapi": "3.0.3",
  "info": {
    "title": "Generative Language API (Gemini)",
    "description": "Use Google Gemini models for text generation, multimodal image/audio/video understanding, chat, embeddings, code generation, JSON output, function calling, cached context, file search, grounding with Google Search, and fine-tuned models.",
    "version": "v1beta"
  },
  "servers": [
    {
      "url": "https://generativelanguage.google.gateway-402.com"
    }
  ],
  "paths": {
    "/v1beta/dynamic/{dynamicId}:generateContent": {
      "post": {
        "operationId": "generativelanguage.dynamic.generateContent",
        "summary": "Generates a model response given an input",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `dynamic` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/dynamic/{dynamicId}:streamGenerateContent": {
      "post": {
        "operationId": "generativelanguage.dynamic.streamGenerateContent",
        "summary": "Stream a generated response from a tuned dynamic model.",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `dynamic` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "operationId": "generativelanguage.models.list",
        "summary": "List available Gemini models and their metadata.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The maximum number of `Models` to return (per page). If unspecified, 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}": {
      "get": {
        "operationId": "generativelanguage.models.get",
        "summary": "Gets information about a specific `Model` such as its version",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:asyncBatchEmbedContent": {
      "post": {
        "operationId": "generativelanguage.models.asyncBatchEmbedContent",
        "summary": "Enqueues a batch of `EmbedContent` requests for batch",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:batchEmbedContents": {
      "post": {
        "operationId": "generativelanguage.models.batchEmbedContents",
        "summary": "Generates multiple embedding vectors from the input `Content`",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEmbedContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEmbedContentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:batchEmbedText": {
      "post": {
        "operationId": "generativelanguage.models.batchEmbedText",
        "summary": "Generates multiple embeddings from the model given input text",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEmbedTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEmbedTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:batchGenerateContent": {
      "post": {
        "operationId": "generativelanguage.models.batchGenerateContent",
        "summary": "Enqueues a batch of `GenerateContent` requests for batch",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:countMessageTokens": {
      "post": {
        "operationId": "generativelanguage.models.countMessageTokens",
        "summary": "Runs a model's tokenizer on a string and returns the token",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountMessageTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountMessageTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:countTextTokens": {
      "post": {
        "operationId": "generativelanguage.models.countTextTokens",
        "summary": "Runs a model's tokenizer on a text and returns the token count.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTextTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTextTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:countTokens": {
      "post": {
        "operationId": "generativelanguage.models.countTokens",
        "summary": "Runs a model's tokenizer on input `Content` and returns the",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:embedContent": {
      "post": {
        "operationId": "generativelanguage.models.embedContent",
        "summary": "Generates a text embedding vector from the input `Content`",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:embedText": {
      "post": {
        "operationId": "generativelanguage.models.embedText",
        "summary": "Generates an embedding from the model given an input message.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:generateAnswer": {
      "post": {
        "operationId": "generativelanguage.models.generateAnswer",
        "summary": "Generates a grounded answer from the model given an input",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAnswerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:generateContent": {
      "post": {
        "operationId": "generativelanguage.models.generateContent",
        "summary": "Generates a model response given an input",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:generateMessage": {
      "post": {
        "operationId": "generativelanguage.models.generateMessage",
        "summary": "Generates a response from the model given an input",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:generateText": {
      "post": {
        "operationId": "generativelanguage.models.generateText",
        "summary": "Generates a response from the model given an input message.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:predict": {
      "post": {
        "operationId": "generativelanguage.models.predict",
        "summary": "Performs a prediction request.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:predictLongRunning": {
      "post": {
        "operationId": "generativelanguage.models.predictLongRunning",
        "summary": "Same as Predict but returns an LRO.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictLongRunningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{modelsId}:streamGenerateContent": {
      "post": {
        "operationId": "generativelanguage.models.streamGenerateContent",
        "summary": "Stream a generated model response as server-sent chunks.",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `model` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AsyncBatchEmbedContentRequest": {
        "type": "object",
        "description": "Request for an `AsyncBatchEmbedContent` operation.",
        "properties": {
          "batch": {
            "$ref": "#/components/schemas/EmbedContentBatch"
          }
        }
      },
      "AttributionSourceId": {
        "type": "object",
        "description": "Identifier for the source contributing to this attribution.",
        "properties": {
          "groundingPassage": {
            "$ref": "#/components/schemas/GroundingPassageId"
          },
          "semanticRetrieverChunk": {
            "$ref": "#/components/schemas/SemanticRetrieverChunk"
          }
        }
      },
      "AudioResponseFormat": {
        "type": "object",
        "description": "Configuration for audio output format.",
        "properties": {
          "sampleRate": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Sample rate in Hz."
          },
          "bitRate": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus)."
          },
          "mimeType": {
            "type": "string",
            "description": "Optional. The MIME type of the audio output.",
            "enum": [
              "MIME_TYPE_UNSPECIFIED",
              "AUDIO_MP3",
              "AUDIO_OGG_OPUS",
              "AUDIO_L16",
              "AUDIO_WAV",
              "AUDIO_ALAW",
              "AUDIO_MULAW"
            ]
          },
          "delivery": {
            "type": "string",
            "description": "Optional. The delivery mode for the audio output.",
            "enum": [
              "DELIVERY_UNSPECIFIED",
              "INLINE",
              "URI"
            ]
          }
        }
      },
      "BatchEmbedContentsRequest": {
        "type": "object",
        "description": "Batch request to get embeddings from the model for a list of prompts.",
        "properties": {
          "requests": {
            "type": "array",
            "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
            "items": {
              "$ref": "#/components/schemas/EmbedContentRequest"
            }
          }
        }
      },
      "BatchEmbedContentsResponse": {
        "type": "object",
        "description": "The response to a `BatchEmbedContentsRequest`.",
        "properties": {
          "usageMetadata": {
            "$ref": "#/components/schemas/EmbeddingUsageMetadata"
          },
          "embeddings": {
            "type": "array",
            "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
            "items": {
              "$ref": "#/components/schemas/ContentEmbedding"
            }
          }
        }
      },
      "BatchEmbedTextRequest": {
        "type": "object",
        "description": "Batch request to get a text embedding from the model.",
        "properties": {
          "texts": {
            "type": "array",
            "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown.",
            "items": {
              "type": "string"
            }
          },
          "requests": {
            "type": "array",
            "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set.",
            "items": {
              "$ref": "#/components/schemas/EmbedTextRequest"
            }
          }
        }
      },
      "BatchEmbedTextResponse": {
        "type": "object",
        "description": "The response to a EmbedTextRequest.",
        "properties": {
          "embeddings": {
            "type": "array",
            "description": "Output only. The embeddings generated from the input text.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            }
          }
        }
      },
      "BatchGenerateContentRequest": {
        "type": "object",
        "description": "Request for a `BatchGenerateContent` operation.",
        "properties": {
          "batch": {
            "$ref": "#/components/schemas/GenerateContentBatch"
          }
        }
      },
      "BatchStats": {
        "type": "object",
        "description": "Stats about the batch.",
        "properties": {
          "failedRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that failed to be processed."
          },
          "pendingRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that are still pending processing."
          },
          "requestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests in the batch."
          },
          "successfulRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that were successfully processed."
          }
        }
      },
      "Blob": {
        "type": "object",
        "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field.",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Raw bytes for media formats."
          },
          "mimeType": {
            "type": "string",
            "description": "The IANA standard MIME type of the source data. Examples of supported types: - Images: image/png, image/jpeg, image/jpg, image/webp, image/heic, image/heif, image/gif, image/avif - Audio: audio/*, video/audio/s16le, video/audio/wav - Video: video/* - Text: text/plain, text/html, text/css, text/javascript, text/x-typescript, text/csv, text/markdown, text/x-python, text/xml, text/rtf, video/text/timestamp - Applications: application/x-javascript, application/x-typescript, application/x-python-code, application/json, application/x-ipynb+json, application/rtf, application/pdf For additional context, see [Supported file formats](https://ai.google.dev/gemini-api/docs/file-input-methods#supported-content-types). //"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "description": "A response candidate generated from the model.",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "description": "List of ratings for the safety of a response candidate. There is at most one rating per category.",
            "items": {
              "$ref": "#/components/schemas/SafetyRating"
            }
          },
          "content": {
            "$ref": "#/components/schemas/Content"
          },
          "finishReason": {
            "type": "string",
            "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating tokens.",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE",
              "MALFORMED_RESPONSE",
              "ESCALATION"
            ]
          },
          "finishMessage": {
            "type": "string",
            "description": "Optional. Output only. Details the reason why the model stopped generating tokens. This is populated only when `finish_reason` is set."
          },
          "avgLogprobs": {
            "type": "number",
            "format": "double",
            "description": "Output only. Average log probability score of the candidate."
          },
          "urlContextMetadata": {
            "$ref": "#/components/schemas/UrlContextMetadata"
          },
          "citationMetadata": {
            "$ref": "#/components/schemas/CitationMetadata"
          },
          "groundingMetadata": {
            "$ref": "#/components/schemas/GroundingMetadata"
          },
          "logprobsResult": {
            "$ref": "#/components/schemas/LogprobsResult"
          },
          "groundingAttributions": {
            "type": "array",
            "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls.",
            "items": {
              "$ref": "#/components/schemas/GroundingAttribution"
            }
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Index of the candidate in the list of response candidates."
          },
          "tokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Token count for this candidate."
          }
        }
      },
      "CitationMetadata": {
        "type": "object",
        "description": "A collection of source attributions for a piece of content.",
        "properties": {
          "citationSources": {
            "type": "array",
            "description": "Citations to sources for a specific response.",
            "items": {
              "$ref": "#/components/schemas/CitationSource"
            }
          }
        }
      },
      "CitationSource": {
        "type": "object",
        "description": "A citation to a source for a portion of a specific response.",
        "properties": {
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. End of the attributed segment, exclusive."
          },
          "uri": {
            "type": "string",
            "description": "Optional. URI that is attributed as a source for a portion of the text."
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes."
          },
          "license": {
            "type": "string",
            "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations."
          }
        }
      },
      "CodeExecution": {
        "type": "object",
        "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
        "properties": {}
      },
      "CodeExecutionResult": {
        "type": "object",
        "description": "Result of executing the `ExecutableCode`. Generated only when the `CodeExecution` tool is used.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id."
          },
          "outcome": {
            "type": "string",
            "description": "Required. Outcome of the code execution.",
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ]
          },
          "output": {
            "type": "string",
            "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
          }
        }
      },
      "ComputerUse": {
        "type": "object",
        "description": "Computer Use tool type.",
        "properties": {
          "environment": {
            "type": "string",
            "description": "Required. The environment being operated.",
            "enum": [
              "ENVIRONMENT_UNSPECIFIED",
              "ENVIRONMENT_BROWSER",
              "ENVIRONMENT_MOBILE",
              "ENVIRONMENT_DESKTOP"
            ]
          },
          "disabledSafetyPolicies": {
            "type": "array",
            "description": "Optional. Disabled safety policies for computer use.",
            "items": {
              "type": "string",
              "enum": [
                "SAFETY_POLICY_UNSPECIFIED",
                "FINANCIAL_TRANSACTIONS",
                "SENSITIVE_DATA_MODIFICATION",
                "COMMUNICATION_TOOL",
                "ACCOUNT_CREATION",
                "DATA_MODIFICATION",
                "USER_CONSENT_MANAGEMENT",
                "LEGAL_TERMS_AND_AGREEMENTS"
              ]
            }
          },
          "excludedPredefinedFunctions": {
            "type": "array",
            "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
            "items": {
              "type": "string"
            }
          },
          "enablePromptInjectionDetection": {
            "type": "boolean",
            "description": "Optional. Whether enable the prompt injection detection check on computer-use request."
          }
        }
      },
      "Condition": {
        "type": "object",
        "description": "Filter condition applicable to a single key.",
        "properties": {
          "stringValue": {
            "type": "string",
            "description": "The string value to filter the metadata on."
          },
          "numericValue": {
            "type": "number",
            "format": "float",
            "description": "The numeric value to filter the metadata on."
          },
          "operation": {
            "type": "string",
            "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
            "enum": [
              "OPERATOR_UNSPECIFIED",
              "LESS",
              "LESS_EQUAL",
              "EQUAL",
              "GREATER_EQUAL",
              "GREATER",
              "NOT_EQUAL",
              "INCLUDES",
              "EXCLUDES"
            ]
          }
        }
      },
      "Content": {
        "type": "object",
        "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
        "properties": {
          "parts": {
            "type": "array",
            "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          },
          "role": {
            "type": "string",
            "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset."
          }
        }
      },
      "ContentEmbedding": {
        "type": "object",
        "description": "A list of floats representing an embedding.",
        "properties": {
          "values": {
            "type": "array",
            "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "shape": {
            "type": "array",
            "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048]).",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "ContentFilter": {
        "type": "object",
        "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason content was blocked during request processing.",
            "enum": [
              "BLOCKED_REASON_UNSPECIFIED",
              "SAFETY",
              "OTHER"
            ]
          },
          "message": {
            "type": "string",
            "description": "A string that describes the filtering behavior in more detail."
          }
        }
      },
      "CountMessageTokensRequest": {
        "type": "object",
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/MessagePrompt"
          }
        }
      },
      "CountMessageTokensResponse": {
        "type": "object",
        "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "tokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
          }
        }
      },
      "CountTextTokensRequest": {
        "type": "object",
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/TextPrompt"
          }
        }
      },
      "CountTextTokensResponse": {
        "type": "object",
        "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "tokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
          }
        }
      },
      "CountTokensRequest": {
        "type": "object",
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "contents": {
            "type": "array",
            "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "generateContentRequest": {
            "$ref": "#/components/schemas/GenerateContentRequest"
          }
        }
      },
      "CountTokensResponse": {
        "type": "object",
        "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "cacheTokensDetails": {
            "type": "array",
            "description": "Output only. List of modalities that were processed in the cached content.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            }
          },
          "totalTokens": {
            "type": "integer",
            "format": "int32",
            "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always non-negative."
          },
          "cachedContentTokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of tokens in the cached part of the prompt (the cached content)."
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "Output only. List of modalities that were processed in the request input.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            }
          }
        }
      },
      "DynamicRetrievalConfig": {
        "type": "object",
        "description": "Describes the options to customize dynamic retrieval.",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The mode of the predictor to be used in dynamic retrieval.",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_DYNAMIC"
            ]
          },
          "dynamicThreshold": {
            "type": "number",
            "format": "float",
            "description": "The threshold to be used in dynamic retrieval. If not set, a system default value is used."
          }
        }
      },
      "EmbedContentBatch": {
        "type": "object",
        "description": "A resource representing a batch of `EmbedContent` requests.",
        "properties": {
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch processing completed."
          },
          "output": {
            "$ref": "#/components/schemas/EmbedContentBatchOutput"
          },
          "model": {
            "type": "string",
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`."
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch was created."
          },
          "name": {
            "type": "string",
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`."
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch was last updated."
          },
          "inputConfig": {
            "$ref": "#/components/schemas/InputEmbedContentConfig"
          },
          "batchStats": {
            "$ref": "#/components/schemas/EmbedContentBatchStats"
          },
          "state": {
            "type": "string",
            "description": "Output only. The state of the batch.",
            "enum": [
              "BATCH_STATE_UNSPECIFIED",
              "BATCH_STATE_PENDING",
              "BATCH_STATE_RUNNING",
              "BATCH_STATE_SUCCEEDED",
              "BATCH_STATE_FAILED",
              "BATCH_STATE_CANCELLED",
              "BATCH_STATE_EXPIRED"
            ]
          },
          "priority": {
            "type": "string",
            "format": "int64",
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0."
          },
          "displayName": {
            "type": "string",
            "description": "Required. The user-defined name of this batch."
          }
        }
      },
      "EmbedContentBatchOutput": {
        "type": "object",
        "description": "The output of a batch request. This is returned in the `AsyncBatchEmbedContentResponse` or the `EmbedContentBatch.output` field.",
        "properties": {
          "inlinedResponses": {
            "$ref": "#/components/schemas/InlinedEmbedContentResponses"
          },
          "responsesFile": {
            "type": "string",
            "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `EmbedContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests."
          }
        }
      },
      "EmbedContentBatchStats": {
        "type": "object",
        "description": "Stats about the batch.",
        "properties": {
          "successfulRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that were successfully processed."
          },
          "requestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests in the batch."
          },
          "pendingRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that are still pending processing."
          },
          "failedRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that failed to be processed."
          }
        }
      },
      "EmbedContentConfig": {
        "type": "object",
        "description": "Configurations for the EmbedContent request.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Optional. The title for the text."
          },
          "taskType": {
            "type": "string",
            "description": "Optional. The task type of the embedding.",
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "RETRIEVAL_QUERY",
              "RETRIEVAL_DOCUMENT",
              "SEMANTIC_SIMILARITY",
              "CLASSIFICATION",
              "CLUSTERING",
              "QUESTION_ANSWERING",
              "FACT_VERIFICATION",
              "CODE_RETRIEVAL_QUERY"
            ]
          },
          "documentOcr": {
            "type": "boolean",
            "description": "Optional. Whether to enable OCR for document content."
          },
          "outputDimensionality": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end."
          },
          "autoTruncate": {
            "type": "boolean",
            "description": "Optional. Whether to silently truncate the input content if it's longer than the maximum sequence length."
          },
          "audioTrackExtraction": {
            "type": "boolean",
            "description": "Optional. Whether to extract audio from video content."
          }
        }
      },
      "EmbedContentRequest": {
        "type": "object",
        "description": "Request containing the `Content` for the model to embed.",
        "properties": {
          "taskType": {
            "type": "string",
            "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. Optional task type for which the embeddings will be used. Not supported on earlier models (`models/embedding-001`).",
            "deprecated": true,
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "RETRIEVAL_QUERY",
              "RETRIEVAL_DOCUMENT",
              "SEMANTIC_SIMILARITY",
              "CLASSIFICATION",
              "CLUSTERING",
              "QUESTION_ANSWERING",
              "FACT_VERIFICATION",
              "CODE_RETRIEVAL_QUERY"
            ]
          },
          "embedContentConfig": {
            "$ref": "#/components/schemas/EmbedContentConfig"
          },
          "title": {
            "type": "string",
            "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval.",
            "deprecated": true
          },
          "model": {
            "type": "string",
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
          },
          "content": {
            "$ref": "#/components/schemas/Content"
          },
          "outputDimensionality": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024 only. You cannot set this value if using the earlier model (`models/embedding-001`).",
            "deprecated": true
          }
        }
      },
      "EmbedContentResponse": {
        "type": "object",
        "description": "The response to an `EmbedContentRequest`.",
        "properties": {
          "usageMetadata": {
            "$ref": "#/components/schemas/EmbeddingUsageMetadata"
          },
          "embedding": {
            "$ref": "#/components/schemas/ContentEmbedding"
          }
        }
      },
      "EmbedTextRequest": {
        "type": "object",
        "description": "Request to get a text embedding from the model.",
        "properties": {
          "text": {
            "type": "string",
            "description": "Optional. The free-form input text that the model will turn into an embedding."
          },
          "model": {
            "type": "string",
            "description": "Required. The model name to use with the format model=models/{model}."
          }
        }
      },
      "EmbedTextResponse": {
        "type": "object",
        "description": "The response to a EmbedTextRequest.",
        "properties": {
          "embedding": {
            "$ref": "#/components/schemas/Embedding"
          }
        }
      },
      "Embedding": {
        "type": "object",
        "description": "A list of floats representing the embedding.",
        "properties": {
          "value": {
            "type": "array",
            "description": "The embedding values.",
            "items": {
              "type": "number",
              "format": "float"
            }
          }
        }
      },
      "EmbeddingUsageMetadata": {
        "type": "object",
        "description": "Metadata on the usage of the embedding request.",
        "properties": {
          "promptTokenDetails": {
            "type": "array",
            "description": "Output only. List of modalities that were processed in the request input.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            }
          },
          "promptTokenCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of tokens in the prompt."
          }
        }
      },
      "Example": {
        "type": "object",
        "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/Message"
          },
          "output": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "ExecutableCode": {
        "type": "object",
        "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Only generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding `CodeExecutionResult` will also be generated.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`."
          },
          "language": {
            "type": "string",
            "description": "Required. Programming language of the `code`.",
            "enum": [
              "LANGUAGE_UNSPECIFIED",
              "PYTHON"
            ]
          },
          "code": {
            "type": "string",
            "description": "Required. The code to be executed."
          }
        }
      },
      "FileData": {
        "type": "object",
        "description": "URI based data.",
        "properties": {
          "fileUri": {
            "type": "string",
            "description": "Required. URI."
          },
          "mimeType": {
            "type": "string",
            "description": "Optional. The IANA standard MIME type of the source data."
          }
        }
      },
      "FileSearch": {
        "type": "object",
        "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API.",
        "properties": {
          "topK": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The number of semantic retrieval chunks to retrieve."
          },
          "metadataFilter": {
            "type": "string",
            "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks."
          },
          "fileSearchStoreNames": {
            "type": "array",
            "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FunctionCall": {
        "type": "object",
        "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128."
          },
          "id": {
            "type": "string",
            "description": "Optional. Unique identifier of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`."
          },
          "args": {
            "type": "object",
            "description": "Optional. The function parameters and values in JSON object format.",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        }
      },
      "FunctionCallingConfig": {
        "type": "object",
        "description": "Configuration for specifying function calling behavior.",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO.",
            "enum": [
              "MODE_UNSPECIFIED",
              "AUTO",
              "ANY",
              "NONE",
              "VALIDATED"
            ]
          },
          "allowedFunctionNames": {
            "type": "array",
            "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY or VALIDATED. Function names should match [FunctionDeclaration.name]. When set, model will predict a function call from only allowed function names.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FunctionDeclaration": {
        "type": "object",
        "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. The name of the function. Must be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes, with a maximum length of 128."
          },
          "behavior": {
            "type": "string",
            "description": "Optional. Specifies the function Behavior. Currently only supported by the BidiGenerateContent method.",
            "enum": [
              "UNSPECIFIED",
              "BLOCKING",
              "NON_BLOCKING"
            ]
          },
          "parameters": {
            "$ref": "#/components/schemas/Schema"
          },
          "parametersJsonSchema": {
            "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`."
          },
          "description": {
            "type": "string",
            "description": "Required. A brief description of the function."
          },
          "response": {
            "$ref": "#/components/schemas/Schema"
          },
          "responseJsonSchema": {
            "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
          }
        }
      },
      "FunctionResponse": {
        "type": "object",
        "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
        "properties": {
          "willContinue": {
            "type": "boolean",
            "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`."
          },
          "response": {
            "type": "object",
            "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "name": {
            "type": "string",
            "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128."
          },
          "parts": {
            "type": "array",
            "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
            "items": {
              "$ref": "#/components/schemas/FunctionResponsePart"
            }
          },
          "id": {
            "type": "string",
            "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`."
          },
          "scheduling": {
            "type": "string",
            "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
            "enum": [
              "SCHEDULING_UNSPECIFIED",
              "SILENT",
              "WHEN_IDLE",
              "INTERRUPT"
            ]
          }
        }
      },
      "FunctionResponseBlob": {
        "type": "object",
        "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'FunctionResponse.response' field.",
        "properties": {
          "mimeType": {
            "type": "string",
            "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats)."
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Raw bytes for media formats."
          }
        }
      },
      "FunctionResponsePart": {
        "type": "object",
        "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/FunctionResponseBlob"
          }
        }
      },
      "GenerateAnswerRequest": {
        "type": "object",
        "description": "Request to generate a grounded answer from the `Model`.",
        "properties": {
          "temperature": {
            "type": "number",
            "format": "float",
            "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases."
          },
          "answerStyle": {
            "type": "string",
            "description": "Required. Style in which answers should be returned.",
            "enum": [
              "ANSWER_STYLE_UNSPECIFIED",
              "ABSTRACTIVE",
              "EXTRACTIVE",
              "VERBOSE"
            ]
          },
          "inlinePassages": {
            "$ref": "#/components/schemas/GroundingPassages"
          },
          "contents": {
            "type": "array",
            "description": "Required. The content of the current conversation with the `Model`. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: `GenerateAnswer` only supports queries in English.",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "safetySettings": {
            "type": "array",
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "semanticRetriever": {
            "$ref": "#/components/schemas/SemanticRetrieverConfig"
          }
        }
      },
      "GenerateAnswerResponse": {
        "type": "object",
        "description": "Response from the model for a grounded answer.",
        "properties": {
          "answerableProbability": {
            "type": "number",
            "format": "float",
            "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low `answerable_probability` indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, you may want to: * Display a message to the effect of \"We couldn\u2019t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual use cases. `0.5` is a good starting threshold."
          },
          "answer": {
            "$ref": "#/components/schemas/Candidate"
          },
          "inputFeedback": {
            "$ref": "#/components/schemas/InputFeedback"
          }
        }
      },
      "GenerateContentBatch": {
        "type": "object",
        "description": "A resource representing a batch of `GenerateContent` requests.",
        "properties": {
          "output": {
            "$ref": "#/components/schemas/GenerateContentBatchOutput"
          },
          "endTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch processing completed."
          },
          "displayName": {
            "type": "string",
            "description": "Required. The user-defined name of this batch."
          },
          "batchStats": {
            "$ref": "#/components/schemas/BatchStats"
          },
          "state": {
            "type": "string",
            "description": "Output only. The state of the batch.",
            "enum": [
              "BATCH_STATE_UNSPECIFIED",
              "BATCH_STATE_PENDING",
              "BATCH_STATE_RUNNING",
              "BATCH_STATE_SUCCEEDED",
              "BATCH_STATE_FAILED",
              "BATCH_STATE_CANCELLED",
              "BATCH_STATE_EXPIRED"
            ]
          },
          "priority": {
            "type": "string",
            "format": "int64",
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0."
          },
          "inputConfig": {
            "$ref": "#/components/schemas/InputConfig"
          },
          "name": {
            "type": "string",
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`."
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch was last updated."
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the batch was created."
          },
          "model": {
            "type": "string",
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`."
          }
        }
      },
      "GenerateContentBatchOutput": {
        "type": "object",
        "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field.",
        "properties": {
          "responsesFile": {
            "type": "string",
            "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests."
          },
          "inlinedResponses": {
            "$ref": "#/components/schemas/InlinedResponses"
          }
        }
      },
      "GenerateContentRequest": {
        "type": "object",
        "description": "Request to generate a completion from the model.",
        "properties": {
          "store": {
            "type": "boolean",
            "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config."
          },
          "cachedContent": {
            "type": "string",
            "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`"
          },
          "contents": {
            "type": "array",
            "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "safetySettings": {
            "type": "array",
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "tools": {
            "type": "array",
            "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content"
          },
          "serviceTier": {
            "type": "string",
            "description": "Optional. The service tier of the request.",
            "enum": [
              "unspecified",
              "standard",
              "flex",
              "priority"
            ]
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig"
          },
          "model": {
            "type": "string",
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`."
          },
          "toolConfig": {
            "$ref": "#/components/schemas/ToolConfig"
          }
        }
      },
      "GenerateContentResponse": {
        "type": "object",
        "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`.",
        "properties": {
          "modelVersion": {
            "type": "string",
            "description": "Output only. The model version used to generate the response."
          },
          "candidates": {
            "type": "array",
            "description": "Candidate responses from the model.",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "modelStatus": {
            "$ref": "#/components/schemas/ModelStatus"
          },
          "responseId": {
            "type": "string",
            "description": "Output only. response_id is used to identify each response."
          }
        }
      },
      "GenerateMessageRequest": {
        "type": "object",
        "description": "Request to generate a message response from the model.",
        "properties": {
          "candidateCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`."
          },
          "prompt": {
            "$ref": "#/components/schemas/MessagePrompt"
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
          },
          "topP": {
            "type": "number",
            "format": "float",
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`."
          },
          "topK": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens."
          }
        }
      },
      "GenerateMessageResponse": {
        "type": "object",
        "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
        "properties": {
          "messages": {
            "type": "array",
            "description": "The conversation history used by the model.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "filters": {
            "type": "array",
            "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
            "items": {
              "$ref": "#/components/schemas/ContentFilter"
            }
          },
          "candidates": {
            "type": "array",
            "description": "Candidate response messages from the model.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "GenerateTextRequest": {
        "type": "object",
        "description": "Request to generate a text completion response from the model.",
        "properties": {
          "safetySettings": {
            "type": "array",
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "topP": {
            "type": "number",
            "format": "float",
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function."
          },
          "topK": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function."
          },
          "stopSequences": {
            "type": "array",
            "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
            "items": {
              "type": "string"
            }
          },
          "candidateCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1."
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model."
          },
          "maxOutputTokens": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification."
          },
          "prompt": {
            "$ref": "#/components/schemas/TextPrompt"
          }
        }
      },
      "GenerateTextResponse": {
        "type": "object",
        "description": "The response from the model, including candidate completions.",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Candidate responses from the model.",
            "items": {
              "$ref": "#/components/schemas/TextCompletion"
            }
          },
          "filters": {
            "type": "array",
            "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
            "items": {
              "$ref": "#/components/schemas/ContentFilter"
            }
          },
          "safetyFeedback": {
            "type": "array",
            "description": "Returns any safety feedback related to content filtering.",
            "items": {
              "$ref": "#/components/schemas/SafetyFeedback"
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
        "properties": {
          "responseModalities": {
            "type": "array",
            "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
            "items": {
              "type": "string",
              "enum": [
                "MODALITY_UNSPECIFIED",
                "TEXT",
                "IMAGE",
                "AUDIO"
              ]
            }
          },
          "candidateCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)"
          },
          "translationConfig": {
            "$ref": "#/components/schemas/TranslationConfig"
          },
          "topK": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests."
          },
          "seed": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed."
          },
          "imageConfig": {
            "$ref": "#/components/schemas/ImageConfig"
          },
          "_responseJsonSchema": {
            "description": "Optional. Output schema of the generated response. This is an alternative to `response_schema` that accepts [JSON Schema](https://json-schema.org/). If set, `response_schema` must be omitted, but `response_mime_type` is required. While the full JSON Schema may be sent, not all features are supported. Specifically, only the following properties are supported: - `$id` - `$defs` - `$ref` - `$anchor` - `type` - `format` - `title` - `description` - `enum` (for strings and numbers) - `items` - `prefixItems` - `minItems` - `maxItems` - `minimum` - `maximum` - `anyOf` - `oneOf` (interpreted the same as `anyOf`) - `properties` - `additionalProperties` - `required` The non-standard `propertyOrdering` property may also be set. Cyclic references are unrolled to a limited degree and, as such, may only be used within non-required properties. (Nullable properties are not sufficient.) If `$ref` is set on a sub-schema, no other properties, except for than those starting as a `$`, may be set."
          },
          "enableEnhancedCivicAnswers": {
            "type": "boolean",
            "description": "Optional. Enables enhanced civic answers. It may not be available for all models."
          },
          "thinkingConfig": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "stopSequences": {
            "type": "array",
            "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
            "items": {
              "type": "string"
            }
          },
          "responseSchema": {
            "$ref": "#/components/schemas/Schema"
          },
          "speechConfig": {
            "$ref": "#/components/schemas/SpeechConfig"
          },
          "responseJsonSchema": {
            "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field."
          },
          "responseMimeType": {
            "type": "string",
            "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types."
          },
          "logprobs": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20]."
          },
          "mediaResolution": {
            "type": "string",
            "description": "Optional. If specified, the media resolution specified will be used.",
            "enum": [
              "MEDIA_RESOLUTION_UNSPECIFIED",
              "MEDIA_RESOLUTION_LOW",
              "MEDIA_RESOLUTION_MEDIUM",
              "MEDIA_RESOLUTION_HIGH"
            ]
          },
          "maxOutputTokens": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function."
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0]."
          },
          "responseLogprobs": {
            "type": "boolean",
            "description": "Optional. If true, export the logprobs results in response."
          },
          "topP": {
            "type": "number",
            "format": "float",
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests."
          },
          "frequencyPenalty": {
            "type": "number",
            "format": "float",
            "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit."
          },
          "presencePenalty": {
            "type": "number",
            "format": "float",
            "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary."
          },
          "responseFormat": {
            "$ref": "#/components/schemas/ResponseFormatConfig"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaGroundingSupport": {
        "type": "object",
        "description": "Grounding support.",
        "properties": {
          "groundingChunkIndices": {
            "type": "array",
            "description": "Optional. A list of indices (into 'grounding_chunk' in `response.candidate.grounding_metadata`) specifying the citations associated with the claim. For instance [1,3,4] means that grounding_chunk[1], grounding_chunk[3], grounding_chunk[4] are the retrieved content attributed to the claim. If the response is streaming, the grounding_chunk_indices refer to the indices across all responses. It is the client's responsibility to accumulate the grounding chunks from all responses (while maintaining the same order).",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "renderedParts": {
            "type": "array",
            "description": "Output only. Indices into the `parts` field of the candidate's content. These indices specify which rendered parts are associated with this support source.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "confidenceScores": {
            "type": "array",
            "description": "Optional. Confidence score of the support references. Ranges from 0 to 1. 1 is the most confident. This list must have the same size as the grounding_chunk_indices.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "segment": {
            "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaSegment"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaSegment": {
        "type": "object",
        "description": "Segment of the content.",
        "properties": {
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Start index in the given Part, measured in bytes. Offset from the start of the Part, inclusive, starting at zero."
          },
          "endIndex": {
            "type": "integer",
            "format": "int32",
            "description": "End index in the given Part, measured in bytes. Offset from the start of the Part, exclusive, starting at zero."
          },
          "text": {
            "type": "string",
            "description": "The text corresponding to the segment from the response."
          },
          "partIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The index of a Part object within its parent Content object."
          }
        }
      },
      "GoogleMaps": {
        "type": "object",
        "description": "The GoogleMaps Tool that provides geospatial context for the user's query.",
        "properties": {
          "enableWidget": {
            "type": "boolean",
            "description": "Optional. Whether to return a widget context token in the GroundingMetadata of the response. Developers can use the widget context token to render a Google Maps widget with geospatial context related to the places that the model references in the response."
          }
        }
      },
      "GoogleSearch": {
        "type": "object",
        "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
        "properties": {
          "timeRangeFilter": {
            "$ref": "#/components/schemas/Interval"
          },
          "searchTypes": {
            "$ref": "#/components/schemas/SearchTypes"
          }
        }
      },
      "GoogleSearchRetrieval": {
        "type": "object",
        "description": "Tool to retrieve public web data for grounding, powered by Google.",
        "properties": {
          "dynamicRetrievalConfig": {
            "$ref": "#/components/schemas/DynamicRetrievalConfig"
          }
        }
      },
      "GroundingAttribution": {
        "type": "object",
        "description": "Attribution for a source that contributed to an answer.",
        "properties": {
          "sourceId": {
            "$ref": "#/components/schemas/AttributionSourceId"
          },
          "content": {
            "$ref": "#/components/schemas/Content"
          }
        }
      },
      "GroundingChunk": {
        "type": "object",
        "description": "A `GroundingChunk` represents a segment of supporting evidence that grounds the model's response. It can be a chunk from the web, a retrieved context from a file, or information from Google Maps.",
        "properties": {
          "retrievedContext": {
            "$ref": "#/components/schemas/RetrievedContext"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "web": {
            "$ref": "#/components/schemas/Web"
          },
          "maps": {
[...]
