{
  "components": {
    "schemas": {
      "EcommerceTranslationRequest": {
        "properties": {
          "FormatType": {
            "default": "text",
            "description": "Translation format. The upstream service supports plain text and HTML.",
            "enum": [
              "text",
              "html"
            ],
            "type": "string"
          },
          "Scene": {
            "description": "E-commerce translation engine selection.",
            "enum": [
              "title",
              "description",
              "communication"
            ],
            "type": "string"
          },
          "SourceLanguage": {
            "description": "Source language code. Use `auto` to enable language detection where supported.",
            "type": "string"
          },
          "SourceText": {
            "description": "Text to translate. Alibaba documents a 5,000-character limit per request.",
            "maxLength": 5000,
            "type": "string"
          },
          "TargetLanguage": {
            "description": "Target language code.",
            "type": "string"
          }
        },
        "required": [
          "FormatType",
          "Scene",
          "SourceLanguage",
          "TargetLanguage",
          "SourceText"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "Code": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "RequestId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GeneralTranslationRequest": {
        "properties": {
          "FormatType": {
            "default": "text",
            "description": "Translation format. The upstream service supports plain text and HTML.",
            "enum": [
              "text",
              "html"
            ],
            "type": "string"
          },
          "Scene": {
            "default": "general",
            "description": "Optional general-purpose scene selector.",
            "enum": [
              "general"
            ],
            "type": "string"
          },
          "SourceLanguage": {
            "description": "Source language code. Use `auto` to enable language detection.",
            "type": "string"
          },
          "SourceText": {
            "description": "Text to translate. Alibaba documents a 5,000-character limit per request.",
            "maxLength": 5000,
            "type": "string"
          },
          "TargetLanguage": {
            "description": "Target language code.",
            "type": "string"
          }
        },
        "required": [
          "FormatType",
          "SourceLanguage",
          "TargetLanguage",
          "SourceText"
        ],
        "type": "object"
      },
      "TranslationResponseData": {
        "properties": {
          "DetectedLanguage": {
            "description": "Detected source language when `SourceLanguage` is `auto`.",
            "type": "string"
          },
          "Translated": {
            "description": "Translated output text.",
            "type": "string"
          },
          "WordCount": {
            "description": "Word count returned by the upstream service.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TranslationResponseEnvelope": {
        "properties": {
          "Code": {
            "description": "Alibaba Machine Translation status code.",
            "type": "integer"
          },
          "Data": {
            "$ref": "#/components/schemas/TranslationResponseData"
          },
          "Message": {
            "description": "Human-readable status message.",
            "type": "string"
          },
          "RequestId": {
            "description": "Alibaba request identifier.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Filtered OpenAPI description for the Alibaba Cloud Machine Translation proxy. This proxy exposes the documented REST subset for general-purpose and e-commerce translation through the Hangzhou regional endpoint.",
    "title": "Alibaba Cloud Machine Translation REST API",
    "version": "2019-01-02"
  },
  "openapi": "3.0.3",
  "paths": {
    "/api/translate/web/ecommerce": {
      "post": {
        "description": "Submit a synchronous translation request to Alibaba Cloud Machine Translation's e-commerce REST endpoint.",
        "operationId": "alibaba.machineTranslation.translateEcommerceRest",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "FormatType": "text",
                "Scene": "title",
                "SourceLanguage": "en",
                "SourceText": "Wireless noise cancelling headphones",
                "TargetLanguage": "zh"
              },
              "schema": {
                "$ref": "#/components/schemas/EcommerceTranslationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponseEnvelope"
                }
              }
            },
            "description": "Successful translation response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request validation or upstream translation error."
          }
        },
        "summary": "Translate text with the e-commerce engine",
        "tags": [
          "ecommerce"
        ]
      }
    },
    "/api/translate/web/general": {
      "post": {
        "description": "Submit a synchronous translation request to Alibaba Cloud Machine Translation's general-purpose REST endpoint.",
        "operationId": "alibaba.machineTranslation.translateGeneralRest",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "FormatType": "text",
                "Scene": "general",
                "SourceLanguage": "en",
                "SourceText": "Hello from Agent Gateway",
                "TargetLanguage": "zh"
              },
              "schema": {
                "$ref": "#/components/schemas/GeneralTranslationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponseEnvelope"
                }
              }
            },
            "description": "Successful translation response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request validation or upstream translation error."
          }
        },
        "summary": "Translate text with the general-purpose engine",
        "tags": [
          "general"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://machinetranslation.alibaba.gateway-402.com"
    }
  ],
  "tags": [
    {
      "name": "general"
    },
    {
      "name": "ecommerce"
    }
  ]
}
