{
  "openapi": "3.1.0",
  "info": {
    "title": "SameDayDesk agent preflight APIs on Solana",
    "version": "1.1.0",
    "description": "Deterministic opportunity economics plus credential-free x402 and MPP offer inspection. The service does not claim, bid, submit, authorize, sign, or pay on source platforms.",
    "contact": {
      "email": "contact@samedaydesk.com",
      "url": "https://samedaydesk.com"
    },
    "x-guidance": "Use /work/opportunity-preflight for bounty and paid-task economics. Use /commerce/payment-offer-preflight to inspect one exact public HTTPS GET route before authorizing its payment. Supply every required query parameter, inspect this server's live HTTP 402 x402 and MPP offers, enforce your own Solana-USDC price policy, then retry the identical request with one supported payment credential."
  },
  "servers": [
    {
      "url": "https://solana.samedaydesk.com"
    }
  ],
  "paths": {
    "/work/opportunity-preflight": {
      "get": {
        "operationId": "opportunityPreflight",
        "summary": "Evaluate a work opportunity before spending effort or money",
        "description": "Returns deterministic break-even economics, hard blocks, required verification, warnings, and a bounded attempt, verify_first, or abandon decision.",
        "tags": ["Agent Operations"],
        "x-payment-info": {
          "price": {
            "amount": "0.01",
            "currency": "USD",
            "mode": "fixed"
          },
          "protocols": [
            {
              "x402": {
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "scheme": "exact"
              }
            },
            {
              "mpp": {
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "intent": "charge",
                "method": "solana",
                "network": "mainnet"
              }
            }
          ]
        },
        "parameters": [
          {"name": "rewardUsd", "in": "query", "required": true, "schema": {"type": "number", "exclusiveMinimum": 0}, "description": "Gross reward in USD or USD-denominated stablecoin."},
          {"name": "hours", "in": "query", "required": true, "schema": {"type": "number", "minimum": 0, "maximum": 10000}, "description": "Estimated execution hours."},
          {"name": "hourlyCostUsd", "in": "query", "required": true, "schema": {"type": "number", "minimum": 0, "maximum": 100000}, "description": "Chosen opportunity cost per hour in USD."},
          {"name": "computeUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Expected compute and API cost."},
          {"name": "mandatorySpendUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Irrecoverable entry or execution spend."},
          {"name": "reusableValueUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Conservative reusable value retained without selection."},
          {"name": "selectionProbabilityPct", "in": "query", "schema": {"type": "number", "minimum": 0, "maximum": 100}, "description": "Caller-supplied probability estimate, not inferred by the service."},
          {"name": "competition", "in": "query", "schema": {"type": "integer", "minimum": 0}, "description": "Visible competing entries or workers."},
          {"name": "slots", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Number of paid or selected slots."},
          {"name": "platform", "in": "query", "schema": {"type": "string"}, "description": "Optional platform identifier for dated SameDayDesk evidence."},
          {"name": "agentAccess", "in": "query", "schema": {"type": "string", "enum": ["agent_allowed", "agent_only", "mixed", "human_only", "unknown"]}, "description": "Observed execution-access class."},
          {"name": "acceptance", "in": "query", "schema": {"type": "string", "enum": ["deterministic", "machine_scored", "timed_review", "discretionary", "unknown"]}, "description": "Observed acceptance mechanism."},
          {"name": "settlement", "in": "query", "schema": {"type": "string", "enum": ["direct", "escrow", "platform_balance", "discretionary", "unfunded", "unknown"]}, "description": "Observed settlement mechanism."}
        ],
        "responses": {
          "200": {
            "description": "Deterministic preflight result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "product", "version", "decision", "input", "economics", "gates", "boundary"],
                  "properties": {
                    "ok": {"type": "boolean"},
                    "product": {"type": "string"},
                    "version": {"type": "string"},
                    "decision": {"type": "string", "enum": ["attempt", "verify_first", "abandon"]},
                    "input": {"type": "object"},
                    "economics": {"type": "object"},
                    "gates": {"type": "object"},
                    "platformEvidence": {"type": ["object", "null"]},
                    "delivery": {"type": "object"},
                    "boundary": {"type": "string"}
                  }
                }
              }
            }
          },
          "402": {"description": "Solana machine payment required"},
          "503": {"description": "Input or delivery failure with no source-platform action"}
        }
      }
    },
    "/commerce/payment-offer-preflight": {
      "get": {
        "operationId": "paymentOfferPreflight",
        "summary": "Compare x402 and MPP offers before authorizing payment",
        "description": "Inspects the unpaid challenge headers of one exact public HTTPS GET route, normalizes x402 and MPP terms, checks route and realm binding, expiry, and economic parity, then returns a bounded authorization decision. Uses no target credential, signs nothing, sends no target payment, follows no redirect, and reads no target response body.",
        "tags": ["Agent Operations"],
        "x-payment-info": {
          "price": {
            "amount": "0.005",
            "currency": "USD",
            "mode": "fixed"
          },
          "protocols": [
            {
              "x402": {
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "scheme": "exact"
              }
            },
            {
              "mpp": {
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "intent": "charge",
                "method": "solana",
                "network": "mainnet"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Exact public HTTPS GET route whose unpaid x402 and MPP challenge headers should be inspected. Credential-like query keys, fragments, unresolved parameters, local hosts, redirects, and non-public IPs are rejected.",
            "schema": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048,
              "example": "https://agents.samedaydesk.com/defi/morpho-position?address=0x8ee9c15c3e5332cbc6ef39a2bb036c63c6549b6e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized x402 and MPP offers, binding checks, economic parity, and a bounded decision",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "product", "version", "checkedAt", "target", "decision", "protocols", "offerCount", "offers", "parity", "findings", "boundary"],
                  "properties": {
                    "ok": {"type": "boolean"},
                    "product": {"type": "string", "const": "samedaydesk-payment-offer-preflight"},
                    "version": {"type": "string"},
                    "checkedAt": {"type": "string"},
                    "target": {"type": "object"},
                    "decision": {"type": "string", "enum": ["parseable_offer", "review_required", "no_parseable_offer"]},
                    "protocols": {"type": "array", "items": {"type": "string", "enum": ["mpp", "x402"]}},
                    "offerCount": {"type": "integer", "minimum": 0},
                    "offers": {"type": "array"},
                    "parity": {"type": "object"},
                    "findings": {"type": "array"},
                    "boundary": {"type": "object"},
                    "delivery": {"type": "object"}
                  }
                }
              }
            }
          },
          "402": {"description": "Solana machine payment required"},
          "502": {"description": "Target DNS, transport, redirect, or challenge failure after payment"}
        }
      }
    }
  }
}
