{
  "openapi": "3.1.0",
  "info": {
    "title": "SameDayDesk opportunity preflight on Solana",
    "version": "1.0.0",
    "description": "Deterministic opportunity economics and evidence gates. The service does not claim, bid, submit, or pay on source platforms.",
    "contact": {
      "email": "contact@samedaydesk.com",
      "url": "https://samedaydesk.com"
    },
    "x-guidance": "Collect the complete reward, cost, competition, access, acceptance, and settlement facts before one call. Inspect the live HTTP 402 x402 and MPP offers, enforce your own Solana-USDC price policy, then retry the identical method, path, and query with one supported payment credential. Reuse the deterministic result while inputs remain unchanged."
  },
  "servers": [
    {
      "url": "https://solana.samedaydesk.com"
    }
  ],
  "paths": {
    "/work/opportunity-preflight": {
      "get": {
        "operationId": "opportunityPreflight",
        "summary": "Evaluate a work opportunity before spending effort or money",
        "description": "Returns deterministic break-even economics, hard blocks, required verification, warnings, and a bounded attempt, verify_first, or abandon decision.",
        "tags": ["Agent Operations"],
        "x-payment-info": {
          "price": {
            "amount": "0.01",
            "currency": "USD",
            "mode": "fixed"
          },
          "protocols": [
            {
              "x402": {
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "scheme": "exact"
              }
            },
            {
              "mpp": {
                "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "intent": "charge",
                "method": "solana",
                "network": "mainnet"
              }
            }
          ]
        },
        "parameters": [
          {"name": "rewardUsd", "in": "query", "required": true, "schema": {"type": "number", "exclusiveMinimum": 0}, "description": "Gross reward in USD or USD-denominated stablecoin."},
          {"name": "hours", "in": "query", "required": true, "schema": {"type": "number", "minimum": 0, "maximum": 10000}, "description": "Estimated execution hours."},
          {"name": "hourlyCostUsd", "in": "query", "required": true, "schema": {"type": "number", "minimum": 0, "maximum": 100000}, "description": "Chosen opportunity cost per hour in USD."},
          {"name": "computeUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Expected compute and API cost."},
          {"name": "mandatorySpendUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Irrecoverable entry or execution spend."},
          {"name": "reusableValueUsd", "in": "query", "schema": {"type": "number", "minimum": 0}, "description": "Conservative reusable value retained without selection."},
          {"name": "selectionProbabilityPct", "in": "query", "schema": {"type": "number", "minimum": 0, "maximum": 100}, "description": "Caller-supplied probability estimate, not inferred by the service."},
          {"name": "competition", "in": "query", "schema": {"type": "integer", "minimum": 0}, "description": "Visible competing entries or workers."},
          {"name": "slots", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Number of paid or selected slots."},
          {"name": "platform", "in": "query", "schema": {"type": "string"}, "description": "Optional platform identifier for dated SameDayDesk evidence."},
          {"name": "agentAccess", "in": "query", "schema": {"type": "string", "enum": ["agent_allowed", "agent_only", "mixed", "human_only", "unknown"]}, "description": "Observed execution-access class."},
          {"name": "acceptance", "in": "query", "schema": {"type": "string", "enum": ["deterministic", "machine_scored", "timed_review", "discretionary", "unknown"]}, "description": "Observed acceptance mechanism."},
          {"name": "settlement", "in": "query", "schema": {"type": "string", "enum": ["direct", "escrow", "platform_balance", "discretionary", "unfunded", "unknown"]}, "description": "Observed settlement mechanism."}
        ],
        "responses": {
          "200": {
            "description": "Deterministic preflight result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "product", "version", "decision", "input", "economics", "gates", "boundary"],
                  "properties": {
                    "ok": {"type": "boolean"},
                    "product": {"type": "string"},
                    "version": {"type": "string"},
                    "decision": {"type": "string", "enum": ["attempt", "verify_first", "abandon"]},
                    "input": {"type": "object"},
                    "economics": {"type": "object"},
                    "gates": {"type": "object"},
                    "platformEvidence": {"type": ["object", "null"]},
                    "delivery": {"type": "object"},
                    "boundary": {"type": "string"}
                  }
                }
              }
            }
          },
          "402": {"description": "Solana machine payment required"},
          "503": {"description": "Input or delivery failure with no source-platform action"}
        }
      }
    }
  }
}
