{
  "openapi": "3.0.3",
  "info": {
    "title": "Tetrac Exchange API",
    "description": "Exchange operations through Tetrac \u2014 one dispatcher (`POST /api/v1/exchanges`) that\nruns account reads, order placement, cancels, leverage changes and withdrawals on\ncentralized and decentralized exchanges using the caller's own exchange\ncredentials, plus the venue catalog and live venue latency.\n\n**Trading and withdrawal methods move REAL money.** Confirm every order and\nwithdrawal with the user before calling.\n\n## Authentication\n\nEvery endpoint requires one of:\n\n- **Session auth** \u2014 pass `ttc-auth-token` (Bearer) + `ttc-public-key` header for registered Tetrac users.\n- **x402 micropayment** \u2014 pass a signed Solana USDC payment ($0.05 per call) in the `x-x402-payment` header.\n  See [x402.json](https://www.tetrac.xyz/.well-known/x402.json) for payment details.\n\nAccount reads, trading and withdrawals also need the caller's exchange credentials\n(`apiKey`, `apiSecret`, and `passphrase` / `walletAddress` where the venue requires them)\nin the `POST /api/v1/exchanges` request body.\n",
    "version": "1.0.0",
    "contact": {
      "email": "security@tetrac.xyz"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://www.tetrac.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/exchanges": {
      "get": {
        "operationId": "getExchangeData",
        "summary": "List exchange methods, pricing and venues",
        "description": "Exchange discovery read. Returns the methods catalog, the pricing summary and the live `supportedExchanges` roster, so an agent learns what it can trade and what each action costs.\n\nEvery call that targets a venue \u2014 account reads and trading alike \u2014 goes to `POST /api/v1/exchanges`, which carries exchange credentials in the request body. This GET never reads credentials \u2014 secrets in a query string leak into access logs, proxy logs and referrer headers \u2014 and takes no parameters: a non-empty `method` query parameter is rejected with 400 (the legacy `list-methods=true` is tolerated and returns the catalog).\n\nAn unpaid call receives the same `methods`, `pricing` and `supportedExchanges` fields inside its 402 challenge (a 402 for a payment that failed verification carries no catalog), so the catalog can be read before paying.\n\nReturns `{success, status, code, pricing, methods, supportedExchanges}`. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Methods catalog, pricing summary and venue roster",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "pricing": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "example": "0.05"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USDC"
                        },
                        "network": {
                          "type": "string",
                          "example": "Solana"
                        },
                        "per": {
                          "type": "string",
                          "example": "request"
                        }
                      }
                    },
                    "methods": {
                      "type": "object",
                      "description": "Keyed by method name; every entry is run with `POST /api/v1/exchanges`",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string",
                            "example": "/api/v1/exchanges"
                          },
                          "method": {
                            "type": "string",
                            "example": "POST"
                          },
                          "description": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "supportedExchanges": {
                      "type": "array",
                      "description": "Venue ids accepted as `exchangeName` by `POST /api/v1/exchanges`",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A non-empty `method` query parameter was sent \u2014 this GET takes none; run methods with `POST /api/v1/exchanges`"
          },
          "402": {
            "description": "Payment required (x402) \u2014 the body also carries `methods`, `pricing` and `supportedExchanges`"
          },
          "429": {
            "description": "Rate limit exceeded \u2014 retry after `Retry-After` seconds"
          },
          "500": {
            "description": "Unexpected server error"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      },
      "post": {
        "operationId": "executeExchangeAction",
        "summary": "Run an exchange method: account reads and trading",
        "description": "Exchange dispatcher \u2014 runs one method against one venue. Every call that targets a venue goes through this POST, account reads included, so exchange credentials travel only in the request body. Body fields: `exchangeName` (a venue id from `supportedExchanges` in `GET /api/v1/exchanges`, case-insensitive), `method`, `params` (method-specific) and `credentials` (`apiKey`/`apiSecret`/`passphrase`/`walletAddress`).\n\n**IMPORTANT**: trading methods execute REAL trades with REAL money. Always confirm parameters with the user before calling.\n\nMethods and the credentials each needs (live descriptions: the `methods` catalog from `GET /api/v1/exchanges`):\n  - Public market data, no `credentials`: `getTickers`, `getBestBidAsk`, `getKlines`, `getContractSpecs`\n  - Account reads, `apiKey` + `apiSecret`: `getBalance`, `getPositions`, `getOrders`, `getUserTradeHistory`, `getInfoLeverage`, `getDepositAddress`\n  - Propr onboarding, `apiKey` only: `getAccounts`\n  - Trading and withdrawals, `apiKey` + `apiSecret`: `placeMarketOrder`, `placeLimitOrder`, `placeStopOrder`, `cancelOrder`, `cancelAllOrders`, `closeAllPositions`, `setLeverage`, `setHedgeMode`, `createWithdrawal`\n\nNot every venue implements every method; an unimplemented one returns 400. `getPositions` also records the returned positions for DAO analytics when the account has opted in to DAO participation.\n\n`params` shape (varies by method):\n  - `placeMarketOrder` \u2014 `{symbol, side, quantity, reduceOnly?}`\n  - `placeLimitOrder` \u2014 `{symbol, side, quantity, price, timeInForce?, reduceOnly?}`\n  - `placeStopOrder` \u2014 `{symbol, side, quantity, stopPrice, ...}`\n  - `cancelOrder` \u2014 `{symbol, orderID, origClientOrderId?}`\n  - `cancelAllOrders`, `getOrders` \u2014 `{symbol?}`, or the bare symbol string\n  - `getBestBidAsk` \u2014 `{symbol}`, or the bare symbol string\n  - `closeAllPositions` \u2014 `{}`\n  - `setLeverage` \u2014 `{symbol, leverage}`\n  - `setHedgeMode` \u2014 `{symbol, isHedged}`\n\nReturns `{success, data: <method-shaped result>, code, msg, exchange}`; `success` is always `true` on a 200, so read `code`/`msg` for the venue's own status. ($0.05 USDC on Solana mainnet)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exchangeName": {
                    "type": "string",
                    "example": "binance",
                    "description": "Venue id from `supportedExchanges`, case-insensitive (normalised to lower case). Venue roster changes over time and is not enumerated here; the current list is returned by `GET /api/v1/exchanges` (including in its 402 discovery response, which requires no payment) and is shown on https://www.tetrac.xyz."
                  },
                  "method": {
                    "type": "string",
                    "description": "One of the methods in the `methods` catalog from `GET /api/v1/exchanges`",
                    "enum": [
                      "setHedgeMode",
                      "setLeverage",
                      "getInfoLeverage",
                      "getPositions",
                      "getBalance",
                      "placeLimitOrder",
                      "placeMarketOrder",
                      "placeStopOrder",
                      "closeAllPositions",
                      "createWithdrawal",
                      "getDepositAddress",
                      "getOrders",
                      "cancelAllOrders",
                      "cancelOrder",
                      "getUserTradeHistory",
                      "getAccounts",
                      "getTickers",
                      "getBestBidAsk",
                      "getKlines",
                      "getContractSpecs"
                    ]
                  },
                  "params": {
                    "description": "Method-specific parameters. `getOrders`, `getBestBidAsk` and `cancelAllOrders` also accept the bare symbol string.",
                    "oneOf": [
                      {
                        "type": "object"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "credentials": {
                    "description": "Exchange API credentials. Omit for the public market-data methods; `getAccounts` needs `apiKey` only; every other method needs `apiKey` and `apiSecret`.",
                    "type": "object",
                    "properties": {
                      "apiKey": {
                        "type": "string"
                      },
                      "apiSecret": {
                        "type": "string"
                      },
                      "passphrase": {
                        "type": "string"
                      },
                      "walletAddress": {
                        "type": "string",
                        "description": "Venue wallet address, for venues that key accounts by wallet"
                      }
                    }
                  }
                },
                "required": [
                  "exchangeName",
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Method result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "description": "Method-shaped result"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "exchange": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input: the body is not a JSON object, `exchangeName` is missing or not a supported venue, `method` is not a supported exchange method, `credentials` are missing for a credentialed method, the method is not implemented on this venue, or the venue rejected the call"
          },
          "402": {
            "description": "Payment required (x402) \u2014 the body also carries `methods`, `pricing` and `supportedExchanges`"
          },
          "429": {
            "description": "Rate limit exceeded \u2014 retry after `Retry-After` seconds"
          },
          "500": {
            "description": "Unexpected server error"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      }
    },
    "/api/v1/exchanges/latency": {
      "get": {
        "operationId": "getExchangeLatency",
        "summary": "Fetch exchange reachability and latency",
        "description": "Probes every configured venue from Tetrac's servers and returns two independent measurements per exchange: a TLS-handshake time (`tlsLatency`/`tlsStatus`) and a full data-endpoint roundtrip (`dataLatency`/`dataStatus`), plus the resolved `hostname`, `ip`, hosting `org` and static `tickerCount`. Takes no parameters \u2014 every configured venue is probed on each call. Rows are sorted data-online first, then by ascending data latency. Use to pick the lowest-latency venue for execution, or to detect a venue whose API is degraded while its edge is still up. ($0.05 USDC on Solana mainnet)\n",
        "responses": {
          "200": {
            "description": "Per-exchange latency probe results plus aggregate summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "description": "Aggregate counts and mean latency, split per probe type",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Number of exchanges probed"
                        },
                        "tls": {
                          "$ref": "#/components/schemas/LatencyProbeSummary"
                        },
                        "data": {
                          "$ref": "#/components/schemas/LatencyProbeSummary"
                        }
                      }
                    },
                    "exchanges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExchangeLatency"
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Epoch ms when the probe run completed"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402)"
          },
          "429": {
            "description": "Rate limit exceeded \u2014 retry after `Retry-After` seconds"
          },
          "500": {
            "description": "Probe run failed"
          }
        },
        "tags": [
          "Exchange Infrastructure"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LatencyProbeSummary": {
        "type": "object",
        "description": "Aggregate result for one probe type (TLS handshake or data endpoint) across every exchange in the run.",
        "properties": {
          "online": {
            "type": "integer",
            "example": 34
          },
          "offline": {
            "type": "integer",
            "example": 4
          },
          "timeout": {
            "type": "integer",
            "example": 2
          },
          "averageLatency": {
            "type": "number",
            "description": "Mean latency in ms (rounded) over probes with a positive latency; failed probes (-1) are excluded, and the value is 0 when none succeeded.",
            "example": 148
          }
        }
      },
      "ExchangeLatency": {
        "type": "object",
        "properties": {
          "exchange": {
            "type": "string",
            "description": "Stable lower-case venue key",
            "example": "binance"
          },
          "hostname": {
            "type": "string",
            "description": "Host of the venue's data endpoint, which is also the TLS probe target",
            "example": "fapi.binance.com"
          },
          "ip": {
            "type": "string",
            "nullable": true,
            "description": "IPv4 resolved for hostname, or null when DNS lookup failed",
            "example": "13.35.12.9"
          },
          "tlsLatency": {
            "type": "number",
            "description": "TLS-handshake time in ms, or -1 when the probe failed or timed out",
            "example": 42
          },
          "tlsStatus": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "timeout"
            ],
            "description": "\"online\" = handshake completed, \"timeout\" = socket timeout, \"offline\" = TCP/TLS error.",
            "example": "online"
          },
          "dataLatency": {
            "type": "number",
            "description": "Data-endpoint roundtrip in ms, or -1 when the probe failed or timed out",
            "example": 118
          },
          "dataStatus": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "timeout"
            ],
            "description": "\"online\" = HTTP 2xx or 400 (some APIs 400 a bare GET), \"timeout\" = aborted at the probe deadline, \"offline\" = network error or other non-2xx.",
            "example": "online"
          },
          "lastChecked": {
            "type": "integer",
            "format": "int64",
            "description": "Epoch ms at which both probes for this exchange finished",
            "example": 1785859200000
          },
          "tickerCount": {
            "type": "integer",
            "description": "Static per-venue market count from configuration, not measured",
            "example": 512
          },
          "org": {
            "type": "string",
            "description": "Hosting org from static lookup tables keyed by IP or hostname; \"Unknown\" when neither matches",
            "example": "Cloudflare"
          }
        }
      }
    },
    "securitySchemes": {
      "AuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "ttc-auth-token",
        "description": "Session token from Tetrac login (24-hour expiry)"
      },
      "PublicKey": {
        "type": "apiKey",
        "in": "header",
        "name": "ttc-public-key",
        "description": "Solana public key associated with the session token"
      },
      "X402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "x-x402-payment",
        "description": "Signed Solana USDC micropayment ($0.05 standard, $0.50 for the full-market scanner snapshot) \u2014 alternative to session auth"
      }
    }
  },
  "tags": [
    {
      "name": "Exchange Infrastructure",
      "description": "Exchange read operations and trade execution"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "PublicKey": []
    },
    {
      "X402Payment": []
    }
  ]
}
