{
  "openapi": "3.1.0",
  "info": {
    "title": "Edge Agents Market Intelligence",
    "version": "2.1.0",
    "description": "Curated snapshot of https://pay.edge-agents.ai/openapi.json for the pay-skills registry (28 paid routes). The full catalogue is discoverable via GET /v1/services and GET /v1/search."
  },
  "servers": [
    {
      "url": "https://pay.edge-agents.ai"
    }
  ],
  "paths": {
    "/v1/services/altcoin-rotation": {
      "get": {
        "operationId": "purchase_altcoin_rotation",
        "summary": "Detect whether major altcoins are outperforming Bitcoin",
        "description": "Detects whether major altcoins are broadly outperforming Bitcoin and identifies the rotation leader. Purpose: Measure evidence of capital rotating between Bitcoin and major altcoins. 5-minute freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "altcoins",
          "btc",
          "momentum",
          "rotation",
          "evidence"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "altcoin-rotation"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "live",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit.",
                      "properties": {
                        "score": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "limited",
                            "insufficient"
                          ]
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "high",
                            "medium",
                            "low"
                          ]
                        },
                        "coverage": {
                          "type": "object",
                          "properties": {
                            "assets": {
                              "type": "number"
                            },
                            "expectedAssets": {
                              "type": "number",
                              "const": 6
                            },
                            "liveSources": {
                              "type": "number"
                            },
                            "expectedSources": {
                              "type": "number",
                              "const": 3
                            },
                            "trendWindowsAvailable": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "assets",
                            "expectedAssets",
                            "liveSources",
                            "expectedSources",
                            "trendWindowsAvailable"
                          ]
                        },
                        "decisionWindow": {
                          "type": "string",
                          "const": "multi-window-1h-24h-7d"
                        },
                        "methodology": {
                          "type": "string"
                        },
                        "limitations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "score",
                        "status",
                        "confidence",
                        "coverage",
                        "decisionWindow",
                        "methodology",
                        "limitations"
                      ]
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report.",
                      "properties": {
                        "markets": {
                          "type": "object"
                        },
                        "sentiment": {
                          "type": "object",
                          "description": "Present only when a live sentiment provider was available."
                        },
                        "validation": {
                          "type": "object",
                          "description": "Present only when cross-source validation was available."
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      },
                      "required": [
                        "markets",
                        "sources"
                      ]
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available.",
                      "properties": {
                        "issuer": {
                          "type": "string"
                        },
                        "algorithm": {
                          "type": "string",
                          "enum": [
                            "hmac-sha256",
                            "none"
                          ]
                        },
                        "signature": {
                          "type": "string",
                          "description": "Present only when REPORT_SIGNING_SECRET is configured."
                        },
                        "signed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "issuer",
                        "algorithm",
                        "signed"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "altcoin-rotation",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Altcoin Rotation Radar findings appear here.",
                    "family": "altcoins",
                    "intents": [
                      "momentum",
                      "rotation",
                      "evidence"
                    ]
                  },
                  "evidence": {
                    "assets": [
                      "BTC"
                    ],
                    "policy": "mixed",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/btc-cftc-leveraged-fund-positioning": {
      "get": {
        "operationId": "purchase_btc_cftc_leveraged_fund_positioning",
        "summary": "Get CFTC leveraged-fund positioning in CME Bitcoin futures",
        "description": "Direct CFTC Traders in Financial Futures leveraged-fund long, short, spread and net positioning for CME Bitcoin, including open-interest share. Purpose: Measure current leveraged-fund net positioning in CME Bitcoin using the CFTC TFF classification without inferring trader motive or predicting returns. 168-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "bitcoin",
          "btc",
          "leverage",
          "evidence",
          "positioning",
          "open-interest"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "btc-cftc-leveraged-fund-positioning"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "btc-cftc-leveraged-fund-positioning",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh CME Bitcoin Leveraged Fund Positioning findings appear here.",
                    "family": "bitcoin",
                    "intents": [
                      "leverage",
                      "evidence",
                      "positioning",
                      "open-interest",
                      "leveraged-funds"
                    ]
                  },
                  "evidence": {
                    "assets": [
                      "BTC"
                    ],
                    "policy": "point-in-time",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/business-cycle-nowcast": {
      "get": {
        "operationId": "purchase_business_cycle_nowcast",
        "summary": "Classify growth and inflation momentum into a cycle phase",
        "description": "Point-in-time growth and inflation momentum classification across new orders, leading indicators, labour, housing, credit, the yield curve, consumer and producer inflation and commodities, with revision risk and validation-gated probabilities. Purpose: Classify the current macro season without leaking revised data or publishing unvalidated probabilities. 6-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "macro",
          "risk",
          "momentum",
          "evidence",
          "cycle",
          "forecast"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "business-cycle-nowcast"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "live",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit.",
                      "properties": {
                        "confidence": {
                          "type": "number",
                          "description": "0-100 composite confidence derived from available evidence families."
                        },
                        "availableFamilies": {
                          "type": "number"
                        },
                        "requiredFamilies": {
                          "type": "number"
                        },
                        "missingSeries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "staleSeries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validation": {
                          "type": "object",
                          "properties": {
                            "outOfSampleRows": {
                              "type": "number"
                            },
                            "seasonAccuracy": {
                              "type": "number"
                            },
                            "persistenceAccuracy": {
                              "type": "number"
                            },
                            "twoFactorAccuracy": {
                              "type": "number"
                            },
                            "growthBrierScore": {
                              "type": "number"
                            },
                            "inflationBrierScore": {
                              "type": "number"
                            },
                            "transitionAccuracy": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "required": [
                        "confidence",
                        "availableFamilies",
                        "requiredFamilies",
                        "missingSeries",
                        "staleSeries",
                        "validation"
                      ]
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available.",
                      "properties": {
                        "asOf": {
                          "type": "string"
                        },
                        "observationIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "pointInTime": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "asOf",
                        "observationIds",
                        "sources",
                        "pointInTime"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "business-cycle-nowcast",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Business Cycle Nowcast findings appear here.",
                    "family": "macro",
                    "intents": [
                      "risk",
                      "momentum",
                      "evidence",
                      "cycle",
                      "forecast",
                      "inflation",
                      "labour",
                      "rates",
                      "growth",
                      "commodities",
                      "yield"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "point-in-time",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/commodity-positioning-regime": {
      "get": {
        "operationId": "purchase_commodity_positioning_regime",
        "summary": "Get a premium regime synthesis of CFTC commodity positioning",
        "description": "Premium synthesis of direct CFTC managed-money positioning, weekly positioning change and open-interest pressure across 16 defined contracts. Purpose: Summarise CFTC positioning breadth and disagreement across commodity positioning regime while keeping underlying contracts and missing observations explicit. 168-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "commodities",
          "leverage",
          "rotation",
          "evidence",
          "cycle",
          "positioning"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "commodity-positioning-regime"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "commodity-positioning-regime",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Commodity Positioning Regime findings appear here.",
                    "family": "commodities",
                    "intents": [
                      "leverage",
                      "rotation",
                      "evidence",
                      "cycle",
                      "positioning",
                      "open-interest",
                      "commodities"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "point-in-time",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/cross-market-decision-context": {
      "get": {
        "operationId": "purchase_cross_market_decision_context",
        "summary": "Get premium cross-market risk, breadth and rotation context",
        "description": "Premium cross-market context combining risk regime, breadth, rotation, volatility, activity, anomalies and evidence quality with supporting and opposing evidence. Purpose: Summarise the current cross-market environment for machine decision support without issuing a trade instruction or probability of profit. 5-minute freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "cross-market",
          "risk",
          "rotation",
          "volatility",
          "anomaly",
          "evidence"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "cross-market-decision-context"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "live",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit.",
                      "properties": {
                        "score": {
                          "type": "number",
                          "description": "0-100 composite evidence-coverage score."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "limited",
                            "insufficient"
                          ]
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "high",
                            "medium",
                            "low"
                          ]
                        },
                        "coverage": {
                          "type": "object",
                          "properties": {
                            "assets": {
                              "type": "number"
                            },
                            "expectedAssets": {
                              "type": "number",
                              "const": 6
                            },
                            "liveSources": {
                              "type": "number"
                            },
                            "expectedSources": {
                              "type": "number",
                              "const": 3
                            },
                            "trendWindowsAvailable": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "assets",
                            "expectedAssets",
                            "liveSources",
                            "expectedSources",
                            "trendWindowsAvailable"
                          ]
                        }
                      },
                      "required": [
                        "score",
                        "status",
                        "confidence",
                        "coverage"
                      ]
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report.",
                      "properties": {
                        "markets": {
                          "type": "object",
                          "description": "Per-asset spot price and 24h change for the tracked market universe."
                        },
                        "sentiment": {
                          "type": "object",
                          "description": "Fear/greed style sentiment reading, when a live provider supplied one."
                        },
                        "validation": {
                          "type": "object",
                          "description": "Cross-source price validation against a secondary venue, when available."
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Live/unavailable status per independent source."
                        },
                        "trends": {
                          "type": "object",
                          "description": "Retained trend windows (1h/24h/7d) used for momentum and correlation analysis."
                        }
                      },
                      "required": [
                        "markets",
                        "sources",
                        "trends"
                      ]
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available.",
                      "properties": {
                        "issuer": {
                          "type": "string"
                        },
                        "algorithm": {
                          "type": "string",
                          "enum": [
                            "hmac-sha256",
                            "none"
                          ]
                        },
                        "signature": {
                          "type": "string",
                          "description": "Present only when REPORT_SIGNING_SECRET is configured."
                        },
                        "signed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "issuer",
                        "algorithm",
                        "signed"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "cross-market-decision-context",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Cross-Market Decision Context findings appear here.",
                    "family": "cross-market",
                    "intents": [
                      "risk",
                      "rotation",
                      "volatility",
                      "anomaly",
                      "evidence",
                      "cycle",
                      "adoption"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "live",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/crypto-futures-positioning-intelligence": {
      "get": {
        "operationId": "purchase_crypto_futures_positioning_intelligence",
        "summary": "Get a premium synthesis of CFTC crypto futures positioning",
        "description": "Premium synthesis of CFTC asset-manager and leveraged-fund positioning, weekly changes and cross-class divergence across 4 financial-futures contracts. Purpose: Summarise institutional and leveraged positioning breadth across crypto futures positioning intelligence while exposing missing contracts and disagreement rather than producing a market-return forecast. 168-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "cross-market",
          "leverage",
          "rotation",
          "anomaly",
          "evidence",
          "forecast"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "crypto-futures-positioning-intelligence"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "crypto-futures-positioning-intelligence",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Crypto Futures Positioning Intelligence findings appear here.",
                    "family": "cross-market",
                    "intents": [
                      "leverage",
                      "rotation",
                      "anomaly",
                      "evidence",
                      "forecast",
                      "institutional",
                      "positioning",
                      "leveraged-funds",
                      "asset-manager"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "point-in-time",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/data-quality-what-changed": {
      "get": {
        "operationId": "purchase_data_quality_what_changed",
        "summary": "Report what changed since the last release of macro data",
        "description": "What Changed Since the Last Release for official macro evidence tracked by Edge Agents, with explicit baseline and persistence limitations. Purpose: summarise latest period changes and newly observed revisions across tracked official macro series 24-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "cross-market",
          "evidence"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "data-quality-what-changed"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "data-quality-what-changed",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh What Changed Since the Last Release findings appear here.",
                    "family": "cross-market",
                    "intents": [
                      "evidence"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "mixed",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/defi-protocol-tvl-monitor": {
      "get": {
        "operationId": "purchase_defi_protocol_tvl_monitor",
        "summary": "Get TVL and 1d/7d/30d trend for major DeFi lending protocols",
        "description": "Live total-value-locked levels and real 1d/7d/30d trend for Aave V3, Compound V3, Morpho Blue and Lido, with a per-chain breakdown, sourced from DefiLlama's public aggregation. Purpose: Give treasury and risk-monitoring agents a fresh, multi-protocol TVL reading without polling and reconciling several protocol dashboards. 15-minute freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "cross-market",
          "risk",
          "momentum",
          "rates",
          "defi",
          "tvl"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "defi-protocol-tvl-monitor"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "defi-protocol-tvl-monitor",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh DeFi Protocol TVL Monitor findings appear here.",
                    "family": "cross-market",
                    "intents": [
                      "risk",
                      "momentum",
                      "rates",
                      "defi",
                      "tvl"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "live",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/ecb-estr": {
      "get": {
        "operationId": "purchase_ecb_estr",
        "summary": "Get the Euro Short-Term Rate from official ECB statistics",
        "description": "Euro Short-Term Rate (€STR) from official ECB statistics, normalized for autonomous-agent use with explicit source timing, evidence and limitations. Purpose: give an agent the latest available euro short-term rate (€str) with recent official history and source timing 24-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "cross-market",
          "eur",
          "liquidity",
          "evidence"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "ecb-estr"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "ecb-estr",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh Euro Short-Term Rate (€STR) findings appear here.",
                    "family": "cross-market",
                    "intents": [
                      "liquidity",
                      "evidence"
                    ]
                  },
                  "evidence": {
                    "assets": [
                      "EUR"
                    ],
                    "policy": "mixed",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/eth-btc-rotation-signal": {
      "get": {
        "operationId": "purchase_eth_btc_rotation_signal",
        "summary": "Get Ethereum relative performance versus Bitcoin",
        "description": "Ethereum relative performance versus Bitcoin across live 24-hour and retained 1-hour/24-hour/7-day windows. Purpose: Detect ETH/BTC leadership changes while preserving insufficient-history states and avoiding trade instructions. 5-minute freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "ethereum",
          "btc",
          "eth",
          "momentum",
          "rotation",
          "evidence"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "eth-btc-rotation-signal"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "live",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit.",
                      "properties": {
                        "score": {
                          "type": "number",
                          "description": "0-100 composite evidence-coverage score."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "limited",
                            "insufficient"
                          ]
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "high",
                            "medium",
                            "low"
                          ]
                        },
                        "coverage": {
                          "type": "object",
                          "properties": {
                            "assets": {
                              "type": "number"
                            },
                            "expectedAssets": {
                              "type": "number",
                              "const": 6
                            },
                            "liveSources": {
                              "type": "number"
                            },
                            "expectedSources": {
                              "type": "number",
                              "const": 3
                            },
                            "trendWindowsAvailable": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "assets",
                            "expectedAssets",
                            "liveSources",
                            "expectedSources",
                            "trendWindowsAvailable"
                          ]
                        }
                      },
                      "required": [
                        "score",
                        "status",
                        "confidence",
                        "coverage"
                      ]
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report.",
                      "properties": {
                        "markets": {
                          "type": "object",
                          "description": "Per-asset spot price and 24h change for the tracked market universe."
                        },
                        "sentiment": {
                          "type": "object",
                          "description": "Fear/greed style sentiment reading, when a live provider supplied one."
                        },
                        "validation": {
                          "type": "object",
                          "description": "Cross-source price validation against a secondary venue, when available."
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Live/unavailable status per independent source."
                        },
                        "trends": {
                          "type": "object",
                          "description": "Retained trend windows (1h/24h/7d) used for momentum and correlation analysis."
                        }
                      },
                      "required": [
                        "markets",
                        "sources",
                        "trends"
                      ]
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available.",
                      "properties": {
                        "issuer": {
                          "type": "string"
                        },
                        "algorithm": {
                          "type": "string",
                          "enum": [
                            "hmac-sha256",
                            "none"
                          ]
                        },
                        "signature": {
                          "type": "string",
                          "description": "Present only when REPORT_SIGNING_SECRET is configured."
                        },
                        "signed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "issuer",
                        "algorithm",
                        "signed"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "eth-btc-rotation-signal",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh ETH/BTC Rotation Signal findings appear here.",
                    "family": "ethereum",
                    "intents": [
                      "momentum",
                      "rotation",
                      "evidence"
                    ]
                  },
                  "evidence": {
                    "assets": [
                      "BTC",
                      "ETH"
                    ],
                    "policy": "live",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/fx-positioning-intelligence": {
      "get": {
        "operationId": "purchase_fx_positioning_intelligence",
        "summary": "Get a premium synthesis of CFTC currency futures positioning",
        "description": "Premium synthesis of CFTC asset-manager and leveraged-fund positioning, weekly changes and cross-class divergence across 11 financial-futures contracts. Purpose: Summarise institutional and leveraged positioning breadth across fx positioning intelligence while exposing missing contracts and disagreement rather than producing a market-return forecast. 168-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "fx",
          "leverage",
          "rotation",
          "anomaly",
          "evidence",
          "forecast"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "fx-positioning-intelligence"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
                      "description": "Evidence-quality and confidence information, not probability of profit."
                    },
                    "analysis": {
                      "type": "object",
                      "description": "Service-specific findings and decision context."
                    },
                    "evidence": {
                      "type": "object",
                      "description": "Observed evidence, source lineage and freshness used by the report."
                    },
                    "provenance": {
                      "type": "object",
                      "description": "Issuer, version and signature/verification information when available."
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serviceId",
                    "generatedAt",
                    "dataStatus",
                    "analysis"
                  ]
                },
                "example": {
                  "serviceId": "fx-positioning-intelligence",
                  "schemaVersion": "2.0",
                  "generatedAt": "2026-08-31T00:00:00.000Z",
                  "dataStatus": "complete",
                  "quality": {
                    "status": "strong",
                    "confidence": "high"
                  },
                  "analysis": {
                    "summary": "Fresh FX Positioning Intelligence findings appear here.",
                    "family": "fx",
                    "intents": [
                      "leverage",
                      "rotation",
                      "anomaly",
                      "evidence",
                      "forecast",
                      "institutional",
                      "positioning",
                      "leveraged-funds",
                      "asset-manager",
                      "fx"
                    ]
                  },
                  "evidence": {
                    "assets": [],
                    "policy": "point-in-time",
                    "sources": "Reported from the actual live report; never inferred from this example."
                  },
                  "provenance": {
                    "issuer": "https://edge-agents.ai",
                    "signed": true
                  },
                  "limitations": [
                    "Coverage, source freshness and unavailable evidence are stated in every paid report."
                  ],
                  "disclaimer": "General, impersonal market research; not investment advice or a buy, sell or hold recommendation."
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "Payment-Required": {
                "description": "Base64-encoded x402 v2 payment requirements. Runtime metadata is authoritative for network, asset, atomic amount and payTo.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service quarantined or retired by the lifecycle watchdog after persistent health failures."
          }
        }
      }
    },
    "/v1/services/gold-positioning-momentum": {
      "get": {
        "operationId": "purchase_gold_positioning_momentum",
        "summary": "Get weekly CFTC managed-money position changes in gold futures",
        "description": "Direct CFTC weekly changes in managed-money long, short and spread positions for Gold, including the resulting change in net positioning. Purpose: Detect whether reported managed-money positioning in Gold shifted toward net-long, net-short or stable exposure in the latest CFTC week. 168-hour freshness target; missing evidence is reported explicitly rather than invented.",
        "tags": [
          "x402",
          "market-intelligence",
          "metals",
          "gold",
          "momentum",
          "evidence",
          "positioning"
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "USDC",
              "chain": "Base"
            },
            {
              "scheme": "exact",
              "network": "xrpl:0",
              "asset": "RLUSD",
              "chain": "XRP Ledger"
            },
            {
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "asset": "USDC",
              "chain": "Solana"
            },
            {
              "scheme": "exact",
              "network": "eip155:42161",
              "asset": "USDC",
              "chain": "Arbitrum One"
            },
            {
              "scheme": "exact",
              "network": "eip155:137",
              "asset": "USDC",
              "chain": "Polygon PoS"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Paid machine-readable intelligence report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "serviceId": {
                      "type": "string",
                      "const": "gold-positioning-momentum"
                    },
                    "deliveryId": {
                      "type": "string",
                      "description": "Unique delivery identifier when the report is purchased."
                    },
                    "reportId": {
                      "type": "string",
                      "description": "Unique report identifier when supplied by the product."
                    },
                    "schemaVersion": {
                      "type": "string",
                      "description": "Machine-readable report contract version."
                    },
                    "generatedAt": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$",
                      "description": "RFC3339 date-time timestamp."
                    },
                    "dataStatus": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ],
                      "description": "Whether the report has sufficient eligible evidence. Missing evidence is never silently fabricated."
                    },
                    "quality": {
                      "type": "object",
[...]
