{
  "openapi": "3.1.0",
  "info": {
    "title": "Sivut SEC Crypto Filings",
    "version": "2026-06-10",
    "description": "USDC-paid SEC EDGAR crypto filing radar for public-company crypto, bitcoin treasury, digital-asset, stablecoin, mining, and blockchain disclosure monitoring.",
    "contact": {
      "name": "Sivut",
      "email": "contact@sivut.co",
      "url": "https://pay.sivut.co"
    }
  },
  "servers": [
    {
      "url": "https://pay.sivut.co"
    }
  ],
  "paths": {
    "/api/solana/sec-crypto-filings/buyer-pack": {
      "get": {
        "operationId": "getSolanaSecCryptoFilingBuyerPack",
        "summary": "Get a paid SEC crypto filing buyer pack",
        "description": "Return a buyer-ready SEC EDGAR crypto filing package with current filings, signal and company summaries, provenance, source hashes, and integration notes. This endpoint requires x402 payment in USDC on Solana mainnet.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of current filing records to include.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paid SEC crypto filing buyer pack",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecCryptoFilingBuyerPack"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required. Sign and retry with the PAYMENT-SIGNATURE header for the Solana mainnet USDC x402 challenge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$10.00",
          "settlementCurrency": "USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "payTo": "4kRQGA5ciAXNSiDNo3nVQYRM5SSCCRwUw8boAV1xRPSM",
          "paymentHeader": "PAYMENT-SIGNATURE"
        },
        "security": [
          {
            "x402": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "Base64-encoded x402 payment payload for the Solana mainnet USDC challenge."
      }
    },
    "schemas": {
      "PaymentRequired": {
        "type": "object",
        "required": [
          "x402Version",
          "resource",
          "accepts",
          "error"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "const": 2
          },
          "resource": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "mimeType": {
                "type": "string"
              }
            }
          },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scheme": {
                  "type": "string",
                  "const": "exact"
                },
                "network": {
                  "type": "string",
                  "const": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                },
                "amount": {
                  "type": "string",
                  "const": "10000000"
                },
                "payTo": {
                  "type": "string"
                },
                "asset": {
                  "type": "string",
                  "const": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                }
              },
              "additionalProperties": true
            }
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SecCryptoFilingBuyerPack": {
        "type": "object",
        "required": [
          "checkedAt",
          "product",
          "summary",
          "integration",
          "topFilings",
          "filings"
        ],
        "properties": {
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "type": "string",
            "const": "public-sec-crypto-filing-buyer-pack"
          },
          "paidBy": {
            "type": "string"
          },
          "payment": {
            "type": "object",
            "additionalProperties": true
          },
          "price": {
            "type": "string"
          },
          "summary": {
            "type": "object",
            "additionalProperties": true
          },
          "integration": {
            "type": "object",
            "additionalProperties": true
          },
          "recommendedUseCases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caveats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "topFilings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecCryptoFiling"
            }
          },
          "filings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecCryptoFiling"
            }
          }
        },
        "additionalProperties": true
      },
      "SecCryptoFiling": {
        "type": "object",
        "required": [
          "company",
          "form",
          "filing_date",
          "accession",
          "signals",
          "source_hash"
        ],
        "properties": {
          "company": {
            "type": "string"
          },
          "ticker": {
            "type": [
              "string",
              "null"
            ]
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cik": {
            "type": "string"
          },
          "form": {
            "type": "string"
          },
          "filing_date": {
            "type": "string"
          },
          "accession": {
            "type": "string"
          },
          "primary_doc_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "signals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "snippet": {
            "type": "string"
          },
          "source_hash": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    }
  }
}
