{
  "openapi": "3.1.0",
  "info": {
    "title": "x402engine API",
    "version": "3.0.0",
    "description": "Pay-per-call API gateway for AI agents using HTTP 402 payments."
  },
  "servers": [
    {
      "url": "https://x402engine.app"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Check x402engine service health",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "Fetch x402 service discovery catalog",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Machine-readable x402 service catalog"
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "Fetch x402 service discovery alias",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Machine-readable x402 service catalog"
          }
        }
      }
    },
    "/api/services": {
      "get": {
        "summary": "List available x402engine services",
        "tags": [
          "discovery"
        ],
        "responses": {
          "200": {
            "description": "Available x402engine services"
          }
        }
      }
    },
    "/api/image/fast": {
      "post": {
        "summary": "Run Fast Image Generation via image-fast API",
        "description": "Quick image generation using FLUX Schnell (~2s, good for drafts)",
        "tags": [
          "compute"
        ],
        "x-service-id": "image-fast",
        "x-price": "$0.015",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.015",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "15000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.015",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "15000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.015",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "15000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description of image to generate",
                    "example": "a red sports car"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for reproducibility",
                    "example": 42
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/image/quality": {
      "post": {
        "summary": "Run Quality Image Generation via image-quality API",
        "description": "High-quality image generation using FLUX.2 Pro (~5s, production-ready)",
        "tags": [
          "compute"
        ],
        "x-service-id": "image-quality",
        "x-price": "$0.05",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.05",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "50000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.05",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "50000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.05",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "50000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description of image to generate",
                    "example": "a sunset over mountains"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for reproducibility",
                    "example": 42
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/image/text": {
      "post": {
        "summary": "Run Text-in-Image Generation via image-text API",
        "description": "Image generation with accurate text rendering using Ideogram v3 (best for logos, signage)",
        "tags": [
          "compute"
        ],
        "x-service-id": "image-text",
        "x-price": "$0.12",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.12",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "120000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.12",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "120000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.12",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "120000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description including text to render",
                    "example": "a logo with the text \"ACME\""
                  },
                  "image_size": {
                    "type": "string",
                    "description": "Output size",
                    "default": "square",
                    "example": "square"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/image/face-swap": {
      "post": {
        "summary": "Run Face Swap via face-swap API",
        "description": "Identity-preserving face swap using FLUX PuLID for portraits, product shots, and stylized edits",
        "tags": [
          "compute"
        ],
        "x-service-id": "face-swap",
        "x-price": "$0.08",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.08",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "80000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.08",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "80000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.08",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "80000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Describe the final image after the face swap",
                    "example": "a studio portrait with natural skin tones and soft cinematic lighting"
                  },
                  "reference_image_url": {
                    "type": "string",
                    "description": "Public image URL containing the source face to preserve",
                    "example": "https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=1024"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels (256-2048)",
                    "default": 1024,
                    "example": 1024
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for reproducibility",
                    "example": 7
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "What to avoid in the final image",
                    "example": "blur, warped eyes, extra fingers"
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Prompt guidance strength",
                    "example": 4
                  },
                  "id_weight": {
                    "type": "number",
                    "description": "How strongly to preserve identity from the reference face",
                    "example": 1.2
                  }
                },
                "required": [
                  "prompt",
                  "reference_image_url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/image/nano-banana": {
      "post": {
        "summary": "Run Nano Banana 2 Image Generation via image-nano-banana API",
        "description": "Google's fast, high-quality image generation with aspect ratio control and optional web search",
        "tags": [
          "compute"
        ],
        "x-service-id": "image-nano-banana",
        "x-price": "$0.10",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "100000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "100000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "100000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description of image to generate (up to 50,000 chars)",
                    "example": "a cyberpunk cityscape at sunset with neon signs"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Output aspect ratio (auto, 21:9, 16:9, 3:2, 4:3, 5:4, 1:1, 4:5, 3:4, 2:3, 9:16)",
                    "default": "1:1",
                    "example": "16:9"
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Image format: png, jpeg, or webp",
                    "default": "png",
                    "example": "png"
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for reproducibility",
                    "example": 42
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/video/fast": {
      "post": {
        "summary": "Run Fast Video Generation via video-fast API",
        "description": "Generate a 5-second video with Kling V3 Standard in landscape, portrait, or square format",
        "tags": [
          "compute"
        ],
        "x-service-id": "video-fast",
        "x-price": "$0.55",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.55",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "550000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.55",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "550000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.55",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "550000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Describe the scene, motion, and camera direction",
                    "example": "A cinematic drone shot rising over a misty mountain valley at sunrise"
                  },
                  "duration": {
                    "type": "string",
                    "description": "Fixed video duration",
                    "default": "5",
                    "example": "5"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Output aspect ratio: 16:9, 9:16, or 1:1",
                    "default": "16:9",
                    "example": "16:9"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Visual qualities or artifacts to avoid",
                    "example": "blur, distortion, low quality"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Audio generation is fixed off for deterministic per-call pricing",
                    "default": false,
                    "example": false
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/video/quality": {
      "post": {
        "summary": "Run Quality Video Generation via video-quality API",
        "description": "Generate a production-quality 5-second video with Kling V3 Pro",
        "tags": [
          "compute"
        ],
        "x-service-id": "video-quality",
        "x-price": "$0.70",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "700000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "700000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "700000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Describe the scene, motion, and camera direction",
                    "example": "Close-up of glowing fireflies moving through a forest at twilight, shallow depth of field"
                  },
                  "duration": {
                    "type": "string",
                    "description": "Fixed video duration",
                    "default": "5",
                    "example": "5"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Output aspect ratio: 16:9, 9:16, or 1:1",
                    "default": "16:9",
                    "example": "16:9"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Visual qualities or artifacts to avoid",
                    "example": "blur, distortion, low quality"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Audio generation is fixed off for deterministic per-call pricing",
                    "default": false,
                    "example": false
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/video/hailuo": {
      "post": {
        "summary": "Run Hailuo Video Generation via video-hailuo API",
        "description": "Generate a cinematic 1080p video with MiniMax Hailuo 2.3 Pro",
        "tags": [
          "compute"
        ],
        "x-service-id": "video-hailuo",
        "x-price": "$0.65",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.65",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "650000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.65",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "650000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.65",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "650000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Detailed video prompt including subject motion and camera direction",
                    "example": "A snowboarder carving through deep powder while the camera follows from behind"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/video/animate": {
      "post": {
        "summary": "Run Image to Video Animation via video-animate API",
        "description": "Animate a public image into a 5-second video with Kling V3 Pro",
        "tags": [
          "compute"
        ],
        "x-service-id": "video-animate",
        "x-price": "$0.70",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "700000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "700000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.70",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "700000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Describe the motion and camera direction to apply to the image",
                    "example": "Slow cinematic push-in while warm light moves across the scene"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Public HTTP or HTTPS image URL to use as the first frame",
                    "example": "https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=1280"
                  },
                  "duration": {
                    "type": "string",
                    "description": "Fixed video duration",
                    "default": "5",
                    "example": "5"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Visual qualities or artifacts to avoid",
                    "example": "blur, distortion, low quality"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Audio generation is fixed off for deterministic per-call pricing",
                    "default": false,
                    "example": false
                  }
                },
                "required": [
                  "prompt",
                  "image_url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/tts/lux": {
      "post": {
        "summary": "Run Lux Voice Cloning TTS via tts-lux API",
        "description": "Voice-cloning text-to-speech — provide a reference audio clip and generate speech in that voice at 48kHz",
        "tags": [
          "compute"
        ],
        "x-service-id": "tts-lux",
        "x-price": "$0.02",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "20000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "20000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "20000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to convert to speech",
                    "example": "Hey, what's up? I'm feeling really great today!"
                  },
                  "audio_url": {
                    "type": "string",
                    "description": "URL of reference audio file for voice cloning",
                    "example": "https://storage.googleapis.com/falserverless/example_inputs/reference_audio.wav"
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "description": "Flow-matching inference steps (1-16)",
                    "default": 4,
                    "example": 4
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Classifier-free guidance scale (0-10)",
                    "default": 3,
                    "example": 3
                  },
                  "max_ref_length": {
                    "type": "number",
                    "description": "Max reference audio duration in seconds (1-15)",
                    "default": 5,
                    "example": 5
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for reproducibility"
                  }
                },
                "required": [
                  "text",
                  "audio_url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/code/run": {
      "post": {
        "summary": "Run Code Execution via code-run API",
        "description": "Run code in isolated sandbox — Python, JavaScript, Bash, R (up to 5 min)",
        "tags": [
          "compute"
        ],
        "x-service-id": "code-run",
        "x-price": "$0.005",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "5000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "5000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "5000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Code to execute",
                    "example": "print(\"hello\")"
                  },
                  "language": {
                    "type": "string",
                    "description": "Programming language (python, javascript, bash, r)",
                    "default": "python",
                    "example": "python"
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Execution timeout in seconds (1-300)",
                    "default": 60,
                    "example": 60
                  }
                },
                "required": [
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/transcribe": {
      "post": {
        "summary": "Run Audio Transcription via transcribe API",
        "description": "Convert audio to text with speaker identification — covers up to 10 minutes of audio",
        "tags": [
          "compute"
        ],
        "x-service-id": "transcribe",
        "x-price": "$0.10",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "100000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "100000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.10",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "100000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio_url": {
                    "type": "string",
                    "description": "URL of audio file to transcribe (provide audio_url OR audio_base64, not both)",
                    "example": "https://example.com/audio.mp3"
                  },
                  "audio_base64": {
                    "type": "string",
                    "description": "Base64-encoded audio data with MIME type prefix (provide audio_url OR audio_base64, not both)",
                    "example": "data:audio/mp3;base64,SGVsbG8="
                  },
                  "audio_mimetype": {
                    "type": "string",
                    "description": "MIME type when using audio_base64 (e.g. audio/mp3, audio/wav)",
                    "example": "audio/mp3"
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "audio_url"
                    ]
                  },
                  {
                    "required": [
                      "audio_base64"
                    ]
                  }
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/crypto/price": {
      "get": {
        "summary": "Fetch Crypto Price Feed via crypto-price API",
        "description": "Real-time cryptocurrency prices for any coin in any fiat currency",
        "tags": [
          "crypto"
        ],
        "x-service-id": "crypto-price",
        "x-price": "$0.001",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "1000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "1000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated coin IDs (e.g. bitcoin,ethereum)",
            "schema": {
              "type": "string",
              "description": "Comma-separated coin IDs (e.g. bitcoin,ethereum)",
              "example": "bitcoin,ethereum"
            },
            "example": "bitcoin,ethereum"
          },
          {
            "name": "currencies",
            "in": "query",
            "required": false,
            "description": "Comma-separated fiat currencies",
            "schema": {
              "type": "string",
              "description": "Comma-separated fiat currencies",
              "default": "usd",
              "example": "usd,eur"
            },
            "example": "usd,eur"
          },
          {
            "name": "include_24h_change",
            "in": "query",
            "required": false,
            "description": "Include 24h price change",
            "schema": {
              "type": "boolean",
              "description": "Include 24h price change",
              "default": true
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "required": false,
            "description": "Include market cap",
            "schema": {
              "type": "boolean",
              "description": "Include market cap",
              "default": false
            }
          }
        ]
      }
    },
    "/api/crypto/markets": {
      "get": {
        "summary": "Fetch Crypto Market Data via crypto-markets API",
        "description": "Market rankings with price, volume, market cap — filterable by category",
        "tags": [
          "crypto"
        ],
        "x-service-id": "crypto-markets",
        "x-price": "$0.002",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "2000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "2000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "2000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Fiat currency for pricing",
            "schema": {
              "type": "string",
              "description": "Fiat currency for pricing",
              "default": "usd",
              "example": "usd"
            },
            "example": "usd"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category ID",
            "schema": {
              "type": "string",
              "description": "Filter by category ID",
              "example": "decentralized-finance-defi"
            },
            "example": "decentralized-finance-defi"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "description": "Sort order",
              "default": "market_cap_desc",
              "example": "market_cap_desc"
            },
            "example": "market_cap_desc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (1-250)",
            "schema": {
              "type": "number",
              "description": "Number of results (1-250)",
              "default": 100,
              "example": 100
            },
            "example": 100
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-500)",
            "schema": {
              "type": "number",
              "description": "Page number (1-500)",
              "default": 1,
              "example": 1
            },
            "example": 1
          }
        ]
      }
    },
    "/api/crypto/history": {
      "get": {
        "summary": "Fetch Crypto Historical Data via crypto-history API",
        "description": "Historical price, market cap, and volume data for any coin",
        "tags": [
          "crypto"
        ],
        "x-service-id": "crypto-history",
        "x-price": "$0.003",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "3000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "3000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "3000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Coin ID",
            "schema": {
              "type": "string",
              "description": "Coin ID",
              "example": "bitcoin"
            },
            "example": "bitcoin"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Fiat currency",
            "schema": {
              "type": "string",
              "description": "Fiat currency",
              "default": "usd",
              "example": "usd"
            },
            "example": "usd"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Days of history (1-365 or \"max\")",
            "schema": {
              "type": "string",
              "description": "Days of history (1-365 or \"max\")",
              "default": "30",
              "example": "30"
            },
            "example": "30"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Data interval (daily)",
            "schema": {
              "type": "string",
              "description": "Data interval (daily)",
              "example": "daily"
            },
            "example": "daily"
          }
        ]
      }
    },
    "/api/crypto/trending": {
      "get": {
        "summary": "Fetch Trending Crypto via crypto-trending API",
        "description": "Currently trending coins on CoinGecko",
        "tags": [
          "crypto"
        ],
        "x-service-id": "crypto-trending",
        "x-price": "$0.001",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "1000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "1000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        }
      }
    },
    "/api/crypto/search": {
      "get": {
        "summary": "Fetch Crypto Search via crypto-search API",
        "description": "Search for a coin by name or symbol to get its CoinGecko ID",
        "tags": [
          "crypto"
        ],
        "x-service-id": "crypto-search",
        "x-price": "$0.001",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "1000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "1000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (coin name or symbol)",
            "schema": {
              "type": "string",
              "description": "Search query (coin name or symbol)",
              "example": "bitcoin"
            },
            "example": "bitcoin"
          }
        ]
      }
    },
    "/api/wallet/balances": {
      "post": {
        "summary": "Run Wallet Balances via wallet-balances API",
        "description": "Token balances for any wallet across 20+ chains — EVM, Solana, Bitcoin",
        "tags": [
          "crypto"
        ],
        "x-service-id": "wallet-balances",
        "x-price": "$0.005",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "5000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "5000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "5000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Chain name (ethereum, polygon, base, arbitrum, etc.)",
                    "example": "ethereum"
                  },
                  "address": {
                    "type": "string",
                    "description": "Wallet address",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  }
                },
                "required": [
                  "chain",
                  "address"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/wallet/transactions": {
      "post": {
        "summary": "Run Wallet Transactions via wallet-transactions API",
        "description": "Transaction history with asset transfers and labels for any wallet",
        "tags": [
          "crypto"
        ],
        "x-service-id": "wallet-transactions",
        "x-price": "$0.005",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "5000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "5000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "5000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Wallet address",
                    "example": "0x..."
                  },
                  "chain": {
                    "type": "string",
                    "description": "Chain name",
                    "example": "ethereum"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Max results",
                    "default": 100,
                    "example": 100
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/wallet/pnl": {
      "post": {
        "summary": "Run Wallet PnL via wallet-pnl API",
        "description": "Realized and unrealized profit & loss per token for any wallet",
        "tags": [
          "crypto"
        ],
        "x-service-id": "wallet-pnl",
        "x-price": "$0.01",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "10000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "10000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "10000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Chain name (ethereum, polygon, base, arbitrum, etc.)",
                    "example": "ethereum"
                  },
                  "address": {
                    "type": "string",
                    "description": "Wallet address",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  }
                },
                "required": [
                  "chain",
                  "address"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/token/prices": {
      "post": {
        "summary": "Run Token Prices via token-prices API",
        "description": "Real-time DEX-derived token prices with OHLC data — up to 200 tokens per request",
        "tags": [
          "crypto"
        ],
        "x-service-id": "token-prices",
        "x-price": "$0.005",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "5000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "5000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.005",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "5000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokens": {
                    "type": "array",
                    "description": "Array of token objects with chain and token_address",
                    "example": [
                      {
                        "chain": "ethereum",
                        "token_address": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "chain": {
                          "type": "string",
                          "example": "ethereum"
                        },
                        "token_address": {
                          "type": "string",
                          "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
                        }
                      },
                      "required": [
                        "chain",
                        "token_address"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "tokens"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/token/metadata": {
      "get": {
        "summary": "Fetch Token Metadata via token-metadata API",
        "description": "Token/asset metadata — name, symbol, decimals, chain info",
        "tags": [
          "crypto"
        ],
        "x-service-id": "token-metadata",
        "x-price": "$0.002",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "2000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "2000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.002",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "2000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Chain name",
            "schema": {
              "type": "string",
              "description": "Chain name",
              "example": "ethereum"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string",
              "description": "Token contract address",
              "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
            },
            "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
          }
        ]
      }
    },
    "/api/ipfs/pin": {
      "post": {
        "summary": "Run IPFS Pin via ipfs-pin API",
        "description": "Pin JSON, files, or URLs to IPFS for decentralized storage",
        "tags": [
          "storage"
        ],
        "x-service-id": "ipfs-pin",
        "x-price": "$0.01",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "10000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "10000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.01",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "10000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "description": "JSON object to pin (provide json OR url, not both)",
                    "example": {
                      "hello": "world"
                    }
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of file to pin (provide json OR url, not both)",
                    "example": "https://example.com/file.jpg"
                  },
                  "name": {
                    "type": "string",
                    "description": "Base64-encoded file",
                    "example": "data:image/png;base64,..."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/ipfs/get": {
      "get": {
        "summary": "Fetch IPFS Retrieve via ipfs-get API",
        "description": "Fetch a file from IPFS by CID via gateway",
        "tags": [
          "storage"
        ],
        "x-service-id": "ipfs-get",
        "x-price": "$0.001",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "1000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "1000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.001",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "required": true,
            "description": "IPFS CID",
            "schema": {
              "type": "string",
              "description": "IPFS CID",
              "example": "QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG"
            },
            "example": "QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG"
          }
        ]
      }
    },
    "/api/llm/gpt-4o": {
      "post": {
        "summary": "Run GPT-4o via llm-gpt-4o API",
        "description": "OpenAI's flagship multimodal model — strong all-around for text, vision, and reasoning",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-gpt-4o",
        "x-price": "$0.04",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.04",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "40000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.04",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "40000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.04",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "40000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 1024,
                    "example": 1024
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/llm/gpt-4o-mini": {
      "post": {
        "summary": "Run GPT-4o Mini via llm-gpt-4o-mini API",
        "description": "Fast, affordable GPT-4o variant — great for simple tasks and high-volume use",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-gpt-4o-mini",
        "x-price": "$0.003",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "3000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "3000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.003",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "3000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 1024,
                    "example": 1024
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/llm/o1": {
      "post": {
        "summary": "Run OpenAI o1 via llm-o1 API",
        "description": "OpenAI's reasoning model — excels at math, science, coding, and multi-step problem solving",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-o1",
        "x-price": "$0.03",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.03",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "30000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.03",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "30000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.03",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "30000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate (reasoning models use more)",
                    "default": 16384,
                    "example": 16384
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/llm/claude-opus": {
      "post": {
        "summary": "Run Claude Opus 4.6 via llm-claude-opus API",
        "description": "Anthropic's most powerful model — best for complex analysis, coding, and extended thinking",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-claude-opus",
        "x-price": "$0.09",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.09",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "90000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.09",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "90000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.09",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "90000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 1024,
                    "example": 1024
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/llm/claude-sonnet": {
      "post": {
        "summary": "Run Claude Sonnet 4.5 via llm-claude-sonnet API",
        "description": "Anthropic's balanced model — excellent coding, reasoning, and creative writing",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-claude-sonnet",
        "x-price": "$0.06",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.06",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "60000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.06",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "60000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.06",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "60000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 1024,
                    "example": 1024
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/llm/claude-haiku": {
      "post": {
        "summary": "Run Claude Haiku 4.5 via llm-claude-haiku API",
        "description": "Anthropic's fastest model — affordable and quick for simple tasks and high throughput",
        "tags": [
          "compute"
        ],
        "x-service-id": "llm-claude-haiku",
        "x-price": "$0.02",
        "x-payment-options": [
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "amount": "20000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "eip155:4326",
            "asset": "0xFAfDdbb3FC7688494971a79cc65DCa3EF82079E7",
            "amount": "20000000000000000",
            "payTo": "0x7dd5Be069f2d2eAd75eC7C3423B116fF043c2629",
            "maxTimeoutSeconds": 300,
            "extra": {
              "name": "USDm",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "price": "$0.02",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "20000",
            "payTo": "Gzehfseq1k9AcHFSoV7qHmDGQx92nLMw78XXdqVWQQWa",
            "maxTimeoutSeconds": 300,
            "extra": {
              "feePayer": "GVJJ7rdGiXr5xaYbRwRbjfaJL7fmwRygFi1H6aGqDveb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid response"
          },
          "402": {
            "description": "Payment required"
          },
          "4XX": {
            "description": "Invalid request or payment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Array of message objects with role and content",
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  },
[...]
