{
  "openapi": "3.1.0",
  "info": {
    "title": "Phantom AI",
    "version": "1.0.0",
    "description": "OpenAI- and Anthropic-compatible model API with a routing model (phantom-1). Buy prepaid credit with Solana USDC over x402 or MPP at /v1/x402/top-up, then call any model with the API key it returns.",
    "x-guidance": "1. POST /v1/x402/top-up with {\"amount_usd\": 1} (0.10 to 10000; an empty body buys $1). The unpaid request returns a 402 with x402 and MPP challenges for that amount in Solana USDC. Pay it and send the same request again; the response holds api_key (shown once), recovery_code and credit_usd. To add credit to a key you already hold, put it in the body as target_api_key, not in the Authorization header. 2. Call POST /v1/chat/completions (OpenAI shape), /v1/messages (Anthropic shape) or /v1/responses (OpenAI Responses shape) with Authorization: Bearer <api_key>. Streaming works. Each call is billed at its actual cost from the credit. Use model \"phantom-1\" to let the router pick, or any id from GET /v1/models."
  },
  "servers": [
    {
      "url": "https://phantom.codes"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "postV1ChatCompletions",
        "summary": "Create a chat completion",
        "description": "OpenAI's chat completions API, streaming or not. Phantom checks the key, runs its route policy (which picks the model for `model: \"auto\"`), estimates the prompt from the messages and tool definitions, and holds the worst-case cost on the key. It sets `max_tokens` to the output the hold covers, calls the upstream, and bills the cost the upstream reports in `usage.cost`, or the catalog rate for the reported tokens, at the rate of the model the upstream says it served. Every price includes Phantom's 5% markup on the Gateway's rate, the same rates `GET /v1/models` lists. A refused or failed call bills nothing and returns the hold.\n\nA stream bills when it ends: finished, cut off by an error, or abandoned by you. When the usage frame never arrived, the prompt and output tokens fall back to estimates (about four characters per token, tool-call arguments included).\n\nWith the policy's `fallback_on_error` on, the upstream tries the policy's other models in the same call when the routed one fails. Phantom always asks the upstream to add prompt-cache markers where a provider needs them (`caching: \"auto\"`), and tries the cheapest provider of the model first (`sort: \"cost\"`) unless you set `sort`.\n\n`sort`, `zdr` and `no_training` choose providers; the key's route policy can set them too, and the request wins.",
        "tags": [
          "Inference"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "x-phantom-session",
            "in": "header",
            "required": false,
            "description": "Your own conversation id. With routing (`auto`, or a key's route policy), requests on the same key with the same id stay on the model picked for them while the policy's `stick_minutes` window lasts; `auto` on a key with no policy keeps it for the whole session. Only the first 200 characters count. Without it, the opening messages group requests instead. Phantom keeps this in server memory only, as a salted hash, and sends the upstream a hash of it under your key as `x-session-affinity`, so the same provider serves the session and its prompt cache stays warm.",
            "schema": {
              "type": "string",
              "examples": [
                "chat-2026-09-24-a"
              ]
            }
          },
          {
            "name": "x-phantom-agent",
            "in": "header",
            "required": false,
            "description": "The coding agent a request came through: `claude-code`, `codex`, `cursor` or `coding-agent`. Phantom sets it when you call an agent's base path (`https://phantom.codes/codex/v1`), and tags the call with it at the upstream. Any other value is ignored.",
            "schema": {
              "type": "string",
              "examples": [
                "codex"
              ]
            }
          },
          {
            "name": "x-phantom-route",
            "in": "header",
            "required": false,
            "description": "Send `off` to skip the key's route policy for this request. The request runs on the model it names; `model: \"auto\"` is refused with a 400.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          },
          {
            "name": "x-phantom-escalate",
            "in": "header",
            "required": false,
            "description": "Send `1` when the current model isn't managing the task. Phantom Router moves the conversation one model up (free, then standard, then frontier) and keeps it there; a key's route policy moves it to the policy's last model. Phantom can't tell a weak answer from a good one, so escalation is your call.",
            "schema": {
              "type": "string",
              "examples": [
                "1"
              ]
            }
          },
          {
            "name": "x-phantom-free",
            "in": "header",
            "required": false,
            "description": "Send `off` so Phantom Router doesn't pick its free model for this request. `zdr` or `no_training` turns it off too, since free models promise neither.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          },
          {
            "name": "x-phantom-route-debug",
            "in": "header",
            "required": false,
            "description": "Send `1` or `true` (or set `router_debug: true` in the request body) to return raw tier probability scores and selection threshold in `x-phantom-route-scores`.",
            "schema": {
              "type": "string",
              "examples": [
                "1"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "An OpenAI chat completions request. Fields not listed go to the upstream unchanged.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A chat model id from `GET /v1/models`; `phantom-1` to let Phantom Router pick its free, standard or frontier model per task; or `auto` to route by the key's route policy (Phantom Router when the key has none). Renamed ids resolve to the current one. `phantom-1` with an image runs `alibaba/qwen3.7-flash`.",
                    "default": "phantom-1",
                    "examples": [
                      "anthropic/claude-sonnet-5.5"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "description": "The conversation, in OpenAI's format. Counts toward the prompt estimate, the route policy's conditions, and the opening hash for sticky routing.",
                    "examples": [
                      [
                        {
                          "role": "user",
                          "content": "Hello"
                        }
                      ]
                    ],
                    "items": {
                      "type": "object",
                      "description": "A message.",
                      "additionalProperties": true
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Answer as a server-sent event stream.",
                    "default": false
                  },
                  "stream_options": {
                    "type": "object",
                    "description": "Passed through, with `include_usage` forced to `true` on streams so the usage frame always arrives.",
                    "additionalProperties": true
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Your output limit. Phantom sends the smallest of this, what the balance buys after the prompt, and the model's output cap, shrunk to what the hold covers."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "description": "Read before `max_tokens` when both are set. When sent, Phantom replaces it with the same limit it sends as `max_tokens`."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Always sent as 1. One completion per request."
                  },
                  "tools": {
                    "type": "array",
                    "description": "Tool definitions. Count toward the prompt estimate.",
                    "items": {
                      "type": "object",
                      "description": "A tool.",
                      "additionalProperties": true
                    }
                  },
                  "functions": {
                    "type": "array",
                    "description": "Legacy function definitions. Count toward the prompt estimate.",
                    "items": {
                      "type": "object",
                      "description": "A function.",
                      "additionalProperties": true
                    }
                  },
                  "sort": {
                    "type": "string",
                    "description": "How to rank the providers that serve the model before trying them: `cost` (cheapest first, the default), `ttft` (fastest first token) or `tps` (most tokens per second). Overrides the key's route policy. Phantom removes it before calling the upstream.",
                    "enum": [
                      "cost",
                      "ttft",
                      "tps"
                    ],
                    "examples": [
                      "ttft"
                    ]
                  },
                  "zdr": {
                    "type": "boolean",
                    "description": "Only use providers that delete prompts right away (zero data retention). Not available yet: a request with `zdr: true` gets 403 `zdr_unavailable`. Phantom removes it before calling the upstream."
                  },
                  "no_training": {
                    "type": "boolean",
                    "description": "Only use providers that don't train on prompts. Phantom removes it before calling the upstream."
                  },
                  "provider": {
                    "type": "object",
                    "description": "The upstream's shorthand for provider routing, such as `{\"sort\": \"tps\"}`, passed through unchanged. When it sets `sort`, Phantom sends no default sort.",
                    "additionalProperties": true
                  },
                  "providerOptions": {
                    "type": "object",
                    "description": "Passed to the upstream, except `gateway.models`, which Phantom replaces with the policy's fallbacks or drops. `gateway.order` still chooses among providers of the same model. Your `gateway` settings win over `sort`, `zdr` and `no_training`. `order` (providers to try first), `only` (the only providers allowed) and `sort` all pass through.",
                    "additionalProperties": true
                  },
                  "router_debug": {
                    "type": "boolean",
                    "description": "When true, returns raw tier probability distribution, selected tier, and threshold in `x-phantom-route-scores` header and response body. Phantom removes it before calling the upstream."
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upstream's chat completion, passed through. Other statuses from the upstream also come back as the upstream sent them; nothing is billed then.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The completion id."
                    },
                    "object": {
                      "type": "string",
                      "description": "`chat.completion`."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model the upstream reports running. Billing uses this model's rate when the catalog carries it."
                    },
                    "choices": {
                      "type": "array",
                      "description": "The completion. One choice, since `n` is forced to 1.",
                      "items": {
                        "type": "object",
                        "description": "A choice.",
                        "additionalProperties": true
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "What Phantom bills from. When the token counts are missing, Phantom estimates them.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Input tokens."
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Output tokens."
                        },
                        "cost": {
                          "type": "number",
                          "description": "What the upstream charged, in US dollars. Billed as-is unless it is more than 100 times the catalog price."
                        }
                      },
                      "additionalProperties": true
                    },
                    "phantom": {
                      "type": "object",
                      "description": "Added by Phantom: what this call cost and how it was served.",
                      "properties": {
                        "cost_usd": {
                          "type": "number",
                          "description": "What this call was charged, in US dollars. Same as `x-phantom-cost-usd`."
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The provider that answered, or null when the upstream did not say."
                        },
                        "attempts": {
                          "type": "integer",
                          "description": "Provider attempts across every model tried. 1 when the first try worked."
                        },
                        "fallback": {
                          "type": "boolean",
                          "description": "`true` when a provider or model failed and another one answered."
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "With `stream: true`: the upstream's `data: {chunk}` lines, passed through, ending with `data: [DONE]`. Just before the chunk that holds `data: [DONE]`, Phantom inserts `event: phantom.receipt` with `data: {\"receipt\":\"<compact receipt>\",\"phantom\":{...}}`, where `phantom` has the same fields as in a non-streaming answer. That receipt's `output_hash` covers the text you received. Without a signing key the event carries `phantom` only."
                }
              }
            },
            "headers": {
              "x-phantom-charged": {
                "description": "Actual stablecoin payment in dollars, including the disclosed payment fee.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-request-id": {
                "description": "Phantom's id for this request (`req_` + 24 hex characters). The same value is `request_id` in the receipt. Also sent when the upstream refuses the call and its error is passed through.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "req_4f1c2a9b0d3e5f6a7b8c9d0e"
                  ]
                }
              },
              "x-phantom-content-logged": {
                "description": "Always `false`: Phantom did not store the prompt or the output of this call. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-routed": {
                "description": "Present when Phantom picked the model, either Phantom Router for `phantom-1` or the key's route policy for `auto`: the model id, then `; reason=` and what decided it. A rule shows as `<condition>:<value>`; other reasons are `default` (the policy's first model), `requested`, `cache` (kept on the conversation's model) and `on_empty` (past the budget, the cheapest model). Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "deepseek/deepseek-v4-flash-0731; reason=reasoning_requested:false"
                  ]
                }
              },
              "x-phantom-route-receipt": {
                "description": "Sent on routed `phantom-1` calls: names requested model, served tier, underlying model, calibrated confidence, routing reason, and estimated percentage savings. Sent on routed phantom-1 calls: names requested model, served tier, underlying model, calibrated confidence, reason, and estimated percentage savings.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "requested=phantom-1;tier=cheap;model=deepseek/deepseek-v4-flash-0731;confidence=0.92;reason=rules:routine_code_generation;savings=74%"
                  ]
                }
              },
              "x-phantom-route-scores": {
                "description": "Returns raw tier probability scores, selected tier, and threshold when debug mode is requested via `x-phantom-route-debug: 1` or `router_debug: true`. Sent when x-phantom-route-debug: 1 or router_debug: true is requested: returns tier scores, selected tier, and threshold.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "free=0.38;cheap=0.92;frontier=0.97;selected=cheap;threshold=0.85"
                  ]
                }
              },
              "x-phantom-upstream": {
                "description": "Always `pai`. The receipt's `upstream` field holds the same value. Always `pai`. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "pai"
                  ]
                }
              },
              "x-phantom-upstream-model": {
                "description": "The model id Phantom sent to the upstream. On chat and messages, the receipt's `model_served` holds the id the upstream reported running. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "anthropic/claude-sonnet-5.5"
                  ]
                }
              },
              "x-phantom-upstream-request-id": {
                "description": "The upstream's own request id, copied from its `x-request-id` response header when it sends one. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-receipt": {
                "description": "A signed receipt for the call: `base64url(canonical JSON payload).base64url(Ed25519 signature)`. The payload names the model served, token counts, cost and hashes of the request and response. Check it against `GET /v1/receipts/key`. Left out when the deployment has no signing key. Non-streaming answers only. `model_requested` is the id you sent after renames (`auto` stays `auto`), `model_served` is the `model` field of the upstream's answer, and `reasoning_tokens` comes from `usage.completion_tokens_details`. A stream carries the receipt in the body instead.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-cached-tokens": {
                "description": "Prompt tokens the upstream served from its cache, billed at the cached rate. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "x-phantom-cost-usd": {
                "description": "What this call was charged, in US dollars. Non-streaming answers only. A stream carries it in the `phantom.receipt` event.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0.000420"
                  ]
                }
              },
              "x-phantom-provider": {
                "description": "The provider that answered, such as `anthropic`, `bedrock` or `azure`. Left out when the upstream does not say. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "bedrock"
                  ]
                }
              },
              "x-phantom-fallback": {
                "description": "`true` when a provider or model failed and another one answered the call, `false` when the first try worked. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-balance-usd": {
                "description": "Credit left on the key after this call was billed, in US dollars. Left out when the debit found no key to charge; never sent as a guessed zero. Non-streaming answers only. A stream's headers leave before it is billed.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "4.991230"
                  ]
                }
              },
              "cache-control": {
                "description": "Caching rules for the response. Streams only: `no-cache`.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-store"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, `sort`, `zdr` or `no_training` has a bad value (`invalid_prefs`), or the route policy could not route (`route_required`: `auto` with `x-phantom-route: off`, or no model in the policy can take the request), or a paid request without `stream: true` (`stream_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "No `Bearer` key (`missing_api_key`), a key Phantom does not know (`invalid_api_key`), or an expired or deactivated key (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "402": {
            "description": "The key is past its spend cap and its policy did not move the request to its cheapest model (`budget_exceeded`), or it holds less than $0.001, cannot pay for the prompt alone, cannot buy 32 output tokens after it, or the hold failed (`insufficient_quota`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "The request asked for `zdr`, which is not available yet (`zdr_unavailable`). Nothing is billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "The model is not a chat model in the catalog (`model_not_found`), or it was retired (`model_retired`, which names the closest current model).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "The key's per-minute spend cap is reached (`spend_rate_exceeded`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            },
            "headers": {
              "retry-after": {
                "description": "Seconds to wait before trying again. Sent when the key's per-minute spend cap is reached.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "12"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Phantom has no upstream key configured, or the upstream could not be reached. Nothing is billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "postV1Messages",
        "summary": "Create a message (Anthropic)",
        "description": "Anthropic's Messages API on a Phantom key, so Claude Code and the Anthropic SDKs work with `ANTHROPIC_BASE_URL=https://phantom.codes`. Any chat model in the catalog works, `auto` included. Anthropic ids such as `claude-sonnet-5-5` map to the upstream's `anthropic/claude-sonnet-5.5`.\n\nBilling and routing match `POST /v1/chat/completions`: Phantom runs the key's route policy, estimates the prompt (system prompt, messages and tools), holds the worst-case cost, sets `max_tokens` to what the hold covers, calls the upstream's `/v1/messages`, and bills the cost the upstream reports, or the catalog rate for the reported tokens. Cache reads and cache writes count as input tokens. A refused or failed call bills nothing. A stream bills when it ends, including when you hang up early; output tokens then fall back to an estimate from the text sent so far.",
        "tags": [
          "Inference"
        ],
        "security": [
          {
            "anthropicKey": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "required": false,
            "description": "Anthropic API version, forwarded to the upstream. Defaults to `2023-06-01` when left out.",
            "schema": {
              "type": "string",
              "examples": [
                "2023-06-01"
              ]
            }
          },
          {
            "name": "anthropic-beta",
            "in": "header",
            "required": false,
            "description": "Anthropic beta flags (prompt caching, long context and the like), forwarded to the upstream unchanged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-phantom-session",
            "in": "header",
            "required": false,
            "description": "Your own conversation id. With routing (`auto`, or a key's route policy), requests on the same key with the same id stay on the model picked for them while the policy's `stick_minutes` window lasts; `auto` on a key with no policy keeps it for the whole session. Only the first 200 characters count. Without it, the opening messages group requests instead. Phantom keeps this in server memory only, as a salted hash, and sends the upstream a hash of it under your key as `x-session-affinity`, so the same provider serves the session and its prompt cache stays warm.",
            "schema": {
              "type": "string",
              "examples": [
                "chat-2026-09-24-a"
              ]
            }
          },
          {
            "name": "x-phantom-agent",
            "in": "header",
            "required": false,
            "description": "The coding agent a request came through: `claude-code`, `codex`, `cursor` or `coding-agent`. Phantom sets it when you call an agent's base path (`https://phantom.codes/codex/v1`), and tags the call with it at the upstream. Any other value is ignored.",
            "schema": {
              "type": "string",
              "examples": [
                "codex"
              ]
            }
          },
          {
            "name": "x-phantom-route",
            "in": "header",
            "required": false,
            "description": "Send `off` to skip the key's route policy for this request. The request runs on the model it names; `model: \"auto\"` is refused with a 400.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          },
          {
            "name": "x-phantom-escalate",
            "in": "header",
            "required": false,
            "description": "Send `1` when the current model isn't managing the task. Phantom Router moves the conversation one model up (free, then standard, then frontier) and keeps it there; a key's route policy moves it to the policy's last model. Phantom can't tell a weak answer from a good one, so escalation is your call.",
            "schema": {
              "type": "string",
              "examples": [
                "1"
              ]
            }
          },
          {
            "name": "x-phantom-free",
            "in": "header",
            "required": false,
            "description": "Send `off` so Phantom Router doesn't pick its free model for this request. `zdr` or `no_training` turns it off too, since free models promise neither.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "An Anthropic Messages request. Fields not listed go to the upstream unchanged.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A chat model id, an Anthropic `claude-*` id, `phantom-1` to let Phantom Router pick, or `auto` to route by the key's route policy (Phantom Router when the key has none).",
                    "examples": [
                      "claude-sonnet-5-5"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "description": "The conversation, in Anthropic's format. Must be non-empty.",
                    "examples": [
                      [
                        {
                          "role": "user",
                          "content": "Hello"
                        }
                      ]
                    ],
                    "items": {
                      "type": "object",
                      "description": "A message.",
                      "additionalProperties": true
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Your output limit. Phantom replaces it with the smallest of this, what the balance buys, and the model's output cap, then shrinks it to what the hold covers."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Answer as a server-sent event stream.",
                    "default": false
                  },
                  "system": {
                    "type": "string",
                    "description": "The system prompt. Anthropic also accepts an array of text blocks. Counts toward the prompt estimate."
                  },
                  "tools": {
                    "type": "array",
                    "description": "Tool definitions. Count toward the prompt estimate and the route policy's conditions.",
                    "items": {
                      "type": "object",
                      "description": "A tool.",
                      "additionalProperties": true
                    }
                  },
                  "thinking": {
                    "type": "object",
                    "description": "Extended thinking. When `max_tokens` is lowered below `budget_tokens`, the budget drops to `max_tokens - 1`; when that is under 1024, thinking is removed from the request. `type: \"enabled\"` also counts as reasoning for the route policy.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "`enabled` to turn thinking on."
                      },
                      "budget_tokens": {
                        "type": "integer",
                        "description": "Most tokens the model may spend thinking."
                      }
                    }
                  },
                  "models": {
                    "type": "array",
                    "description": "Dropped. Phantom never lets the upstream pick a model it did not price.",
                    "items": {
                      "type": "string",
                      "description": "A model id."
                    }
                  },
                  "sort": {
                    "type": "string",
                    "description": "How to rank the providers that serve the model: `cost` (the default), `ttft` (fastest first token) or `tps` (most tokens per second). Overrides the key's route policy. Removed before calling the upstream.",
                    "enum": [
                      "cost",
                      "ttft",
                      "tps"
                    ]
                  },
                  "zdr": {
                    "type": "boolean",
                    "description": "Only use providers that delete prompts right away. Not available yet: `zdr: true` gets 403. Removed before calling the upstream."
                  },
                  "no_training": {
                    "type": "boolean",
                    "description": "Only use providers that don't train on prompts. Removed before calling the upstream."
                  },
                  "providerOptions": {
                    "type": "object",
                    "description": "Passed to the upstream, except `gateway.models`, which is dropped. `gateway.order` still chooses among providers of the same model. Phantom always sets `gateway.caching: \"auto\"`, and `gateway.sort: \"cost\"` unless you choose a sort. Your `gateway` settings win over `sort`, `zdr` and `no_training`.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "messages"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upstream's Anthropic message, passed through. Other statuses from the upstream also come back as the upstream sent them, with its Anthropic error body; nothing is billed then.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The message id."
                    },
                    "type": {
                      "type": "string",
                      "description": "`message`."
                    },
                    "role": {
                      "type": "string",
                      "description": "`assistant`."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model the upstream reports running. Billing uses this model's rate when the catalog carries it."
                    },
                    "content": {
                      "type": "array",
                      "description": "The output blocks: text, thinking, tool use.",
                      "items": {
                        "type": "object",
                        "description": "A content block.",
                        "additionalProperties": true
                      }
                    },
                    "stop_reason": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Why the model stopped."
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token counts Phantom bills from. When they are missing, Phantom estimates from the prompt and the content.",
                      "properties": {
                        "input_tokens": {
                          "type": "integer",
                          "description": "Uncached input tokens."
                        },
                        "output_tokens": {
                          "type": "integer",
                          "description": "Output tokens."
                        },
                        "cache_read_input_tokens": {
                          "type": "integer",
                          "description": "Input tokens read from the cache."
                        },
                        "cache_creation_input_tokens": {
                          "type": "integer",
                          "description": "Input tokens written to the cache."
                        }
                      },
                      "additionalProperties": true
                    },
                    "phantom": {
                      "type": "object",
                      "description": "Added by Phantom: what this call cost and how it was served.",
                      "properties": {
                        "cost_usd": {
                          "type": "number",
                          "description": "What this call was charged, in US dollars."
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The provider that answered, or null when the upstream did not say."
                        },
                        "attempts": {
                          "type": "integer",
                          "description": "Provider attempts across every model tried. 1 when the first try worked."
                        },
                        "fallback": {
                          "type": "boolean",
                          "description": "`true` when a provider or model failed and another one answered."
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "With `stream: true`: the upstream's Anthropic events (`message_start`, `content_block_delta`, `message_delta`, `message_stop` and the rest), passed through. Just before the chunk that holds `event: message_stop`, Phantom inserts `event: phantom.receipt` with `data: {\"type\":\"phantom.receipt\",\"receipt\":\"<compact receipt>\",\"phantom\":{...}}`, where `phantom` has the same fields as in a non-streaming answer. Without a signing key the event carries `phantom` only."
                }
              }
            },
            "headers": {
              "x-phantom-charged": {
                "description": "Actual stablecoin payment in dollars, including the disclosed payment fee.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-request-id": {
                "description": "Phantom's id for this request (`req_` + 24 hex characters). The same value is `request_id` in the receipt. Also sent when the upstream refuses the call and its error is passed through.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "req_4f1c2a9b0d3e5f6a7b8c9d0e"
                  ]
                }
              },
              "x-phantom-content-logged": {
                "description": "Always `false`: Phantom did not store the prompt or the output of this call. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-routed": {
                "description": "Present when Phantom picked the model, either Phantom Router for `phantom-1` or the key's route policy for `auto`: the model id, then `; reason=` and what decided it. A rule shows as `<condition>:<value>`; other reasons are `default` (the policy's first model), `requested`, `cache` (kept on the conversation's model) and `on_empty` (past the budget, the cheapest model). Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "deepseek/deepseek-v4-flash-0731; reason=reasoning_requested:false"
                  ]
                }
              },
              "x-phantom-route-receipt": {
                "description": "Sent on routed `phantom-1` calls: names requested model, served tier, underlying model, calibrated confidence, routing reason, and estimated percentage savings. Sent on routed phantom-1 calls: names requested model, served tier, underlying model, calibrated confidence, reason, and estimated percentage savings.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "requested=phantom-1;tier=cheap;model=deepseek/deepseek-v4-flash-0731;confidence=0.92;reason=rules:routine_code_generation;savings=74%"
                  ]
                }
              },
              "x-phantom-route-scores": {
                "description": "Returns raw tier probability scores, selected tier, and threshold when debug mode is requested via `x-phantom-route-debug: 1` or `router_debug: true`. Sent when debug mode is requested: returns tier scores, selected tier, and threshold.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "free=0.38;cheap=0.92;frontier=0.97;selected=cheap;threshold=0.85"
                  ]
                }
              },
              "x-phantom-upstream": {
                "description": "Always `pai`. The receipt's `upstream` field holds the same value. Always `pai`. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "pai"
                  ]
                }
              },
              "x-phantom-upstream-model": {
                "description": "The model id Phantom sent to the upstream. On chat and messages, the receipt's `model_served` holds the id the upstream reported running. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "anthropic/claude-sonnet-5.5"
                  ]
                }
              },
              "x-phantom-upstream-request-id": {
                "description": "The upstream's own request id, copied from its `x-request-id` response header when it sends one. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-receipt": {
                "description": "A signed receipt for the call: `base64url(canonical JSON payload).base64url(Ed25519 signature)`. The payload names the model served, token counts, cost and hashes of the request and response. Check it against `GET /v1/receipts/key`. Left out when the deployment has no signing key. Non-streaming answers only. `model_requested` is the id you sent after renames (`auto` stays `auto`), `model_served` is the `model` field of the upstream's answer, and `reasoning_tokens` is 0. A stream carries the receipt in the body instead.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-cached-tokens": {
                "description": "Prompt tokens the upstream served from its cache, billed at the cached rate. Non-streaming answers only: the `cache_read_input_tokens` the upstream reported.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "x-phantom-cost-usd": {
                "description": "What this call was charged, in US dollars. Non-streaming answers only. A stream carries it in the `phantom.receipt` event.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0.000420"
                  ]
                }
              },
              "x-phantom-provider": {
                "description": "The provider that answered, such as `anthropic`, `bedrock` or `azure`. Left out when the upstream does not say. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "bedrock"
                  ]
                }
              },
              "x-phantom-fallback": {
                "description": "`true` when a provider or model failed and another one answered the call, `false` when the first try worked. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-balance-usd": {
                "description": "Credit left on the key after this call was billed, in US dollars. Left out when the debit found no key to charge; never sent as a guessed zero. Non-streaming answers only. A stream's headers leave before it is billed.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "4.991230"
                  ]
                }
              },
              "cache-control": {
                "description": "Caching rules for the response. Streams only: `no-cache`.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-store"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, `model` or `messages` is missing, `sort`, `zdr` or `no_training` has a bad value, or the route policy could not route (for example `auto` with `x-phantom-route: off`, or no model in the policy can take the request). Also a paid request without `stream: true`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          },
          "401": {
            "description": "No key in `x-api-key` or `Authorization`, a key Phantom does not know, or an expired or deactivated key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          },
          "402": {
            "description": "The key is past its spend cap (and its policy did not move the request to its cheapest model), holds less than $0.001, cannot pay for the prompt alone, cannot buy 32 output tokens after it, or the hold failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          },
          "403": {
            "description": "The request asked for `zdr`, which is not available yet. Nothing is billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          },
          "404": {
            "description": "The model is not a chat model in the catalog, or it was retired (the error names the closest current model).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          },
          "429": {
            "description": "The key's per-minute spend cap is reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            },
            "headers": {
              "retry-after": {
                "description": "Seconds to wait before trying again. Sent when the key's per-minute spend cap is reached.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "12"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Phantom has no upstream key configured, or the upstream could not be reached. Nothing is billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "postV1Responses",
        "summary": "Create a response (Responses API)",
        "description": "OpenAI's Responses API, streaming or not, so Codex CLI and the OpenAI SDK's `responses.create` work on a Phantom key. Any chat model in the catalog works, `auto` included.\n\nBilling and routing match `POST /v1/chat/completions`: Phantom runs the key's route policy, estimates the prompt (instructions, input and tools), holds the worst-case cost, sets `max_output_tokens` to what the hold covers, calls the upstream's `/v1/responses`, and bills the cost the upstream reports, or the catalog rate for the reported tokens. A refused or failed call bills nothing. A stream bills when it ends, including when you hang up early.\n\nPhantom keeps no conversation: `store` is always sent as `false`, and `previous_response_id` is refused. Send the whole conversation in `input`, as Codex does.",
        "tags": [
          "Inference"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "x-phantom-session",
            "in": "header",
            "required": false,
            "description": "Your own conversation id. With routing (`auto`, or a key's route policy), requests on the same key with the same id stay on the model picked for them while the policy's `stick_minutes` window lasts; `auto` on a key with no policy keeps it for the whole session. Only the first 200 characters count. Without it, the opening messages group requests instead. Phantom keeps this in server memory only, as a salted hash, and sends the upstream a hash of it under your key as `x-session-affinity`, so the same provider serves the session and its prompt cache stays warm.",
            "schema": {
              "type": "string",
              "examples": [
                "chat-2026-09-24-a"
              ]
            }
          },
          {
            "name": "x-phantom-agent",
            "in": "header",
            "required": false,
            "description": "The coding agent a request came through: `claude-code`, `codex`, `cursor` or `coding-agent`. Phantom sets it when you call an agent's base path (`https://phantom.codes/codex/v1`), and tags the call with it at the upstream. Any other value is ignored.",
            "schema": {
              "type": "string",
              "examples": [
                "codex"
              ]
            }
          },
          {
            "name": "x-phantom-route",
            "in": "header",
            "required": false,
            "description": "Send `off` to skip the key's route policy for this request. The request runs on the model it names; `model: \"auto\"` is refused with a 400.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          },
          {
            "name": "x-phantom-escalate",
            "in": "header",
            "required": false,
            "description": "Send `1` when the current model isn't managing the task. Phantom Router moves the conversation one model up (free, then standard, then frontier) and keeps it there; a key's route policy moves it to the policy's last model. Phantom can't tell a weak answer from a good one, so escalation is your call.",
            "schema": {
              "type": "string",
              "examples": [
                "1"
              ]
            }
          },
          {
            "name": "x-phantom-free",
            "in": "header",
            "required": false,
            "description": "Send `off` so Phantom Router doesn't pick its free model for this request. `zdr` or `no_training` turns it off too, since free models promise neither.",
            "schema": {
              "type": "string",
              "examples": [
                "off"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A Responses API request. Fields not listed go to the upstream unchanged.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A chat model id from `GET /v1/models`; `phantom-1` to let Phantom Router pick its free, standard or frontier model per task; or `auto` to route by the key's route policy (Phantom Router when the key has none). `phantom-1` with an image runs `alibaba/qwen3.7-flash`.",
                    "default": "phantom-1"
                  },
                  "input": {
                    "type": "string",
                    "description": "The prompt, or an array of input items (messages, function call outputs). Counts toward the prompt estimate.",
                    "examples": [
                      "Write a haiku about receipts."
                    ]
                  },
                  "instructions": {
                    "type": "string",
                    "description": "The system prompt. Counts toward the prompt estimate."
                  },
                  "tools": {
                    "type": "array",
                    "description": "Tool definitions. Count toward the prompt estimate.",
                    "items": {
                      "type": "object",
                      "description": "A tool.",
                      "additionalProperties": true
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Answer as a server-sent event stream.",
                    "default": false
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "Your output limit. Phantom replaces it with the smallest of this, what the balance buys, and the model's output cap, then shrinks it to what the hold covers."
                  },
                  "store": {
                    "type": "boolean",
                    "description": "Always sent as `false`. Phantom keeps no conversation."
                  },
                  "previous_response_id": {
                    "type": "string",
                    "description": "Refused with 400. Send the whole conversation in `input`."
                  },
                  "sort": {
                    "type": "string",
                    "description": "How to rank the providers that serve the model: `cost` (the default), `ttft` (fastest first token) or `tps` (most tokens per second). Removed before calling the upstream.",
                    "enum": [
                      "cost",
                      "ttft",
                      "tps"
                    ]
                  },
                  "zdr": {
                    "type": "boolean",
                    "description": "Only use providers that delete prompts right away. Not available yet: `zdr: true` gets 403. Removed before calling the upstream."
                  },
                  "no_training": {
                    "type": "boolean",
                    "description": "Only use providers that don't train on prompts. Removed before calling the upstream."
                  },
                  "providerOptions": {
                    "type": "object",
                    "description": "Passed to the upstream, except `gateway.models`, which is dropped. Phantom always sets `gateway.caching: \"auto\"`, and `gateway.sort: \"cost\"` unless you choose a sort.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "input"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upstream's response, passed through, plus `phantom`. Other statuses from the upstream also come back as the upstream sent them; nothing is billed then.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The response id."
                    },
                    "object": {
                      "type": "string",
                      "description": "`response`."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model the upstream reports running."
                    },
                    "output": {
                      "type": "array",
                      "description": "Output items: messages, reasoning, function calls.",
                      "items": {
                        "type": "object",
                        "description": "An output item.",
                        "additionalProperties": true
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token counts Phantom bills from. When they are missing, Phantom estimates them.",
                      "properties": {
                        "input_tokens": {
                          "type": "integer",
                          "description": "Input tokens."
                        },
                        "output_tokens": {
                          "type": "integer",
                          "description": "Output tokens, reasoning included."
                        }
                      },
                      "additionalProperties": true
                    },
                    "phantom": {
                      "type": "object",
                      "description": "Added by Phantom: what this call cost and how it was served.",
                      "properties": {
                        "cost_usd": {
                          "type": "number",
                          "description": "What this call was charged, in US dollars."
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The provider that answered, or null when the upstream did not say."
                        },
                        "attempts": {
                          "type": "integer",
                          "description": "Provider attempts across every model tried."
                        },
                        "fallback": {
                          "type": "boolean",
                          "description": "`true` when a provider or model failed and another one answered."
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "With `stream: true`: the upstream's Responses events, passed through. Just before the chunk that holds the terminal event (`response.completed`, `response.incomplete` or `response.failed`), Phantom inserts `event: phantom.receipt` with `data: {\"type\":\"phantom.receipt\",\"receipt\":\"<compact receipt>\",\"phantom\":{...}}`. Without a signing key the event carries `phantom` only. Clients that don't know the event ignore it."
                }
              }
            },
            "headers": {
              "x-phantom-charged": {
                "description": "Actual stablecoin payment in dollars, including the disclosed payment fee.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-request-id": {
                "description": "Phantom's id for this request (`req_` + 24 hex characters). The same value is `request_id` in the receipt. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "req_4f1c2a9b0d3e5f6a7b8c9d0e"
                  ]
                }
              },
              "x-phantom-content-logged": {
                "description": "Always `false`: Phantom did not store the prompt or the output of this call. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-routed": {
                "description": "Present when Phantom picked the model, either Phantom Router for `phantom-1` or the key's route policy for `auto`: the model id, then `; reason=` and what decided it. A rule shows as `<condition>:<value>`; other reasons are `default` (the policy's first model), `requested`, `cache` (kept on the conversation's model) and `on_empty` (past the budget, the cheapest model). Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "deepseek/deepseek-v4-flash-0731; reason=reasoning_requested:false"
                  ]
                }
              },
              "x-phantom-route-receipt": {
                "description": "Sent on routed `phantom-1` calls: names requested model, served tier, underlying model, calibrated confidence, routing reason, and estimated percentage savings. Sent on routed phantom-1 calls: names requested model, served tier, underlying model, calibrated confidence, reason, and estimated percentage savings.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "requested=phantom-1;tier=cheap;model=deepseek/deepseek-v4-flash-0731;confidence=0.92;reason=rules:routine_code_generation;savings=74%"
                  ]
                }
              },
              "x-phantom-route-scores": {
                "description": "Returns raw tier probability scores, selected tier, and threshold when debug mode is requested via `x-phantom-route-debug: 1` or `router_debug: true`. Sent when debug mode is requested: returns tier scores, selected tier, and threshold.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "free=0.38;cheap=0.92;frontier=0.97;selected=cheap;threshold=0.85"
                  ]
                }
              },
              "x-phantom-upstream": {
                "description": "Always `pai`. The receipt's `upstream` field holds the same value. Always `pai`. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "pai"
                  ]
                }
              },
              "x-phantom-upstream-model": {
                "description": "The model id Phantom sent to the upstream. On chat and messages, the receipt's `model_served` holds the id the upstream reported running. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "anthropic/claude-sonnet-5.5"
                  ]
                }
              },
              "x-phantom-upstream-request-id": {
                "description": "The upstream's own request id, copied from its `x-request-id` response header when it sends one. Also sent with a passed-through upstream error.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-receipt": {
                "description": "A signed receipt for the call: `base64url(canonical JSON payload).base64url(Ed25519 signature)`. The payload names the model served, token counts, cost and hashes of the request and response. Check it against `GET /v1/receipts/key`. Left out when the deployment has no signing key. Non-streaming answers only. A stream carries the receipt in the body instead.",
                "schema": {
                  "type": "string"
                }
              },
              "x-phantom-cached-tokens": {
                "description": "Prompt tokens the upstream served from its cache, billed at the cached rate. Non-streaming answers only: `usage.input_tokens_details.cached_tokens`.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "x-phantom-cost-usd": {
                "description": "What this call was charged, in US dollars. Non-streaming answers only. A stream carries it in the `phantom.receipt` event.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0.000420"
                  ]
                }
              },
              "x-phantom-provider": {
                "description": "The provider that answered, such as `anthropic`, `bedrock` or `azure`. Left out when the upstream does not say. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "bedrock"
                  ]
                }
              },
              "x-phantom-fallback": {
                "description": "`true` when a provider or model failed and another one answered the call, `false` when the first try worked. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-balance-usd": {
                "description": "Credit left on the key after this call was billed, in US dollars. Left out when the debit found no key to charge; never sent as a guessed zero. Non-streaming answers only.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "4.991230"
                  ]
                }
              },
              "cache-control": {
                "description": "Caching rules for the response. Streams only: `no-cache`.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-store"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, `input` is missing, `previous_response_id` is set, `sort`, `zdr` or `no_training` has a bad value, or the route policy could not route, or a paid request without `stream: true`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "No `Bearer` key, a key Phantom does not know, or an expired or deactivated key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "402": {
            "description": "The key is past its spend cap, cannot pay for the prompt, cannot buy 32 output tokens after it, or the hold failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "The request asked for `zdr`, which is not available yet (`zdr_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "The model is not a chat model in the catalog, or it was retired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "The key's per-minute spend cap is reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            },
            "headers": {
              "retry-after": {
                "description": "Seconds to wait before trying again. Sent when the key's per-minute spend cap is reached.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "12"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Phantom has no upstream key configured, or the upstream could not be reached. Nothing is billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "getV1Models",
        "summary": "List every model id with its per-token price",
        "description": "The model catalog with prices, newest first. The upstream decides which models exist and what they cost. Phantom reads that list and adds its 5% markup to every price, which is what each call bills at. Needs no key.",
        "tags": [
          "Inference"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The catalog. Empty when the upstream could not be reached.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always `list`.",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "description": "One entry per model.",
                      "items": {
                        "type": "object",
                        "description": "A model.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The id to send as `model`.",
                            "examples": [
                              "anthropic/claude-sonnet-5.5"
                            ]
                          },
                          "object": {
                            "type": "string",
                            "description": "Always `model`.",
                            "enum": [
                              "model"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name."
                          },
                          "created": {
                            "type": "integer",
                            "description": "When the upstream published the model, in Unix seconds. Same as `released`."
                          },
                          "released": {
                            "type": "integer",
                            "description": "When the upstream published the model, in Unix seconds."
                          },
                          "owned_by": {
                            "type": "string",
                            "description": "Always `phantom`.",
                            "enum": [
                              "phantom"
                            ]
                          },
                          "kind": {
                            "type": "string",
                            "description": "Which route serves the model.",
                            "enum": [
                              "chat",
                              "embedding",
                              "image",
                              "video",
                              "speech",
                              "transcription",
                              "reranking"
                            ]
                          },
                          "context_length": {
                            "type": "integer",
                            "description": "The most tokens the model reads in one request."
                          },
                          "max_output_tokens": {
                            "type": "integer",
                            "description": "The most tokens the model writes in one response. Left out when the upstream publishes no limit."
                          },
                          "pricing": {
                            "type": "object",
                            "description": "US dollars per token (per image for image models).",
                            "properties": {
                              "prompt": {
                                "type": "number",
                                "description": "Per input token."
                              },
                              "prompt_cached": {
                                "type": "number",
                                "description": "Per input token served from the upstream's cache. 15% of `prompt` when the upstream publishes no cached rate."
                              },
                              "completion": {
                                "type": "number",
                                "description": "Per output token."
                              }
                            },
                            "required": [
                              "prompt",
                              "prompt_cached",
                              "completion"
                            ]
                          },
                          "promo": {
                            "type": "string",
                            "description": "A short label for a current offer, when there is one."
                          },
                          "description": {
                            "type": "string",
                            "description": "What the model is."
                          },
                          "web_search": {
                            "type": "boolean",
                            "description": "The model can search the web."
                          },
                          "zdr": {
                            "type": "boolean",
                            "description": "The upstream promises not to retain requests (zero data retention)."
                          },
                          "no_training": {
                            "type": "boolean",
                            "description": "The upstream trains on no request to this model."
                          },
                          "free": {
                            "type": "boolean",
                            "description": "The upstream charges nothing for the model."
                          },
                          "capabilities": {
                            "type": "array",
                            "description": "Capability tags, such as `tool-use` or `vision`.",
                            "items": {
                              "type": "string",
                              "description": "A tag."
                            }
                          },
                          "modalities": {
                            "type": "object",
                            "description": "Input and output types, when the upstream publishes them.",
                            "properties": {
                              "input": {
                                "type": "array",
                                "description": "Accepted inputs, such as `text` or `image`.",
                                "items": {
                                  "type": "string",
                                  "description": "An input type."
                                }
                              },
                              "output": {
                                "type": "array",
                                "description": "Produced outputs.",
                                "items": {
                                  "type": "string",
                                  "description": "An output type."
                                }
                              }
                            },
                            "required": [
                              "input",
                              "output"
                            ]
                          },
                          "deprecated_at": {
                            "type": "string",
                            "description": "When the upstream retires the model, when it has announced a date."
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "name",
                          "created",
                          "released",
                          "owned_by",
                          "kind",
                          "context_length",
                          "pricing",
                          "description",
                          "web_search",
                          "zdr",
                          "no_training",
                          "free",
                          "capabilities"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/x402/top-up": {
      "post": {
        "operationId": "topUpCredit",
        "summary": "Buy prepaid credit with Solana USDC",
        "description": "Without a payment header, returns a 402 with x402 exact and MPP charge challenges for amount_usd in Solana USDC, paid straight to Phantom's wallet. The paid retry is confirmed on chain and returns a new API key holding the credit, or adds it to target_api_key. Sending the same paid request again adds no credit.",
        "tags": [
          "Purchases"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.10",
            "max": "10000"
          },
          "protocols": [
            {
              "x402": {
                "networks": [
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                ]
              }
            },
            {
              "mpp": {
                "network": "solana:mainnet",
                "currency": "USDC"
              }
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_usd": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 10000,
                    "default": 1,
                    "description": "Credit to buy in whole cents. The challenge charges exactly this in USDC."
                  },
                  "target_api_key": {
                    "type": "string",
                    "description": "A Phantom key to add the credit to instead of issuing a new one."
                  },
                  "validity_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "default": 365,
                    "description": "How long a new key stays valid."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer confirmed and credit added.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "credited",
                        "pending"
                      ]
                    },
                    "credit_usd": {
                      "type": "number"
                    },
                    "api_key": {
                      "type": "string",
                      "description": "New key, shown once. Absent for a top-up of target_api_key."
                    },
                    "recovery_code": {
                      "type": "string",
                      "description": "Reopens the new key at /v1/purchase/recover. Shown once."
                    },
                    "key_id": {
                      "type": "string"
                    },
                    "tx_signature": {
                      "type": "string"
                    },
                    "status_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad amount or body, or a key sent in Authorization."
          },
          "402": {
            "description": "Payment required: pay the challenge and send the same request again."
          },
          "409": {
            "description": "The same paid request is still being checked. Do not pay again."
          },
          "503": {
            "description": "Top-ups are unavailable right now."
          }
        }
      }
    },
    "/v1/key/balance": {
      "get": {
        "operationId": "getV1KeyBalance",
        "summary": "Read the key's credit left, spend and expiry",
        "description": "Credit left on the calling key, what it has spent, and when it expires. For a child key, the balance is what it can spend now: the parent's balance, capped by what is left of the child's limit.",
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The key's balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "The key can be used: it is switched on and not past `expires_at`. A child key also reads inactive when its parent is inactive or expired."
                    },
                    "kind": {
                      "type": "string",
                      "description": "Key type. Keys issued today are `credit`; the other values survive only on older keys.",
                      "enum": [
                        "credit",
                        "pass",
                        "faucet"
                      ]
                    },
                    "credit_balance_usd": {
                      "type": "number",
                      "description": "Credit the key can spend now, in US dollars. Includes credit held for a request whose hold has expired."
                    },
                    "credit_spent_usd": {
                      "type": "number",
                      "description": "Total the key has spent, in US dollars."
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "When the key stops working.",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "active",
                    "kind",
                    "credit_balance_usd",
                    "credit_spent_usd",
                    "expires_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No `Bearer` key in `Authorization` (`Missing or invalid Authorization header`), or a key Phantom does not know (`invalid_key`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receipts/key": {
      "get": {
        "operationId": "getV1ReceiptsKey",
        "summary": "Get the public key that signs receipts",
        "description": "The public half of the key that signs `x-phantom-receipt`, as JWK and PEM. Public, so anyone shown a receipt can check it without a Phantom key. A deployment with no signing key answers `signs: false` and sends no receipts.",
        "tags": [
          "Receipts"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The key, or `signs: false` with `detail` when the deployment signs nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signs": {
                      "type": "boolean",
                      "description": "Whether this deployment signs receipts."
                    },
                    "detail": {
                      "type": "string",
                      "description": "Why there is no key. Present only when `signs` is `false`."
                    },
                    "algorithm": {
                      "type": "string",
                      "description": "Always `Ed25519`. Present when `signs` is `true`, as are the fields below.",
                      "enum": [
                        "Ed25519"
                      ]
                    },
                    "receipt_version": {
                      "type": "integer",
                      "description": "The receipt format version, the `v` field in each receipt. Receipts of another version do not verify."
                    },
                    "header": {
                      "type": "string",
                      "description": "The response header that carries receipts.",
                      "enum": [
                        "x-phantom-receipt"
                      ]
                    },
                    "format": {
                      "type": "string",
                      "description": "How a receipt is laid out: `base64url(canonical JSON payload).base64url(signature)`."
                    },
                    "public_key_jwk": {
                      "type": "object",
                      "description": "The public key as a JSON Web Key (`kty: \"OKP\"`, `crv: \"Ed25519\"`).",
                      "additionalProperties": true
                    },
                    "public_key_pem": {
                      "type": "string",
                      "description": "The public key as PEM text."
                    }
                  },
                  "required": [
                    "signs"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "operationId": "postV1Embeddings",
        "summary": "Create text embeddings with any embedding model",
        "description": "Turns text into vectors (lists of numbers) in OpenAI's embeddings format. Phantom estimates the cost from the input (about four characters per token), holds that amount on the key, calls the upstream, and then bills the tokens the upstream reports, or the estimate when it reports none. A failed call bills nothing and returns the hold.\n\nWhen the upstream refuses the request with a 4xx status, that status comes back unchanged in an OpenAI error with code `upstream_unavailable`.",
        "tags": [
          "Inference"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "array",
                    "description": "The text to embed: a string, an array of strings, or pre-split token ids (an array of numbers, or an array of such arrays). Sent to the upstream unchanged. An empty string counts as missing.",
                    "examples": [
                      [
                        "The quick brown fox"
                      ]
                    ],
                    "items": {
                      "type": "string",
                      "description": "One string, or one token id."
                    }
                  },
                  "model": {
                    "type": "string",
                    "description": "`phantom-1` runs `openai/text-embedding-3-small`. An embedding model id from `GET /v1/models`. Aliases resolve to the catalog id before pricing.",
                    "default": "phantom-1"
                  },
                  "dimensions": {
                    "type": "integer",
                    "description": "Length of each vector, for models that support it. Sent to the upstream unchanged."
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upstream's response, passed through unchanged, in OpenAI's embeddings format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "`list`."
                    },
                    "data": {
                      "type": "array",
                      "description": "One entry per input.",
                      "items": {
                        "type": "object",
                        "description": "An embedding.",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "`embedding`."
                          },
                          "index": {
                            "type": "integer",
                            "description": "Position of the input this vector belongs to."
                          },
                          "embedding": {
                            "type": "array",
                            "description": "The vector.",
                            "items": {
                              "type": "number",
                              "description": "One component."
                            }
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "The model that produced the vectors, as the upstream reports it."
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token counts. `prompt_tokens` is what Phantom bills when present.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Input tokens."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "All tokens."
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "x-phantom-cost-usd": {
                "description": "What this call was charged, in US dollars.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "0.000420"
                  ]
                }
              },
              "x-phantom-balance-usd": {
                "description": "Credit left on the key after this call was billed, in US dollars. Left out when the debit found no key to charge; never sent as a guessed zero.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "4.991230"
                  ]
                }
              },
              "x-phantom-upstream": {
                "description": "Always `pai`. The receipt's `upstream` field holds the same value. Always `pai`.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "pai"
                  ]
                }
              },
              "x-phantom-content-logged": {
                "description": "Always `false`: Phantom did not store the prompt or the output of this call.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "false"
                  ]
                }
              },
              "x-phantom-receipt": {
                "description": "A signed receipt for the call: `base64url(canonical JSON payload).base64url(Ed25519 signature)`. The payload names the model served, token counts, cost and hashes of the request and response. Check it against `GET /v1/receipts/key`. Left out when the deployment has no signing key. On this route `model_served` is the `model` field of the upstream's response when it has one, and `upstream_request_id` is the upstream's `x-request-id`.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, or `input` is missing or empty. Also a 400 from the upstream, passed through.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key that does not start with `sk-` (`invalid_api_key`).",
            "content": {
              "application/json": {
                "schema": {
[...]
