{
  "openapi": "3.1.0",
  "info": {
    "title": "Musebook Pump Live public feed",
    "version": "1.0.0",
    "description": "Public read-only launch snapshots and health. Currently free, with no advertised x402 price. The branded origin redirects to Railway; live readiness may be degraded.",
    "contact": {
      "name": "Musebook",
      "url": "https://pump.musebook.trade/"
    }
  },
  "servers": [
    {
      "url": "https://pump.musebook.trade",
      "description": "Branded entry; HTTP 307 preserves path and query"
    },
    {
      "url": "https://pump-stream-production.up.railway.app",
      "description": "Direct HTTPS transport"
    }
  ],
  "externalDocs": {
    "description": "Musebook x402 and x402m integration",
    "url": "https://musebook.trade/x402/"
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getMusebookPumpHealth",
        "summary": "Fetch Musebook Pump feed liveness",
        "description": "Free public read. The branded hostname redirects to the direct Railway origin. Data access does not authorize wallet signing or trading.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public feed response; check readiness and event freshness",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "307": {
            "description": "Temporary redirect to the direct Railway transport",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; honor Retry-After"
          },
          "503": {
            "description": "Feed temporarily unavailable"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "operationId": "getMusebookPumpEvents",
        "summary": "List recent Solana launch observations",
        "description": "Free public read. The branded hostname redirects to the direct Railway origin. Data access does not authorize wallet signing or trading.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public feed response; check readiness and event freshness",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "307": {
            "description": "Temporary redirect to the direct Railway transport",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; honor Retry-After"
          },
          "503": {
            "description": "Feed temporarily unavailable"
          }
        }
      }
    }
  }
}
