{
  "openapi": "3.1.0",
  "info": {
    "title": "MilyPay AU Weather",
    "description": "MilyPay Australian weather API: current conditions and multi-day forecast for any Australian address or coordinate using BOM ACCESS-G via Open-Meteo. JSON over x402 on Solana.",
    "version": "1.0.0",
    "contact": {
      "name": "MilyPay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "MilyPay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "MilyPay production API"
    }
  ],
  "paths": {
    "/au-weather": {
      "get": {
        "operationId": "getWeather",
        "summary": "Current conditions and forecast for an Australian location",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Melbourne VIC"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": -37.81
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 144.96
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weather payload"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.001
                }
              ]
            }
          ]
        }
      }
    }
  }
}
