{
  "openapi": "3.1.0",
  "info": {
    "title": "BlockRun AI Gateway",
    "version": "1.0.0",
    "description": "Agent-native stablecoin AI gateway. Pay-per-request with USDC on Solana. No accounts or API keys required.",
    "x-logo": {
      "url": "https://blockrun.ai/brand/logo-256.png",
      "altText": "BlockRun"
    },
    "x-guidance": "Agent-native API gateway for AI inference + crypto/finance data, paid per-request with USDC on Solana via x402 — no accounts, no API keys. To call: GET an endpoint without a payment header → server returns 402 with x402 challenge → sign with your Solana wallet → POST/GET with X-Payment header → response (and on-chain settlement) returns. Free endpoints (Pyth crypto/fx/commodity feeds, voice call status polls) return 200 directly. Full per-endpoint pricing, error shapes, and rate-limit semantics: https://sol.blockrun.ai/llms.txt"
  },
  "servers": [
    {
      "url": "https://sol.blockrun.ai"
    }
  ],
  "paths": {
    "/api/v1/chat/completions": {
      "post": {
        "operationId": "chatCompletions",
        "summary": "Chat Completions",
        "description": "Access 40+ frontier LLMs with OpenAI-compatible API. Price depends on model and token usage.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.0001",
            "max": "5.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID to use for completion",
                    "enum": [
                      "openai/gpt-5.5",
                      "openai/gpt-5.4",
                      "openai/gpt-5.4-pro",
                      "openai/gpt-5.3",
                      "openai/gpt-5.2",
                      "openai/gpt-5.4-mini",
                      "openai/gpt-5-mini",
                      "openai/gpt-5.4-nano",
                      "openai/gpt-5.2-pro",
                      "openai/gpt-5.3-codex",
                      "openai/o1",
                      "openai/o1-mini",
                      "openai/o3",
                      "openai/o3-mini",
                      "anthropic/claude-haiku-4.5",
                      "anthropic/claude-sonnet-4.6",
                      "anthropic/claude-opus-4.5",
                      "anthropic/claude-opus-4.7",
                      "google/gemini-3.1-pro",
                      "google/gemini-3-pro-preview",
                      "google/gemini-3-flash-preview",
                      "google/gemini-2.5-pro",
                      "google/gemini-2.5-flash",
                      "google/gemini-3.1-flash-lite",
                      "google/gemini-2.5-flash-lite",
                      "deepseek/deepseek-v4-pro",
                      "deepseek/deepseek-chat",
                      "deepseek/deepseek-reasoner",
                      "zai/glm-5.1",
                      "zai/glm-5",
                      "zai/glm-5-turbo",
                      "moonshot/kimi-k2.6",
                      "minimax/minimax-m2.7",
                      "nvidia/deepseek-v4-flash",
                      "nvidia/nemotron-3-nano-omni-30b-a3b-reasoning",
                      "nvidia/qwen3-coder-480b",
                      "nvidia/llama-4-maverick",
                      "nvidia/qwen3-next-80b-a3b-thinking",
                      "nvidia/mistral-small-4-119b"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of chat messages",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum tokens to generate",
                    "minimum": 1,
                    "maximum": 128000
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0-2)",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming responses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "search",
        "summary": "Grok Live Search",
        "description": "Real-time X/Twitter and web search powered by xAI Grok with live data access.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "sources": {
                    "type": "array",
                    "description": "Data sources to search",
                    "items": {
                      "type": "string",
                      "enum": [
                        "x",
                        "web",
                        "news"
                      ]
                    },
                    "default": [
                      "x",
                      "web"
                    ]
                  },
                  "max_results": {
                    "type": "integer",
                    "description": "Maximum number of results",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/images/generations": {
      "post": {
        "operationId": "imageGenerations",
        "summary": "Image Generation",
        "description": "Generate images with DALL-E 3, GPT Image 1/2, Gemini Nano Banana, Z.AI CogView-4, and xAI Grok Imagine.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.02",
            "max": "0.08"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Image model to use",
                    "enum": [
                      "openai/dall-e-3",
                      "openai/gpt-image-1",
                      "openai/gpt-image-2",
                      "google/nano-banana",
                      "google/nano-banana-pro",
                      "zai/cogview-4",
                      "xai/grok-imagine-image",
                      "xai/grok-imagine-image-pro"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the image to generate",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "size": {
                    "type": "string",
                    "description": "Image dimensions",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ],
                    "default": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated images"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/images/image2image": {
      "post": {
        "operationId": "imageEdit",
        "summary": "Image Editing (Image-to-Image)",
        "description": "Edit images with AI using text prompts. Supports inpainting with optional mask. Powered by OpenAI gpt-image-1 / gpt-image-2.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.02",
            "max": "0.08"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt",
                  "image"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Image model to use",
                    "enum": [
                      "openai/gpt-image-1",
                      "openai/gpt-image-2"
                    ],
                    "default": "openai/gpt-image-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the desired edit"
                  },
                  "image": {
                    "type": "string",
                    "description": "Base64 data URI of the source image (data:image/...)"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Base64 data URI of the mask image (optional, for inpainting)"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "1024x1024",
                      "1024x1536",
                      "1536x1024"
                    ],
                    "default": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited images"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/lookup": {
      "post": {
        "operationId": "xUsersLookup",
        "summary": "X/Twitter User Lookup",
        "description": "Batch lookup Twitter/X user profiles — followers, bio, verification status, and more. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.02",
            "max": "0.20"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "usernames"
                ],
                "properties": {
                  "usernames": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of Twitter usernames"
                      },
                      {
                        "type": "string",
                        "description": "Comma-separated Twitter usernames"
                      }
                    ],
                    "description": "Twitter usernames to look up (@ prefix auto-stripped, max 100)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profiles"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/followers": {
      "post": {
        "operationId": "xUsersFollowers",
        "summary": "X/Twitter Follower List",
        "description": "Fetch a Twitter/X user's follower list — ~200 followers per page with cursor-based pagination. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Twitter username to fetch followers for (@ prefix auto-stripped)"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor from previous response (next_cursor field)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follower list"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/followings": {
      "post": {
        "operationId": "xUsersFollowings",
        "summary": "X/Twitter Following List",
        "description": "Fetch the list of accounts a Twitter/X user follows — ~200 per page with cursor-based pagination. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Twitter username to fetch following list for (@ prefix auto-stripped)"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor from previous response (next_cursor field)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Following list"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/info": {
      "post": {
        "operationId": "xUsersInfo",
        "summary": "X/Twitter User Info",
        "description": "Get detailed profile information for a single Twitter/X user. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Twitter username (@ auto-stripped)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/tweets": {
      "post": {
        "operationId": "xUsersTweets",
        "summary": "X/Twitter User Tweets",
        "description": "Fetch a user's tweet timeline with pagination. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.032"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  },
                  "includeReplies": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User tweets"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/mentions": {
      "post": {
        "operationId": "xUsersMentions",
        "summary": "X/Twitter User Mentions",
        "description": "Fetch mentions/replies for a Twitter/X user with optional time filtering. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.032"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "sinceTime": {
                    "type": "string"
                  },
                  "untilTime": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User mentions"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/users/verified-followers": {
      "post": {
        "operationId": "xUsersVerifiedFollowers",
        "summary": "X/Twitter Verified Followers",
        "description": "Fetch verified followers for a Twitter/X user. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.048"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified followers"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/tweets/lookup": {
      "post": {
        "operationId": "xTweetsLookup",
        "summary": "X/Twitter Batch Tweet Lookup",
        "description": "Look up multiple tweets by ID in a single request (max 200). Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.16"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_ids"
                ],
                "properties": {
                  "tweet_ids": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Tweet IDs (array or comma-separated, max 200)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet data"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/tweets/replies": {
      "post": {
        "operationId": "xTweetReplies",
        "summary": "X/Twitter Tweet Replies",
        "description": "Fetch replies to a specific tweet with pagination. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.032"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweetId"
                ],
                "properties": {
                  "tweetId": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  },
                  "queryType": {
                    "type": "string",
                    "enum": [
                      "Latest",
                      "Default"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet replies"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/tweets/thread": {
      "post": {
        "operationId": "xTweetThread",
        "summary": "X/Twitter Tweet Thread",
        "description": "Fetch a complete tweet thread/conversation. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.032"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweetId"
                ],
                "properties": {
                  "tweetId": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet thread"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/search": {
      "post": {
        "operationId": "xSearch",
        "summary": "X/Twitter Advanced Search",
        "description": "Search tweets with query and pagination. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.032"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "queryType": {
                    "type": "string",
                    "enum": [
                      "Latest",
                      "Top",
                      "Default"
                    ]
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/trending": {
      "post": {
        "operationId": "xTrending",
        "summary": "X/Twitter Trending Topics",
        "description": "Get current trending topics on Twitter/X. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "description": "No body required. Send {} or empty body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trending topics"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/x/articles/rising": {
      "post": {
        "operationId": "xArticlesRising",
        "summary": "X/Twitter Rising Articles",
        "description": "Get rising articles trending on Twitter/X. Powered by AttentionVC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "AttentionVC"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "description": "No body required. Send {} or empty body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rising articles"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/crypto/list": {
      "get": {
        "operationId": "cryptoList",
        "summary": "List Supported Crypto Pairs",
        "description": "Enumerate crypto pairs available on the Pyth feed. Free discovery endpoint.",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported crypto symbols"
          }
        }
      }
    },
    "/api/v1/crypto/price/BTC-USD": {
      "get": {
        "operationId": "cryptoPrice",
        "summary": "Crypto Realtime Price",
        "description": "Realtime price for a crypto pair from Pyth. Free. Substitute the path tail with any valid symbol from /list (e.g. BTC-USD, ETH-USD, SOL-USD).",
        "security": [],
        "responses": {
          "200": {
            "description": "Latest price with confidence interval"
          }
        }
      }
    },
    "/api/v1/crypto/history/BTC-USD": {
      "get": {
        "operationId": "cryptoHistory",
        "summary": "Crypto OHLC History",
        "description": "Historical OHLC bars for a crypto pair. TradingView resolution convention. Powered by Pyth Benchmarks. Free. Substitute the path tail with any valid symbol from /list.",
        "security": [],
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "60",
                "240",
                "D",
                "W",
                "M"
              ],
              "default": "D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds (defaults to now)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC bars"
          }
        }
      }
    },
    "/api/v1/fx/list": {
      "get": {
        "operationId": "fxList",
        "summary": "List Supported FX Pairs",
        "description": "Enumerate FX pairs available on the Pyth feed. Free.",
        "security": [],
        "responses": {
          "200": {
            "description": "List of supported FX symbols"
          }
        }
      }
    },
    "/api/v1/fx/price/EUR-USD": {
      "get": {
        "operationId": "fxPrice",
        "summary": "FX Realtime Price",
        "description": "Realtime FX rate from Pyth. Free. Substitute the path tail with any valid pair from /list (e.g. EUR-USD, GBP-USD, JPY-USD).",
        "security": [],
        "responses": {
          "200": {
            "description": "Latest FX rate"
          }
        }
      }
    },
    "/api/v1/fx/history/EUR-USD": {
      "get": {
        "operationId": "fxHistory",
        "summary": "FX OHLC History",
        "description": "Historical OHLC bars for an FX pair. Free. Substitute the path tail with any valid pair from /list.",
        "security": [],
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "60",
                "240",
                "D",
                "W",
                "M"
              ],
              "default": "D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC bars"
          }
        }
      }
    },
    "/api/v1/commodity/list": {
      "get": {
        "operationId": "commodityList",
        "summary": "List Supported Commodities",
        "description": "Enumerate commodities available on the Pyth feed. Free.",
        "security": [],
        "responses": {
          "200": {
            "description": "List of supported commodity symbols"
          }
        }
      }
    },
    "/api/v1/commodity/price/XAU-USD": {
      "get": {
        "operationId": "commodityPrice",
        "summary": "Commodity Realtime Price",
        "description": "Realtime commodity price from Pyth. Free. Substitute the path tail with any valid symbol from /list (e.g. XAU-USD gold, XAG-USD silver, XPT-USD platinum, WTI).",
        "security": [],
        "responses": {
          "200": {
            "description": "Latest commodity price"
          }
        }
      }
    },
    "/api/v1/commodity/history/XAU-USD": {
      "get": {
        "operationId": "commodityHistory",
        "summary": "Commodity OHLC History",
        "description": "Historical OHLC bars for a commodity. Free. Substitute the path tail with any valid symbol from /list.",
        "security": [],
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "60",
                "240",
                "D",
                "W",
                "M"
              ],
              "default": "D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC bars"
          }
        }
      }
    },
    "/api/v1/usstock/list": {
      "get": {
        "operationId": "usStockList",
        "summary": "List US Stock Tickers",
        "description": "Enumerate US equity tickers available on the Pyth feed. Free.",
        "security": [],
        "responses": {
          "200": {
            "description": "List of supported US stock tickers"
          }
        }
      }
    },
    "/api/v1/usstock/price/AAPL": {
      "get": {
        "operationId": "usStockPrice",
        "summary": "US Stock Realtime Price",
        "description": "Realtime US equity quote (NYSE, Nasdaq, AMEX). Pay per call in USDC on Solana. Powered by Pyth. Substitute the path tail with any valid ticker from /list (e.g. AAPL, TSLA, NVDA).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pre",
                "post",
                "on"
              ],
              "description": "Optional US market session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest price"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/usstock/history/AAPL": {
      "get": {
        "operationId": "usStockHistory",
        "summary": "US Stock OHLC History",
        "description": "Historical OHLC bars for a US equity. Pay per call in USDC on Solana. Substitute the path tail with any valid ticker from /list.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "60",
                "240",
                "D",
                "W",
                "M"
              ],
              "default": "D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC bars"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/stocks/us/list": {
      "get": {
        "operationId": "globalStockList",
        "summary": "List Tickers in a Stock Market",
        "description": "Enumerate tickers for a given market. Free. Substitute the `us` segment with any of: us, hk, jp, kr, gb, de, fr, nl, ie, lu, cn, ca.",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickers"
          }
        }
      }
    },
    "/api/v1/stocks/us/price/AAPL": {
      "get": {
        "operationId": "globalStockPrice",
        "summary": "Global Stock Realtime Price",
        "description": "Realtime equity quote across 12 markets. Pay per call in USDC on Solana. Powered by Pyth. Substitute the `us` segment with any of: us, hk, jp, kr, gb, de, fr, nl, ie, lu, cn, ca; substitute the path tail with any valid ticker from /list (e.g. /stocks/hk/price/0005-HK).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pre",
                "post",
                "on"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest price"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/stocks/us/history/AAPL": {
      "get": {
        "operationId": "globalStockHistory",
        "summary": "Global Stock OHLC History",
        "description": "Historical OHLC bars for a global equity. Pay per call in USDC on Solana. Substitute the `us` segment and the ticker as needed.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "60",
                "240",
                "D",
                "W",
                "M"
              ],
              "default": "D"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC bars"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/lookup": {
      "post": {
        "operationId": "phoneLookup",
        "summary": "Phone Carrier Lookup",
        "description": "Look up carrier information and line type for a phone number (E.164). Powered by Twilio.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number in E.164 format."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carrier + line-type info"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/lookup/fraud": {
      "post": {
        "operationId": "phoneLookupFraud",
        "summary": "Phone Fraud Signals Lookup",
        "description": "Carrier info + SIM swap detection + call forwarding signals for a phone number. Powered by Twilio.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number in E.164 format."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carrier + fraud signals"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/numbers/buy": {
      "post": {
        "operationId": "phoneNumbersBuy",
        "summary": "Provision a dedicated phone number (30 days)",
        "description": "Buy a US or CA phone number bound to your wallet for 30 days. Number is auto-registered with Bland for outbound caller ID.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "5.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO country code: 'US' or 'CA'.",
                    "default": "US"
                  },
                  "areaCode": {
                    "type": "string",
                    "description": "Preferred 3-digit area code."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioned number"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/numbers/renew": {
      "post": {
        "operationId": "phoneNumbersRenew",
        "summary": "Renew a provisioned phone number (+30 days)",
        "description": "Extend the lease on a wallet-owned phone number by 30 days.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "5.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Your provisioned number in E.164 format."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renewed expiry"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/numbers/list": {
      "post": {
        "operationId": "phoneNumbersList",
        "summary": "List wallet's active phone numbers",
        "description": "Return all active phone numbers provisioned to the caller wallet. Wallet identity is derived from the x402 payment header.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "description": "No body required. Wallet is identified by the x402 payment header."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Numbers list"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/phone/numbers/release": {
      "post": {
        "operationId": "phoneNumbersRelease",
        "summary": "Release a provisioned phone number",
        "description": "Return a wallet-owned phone number to the Twilio pool. Free, but routed through x402 for wallet identity.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Twilio"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Your provisioned number in E.164 format."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Released"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/voice/call": {
      "post": {
        "operationId": "voiceCall",
        "summary": "AI Outbound Voice Call (Bland.ai)",
        "description": "Initiate an AI-powered outbound phone call. The agent calls the recipient and conducts a conversation based on the 'task' instructions. Powered by Bland.ai.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.54"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Bland.ai"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "task",
                  "from"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Destination phone number (E.164)."
                  },
                  "task": {
                    "type": "string",
                    "description": "Natural language description of what the AI should do on the call (10–4000 chars)."
                  },
                  "from": {
                    "type": "string",
                    "description": "Caller-ID number — must be wallet-owned. Buy one at POST /api/v1/phone/numbers/buy ($5/30 days)."
                  },
                  "voice": {
                    "type": "string",
                    "description": "Voice preset or Bland.ai voice ID."
                  },
                  "max_duration": {
                    "type": "integer",
                    "description": "Max minutes (1–30, default 5)."
                  },
                  "language": {
                    "type": "string",
                    "description": "STT/TTS language (default en-US)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/voice/call/{callId}": {
      "get": {
        "operationId": "voiceCallStatus",
        "summary": "Voice Call Status",
        "description": "Poll for status, transcript, and recording URL for a previously-initiated voice call. Free.",
        "security": [],
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status"
          }
        }
      }
    },
    "/api/v1/surf/exchange/price": {
      "get": {
        "operationId": "surfExchangePrice",
        "summary": "Surf — CEX Ticker Price",
        "description": "Live ticker price for a CEX trading pair (Binance, OKX, Bybit, Coinbase, …).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "binance | okx | bybit | coinbase | …"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Trading pair, e.g. BTCUSDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker price"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/exchange/klines": {
      "get": {
        "operationId": "surfExchangeKlines",
        "summary": "Surf — CEX OHLCV Candlesticks",
        "description": "OHLCV candlesticks for a CEX pair at any interval.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "1m | 5m | 15m | 1h | 4h | 1d"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candles"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/exchange/funding-history": {
      "get": {
        "operationId": "surfExchangeFunding",
        "summary": "Surf — Perp Funding Rate History",
        "description": "Funding rate history for a perpetual contract.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Perp symbol, e.g. BTCUSDT"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding history"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/market/price": {
      "get": {
        "operationId": "surfMarketPrice",
        "summary": "Surf — Token Price History",
        "description": "Token price history. Pass ?symbol=BTC.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token symbol (BTC, ETH, SOL, …)"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price history"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/market/ranking": {
      "get": {
        "operationId": "surfMarketRanking",
        "summary": "Surf — Token Rankings",
        "description": "Token rankings by market cap, volume, or change.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "by",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "market_cap | volume | change_24h"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranking list"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/market/fear-greed": {
      "get": {
        "operationId": "surfFearGreed",
        "summary": "Surf — Fear & Greed Index History",
        "description": "Daily Fear & Greed index history.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index history"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/market/etf": {
      "get": {
        "operationId": "surfMarketEtf",
        "summary": "Surf — Spot ETF Flow History",
        "description": "BTC/ETH spot ETF flow history (daily inflows / outflows).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "BTC | ETH"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ETF flows"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/market/onchain-indicator": {
      "get": {
        "operationId": "surfOnchainIndicator",
        "summary": "Surf — On-Chain Indicator",
        "description": "NUPL, SOPR, MVRV, Puell Multiple, NVT.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "nupl | sopr | mvrv | puell | nvt"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "BTC | ETH"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/onchain/gas-price": {
      "get": {
        "operationId": "surfGasPrice",
        "summary": "Surf — Current Gas Price",
        "description": "Current gas price across supported chains.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ethereum | polygon | arbitrum | optimism | base | bnb | …"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gas snapshot"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/onchain/tx": {
      "get": {
        "operationId": "surfOnchainTx",
        "summary": "Surf — Transaction Details by Hash",
        "description": "Transaction details by hash.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Transaction hash (0x-prefixed for EVM)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tx detail"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/onchain/sql": {
      "post": {
        "operationId": "surfOnchainSql",
        "summary": "Surf — Raw SQL on Blockchain Tables",
        "description": "Raw SQL query against 80+ analyst-ready ClickHouse tables (DEX trades, transfers, lending, staking, bridges). Sub-second.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sql"
                ],
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "ClickHouse SQL — see /api/v1/surf/onchain/schema for tables."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query rows"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/wallet/detail": {
      "get": {
        "operationId": "surfWalletDetail",
        "summary": "Surf — Aggregated Wallet Profile",
        "description": "Cross-chain wallet profile + labels + balances.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address (EVM hex, Solana base58, …)"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Optional chain filter — defaults to all chains"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet detail"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/wallet/labels/batch": {
      "get": {
        "operationId": "surfWalletLabelsBatch",
        "summary": "Surf — Batch Wallet Labels",
        "description": "Batch lookup wallet labels (CEX, Whale, Bridge, MEV, Bot, Fund) across 13 chains. 100M+ labeled addresses.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "addresses",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated wallet addresses (max 100)"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/social/mindshare": {
      "get": {
        "operationId": "surfSocialMindshare",
        "summary": "Surf — Project Mindshare Time Series",
        "description": "Project mindshare on Crypto Twitter over time.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Project ticker or name"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Unix seconds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mindshare series"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/news/feed": {
      "get": {
        "operationId": "surfNewsFeed",
        "summary": "Surf — AI-Curated News Feed",
        "description": "AI-curated crypto news feed aggregated from 30+ sources.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from previous response"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News feed"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/prediction-market/polymarket/markets": {
      "get": {
        "operationId": "surfPolymarketMarkets",
        "summary": "Surf — Polymarket Markets",
        "description": "Polymarket markets list. Cross-platform with /prediction-market/kalshi/* for arbitrage.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Optional category filter"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/surf/search/wallet": {
      "get": {
        "operationId": "surfSearchWallet",
        "summary": "Surf — Wallet Search",
        "description": "Wallet search by address, ENS, or label (CEX, Whale, etc.).",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "partner": "Surf"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query: address prefix, ENS name, or label (CEX, Whale, …)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet matches"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    }
  }
}
