{
  "openapi": "3.1.0",
  "info": {
    "description": "Public, read-only API over canonical Metagraphed registry artifacts for Bittensor subnet interfaces. **No authentication** — every operation is an unauthenticated GET. Responses use a stable JSON envelope `{ ok, schema_version, data, meta }` (errors: `{ ok: false, error }`) and carry `ETag` + `Cache-Control` for conditional caching. Rate-limited per client. Multi-network: insert a `/{network}/` segment after `/api/v1/` (mainnet is the default — omit it) to read testnet data, e.g. `/api/v1/testnet/subnets`. Testnet exposes the subset of routes that have data; `/api/v1/lineage` tracks which testnet subnets have graduated.",
    "title": "Metagraphed API",
    "version": "2026-07-03.2"
  },
  "servers": [
    {
      "description": "Production (mainnet default; insert /testnet/ after /api/v1/ for testnet data)",
      "url": "https://api.metagraph.sh"
    }
  ],
  "paths": {
    "/api/v1/subnets": {
      "get": {
        "description": "List active Finney subnets. The screening fields ride the `fields=` projection: `gpu_required`/`min_vram_gb` are the MINER hardware floor from the subnet's own min_compute.yml (four-valued -- `required`, `not-required`, `declared-inconsistently`, and null for the subnets whose repo publishes no readable file -- a null is NOT a no), and `also_on` names the testnet twin. The whole declaration, both roles and the commit it was read at, is the `compute_requirements` section on /subnets/{netuid}/overview.",
        "operationId": "subnets",
        "parameters": [
          {
            "description": "Subnet id (netuid). `0` is the root subnet -- a stake-allocation construct rather than a running subnet. It IS present in the registry collections, but it is excluded from application-subnet counts, and stake on it is denominated in TAO rather than in a subnet alpha token, so its economics are not directly comparable to a running subnet's.",
            "in": "query",
            "name": "netuid",
            "required": false,
            "schema": {
              "maximum": 65535,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Comma-separated subnet ids to restrict the result to, e.g. `1,7,64`. At most 128 ids, each 0-65535. Unknown ids match nothing rather than erroring.",
            "in": "query",
            "name": "netuids",
            "required": false,
            "schema": {
              "maxLength": 767,
              "pattern": "^\\d{1,5}(,\\d{1,5}){0,127}$",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "coverage_level",
            "required": false,
            "schema": {
              "enum": [
                "native-only",
                "manifested",
                "probed"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "curation_level",
            "required": false,
            "schema": {
              "enum": [
                "native",
                "candidate-discovered",
                "community-seeded",
                "machine-verified",
                "maintainer-reviewed",
                "adapter-backed"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "enum": [
                "agents",
                "compute",
                "data",
                "finance",
                "inference",
                "media",
                "prediction",
                "privacy",
                "robotics",
                "science",
                "search",
                "security",
                "storage",
                "training"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "inactive"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subnet_type",
            "required": false,
            "schema": {
              "enum": [
                "root",
                "application"
              ],
              "type": "string"
            }
          },
          {
            "description": "Free-text search query, matched case-insensitively against the collection's indexed text fields. Whitespace-separated terms narrow the result (AND), and an empty or whitespace-only value is treated as no filter rather than as a search matching nothing.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "maxLength": 200,
              "type": "string"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_block",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_block",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_candidate_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_candidate_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_integration_readiness",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_integration_readiness",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_mechanism_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_mechanism_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_participant_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_participant_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_probed_surface_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_probed_surface_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_surface_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_surface_count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_tempo",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_tempo",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "block",
                "candidate_count",
                "coverage_level",
                "curation_level",
                "integration_readiness",
                "mechanism_count",
                "name",
                "netuid",
                "participant_count",
                "probed_surface_count",
                "status",
                "subnet_type",
                "surface_count",
                "tempo"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Response format override. Use `csv` to download the transformed list as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SubnetsArtifactResponse": {
                    "$ref": "#/components/examples/SubnetsArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SubnetsArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "CandidatesCsv": {
                    "$ref": "#/components/examples/CandidatesCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or the transformed list as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "List active Finney subnets",
        "tags": [
          "subnets"
        ],
        "x-metagraphed-networks": [
          "finney",
          "mainnet",
          "test",
          "testnet"
        ]
      }
    },
    "/api/v1/subnets/{netuid}": {
      "get": {
        "description": "Fetch per-subnet detail.",
        "operationId": "subnetDetail",
        "parameters": [
          {
            "description": "The subnet's numeric id on the Bittensor network, as used by the chain itself.",
            "example": 1,
            "in": "path",
            "name": "netuid",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Comma-separated top-level sections to return, e.g. `subnet,economics`. One of: candidate_surfaces, candidates, economics, endpoints, gaps, notes, subnet, surfaces, verified_surfaces. Selecting sections never removes the response envelope (schema_version, contract_version, generated_at, operational_observed_at, health_source) -- a smaller document still has to say what it is. An unknown name is rejected rather than ignored. A projected document omits every non-selected section, including ones the document schema marks required: `required` describes the unprojected response (#10960), so a client validating responses should skip validation or treat sections as optional when it sends this parameter. NOT the same parameter as `fields`, which projects columns out of the rows of a list.",
            "in": "query",
            "name": "sections",
            "required": false,
            "schema": {
              "pattern": "^(?:candidate_surfaces|candidates|economics|endpoints|gaps|notes|subnet|surfaces|verified_surfaces)(?:,(?:candidate_surfaces|candidates|economics|endpoints|gaps|notes|subnet|surfaces|verified_surfaces))*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SubnetDetailArtifactResponse": {
                    "$ref": "#/components/examples/SubnetDetailArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SubnetDetailArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Fetch one subnet's full profile",
        "tags": [
          "subnets"
        ],
        "x-metagraphed-networks": [
          "finney",
          "mainnet",
          "test",
          "testnet"
        ]
      }
    },
    "/api/v1/subnets/{netuid}/health": {
      "get": {
        "description": "Fetch health detail for one subnet.",
        "operationId": "subnetHealth",
        "parameters": [
          {
            "description": "The subnet's numeric id on the Bittensor network, as used by the chain itself.",
            "example": 1,
            "in": "path",
            "name": "netuid",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "enum": [
                "archive",
                "dashboard",
                "data-artifact",
                "docs",
                "example",
                "openapi",
                "repo-registry",
                "sdk",
                "source-repo",
                "sse",
                "subnet-api",
                "subtensor-rpc",
                "subtensor-wss",
                "website"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "ok",
                "degraded",
                "failed",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "classification",
            "required": false,
            "schema": {
              "enum": [
                "auth-required",
                "content-mismatch",
                "dead",
                "live",
                "rate-limited",
                "redirected",
                "timeout",
                "transient",
                "unsupported",
                "unsafe",
                "wrong-chain"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "classification",
                "kind",
                "last_checked",
                "last_ok",
                "latency_ms",
                "netuid",
                "provider",
                "status",
                "status_code",
                "surface_id",
                "verified_at"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "HealthSubnetArtifactResponse": {
                    "$ref": "#/components/examples/HealthSubnetArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/HealthSubnetArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Fetch probe-derived health for one subnet",
        "tags": [
          "health",
          "subnets"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/subnets/{netuid}/surfaces": {
      "get": {
        "description": "List curated public surfaces for one subnet.",
        "operationId": "subnetSurfaces",
        "parameters": [
          {
            "description": "The subnet's numeric id on the Bittensor network, as used by the chain itself.",
            "example": 1,
            "in": "path",
            "name": "netuid",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "enum": [
                "archive",
                "dashboard",
                "data-artifact",
                "docs",
                "example",
                "openapi",
                "repo-registry",
                "sdk",
                "source-repo",
                "sse",
                "subnet-api",
                "subtensor-rpc",
                "subtensor-wss",
                "website"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "auth_required",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public_safe",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "rate_limited",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "id",
                "kind",
                "name",
                "netuid",
                "provider"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Response format override. Use `csv` to download the transformed list as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SubnetSurfacesArtifactResponse": {
                    "$ref": "#/components/examples/SubnetSurfacesArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SubnetSurfacesArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "CandidatesCsv": {
                    "$ref": "#/components/examples/CandidatesCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or the transformed list as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "List the API surfaces one subnet publishes",
        "tags": [
          "surfaces",
          "subnets"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/subnets/{netuid}/endpoints": {
      "get": {
        "description": "List generalized endpoint resources for one subnet.",
        "operationId": "subnetEndpoints",
        "parameters": [
          {
            "description": "The subnet's numeric id on the Bittensor network, as used by the chain itself.",
            "example": 1,
            "in": "path",
            "name": "netuid",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "enum": [
                "archive",
                "dashboard",
                "data-artifact",
                "docs",
                "example",
                "openapi",
                "repo-registry",
                "sdk",
                "source-repo",
                "sse",
                "subnet-api",
                "subtensor-rpc",
                "subtensor-wss",
                "website"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "layer",
            "required": false,
            "schema": {
              "enum": [
                "bittensor-base",
                "data-provider",
                "docs-provider",
                "subnet-app"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pool_eligible",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "publication_state",
            "required": false,
            "schema": {
              "enum": [
                "candidate",
                "verified",
                "monitored",
                "pool-eligible",
                "disabled",
                "rejected"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "ok",
                "degraded",
                "failed",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_latency_ms",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_latency_ms",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive lower bound: only rows at or above this value are returned.",
            "in": "query",
            "name": "min_score",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Inclusive upper bound: only rows at or below this value are returned.",
            "in": "query",
            "name": "max_score",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "kind",
                "last_checked",
                "latency_ms",
                "layer",
                "netuid",
                "pool_eligible",
                "provider",
                "publication_state",
                "score",
                "status"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Response format override. Use `csv` to download the transformed list as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SubnetEndpointsArtifactResponse": {
                    "$ref": "#/components/examples/SubnetEndpointsArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SubnetEndpointsArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "CandidatesCsv": {
                    "$ref": "#/components/examples/CandidatesCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or the transformed list as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "List live endpoints for one subnet, with probe results",
        "tags": [
          "endpoints",
          "subnets"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/search": {
      "get": {
        "description": "Fetch compact search index.",
        "operationId": "search",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "enum": [
                "subnet",
                "surface",
                "provider"
              ],
              "type": "string"
            }
          },
          {
            "description": "Subnet id (netuid). `0` is the root subnet -- a stake-allocation construct rather than a running subnet. It IS present in the registry collections, but it is excluded from application-subnet counts, and stake on it is denominated in TAO rather than in a subnet alpha token, so its economics are not directly comparable to a running subnet's.",
            "in": "query",
            "name": "netuid",
            "required": false,
            "schema": {
              "maximum": 65535,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Free-text search query, matched case-insensitively against the collection's indexed text fields. Whitespace-separated terms narrow the result (AND), and an empty or whitespace-only value is treated as no filter rather than as a search matching nothing.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "maxLength": 200,
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "netuid",
                "slug",
                "title",
                "type"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SearchArtifactResponse": {
                    "$ref": "#/components/examples/SearchArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SearchArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Search the registry by keyword",
        "tags": [
          "search"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/search/semantic": {
      "get": {
        "description": "Search the registry by MEANING rather than by keyword: ?q= is embedded and ranked by cosine similarity, so it finds surfaces whose text never contains your terms. The complement to /api/v1/search, which is lexical -- reach for that one when you know the exact name. Each result carries its score, type, netuid/slug, title/subtitle, URL, categories, and service kinds; `model` names the embedding model. ?limit caps the list. Mirrored by the `semantic_search` MCP tool. Served live (no static file); 503 ai_unavailable where no AI binding is configured.",
        "operationId": "searchSemantic",
        "parameters": [
          {
            "description": "Free-text search query, matched case-insensitively against the collection's indexed text fields. Whitespace-separated terms narrow the result (AND), and an empty or whitespace-only value is treated as no filter rather than as a search matching nothing.",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "maxLength": 1000,
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 20). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, the server applies 10.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "enum": [
                "subnet",
                "surface",
                "provider"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SemanticSearchArtifactResponse": {
                    "$ref": "#/components/examples/SemanticSearchArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SemanticSearchArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "A payment was presented and could not be verified or settled. The response carries a fresh x402 quote in the `accepts` array and the PAYMENT-REQUIRED header. A request with NO payment is never answered with 402 -- it is served on the anonymous tier."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Search the registry by meaning, not keyword",
        "tags": [
          "search"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/ask": {
      "post": {
        "description": "Ask a natural-language question about the registry and get a grounded answer with citations. POST a JSON body `{ question }`; the answer carries inline [n] markers resolved by `citations`, each naming the surface it came from, so every claim is traceable to a registered surface rather than to the model. Use this when the question is exploratory (\"which subnets expose a public inference API?\"); use /api/v1/search/semantic when you want the ranked matches themselves rather than prose. Mirrored by the `ask` MCP tool. Served live (no static file); 503 ai_unavailable where no AI binding is configured.",
        "operationId": "ask",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "AskArtifactResponse": {
                    "$ref": "#/components/examples/AskArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AskArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "A payment was presented and could not be verified or settled. The response carries a fresh x402 quote in the `accepts` array and the PAYMENT-REQUIRED header. A request with NO payment is never answered with 402 -- it is served on the anonymous tier."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Generate a grounded answer with citations",
        "tags": [
          "search"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/surfaces": {
      "get": {
        "description": "List curated public surfaces.",
        "operationId": "surfaces",
        "parameters": [
          {
            "description": "Subnet id (netuid). `0` is the root subnet -- a stake-allocation construct rather than a running subnet. It IS present in the registry collections, but it is excluded from application-subnet counts, and stake on it is denominated in TAO rather than in a subnet alpha token, so its economics are not directly comparable to a running subnet's.",
            "in": "query",
            "name": "netuid",
            "required": false,
            "schema": {
              "maximum": 65535,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "enum": [
                "archive",
                "dashboard",
                "data-artifact",
                "docs",
                "example",
                "openapi",
                "repo-registry",
                "sdk",
                "source-repo",
                "sse",
                "subnet-api",
                "subtensor-rpc",
                "subtensor-wss",
                "website"
              ],
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "description": "Restrict the result to rows whose field equals this value. Matched exactly (case-insensitively), not searched for as a substring — an unmatched value yields an empty result rather than an error.",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "auth_required",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public_safe",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "rate_limited",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "id",
                "kind",
                "name",
                "netuid",
                "provider"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Response format override. Use `csv` to download the transformed list as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SurfacesArtifactResponse": {
                    "$ref": "#/components/examples/SurfacesArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SurfacesArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "CandidatesCsv": {
                    "$ref": "#/components/examples/CandidatesCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or the transformed list as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "List every published surface across the registry",
        "tags": [
          "surfaces"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/coverage": {
      "get": {
        "description": "Fetch registry coverage summary.",
        "operationId": "coverage",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "CoverageArtifactResponse": {
                    "$ref": "#/components/examples/CoverageArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CoverageArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Fetch the registry coverage and completeness summary",
        "tags": [
          "registry"
        ],
        "x-metagraphed-networks": [
          "finney",
          "mainnet",
          "test",
          "testnet"
        ]
      }
    },
    "/api/v1/economics": {
      "get": {
        "description": "List per-subnet validator and economic metrics (counts, stake, registration cost, alpha price, alpha market-cap proxy, alpha FDV proxy, emission share, and registration block height). Default order is emission share descending — note that `emission_share` is the STAGE-1 PRICE SHARE of the v440 emission pipeline (alpha_price / sum of alpha_price), NOT the share of TAO a subnet receives: spec 440 separates the two by MinerBurned reweighting, the Hill emission gate, the SubnetEmissionEnabled filter, the alpha injection cap, and the liquidity balancer. See /api/v1/network/parameters for the gate parameters and docs/computed-metrics-methodology.md for the eight-stage decomposition. Filter by netuid/registration_allowed, search by name/slug, and sort with `sort=<field>&order=asc|desc` — the two are separate parameters (e.g. `?sort=alpha_market_cap_tao&order=desc` or `?sort=block&order=asc`), NOT a combined `field:desc` token. Per-subnet recipient-class economics (who the emission actually goes to -- validators, miners, the burn sink, in alpha and derived USD per day) are NOT here: /subnets/{netuid}/emission-split/history measures that split per day; never reconstruct it from an assumed constant. Registry screening signals (repo health via github_commits_weekly/github_last_push_at, testnet lineage via also_on, the declared miner hardware floor via gpu_required/min_vram_gb) are also NOT here: /api/v1/subnets serves them in bulk behind its fields= projection, e.g. ?fields=netuid,github_commits_weekly,also_on,gpu_required.",
        "operationId": "economics",
        "parameters": [
          {
            "description": "Subnet id (netuid). `0` is the root subnet -- a stake-allocation construct rather than a running subnet. It IS present in the registry collections, but it is excluded from application-subnet counts, and stake on it is denominated in TAO rather than in a subnet alpha token, so its economics are not directly comparable to a running subnet's.",
            "in": "query",
            "name": "netuid",
            "required": false,
            "schema": {
              "maximum": 65535,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "registration_allowed",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Free-text search query, matched case-insensitively against the collection's indexed text fields. Whitespace-separated terms narrow the result (AND), and an empty or whitespace-only value is treated as no filter rather than as a search matching nothing.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "maxLength": 200,
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 1000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, every matching row is returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Row offset to resume from — the numeric position of the first row to return, not an opaque token. Rows inserted since the previous page shift it, so prefer the keyset cursor where a tool offers one.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Field to sort by — the bare field name only (e.g. `sort=total_stake_alpha`). Pair with the separate `order` parameter to choose direction; a combined `field:desc` token is NOT supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "alpha_fdv_tao",
                "alpha_market_cap_tao",
                "alpha_price_change_1d",
                "alpha_price_change_1h",
                "alpha_price_change_1m",
                "alpha_price_change_7d",
                "alpha_price_tao",
                "block",
                "emission_share",
                "max_stake_alpha",
                "max_uids",
                "max_validators",
                "miner_count",
                "miner_readiness",
                "name",
                "netuid",
                "open_slots",
                "registration_cost_tao",
                "subnet_volume_tao",
                "total_stake_alpha",
                "validator_count"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort direction for `sort`: `asc` or `desc` (default `desc`). This is a separate parameter from `sort` — e.g. `?sort=emission_share&order=desc`.",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Response format override. Use `csv` to download the transformed list as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "EconomicsArtifactResponse": {
                    "$ref": "#/components/examples/EconomicsArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EconomicsArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "CandidatesCsv": {
                    "$ref": "#/components/examples/CandidatesCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or the transformed list as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "List per-subnet validator and economic metrics",
        "tags": [
          "subnets"
        ],
        "x-metagraphed-networks": [
          "finney",
          "mainnet",
          "test",
          "testnet"
        ]
      }
    },
    "/api/v1/validators": {
      "get": {
        "description": "Fetch the network-wide validator/operator leaderboard: validator-permit identities grouped across all current subnet memberships, with trust metrics, cross-subnet stake/emission totals, stake dominance, and top membership rows. Sort by subnet_count (default), uid_count, avg_validator_trust, max_validator_trust, total_stake, total_emission, or stake_dominance; limit caps the list (default 20, max 2000). Computed live from the neurons store.",
        "operationId": "globalValidators",
        "parameters": [
          {
            "description": "Column to rank the result by; pair with `order` for direction. Options are per-tool; see this parameter's enum. Defaults to subnet_count.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "subnet_count",
              "enum": [
                "avg_validator_trust",
                "max_validator_trust",
                "stake_dominance",
                "subnet_count",
                "total_emission",
                "total_stake",
                "uid_count"
              ],
              "type": "string"
            }
          },
          {
            "description": "Maximum number of rows to return in one page (at most 2000). A larger value, or a non-positive one, is rejected with 400 `invalid_query` -- so a short page means the result set is exhausted, not that the server quietly capped you (#9916). Omitted, the server applies 20.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 2000,
              "minimum": 1,
              "type": "integer",
              "x-serving-bound": true
            }
          },
          {
            "description": "Response format override. Use `csv` to download the route rows as text/csv; `json` keeps the default response envelope.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "GlobalValidatorsArtifactResponse": {
                    "$ref": "#/components/examples/GlobalValidatorsArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GlobalValidatorsArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "text/csv": {
                "examples": {
                  "GlobalValidatorsCsv": {
                    "$ref": "#/components/examples/GlobalValidatorsCsv"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope, or route rows as text/csv when CSV is requested.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Fetch the network-wide validator leaderboard",
        "tags": [
          "validators",
          "analytics"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/accounts/{ss58}": {
      "get": {
        "description": "Fetch a cross-subnet activity summary for one account (hotkey or coldkey): chain-event aggregates joined to its current subnet registrations + stake. Computed live from the account_events lakehouse and the neurons tier -- the same rows /accounts/{ss58}/events and /accounts/{ss58}/subnets serve, so the three cannot disagree. A tier that exists and cannot answer declines with a typed 503 (account_summary_unavailable) rather than an all-zero card, which is indistinguishable from an account with no history.",
        "operationId": "accountSummary",
        "parameters": [
          {
            "description": "An SS58-encoded account address -- a hotkey or coldkey.",
            "example": "5F4tQyWrhfGVcNhoqeiNsR6KjD4wMZ2kfhLj4oHYuyHbZAc3",
            "in": "path",
            "name": "ss58",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "AccountSummaryArtifactResponse": {
                    "$ref": "#/components/examples/AccountSummaryArtifactResponse"
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AccountSummaryArtifact"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Canonical artifact wrapped in the Metagraphed API envelope.",
            "headers": {
              "cache-control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "etag": {
                "$ref": "#/components/headers/ETag"
              },
              "x-metagraph-contract-version": {
                "$ref": "#/components/headers/ContractVersion"
              }
            }
          },
          "304": {
            "description": "ETag matched and the cached response is still valid."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Query parameters were malformed or unsupported."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Artifact or API route was not found."
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "HTTP method is not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Unexpected backend error."
          }
        },
        "summary": "Fetch a cross-subnet activity summary for one account",
        "tags": [
          "accounts",
          "analytics"
        ],
        "x-metagraphed-mainnet-only": true,
        "x-metagraphed-networks": [
          "mainnet"
        ]
      }
    },
    "/api/v1/health": {
      "get": {
        "description": "Fetch global health summary.",
        "operationId": "health",
        "parameters": [
          {
            "description": "Subnet id (netuid). `0` is the root subnet -- a stake-allocation construct rather than a running subnet. It IS present in the registry collections, but it is excluded from application-subnet counts, and stake on it is denominated in TAO rather than in a subnet alpha token, so its economics are not directly comparable to a running subnet's.",
            "in": "query",
            "name": "netuid",
            "required": false,
            "schema": {
              "maximum": 65535,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "ok",
                "degraded",
                "failed",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma-separated allow-list projecting the response's primary row collection down to just these fields. A response carrying several collections projects only the primary one -- the others keep their full shape. An unrecognised field is a 400 `invalid_query` naming both the field and the collection it was resolved against, rather than being ignored.",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "pattern": "^[\\s,]*[A-Za-z_][A-Za-z0-9_]*(\\s*,[\\s,]*[A-Za-z_][A-Za-z0-9_]*)*[\\s,]*$",
              "type": "string"
            }
          },
          {
[...]
