{
  "openapi": "3.1.0",
  "info": {
    "title": "SpendTheBits DeFi risk data",
    "version": "2026-10-05",
    "description": "Per-call DeFi safety data sold over x402: a yield safety score for vetted stablecoin vaults, an address risk screen, and a contract reputation report. No account, no API key; each call is paid in USDC."
  },
  "servers": [
    {
      "url": "https://x402.spendthebits.com"
    }
  ],
  "paths": {
    "/@stbclaudeprod/yield-safety/": {
      "get": {
        "operationId": "stbclaudeprod_yield_safety",
        "summary": "Score the safety and yield of vetted stablecoin vaults",
        "description": "0-100 safety score with components (protocol trust, TVL depth, audits, track record), observed and risk-adjusted APR, and whether STB's Auto-Defense would exit \u2014 for every vetted stablecoin vault, or one by ?venue=<id|pool address>.",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 96
            },
            "description": "Venue id (UUID) or vault/pool contract address; omit it to get every vetted mainnet vault"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required \u2014 x402 requirements in the body (v1) and PAYMENT-REQUIRED header (v2).",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Paid content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "as_of": {
                      "type": "string",
                      "description": "When this answer was computed (ISO 8601)"
                    },
                    "network": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "venues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "protocol": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "chain_id": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "asset": {
                            "type": "string"
                          },
                          "pool_address": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "safety_score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "factors": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "The components the score is the sum of"
                          },
                          "observed_apr": {
                            "type": "string",
                            "description": "Decimal fraction, e.g. 0.0412 = 4.12%"
                          },
                          "risk_adjusted_apr": {
                            "type": "string"
                          },
                          "tvl_usd": {
                            "type": "string"
                          },
                          "audited": {
                            "type": "boolean"
                          },
                          "audit_firms": {
                            "type": "integer"
                          },
                          "incidents": {
                            "type": "integer"
                          },
                          "launched_days_ago": {
                            "type": "integer"
                          },
                          "auto_defense": {
                            "type": "object",
                            "properties": {
                              "floor": {
                                "type": "integer"
                              },
                              "would_exit": {
                                "type": "boolean"
                              },
                              "reason": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "floor",
                              "would_exit"
                            ]
                          },
                          "scored_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "protocol",
                          "asset",
                          "pool_address",
                          "enabled",
                          "safety_score",
                          "factors",
                          "observed_apr",
                          "risk_adjusted_apr",
                          "tvl_usd",
                          "auto_defense"
                        ]
                      }
                    },
                    "methodology": {
                      "type": "string",
                      "description": "URL of the scoring method"
                    }
                  },
                  "required": [
                    "as_of",
                    "network",
                    "count",
                    "venues",
                    "methodology"
                  ]
                }
              }
            }
          }
        },
        "x-payment-info": {
          "authMode": "required",
          "protocols": [
            "x402"
          ],
          "price": {
            "amount": "0.005",
            "currency": "USD"
          },
          "minPrice": "0.005",
          "maxPrice": "0.005",
          "offers": [
            {
              "amount": "5000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "recipient": "AL9qAUU4KSz4sFvGNbdxXDjjPbqTLvx221TSm2nFVwni",
              "description": "USDC on Solana mainnet, exact amount in token base units."
            },
            {
              "amount": "5000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "eip155:8453",
              "recipient": "0x44818760C35821d793cf69275DdcFc012B3cDa11",
              "description": "USDC on Base, exact amount in token base units."
            }
          ]
        },
        "tags": [
          "defi",
          "yield",
          "risk",
          "stablecoin",
          "usdc"
        ]
      }
    },
    "/@stbclaudeprod/address-risk/": {
      "get": {
        "operationId": "stbclaudeprod_address_risk",
        "summary": "Check a wallet address for sanctions and scam reports",
        "description": "Sanctions/scam screening verdict for one address (?address=, optional ?network=mainnet|testnet) plus whether it is a verified token contract STB recognises. The same screen that gates every send in the STB wallet.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 20,
              "maxLength": 96
            },
            "description": "Address to screen: an EVM 0x address, or another chain's address (Solana, TRON, XRPL, Bitcoin ...)",
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "testnet"
              ]
            },
            "description": "mainnet (default) or testnet",
            "example": "mainnet"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required \u2014 x402 requirements in the body (v1) and PAYMENT-REQUIRED header (v2).",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Paid content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "as_of": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string",
                      "enum": [
                        "mainnet",
                        "testnet"
                      ]
                    },
                    "family": {
                      "type": "string",
                      "enum": [
                        "evm",
                        "other"
                      ]
                    },
                    "verdict": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "warn",
                        "block"
                      ],
                      "description": "block = listed (sanctions/ransomware); warn = publicly reported scam"
                    },
                    "screening": {
                      "type": "object",
                      "properties": {
                        "listed": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "source": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "listed"
                      ]
                    },
                    "token_contract": {
                      "type": "object",
                      "properties": {
                        "known": {
                          "type": "boolean"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "chain": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "known"
                      ]
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "attribution": {
                      "description": "Credit the data source's licence asks for, when one matched"
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "address",
                    "network",
                    "family",
                    "verdict",
                    "screening",
                    "token_contract",
                    "evidence"
                  ]
                }
              }
            }
          }
        },
        "x-payment-info": {
          "authMode": "required",
          "protocols": [
            "x402"
          ],
          "price": {
            "amount": "0.003",
            "currency": "USD"
          },
          "minPrice": "0.003",
          "maxPrice": "0.003",
          "offers": [
            {
              "amount": "3000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "recipient": "AL9qAUU4KSz4sFvGNbdxXDjjPbqTLvx221TSm2nFVwni",
              "description": "USDC on Solana mainnet, exact amount in token base units."
            },
            {
              "amount": "3000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "eip155:8453",
              "recipient": "0x44818760C35821d793cf69275DdcFc012B3cDa11",
              "description": "USDC on Base, exact amount in token base units."
            }
          ]
        },
        "tags": [
          "compliance",
          "sanctions",
          "risk",
          "security",
          "wallet"
        ]
      }
    },
    "/@stbclaudeprod/reputation/": {
      "get": {
        "operationId": "stbclaudeprod_reputation",
        "summary": "Report exit liquidity, audits and admin for one DeFi contract",
        "description": "Eight lines on one contract before money moves: exit amount, yield split, audit links, incident note, admin, age, holder concentration, and governance. Unknown stays unknown. No score.",
        "parameters": [
          {
            "name": "chain_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "EVM chain id",
            "example": "1"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contract address",
            "example": "0x7bc3485026ac48b6cf9baf0a377477fff5703af8"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Amount you may allocate"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address, optional"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment required \u2014 x402 requirements in the body (v1) and PAYMENT-REQUIRED header (v2).",
            "content": {
              "application/json": {}
            }
          },
          "200": {
            "description": "Paid content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string",
                      "const": "reputation"
                    },
                    "methodology": {
                      "type": "string"
                    },
                    "chain_id": {
                      "type": [
                        "integer",
                        "string"
                      ]
                    },
                    "address": {
                      "type": "string"
                    },
                    "amount": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "owner": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "valid_until": {
                      "type": "string",
                      "description": "The answer is cached until then (ISO 8601, UTC)"
                    },
                    "send_screen": {
                      "type": "string",
                      "enum": [
                        "clear",
                        "blocked"
                      ]
                    },
                    "category": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "screen_sentence": {
                      "type": "string"
                    },
                    "lines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "description": "observed, unknown or not_on_this_card"
                          },
                          "sentence": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "status",
                          "sentence"
                        ]
                      }
                    },
                    "observed_count": {
                      "type": "integer"
                    },
                    "line_count": {
                      "type": "integer"
                    },
                    "completeness": {
                      "type": "string"
                    },
                    "sentences": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "same_asset_vaults": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "product",
                    "methodology",
                    "chain_id",
                    "address",
                    "valid_until",
                    "send_screen",
                    "lines",
                    "observed_count",
                    "line_count",
                    "completeness",
                    "sentences"
                  ]
                }
              }
            }
          }
        },
        "x-payment-info": {
          "authMode": "required",
          "protocols": [
            "x402"
          ],
          "price": {
            "amount": "0.05",
            "currency": "USD"
          },
          "minPrice": "0.05",
          "maxPrice": "0.05",
          "offers": [
            {
              "amount": "50000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "recipient": "AL9qAUU4KSz4sFvGNbdxXDjjPbqTLvx221TSm2nFVwni",
              "description": "USDC on Solana mainnet, exact amount in token base units."
            },
            {
              "amount": "50000",
              "currency": "USDC",
              "intent": "charge",
              "method": "x402",
              "scheme": "exact",
              "network": "eip155:8453",
              "recipient": "0x44818760C35821d793cf69275DdcFc012B3cDa11",
              "description": "USDC on Base, exact amount in token base units."
            }
          ]
        },
        "tags": [
          "defi",
          "risk",
          "due-diligence",
          "vault",
          "security"
        ]
      }
    }
  }
}
