{"openapi":"3.1.0","info":{"title":"Scry Wallet Intelligence","version":"0.1.0","summary":"Solana wallet intelligence via x402 for agents: 65,412 indexed wallets, 14,563 funding-lineage caches, 421 resolved X-handles, no API keys, no subscriptions.","contact":{"email":"michaelpfeilschifter@gmail.com"},"description":"Scry is a Solana wallet intelligence API, paid per request via x402 — an evidence suite for agents that need wallet, mint, funding-lineage, transfer, and cohort context before applying their own monitoring or classification policies. Low-cost entry calls start at $0.001 (wallet quick-flag) through $0.01-$0.10 for bundler checks, mint preflight, Pump.fun cohort screening, and funding lineage before deeper dossiers. Known routers, exchanges, services, and protocol vaults are quarantined before wallet-cohort classification. Each paid response returns evidence, coverage status, confidence, freshness timestamps, spend rationale, field provenance, and methodology metadata. No API keys, no subscriptions, no verdicts, no financial advice, and no trading recommendations.\n\nAll paid endpoints use x402 v2 PAYMENT-SIGNATURE. X-PAYMENT is a legacy v1 compatibility alias; clients must send only one payment header. Public discovery surfaces require no payment.","x-logo":{"url":"https://scry.solanahub.de/x402/assets/scry-wallet-intelligence-512.png","altText":"Scry Wallet Intelligence"},"x-provider":"Scry","x-guidance":"Paid Scry routes require x402 v2 PAYMENT-SIGNATURE (exact USDC). First convert SKU: GET /x402/wallet/{address}/lineage ($0.03). Secondary: GET /x402/solana/agent-intel-brief or GET /x402/wallet/{address}/quick-flag. Free discovery: /openapi.json, /x402/products.json, /.well-known/x402. Responses are evidence-only; trust per-response freshness fields and live /x402/freshness-sla.json for aggregate SLA (fresh when stale_count=0); coverage may still be yellow. Not financial advice.","x-full-spec-url":"https://scry.solanahub.de/openapi-full.json"},"servers":[{"url":"https://scry.solanahub.de"}],"tags":[{"name":"discovery","description":"Free machine-readable discovery surfaces."},{"name":"offers","description":"Free Planet Solana and Scry package catalog surfaces."},{"name":"x402-paid","description":"Paid x402 intelligence endpoints."}],"paths":{"/health":{"get":{"tags":["discovery"],"summary":"Health check","responses":{"200":{"description":"Service health"}},"security":[]}},"/openapi.json":{"get":{"tags":["discovery"],"summary":"This OpenAPI document (slim; ?full=1 for the complete spec)","responses":{"200":{"description":"OpenAPI 3.1 document"}},"security":[]}},"/openapi-full.json":{"get":{"tags":["discovery"],"summary":"Complete OpenAPI document with full schemas and examples","responses":{"200":{"description":"OpenAPI 3.1 document"}},"security":[]}},"/api/planet/offers":{"get":{"tags":["offers","discovery"],"summary":"Planet Solana app and Scry Forensics package catalog","description":"Free machine-readable offer catalog for Planet Solana Wallet Watch and Scry Forensics dossier packages. Paid tiers report checkout readiness without exposing paid data.","responses":{"200":{"description":"Offer catalog"}},"security":[]}},"/api/planet/intake":{"get":{"tags":["offers","discovery"],"summary":"Planet Solana manual intake contract","description":"Free machine-readable contract for manual access and dossier requests while automated checkout is being configured.","responses":{"200":{"description":"Manual intake contract"}},"security":[]},"post":{"tags":["offers"],"summary":"Submit a Planet Solana or Scry manual intake request","description":"Append-only local intake for access and dossier requests. This creates no demand claim and returns no paid evidence.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"offer_id":{"type":"string","description":"Canonical offer id."},"package":{"type":"string","enum":["plus","pro","founder","dossier","priority","not_sure"]},"contact":{"type":"string","description":"Legacy contact field."},"contact_value":{"type":"string","description":"Email address or Telegram handle."},"contact_channel":{"type":"string"},"contact_method":{"type":"string","enum":["email","telegram"]},"object_type":{"type":"string","enum":["wallet","token_or_mint","operator_cluster","watchlist","other"]},"what_to_look_at":{"type":"string","enum":["wallet","token_or_mint","operator_cluster","not_sure"]},"object":{"type":"string"},"target_addresses":{"type":"string"},"use_case":{"type":"string"},"recipient_output":{"type":"string","description":"Recipient or preferred report format."},"output_format":{"type":"string","description":"Alias for recipient_output."},"preferred_output":{"type":"string","description":"Alias for recipient_output."},"recipient":{"type":"string","description":"Alias for recipient_output."},"urgency":{"type":"string","enum":["standard","priority","not_sure"]},"timing":{"type":"string","enum":["exploring","this_week","urgent"]},"notes":{"type":"string"},"consent_to_contact":{"type":"boolean","const":true},"consent":{"type":"boolean","const":true}},"anyOf":[{"required":["offer_id","contact","consent_to_contact"]},{"required":["package","contact_value","consent"]}]}}}},"responses":{"202":{"description":"Manual intake received"},"400":{"description":"Invalid intake request"}},"security":[]}},"/x402/coverage.json":{"get":{"tags":["discovery"],"summary":"Aggregate Scry coverage snapshot","responses":{"200":{"description":"Coverage snapshot"}},"security":[]}},"/x402/reindex-evidence.json":{"get":{"tags":["discovery"],"summary":"Operational evidence packet for external Bazaar and Buyer Search reindex review","responses":{"200":{"description":"Reindex evidence packet"}},"security":[]}},"/x402/freshness-sla.json":{"get":{"tags":["discovery"],"summary":"Machine-readable freshness targets for Scry evidence dimensions","responses":{"200":{"description":"Freshness SLA"}},"security":[]}},"/x402/error-contract.json":{"get":{"tags":["discovery"],"summary":"Machine-readable degraded response and error contract","responses":{"200":{"description":"Error contract"}},"security":[]}},"/x402/methodology.json":{"get":{"tags":["discovery"],"summary":"Machine-readable field methodology and provenance policy","responses":{"200":{"description":"Methodology manifest"}},"security":[]}},"/x402/workflows.json":{"get":{"tags":["discovery"],"summary":"Agent workflow catalog for job-based Scry endpoint selection","responses":{"200":{"description":"Workflow catalog"}},"security":[]}},"/x402/workflows/{workflow}":{"get":{"tags":["discovery"],"summary":"Single Scry workflow routing plan","parameters":[{"name":"workflow","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Workflow routing plan"},"404":{"description":"Workflow not found"}},"security":[]}},"/x402/discovery/wallet-lineage":{"get":{"tags":["discovery"],"summary":"Buyer-intent discovery page for Solana wallet funding lineage and source-of-funds queries","responses":{"200":{"description":"Wallet lineage buyer-intent routing page"}},"security":[]}},"/x402/discovery/pumpfun-risk-protection":{"get":{"tags":["discovery"],"summary":"Buyer-intent discovery page for Pump.fun wallet-cohort risk-screen queries","responses":{"200":{"description":"Pump.fun risk-protection buyer-intent routing page"}},"security":[]}},"/x402/discovery/mint-risk":{"get":{"tags":["discovery"],"summary":"Buyer-intent discovery page for one-mint risk preflight and holder-concentration queries","responses":{"200":{"description":"Mint-risk buyer-intent routing page"}},"security":[]}},"/x402/discovery/wallet-lineage.html":{"get":{"tags":["discovery"],"summary":"Human-readable HTML landing page for Solana wallet funding lineage buyer intent","responses":{"200":{"description":"Wallet lineage HTML discovery page"}},"security":[]}},"/x402/discovery/pumpfun-risk-protection.html":{"get":{"tags":["discovery"],"summary":"Human-readable HTML landing page for Pump.fun risk-protection buyer intent","responses":{"200":{"description":"Pump.fun risk-protection HTML discovery page"}},"security":[]}},"/x402/discovery/mint-risk.html":{"get":{"tags":["discovery"],"summary":"Human-readable HTML landing page for mint-risk buyer intent","responses":{"200":{"description":"Mint-risk HTML discovery page"}},"security":[]}},"/x402/example/{example}":{"get":{"tags":["discovery"],"summary":"Free example fixture for a paid Scry response contract","parameters":[{"name":"example","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Example fixture"},"404":{"description":"Example not found"}},"security":[]}},"/x402/solana/hot-wallets/daily":{"get":{"tags":["x402-paid","solana","daily-hot-wallets","cohort","wallet-intelligence","x402-data-broker","solana-x402-data-marketplace","agent-product"],"summary":"Low-cost daily notable-wallet cohort with cluster tags and coverage. Cohort shortlist, not one-wallet transfer tape.","description":"Low-cost daily Solana notable-wallet cohort for autonomous agents. Returns today's ranked cohort shortlist, pre-filtered against known routers, exchanges, services, and vaults. Each wallet includes source-rank context, Scry coverage gaps, cluster tags, missing dimensions, and a credit-aware depth-call plan before single-wallet forensics. Use for daily discovery and routing. Not for one-wallet transaction rows; use Wallet Transfer Tape for that object. No API keys, no subscriptions; x402 exact payment per request. Search aliases: find active solana memecoin trader wallets daily; low cost daily solana wallet shortlist; low cost solana wallet discovery; daily solana hot wallet cohort; today notable solana wallet shortlist; cohort daily wallet cohort; cohort 24h wallet shortlist api; solana wallet candidates for agents. Primary object: low cost daily wallet discovery.\n\nPrice: $0.10. Requires x402 exact payment.","parameters":[],"requestBody":{"required":false,"description":"Unused. This GET endpoint accepts no request body and no path/query parameters — call the path as-is.","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false,"description":"Empty input — no fields accepted or required."}}}},"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_daily_hot_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_daily_hot_wallets_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.10","x-scry-cache-ttl-seconds":900,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.10"},"protocols":[{"x402":{}}]}}},"/x402/solana/persistent-wallets/weekly":{"get":{"tags":["x402-paid","solana","weekly-persistent-wallets","cohort-7d","wallet-intelligence","x402-data-broker","solana-x402-data-marketplace","agent-product"],"summary":"Low-cost weekly persistence cohort; separates daily noise from recurring patterns.","description":"Low-cost weekly persistence cohort for agents that need lower-noise recurring wallets before deeper wallet forensics. Includes daily-overlap context, Scry coverage gaps, missing dimensions, and a deeper analysis ladder for caller-defined monitoring and research workflows. No API keys, no subscriptions; x402 exact payment per request. Search aliases: cohort 7d persistent solana wallets; low cost weekly solana wallet persistence; find persistent solana memecoin trader wallets weekly; weekly persistent solana wallet cohort; recurring solana wallet shortlist; cohort 7d wallet persistence cohort; cohort 7d wallet persistence api; solana wallet persistence for agents. Primary object: low cost weekly wallet persistence.\n\nPrice: $0.20. Requires x402 exact payment.","parameters":[],"requestBody":{"required":false,"description":"Unused. This GET endpoint accepts no request body and no path/query parameters — call the path as-is.","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false,"description":"Empty input — no fields accepted or required."}}}},"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_weekly_persistent_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_weekly_persistent_wallets_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.20","x-scry-cache-ttl-seconds":3600,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.20"},"protocols":[{"x402":{}}]}}},"/x402/solana/pumpfun-risk-protection":{"get":{"tags":["x402-paid","solana","pumpfun-risk-protection-api","pumpfun-risk-protection","pumpfun-risk-wallets","pumpfun-rugger-detection","pumpfun-rugger-wallet-detection","serial-deployer-wallets","pumpfun-serial-deployer-wallets","consumer-protection","rug-pattern-wallets","rugger-pattern-wallets","wallet-intelligence","x402-data-broker","solana-x402-data-marketplace","agent-product"],"summary":"Low-cost Pump.fun rugger and serial-deployer wallet-cohort screen. No verdict.","description":"Low-cost Pump.fun wallet-cohort screen for agents that need rugger-pattern, serial-deployer, service-router, and suspicious-activity context before deeper review. Returns identity, activity, coverage, and sample evidence for wallet cohorts and deployer sets. Use for cohorts, not one mint, one launch, or one wallet. Evidence only; no verdict. No API keys, no subscriptions; x402 exact payment per request. Search aliases: pumpfun risk protection solana; pumpfun rugger wallet detection; pumpfun serial deployer wallet api; pump.fun rugger wallet detection; pump.fun serial deployer wallets; pumpfun risk wallet cohort; pumpfun wallet cohort risk screen; pumpfun deployer risk screen. Primary object: low cost pumpfun wallet cohort screen.\n\nPrice: $0.05. Requires x402 exact payment.","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"number","minimum":1,"maximum":100,"default":50}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","wallet_count","wallets","data_quality","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_risk_protection"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"cohort_summary":{"type":"object"},"data_quality":{"type":"object","description":"Product-level freshness, onchain enrichment, and risk-coverage attestation."},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_pumpfun_risk_protection_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.05","x-scry-cache-ttl-seconds":1800,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.05"},"protocols":[{"x402":{}}]}}},"/x402/solana/agent-intel-brief":{"get":{"tags":["x402-paid","solana","agent-intel-brief","agent-orchestrator-solana-wallet-intelligence","orchestrator-wallet-intelligence","solana-agent-wallet-intelligence","solana-spend-router","orchestrator-agent","agent-spend-routing","product-ladder-routing","onchain-call-plan","wallet-triage","solana-agent-brief","agent-operations-brief","cohort-brief","daily-weekly-wallet-brief","refresh-queue","wallet-refresh-plan","scry-agent-intel","x402-data-broker","solana-x402-data-marketplace","wallet-intelligence","onchain-plan","agent-product"],"summary":"Low-cost agent orchestrator wallet-intel spend-router: freshness, coverage gaps, product ladder.","description":"Agent orchestrator Solana wallet intelligence brief and low-cost spend-router for autonomous agents deciding which Scry endpoint or onchain depth workflow to request next. Combines 24h/7d wallet context, DB freshness, refresh queue, coverage gaps, product-ladder routing, and next evidence depth in one response. Use when the object is an agent workflow. Not a single-wallet bundler/private-routing check. No API keys, no subscriptions; x402 exact payment per request. Search aliases: agent orchestrator solana wallet intelligence; which scry endpoint should my agent select; solana agent spend router; agent orchestrator solana wallet intelligence api; which scry endpoint should my agent request next; low cost solana agent wallet intelligence router; scry agent orchestrator spend router; solana wallet intelligence spend router. Primary object: agent spend router.\n\nPrice: $0.03. Requires x402 exact payment.","parameters":[],"requestBody":{"required":false,"description":"Unused. This GET endpoint accepts no request body and no path/query parameters — call the path as-is.","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false,"description":"Empty input — no fields accepted or required."}}}},"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","service_objective","brief","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_agent_intel_brief"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"service_objective":{"type":"string"},"brief":{"type":"object"},"evidence_pack":{"type":"object"},"product_ladder":{"type":"array","items":{"type":"object"}},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_intel_brief_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.03","x-scry-cache-ttl-seconds":900,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.03"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/quick-flag":{"get":{"tags":["x402-paid","solana","wallet-quick-flag","sub-cent-prefilter","wallet-prefilter","bulk-wallet-screen","identity-quarantine","transfer-freshness","private-routing","low-cost-agent-sku","x402-data-broker","solana-x402-data-marketplace"],"summary":"Sub-cent ($0.001) Solana wallet flag check and x402 micropayment test target: quarantine, bundler hint, identity, freshness.","description":"A $0.001 x402 call — the lowest-price endpoint in this catalog and a practical first target to test a real USDC micropayment end-to-end. Returns service-quarantine status, bundler-routing hint, known identity, coverage status, cached transfer freshness, and stale-vs-DB marker for any Solana wallet. Built for agents bulk-screening before paying for deeper wallet evidence, and for x402 clients that want a working sub-cent settlement test against a live API. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.001. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","in_db","supported","quick_flags","coverage","evidence_pack","evidence_pathways","workflow_continuation","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_quick_flag"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string"},"in_db":{"type":"boolean"},"supported":{"type":"boolean"},"quick_flags":{"type":"object"},"coverage":{"type":"object"},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"evidence_pathways":{"type":"object","properties":{"contract":{"type":"string","const":"scry_evidence_pathways_v1"},"posture":{"type":"string","const":"caller_selects"},"current_product":{"type":"string"},"next_steps":{"type":"array","items":{"type":"object"}}}},"workflow_continuation":{"type":"object","required":["contract","posture","current_product","options","stop_conditions"],"properties":{"contract":{"type":"string","const":"scry_workflow_continuation_v1"},"posture":{"type":"string","const":"caller_selects_no_automatic_purchase"},"current_product":{"type":"string"},"options":{"type":"array","items":{"type":"object"}},"stop_conditions":{"type":"array","items":{"type":"string"}}}},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_quick_flag_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.001","x-scry-cache-ttl-seconds":120,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/pnl":{"get":{"tags":["x402-paid","solana","wallet-pnl","canonical-pnl","pre-post-balances","no-estimated-pnl","validator-native-balance-delta","profit-and-loss","wallet-profit","low-cost-agent-sku","x402-data-broker","solana-x402-data-marketplace"],"summary":"Canonical per-tx SOL PnL from validator pre/postBalances (never estimated; honest null when not computable).","description":"Per-transaction SOL PnL for one Solana wallet from validator pre/postBalances — never estimated or price-derived (that data source is verified to the lamport). Returns an explicit null + reason when the number is not computable, the wallet is multi-asset, or a large PnL sits on a now-empty wallet (withheld as unverifiable pending the chain-anchored recompute — equally a real winner who withdrew or a flow artifact, NOT judged fake). NOTE: whole-lifetime chain-anchored verification is being hardened — the served number is currently internal-consistency-checked, NOT yet certified against the on-chain lifetime balance delta (sol_pnl_chain_anchored=false). Includes trade count, classification, coverage, and freshness. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.002. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","in_db","supported","pnl","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_pnl"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string"},"in_db":{"type":"boolean"},"supported":{"type":"boolean"},"pnl":{"type":["object","null"]},"coverage":{"type":"object"},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_pnl_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.002","x-scry-cache-ttl-seconds":300,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/bundler-check":{"get":{"tags":["x402-paid","solana","wallet-intelligence","bundler-detection","jito","nozomi","bloxroute","private-routing-wallet","memecoin","x402-data-broker","solana-x402-data-marketplace"],"summary":"Is this Solana wallet a bundler? Private-routing evidence check before deeper forensics.","description":"Is this Solana wallet a bundler? Single-wallet bundler and private-routing evidence check. Detects whether one wallet routes through Jito, Nozomi, BloXroute, ZeroSlot, BlockRazor, NextBlock, Astralane, or onchain Sender. Returns routing-pattern evidence, tip-stack counts, service-quarantine status, and coverage warnings before deeper wallet forensics. Not an agent orchestrator brief. No API keys, no subscriptions; x402 exact payment per request. Search aliases: solana wallet private routing detection; solana wallet bundler detection api; x402 solana bundler check; one cent solana wallet bundler check; low cost solana private routing evidence; jito tip service wallet evidence; solana wallet jito nozomi bloxroute check; solana jito wallet check. Primary object: low cost single wallet precheck.\n\nPrice: $0.01. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","address","in_db","supported","risk","confidence","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_bundler_check"},"as_of":{"type":"string","description":"Response evidence timestamp."},"sources":{"type":"array","items":{"type":"string"},"description":"Named data sources used in this response."},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string","description":"Queried Solana wallet address."},"in_db":{"type":"boolean","description":"Whether this wallet is currently in Scry coverage."},"supported":{"type":"boolean","description":"False for known infrastructure/CEX/system wallets."},"risk":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"pattern":{"type":["string","null"],"description":"Bundler usage class, when available."},"bundler_pattern":{"type":["string","null"],"description":"Deprecated compatibility alias for pattern."},"primary_service":{"type":["string","null"],"description":"Primary observed service, or multi."},"services_observed":{"type":"object","description":"Observed bundler/tip-service counts by provider."},"tip_total_sol":{"type":["number","null"],"description":"Sanitized total SOL sent to known tip addresses."},"sample_size":{"type":"object","properties":{"txs_scanned":{"type":["number","null"]},"services_observed_total":{"type":["number","null"]},"tips_observed_total":{"type":["number","null"]}}},"bundler_evidence_scope":{"type":"object","description":"Scan-specific completeness and confidence boundary, independent of unrelated holdings or trading coverage."},"coverage":{"type":"object","description":"Coverage warnings and checked sources."},"profile":{"type":"object","description":"Sanitized wallet trading/context profile."},"trade_context":{"type":"object","description":"High-level wallet trade context."},"explanation":{"type":"string"},"caveat":{"type":"string"},"evidence_pack":{"type":"object","description":"Machine-readable evidence contract for caller-defined policies."},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"sentinel_x402_bundler_check_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.01","x-scry-cache-ttl-seconds":14400,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/forensics":{"get":{"tags":["x402-paid","solana","wallet-forensics","wallet-evidence-dossier","wallet-evidence-dossier-api","solana-wallet-evidence-dossier","solana-wallet-evidence-dossier-api","full-wallet-dossier","wallet-intelligence","kol-identity","x-handle","twitter-handle","wallet-to-twitter","social-identity","onchain-identity-context","onchain-deep-tx-evidence","gettransactionsforaddress","kol-lookup","funding-lineage","sol-flow","coordination-peers","rug-evidence","sniper-risk-context","manipulation-window-context","mev-risk-context","verdict-free","launch-window-context","memecoin","wallet-research","x402-data-broker","solana-x402-data-marketplace"],"summary":"What is this Solana wallet's forensic profile? Evidence dossier: identity, pattern context, coverage, freshness.","description":"What is the on-chain forensic profile of this Solana wallet? Single-wallet evidence dossier API for agents that need one wallet in depth. Returns identity and X/Twitter-handle hints when available, service/router/exchange quarantine, funding-source lineage, cached transaction evidence, SOL-flow graph, coordination peers, cluster membership, rug-evidence flags, sniper/MEV/bundler pattern context, current activity, holdings snapshot when covered, coverage confidence, and source freshness timestamps. Use when the object is one Solana wallet. Not for token-launch dossiers, daily wallet cohorts, or transfer-only tapes. Evidence context only; caller owns policy decisions. No API keys or subscriptions; x402 exact payment per request. Search aliases: solana wallet evidence dossier; solana wallet to twitter handle; solana wallet to twitter handle reverse lookup; solana wallet evidence dossier api; full solana wallet evidence dossier; one wallet solana evidence dossier; solana wallet forensic dossier; solana wallet x handle lookup api. Primary object: single wallet dossier.\n\nPrice: $0.05. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","address","in_db","supported","risk_summary","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_forensics"},"as_of":{"type":"string","description":"Response evidence timestamp."},"sources":{"type":"array","items":{"type":"string"},"description":"Named data sources used in this response."},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string","description":"Queried Solana wallet address."},"in_db":{"type":"boolean","description":"Whether this wallet is currently in Scry coverage."},"supported":{"type":"boolean","description":"False for known infrastructure/CEX/system wallets."},"identity":{"type":"object","description":"Known labels, handles, or entity hints when available."},"trading_profile":{"type":"object","description":"Canonical wallet trading profile, including PnL/classification/sample size when available."},"bundler":{"type":"object","description":"Bundler/tip-service pattern summary."},"activity":{"type":"object","description":"Recent wallet balance and transaction-success fingerprint."},"holdings_snapshot":{"type":["object","null"],"description":"Latest holdings snapshot. Exact counts are returned only when snapshot_completeness=complete; bounded scans expose token_count_lower_bound instead.","properties":{"captured_at":{"type":["string","null"]},"snapshot_freshness":{"type":"object","properties":{"observed_at":{"type":["string","null"]},"age_seconds":{"type":["integer","null"],"minimum":0},"tier":{"type":"string","enum":["fresh","standard","stale","unknown"]},"stale_gt_30d":{"type":["boolean","null"]}}},"snapshot_completeness":{"type":"string","enum":["complete","bounded_lower_bound","unverified"]},"total_value_usd":{"type":["number","null"]},"native_balance_sol":{"type":["number","null"]},"token_count":{"type":["integer","null"],"minimum":0,"description":"Exact token count; null unless snapshot_completeness=complete."},"token_count_lower_bound":{"type":["integer","null"],"minimum":0,"description":"Observed lower bound; populated only for a bounded lower-bound scan."},"token_count_is_lower_bound":{"type":"boolean"},"tokens":{"type":"array","items":{"type":"object"}},"tokens_truncated":{"type":"boolean"},"token_preview_limit":{"type":["integer","null"],"minimum":0},"tokens_omitted_count":{"type":["integer","null"],"minimum":0},"field_coverage":{"type":"object"},"active_mint_inventory":{"type":"object"},"warnings":{"type":"array","items":{"type":"string"}},"source":{"type":["string","null"]}}},"sol_flows":{"type":"object","description":"Native SOL top destinations and funding sources."},"deep_tx_evidence":{"type":"object","description":"Cached onchain onchain-transaction-read transaction evidence summary. Raw transactions are not returned; this is forensic context for caller-defined policies."},"sniper_risk_context":{"type":"object","description":"Sniper/MEV/bundler cohort context exposed as risk-pattern evidence only. Stage-1 forward-return testing did not support execution use."},"clusters":{"type":"array","description":"Cluster memberships and related wallet context."},"coordination_peers":{"type":"array","description":"Wallets with joint-trigger or coordinated activity behavior."},"funding_trace":{"type":"array","description":"Funding lineage edges known to Scry."},"red_flags":{"type":"object","description":"Structured advisory flags."},"risk_summary":{"type":"object","properties":{"level":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"explanation":{"type":"string"}}},"coverage":{"type":"object","properties":{"coverage_status":{"type":"string","enum":["deep","medium","shallow","unavailable"]},"confidence":{"type":"number"},"last_scanned_at":{"type":["string","null"]},"missing_fields":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}}},"source_updated_at":{"type":["string","null"],"description":"Latest source update timestamp."},"caveat":{"type":"string"},"evidence_pack":{"type":"object","description":"Machine-readable evidence contract for caller-defined policies."},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"sentinel_x402_wallet_forensics_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.05","x-scry-cache-ttl-seconds":3600,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.05"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/lineage":{"get":{"tags":["x402-paid","solana","solana-funding-lineage-api","funding-lineage","funding-lineage-api","upstream-funder","funder-lookup","wallet-provenance","wallet-forensics","wallet-intelligence","source-of-funds","counterparty-review","x402-data-broker","solana-x402-data-marketplace"],"summary":"Who funded this Solana wallet? Funding-lineage evidence: upstream funders, freshness, confidence.","description":"Who funded this Solana wallet, and where did its funds come from? Cache-first funding-lineage evidence API returns known upstream funders, hop depth, source freshness, identity hints, loop detection, and coverage/confidence without forcing a live onchain refresh per request. Built for wallet provenance, source-of-funds review, counterparty review, risk triage, and paid Globe wallet dossiers. No API keys, no subscriptions; x402 exact payment per request. Search aliases: wallet source of funds solana api; solana funding lineage api; who funded this solana wallet; solana wallet funding lineage api; solana wallet lineage api; solana source of funds api; solana wallet provenance api; wallet funder lookup solana. Primary object: single wallet source of funds.\n\nPrice: $0.03. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","address","lineage_available","lineage","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_lineage"},"address":{"type":"string"},"in_db":{"type":"boolean"},"supported":{"type":"boolean"},"lineage_available":{"type":"boolean"},"lineage":{"type":"array","items":{"type":"object"}},"evidence_contract_version":{"type":"string","const":"scry_lineage_edge_evidence_v2"},"depth_reached":{"type":"number"},"terminal_funder":{"type":["string","null"]},"loop_detected":{"type":"boolean"},"wallet":{"type":["object","null"]},"coverage":{"type":"object"},"source_updated_at":{"type":["string","null"]},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_lineage_cache_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.03","x-scry-cache-ttl-seconds":3600,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.03"},"protocols":[{"x402":{}}]}}},"/x402/wallet/connection":{"get":{"tags":["x402-paid","solana","wallet-connection","wallet-pair-evidence","wallet-link-check","are-wallets-connected","wallet-relationship-api","shared-funder","funding-lineage","shared-counterparties","common-counterparty","graph-community","cluster-co-membership","token-overlap","sybil-evidence-context","airdrop-farming-context","wallet-graph","verdict-free","coverage-aware","x402-data-broker","solana-x402-data-marketplace"],"summary":"Are these two Solana wallets connected? Pairwise evidence: direct edges, funding lineage, shared counterparties, community co-membership, token overlap.","description":"Are these two Solana wallets connected on-chain? Pairwise wallet connection evidence API for agents that need to know whether two specific wallets are linked. Takes two wallet addresses and returns typed evidence blocks: direct transfer and swap-counterparty edges between the pair with direction and observed volume, funding-lineage comparison with terminal-funder match, shared transfer counterparties ranked by observed SOL volume with infrastructure flags, graph-community co-membership from network clustering, and traded-token overlap with Jaccard score. Every block carries its own computed_at timestamp and coverage status; wallets outside the covered transfer universe return explicit nulls instead of fabricated negatives. Use when the object is a PAIR of wallets. Not for single-wallet dossiers, token-launch analysis, or bulk cohort scans. Evidence context only; caller owns interpretation and policy decisions. No API keys or subscriptions; x402 exact payment per request.\n\nPrice: $0.04. Requires x402 exact payment.","parameters":[{"name":"a","in":"query","required":true,"schema":{"type":"string","description":"First Solana wallet address of the pair"}},{"name":"b","in":"query","required":true,"schema":{"type":"string","description":"Second Solana wallet address of the pair (must differ from `a`)"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","pair","connection_found","evidence","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_connection"},"as_of":{"type":"string","description":"Response evidence timestamp derived from source data, never fabricated."},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"pair":{"type":"object","properties":{"a":{"type":"string"},"b":{"type":"string"}},"description":"Echoed wallet pair, lexicographically normalized; direction fields refer to this order."},"pair_order":{"type":"string","const":"lexicographic_normalized"},"in_db":{"type":"object","description":"Per-wallet index membership."},"supported":{"type":"boolean"},"connection_found":{"type":"boolean","description":"True when at least one evidence block carries a positive signal (edge count > 0, funder match, community match, shared counterparties, or token overlap). False with full coverage is an honest 'no connection in evidence'."},"evidence":{"type":"object","properties":{"direct_edges":{"type":"object","description":"Direct graph edges between the pair with direction, weight, and detected_at."},"shared_terminal_funder":{"type":"object","description":"Funding-lineage comparison with terminal-funder match and per-side depth."},"shared_counterparties":{"type":"object","description":"Transfer counterparties observed on both sides, ranked by observed SOL volume, with is_infrastructure flags."},"same_community":{"type":"object","description":"Graph-community co-membership from network clustering with community id, size, and staleness flag."},"token_overlap":{"type":"object","description":"Traded-token overlap with per-side counts, shared mints, and Jaccard score."}},"description":"Typed evidence blocks; each carries its own computed_at and coverage_status (covered | partial | not_covered)."},"coverage":{"type":"object","description":"Merged pair coverage plus per-wallet coverage gates."},"source_updated_at":{"type":["string","null"]},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_connection_pair_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.04","x-scry-cache-ttl-seconds":3600,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.04"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/transfer-tape":{"get":{"tags":["x402-paid","solana","wallet-transfer-tape","fresh-solana-wallet-transfers","fresh-wallet-transfers","single-wallet-transfers","wallet-transfers","onchain-wallet-transfers","transfer-reconciliation","wallet-activity","fresh-wallet-activity","today-wallet-activity","counterparty-graph","edge-gap","pnl-reconciliation-input","x402-data-broker","solana-x402-data-marketplace"],"summary":"Fresh Solana wallet transfers for one wallet: transfer rows, counterparties, mints, freshness.","description":"Fresh Solana wallet transfers for one wallet. Returns one-wallet transfer rows as the live evidence tape: deduplicated activity, exact organization/service counterparty context across the cached history, in/out direction counts, mints touched, local edge-gap reconciliation, and freshness timestamps. Use for one wallet's latest transfer evidence before deeper forensics or graph refresh. Not a daily hot-wallet cohort and not a ranked wallet shortlist. No API keys, no subscriptions; x402 exact payment per request. Search aliases: fresh solana wallet transfers; wallet activity feed solana; solana wallet transfer tape; fresh solana wallet transfers x402; what happened to this wallet today; solana wallet transfer tape x402; solana wallet transfers api; solana wallet transfer history x402. Primary object: single wallet fresh activity.\n\nPrice: $0.15. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}},{"name":"since_slot","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Optional exclusive Solana slot cursor. Returns only cached transfer rows with slot > since_slot."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","supported","transfer_tape","reconciliation","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_transfer_tape"},"as_of":{"type":"string","description":"Response evidence timestamp."},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string"},"in_db":{"type":"boolean"},"supported":{"type":"boolean"},"wallet":{"type":["object","null"],"description":"Indexed wallet context when available."},"transfer_tape":{"type":"object","description":"Normalized transfer rows and aggregate counts after direct onchain freshen-on-request.","properties":{"row_count":{"type":"number"},"signature_count":{"type":"number"},"latest_observed_at":{"type":["string","null"]},"latest_fetched_at":{"type":["string","null"]},"direction_counts":{"type":"object"},"distinct_counterparty_count":{"type":"number"},"counterparties_missing_from_local_edges":{"type":"number"},"edge_gap_ratio":{"type":["number","null"]},"distinct_mint_count":{"type":"number"},"organization_context":{"type":"object","description":"Exact-address organization/service matches across all cached transfer rows. History completeness is explicit and may be bounded."},"rows":{"type":"array","items":{"type":"object"}}}},"activity_delta":{"type":"object","description":"Slot cursor receipt for incremental polling, including explicit gap/completeness semantics."},"reconciliation":{"type":"object","description":"Comparison between cached transfer rows and Scry's current local graph/freshness fields."},"onchain_live_refresh":{"type":"object","description":"Direct onchain onchain-transfer-read refresh metadata for this response when on-demand freshening is enabled."},"coverage":{"type":"object","properties":{"coverage_status":{"type":"string","enum":["deep","medium","shallow","unavailable"]},"confidence":{"type":"number"},"last_refreshed_at":{"type":["string","null"]},"missing_fields":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}}},"source_updated_at":{"type":["string","null"]},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_transfer_tape_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.15","x-scry-cache-ttl-seconds":0,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.15"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/launch-window-cluster":{"get":{"tags":["x402-paid","solana","launch-window-cluster","wallet-relationship-evidence","counterparty-cluster","repeat-cluster-patterns","private-routing","bundler-detection","wallet-relationship-graph","counterparty-graph","cohort-wallets","memecoin","x402-data-broker","solana-x402-data-marketplace"],"summary":"Did this wallet trade in the launch window with related wallets? Relationship + cluster evidence, no verdict.","description":"Did this wallet trade inside the token launch window together with related wallets? Returns relationship evidence for one Solana wallet in a launch/high-activity context: its chain-normalized transfer counterparties, private-routing and bundler context, repeat-cluster patterns, identity tags when indexed, and local edge-gap reconciliation. NOTE: this is the wallet's counterparty + cluster evidence, NOT a verified same-block co-execution set. Evidence layer only; no verdict or action instruction. No API keys, no subscriptions; x402 exact payment per request. Search aliases: solana launch block cluster; solana launch block cluster x402; same block solana launch wallets; same block solana wallet cluster; solana memecoin launch coordination evidence; bundler routed wallets in launch window; solana launch window cluster api; launch window cluster x402. Primary object: specialized solana evidence call.\n\nPrice: $0.05. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}},{"name":"since_slot","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Optional exclusive Solana slot cursor. Adds a bounded what-changed-since receipt without server-side state."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","supported","execution_window","monitoring_delta","private_routing_context","relationship_cluster","coverage","paid_subject_coverage_sla","evidence_pack","evidence_pathways","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_launch_window_cluster"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string"},"in_db":{"type":"boolean"},"supported":{"type":"boolean"},"wallet":{"type":["object","null"]},"execution_window":{"type":"object"},"monitoring_delta":{"type":"object","required":["contract","mode","change_status","requested_since_slot","observed_window","changes","continuation","caveat"],"properties":{"contract":{"type":"string","const":"scry_monitoring_delta_v1"},"mode":{"type":"string","enum":["baseline","delta"]},"change_status":{"type":"string","enum":["baseline","changed","no_change","no_change_within_bounded_window"]},"requested_since_slot":{"type":["integer","null"],"minimum":0},"observed_window":{"type":"object"},"changes":{"type":"object"},"continuation":{"type":"object"},"caveat":{"type":"string"}}},"onchain_live_refresh":{"type":"object","description":"Direct onchain onchain-transfer-read refresh metadata for this response when on-demand freshening is enabled."},"private_routing_context":{"type":"object"},"relationship_cluster":{"type":"object","description":"Counterparty/edge context including exact-address organization and service matches over the cached history with explicit completeness."},"coverage":{"type":"object"},"paid_subject_coverage_sla":{"type":"object","required":["contract","subject_type","minimum_coverage_status","observed_coverage_status","status","response_status","requires_deepening","deepening_trigger","measurement_stage","reason_codes"],"properties":{"contract":{"type":"string","const":"scry_paid_subject_coverage_sla_v1"},"subject_type":{"type":"string","const":"wallet"},"minimum_coverage_status":{"type":"string","const":"medium"},"observed_coverage_status":{"type":"string","enum":["deep","medium","shallow","unavailable"]},"status":{"type":"string","enum":["met","not_met"]},"response_status":{"type":"string","enum":["success","partial"]},"requires_deepening":{"type":"boolean"},"deepening_trigger":{"type":["string","null"],"enum":["successful_settlement",null]},"measurement_stage":{"type":"string","const":"response_before_settlement"},"reason_codes":{"type":"array","items":{"type":"string"}}}},"evidence_pack":{"type":"object"},"evidence_pathways":{"type":"object","properties":{"contract":{"type":"string","const":"scry_evidence_pathways_v1"},"posture":{"type":"string","const":"caller_selects"},"current_product":{"type":"string"},"next_steps":{"type":"array","items":{"type":"object"}}}},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_launch_window_cluster_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.05","x-scry-cache-ttl-seconds":0,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.05"},"protocols":[{"x402":{}}]}}},"/x402/wallet/{address}/full-context-pro":{"get":{"tags":["x402-paid","edge-gap-reconciliation","coverage-gap","missing-counterparties","what-single-lookup-misses","solana","wallet-full-context","cross-context-wallet","wallet-defi-context","wallet-context-bundle","wallet-forensics","wallet-transfer-tape","launch-window-cluster","onchain-wallet-transfers","identity-quarantine","counterparty-graph","edge-gap","x402-data-broker","solana-x402-data-marketplace"],"summary":"Edge-gap-first Solana wallet evidence: measures what a single-call lookup misses, then bundles forensics, multi-hop funding lineage, transfers, and identity.","description":"Edge-gap reconciliation first: measures how many of a Solana wallet's real transfer counterparties are missing from any single-call view (edge_gap_ratio, missing_local_edge_count) — the coverage gap a one-shot onchain/RPC lookup leaves behind — then fuses Scry wallet forensics, multi-hop funding lineage, launch-window relationship evidence, identity quarantine, KOL X-handle when available, and coverage/provenance/freshness timestamps into one composite response. Neutral evidence only, no verdicts; built for research, monitoring, and orchestrator agents that need to see what a single lookup would miss before caller-owned policy decisions. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.18. Requires x402 exact payment.","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","description":"Solana wallet address"}},{"name":"since_slot","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Optional exclusive Solana slot cursor. Adds a bounded what-changed-since receipt without server-side state."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","supported","context_summary","forensics","transfer_tape","monitoring_delta","funding_lineage","launch_window_cluster","coverage","delivery_quality","paid_subject_coverage_sla","verification_receipts","evidence_pack","evidence_pathways","workflow_continuation","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_wallet_full_context_pro"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"address":{"type":"string"},"supported":{"type":"boolean"},"context_summary":{"type":"object"},"forensics":{"type":"object"},"transfer_tape":{"type":"object"},"monitoring_delta":{"type":"object","required":["contract","mode","change_status","requested_since_slot","observed_window","changes","continuation","caveat"],"properties":{"contract":{"type":"string","const":"scry_monitoring_delta_v1"},"mode":{"type":"string","enum":["baseline","delta"]},"change_status":{"type":"string","enum":["baseline","changed","no_change","no_change_within_bounded_window"]},"requested_since_slot":{"type":["integer","null"],"minimum":0},"observed_window":{"type":"object"},"changes":{"type":"object"},"continuation":{"type":"object"},"caveat":{"type":"string"}}},"funding_lineage":{"type":"object"},"launch_window_cluster":{"type":"object"},"coverage":{"type":"object"},"delivery_quality":{"type":"object","required":["status","contract","minimum_coverage_status","requires_deepening","reason_codes"],"properties":{"status":{"type":"string","enum":["success","partial"]},"contract":{"type":"string","const":"scry_full_context_delivery_quality_v1"},"minimum_coverage_status":{"type":"string","const":"medium"},"requires_deepening":{"type":"boolean"},"reason_codes":{"type":"array","items":{"type":"string"}}}},"paid_subject_coverage_sla":{"type":"object","required":["contract","subject_type","minimum_coverage_status","observed_coverage_status","status","response_status","requires_deepening","deepening_trigger","measurement_stage","reason_codes"],"properties":{"contract":{"type":"string","const":"scry_paid_subject_coverage_sla_v1"},"subject_type":{"type":"string","const":"wallet"},"minimum_coverage_status":{"type":"string","const":"medium"},"observed_coverage_status":{"type":"string","enum":["deep","medium","shallow","unavailable"]},"status":{"type":"string","enum":["met","not_met"]},"response_status":{"type":"string","enum":["success","partial"]},"requires_deepening":{"type":"boolean"},"deepening_trigger":{"type":["string","null"],"enum":["successful_settlement",null]},"measurement_stage":{"type":"string","const":"response_before_settlement"},"reason_codes":{"type":"array","items":{"type":"string"}}}},"verification_receipts":{"type":"object"},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"evidence_pathways":{"type":"object","properties":{"contract":{"type":"string","const":"scry_evidence_pathways_v1"},"posture":{"type":"string","const":"caller_selects"},"current_product":{"type":"string"},"next_steps":{"type":"array","items":{"type":"object"}}}},"workflow_continuation":{"type":"object","required":["contract","posture","current_product","options","stop_conditions"],"properties":{"contract":{"type":"string","const":"scry_workflow_continuation_v1"},"posture":{"type":"string","const":"caller_selects_no_automatic_purchase"},"current_product":{"type":"string"},"options":{"type":"array","items":{"type":"object"}},"stop_conditions":{"type":"array","items":{"type":"string"}}}},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_wallet_full_context_pro_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.18","x-scry-cache-ttl-seconds":0,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.18"},"protocols":[{"x402":{}}]}}},"/x402/network/priority-fees-live":{"get":{"tags":["x402-paid","solana","priority-fees","priority-fee-estimate","onchain-priority-fee-api","transaction-fees","compute-budget","jupiter","raydium","network-fees","x402-data-broker","solana-x402-data-marketplace"],"summary":"Return live Solana priority-fee estimates for transaction-building agents.","description":"Return live Solana priority-fee estimates from onchain for global, Jupiter, Raydium, or caller-supplied account keys. Includes all fee levels in micro-lamports per compute unit, freshness, coverage, and caller-policy caveats for transaction-building agents that need a low-cost execution-cost snapshot before submit or simulation. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.005. Requires x402 exact payment.","parameters":[{"name":"preset","in":"query","required":false,"schema":{"type":"string","description":"Optional preset: global, jupiter_swap, or raydium_amm. Defaults to global."}},{"name":"account_keys","in":"query","required":false,"schema":{"type":"string","description":"Optional comma-separated Solana account keys. Overrides preset when provided."}},{"name":"lookback_slots","in":"query","required":false,"schema":{"type":"number","description":"Optional lookback slots for onchain estimate. Clamped to 1-150. Defaults to 50."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","preset","supported","estimate","coverage","evidence_pack","workflow_continuation","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_priority_fees_live"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"preset":{"type":"string"},"preset_label":{"type":"string"},"account_keys":{"type":"array","items":{"type":"string"}},"lookback_slots":{"type":"number"},"supported":{"type":"boolean"},"estimate":{"type":"object","properties":{"priority_fee_estimate_micro_lamports":{"type":["number","null"]},"recommended_micro_lamports":{"type":["number","null"]},"priority_fee_levels_micro_lamports":{"type":"object"},"unit":{"type":"string","const":"micro_lamports_per_compute_unit"}}},"coverage":{"type":"object"},"evidence_pack":{"type":"object"},"workflow_continuation":{"type":"object","required":["contract","posture","current_product","options","stop_conditions"],"properties":{"contract":{"type":"string","const":"scry_workflow_continuation_v1"},"posture":{"type":"string","const":"caller_selects_no_automatic_purchase"},"current_product":{"type":"string"},"options":{"type":"array","items":{"type":"object"}},"stop_conditions":{"type":"array","items":{"type":"string"}}}},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"caveat":{"type":"string"},"methodology":{"type":"string","const":"scry_priority_fees_live_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.005","x-scry-cache-ttl-seconds":20,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]}}},"/x402/wallet/watchlist-snapshot":{"get":{"tags":["x402-paid","solana","watchlist-snapshot","wallet-watchlist","wallet-watchlist-snapshot","cached-polling-snapshot","polling-alerts","paid-pull-monitoring","onchain-wallet-transfers","transfer-freshness","wallet-activity","counterparty-graph","edge-gap","recurring-agent-monitoring","x402-data-broker","solana-x402-data-marketplace"],"summary":"Return a multi-wallet cached transfer-evidence + freshness snapshot (paid poll), no webhook setup.","description":"Multi-wallet (up to 25) cached transfer-evidence snapshot via paid pull: no webhook subscription, no callback URL, no delivery infrastructure. Scry summarizes cached chain-normalized transfer-freshness timestamps, local edge-gap evidence, coverage status, and drill-down routes so autonomous agents can poll a watchlist. NOTE: serves indexed/cached evidence with per-wallet freshness stamps — it is NOT a live or streaming feed. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.05. Requires x402 exact payment.","parameters":[{"name":"addresses","in":"query","required":true,"schema":{"type":"string","description":"Comma-separated Solana wallet addresses. Maximum 25 addresses per paid snapshot."}},{"name":"since_slot","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Optional exclusive Solana slot cursor applied to every watchlist wallet."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","requested_count","watchlist_count","wallets","aggregate","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_watchlist_snapshot"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"requested_count":{"type":"number"},"watchlist_count":{"type":"number"},"invalid_addresses":{"type":"array","items":{"type":"string"}},"truncated":{"type":"boolean"},"wallets":{"type":"array","description":"Per-wallet transfer freshness and drill-down summary.","items":{"type":"object"}},"aggregate":{"type":"object"},"coverage":{"type":"object","properties":{"coverage_status":{"type":"string","enum":["deep","medium","shallow","unavailable"]},"confidence":{"type":"number"},"last_refreshed_at":{"type":["string","null"]},"missing_fields":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}}},"source_updated_at":{"type":["string","null"]},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_watchlist_snapshot_v1"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.05","x-scry-cache-ttl-seconds":0,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.05"},"protocols":[{"x402":{}}]}}},"/x402/pumpfun/launch-dossier":{"get":{"tags":["x402-paid","solana","pumpfun","pumpfun-launch-dossier","memecoin-launch","creator-history","token-creator-context","launch-window-evidence","creator-wallet-context","holder-concentration","top-holder-analysis","private-routing","transfer-reconciliation","mint-launch-relationship-evidence","token-control-map","launch-slot-token-flows","wallet-entity-clustering","x402-data-broker","solana-x402-data-marketplace"],"summary":"[BETA] One Pump.fun mint dossier: creator, holder, launch-window, and cache-only entity-link evidence. Not a wallet cohort.","description":"[BETA] One Pump.fun or memecoin mint/launch dossier: creator context, launch-window evidence, holder context, private-routing evidence, liquidity context, and a cache-only launch-slot Token Control Map with explicit partial coverage. The Token Control layer reuses the finalized current-supply evidence already requested by mint risk, adds no provider call, and withholds percentages when that slot-bound denominator is unavailable. Current supply is not represented as historical launch-slot supply. Use when the object is one mint or launch. Evidence only; no verdict. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.30. Requires x402 exact payment.","parameters":[{"name":"mint","in":"query","required":true,"schema":{"type":"string","description":"Solana token mint address, preferably a Pump.fun or fresh memecoin mint."}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","mint","supported","launch_preflight","creator_context","launch_window_evidence","token_control_map","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_launch_dossier"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"mint":{"type":"string"},"supported":{"type":"boolean"},"beta":{"type":"boolean"},"unsupported_reason":{"type":["string","null"]},"launch_preflight":{"type":"object"},"creator_context":{"type":["object","null"]},"launch_window_evidence":{"type":["object","null"]},"token_control_map":{"type":"object","description":"Cache-only launch-slot token-flow and entity-link aggregation. Wallet-scoped cache coverage stays partial unless a mint-complete source is explicitly present. Percentages require finalized slot-bound current-supply evidence reused from mint risk; no additional provider call is made by this layer."},"coverage":{"type":"object"},"caveat":{"type":"string"},"evidence_pack":{"type":"object"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_pumpfun_launch_dossier_v1_beta"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.30","x-scry-cache-ttl-seconds":900,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.30"},"protocols":[{"x402":{}}]}}},"/x402/mint/{mint}/risk":{"get":{"tags":["x402-paid","solana","memecoin-risk","rug-evidence","rug-check","rug-preflight","token-risk","mint-risk","holder-concentration","holder-concentration-check","holder-concentration-api","token-holder-analysis","top-holder-concentration","top-holder-exit-pressure","holder-distribution","memecoin-holder-analysis","exit-pressure","creator-network","pumpfun","agent-api","x402-data-broker","solana-x402-data-marketplace"],"summary":"[BETA] One-mint risk preflight: rug evidence + holder concentration, no verdict.","description":"[BETA] Low-cost Pump.fun or memecoin mint preflight for autonomous agents. Use when the object is one Solana mint and the caller needs rug-evidence context, holder concentration, creator context, and missing-field coverage before escalating to a launch dossier or wallet forensics. Returns rug-heuristic evidence, holder-concentration proxy, top-holder exit-pressure context, dev-wallet activity, token age, liquidity coverage, creator context, checked/unchecked sources, and missing fields. Evidence only; no verdict. No API keys, no subscriptions; x402 exact payment per request. Search aliases: x402 solana mint risk; three cent solana mint risk preflight; solana memecoin rug evidence; solana memecoin holder concentration check; solana rug check api; solana rug evidence preflight; low cost solana token holder preflight; low cost mint rug preflight. Primary object: low cost single mint preflight.\n\nPrice: $0.03. Requires x402 exact payment.","parameters":[{"name":"mint","in":"path","required":true,"schema":{"type":"string","description":"Solana token mint address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["product","mint","supported","beta","risk","risk_score","confidence","coverage","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_mint_risk_beta"},"as_of":{"type":"string","description":"Response evidence timestamp."},"sources":{"type":"array","items":{"type":"string"},"description":"Named data sources used in this response."},"confidence_score":{"type":"number","minimum":0,"maximum":1},"mint":{"type":"string","description":"Queried Solana token mint."},"supported":{"type":"boolean","description":"False for system/stablecoin/LST/infrastructure mints."},"beta":{"type":"boolean","description":"Mint-risk is priced and labeled as beta."},"unsupported_reason":{"type":["string","null"]},"risk":{"type":"string","enum":["LOW","MID_STRUCTURAL","MID_UNKNOWN","HIGH","UNKNOWN"]},"risk_score":{"type":["number","null"]},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"sub_scores":{"type":"object","properties":{"liquidity_pools":{"type":"number"},"holder_concentration":{"type":"number"},"top_holders_sell_pressure":{"type":"number"},"dev_wallet_activity":{"type":"number"},"token_age":{"type":"number"}}},"holder_concentration_pct_proxy":{"type":["number","null"],"description":"Top-holder concentration proxy."},"holder_concentration_basis":{"type":["string","null"],"enum":["top10","top5","top1",null]},"total_supply_raw":{"type":["string","null"],"description":"Positive raw integer mint supply, exposed only with finalized slot-bound evidence."},"token_supply":{"type":"object","description":"Finalized current mint-supply evidence. This is not a historical launch-slot denominator and adds no request beyond the existing holder-concentration read."},"creator_wallet":{"type":["string","null"],"description":"Creator/dev wallet when inferable."},"creator_in_known_creator_network":{"type":"boolean"},"creator_network_id":{"type":["string","null"]},"creator_network_size":{"type":["number","null"]},"evidence_items":{"type":"array","description":"Top evidence items used in the evidence summary."},"sample_size":{"type":"object","properties":{"data_sources_checked":{"type":"number"},"evidence_items_count":{"type":"number"},"holder_sample_proxy":{"type":["string","null"]}}},"coverage":{"type":"object","properties":{"checked_sources":{"type":"array","items":{"type":"string"}},"unchecked_sources":{"type":"array","items":{"type":"string"}},"unavailable_fields":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}}},"evaluated_at":{"type":["string","null"]},"caveat":{"type":"string"},"evidence_pack":{"type":"object","description":"Machine-readable evidence contract for caller-defined policies."},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"sentinel_x402_mint_risk_v1_beta"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.03","x-scry-cache-ttl-seconds":1800,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.03"},"protocols":[{"x402":{}}]}}},"/x402/deployer-summary":{"get":{"tags":["x402-paid","solana","deployer-summary","verified-launches","creator-track-record","ath-summary","evidence-only","x402-data-broker"],"summary":"Deployer quick check: reported history plus transaction-anchored launches and matched ATH outcomes.","description":"Fast cached Solana deployer track record for one wallet: provider-reported project history plus separately labeled transaction-anchored launches, matched ATH outcomes, coverage, and quality. No related-wallet expansion, live provider request, identity claim, wrongdoing label, or trading verdict. No API keys, no subscriptions; x402 exact payment per request.\n\nPrice: $0.39. Requires x402 exact payment.","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string","description":"Solana wallet address"}}],"responses":{"200":{"description":"Paid intelligence response","content":{"application/json":{"schema":{"type":"object","required":["status","product","address","deployer_track_record","verified_launch_track_record","coverage","boundaries","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_deployer_summary"},"address":{"type":"string"},"deployer_track_record":{"type":"object"},"verified_launch_track_record":{"type":"object"},"coverage":{"type":"object"},"boundaries":{"type":"object"},"methodology":{"type":"string","const":"scry_deployer_summary_v2_verified_launch_join"}}}}}},"400":{"description":"Invalid address or mint"},"402":{"description":"x402 v2 PAYMENT-SIGNATURE header required"}},"x-scry-price":"$0.39","x-scry-cache-ttl-seconds":3600,"x-marketplace-alias":false,"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.39"},"protocols":[{"x402":{}}]}}}},"components":{"schemas":{"/x402/solana/hot-wallets/dailyResponse":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_daily_hot_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_daily_hot_wallets_v1"}}},"/x402/solana/hot/wallets/dailyResponse":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_daily_hot_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_daily_hot_wallets_v1"}}},"/x402/solana/persistent-wallets/weeklyResponse":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_weekly_persistent_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_weekly_persistent_wallets_v1"}}},"/x402/solana/persistent/wallets/weeklyResponse":{"type":"object","required":["product","wallet_count","wallets","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_weekly_persistent_wallets"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"source_reports":{"type":"object"},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_weekly_persistent_wallets_v1"}}},"/x402/solana/pumpfun-risk-protectionResponse":{"type":"object","required":["product","wallet_count","wallets","data_quality","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_risk_protection"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"cohort_summary":{"type":"object"},"data_quality":{"type":"object","description":"Product-level freshness, onchain enrichment, and risk-coverage attestation."},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_pumpfun_risk_protection_v1"}}},"/x402/solana/pumpfun/risk-protectionResponse":{"type":"object","required":["product","wallet_count","wallets","data_quality","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_risk_protection"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"cohort_summary":{"type":"object"},"data_quality":{"type":"object","description":"Product-level freshness, onchain enrichment, and risk-coverage attestation."},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_pumpfun_risk_protection_v1"}}},"/x402/pumpfun-rugger-wallet-detectionResponse":{"type":"object","required":["product","wallet_count","wallets","data_quality","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_risk_protection"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"cohort_summary":{"type":"object"},"data_quality":{"type":"object","description":"Product-level freshness, onchain enrichment, and risk-coverage attestation."},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_pumpfun_risk_protection_v1"}}},"/x402/pumpfun-serial-deployer-walletsResponse":{"type":"object","required":["product","wallet_count","wallets","data_quality","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_pumpfun_risk_protection"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"wallet_count":{"type":"number"},"cohort_summary":{"type":"object"},"data_quality":{"type":"object","description":"Product-level freshness, onchain enrichment, and risk-coverage attestation."},"buyer_job":{"type":"string"},"wallets":{"type":"array","items":{"type":"object"}},"evidence_pack":{"type":"object"},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_pumpfun_risk_protection_v1"}}},"/x402/solana/agent-intel-briefResponse":{"type":"object","required":["product","service_objective","brief","evidence_pack","agent_decision_support","spend_rationale","methodology"],"properties":{"status":{"type":"string","enum":["success","partial","error"]},"product":{"type":"string","const":"scry_agent_intel_brief"},"as_of":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"confidence_score":{"type":"number","minimum":0,"maximum":1},"generated_at":{"type":"string"},"service_objective":{"type":"string"},"brief":{"type":"object"},"evidence_pack":{"type":"object"},"product_ladder":{"type":"array","items":{"type":"object"}},"caveat":{"type":"string"},"agent_decision_support":{"type":"object","properties":{"posture":{"type":"string","const":"evidence_only"},"confidence":{"type":"string","enum":["LOW","MID","HIGH","UNKNOWN"]},"evidence_summary":{"type":"string"},"decision_options":{"type":"array","items":{"type":"object"}},"escalation_triggers":{"type":"array","items":{"type":"string"}}}},"spend_rationale":{"type":"object","properties":{"why_this_cost_is_worth_it":{"type":"string"},"cheaper_alternative":{"type":["string","null"]},"more_complete_alternative":{"type":["string","null"]},"explicit_delta_over_daily_plus_weekly":{"type":"array","items":{"type":"string"}}}},"methodology":{"type":"string","const":"scry_agent_product_intel_brief_v1"}}},"/x402/solana/agent/intel/briefResponse":{"type":"object","required":["product","service_objective","brief","evidence_pack","agent_decision_su
[...]
