{
  "openapi": "3.1.0",
  "info": {
    "title": "NanoGPT accountless API",
    "version": "1.0.0",
    "description": "Stable accountless chat, Responses, image generation and JSON editing, web search, and URL scraping. Each URL opts into x402 payment quoting."
  },
  "servers": [
    {
      "url": "https://nano-gpt.com"
    }
  ],
  "paths": {
    "/api/x402/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Generate a non-streaming chat completion",
        "description": "Request an x402 quote without an API key or opt-in header, then replay the identical request and URL with a signed Solana USDC payment in X-PAYMENT.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "NanoGPT model identifier.",
                    "example": "gpt-4.1-nano"
                  },
                  "messages": {
                    "type": "array",
                    "description": "Conversation messages.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text."
                        }
                      }
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "description": "Use a non-streaming response."
                  }
                }
              },
              "example": {
                "model": "gpt-4.1-nano",
                "messages": [
                  {
                    "role": "user",
                    "content": "Say ok"
                  }
                ],
                "stream": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response."
          },
          "402": {
            "description": "Payment quote with available rails including Solana USDC."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 payment proof. Omit on the initial request to receive a quote.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/x402/v1/images/generations": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from a text prompt",
        "description": "Request a payment quote without an API key or opt-in header. Replay the same URL and request with X-PAYMENT after signing the Solana USDC challenge.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 proof; omit on the initial request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "NanoGPT image model identifier.",
                    "example": "gpt-image-1"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Describe the image to generate or edit."
                  },
                  "size": {
                    "type": "string",
                    "description": "Output dimensions supported by the model.",
                    "example": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "minimum": 1,
                    "default": 1
                  }
                }
              },
              "example": {
                "model": "gpt-image-1",
                "prompt": "A small ceramic robot",
                "size": "1024x1024",
                "n": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image URLs or base64 image data."
          },
          "402": {
            "description": "Payment quote including enabled Solana USDC payment requirements."
          }
        }
      }
    },
    "/api/x402/v1/images/edits": {
      "post": {
        "operationId": "editImage",
        "summary": "Generate an edited image from a JSON reference",
        "description": "Request a payment quote without an API key or opt-in header. Replay the same URL and request with X-PAYMENT after signing the Solana USDC challenge.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 proof; omit on the initial request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt",
                  "image"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "NanoGPT image model identifier.",
                    "example": "gpt-image-1"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Describe the image to generate or edit."
                  },
                  "size": {
                    "type": "string",
                    "description": "Output dimensions supported by the model.",
                    "example": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "minimum": 1,
                    "default": 1
                  },
                  "image": {
                    "type": "string",
                    "description": "Reference image URL or data URL. This accountless contract accepts JSON only.",
                    "example": "https://nano-gpt.com/social/banner.png"
                  }
                }
              },
              "example": {
                "model": "gpt-image-1",
                "prompt": "Make a minimalist sketch",
                "image": "https://nano-gpt.com/social/banner.png",
                "size": "1024x1024",
                "n": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image URLs or base64 image data."
          },
          "402": {
            "description": "Payment quote including enabled Solana USDC payment requirements."
          }
        }
      }
    },
    "/api/x402/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Generate a non-streaming model response",
        "description": "Request a payment quote without an API key or opt-in header. Replay the same URL and request with X-PAYMENT after signing the Solana USDC challenge.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 proof; omit on the initial request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "NanoGPT text model identifier.",
                    "example": "gpt-4.1-nano"
                  },
                  "input": {
                    "type": "string",
                    "description": "Input text for the model."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false,
                    "description": "Use a non-streaming response."
                  },
                  "background": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false,
                    "description": "Run synchronously for accountless access."
                  }
                }
              },
              "example": {
                "model": "gpt-4.1-nano",
                "input": "Say ok",
                "stream": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses API output items and token usage."
          },
          "402": {
            "description": "Payment quote including enabled Solana USDC payment requirements."
          }
        }
      }
    },
    "/api/x402/v1/data/web/search": {
      "post": {
        "operationId": "searchWeb",
        "summary": "Search the web for relevant pages",
        "description": "Request a payment quote without an API key or opt-in header. Replay the same URL and request with X-PAYMENT after signing the Solana USDC challenge.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 proof; omit on the initial request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query."
                  },
                  "maxResults": {
                    "type": "integer",
                    "description": "Maximum number of search results.",
                    "minimum": 1,
                    "example": 3
                  }
                }
              },
              "example": {
                "query": "NanoGPT x402",
                "maxResults": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with titles, URLs, and available snippets."
          },
          "402": {
            "description": "Payment quote including enabled Solana USDC payment requirements."
          }
        }
      }
    },
    "/api/x402/v1/data/url/scrape": {
      "post": {
        "operationId": "scrapeUrls",
        "summary": "Extract content from URLs",
        "description": "Request a payment quote without an API key or opt-in header. Replay the same URL and request with X-PAYMENT after signing the Solana USDC challenge.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-PAYMENT",
            "required": false,
            "description": "Base64-encoded x402 proof; omit on the initial request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "urls"
                ],
                "properties": {
                  "urls": {
                    "type": "array",
                    "description": "Public web pages to retrieve.",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              },
              "example": {
                "urls": [
                  "https://nano-gpt.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted page content and per-URL results."
          },
          "402": {
            "description": "Payment quote including enabled Solana USDC payment requirements."
          }
        }
      }
    }
  }
}
