{
  "openapi": "3.1.0",
  "info": {
    "title": "Concierge Agent API",
    "version": "4.2.0",
    "description": "Market intelligence + Concierge Resources — 24 pay-per-call endpoints. Creative AI (chat, image, scaffold), macro & wire research, DeFi intel, Alpha desks, Lounge RWA signals, and passive security scans. No API keys. x402 + MPP discovery; USDC or TCX on Solana and Base.",
    "x-guidance": "Concierge Agent is a pay-per-call market intelligence API. No API keys — payment is the only gate. Discover endpoints via GET /openapi.json. Each paid route accepts POST with application/json after x402 USDC settlement on Solana, Base, or Arbitrum (PayAI (primary) · Dexter (fallback)). Flow: POST without PAYMENT-SIGNATURE → 402 + PAYMENT-REQUIRED header → pay → retry with PAYMENT-SIGNATURE (base64 payment payload). Intel routes: raw tier $0.02 — intel-tvl, intel-macro, intel-wire, intel-whales. Signal tier $0.10 — yields, wallet, verdict, alpha desks, scalp, intel-meteora. Bundle $0.25 — intel-desk-brief. Free GET — /api/concierge-intel-accuracy. MCP — POST /api/mcp (tools/list, tools/call). intel-meteora (sortByApy, poolHint, limit), intel-desk-brief (message, includeInsider). TCX holders: X-Soon-Holder-Wallet + raw tier = free calls post-launch. Concierge chat: POST /api/concierge with mode chat|enhance|image and message. Lounge: /api/news-open, /api/lounge-signal-publish ($0.02), /api/lounge-signal-open. CLI: npx agentcash discover <origin> · npx agentcash check <origin>/api/concierge-intel-tvl OpenDexter: npx -y @dexterai/opendexter · x402_search for Dexter marketplace discovery pay.sh: pay --sandbox curl <origin>/api/concierge-intel-tvl -d '{}' · pay skills search market intelligence Idempotency: optional Idempotency-Key header on POST mutating routes. Reuse the same PAYMENT-SIGNATURE after a successful x402 settlement — facilitators will not double-charge the same on-chain payment. Rate limits: soft limit 120 requests/minute per IP on /api/* — responses include X-RateLimit-Limit; 429 returns Retry-After. Discovery index: GET /.well-known/api-catalog (RFC 9727 linkset) · GET /llms.txt · GET /.well-known/agent-card.json",
    "x-marketplace-tags": [
      "AI",
      "Research",
      "News",
      "Trading",
      "Search",
      "Crypto",
      "RWA",
      "Utility"
    ],
    "contact": {
      "name": "Concierge Agent",
      "url": "https://conc-exe.xyz/docs",
      "email": "support@conc-exe.xyz"
    }
  },
  "x-service-info": {
    "name": "Concierge Agent",
    "description": "Market intelligence + Concierge Resources — 24 pay-per-call routes: creative AI (chat, image, scaffold), macro & wire research, DeFi intel, Lounge RWA signals, and passive security scans. USDC or TCX via x402 (MPP-compatible discovery).",
    "tags": [
      "AI",
      "Research",
      "News",
      "Trading",
      "Search",
      "Crypto",
      "RWA",
      "Utility"
    ],
    "iconUrl": "https://conc-exe.xyz/images/the-concierge-logo.png",
    "protocols": [
      "x402",
      "mpp"
    ],
    "facilitator": "PayAI",
    "facilitatorUrl": "https://facilitator.payai.network",
    "fallbackFacilitator": "Dexter",
    "fallbackFacilitatorUrl": "https://x402.dexter.cash",
    "networks": [
      "solana",
      "base",
      "arbitrum"
    ]
  },
  "servers": [
    {
      "url": "https://conc-exe.xyz",
      "description": "Concierge Agent"
    }
  ],
  "paths": {
    "/api/news-open": {
      "post": {
        "operationId": "news",
        "summary": "Open news article",
        "description": "Unlock one wire headline and receive the canonical article URL.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Search",
          "News",
          "Research",
          "RWA"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Canonical article URL"
                    },
                    "unlocked": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url",
                    "unlocked"
                  ]
                },
                "example": {
                  "url": "https://www.bbc.com/news/example",
                  "unlocked": true,
                  "title": "Example",
                  "source": "BBC"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.1,
                  "resource": "news"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/news-open"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Article URL (http/https)"
                  },
                  "title": {
                    "type": "string",
                    "description": "Headline title"
                  },
                  "source": {
                    "type": "string",
                    "description": "Publisher name"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "example": {
                "url": "https://www.bbc.com/news/example",
                "title": "Example headline",
                "source": "BBC"
              }
            }
          }
        }
      }
    },
    "/api/concierge": {
      "post": {
        "operationId": "concierge",
        "summary": "Concierge AI message",
        "description": "One Concierge AI turn (chat, enhance, or image analysis).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Research",
          "Trading",
          "RWA"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "reply": {
                      "type": "string",
                      "description": "HTML analysis from Concierge"
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "reply"
                  ]
                },
                "example": {
                  "reply": "<p>Analysis…</p>",
                  "topics": [
                    "crypto",
                    "macro"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.1,
                  "resource": "concierge"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "enhance",
                      "image"
                    ],
                    "description": "Concierge mode"
                  },
                  "message": {
                    "type": "string",
                    "description": "User message"
                  },
                  "history": {
                    "type": "array",
                    "description": "Prior chat turns",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "model"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "text"
                      ]
                    }
                  },
                  "market": {
                    "type": "array",
                    "description": "Optional market ticks from UI"
                  },
                  "signal": {
                    "type": "object",
                    "description": "Optional signal draft for enhance mode",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "summary": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "mode": "chat",
                "message": "What is the macro outlook for BTC?",
                "history": [],
                "market": []
              }
            }
          }
        }
      }
    },
    "/api/lounge-signal-publish": {
      "post": {
        "operationId": "signal_publish",
        "summary": "Publish creator signal",
        "description": "Publish one RWA intelligence signal to the Executive Lounge feed (minimum settlement fee).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Crypto",
          "RWA"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "published"
                  ]
                },
                "example": {
                  "id": "sig_abc123",
                  "published": true,
                  "title": "BTC thesis"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.02,
                  "resource": "signal-publish"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/lounge-signal-publish"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "creatorWallet": {
                    "type": "string"
                  },
                  "creatorChain": {
                    "type": "string",
                    "enum": [
                      "sol",
                      "evm"
                    ]
                  }
                },
                "required": [
                  "title",
                  "summary",
                  "categories",
                  "creatorWallet",
                  "creatorChain"
                ]
              },
              "example": {
                "title": "BTC dominance roll-down thesis",
                "summary": "Dominance stalled at resistance; risk-curve rotation over 1–2 weeks.",
                "categories": [
                  "Crypto",
                  "Macro"
                ],
                "creatorWallet": "0x0000000000000000000000000000000000000000",
                "creatorChain": "evm"
              }
            }
          }
        }
      }
    },
    "/api/lounge-signal-open": {
      "post": {
        "operationId": "signal_open",
        "summary": "Unlock creator signal",
        "description": "Unlock full intelligence summary for one Lounge RWA creator signal.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Crypto",
          "RWA"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "signalId": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "signalId",
                    "summary"
                  ]
                },
                "example": {
                  "signalId": "sig_abc123",
                  "summary": "Full intelligence summary…",
                  "title": "BTC thesis"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.1,
                  "resource": "signal-open"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/lounge-signal-open"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "signalId": {
                    "type": "string",
                    "description": "Published signal id"
                  }
                },
                "required": [
                  "signalId"
                ]
              },
              "example": {
                "signalId": "sig_example000000000000000000000000"
              }
            }
          }
        }
      }
    },
    "/api/concierge-intel-tvl": {
      "post": {
        "operationId": "intel_tvl",
        "summary": "Concierge Intel — TVL",
        "description": "Chain TVL snapshot and top DeFi protocols (DeFi Llama). JSON for agents.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "topProtocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "chains": [
                    {
                      "name": "Solana",
                      "tvl": 4200000000
                    }
                  ],
                  "topProtocols": []
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.02,
                  "resource": "intel-tvl"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-tvl"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Optional context for logging"
                  }
                },
                "required": []
              },
              "example": {}
            }
          }
        }
      },
      "get": {
        "operationId": "intel_tvl_get",
        "summary": "Concierge Intel — TVL (GET probe)",
        "description": "Chain TVL snapshot and top DeFi protocols (DeFi Llama). JSON for agents. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "topProtocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "chains": [
                    {
                      "name": "Solana",
                      "tvl": 4200000000
                    }
                  ],
                  "topProtocols": []
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.02,
                  "resource": "intel-tvl"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-tvl"
          }
        ],
        "requestBody": {
          "required": false,
          "description": "GET probes omit a body and return 402. Example documents the POST JSON payload to send after x402 settlement.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Optional context for logging"
                  }
                },
                "required": []
              },
              "example": {}
            }
          }
        }
      }
    },
    "/api/concierge-intel-yields": {
      "post": {
        "operationId": "intel_yields",
        "summary": "Concierge Intel — Yields",
        "description": "Screened yield pools on Solana/EVM (Jupiter, Meteora, DLMM, major venues).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "pools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "project": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "apy": {
                            "type": "number"
                          },
                          "symbol": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "pools": [
                    {
                      "project": "meteora",
                      "chain": "solana",
                      "apy": 12.4,
                      "symbol": "SOL-USDC"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.1,
                  "resource": "intel-yields"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-yields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "solana | ethereum | base | arbitrum"
                  },
                  "project": {
                    "type": "string",
                    "description": "Filter project id substring"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": []
              },
              "example": {
                "chain": "solana",
                "project": "meteora"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_yields_get",
        "summary": "Concierge Intel — Yields (GET probe)",
        "description": "Screened yield pools on Solana/EVM (Jupiter, Meteora, DLMM, major venues). Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "solana"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "meteora"
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "pools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "project": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "apy": {
                            "type": "number"
                          },
                          "symbol": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "pools": [
                    {
                      "project": "meteora",
                      "chain": "solana",
                      "apy": 12.4,
                      "symbol": "SOL-USDC"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.1,
                  "resource": "intel-yields"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-yields"
          }
        ],
        "requestBody": {
          "required": false,
          "description": "GET probes omit a body and return 402. Example documents the POST JSON payload to send after x402 settlement.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "solana | ethereum | base | arbitrum"
                  },
                  "project": {
                    "type": "string",
                    "description": "Filter project id substring"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": []
              },
              "example": {
                "chain": "solana",
                "project": "meteora"
              }
            }
          }
        }
      }
    },
    "/api/concierge-intel-whales": {
      "post": {
        "operationId": "intel_whales",
        "summary": "Concierge Intel — Whales",
        "description": "Binance top-trader long/short ratios (BTC/ETH/SOL derivatives proxy).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional client-generated key (UUID recommended). Reuse the same key when retrying after network failures. For paid routes, also reuse the same PAYMENT-SIGNATURE — facilitators treat a settled payment as idempotent.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "positioning": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "longShortRatio": {
                            "type": "number"
                          },
                          "bias": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "positioning": [
                    {
                      "symbol": "BTC",
                      "longShortRatio": 1.12,
                      "bias": "long"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Invalid JSON body",
                  "code": "invalid_request"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Soft rate limit per IP per minute",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window",
                "schema": {
                  "type": "integer",
                  "example": 119
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate-limit window resets (also sent on 429)",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Payment required",
                  "code": "payment_required",
                  "priceUsdc": 0.02,
                  "resource": "intel-whales"
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Method not allowed",
                  "code": "method_not_allowed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests per window",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining (0 when rate limited)",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Too many requests — retry after the Retry-After interval",
                  "code": "rate_limited"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "Concierge could not process this request. Try a shorter question.",
                  "code": "internal_error"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-whales"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "BTC",
                        "ETH",
                        "SOL"
                      ]
                    }
                  }
                },
                "required": []
              },
              "example": {
                "symbols": [
                  "BTC",
                  "ETH",
                  "SOL"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_whales_get",
        "summary": "Concierge Intel — Whales (GET probe)",
        "description": "Binance top-trader long/short ratios (BTC/ETH/SOL derivatives proxy). Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "arbitrum",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "20000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.02 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "parameters": [
          {
            "name": "X-Agent-Id",
            "in": "header",
            "required": false,
            "description": "Registered agent identity (agt_…) for attribution and discovery",
            "schema": {
              "type": "string",
              "pattern": "^agt_[a-zA-Z0-9]+$",
              "example": "agt_demo0001"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array"
            },
            "example": [
[...]
