{
  "openapi": "3.0.0",
  "info": {
    "title": "CoinGecko Onchain DEX API",
    "version": "3.0.0",
    "description": "CoinGecko onchain DEX market data exposed through x402. This spec is adapted from the official CoinGecko Onchain Pro OpenAPI document and rewritten to match the live x402 URL shape.",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    {
      "url": "https://pro-api.coingecko.com/api/v3"
    }
  ],
  "security": [],
  "paths": {
    "/x402/onchain/simple/networks/{network}/token_price/{addresses}": {
      "get": {
        "summary": "Token Price by Token Addresses",
        "tags": [
          "Simple"
        ],
        "description": "This endpoint allows you to **get token price based on the provided token contract address on a network**",
        "operationId": "onchain-simple-price",
        "x-mint": {
          "href": "/reference/onchain-simple-price"
        },
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID \n *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth",
              "default": "eth"
            }
          },
          {
            "name": "addresses",
            "in": "path",
            "description": "token contract address, comma-separated if more than one token contract address",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "examples": {
              "one value": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
              },
              "multiple values": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
              }
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "description": "include market capitalization, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mcap_fdv_fallback",
            "in": "query",
            "description": "return FDV if market cap is not available, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "description": "include 24hr volume, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_price_change",
            "in": "query",
            "description": "include 24hr price change, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_total_reserve_in_usd",
            "in": "query",
            "description": "include total reserve in USD, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_inactive_source",
            "in": "query",
            "required": false,
            "description": "include token price data from inactive pools using the most recent swap, default: false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get current USD prices of multiple tokens on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnchainSimplePrice"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "/x402/onchain/simple/networks/{network}/token_price/{addresses}",
          "description": "Token Price by Token Addresses",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "10000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x110cdBba7FE6434Ec4CE3464CC523942ad6Fb784",
            "maxTimeoutSeconds": 60,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "10000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "8XhngTRitTcUJMiaDJ6azw8GRSiFPpwhnmV3HYQLHUpL",
            "maxTimeoutSeconds": 60,
            "extra": {
              "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
            }
          }
        ]
      }
    },
    "/x402/onchain/search/pools": {
      "get": {
        "summary": "Search Pools & Tokens",
        "tags": [
          "Search"
        ],
        "description": "This endpoint allows you to **search for pools on a network by pool address, token name, token symbol, or token contract address**",
        "operationId": "search-pools",
        "x-mint": {
          "href": "/reference/search-pools"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "search query, can be pool contract address, token name, token symbol, or token contract address",
            "schema": {
              "type": "string",
              "example": "weth",
              "default": "weth"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "network ID \n *refers to [/networks](/reference/networks-list)",
            "schema": {
              "type": "string",
              "example": "eth",
              "default": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include \n Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string",
              "default": "base_token"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results \n Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search for pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolOld"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "/x402/onchain/search/pools",
          "description": "Search Pools & Tokens",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "10000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x110cdBba7FE6434Ec4CE3464CC523942ad6Fb784",
            "maxTimeoutSeconds": 60,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "10000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "8XhngTRitTcUJMiaDJ6azw8GRSiFPpwhnmV3HYQLHUpL",
            "maxTimeoutSeconds": 60,
            "extra": {
              "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
            }
          }
        ]
      }
    },
    "/x402/onchain/networks/{network}/trending_pools": {
      "get": {
        "summary": "Trending Pools by Network",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query the trending pools based on the provided network**",
        "operationId": "trending-pools-network",
        "x-mint": {
          "href": "/reference/trending-pools-network"
        },
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID \n *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth",
              "default": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include \n Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string",
              "default": "base_token"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results \n Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "duration to sort trending list by \n Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ]
            }
          },
          {
            "name": "include_gt_community_data",
            "in": "query",
            "required": false,
            "description": "include GeckoTerminal community data (Sentiment votes, Suspicious reports) \n Default value: false",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get trending pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "/x402/onchain/networks/{network}/trending_pools",
          "description": "Trending Pools by Network",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "10000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x110cdBba7FE6434Ec4CE3464CC523942ad6Fb784",
            "maxTimeoutSeconds": 60,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "10000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "8XhngTRitTcUJMiaDJ6azw8GRSiFPpwhnmV3HYQLHUpL",
            "maxTimeoutSeconds": 60,
            "extra": {
              "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
            }
          }
        ]
      }
    },
    "/x402/onchain/networks/{network}/tokens/{address}": {
      "get": {
        "summary": "Token Data by Token Address",
        "tags": [
          "Tokens"
        ],
        "description": "This endpoint allows you to **query specific token data based on the provided token contract address on a network**",
        "operationId": "token-data-contract-address",
        "x-mint": {
          "href": "/reference/token-data-contract-address"
        },
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID \n *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth",
              "default": "eth"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "token contract address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xdac17f958d2ee523a2206206994597c13d831ec7",
              "default": "0xdac17f958d2ee523a2206206994597c13d831ec7"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include",
            "schema": {
              "type": "string",
              "enum": [
                "top_pools"
              ]
            }
          },
          {
            "name": "include_composition",
            "in": "query",
            "required": false,
            "description": "include pool composition, default: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_inactive_source",
            "in": "query",
            "required": false,
            "description": "include token data from inactive pools using the most recent swap, default: false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get specific token on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "/x402/onchain/networks/{network}/tokens/{address}",
          "description": "Token Data by Token Address",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "10000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x110cdBba7FE6434Ec4CE3464CC523942ad6Fb784",
            "maxTimeoutSeconds": 60,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "10000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "8XhngTRitTcUJMiaDJ6azw8GRSiFPpwhnmV3HYQLHUpL",
            "maxTimeoutSeconds": 60,
            "extra": {
              "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
            }
          }
        ]
      }
    },
    "/x402/simple/price": {
      "get": {
        "tags": [
          "Simple"
        ],
        "summary": "Coin Price by IDs, Symbols, or Names",
        "description": "This endpoint allows you to **query the prices of one or more coins by using their unique Coin API IDs, symbols, or names**",
        "operationId": "simple-price",
        "x-mint": {
          "href": "/reference/simple-price"
        },
        "parameters": [
          {
            "name": "vs_currencies",
            "in": "query",
            "description": "target currency of coins, comma-separated if querying more than 1 currency. \n *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "usd"
            },
            "examples": {
              "one value": {
                "value": "usd"
              },
              "multiple values": {
                "value": "usd,eur"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "coins' IDs, comma-separated if querying more than 1 coin. \n *refers to [`/coins/list`](/reference/coins-list).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "bitcoin"
            },
            "examples": {
              "one value": {
                "value": "bitcoin"
              },
              "multiple values": {
                "value": "bitcoin,ethereum"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "coins' names, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Bitcoin"
            },
            "examples": {
              "one value": {
                "value": "Bitcoin"
              },
              "multiple values": {
                "value": "Bitcoin,Ethereum"
              }
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "coins' symbols, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "btc"
            },
            "examples": {
              "one value": {
                "value": "btc"
              },
              "multiple values": {
                "value": "btc,eth"
              }
            }
          },
          {
            "name": "include_tokens",
            "in": "query",
            "description": "for `symbols` lookups, specify `all` to include all matching tokens \n Default `top` returns top-ranked tokens (by market cap or volume)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "all"
              ]
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "description": "include market capitalization, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "description": "include 24hr volume, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_change",
            "in": "query",
            "description": "include 24hr change percentage, default: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_last_updated_at",
            "in": "query",
            "description": "include last updated price time in UNIX, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "price(s) of cryptocurrency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePrice"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "/simple/price",
          "description": "Coin Price by IDs, Symbols, or Names",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "amount": "10000",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
            "payTo": "0x110cdBba7FE6434Ec4CE3464CC523942ad6Fb784",
            "maxTimeoutSeconds": 60,
            "extra": {
              "name": "USD Coin",
              "version": "2"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "amount": "10000",
            "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "payTo": "8XhngTRitTcUJMiaDJ6azw8GRSiFPpwhnmV3HYQLHUpL",
            "maxTimeoutSeconds": 60,
            "extra": {
              "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "OnchainSimplePrice": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "token_prices": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "market_cap_usd": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "h24_volume_usd": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "h24_price_change_percentage": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "total_reserve_in_usd": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "last_trade_timestamp": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": {
            "id": "1ba898f0-eda2-4291-9491-9a5b323f66ef",
            "type": "simple_token_price",
            "attributes": {
              "token_prices": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": "2289.33"
              },
              "market_cap_usd": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": "6692452895.779648"
              },
              "h24_volume_usd": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": "965988358.733808"
              },
              "h24_price_change_percentage": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": "3.3870290336"
              },
              "total_reserve_in_usd": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": "1576179559.94669772339136684208"
              },
              "last_trade_timestamp": {
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2": 1712534400
              }
            }
          }
        }
      },
      "NetworksList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "coingecko_asset_platform_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "eth",
              "type": "network",
              "attributes": {
                "name": "Ethereum",
                "coingecko_asset_platform_id": "ethereum"
              }
            },
            {
              "id": "bsc",
              "type": "network",
              "attributes": {
                "name": "BNB Chain",
                "coingecko_asset_platform_id": "binance-smart-chain"
              }
            },
            {
              "id": "polygon_pos",
              "type": "network",
              "attributes": {
                "name": "Polygon POS",
                "coingecko_asset_platform_id": "polygon-pos"
              }
            }
          ]
        }
      },
      "DexesList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "uniswap_v2",
              "type": "dex",
              "attributes": {
                "name": "Uniswap V2"
              }
            },
            {
              "id": "sushiswap",
              "type": "dex",
              "attributes": {
                "name": "SushiSwap"
              }
            },
            {
              "id": "uniswap_v3",
              "type": "dex",
              "attributes": {
                "name": "Uniswap V3"
              }
            }
          ]
        }
      },
      "Pool": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "base_token_price_usd": {
                      "type": "string"
                    },
                    "base_token_price_native_currency": {
                      "type": "string",
                      "nullable": true
                    },
                    "quote_token_price_usd": {
                      "type": "string"
                    },
                    "quote_token_price_native_currency": {
                      "type": "string",
                      "nullable": true
                    },
                    "base_token_price_quote_token": {
                      "type": "string",
                      "nullable": true
                    },
                    "quote_token_price_base_token": {
                      "type": "string",
                      "nullable": true
                    },
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "pool_created_at": {
                      "type": "string"
                    },
                    "fdv_usd": {
                      "type": "string",
                      "nullable": true
                    },
                    "market_cap_usd": {
                      "type": "string",
                      "nullable": true
                    },
                    "price_change_percentage": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m15": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m30": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h1": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h6": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h24": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "volume_usd": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "reserve_in_usd": {
                      "type": "string"
                    },
                    "sentiment_vote_positive_percentage": {
                      "type": "number"
                    },
                    "sentiment_vote_negative_percentage": {
                      "type": "number"
                    },
                    "community_sus_report": {
                      "type": "number"
                    }
                  }
                },
                "relationships": {
                  "type": "object",
                  "properties": {
                    "base_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "quote_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "network": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "dex": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "decimals": {
                      "type": "integer"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "coingecko_coin_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
              "type": "pool",
              "attributes": {
                "base_token_price_usd": "3653.12491645176",
                "base_token_price_native_currency": "1.0",
                "quote_token_price_usd": "0.998343707926245",
                "quote_token_price_native_currency": "0.000273040545093221",
                "base_token_price_quote_token": "3662.46",
                "quote_token_price_base_token": "0.00027304",
                "address": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                "name": "WETH / USDC 0.05%",
                "pool_created_at": "2021-12-29T12:35:14Z",
                "fdv_usd": "11007041041",
                "market_cap_usd": null,
                "price_change_percentage": {
                  "m5": "0",
                  "m15": "0.21",
                  "m30": "0.31",
                  "h1": "0.51",
                  "h6": "0.86",
                  "h24": "7.71"
                },
                "transactions": {
                  "m5": {
                    "buys": 7,
                    "sells": 2,
                    "buyers": 7,
                    "sellers": 2
                  },
                  "m15": {
                    "buys": 19,
                    "sells": 27,
                    "buyers": 19,
                    "sellers": 27
                  },
                  "m30": {
                    "buys": 49,
                    "sells": 61,
                    "buyers": 45,
                    "sellers": 57
                  },
                  "h1": {
                    "buys": 97,
                    "sells": 144,
                    "buyers": 83,
                    "sellers": 124
                  },
                  "h6": {
                    "buys": 394,
                    "sells": 374,
                    "buyers": 270,
                    "sellers": 306
                  },
                  "h24": {
                    "buys": 2966,
                    "sells": 3847,
                    "buyers": 1625,
                    "sellers": 2399
                  }
                },
                "volume_usd": {
                  "m5": "868581.7348314",
                  "m15": "2056262.885098",
                  "m30": "4081230.098456",
                  "h1": "16798158.0138526",
                  "h6": "164054610.850188",
                  "h24": "536545444.904535"
                },
                "reserve_in_usd": "163988541.3812",
                "sentiment_vote_positive_percentage": 0,
                "sentiment_vote_negative_percentage": 0,
                "community_sus_report": 0
              },
              "relationships": {
                "base_token": {
                  "data": {
                    "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                    "type": "token"
                  }
                },
                "quote_token": {
                  "data": {
                    "id": "eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                    "type": "token"
                  }
                },
                "network": {
                  "data": {
                    "id": "eth",
                    "type": "network"
                  }
                },
                "dex": {
                  "data": {
                    "id": "uniswap_v3",
                    "type": "dex"
                  }
                }
              }
            }
          ],
          "included": [
            {
              "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "type": "token",
              "attributes": {
                "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "name": "Wrapped Ether",
                "symbol": "WETH",
                "decimals": 18,
                "image_url": "https://assets.coingecko.com/coins/images/2518/small/weth.png?1696503332",
                "coingecko_coin_id": "weth"
              }
            }
          ]
        }
      },
      "PoolOld": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "base_token_price_usd": {
                      "type": "string"
                    },
                    "base_token_price_native_currency": {
                      "type": "string"
                    },
                    "quote_token_price_usd": {
                      "type": "string"
                    },
                    "quote_token_price_native_currency": {
                      "type": "string"
                    },
                    "base_token_price_quote_token": {
                      "type": "string"
                    },
                    "quote_token_price_base_token": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "pool_created_at": {
                      "type": "string"
                    },
                    "fdv_usd": {
                      "type": "string",
                      "nullable": true
                    },
                    "market_cap_usd": {
                      "type": "string",
                      "nullable": true
                    },
                    "price_change_percentage": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m15": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m30": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h1": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h6": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h24": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "volume_usd": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "reserve_in_usd": {
                      "type": "string"
                    }
                  }
                },
                "relationships": {
                  "type": "object",
                  "properties": {
                    "base_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "quote_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "network": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "dex": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "decimals": {
                      "type": "integer"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "coingecko_coin_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
              "type": "pool",
              "attributes": {
                "base_token_price_usd": "3653.12491645176",
                "base_token_price_native_currency": "1.0",
                "quote_token_price_usd": "0.998343707926245",
                "quote_token_price_native_currency": "0.000273040545093221",
                "base_token_price_quote_token": "3662.46",
                "quote_token_price_base_token": "0.00027304",
                "address": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                "name": "WETH / USDC 0.05%",
                "pool_created_at": "2021-12-29T12:35:14Z",
                "fdv_usd": "11007041041",
                "market_cap_usd": null,
                "price_change_percentage": {
                  "m5": "0",
                  "m15": "0.21",
                  "m30": "0.31",
                  "h1": "0.51",
                  "h6": "0.86",
                  "h24": "7.71"
                },
                "transactions": {
                  "m5": {
                    "buys": 7,
                    "sells": 2,
                    "buyers": 7,
                    "sellers": 2
                  },
                  "m15": {
                    "buys": 19,
                    "sells": 27,
                    "buyers": 19,
                    "sellers": 27
                  },
                  "m30": {
                    "buys": 49,
                    "sells": 61,
                    "buyers": 45,
                    "sellers": 57
                  },
                  "h1": {
                    "buys": 97,
                    "sells": 144,
                    "buyers": 83,
                    "sellers": 124
                  },
                  "h6": {
                    "buys": 394,
                    "sells": 374,
                    "buyers": 270,
                    "sellers": 306
                  },
                  "h24": {
                    "buys": 2966,
                    "sells": 3847,
                    "buyers": 1625,
                    "sellers": 2399
                  }
                },
                "volume_usd": {
                  "m5": "868581.7348314",
                  "m15": "2056262.885098",
                  "m30": "4081230.098456",
                  "h1": "16798158.0138526",
                  "h6": "164054610.850188",
                  "h24": "536545444.904535"
                },
                "reserve_in_usd": "163988541.3812"
              },
              "relationships": {
                "base_token": {
                  "data": {
                    "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                    "type": "token"
                  }
                },
                "quote_token": {
                  "data": {
                    "id": "eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                    "type": "token"
                  }
                },
                "network": {
                  "data": {
                    "id": "eth",
                    "type": "network"
                  }
                },
                "dex": {
                  "data": {
                    "id": "uniswap_v3",
                    "type": "dex"
                  }
                }
              }
            }
          ],
          "included": [
            {
              "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "type": "token",
              "attributes": {
                "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "name": "Wrapped Ether",
                "symbol": "WETH",
                "decimals": 18,
                "image_url": "https://assets.coingecko.com/coins/images/2518/small/weth.png?1696503332",
                "coingecko_coin_id": "weth"
              }
            }
          ]
        }
      },
      "TopPoolOld": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "base_token_price_usd": {
                      "type": "string"
                    },
                    "base_token_price_native_currency": {
                      "type": "string"
                    },
                    "quote_token_price_usd": {
                      "type": "string"
                    },
                    "quote_token_price_native_currency": {
                      "type": "string"
                    },
                    "base_token_price_quote_token": {
                      "type": "string"
                    },
                    "quote_token_price_base_token": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "pool_created_at": {
                      "type": "string"
                    },
                    "token_price_usd": {
                      "type": "string"
                    },
                    "fdv_usd": {
                      "type": "string"
                    },
                    "market_cap_usd": {
                      "type": "string"
                    },
                    "price_change_percentage": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m15": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "m30": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h1": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h6": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        },
                        "h24": {
                          "type": "object",
                          "properties": {
                            "buys": {
                              "type": "integer"
                            },
                            "sells": {
                              "type": "integer"
                            },
                            "buyers": {
                              "type": "integer"
                            },
                            "sellers": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "volume_usd": {
                      "type": "object",
                      "properties": {
                        "m5": {
                          "type": "string"
                        },
                        "m15": {
                          "type": "string"
                        },
                        "m30": {
                          "type": "string"
                        },
                        "h1": {
                          "type": "string"
                        },
                        "h6": {
                          "type": "string"
                        },
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "reserve_in_usd": {
                      "type": "string"
                    },
                    "sentiment_vote_positive_percentage": {
                      "type": "number"
                    },
                    "sentiment_vote_negative_percentage": {
                      "type": "number"
                    },
                    "community_sus_report": {
                      "type": "number"
                    },
                    "last_trade_timestamp": {
                      "type": "integer"
                    }
                  }
                },
                "relationships": {
                  "type": "object",
                  "properties": {
                    "base_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "quote_token": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "dex": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "decimals": {
                      "type": "integer"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "coingecko_coin_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
              "type": "pool",
              "attributes": {
                "base_token_price_usd": "3653.12491645176",
                "base_token_price_native_currency": "1.0",
                "quote_token_price_usd": "0.998343707926245",
                "quote_token_price_native_currency": "0.000273040545093221",
                "base_token_price_quote_token": "3662.46",
                "quote_token_price_base_token": "0.00027304",
                "address": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                "name": "WETH / USDC 0.05%",
                "pool_created_at": "2021-12-29T12:35:14Z",
                "fdv_usd": "11007041041",
                "market_cap_usd": null,
                "price_change_percentage": {
                  "m5": "0",
                  "m15": "0.21",
                  "m30": "0.31",
                  "h1": "0.51",
                  "h6": "0.86",
                  "h24": "7.71"
                },
                "transactions": {
                  "m5": {
                    "buys": 7,
                    "sells": 2,
                    "buyers": 7,
                    "sellers": 2
                  },
                  "m15": {
                    "buys": 19,
                    "sells": 27,
                    "buyers": 19,
                    "sellers": 27
                  },
                  "m30": {
                    "buys": 49,
                    "sells": 61,
                    "buyers": 45,
                    "sellers": 57
                  },
                  "h1": {
                    "buys": 97,
                    "sells": 144,
                    "buyers": 83,
                    "sellers": 124
                  },
                  "h24": {
                    "buys": 2966,
                    "sells": 3847,
                    "buyers": 1625,
                    "sellers": 2399
                  }
                },
                "volume_usd": {
                  "m5": "868581.7348314",
                  "m15": "2056262.885098",
                  "m30": "4081230.098456",
                  "h1": "16798158.0138526",
                  "h6": "164054610.850188",
                  "h24": "536545444.904535"
                },
                "reserve_in_usd": "163988541.3812",
                "last_trade_timestamp": 1712534400
              },
              "relationships": {
                "base_token": {
                  "data": {
                    "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                    "type": "token"
                  }
                },
                "quote_token": {
                  "data": {
                    "id": "eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                    "type": "token"
                  }
                },
                "dex": {
                  "data": {
                    "id": "uniswap_v3",
                    "type": "dex"
                  }
                }
              }
            }
          ],
          "included": [
            {
              "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "type": "token",
              "attributes": {
                "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "name": "Wrapped Ether",
                "symbol": "WETH",
                "decimals": 18,
                "image_url": "https://assets.coingecko.com/coins/images/2518/small/weth.png?1696503332",
                "coingecko_coin_id": "weth"
              }
            }
          ]
        }
      },
      "PoolData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "base_token_price_usd": {
                "type": "string"
              },
              "base_token_price_native_currency": {
                "type": "string"
              },
              "base_token_balance": {
                "type": "string"
              },
              "base_token_liquidity_usd": {
                "type": "string"
              },
              "quote_token_price_usd": {
                "type": "string"
              },
              "quote_token_price_native_currency": {
                "type": "string"
              },
              "quote_token_balance": {
                "type": "string"
              },
              "quote_token_liquidity_usd": {
                "type": "string"
              },
              "base_token_price_quote_token": {
                "type": "string"
              },
              "quote_token_price_base_token": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "pool_name": {
                "type": "string"
              },
              "pool_fee_percentage": {
                "type": "string",
                "nullable": true
              },
              "pool_created_at": {
                "type": "string"
              },
              "fdv_usd": {
                "type": "string",
                "nullable": true
              },
              "market_cap_usd": {
                "type": "string",
                "nullable": true
              },
              "price_change_percentage": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "string"
                  },
                  "m15": {
                    "type": "string"
                  },
                  "m30": {
                    "type": "string"
                  },
                  "h1": {
                    "type": "string"
                  },
                  "h6": {
                    "type": "string"
                  },
                  "h24": {
                    "type": "string"
                  }
                }
              },
              "transactions": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  },
                  "m15": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  },
                  "m30": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  },
                  "h1": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  },
                  "h6": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  },
                  "h24": {
                    "type": "object",
                    "properties": {
                      "buys": {
                        "type": "integer"
                      },
                      "sells": {
                        "type": "integer"
                      },
                      "buyers": {
                        "type": "integer"
                      },
                      "sellers": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "volume_usd": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "string"
                  },
                  "m15": {
                    "type": "string"
                  },
                  "m30": {
                    "type": "string"
                  },
                  "h1": {
                    "type": "string"
                  },
                  "h6": {
                    "type": "string"
                  },
                  "h24": {
                    "type": "string"
                  }
                }
              },
              "net_buy_volume_usd": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "string"
                  },
                  "m15": {
                    "type": "string"
                  },
                  "m30": {
                    "type": "string"
                  },
                  "h1": {
                    "type": "string"
                  },
                  "h6": {
                    "type": "string"
                  },
                  "h24": {
                    "type": "string"
                  }
                }
              },
              "buy_volume_usd": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "string"
                  },
                  "m15": {
                    "type": "string"
                  },
                  "m30": {
                    "type": "string"
                  },
                  "h1": {
                    "type": "string"
                  },
                  "h6": {
                    "type": "string"
                  },
                  "h24": {
                    "type": "string"
                  }
                }
              },
              "sell_volume_usd": {
                "type": "object",
                "properties": {
                  "m5": {
                    "type": "string"
                  },
                  "m15": {
                    "type": "string"
                  },
                  "m30": {
                    "type": "string"
                  },
                  "h1": {
                    "type": "string"
                  },
                  "h6": {
                    "type": "string"
                  },
                  "h24": {
                    "type": "string"
                  }
                }
              },
              "reserve_in_usd": {
                "type": "string"
              },
              "locked_liquidity_percentage": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "base_token": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "quote_token": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "dex": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MultiPoolInfo": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PoolData"
            }
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "decimals": {
                      "type": "integer"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "coingecko_coin_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "id": "eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
              "type": "pool",
              "attributes": {
                "base_token_price_usd": "4459.91960575582",
                "base_token_price_native_currency": "1.0",
                "base_token_balance": "5783.57638014946",
                "base_token_liquidity_usd": "25794285.689214855",
                "quote_token_price_usd": "0.998614899014123",
                "quote_token_price_native_currency": "0.000223861979768972",
                "quote_token_balance": "64655288.355199",
                "quote_token_liquidity_usd": "64552255.7925259",
                "base_token_price_quote_token": "4467.038132299",
                "quote_token_price_base_token": "0.0002238619798",
                "address": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                "name": "WETH / USDC 0.05%",
                "pool_name": "WETH / USDC",
                "pool_fee_percentage": "0.05",
                "pool_created_at": "2021-12-29T12:35:14Z",
                "fdv_usd": "11160006028.1758",
                "market_cap_usd": "11166433701.589",
                "price_change_percentage": {
                  "m5": "0",
                  "m15": "0.027",
                  "m30": "0.028",
                  "h1": "0.039",
                  "h6": "-0.435",
                  "h24": "-0.221"
                },
                "transactions": {
                  "m5": {
                    "buys": 0,
                    "sells": 4,
                    "buyers": 0,
                    "sellers": 4
                  },
                  "m15": {
                    "buys": 9,
                    "sells": 27,
                    "buyers": 9,
                    "sellers": 23
                  },
                  "m30": {
                    "buys": 23,
                    "sells": 43,
                    "buyers": 18,
                    "sellers": 37
                  },
                  "h1": {
                    "buys": 86,
                    "sells": 104,
                    "buyers": 56,
                    "sellers": 79
                  },
                  "h6": {
                    "buys": 383,
                    "sells": 524,
                    "buyers": 212,
                    "sellers": 388
                  },
                  "h24": {
                    "buys": 1517,
                    "sells": 1828,
                    "buyers": 740,
                    "sellers": 1302
                  }
                },
                "volume_usd": {
                  "m5": "37399.6069733459",
                  "m15": "288043.30450079",
                  "m30": "365553.90171076",
                  "h1": "2801120.82868497",
                  "h6": "5475445.24298699",
                  "h24": "16190877.4119214"
                },
                "net_buy_volume_usd": {
                  "m5": "-37399.6069733459",
                  "m15": "-106958.58061148",
                  "m30": "-32014.899699526",
                  "h1": "66459.25132413",
                  "h6": "-336894.73878909",
                  "h24": "-165843.81722825"
                },
                "buy_volume_usd": {
                  "m5": "0.0",
                  "m15": "90542.361944655",
                  "m30": "166769.501005617",
                  "h1": "1433790.04000455",
                  "h6": "2569275.25209895",
                  "h24": "8012516.79734659"
                },
                "sell_volume_usd": {
                  "m5": "37399.6069733459",
                  "m15": "197500.942556135",
                  "m30": "198784.400705143",
                  "h1": "1367330.78868042",
                  "h6": "2906169.99088804",
                  "h24": "8178360.61457484"
                },
                "reserve_in_usd": "90346541.3306",
                "locked_liquidity_percentage": "0.0"
              },
              "relationships": {
                "base_token": {
                  "data": {
                    "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                    "type": "token"
                  }
                },
                "quote_token": {
                  "data": {
                    "id": "eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                    "type": "token"
                  }
                },
                "dex": {
                  "data": {
                    "id": "uniswap_v3",
                    "type": "dex"
                  }
                }
              }
            }
          ],
          "included": [
            {
              "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "type": "token",
              "attributes": {
                "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "name": "Wrapped Ether",
                "symbol": "WETH",
                "decimals": 18,
                "image_url": "https://coin-images.coingecko.com/coins/images/2518/large/weth.png?1696503332",
                "coingecko_coin_id": "weth"
              }
            }
          ]
        }
      },
      "SinglePoolInfo": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PoolData"
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    },
                    "decimals": {
                      "type": "integer"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "coingecko_coin_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "data": {
            "id": "eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
            "type": "pool",
            "attributes": {
              "base_token_price_usd": "4473.69429892668",
              "base_token_price_native_currency": "1.0",
              "base_token_balance": "5713.28147604894",
              "base_token_liquidity_usd": "25559474.76756355",
              "quote_token_price_usd": "0.997996963545633",
              "quote_token_price_native_currency": "0.000223037878108427",
              "quote_token_balance": "64636039.082111",
              "quote_token_liquidity_usd": "64494052.04397222",
              "base_token_price_quote_token": "4483.543371561",
              "quote_token_price_base_token": "0.0002230378781",
              "address": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
              "name": "WETH / USDC 0.05%",
              "pool_name": "WETH / USDC",
              "pool_fee_percentage": "0.05",
              "pool_created_at": "2021-12-29T12:35:14Z",
              "fdv_usd": "11190873336.847",
              "market_cap_usd": "11195941219.2312",
              "price_change_percentage": {
                "m5": "0",
                "m15": "0.01",
                "m30": "0",
                "h1": "0",
                "h6": "-0.31",
                "h24": "0.06"
              },
              "transactions": {
                "m5": {
                  "buys": 0,
                  "sells": 4,
                  "buyers": 0,
                  "sellers": 4
                },
                "m15": {
                  "buys": 7,
                  "sells": 14,
                  "buyers": 7,
                  "sellers": 13
                },
                "m30": {
                  "buys": 36,
                  "sells": 36,
                  "buyers": 30,
                  "sellers": 31
                },
                "h1": {
                  "buys": 72,
                  "sells": 66,
                  "buyers": 52,
                  "sellers": 55
                },
                "h6": {
                  "buys": 394,
                  "sells": 374,
                  "buyers": 270,
                  "sellers": 306
                },
                "h24": {
                  "buys": 1405,
                  "sells": 1769,
                  "buyers": 720,
                  "sellers": 1312
                }
              },
              "volume_usd": {
                "m5": "14474.0609971508",
                "m15": "97230.627441051",
                "m30": "217572.719149789",
                "h1": "398012.377874174",
                "h6": "2624801.54967643",
                "h24": "14524209.5484025"
              },
              "net_buy_volume_usd": {
                "m5": "-14474.0609971508",
                "m15": "20088.5420905036",
                "m30": "112265.1687880188",
                "h1": "213181.8440453441",
                "h6": "39055.74647786",
                "h24": "-3562.19491886"
              },
              "buy_volume_usd": {
                "m5": "0.0",
                "m15": "58659.5847657773",
                "m30": "164918.943968904",
                "h1": "305597.110959759",
                "h6": "1331928.64807714",
                "h24": "7260323.6767418"
              },
              "sell_volume_usd": {
                "m5": "14474.0609971508",
                "m15": "38571.0426752737",
                "m30": "52653.7751808852",
                "h1": "92415.2669144149",
                "h6": "1292872.90159928",
                "h24": "7263885.87166066"
              },
              "reserve_in_usd": "90053526.8909",
              "locked_liquidity_percentage": "0.0"
            },
            "relationships": {
              "base_token": {
                "data": {
                  "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                  "type": "token"
                }
              },
              "quote_token": {
                "data": {
                  "id": "eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                  "type": "token"
                }
              },
              "dex": {
                "data": {
                  "id": "uniswap_v3",
                  "type": "dex"
                }
              }
            }
          },
          "included": [
            {
              "id": "eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "type": "token",
              "attributes": {
                "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "name": "Wrapped Ether",
                "symbol": "WETH",
                "decimals": 18,
                "image_url": "https://coin-images.coingecko.com/coins/images/2518/large/weth.png?1696503332",
                "coingecko_coin_id": "weth"
              }
            }
          ]
        }
      },
      "TrendingPools": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "trending_rank": {
                      "type": "integer"
                    },
                    "address": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "pool_created_at": {
                      "type": "string"
                    },
                    "fdv_usd": {
                      "type": "string"
                    },
                    "market_cap_usd": {
                      "type": "string",
                      "nullable": true
                    },
                    "volume_usd": {
                      "type": "object",
                      "properties": {
                        "h24": {
                          "type": "string"
                        }
                      }
                    },
                    "reserve_in_usd": {
[...]
