{
  "openapi": "3.1.0",
  "info": {
    "title": "ICPX GPU Compute API",
    "version": "1.0.0-mainnet",
    "description": "Mainnet Solana-paid GPU compute endpoints for AI agents, model deployments and terminal-backed jobs."
  },
  "servers": [
    {
      "url": "https://www.icpx.cloud"
    }
  ],
  "paths": {
    "/api/pay/compute/jobs": {
      "post": {
        "operationId": "createGpuComputeJob",
        "summary": "Create a GPU compute job",
        "description": "Returns a Solana mainnet USDC payment challenge when called without payment credentials.",
        "tags": [
          "compute"
        ],
        "x-payments": {
          "protocol": "mpp",
          "method": "solana",
          "network": "mainnet",
          "currency": "USDC"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gpu",
                  "region"
                ],
                "properties": {
                  "workload": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "skill": {
                    "type": "string"
                  },
                  "blueprint": {
                    "type": "string"
                  },
                  "gpu": {
                    "type": "string",
                    "description": "GPU model to reserve, such as H200, H100, L40S or A100.",
                    "example": "H200"
                  },
                  "region": {
                    "type": "string",
                    "description": "Provider region for the job, such as us-east or devnet-lab.",
                    "example": "us-east"
                  },
                  "command": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "h200Inference": {
                  "summary": "H200 model deployment",
                  "value": {
                    "model": "nvidia/llama-3.1-nemotron-ultra-253b-v1",
                    "gpu": "H200",
                    "region": "us-east",
                    "command": "python serve.py"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted and job request received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "network": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        }
                      }
                    },
                    "jobId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "statusUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "responseUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "terminalUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "ok",
                    "jobId",
                    "network",
                    "status",
                    "statusUrl",
                    "responseUrl"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Solana mainnet payment required.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP payment challenge for Solana."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "pricing": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "network": {
                          "type": "string"
                        }
                      }
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "protocol": {
                          "type": "string"
                        },
                        "challenges": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/nvidia/catalog": {
      "get": {
        "operationId": "listNvidiaCatalog",
        "summary": "List NVIDIA models, skills and blueprints",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "NVIDIA catalog payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "source",
                    "sourceStatus",
                    "updatedAt",
                    "models",
                    "skills",
                    "blueprints",
                    "gpus",
                    "totals"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "source": {
                      "type": "string",
                      "const": "nvidia-build"
                    },
                    "sourceStatus": {
                      "type": "string",
                      "enum": [
                        "live",
                        "unavailable"
                      ]
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NvidiaCatalogItem"
                      }
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NvidiaCatalogItem"
                      }
                    },
                    "blueprints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NvidiaCatalogItem"
                      }
                    },
                    "gpus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NvidiaGpuFilter"
                      }
                    },
                    "totals": {
                      "$ref": "#/components/schemas/NvidiaCatalogTotals"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pay/compute/jobs/{jobId}": {
      "get": {
        "operationId": "getGpuComputeJobStatus",
        "summary": "Get GPU compute job status",
        "description": "Returns the current state and result handles for a paid GPU compute job.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Opaque job identifier returned by createGpuComputeJob."
          }
        ],
        "responses": {
          "200": {
            "description": "GPU job status payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayComputeJobStatus"
                }
              }
            }
          },
          "404": {
            "description": "Job not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NvidiaCatalogItem": {
        "type": "object",
        "required": [
          "id",
          "kind",
          "name",
          "publisher",
          "description",
          "badges",
          "labels",
          "metric",
          "updated",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "model",
              "skill",
              "blueprint"
            ]
          },
          "name": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metric": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NvidiaGpuFilter": {
        "type": "object",
        "required": [
          "name",
          "count"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "NvidiaCatalogTotals": {
        "type": "object",
        "required": [
          "models",
          "skills",
          "blueprints"
        ],
        "properties": {
          "models": {
            "type": "integer",
            "minimum": 0
          },
          "skills": {
            "type": "integer",
            "minimum": 0
          },
          "blueprints": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "PayComputeJobStatus": {
        "type": "object",
        "required": [
          "ok",
          "jobId",
          "status",
          "network",
          "statusUrl",
          "responseUrl",
          "workload",
          "provider",
          "result",
          "timestamps"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "created",
              "funded",
              "running",
              "completed",
              "cancelled",
              "expired",
              "disputed",
              "failed"
            ]
          },
          "network": {
            "type": "string",
            "enum": [
              "mainnet",
              "devnet"
            ]
          },
          "statusUrl": {
            "type": "string",
            "format": "uri"
          },
          "responseUrl": {
            "type": "string",
            "format": "uri"
          },
          "terminalUrl": {
            "type": "string",
            "format": "uri"
          },
          "workload": {
            "type": "object",
            "properties": {
              "model": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "skill": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "blueprint": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "gpu": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "region": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "command": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "provider": {
            "type": "object",
            "properties": {
              "runId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "hash": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "timestamps": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "completedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "expiredAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "cancelledAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          }
        }
      }
    }
  }
}
