{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Document AI API",
    "description": "Extract structured data from PDFs, scans, and document images using OCR and ML. Handles invoices, receipts, forms, contracts, tax documents, IDs, and custom schemas, returning text, tables, entities, fields, and confidence signals.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://documentai.google.gateway-402.com"
    }
  ],
  "paths": {
    "/v1/projects/{projectsId}/locations/{locationsId}/processorTypes": {
      "get": {
        "operationId": "documentai.projects.locations.processorTypes.list",
        "summary": "Lists the processor types that exist.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Used to retrieve the next page of results, empty if at the end of the list.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ListProcessorTypesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}": {
      "get": {
        "operationId": "documentai.projects.locations.processorTypes.get",
        "summary": "Gets a processor type detail.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorTypesId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processorType` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessorType"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess": {
      "post": {
        "operationId": "documentai.projects.locations.processors.processorVersions.batchProcess",
        "summary": "LRO endpoint to batch process many documents. The output is",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processor` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorVersionsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processorVersion` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BatchProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process": {
      "post": {
        "operationId": "documentai.projects.locations.processors.processorVersions.process",
        "summary": "Processes a single document.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processor` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorVersionsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processorVersion` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess": {
      "post": {
        "operationId": "documentai.projects.locations.processors.batchProcess",
        "summary": "LRO endpoint to batch process many documents. The output is",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processor` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BatchProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process": {
      "post": {
        "operationId": "documentai.projects.locations.processors.process",
        "summary": "Processes a single document.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `project` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `location` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processorsId",
            "in": "path",
            "required": true,
            "description": "Identifier for the `processor` segment of the resource path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GoogleCloudDocumentaiV1Barcode": {
        "type": "object",
        "description": "Encodes the detailed information of a barcode.",
        "properties": {
          "format": {
            "type": "string",
            "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
          },
          "valueFormat": {
            "type": "string",
            "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
          },
          "rawValue": {
            "type": "string",
            "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
          }
        }
      },
      "GoogleCloudDocumentaiV1BatchDocumentsInputConfig": {
        "type": "object",
        "description": "The common config to specify a set of documents used as input.",
        "properties": {
          "gcsPrefix": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1GcsPrefix"
          },
          "gcsDocuments": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1GcsDocuments"
          }
        }
      },
      "GoogleCloudDocumentaiV1BatchProcessRequest": {
        "type": "object",
        "description": "Request message for BatchProcessDocuments.",
        "properties": {
          "inputDocuments": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
          },
          "documentOutputConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentOutputConfig"
          },
          "skipHumanReview": {
            "type": "boolean",
            "description": "Whether human review should be skipped for this request. Default to `false`.",
            "deprecated": true
          },
          "processOptions": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessOptions"
          },
          "labels": {
            "type": "object",
            "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1BoundingPoly": {
        "type": "object",
        "description": "A bounding polygon for the detected image annotation.",
        "properties": {
          "vertices": {
            "type": "array",
            "description": "The bounding polygon vertices.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1Vertex"
            }
          },
          "normalizedVertices": {
            "type": "array",
            "description": "The bounding polygon normalized vertices.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1NormalizedVertex"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1Document": {
        "type": "object",
        "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
          },
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
          },
          "docid": {
            "type": "string",
            "description": "Optional. An internal identifier for document. Should be loggable (no PII)."
          },
          "mimeType": {
            "type": "string",
            "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
          },
          "text": {
            "type": "string",
            "description": "Optional. UTF-8 encoded text in reading order from the document."
          },
          "textStyles": {
            "type": "array",
            "description": "Styles for the Document.text.",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentStyle"
            }
          },
          "pages": {
            "type": "array",
            "description": "Visual page layout for the Document.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPage"
            }
          },
          "entities": {
            "type": "array",
            "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntity"
            }
          },
          "entityRelations": {
            "type": "array",
            "description": "Placeholder. Relationship among Document.entities.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntityRelation"
            }
          },
          "textChanges": {
            "type": "array",
            "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextChange"
            }
          },
          "shardInfo": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentShardInfo"
          },
          "error": {
            "$ref": "#/components/schemas/GoogleRpcStatus"
          },
          "revisions": {
            "type": "array",
            "description": "Placeholder. Revision history of this document.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentRevision"
            }
          },
          "documentLayout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayout"
          },
          "chunkedDocument": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocument"
          },
          "blobAssets": {
            "type": "array",
            "description": "Optional. The blob assets in this document. This is used to store the content of the inline blobs in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset id.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentBlobAsset"
            }
          },
          "entityValidationOutput": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
          },
          "entitiesRevisions": {
            "type": "array",
            "description": "A list of entity revisions. The entity revisions are appended to the document in the processing order. This field can be used for comparing the entity extraction results at different stages of the processing.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntitiesRevision"
            }
          },
          "entitiesRevisionId": {
            "type": "string",
            "description": "The entity revision ID that `document.entities` field is based on. If this field is set and `entities_revisions` is not empty, the entities in `document.entities` field are the entities in the entity revision with this id and `document.entity_validation_output` field is the `entity_validation_output` field in this entity revision."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentAnnotations": {
        "type": "object",
        "description": "Represents the annotation of a block or a chunk.",
        "properties": {
          "description": {
            "type": "string",
            "description": "The description of the content with this annotation."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentBlobAsset": {
        "type": "object",
        "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Optional. The id of the blob asset."
          },
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Optional. The content of the blob asset, for example, image bytes."
          },
          "mimeType": {
            "type": "string",
            "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
        "type": "object",
        "description": "Represents the chunks that the document is divided into.",
        "properties": {
          "chunks": {
            "type": "array",
            "description": "List of chunks.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
        "type": "object",
        "description": "Represents a chunk.",
        "properties": {
          "chunkId": {
            "type": "string",
            "description": "ID of the chunk."
          },
          "sourceBlockIds": {
            "type": "array",
            "description": "Unused.",
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "string",
            "description": "Text content of the chunk."
          },
          "pageSpan": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
          },
          "pageHeaders": {
            "type": "array",
            "description": "Page headers associated with the chunk.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
            }
          },
          "pageFooters": {
            "type": "array",
            "description": "Page footers associated with the chunk.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
            }
          },
          "chunkFields": {
            "type": "array",
            "description": "Chunk fields inside this chunk.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField": {
        "type": "object",
        "description": "The chunk field in the chunk. A chunk field could be one of the various types (for example, image, table) supported.",
        "properties": {
          "imageChunkField": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField"
          },
          "tableChunkField": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
        "type": "object",
        "description": "Represents the page footer associated with the chunk.",
        "properties": {
          "text": {
            "type": "string",
            "description": "Footer in text format."
          },
          "pageSpan": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader": {
        "type": "object",
        "description": "Represents the page header associated with the chunk.",
        "properties": {
          "text": {
            "type": "string",
            "description": "Header in text format."
          },
          "pageSpan": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan": {
        "type": "object",
        "description": "Represents where the chunk starts and ends in the document.",
        "properties": {
          "pageStart": {
            "type": "integer",
            "format": "int32",
            "description": "Page where chunk starts in the document."
          },
          "pageEnd": {
            "type": "integer",
            "format": "int32",
            "description": "Page where chunk ends in the document."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField": {
        "type": "object",
        "description": "The image chunk field in the chunk.",
        "properties": {
          "blobAssetId": {
            "type": "string",
            "description": "Optional. Asset id of the inline image. If set, find the image content in the blob_assets field."
          },
          "gcsUri": {
            "type": "string",
            "description": "Optional. Google Cloud Storage uri of the image."
          },
          "dataUri": {
            "type": "string",
            "description": "Optional. Data uri of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,"
          },
          "annotations": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentAnnotations"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField": {
        "type": "object",
        "description": "The table chunk field in the chunk.",
        "properties": {
          "annotations": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentAnnotations"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
        "type": "object",
        "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
        "properties": {
          "blocks": {
            "type": "array",
            "description": "List of blocks in the document.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
        "type": "object",
        "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
        "properties": {
          "textBlock": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
          },
          "tableBlock": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
          },
          "listBlock": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
          },
          "imageBlock": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
          },
          "blockId": {
            "type": "string",
            "description": "ID of the block."
          },
          "pageSpan": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
          },
          "boundingBox": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BoundingPoly"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock": {
        "type": "object",
        "description": "Represents an image type block.",
        "properties": {
          "blobAssetId": {
            "type": "string",
            "description": "Optional. Asset id of the inline image. If set, find the image content in the blob_assets field."
          },
          "gcsUri": {
            "type": "string",
            "description": "Optional. Google Cloud Storage uri of the image."
          },
          "dataUri": {
            "type": "string",
            "description": "Optional. Data uri of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,"
          },
          "mimeType": {
            "type": "string",
            "description": "Mime type of the image. An IANA published [media type (MIME type)] (https://www.iana.org/assignments/media-types/media-types.xhtml)."
          },
          "imageText": {
            "type": "string",
            "description": "Text extracted from the image using OCR or alt text describing the image."
          },
          "annotations": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentAnnotations"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
        "type": "object",
        "description": "Represents a list type block.",
        "properties": {
          "listEntries": {
            "type": "array",
            "description": "List entries that constitute a list block.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
            }
          },
          "type": {
            "type": "string",
            "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
        "type": "object",
        "description": "Represents an entry in the list.",
        "properties": {
          "blocks": {
            "type": "array",
            "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
        "type": "object",
        "description": "Represents where the block starts and ends in the document.",
        "properties": {
          "pageStart": {
            "type": "integer",
            "format": "int32",
            "description": "Page where block starts in the document."
          },
          "pageEnd": {
            "type": "integer",
            "format": "int32",
            "description": "Page where block ends in the document."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
        "type": "object",
        "description": "Represents a table type block.",
        "properties": {
          "headerRows": {
            "type": "array",
            "description": "Header rows at the top of the table.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
            }
          },
          "bodyRows": {
            "type": "array",
            "description": "Body rows containing main table content.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
            }
          },
          "caption": {
            "type": "string",
            "description": "Table caption/title."
          },
          "annotations": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentAnnotations"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
        "type": "object",
        "description": "Represents a cell in a table row.",
        "properties": {
          "blocks": {
            "type": "array",
            "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
            }
          },
          "rowSpan": {
            "type": "integer",
            "format": "int32",
            "description": "How many rows this cell spans."
          },
          "colSpan": {
            "type": "integer",
            "format": "int32",
            "description": "How many columns this cell spans."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
        "type": "object",
        "description": "Represents a row in a table.",
        "properties": {
          "cells": {
            "type": "array",
            "description": "A table row is a list of table cells.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
        "type": "object",
        "description": "Represents a text type block.",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text content stored in the block."
          },
          "type": {
            "type": "string",
            "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`."
          },
          "blocks": {
            "type": "array",
            "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
            }
          },
          "annotations": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentAnnotations"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
        "type": "object",
        "description": "Entity revision.",
        "properties": {
          "revisionId": {
            "type": "string",
            "description": "The revision id."
          },
          "entities": {
            "type": "array",
            "description": "The entities in this revision.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntity"
            }
          },
          "entityValidationOutput": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntity": {
        "type": "object",
        "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
        "properties": {
          "textAnchor": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor"
          },
          "type": {
            "type": "string",
            "description": "Required. Entity type from a schema, for example, `Address`."
          },
          "mentionText": {
            "type": "string",
            "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
          },
          "mentionId": {
            "type": "string",
            "description": "Optional. Deprecated. Use `id` field instead."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
          },
          "pageAnchor": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageAnchor"
          },
          "id": {
            "type": "string",
            "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
          },
          "normalizedValue": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntityNormalizedValue"
          },
          "properties": {
            "type": "array",
            "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntity"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          },
          "redacted": {
            "type": "boolean",
            "description": "Optional. Whether the entity will be redacted for de-identification purposes."
          },
          "method": {
            "type": "string",
            "description": "Optional. Specifies how the entity's value is obtained.",
            "enum": [
              "METHOD_UNSPECIFIED",
              "EXTRACT",
              "DERIVE"
            ]
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue": {
        "type": "object",
        "description": "Parsed and normalized entity value.",
        "properties": {
          "moneyValue": {
            "$ref": "#/components/schemas/GoogleTypeMoney"
          },
          "dateValue": {
            "$ref": "#/components/schemas/GoogleTypeDate"
          },
          "datetimeValue": {
            "$ref": "#/components/schemas/GoogleTypeDateTime"
          },
          "addressValue": {
            "$ref": "#/components/schemas/GoogleTypePostalAddress"
          },
          "booleanValue": {
            "type": "boolean",
            "description": "Boolean value. Can be used for entities with binary values, or for checkboxes."
          },
          "integerValue": {
            "type": "integer",
            "format": "int32",
            "description": "Integer value."
          },
          "floatValue": {
            "type": "number",
            "format": "float",
            "description": "Float value."
          },
          "signatureValue": {
            "type": "boolean",
            "description": "A signature - a graphical representation of a person's name, often used to sign a document."
          },
          "text": {
            "type": "string",
            "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntityRelation": {
        "type": "object",
        "description": "Relationship between Entities.",
        "properties": {
          "subjectId": {
            "type": "string",
            "description": "Subject entity id."
          },
          "objectId": {
            "type": "string",
            "description": "Object entity id."
          },
          "relation": {
            "type": "string",
            "description": "Relationship description."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntityValidationOutput": {
        "type": "object",
        "description": "The output of the validation given the document and the validation rules.",
        "properties": {
          "validationResults": {
            "type": "array",
            "description": "The result of each validation rule.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult"
            }
          },
          "passAllRules": {
            "type": "boolean",
            "description": "The overall result of the validation, true if all applicable rules are valid."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult": {
        "type": "object",
        "description": "Validation result for a single validation rule.",
        "properties": {
          "rule": {
            "type": "string",
            "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
          },
          "ruleName": {
            "type": "string",
            "description": "The display name of the validation rule."
          },
          "ruleDescription": {
            "type": "string",
            "description": "The description of the validation rule."
          },
          "validationResultType": {
            "type": "string",
            "description": "The result of the validation rule.",
            "enum": [
              "VALIDATION_RESULT_TYPE_UNSPECIFIED",
              "VALIDATION_RESULT_TYPE_VALID",
              "VALIDATION_RESULT_TYPE_INVALID",
              "VALIDATION_RESULT_TYPE_SKIPPED",
              "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
            ]
          },
          "validationDetails": {
            "type": "string",
            "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentOutputConfig": {
        "type": "object",
        "description": "Config that controls the output of documents. All documents will be written as a JSON file.",
        "properties": {
          "gcsOutputConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig": {
        "type": "object",
        "description": "The configuration used when outputting documents.",
        "properties": {
          "gcsUri": {
            "type": "string",
            "description": "The Cloud Storage uri (a directory) of the output."
          },
          "fieldMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`."
          },
          "shardingConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig": {
        "type": "object",
        "description": "The sharding config for the output document.",
        "properties": {
          "pagesPerShard": {
            "type": "integer",
            "format": "int32",
            "description": "The number of pages per shard."
          },
          "pagesOverlap": {
            "type": "integer",
            "format": "int32",
            "description": "The number of overlapping pages between consecutive shards."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPage": {
        "type": "object",
        "description": "A page in a Document.",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
          },
          "image": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageImage"
          },
          "transforms": {
            "type": "array",
            "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageMatrix"
            }
          },
          "dimension": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDimension"
          },
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "blocks": {
            "type": "array",
            "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageBlock"
            }
          },
          "paragraphs": {
            "type": "array",
            "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageParagraph"
            }
          },
          "lines": {
            "type": "array",
            "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLine"
            }
          },
          "tokens": {
            "type": "array",
            "description": "A list of visually detected tokens on the page.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageToken"
            }
          },
          "visualElements": {
            "type": "array",
            "description": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageVisualElement"
            }
          },
          "tables": {
            "type": "array",
            "description": "A list of visually detected tables on the page.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTable"
            }
          },
          "formFields": {
            "type": "array",
            "description": "A list of visually detected form fields on the page.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageFormField"
            }
          },
          "symbols": {
            "type": "array",
            "description": "A list of visually detected symbols on the page.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageSymbol"
            }
          },
          "detectedBarcodes": {
            "type": "array",
            "description": "A list of detected barcodes.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
            }
          },
          "imageQualityScores": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageImageQualityScores"
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageAnchor": {
        "type": "object",
        "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
        "properties": {
          "pageRefs": {
            "type": "array",
            "description": "One or more references to visual page elements",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
        "type": "object",
        "description": "Represents a weak reference to a page element within a document.",
        "properties": {
          "page": {
            "type": "string",
            "format": "int64",
            "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json."
          },
          "layoutType": {
            "type": "string",
            "description": "Optional. The type of the layout element that is being referenced if any.",
            "enum": [
              "LAYOUT_TYPE_UNSPECIFIED",
              "BLOCK",
              "PARAGRAPH",
              "LINE",
              "TOKEN",
              "VISUAL_ELEMENT",
              "TABLE",
              "FORM_FIELD"
            ]
          },
          "layoutId": {
            "type": "string",
            "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
            "deprecated": true
          },
          "boundingPoly": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BoundingPoly"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageBlock": {
        "type": "object",
        "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
        "type": "object",
        "description": "A detected barcode.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "barcode": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1Barcode"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
        "type": "object",
        "description": "Detected language for a structural component.",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence of detected language. Range `[0, 1]`."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageDimension": {
        "type": "object",
        "description": "Dimension for the page.",
        "properties": {
          "width": {
            "type": "number",
            "format": "float",
            "description": "Page width."
          },
          "height": {
            "type": "number",
            "format": "float",
            "description": "Page height."
          },
          "unit": {
            "type": "string",
            "description": "Dimension unit."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageFormField": {
        "type": "object",
        "description": "A form field detected on the page.",
        "properties": {
          "fieldName": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "fieldValue": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "nameDetectedLanguages": {
            "type": "array",
            "description": "A list of detected languages for name together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "valueDetectedLanguages": {
            "type": "array",
            "description": "A list of detected languages for value together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "valueType": {
            "type": "string",
            "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
          },
          "correctedKeyText": {
            "type": "string",
            "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
          },
          "correctedValueText": {
            "type": "string",
            "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageImage": {
        "type": "object",
        "description": "Rendered image contents for this page.",
        "properties": {
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Raw byte content of the image."
          },
          "mimeType": {
            "type": "string",
            "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image."
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Width of the image in pixels."
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Height of the image in pixels."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
        "type": "object",
        "description": "Image quality scores for the page image.",
        "properties": {
          "qualityScore": {
            "type": "number",
            "format": "float",
            "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
          },
          "detectedDefects": {
            "type": "array",
            "description": "A list of detected defects.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
        "type": "object",
        "description": "Image Quality Defects",
        "properties": {
          "type": {
            "type": "string",
            "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageLayout": {
        "type": "object",
        "description": "Visual element describing a layout unit on a page.",
        "properties": {
          "textAnchor": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
          },
          "boundingPoly": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1BoundingPoly"
          },
          "orientation": {
            "type": "string",
            "description": "Detected orientation for the Layout.",
            "enum": [
              "ORIENTATION_UNSPECIFIED",
              "PAGE_UP",
              "PAGE_RIGHT",
              "PAGE_DOWN",
              "PAGE_LEFT"
            ]
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageLine": {
        "type": "object",
        "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageMatrix": {
        "type": "object",
        "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
        "properties": {
          "rows": {
            "type": "integer",
            "format": "int32",
            "description": "Number of rows in the matrix."
          },
          "cols": {
            "type": "integer",
            "format": "int32",
            "description": "Number of columns in the matrix."
          },
          "type": {
            "type": "integer",
            "format": "int32",
            "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "The matrix data."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageParagraph": {
        "type": "object",
        "description": "A collection of lines that a human would perceive as a paragraph.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageSymbol": {
        "type": "object",
        "description": "A detected symbol.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageTable": {
        "type": "object",
        "description": "A table representation similar to HTML table structure.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "headerRows": {
            "type": "array",
            "description": "Header rows of the table.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTableTableRow"
            }
          },
          "bodyRows": {
            "type": "array",
            "description": "Body rows of the table.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTableTableRow"
            }
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageTableTableCell": {
        "type": "object",
        "description": "A cell representation inside the table.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "rowSpan": {
            "type": "integer",
            "format": "int32",
            "description": "How many rows this cell spans."
          },
          "colSpan": {
            "type": "integer",
            "format": "int32",
            "description": "How many columns this cell spans."
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
        "type": "object",
        "description": "A row of table cells.",
        "properties": {
          "cells": {
            "type": "array",
            "description": "Cells that make up this row.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTableTableCell"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageToken": {
        "type": "object",
        "description": "A detected token.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "detectedBreak": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak"
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
          },
          "styleInfo": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
        "type": "object",
        "description": "Detected break at the end of a Token.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Detected break type.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "SPACE",
              "WIDE_SPACE",
              "HYPHEN"
            ]
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
        "type": "object",
        "description": "Font and other text style attributes.",
        "properties": {
          "fontSize": {
            "type": "integer",
            "format": "int32",
            "description": "Font size in points (`1` point is `\u00b9\u2044\u2087\u2082` inches)."
          },
          "pixelFontSize": {
            "type": "number",
            "format": "double",
            "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ \u00f7 `72.0`."
          },
          "letterSpacing": {
            "type": "number",
            "format": "double",
            "description": "Letter spacing in points."
          },
          "fontType": {
            "type": "string",
            "description": "Name or style of the font."
          },
          "bold": {
            "type": "boolean",
            "description": "Whether the text is bold (equivalent to font_weight is at least `700`)."
          },
          "italic": {
            "type": "boolean",
            "description": "Whether the text is italic."
          },
          "underlined": {
            "type": "boolean",
            "description": "Whether the text is underlined."
          },
          "strikeout": {
            "type": "boolean",
            "description": "Whether the text is strikethrough. This feature is not supported yet."
          },
          "subscript": {
            "type": "boolean",
            "description": "Whether the text is a subscript. This feature is not supported yet."
          },
          "superscript": {
            "type": "boolean",
            "description": "Whether the text is a superscript. This feature is not supported yet."
          },
          "smallcaps": {
            "type": "boolean",
            "description": "Whether the text is in small caps. This feature is not supported yet."
          },
          "fontWeight": {
            "type": "integer",
            "format": "int32",
            "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
          },
          "handwritten": {
            "type": "boolean",
            "description": "Whether the text is handwritten."
          },
          "textColor": {
            "$ref": "#/components/schemas/GoogleTypeColor"
          },
          "backgroundColor": {
            "$ref": "#/components/schemas/GoogleTypeColor"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentPageVisualElement": {
        "type": "object",
        "description": "Detected non-text visual elements, for example, checkbox, signature etc. on the page.",
        "properties": {
          "layout": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout"
          },
          "type": {
            "type": "string",
            "description": "Type of the VisualElement."
          },
          "detectedLanguages": {
            "type": "array",
            "description": "A list of detected languages together with confidence.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentProvenance": {
        "type": "object",
        "description": "Structure to identify provenance relationships between annotations in different revisions.",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int32",
            "description": "The index of the revision that produced this element.",
            "deprecated": true
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
            "deprecated": true
          },
          "parents": {
            "type": "array",
            "description": "References to the original elements that are replaced.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenanceParent"
            }
          },
          "type": {
            "type": "string",
            "description": "The type of provenance operation.",
            "enum": [
              "OPERATION_TYPE_UNSPECIFIED",
              "ADD",
              "REMOVE",
              "UPDATE",
              "REPLACE",
              "EVAL_REQUESTED",
              "EVAL_APPROVED",
              "EVAL_SKIPPED"
            ]
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentProvenanceParent": {
        "type": "object",
        "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int32",
            "description": "The index of the index into current revision's parent_ids list."
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The id of the parent provenance.",
            "deprecated": true
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentRevision": {
        "type": "object",
        "description": "Contains past or forward revisions of this document.",
        "properties": {
          "agent": {
            "type": "string",
            "description": "If the change was made by a person specify the name or id of that person."
          },
          "processor": {
            "type": "string",
            "description": "If the annotation was made by processor identify the processor by its resource name."
          },
          "id": {
            "type": "string",
            "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
          },
          "parent": {
            "type": "array",
            "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
            "deprecated": true,
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "parentIds": {
            "type": "array",
            "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
            "items": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The time that the revision was created, internally generated by doc proto storage at the time of create."
          },
          "humanReview": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentRevisionHumanReview"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
        "type": "object",
        "description": "Human Review information of the document.",
        "properties": {
          "state": {
            "type": "string",
            "description": "Human review state. For example, `requested`, `succeeded`, `rejected`."
          },
          "stateMessage": {
            "type": "string",
            "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentSchema": {
        "type": "object",
        "description": "The schema defines the output of the processed document by a processor.",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Display name to show users."
          },
          "description": {
            "type": "string",
            "description": "Description of the schema."
          },
          "entityTypes": {
            "type": "array",
            "description": "Entity types of the schema.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaEntityType"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaMetadata"
          },
          "documentPrompt": {
            "type": "string",
            "description": "Optional. Document level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentSchemaEntityType": {
        "type": "object",
        "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
        "properties": {
          "enumValues": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaEntityTypeEnumValues"
          },
          "displayName": {
            "type": "string",
            "description": "User defined name for the type."
          },
          "name": {
            "type": "string",
            "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility."
          },
          "baseTypes": {
            "type": "array",
            "description": "The entity type that this type is derived from. For now, one and only one should be set.",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "array",
            "description": "Description the nested structure, or composition of an entity.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaEntityTypeProperty"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentSchemaEntityTypeEnumValues": {
        "type": "object",
        "description": "Defines the a list of enum values.",
        "properties": {
          "values": {
            "type": "array",
            "description": "The individual values that this enum values type can include.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentSchemaEntityTypeProperty": {
        "type": "object",
        "description": "Defines properties that can be part of the entity type.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the property. Follows the same guidelines as the EntityType name."
          },
          "displayName": {
            "type": "string",
            "description": "User defined name for the property."
          },
          "valueType": {
            "type": "string",
            "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
          },
          "occurrenceType": {
            "type": "string",
            "description": "Occurrence type limits the number of instances an entity type appears in the document.",
            "enum": [
              "OCCURRENCE_TYPE_UNSPECIFIED",
              "OPTIONAL_ONCE",
              "OPTIONAL_MULTIPLE",
              "REQUIRED_ONCE",
              "REQUIRED_MULTIPLE"
            ]
          },
          "method": {
            "type": "string",
            "description": "Specifies how the entity's value is obtained.",
            "enum": [
              "METHOD_UNSPECIFIED",
              "EXTRACT",
              "DERIVE",
              "RELAXED_EXTRACT"
            ]
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentSchemaMetadata": {
        "type": "object",
        "description": "Metadata for global schema behavior.",
        "properties": {
          "documentSplitter": {
            "type": "boolean",
            "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification)."
          },
          "documentAllowMultipleLabels": {
            "type": "boolean",
            "description": "If true, on a given page, there can be multiple `document` annotations covering it."
          },
          "prefixedNamingOnProperties": {
            "type": "boolean",
            "description": "If set, all the nested entities must be prefixed with the parents."
          },
          "skipNamingValidation": {
            "type": "boolean",
            "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentShardInfo": {
        "type": "object",
        "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
        "properties": {
          "shardIndex": {
            "type": "string",
            "format": "int64",
            "description": "The 0-based index of this shard."
          },
          "shardCount": {
            "type": "string",
            "format": "int64",
            "description": "Total number of shards."
          },
          "textOffset": {
            "type": "string",
            "format": "int64",
            "description": "The index of the first character in Document.text in the overall document global text."
          },
          "pageOffset": {
            "type": "integer",
            "format": "int32",
            "description": "The index of the first page in Document.pages in the overall document global pages. Available for document shards created by the document splitter."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentStyle": {
        "type": "object",
        "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
        "properties": {
          "textAnchor": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor"
          },
          "color": {
            "$ref": "#/components/schemas/GoogleTypeColor"
          },
          "backgroundColor": {
            "$ref": "#/components/schemas/GoogleTypeColor"
          },
          "fontWeight": {
            "type": "string",
            "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`."
          },
          "textStyle": {
            "type": "string",
            "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`."
          },
          "textDecoration": {
            "type": "string",
            "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
          },
          "fontSize": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentStyleFontSize"
          },
          "fontFamily": {
            "type": "string",
            "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp"
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
        "type": "object",
        "description": "Font size with unit.",
        "properties": {
          "size": {
            "type": "number",
            "format": "float",
            "description": "Font size for the text."
          },
          "unit": {
            "type": "string",
            "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentTextAnchor": {
        "type": "object",
        "description": "Text reference indexing into the Document.text.",
        "properties": {
          "textSegments": {
            "type": "array",
            "description": "The text segments from the Document.text.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
            }
          },
          "content": {
            "type": "string",
            "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
        "type": "object",
        "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
        "properties": {
          "startIndex": {
            "type": "string",
            "format": "int64",
            "description": "TextSegment start UTF-8 char index in the Document.text."
          },
          "endIndex": {
            "type": "string",
            "format": "int64",
            "description": "TextSegment half open end UTF-8 char index in the Document.text."
          }
        }
      },
      "GoogleCloudDocumentaiV1DocumentTextChange": {
        "type": "object",
        "description": "This message is used for text changes aka. OCR corrections.",
        "properties": {
          "textAnchor": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor"
          },
          "changedText": {
            "type": "string",
            "description": "The text that replaces the text identified in the `text_anchor`."
          },
          "provenance": {
            "type": "array",
            "description": "The history of this annotation.",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1GcsDocument": {
        "type": "object",
        "description": "Specifies a document stored on Cloud Storage.",
        "properties": {
          "gcsUri": {
            "type": "string",
            "description": "The Cloud Storage object uri."
          },
          "mimeType": {
            "type": "string",
            "description": "An IANA MIME type (RFC6838) of the content."
          }
        }
      },
      "GoogleCloudDocumentaiV1GcsDocuments": {
        "type": "object",
        "description": "Specifies a set of documents on Cloud Storage.",
        "properties": {
          "documents": {
            "type": "array",
            "description": "The list of documents.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1GcsDocument"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1GcsPrefix": {
        "type": "object",
        "description": "Specifies all documents on Cloud Storage with a common prefix.",
        "properties": {
          "gcsUriPrefix": {
            "type": "string",
            "description": "The URI prefix."
          }
        }
      },
      "GoogleCloudDocumentaiV1HumanReviewStatus": {
        "type": "object",
        "description": "The status of human review on a processed document.",
        "properties": {
          "state": {
            "type": "string",
            "description": "The state of human review on the processing request.",
            "enum": [
              "STATE_UNSPECIFIED",
              "SKIPPED",
              "VALIDATION_PASSED",
              "IN_PROGRESS",
              "ERROR"
            ]
          },
          "stateMessage": {
            "type": "string",
            "description": "A message providing more details about the human review state."
          },
          "humanReviewOperation": {
            "type": "string",
            "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument."
          }
        }
      },
      "GoogleCloudDocumentaiV1ListProcessorTypesResponse": {
        "type": "object",
        "description": "Response message for the ListProcessorTypes method.",
        "properties": {
          "processorTypes": {
            "type": "array",
            "description": "The processor types.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessorType"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Points to the next page, otherwise empty."
          }
        }
      },
      "GoogleCloudDocumentaiV1NormalizedVertex": {
        "type": "object",
        "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
        "properties": {
          "x": {
            "type": "number",
            "format": "float",
            "description": "X coordinate."
          },
          "y": {
            "type": "number",
            "format": "float",
            "description": "Y coordinate (starts from the top of the image)."
          }
        }
      },
      "GoogleCloudDocumentaiV1OcrConfig": {
        "type": "object",
        "description": "Config for Document OCR.",
        "properties": {
          "hints": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1OcrConfigHints"
          },
          "enableNativePdfParsing": {
            "type": "boolean",
            "description": "Enables special handling for PDFs with existing text information. Results in better text extraction quality in such PDF inputs."
          },
          "enableImageQualityScores": {
            "type": "boolean",
            "description": "Enables intelligent document quality scores after OCR. Can help with diagnosing why OCR responses are of poor quality for a given input. Adds additional latency comparable to regular OCR to the process call."
          },
          "advancedOcrOptions": {
            "type": "array",
            "description": "A list of advanced OCR options to further fine-tune OCR behavior. Current valid values are: - `legacy_layout`: a heuristics layout detection algorithm, which serves as an alternative to the current ML-based layout detection algorithm. Customers can choose the best suitable layout algorithm based on their situation.",
            "items": {
              "type": "string"
            }
          },
          "enableSymbol": {
            "type": "boolean",
            "description": "Includes symbol level OCR information if set to true."
          },
          "computeStyleInfo": {
            "type": "boolean",
            "description": "Turn on font identification model and return font style information. Deprecated, use PremiumFeatures.compute_style_info instead.",
            "deprecated": true
          },
          "disableCharacterBoxesDetection": {
            "type": "boolean",
            "description": "Turn off character box detector in OCR engine. Character box detection is enabled by default in OCR 2.0 (and later) processors."
          },
          "premiumFeatures": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1OcrConfigPremiumFeatures"
          }
        }
      },
      "GoogleCloudDocumentaiV1OcrConfigHints": {
        "type": "object",
        "description": "Hints for OCR Engine",
        "properties": {
          "languageHints": {
            "type": "array",
            "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures": {
        "type": "object",
        "description": "Configurations for premium OCR features.",
        "properties": {
          "enableSelectionMarkDetection": {
            "type": "boolean",
            "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors."
          },
          "computeStyleInfo": {
            "type": "boolean",
            "description": "Turn on font identification model and return font style information."
          },
          "enableMathOcr": {
            "type": "boolean",
            "description": "Turn on the model that can extract LaTeX math formulas."
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessOptions": {
        "type": "object",
        "description": "Options for Process API",
        "properties": {
          "individualPageSelector": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector"
          },
          "fromStart": {
            "type": "integer",
            "format": "int32",
            "description": "Only process certain pages from the start. Process all if the document has fewer pages."
          },
          "fromEnd": {
            "type": "integer",
            "format": "int32",
            "description": "Only process certain pages from the end, same as above."
          },
          "ocrConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1OcrConfig"
          },
          "layoutConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig"
          },
          "schemaOverride": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1DocumentSchema"
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector": {
        "type": "object",
        "description": "A list of individual page numbers.",
        "properties": {
          "pages": {
            "type": "array",
            "description": "Optional. Indices of the pages (starting from 1).",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
        "type": "object",
        "description": "Serving config for layout parser processor.",
        "properties": {
          "chunkingConfig": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig"
          },
          "returnImages": {
            "type": "boolean",
            "description": "Optional. Whether to include images in layout parser processor response."
          },
          "returnBoundingBoxes": {
            "type": "boolean",
            "description": "Optional. Whether to include bounding boxes in layout parser processor response."
          },
          "enableImageAnnotation": {
            "type": "boolean",
            "description": "Optional. Whether to include image annotations in layout parser response."
          },
          "enableTableAnnotation": {
            "type": "boolean",
            "description": "Optional. Whether to include table annotations in layout parser response."
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig": {
        "type": "object",
        "description": "Serving config for chunking.",
        "properties": {
          "chunkSize": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The chunk sizes to use when splitting documents, in order of level."
          },
          "includeAncestorHeadings": {
            "type": "boolean",
            "description": "Optional. Whether or not to include ancestor headings when splitting."
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessRequest": {
        "type": "object",
        "description": "Request message for the ProcessDocument method.",
        "properties": {
          "inlineDocument": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1Document"
          },
          "rawDocument": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1RawDocument"
          },
          "gcsDocument": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1GcsDocument"
          },
          "skipHumanReview": {
            "type": "boolean",
            "description": "Whether human review should be skipped for this request. Default to `false`.",
            "deprecated": true
          },
          "fieldMask": {
            "type": "string",
            "format": "google-fieldmask",
            "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`."
          },
          "processOptions": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1ProcessOptions"
          },
          "labels": {
            "type": "object",
            "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "imagelessMode": {
            "type": "boolean",
            "description": "Optional. Option to remove images from the document."
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessResponse": {
        "type": "object",
        "description": "Response message for the ProcessDocument method.",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1Document"
          },
          "humanReviewStatus": {
            "$ref": "#/components/schemas/GoogleCloudDocumentaiV1HumanReviewStatus"
          }
        }
      },
      "GoogleCloudDocumentaiV1ProcessorType": {
        "type": "object",
        "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`"
          },
          "type": {
            "type": "string",
            "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
          },
          "category": {
            "type": "string",
            "description": "The processor category, used by UI to group processor types."
          },
          "availableLocations": {
            "type": "array",
            "description": "The locations in which this processor is available.",
[...]
