{
  "info": {
    "title": "General Relay",
    "version": "v1"
  },
  "openapi": "3.1.0",
  "paths": {
    "/v1/vessel": {
      "get": {
        "description": "Latest AIS position for one vessel by MMSI (?mmsi=, exactly nine decimal digits): latitude, longitude, speed, course, heading, report time, age_seconds, plus name, call sign, IMO and dimensions once a static report is seen. Coverage is a network of terrestrial VHF receivers, so vessels far from any receiver and most of the open ocean will miss. Latest position only, no history. You are charged only when a position is found: a miss settles nothing.",
        "parameters": [
          {
            "description": "The vessel's MMSI, exactly nine decimal digits, e.g. 366123456. Sent as text and never as a number: leading zeros are significant (009-prefixed identifiers are coast stations), so 002442000 and 2442000 are not the same vessel.",
            "in": "query",
            "name": "mmsi",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "call_sign": "MDZK7",
                  "dimensions": {
                    "beam": 32,
                    "bow": 172,
                    "length": 200,
                    "port": 16,
                    "starboard": 16,
                    "stern": 28
                  },
                  "first_seen": "2026-06-02T09:14:03Z",
                  "imo_number": 9394521,
                  "last_seen": "2026-08-10T14:03:53Z",
                  "mmsi": "232004521",
                  "name": "PACIFIC ENDEAVOUR",
                  "position": {
                    "age_seconds": 12,
                    "course_over_ground": 94.2,
                    "heading": 96,
                    "latitude": 51.4482,
                    "longitude": 0.7361,
                    "msg_type": 1,
                    "nav_status": 0,
                    "speed_over_ground": 11.4,
                    "time": "2026-08-10T14:03:53Z"
                  },
                  "ship_type": 70
                }
              }
            },
            "description": "Successful response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "summary": "Get the latest AIS position for one vessel by MMSI",
        "x-payment-info": {
          "offers": [
            {
              "amount": "5000",
              "currency": "USDC",
              "description": "up to 0.005 USDC",
              "feePayer": "HX97oTB6wbJ3TtP4sSSYfFuiBSvJYm4ShqyagXGrSQ8r",
              "intent": "charge",
              "method": "x402",
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "payTo": "9BpudpCnChrpp4KfnxAE3r2TXKJTLmvVpF8WSViuaJZ9",
              "scheme": "upto"
            }
          ]
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.generalrelay.xyz"
    }
  ]
}
