{
  "openapi": "3.1.0",
  "info": {
    "title": "QRCode.Pub tools for agents",
    "version": "1.0.0",
    "description": "Pay-per-call HTTP tools for AI agents: QR code images, web page → Markdown extraction and page metadata. USDC on Base or Solana via x402 (no account, no API key). Docs: https://qrcode.pub/qr-code-api#x402",
    "contact": {
      "name": "QRCode.Pub",
      "url": "https://qrcode.pub/qr-code-api#x402",
      "email": "starplayr@icloud.com"
    },
    "x-guidance": "Call any /x402/* endpoint with GET; a 402 answer carries the exact USDC amount and payTo in the PAYMENT-REQUIRED header. Pay with an x402 v2 client (e.g. @x402/fetch). 4xx answers are never charged."
  },
  "servers": [
    {
      "url": "https://qrcode.pub"
    }
  ],
  "paths": {
    "/api/qr": {
      "get": {
        "summary": "Generate a rate-limited QR code image",
        "description": "Free, rate-limited QR code image (PNG or SVG). Same parameters as /x402/qr. Prefer /x402/qr for unattended agents.",
        "security": [],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Text or URL to encode (max 2000 chars)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Pixels, 32-2000 (default 300)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Image format (default png)",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg"
              ]
            }
          },
          {
            "name": "ecc",
            "in": "query",
            "required": false,
            "description": "Error correction (default M)",
            "schema": {
              "type": "string",
              "enum": [
                "L",
                "M",
                "Q",
                "H"
              ]
            }
          },
          {
            "name": "margin",
            "in": "query",
            "required": false,
            "description": "Quiet zone in modules, 0-20 (default 4)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "description": "Foreground hex, e.g. 1a237e",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bgcolor",
            "in": "query",
            "required": false,
            "description": "Background hex, e.g. ffffff",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/png": {}
            }
          },
          "400": {
            "description": "Bad input (never charged)"
          }
        }
      }
    },
    "/x402": {
      "get": {
        "summary": "List the paid x402 endpoints and prices",
        "description": "Free JSON list of the paid endpoints with their x402 payment requirements and Bazaar schemas.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/x402/qr": {
      "get": {
        "summary": "Generate a QR code image (PNG or SVG)",
        "description": "QR code image (PNG or SVG) for any text or link. Same parameters as the free /api/qr: data, size (32-2000), format (png|svg), ecc (L|M|Q|H), margin (0-20), color, bgcolor.",
        "security": [],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Text or URL to encode (max 2000 chars)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Pixels, 32-2000 (default 300)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Image format (default png)",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg"
              ]
            }
          },
          {
            "name": "ecc",
            "in": "query",
            "required": false,
            "description": "Error correction (default M)",
            "schema": {
              "type": "string",
              "enum": [
                "L",
                "M",
                "Q",
                "H"
              ]
            }
          },
          {
            "name": "margin",
            "in": "query",
            "required": false,
            "description": "Quiet zone in modules, 0-20 (default 4)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "description": "Foreground hex, e.g. 1a237e",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bgcolor",
            "in": "query",
            "required": false,
            "description": "Background hex, e.g. ffffff",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/png": {}
            }
          },
          "400": {
            "description": "Bad input (never charged)"
          },
          "402": {
            "description": "Payment Required — x402 v2 PAYMENT-REQUIRED header (base64 JSON, also in the body); retry with PAYMENT-SIGNATURE"
          },
          "422": {
            "description": "Page could not be fetched or is not text (never charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xbE9a299e14b12F56a5B047c4bFFD8e715e2970a6"
              }
            },
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "Fx3ufwEQjfVRFhD9HGDVrEzRdkVsu6Hd8UnUDwC2nFMV"
              }
            }
          ]
        }
      }
    },
    "/x402/extract": {
      "get": {
        "summary": "Extract a web page as clean Markdown with links",
        "description": "Fetch a public web page and return its title, description, clean Markdown (scripts, styles, nav chrome removed) and the list of links. No model call, deterministic.",
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Public http(s) page to fetch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad input (never charged)"
          },
          "402": {
            "description": "Payment Required — x402 v2 PAYMENT-REQUIRED header (base64 JSON, also in the body); retry with PAYMENT-SIGNATURE"
          },
          "422": {
            "description": "Page could not be fetched or is not text (never charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xbE9a299e14b12F56a5B047c4bFFD8e715e2970a6"
              }
            },
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "Fx3ufwEQjfVRFhD9HGDVrEzRdkVsu6Hd8UnUDwC2nFMV"
              }
            }
          ]
        }
      }
    },
    "/x402/meta": {
      "get": {
        "summary": "Fetch web page metadata (OpenGraph, Twitter, icons, JSON-LD)",
        "description": "Fetch a public web page and return its metadata: title, description, canonical URL, language, OpenGraph and Twitter card tags, icons and parsed JSON-LD blocks.",
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Public http(s) page to fetch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad input (never charged)"
          },
          "402": {
            "description": "Payment Required — x402 v2 PAYMENT-REQUIRED header (base64 JSON, also in the body); retry with PAYMENT-SIGNATURE"
          },
          "422": {
            "description": "Page could not be fetched or is not text (never charged)"
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xbE9a299e14b12F56a5B047c4bFFD8e715e2970a6"
              }
            },
            {
              "x402": {
                "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                "payTo": "Fx3ufwEQjfVRFhD9HGDVrEzRdkVsu6Hd8UnUDwC2nFMV"
              }
            }
          ]
        }
      }
    }
  }
}
