{
 "openapi": "3.1.0",
 "info": {
  "title": "Japan Weather Forecast & Warnings API",
  "description": "Japanese weather forecasts, meteorological warnings/advisories, and weather discussions, sourced live from 気象庁 (Japan Meteorological Agency). x402-enabled for AI agents that plan travel, logistics, events, or alerts around Japanese weather.",
  "version": "1.0.0",
  "contact": {
   "name": "MAMETA",
   "url": "https://github.com/Mameta29/agentic-market-jp"
  }
 },
 "servers": [
  {
   "url": "https://weather.agentic-jp.com"
  }
 ],
 "tags": [
  {
   "name": "japan"
  },
  {
   "name": "jp"
  },
  {
   "name": "weather"
  },
  {
   "name": "forecast"
  },
  {
   "name": "jma"
  },
  {
   "name": "meteorology"
  }
 ],
 "paths": {
  "/forecast/{area}": {
   "get": {
    "operationId": "GET__forecast_area",
    "summary": "Get the JMA weather forecast for a Japanese area",
    "description": "Get the Japanese (JP) weather forecast for a region — today's conditions, near-term outlook, and a 7-day weekly forecast with temperatures and precipitation probability. Sourced live from 気象庁 (Japan Meteorological Agency / JMA). Accepts a JMA office code or a Japanese/English region name.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "area",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "JMA area code or Japanese place-name alias (e.g. 130000 or 東京)"
     }
    ]
   }
  },
  "/overview/{area}": {
   "get": {
    "operationId": "GET__overview_area",
    "summary": "Get the JMA weather overview text for a Japanese area",
    "description": "Get the official 気象庁 (JMA) narrative weather discussion (気象概況) for a Japanese (JP) region, with a concise AI-readable English/Japanese summary.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "area",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "JMA area code or Japanese place-name alias (e.g. 130000 or 東京)"
     }
    ]
   }
  },
  "/warnings/{area}": {
   "get": {
    "operationId": "GET__warnings_area",
    "summary": "List active JMA weather warnings for a Japanese area",
    "description": "List active meteorological warnings and advisories (気象警報・注意報) for a Japanese (JP) region — heavy rain, storm, snow, flood, storm surge, emergency (特別警報) tiers — sourced live from 気象庁 (JMA).",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.005",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "parameters": [
     {
      "name": "area",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "JMA area code or Japanese place-name alias (e.g. 130000 or 東京)"
     }
    ]
   }
  },
  "/areas": {
   "get": {
    "operationId": "GET__areas",
    "summary": "List Japanese forecast areas and aliases",
    "description": "List every JMA forecast office (府県予報区) in Japan with its code, Japanese/English name, and class10 sub-regions. Use this to discover valid `:area` values.",
    "x-payment-info": {
     "pricingMode": "fixed",
     "price": "0.001",
     "currency": "USD",
     "protocols": [
      "x402"
     ]
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    }
   }
  },
  "/batch": {
   "post": {
    "operationId": "POST__batch",
    "summary": "Get weather for multiple Japanese areas in one call",
    "description": "Fetch weather forecasts for many Japanese (JP) regions in one request (up to 50). Dynamic pricing by item count with a volume discount.",
    "x-payment-info": {
     "pricingMode": "quote",
     "currency": "USD",
     "protocols": [
      "x402"
     ],
     "description": "$0.003 × item count × 0.8"
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "402": {
      "description": "Payment required (x402). Payment requirements are in the base64-encoded Payment-Required response header."
     }
    },
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "items": {
          "type": "array",
          "description": "Areas to forecast in one call (max 50). Each item has an `id` (echoed back) and an `area` (JMA office code or region name)."
         }
        },
        "required": [
         "items"
        ],
        "type": "object"
       },
       "example": {
        "items": [
         {
          "id": "tk",
          "area": "130000"
         },
         {
          "id": "os",
          "area": "大阪"
         }
        ]
       }
      }
     }
    }
   }
  }
 }
}
