{
  "openapi": "3.1.0",
  "info": {
    "title": "Milypay AU Address",
    "description": "Milypay Australian address API over G-NAF (16.9M addresses): validate, search/autocomplete, and geocode Australian postal addresses. Returns canonical form, GNAF PID, and coordinates as JSON over x402.",
    "version": "1.0.0",
    "contact": {
      "name": "Milypay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "Milypay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "Milypay production API"
    }
  ],
  "paths": {
    "/au-address/validate": {
      "get": {
        "operationId": "validateAddress",
        "summary": "Validate an Australian address against G-NAF",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1 Bligh Street Sydney NSW 2000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical address + geocode"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    },
    "/au-address/search": {
      "get": {
        "operationId": "searchAddress",
        "summary": "Search Australian addresses (autocomplete)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "120 collins st melbourne"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked address matches"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    },
    "/au-address/geocode": {
      "get": {
        "operationId": "geocodeAddress",
        "summary": "Geocode an Australian address",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "200 Adelaide St Brisbane"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latitude and longitude"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    }
  }
}
