{
  "openapi": "3.1.0",
  "info": {
    "title": "Wisely x402 Agent-Payment Infrastructure",
    "version": "1.1.0-pay-sh",
    "description": "Solana-compatible paid API resources for Pay.sh, backed by Wisely's broader x402/MCP agent-payment infrastructure."
  },
  "servers": [
    {
      "url": "https://payments.wiselyenterprisesllc.com"
    }
  ],
  "paths": {
    "/paid/precious-metal-risk-score": {
      "post": {
        "tags": [
          "x402"
        ],
        "summary": "Score precious-metal marketplace risk",
        "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
        "responses": {
          "200": {
            "description": "Paid resource response."
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.25"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
          "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "assetSymbol": "USD Coin",
            "assetAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "0x122c67ad0DD3bA27bfCaCcCD9aFd9c3fd99216Fa",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USD Coin",
              "version": "2",
              "assetTransferMethod": "eip3009"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdc",
            "assetSymbol": "USDC",
            "assetAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USDC",
              "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdt",
            "assetSymbol": "USDT",
            "assetAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USDT",
              "mint": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "weightGrams": {
                    "type": "number"
                  },
                  "purityPercent": {
                    "type": "number"
                  },
                  "localSilverSellBackPerTroyOz": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/paid/revenue-radar-brief": {
      "get": {
        "tags": [
          "x402"
        ],
        "summary": "Fetch paid revenue radar brief",
        "description": "Latest paid revenue opportunity radar brief.",
        "responses": {
          "200": {
            "description": "Paid resource response."
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$1.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
          "description": "Latest paid revenue opportunity radar brief.",
          "mimeType": "text/markdown"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "assetSymbol": "USD Coin",
            "assetAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "0x122c67ad0DD3bA27bfCaCcCD9aFd9c3fd99216Fa",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USD Coin",
              "version": "2",
              "assetTransferMethod": "eip3009"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdc",
            "assetSymbol": "USDC",
            "assetAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USDC",
              "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdt",
            "assetSymbol": "USDT",
            "assetAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USDT",
              "mint": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          }
        ]
      }
    }
  }
}
