{
  "openapi": "3.1.0",
  "info": {
    "title": "Wisely x402 Agent-Payment Infrastructure",
    "version": "1.1.0-pay-sh",
    "description": "Solana and Base-compatible paid API resources for Pay.sh, backed by Wisely's broader x402/MCP agent-payment infrastructure.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://payments.wiselyenterprisesllc.com"
    }
  ],
  "paths": {
    "/paid/precious-metal-risk-score": {
      "post": {
        "tags": [
          "x402"
        ],
        "operationId": "scorePreciousMetalRisk",
        "summary": "Score precious-metal marketplace risk",
        "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paid precious-metal risk score response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "score": {
                      "type": "number",
                      "description": "Risk score where a higher value indicates a riskier marketplace listing."
                    },
                    "riskLevel": {
                      "type": "string",
                      "description": "Human-readable risk band when available."
                    },
                    "findings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "receipt": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          }
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.25"
        },
        "x-x402Version": 2,
        "x-resource": {
          "url": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
          "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
          "mimeType": "application/json"
        },
        "x-accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "assetSymbol": "USD Coin",
            "assetAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "0x122c67ad0DD3bA27bfCaCcCD9aFd9c3fd99216Fa",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USD Coin",
              "version": "2",
              "assetTransferMethod": "eip3009"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdc",
            "assetSymbol": "USDC",
            "assetAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USDC",
              "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdt",
            "assetSymbol": "USDT",
            "assetAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
            "amount": "250000",
            "maxAmountRequired": "250000",
            "amountUsd": 0.25,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/precious-metal-risk-score",
            "description": "eBay precious-metal risk score with Phoenix silver exit-price logic.",
            "extra": {
              "name": "USDT",
              "mint": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "additionalProperties": true,
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Marketplace listing title or short item description."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Public-safe listing notes, hallmarks, seller details, photos summary, or risk context."
                  },
                  "weightGrams": {
                    "type": "number"
                  },
                  "purityPercent": {
                    "type": "number"
                  },
                  "localSilverSellBackPerTroyOz": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/paid/revenue-radar-brief": {
      "get": {
        "tags": [
          "x402"
        ],
        "operationId": "getRevenueRadarBrief",
        "summary": "Fetch paid revenue radar brief",
        "description": "Latest paid revenue opportunity radar brief.",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paid revenue radar brief response.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Markdown brief containing current revenue opportunities, constraints, and suggested next actions."
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          }
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$1.00"
        },
        "x-x402Version": 2,
        "x-resource": {
          "url": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
          "description": "Latest paid revenue opportunity radar brief.",
          "mimeType": "text/markdown"
        },
        "x-accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "assetSymbol": "USD Coin",
            "assetAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bda02913",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "0x122c67ad0DD3bA27bfCaCcCD9aFd9c3fd99216Fa",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USD Coin",
              "version": "2",
              "assetTransferMethod": "eip3009"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdc",
            "assetSymbol": "USDC",
            "assetAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USDC",
              "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "asset": "usdt",
            "assetSymbol": "USDT",
            "assetAddress": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
            "amount": "1000000",
            "maxAmountRequired": "1000000",
            "amountUsd": 1,
            "payTo": "HE9MYDzoLAgnwbRXbiWRGGvoE2QE9LqKdQGJhNLPxtVj",
            "maxTimeoutSeconds": 60,
            "resource": "https://payments.wiselyenterprisesllc.com/paid/revenue-radar-brief",
            "description": "Latest paid revenue opportunity radar brief.",
            "extra": {
              "name": "USDT",
              "mint": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkYk1D1W52TxD7iSH",
              "decimals": 6,
              "assetTransferMethod": "spl-token-transfer"
            }
          }
        ]
      }
    }
  },
  "components": {
    "responses": {
      "X402PaymentRequired": {
        "description": "HTTP 402 x402 payment challenge. The caller should choose a supported `x-accepts` route, sign/pay with its wallet, then retry the same request with the payment proof in `X-PAYMENT`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/X402PaymentRequired"
            }
          }
        }
      }
    },
    "schemas": {
      "X402PaymentRequired": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "x402Version",
          "reason",
          "resource",
          "accepts"
        ],
        "properties": {
          "x402Version": {
            "type": "integer",
            "examples": [
              2
            ]
          },
          "reason": {
            "type": "string",
            "examples": [
              "missing_x_payment_header"
            ]
          },
          "resource": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "examples": [
                  "POST",
                  "GET"
                ]
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": [
                "scheme",
                "network",
                "asset",
                "amount",
                "payTo",
                "resource"
              ],
              "properties": {
                "scheme": {
                  "type": "string",
                  "examples": [
                    "exact"
                  ]
                },
                "network": {
                  "type": "string",
                  "examples": [
                    "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "eip155:8453"
                  ]
                },
                "asset": {
                  "type": "string"
                },
                "assetSymbol": {
                  "type": "string"
                },
                "assetAddress": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "maxAmountRequired": {
                  "type": "string"
                },
                "amountUsd": {
                  "type": "number"
                },
                "payTo": {
                  "type": "string"
                },
                "resource": {
                  "type": "string",
                  "format": "uri"
                },
                "maxTimeoutSeconds": {
                  "type": "integer"
                },
                "extra": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "facilitatorUrl": {
            "type": "string",
            "format": "uri"
          },
          "note": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT",
        "description": "x402 payment proof header supplied after the initial HTTP 402 challenge."
      }
    }
  }
}
