{
  "openapi": "3.1.0",
  "info": {
    "title": "Lobster Gacha",
    "version": "v1",
    "description": "Provably fair Solana gacha API with SHA-256+blockhash commitments, CLAWD token prizes, Metaplex Core NFT minting, and live Phoenix DEX perpetuals data. Part of the CLAWD ecosystem (solanaclawd.com, cheshireterminal.ai, x402.wtf).",
    "contact": { "url": "https://solanaclawd.com" }
  },
  "servers": [
    { "url": "https://gacha.solanaclawd.com", "description": "Production" }
  ],
  "paths": {
    "/api/pull": {
      "post": {
        "operationId": "gachaPull",
        "summary": "Execute a provably fair gacha pull",
        "description": "Execute 1× or 10× provably fair gacha pulls. Each card is committed via SHA-256(wallet:spinIndex:blockhash) against a live Solana blockhash — verifiable client-side with no server trust. Winners receive CLAWD token prizes (common=100, rare=1000, epic=5000, legendary=50000) and optional Metaplex Core NFT minting. Legendary wins trigger Streamflow vesting. Requires x402 USDC payment on Solana mainnet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet"],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "description": "Base58-encoded Solana wallet public key for prize delivery and commitment binding.",
                    "example": "11111111111111111111111111111112"
                  },
                  "count": {
                    "type": "integer",
                    "enum": [1, 10],
                    "default": 1,
                    "description": "Number of pulls. 10x guarantees at least Rare on the final card (pity system)."
                  }
                }
              },
              "example": { "wallet": "11111111111111111111111111111112", "count": 1 }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful gacha result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cards": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["name", "rarity", "clawdPrize", "commitment"],
                            "properties": {
                              "name": { "type": "string", "example": "CLAWD Supreme" },
                              "rarity": {
                                "type": "string",
                                "enum": ["common", "rare", "epic", "legendary"],
                                "description": "common=60%, rare=25%, epic=12%, legendary=3%"
                              },
                              "clawdPrize": { "type": "integer", "example": 50000 },
                              "commitment": { "type": "string", "description": "SHA-256 hex of wallet:spinIndex:blockhash" },
                              "narrative": { "type": "string" },
                              "metaplexNftMint": { "type": "string", "nullable": true }
                            }
                          }
                        },
                        "blockhash": { "type": "string" },
                        "commitment": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Payment required — x402 USDC on Solana mainnet ($0.0025 per pull)." },
          "400": { "description": "Invalid request." }
        }
      }
    },
    "/api/perps": {
      "get": {
        "operationId": "perpsMarketData",
        "summary": "Phoenix DEX perpetuals market data",
        "description": "Live Phoenix DEX perpetuals proxy returning ticker prices, funding rates, OHLCV candles, and TA indicators (RSI, MACD, Bollinger Bands) for SOL, BTC, and ETH markets. Powers agent trading signals on cheshireterminal.ai.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "market/ticker/SOL" },
            "description": "Command path: market/ticker/{SYMBOL}, market/funding-rates/{SYMBOL}, market/candles/{SYMBOL}, ta/report/{SYMBOL}. Symbols: SOL, BTC, ETH."
          },
          {
            "name": "interval",
            "in": "query",
            "schema": { "type": "string", "enum": ["1m", "5m", "15m", "1h", "4h", "1d"], "default": "1h" },
            "description": "Candle interval for market/candles and ta/report."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
            "description": "Number of records to return."
          },
          {
            "name": "with_indicators",
            "in": "query",
            "schema": { "type": "string", "example": "rsi,macd" },
            "description": "Comma-separated TA indicators to include: rsi, macd, bbands."
          }
        ],
        "responses": {
          "200": {
            "description": "Market data. Shape varies by cmd — ticker returns price/volume/fundingRate, candles returns OHLCV array, ta/report returns indicator values with long/short signal.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "400": { "description": "Invalid cmd or unsupported symbol." }
        }
      }
    }
  }
}
