{
  "openapi": "3.1.0",
  "info": {
    "title": "Milypay AU BSB",
    "description": "Milypay Australian BSB lookup and search over 17,000+ AusPayNet directory entries. Returns bank name, branch, address, and supported payment methods (paper, electronic, high-value) as JSON over x402.",
    "version": "1.0.0",
    "contact": {
      "name": "Milypay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "Milypay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "Milypay production API"
    }
  ],
  "paths": {
    "/au-bsb/{bsb}": {
      "get": {
        "operationId": "lookupBsb",
        "summary": "Look up an Australian BSB",
        "parameters": [
          {
            "name": "bsb",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "012-002"
            },
            "description": "BSB with or without hyphen"
          }
        ],
        "responses": {
          "200": {
            "description": "BSB record"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    },
    "/au-bsb/search": {
      "get": {
        "operationId": "searchBsb",
        "summary": "Search BSBs by bank, branch, or suburb",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "commonwealth melbourne"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching BSBs"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.004
                }
              ]
            }
          ]
        }
      }
    }
  }
}
