{
  "openapi": "3.1.0",
  "info": {
    "title": "Cheshire Terminal Paid API",
    "version": "1.0.0",
    "description": "Stablecoin-gated SOL-GPT Cheshire Terminal endpoints. Canonical production is https://solgpt.us; https://solgpt.trade and https://x402.life are live production aliases. Unpaid calls return HTTP 402 with x402 and/or MPP Solana USDC challenges. Paper modes may skip live settlement when configured. Monthly SPONGE_API_KEY mint is POST /api/sponge/keys ($4.20 base / $20 premium, USDC or $CLAWD burn).",
    "contact": {
      "name": "Cheshire Terminal",
      "url": "https://solgpt.us"
    }
  },
  "servers": [
    {
      "url": "https://solgpt.us",
      "description": "Production (canonical)"
    },
    {
      "url": "https://solgpt.trade",
      "description": "Production alias"
    },
    {
      "url": "https://x402.life",
      "description": "Production alias"
    }
  ],
  "paths": {
    "/api/browser-run/run": {
      "post": {
        "operationId": "browserRun",
        "summary": "Run a cloud browser agent task",
        "description": "Start a Browser Run cloud-browser agent job. Unpaid requests return 402 with Solana USDC x402 accepts (and optional paper rail). Paid or CLAWD-holder free path returns a run session.",
        "tags": ["browser-run"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["task"],
                "properties": {
                  "task": {
                    "type": "string",
                    "description": "Natural-language browser task for the agent",
                    "minLength": 1,
                    "example": "Open https://example.com and summarize the page title"
                  },
                  "walletAddress": {
                    "type": "string",
                    "description": "Optional Solana wallet for CLAWD free-holder check"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser run accepted or completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 / paper challenge for Solana USDC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.042000"
          },
          "protocols": [
            { "x402": {} },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    },
    "/api/dark-clawd/mpp/charge": {
      "post": {
        "operationId": "darkClawdMppCharge",
        "summary": "Create a Dark Clawd MPP charge challenge",
        "description": "Returns an MPP Solana USDC charge challenge (and paper mode metadata when configured). Retry with Authorization: Payment after settling.",
        "tags": ["dark-clawd"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge accepted after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "MPP Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            { "x402": {} },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    },
    "/api/dark-clawd/mpp/trade/plan": {
      "post": {
        "operationId": "darkClawdTradePlan",
        "summary": "Create a paid Dark Clawd trade plan",
        "description": "MPP-gated trade planning endpoint. Unpaid calls return 402 with Solana USDC challenge; after payment returns a structured trade plan.",
        "tags": ["dark-clawd"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade plan after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "MPP Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            { "x402": {} },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    },
    "/api/sponge/keys": {
      "post": {
        "operationId": "mintSpongeApiKey",
        "summary": "Create a monthly SPONGE_API_KEY",
        "description": "Unpaid requests return 402 with Solana USDC and $CLAWD-burn accepts. Default tier is base ($4.20 / 30d). Set tier=premium for $20 / 30d. After payment returns sgk_… once. payTo is SPONGE_PAYMENT_WALLET. Merchant SOLgpt.",
        "tags": ["sponge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": ["base", "premium"],
                    "description": "base = $4.20 / 30d, premium = $20 / 30d"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key minted after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 / MPP Solana USDC or $CLAWD burn",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "4.200000"
          },
          "protocols": [
            { "x402": {} },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    }
  }
}
