{
  "openapi": "3.1.0",
  "info": {
    "title": "Cheshire Terminal Paid API",
    "version": "1.0.0",
    "description": "Stablecoin-gated Cheshire Terminal endpoints. Unpaid calls return HTTP 402 with x402 and/or MPP Solana USDC challenges. Paper modes may skip live settlement when configured.",
    "contact": {
      "name": "Cheshire Terminal",
      "email": "operators@cheshireterminal.ai",
      "url": "https://cheshireterminal.ai"
    }
  },
  "servers": [
    {
      "url": "https://cheshireterminal.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/browser-run/run": {
      "post": {
        "operationId": "browserRun",
        "summary": "Run a cloud browser agent task",
        "description": "Start a Browser Run cloud-browser agent job. Unpaid requests return 402 with Solana USDC x402 accepts (and optional paper rail). Paid or CLAWD-holder free path returns a run session.",
        "tags": [
          "browser-run"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "task"
                ],
                "properties": {
                  "task": {
                    "type": "string",
                    "description": "Natural-language browser task for the agent",
                    "minLength": 1,
                    "example": "Open https://example.com and summarize the page title"
                  },
                  "walletAddress": {
                    "type": "string",
                    "description": "Optional Solana wallet for CLAWD free-holder check"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser run accepted or completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required \u2014 x402 / paper challenge for Solana USDC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.042000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    },
    "/api/dark-clawd/mpp/charge": {
      "post": {
        "operationId": "darkClawdMppCharge",
        "summary": "Create a Dark Clawd MPP charge challenge",
        "description": "Returns an MPP Solana USDC charge challenge (and paper mode metadata when configured). Retry with Authorization: Payment after settling.",
        "tags": [
          "dark-clawd"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge accepted after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "MPP Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    },
    "/api/dark-clawd/mpp/trade/plan": {
      "post": {
        "operationId": "darkClawdTradePlan",
        "summary": "Create a paid Dark Clawd trade plan",
        "description": "MPP-gated trade planning endpoint. Unpaid calls return 402 with Solana USDC challenge; after payment returns a structured trade plan.",
        "tags": [
          "dark-clawd"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade plan after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "MPP Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ]
        }
      }
    }
  }
}
