{
 "openapi": "3.1.0",
 "info": {
  "title": "OnchainPulse API",
  "description": "Intelligence API for the onchain financial transition. Decodes legislation, tracks RWA tokenization, models sector scenarios, guides onchain integration, tracks crypto ETF flows and the CLARITY Act. All endpoints require x402 payment (USDC on Base mainnet) via the PAYMENT-SIGNATURE header.",
  "version": "1.3.0",
  "contact": {
   "email": "info@theaslangroupllc.com"
  }
 },
 "servers": [
  {
   "url": "https://onchainpulse.theaslangroupllc.com"
  }
 ],
 "paths": {
  "/api/legislation": {
   "get": {
    "summary": "Translate crypto bills to plain English with sector impact",
    "description": "Searches Congress.gov and real-time sources to translate any pending or enacted legislation into plain English with sector impact analysis and passage probability. Global: US, EU, UK, Singapore, UAE.",
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "description": "Bill name or topic (e.g. 'GENIUS Act', 'stablecoin regulation', 'MiCA')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "jurisdiction",
      "in": "query",
      "description": "Jurisdiction to focus on",
      "schema": {
       "type": "string",
       "enum": [
        "us",
        "eu",
        "uk",
        "sg",
        "uae",
        "global"
       ],
       "default": "us"
      }
     },
     {
      "name": "action",
      "in": "query",
      "description": "Type of analysis",
      "schema": {
       "type": "string",
       "enum": [
        "summary",
        "status",
        "impact",
        "timeline"
       ],
       "default": "summary"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "description": "Response language (ISO 639-1 code)",
      "schema": {
       "type": "string",
       "default": "en"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Legislative intelligence brief"
     },
     "402": {
      "description": "Payment required",
      "headers": {
       "PAYMENT-REQUIRED": {
        "description": "x402 payment requirements",
        "schema": {
         "type": "string"
        }
       }
      }
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "legislation"
   }
  },
  "/api/rwa": {
   "get": {
    "summary": "Survey the real-world-asset market across asset classes",
    "description": "Tracks the tokenized RWA market with live DefiLlama protocol data. Covers institutional moves by BlackRock, DTCC, JPMorgan, BNY Mellon, State Street, and others. Broad and cheap; for product-level depth see /api/rwa-yield (yield comparison), /api/rwa-risk (issuer/redemption risk), and /api/gold-check (tokenized gold).",
    "parameters": [
     {
      "name": "action",
      "in": "query",
      "description": "Analysis type",
      "schema": {
       "type": "string",
       "enum": [
        "market",
        "asset-class",
        "institutional",
        "pipeline"
       ],
       "default": "market"
      }
     },
     {
      "name": "asset_class",
      "in": "query",
      "description": "Specific asset class focus (e.g. 'US Treasuries', 'real estate', 'private credit')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "RWA market intelligence brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "rwa"
   }
  },
  "/api/rwa-yield": {
   "get": {
    "summary": "Compare tokenized treasury/MMF yields: BUIDL, USDY, OUSG",
    "description": "Compares tokenized-treasury and money-market-fund yields live-aggregated from DeFiLlama across every chain deployment of each product (min/max/TVL-weighted APY range, never a single stale figure), combined with spot-checked issuer, minimum-investment, and eligibility facts. No competitor sells this as a pay-per-call product (rwa.xyz is $500/mo, DeFiLlama Pro is $300/mo).",
    "parameters": [
     {
      "name": "action",
      "in": "query",
      "description": "Analysis type",
      "schema": {
       "type": "string",
       "enum": [
        "compare",
        "product",
        "eligibility"
       ],
       "default": "compare"
      }
     },
     {
      "name": "product",
      "in": "query",
      "description": "Focus on one product",
      "schema": {
       "type": "string",
       "enum": [
        "BUIDL",
        "USDY",
        "OUSG",
        "USYC",
        "USTB",
        "BENJI"
       ]
      }
     },
     {
      "name": "jurisdiction",
      "in": "query",
      "description": "Eligibility framing",
      "schema": {
       "type": "string",
       "enum": [
        "us",
        "non-us",
        "global"
       ],
       "default": "global"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Tokenized-treasury yield comparison brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.2,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "rwaYield"
   }
  },
  "/api/rwa-risk": {
   "get": {
    "summary": "Assess issuer and redemption risk for a named RWA product",
    "description": "Issuer/redemption risk read for a named tokenized RWA product: issuer entity and regulator, redemption mechanics, NAV publication method (issuer-marked vs independent oracle), attestation cadence, chain/bridge risk across multi-chain deployments, and a Goldfinch-style honesty note contrasting stated aggregate loss rates against real depositor outcomes for opaque-NAV/private-credit-style products. Core facts come from a spot-checked static issuer profile, not LLM memory; Tavily supplies recent developments only.",
    "parameters": [
     {
      "name": "product",
      "in": "query",
      "description": "Product to analyze",
      "schema": {
       "type": "string",
       "enum": [
        "BUIDL",
        "USDY",
        "OUSG",
        "USYC",
        "USTB",
        "BENJI"
       ],
       "default": "BUIDL"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Issuer/redemption risk brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.25,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "rwaRisk"
   }
  },
  "/api/gold-check": {
   "get": {
    "summary": "Compare tokenized gold products: PAXG vs XAUT",
    "description": "Compares tokenized gold products on live market cap and price vs. a live spot-gold reference (signed premium/discount, honestly labeled if derived from a fallback), attestation freshness (KPMG monthly for PAXG since 2026-02-28, vs BDO Italia quarterly ISAE 3000 for XAUT), and vault/custody facts.",
    "parameters": [
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Tokenized gold comparison brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "goldCheck"
   }
  },
  "/api/scenario": {
   "get": {
    "summary": "Model sector impact scenarios with if/then analysis",
    "description": "Models the structural sector impact of regulatory developments or institutional events. No investment advice. Describes entity types and business models that are advantaged or face headwinds.",
    "parameters": [
     {
      "name": "trigger",
      "in": "query",
      "description": "The development to model (e.g. 'GENIUS Act passes', 'DTCC full tokenization launch', 'MiCA enforcement begins')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sector",
      "in": "query",
      "description": "Sector to focus on, or 'all' for comprehensive coverage",
      "schema": {
       "type": "string",
       "default": "all"
      }
     },
     {
      "name": "action",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "ifthen",
        "probability",
        "timeline"
       ],
       "default": "ifthen"
      },
      "description": "action parameter"
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Sector impact scenario brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.2,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "scenario"
   }
  },
  "/api/transition": {
   "get": {
    "summary": "Guide practical onchain onboarding by organization type",
    "description": "Step-by-step practical guidance for entering the onchain economy. Covers individuals (self-custody, stablecoins), businesses (payments, treasury), developers (Base/Ethereum), and payment integration.",
    "parameters": [
     {
      "name": "type",
      "in": "query",
      "description": "Type of transition",
      "schema": {
       "type": "string",
       "enum": [
        "individual",
        "business",
        "developer",
        "payment"
       ],
       "default": "individual"
      }
     },
     {
      "name": "context",
      "in": "query",
      "description": "Additional context about the user's situation",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Transition guide with steps, tools, and jurisdiction notes"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.1,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "transition"
   }
  },
  "/api/monitor": {
   "get": {
    "summary": "Monitor institutional onchain activity, weekly briefs",
    "description": "Synthesizes recent institutional onchain developments: tokenization launches, regulatory updates, infrastructure milestones, product announcements from major banks, asset managers, and exchanges.",
    "parameters": [
     {
      "name": "period",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "week",
        "month"
       ],
       "default": "week"
      },
      "description": "period parameter"
     },
     {
      "name": "topic",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "rwa",
        "legislation",
        "institutional",
        "all"
       ],
       "default": "all"
      },
      "description": "topic parameter"
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Institutional activity brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.1,
    "x-payment": "x402",
    "x-agent-use-case": "scheduled",
    "operationId": "monitor"
   }
  },
  "/api/compliance": {
   "get": {
    "summary": "Map regulatory compliance duties by jurisdiction",
    "description": "Provides regulatory framework intelligence for crypto, stablecoin, and tokenized asset activities by jurisdiction. Covers MiCA (EU), GENIUS Act (US), FCA registration (UK), MAS PSA (Singapore), VARA (UAE). Educational intelligence, not legal advice.",
    "parameters": [
     {
      "name": "jurisdiction",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "us",
        "eu",
        "uk",
        "sg",
        "uae",
        "global"
       ],
       "default": "us"
      },
      "description": "jurisdiction parameter"
     },
     {
      "name": "use_case",
      "in": "query",
      "description": "What the entity wants to do (e.g. 'issue a stablecoin', 'operate a crypto exchange', 'accept USDC payments')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "framework",
      "in": "query",
      "description": "Specific framework to focus on (e.g. 'MiCA', 'GENIUS Act')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Compliance framework intelligence"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "compliance"
   }
  },
  "/api/tokenize": {
   "get": {
    "summary": "Explain how to tokenize any asset type, step by step",
    "description": "Explains how tokenization works for specific asset types. Covers process, legal structure, platforms, honest costs, and liquidity reality for real estate, equities, bonds, funds, commodities, and more.",
    "parameters": [
     {
      "name": "asset_type",
      "in": "query",
      "description": "Asset type to analyze (e.g. 'real estate', 'equity', 'bond', 'private credit', 'art')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "action",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "guide",
        "platforms",
        "process",
        "legal"
       ],
       "default": "guide"
      },
      "description": "action parameter"
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Tokenization intelligence brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "tokenize"
   }
  },
  "/api/yield": {
   "get": {
    "summary": "Compare tokenized yields with live risk-adjusted rates",
    "description": "Analyzes the tokenized yield landscape using live DefiLlama data. Covers tokenized T-bills (BUIDL, BENJI, ONDO, USDY), stablecoin yields (Aave, Compound), and money market funds. Risk-adjusted comparison.",
    "parameters": [
     {
      "name": "action",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "stablecoin",
        "tbill",
        "compare",
        "risk"
       ],
       "default": "compare"
      },
      "description": "action parameter"
     },
     {
      "name": "risk",
      "in": "query",
      "description": "Risk tolerance for recommendations framing",
      "schema": {
       "type": "string",
       "enum": [
        "low",
        "medium",
        "high"
       ],
       "default": "medium"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Yield landscape intelligence"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.25,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "yield"
   }
  },
  "/api/etf-flows": {
   "get": {
    "summary": "Track US spot crypto ETF flows with per-issuer detail",
    "description": "Daily/weekly net flows for US spot BTC, ETH, and SOL ETFs: live per-issuer breakdown (IBIT, FBTC, ARKB, ETHA, and more — AUM, fees, daily/cumulative flow), deterministic streak and accelerating/decelerating trend classification, and a cross-asset rotation read. Source: SoSoValue's live feed (Farside is Cloudflare-gated to non-browser fetches).",
    "parameters": [
     {
      "name": "asset",
      "in": "query",
      "description": "Which ETF complex to analyze",
      "schema": {
       "type": "string",
       "enum": [
        "btc",
        "eth",
        "sol",
        "all"
       ],
       "default": "all"
      }
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "ETF flow intelligence brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.15,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "etfFlows"
   }
  },
  "/api/clarity-watch": {
   "get": {
    "summary": "Track CLARITY Act status, CFTC/SEC split, passage odds",
    "description": "US crypto market-structure legislation tracker: live CLARITY Act (H.R.3633) status and dated milestone history straight from congress.gov, what the bill actually changes (CFTC/SEC jurisdiction, digital-commodity definition), GENIUS Act stablecoin interplay, and a live Polymarket passage-odds read. Deterministic facts kept separate from synthesized outlook.",
    "parameters": [
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "CLARITY Act watch brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.1,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "clarityWatch"
   }
  },
  "/api/glossary": {
   "get": {
    "summary": "Decode any onchain finance or regulatory term plainly",
    "description": "Translates any financial, regulatory, or technical term related to blockchain, tokenization, and onchain finance into plain English. Includes analogy, concrete 2026 example, common misconception, and depth levels for beginner/intermediate/advanced.",
    "parameters": [
     {
      "name": "term",
      "in": "query",
      "description": "Term to explain (e.g. 'atomic settlement', 'MiCA', 'CASP', 'yield bearing stablecoin', 'RWA')",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "regulatory",
        "technical",
        "financial",
        "general"
       ],
       "default": "general"
      },
      "description": "context parameter"
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Plain English term explanation"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.05,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "glossary"
   }
  },
  "/api/snapshot": {
   "get": {
    "summary": "Summarize the onchain transition in a weekly macro brief",
    "description": "Comprehensive macro brief on where traditional finance is in its onchain journey. Scores infrastructure, regulation, institutional adoption, and retail access. Regional breakdown for US, EU, Asia, and emerging markets.",
    "parameters": [
     {
      "name": "scope",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "us",
        "eu",
        "global"
       ],
       "default": "global"
      },
      "description": "scope parameter"
     },
     {
      "name": "timeframe",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "weekly",
        "monthly"
       ],
       "default": "weekly"
      },
      "description": "timeframe parameter"
     },
     {
      "name": "lang",
      "in": "query",
      "schema": {
       "type": "string",
       "default": "en"
      },
      "description": "lang parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "State of the transition macro brief"
     },
     "402": {
      "description": "Payment required"
     }
    },
    "x-price-usd": 0.1,
    "x-payment": "x402",
    "x-agent-use-case": "on-demand",
    "operationId": "snapshot"
   }
  },
  "/api/memecoin": {
   "get": {
    "summary": "Scan a Solana memecoin pre-trade, deterministic verdict",
    "parameters": [
     {
      "name": "PAYMENT-SIGNATURE",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "x402 payment signature. OPTIONAL on the first request: call without it to receive HTTP 402 with payment terms, then retry with this header set. Strict clients must not require it up front."
     },
     {
      "name": "mint",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
      "description": "SPL token mint address (base58)"
     }
    ],
    "responses": {
     "200": {
      "description": "Deterministic CLEAR/CAUTION/AVOID verdict + is_safe + risk_score, with safety (mint/freeze authority, LP lock, rug score, danger risks), holder concentration, and live momentum (liquidity, buy/sell flow, age). Fuses RugCheck + Solana RPC + DexScreener."
     },
     "402": {
      "description": "$0.015"
     }
    },
    "x-agent-use-case": "An autonomous Solana trading agent calls this before buying any memecoin to get an instant rug/honeypot + momentum read as one decisive verdict.",
    "x-price-usd": 0.015,
    "operationId": "memecoin"
   }
  },
  "/api/evmtoken": {
   "get": {
    "summary": "Scan an EVM token pre-trade, multi-chain, deterministic",
    "parameters": [
     {
      "name": "PAYMENT-SIGNATURE",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "x402 payment signature. OPTIONAL on the first request: call without it to receive HTTP 402 with payment terms, then retry with this header set. Strict clients must not require it up front."
     },
     {
      "name": "address",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "0x532f27101965dd16442E59d40670FaF5eBB142E4",
      "description": "ERC-20 token contract address (0x + 40 hex)"
     },
     {
      "name": "chain",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "base",
        "ethereum",
        "bsc",
        "arbitrum",
        "polygon",
        "optimism",
        "avalanche"
       ],
       "default": "base"
      },
      "example": "base",
      "description": "EVM chain (default base)"
     }
    ],
    "responses": {
     "200": {
      "description": "Deterministic CLEAR/CAUTION/AVOID verdict + is_safe + risk_score, with safety (honeypot/sell-sim, buy/sell tax, open-source, proxy, mint, ownership renounced, pausable, blacklist, LP lock/burn — owner-gated risks marked dormant when renounced), holder concentration, and live momentum. Fuses GoPlus Token Security + DexScreener."
     },
     "402": {
      "description": "$0.015"
     }
    },
    "x-agent-use-case": "An autonomous Base/EVM trading agent calls this before buying any token to get an instant honeypot/rug + momentum read as one decisive verdict, across 7 EVM chains.",
    "x-price-usd": 0.015,
    "operationId": "evmtoken"
   }
  }
 },
 "components": {
  "securitySchemes": {
   "x402": {
    "type": "apiKey",
    "in": "header",
    "name": "PAYMENT-SIGNATURE",
    "description": "x402 payment signature. USDC on Base mainnet. See /.well-known/agent.json for payment details."
   }
  }
 },
 "security": [
  {
   "x402": []
  }
 ]
}