{
  "openapi": "3.1.0",
  "info": {
    "title": "MilyPay AU Super",
    "description": "MilyPay Australian super fund lookup by ABN from the ATO Super Fund Lookup register. Returns fund name, status, type, complying status, and USIs as JSON for agents over x402 on Solana.",
    "version": "1.0.0",
    "contact": {
      "name": "MilyPay",
      "url": "https://milypay.xyz",
      "email": "hello@milysec.com"
    },
    "x-brand": "MilyPay"
  },
  "servers": [
    {
      "url": "https://api.milypay.xyz",
      "description": "MilyPay production API"
    }
  ],
  "paths": {
    "/au-super/abn/{abn}": {
      "get": {
        "operationId": "lookupSuperFund",
        "summary": "Look up an Australian super fund by ABN",
        "parameters": [
          {
            "name": "abn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "65714394898"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Super fund record"
          },
          "402": {
            "description": "Payment Required (x402)"
          }
        },
        "x-pricing": {
          "dimensions": [
            {
              "direction": "usage",
              "unit": "requests",
              "scale": 1,
              "tiers": [
                {
                  "price_usd": 0.002
                }
              ]
            }
          ]
        }
      }
    }
  }
}
