{
  "openapi": "3.1.0",
  "info": {
    "title": "Apify",
    "version": "1.0.0",
    "description": "Apify is the largest and most trusted marketplace of tools for web scraping, crawling, data extraction, and automation. Buy a prepaid, spend-capped Apify API token to unlock Actors that extract structured data from social media, e-commerce sites, search engines, maps, travel sites, or any other website — turning the open web into a real-time data source for research, lead generation, and monitoring. Get started: buy a token and start calling Actors in seconds.",
    "x-guidance": "Buy a prepaid, spend-capped Apify API token by paying for it with an agentic payment protocol. Call GET /protocols/x402/prepaid-tokens?amount=<usd>&currency=usd (x402 rail) or /protocols/mpp/prepaid-tokens?amount=<usd>&currency=usd (MPP rail, Tempo or Solana). With no payment credential the endpoint returns a 402 challenge; satisfy it and retry the same request to receive a token. The amount is buyer-chosen (minimum $1); tokens expire in 14 days. Use the returned token as Authorization: Bearer <token> against https://api.apify.com. Read the remaining balance at GET /prepaid-tokens/balance with the same bearer token.",
    "contact": {
      "email": "ai@apify.com"
    }
  },
  "servers": [
    {
      "url": "https://agi.apify.com"
    }
  ],
  "paths": {
    "/protocols": {
      "get": {
        "operationId": "listProtocols",
        "tags": [
          "protocols"
        ],
        "summary": "List supported payment protocols",
        "security": [],
        "responses": {
          "200": {
            "description": "Supported protocols.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "name",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "protocols"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/protocols/x402/prepaid-tokens": {
      "post": {
        "operationId": "buyPrepaidTokenWithX402",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Buy a prepaid token with x402",
        "description": "Buy access to Apify's Actors with x402. Send `{\"amount\":\"<usd>\",\"currency\":\"usd\"}` as a JSON body (or `?amount=<usd>&currency=usd` in the query). Returns a 402 x402 challenge without `payment-signature`; returns an Apify API token after a valid x402 exact payment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d{1,2})?$",
                    "description": "Prepaid amount in USD (e.g. \"5\" or \"1.50\"). Minimum $1.",
                    "example": "2"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd"
                    ],
                    "description": "Payment currency. Only \"usd\" is supported.",
                    "example": "usd"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ],
                "additionalProperties": false
              },
              "example": {
                "amount": "2",
                "currency": "usd"
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "1.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Prepaid Apify API token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Apify API token; use as Authorization: Bearer <token>."
                    },
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "token",
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid amount or currency."
          },
          "402": {
            "description": "x402 payment challenge.",
            "headers": {
              "payment-required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 payment-required JSON."
              }
            }
          }
        }
      }
    },
    "/protocols/mpp/prepaid-tokens": {
      "post": {
        "operationId": "buyPrepaidTokenWithMpp",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Buy a prepaid token with MPP",
        "description": "Buy access to Apify's Actors with MPP. Send `{\"amount\":\"<usd>\",\"currency\":\"usd\"}` as a JSON body (or `?amount=<usd>&currency=usd` in the query). Returns a 402 MPP challenge without `Authorization: Payment`; returns an Apify API token after a valid Tempo or Solana charge payment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d{1,2})?$",
                    "description": "Prepaid amount in USD (e.g. \"5\" or \"1.50\"). Minimum $1.",
                    "example": "2"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd"
                    ],
                    "description": "Payment currency. Only \"usd\" is supported.",
                    "example": "usd"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ],
                "additionalProperties": false
              },
              "example": {
                "amount": "2",
                "currency": "usd"
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "1.00"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USD"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Prepaid Apify API token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Apify API token; use as Authorization: Bearer <token>."
                    },
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "token",
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid amount or currency."
          },
          "402": {
            "description": "MPP payment challenge.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP payment challenge."
              }
            }
          }
        }
      }
    },
    "/prepaid-tokens/balance": {
      "get": {
        "operationId": "readPrepaidTokenBalance",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Read prepaid token balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Prepaid token balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
