{
  "openapi": "3.1.0",
  "info": {
    "title": "Apify",
    "version": "1.0.0",
    "description": "Apify is the largest and most trusted marketplace of tools for web scraping, crawling, data extraction, and automation. Buy a prepaid, spend-capped Apify API token to unlock Actors that extract structured data from social media, e-commerce sites, search engines, maps, travel sites, or any other website — turning the open web into a real-time data source for research, lead generation, and monitoring. Get started: buy a token and start calling Actors in seconds.",
    "x-guidance": "Buy a prepaid, spend-capped Apify API token by paying for it with an agentic payment protocol. Call POST /protocols/x402/prepaid-tokens?amount=<usd>&currency=usd (x402 rail) or POST /protocols/mpp/prepaid-tokens?amount=<usd>&currency=usd (MPP rail, Tempo or Solana). With no payment credential the endpoint returns a 402 challenge; satisfy it and retry the same request to receive a token. The amount is buyer-chosen (minimum $1); tokens expire in 14 days. Use the returned token as Authorization: Bearer <token> against https://api.apify.com. Read the remaining balance at GET /prepaid-tokens/balance with the same bearer token. To skip the token entirely and pay for one Actor run instead, POST /api-proxy/actors/{actorId}/runs?amount=<usd>&currency=usd with the Actor input as the JSON body: this uses x402 batch-settlement escrow (Base only), where amount is a ceiling and you are billed for actual usage (minimum $0.001 per used run). It returns {\"receipt\":\"...\"}; poll GET /api-proxy/runs/{receipt} until it answers 200 with the Actor's dataset (202 means still running). That read is single-use.",
    "contact": {
      "email": "ai@apify.com"
    }
  },
  "x-discovery": {
    "ownershipProofs": [
      "0x26ff25556adcd6c65e36827f4eb09c2cee6d156b846d4bed437ed9fa7b1025b3082a50231805fa7aeb476e7a77513f6a171462a252c06e500f0859d094b7a88b1c",
      "2YCw66uP57DCy3ARZa95yn847LSoM7bvpzBsGqZ7nBxraMr9AGzHBDcszXFbaCe42JFTHT9DdscLMvV2LY1ycjq7"
    ]
  },
  "servers": [
    {
      "url": "https://agi.apify.com"
    }
  ],
  "paths": {
    "/protocols": {
      "get": {
        "operationId": "listProtocols",
        "tags": [
          "protocols"
        ],
        "summary": "List supported payment protocols",
        "security": [],
        "responses": {
          "200": {
            "description": "Supported protocols.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "name",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "protocols"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/protocols/x402/prepaid-tokens": {
      "post": {
        "operationId": "buyPrepaidTokenWithX402",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Buy a prepaid token with x402",
        "description": "Buy access to Apify's Actors with x402. Send `{\"amount\":\"<usd>\",\"currency\":\"usd\"}` as a JSON body (or `?amount=<usd>&currency=usd` in the query). Returns a 402 x402 challenge without `payment-signature`; returns an Apify API token after a valid x402 exact payment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d{1,2})?$",
                    "description": "Prepaid amount in USD (e.g. \"5\" or \"1.50\"). Minimum $1.",
                    "example": "2"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd"
                    ],
                    "description": "Payment currency. Only \"usd\" is supported.",
                    "example": "usd"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ],
                "additionalProperties": false
              },
              "example": {
                "amount": "2",
                "currency": "usd"
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "1.00"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Prepaid Apify API token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Apify API token; use as Authorization: Bearer <token>."
                    },
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "token",
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "headers": {
              "payment-response": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settle result (success, transaction, network, payer)."
              }
            }
          },
          "202": {
            "description": "Payment submitted but not yet confirmed; no token yet. Retry the same request shortly."
          },
          "400": {
            "description": "Invalid amount or currency."
          },
          "402": {
            "description": "x402 payment challenge.",
            "headers": {
              "payment-required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 payment-required JSON."
              }
            }
          }
        }
      }
    },
    "/protocols/mpp/prepaid-tokens": {
      "post": {
        "operationId": "buyPrepaidTokenWithMpp",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Buy a prepaid token with MPP",
        "description": "Buy access to Apify's Actors with MPP. Send `{\"amount\":\"<usd>\",\"currency\":\"usd\"}` as a JSON body (or `?amount=<usd>&currency=usd` in the query). Returns a 402 MPP challenge without `Authorization: Payment`; returns an Apify API token after a valid Tempo or Solana charge payment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d{1,2})?$",
                    "description": "Prepaid amount in USD (e.g. \"5\" or \"1.50\"). Minimum $1.",
                    "example": "2"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd"
                    ],
                    "description": "Payment currency. Only \"usd\" is supported.",
                    "example": "usd"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ],
                "additionalProperties": false
              },
              "example": {
                "amount": "2",
                "currency": "usd"
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "1.00"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USD"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Prepaid Apify API token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Apify API token; use as Authorization: Bearer <token>."
                    },
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "token",
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "202": {
            "description": "Payment submitted but not yet confirmed; no token yet. Retry the same request shortly."
          },
          "400": {
            "description": "Invalid amount or currency."
          },
          "402": {
            "description": "MPP payment challenge.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "MPP payment challenge."
              }
            }
          }
        }
      }
    },
    "/api-proxy/actors/{actorId}/runs": {
      "post": {
        "operationId": "startProxiedActorRun",
        "tags": [
          "proxied-runs"
        ],
        "summary": "Start a proxied Actor run (batch-settlement)",
        "description": "Run an Apify Actor and get its dataset result, paid with x402 batch-settlement escrow (Base only). `amount` is the escrow ceiling, not the expected cost - you are billed for actual usage, at least $0.001 for a run that used anything. Send the Actor's JSON input as the request body. Returns a 402 batch-settlement challenge without `payment-signature`; returns `{\"receipt\":\"...\"}` after a valid voucher or deposit. One request at a time per payment channel (a second gets 409). Unused balance stays in the channel and is refunded after 24h idle.",
        "parameters": [
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Apify Actor ID or `username~actor-name`."
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+(\\.\\d{1,2})?$"
            },
            "example": "2",
            "description": "Escrow ceiling in USD - not the expected cost."
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usd"
              ]
            }
          },
          {
            "name": "build",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Actor build tag or number."
          },
          {
            "name": "memory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Run memory in MB."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Run timeout in seconds; capped by the service."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "The Actor's JSON input, passed through unchanged."
              },
              "example": {}
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "1.00"
          },
          "protocols": [
            {
              "x402": {
                "scheme": "batch-settlement"
              }
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Run accepted; poll the receipt for the result.",
            "headers": {
              "payment-response": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settle result. A batch-settlement client reads it to learn the channel charge for its next voucher."
              }
            }
          },
          "202": {
            "description": "Payment received but settlement is still pending; retry shortly."
          },
          "400": {
            "description": "Invalid amount or currency."
          },
          "402": {
            "description": "x402 batch-settlement payment challenge.",
            "headers": {
              "payment-required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 payment-required JSON."
              }
            }
          },
          "409": {
            "description": "One request at a time per payment channel: the previous run is still open (until about 6 minutes after its result is fetched); retry after Retry-After, or use a different `salt` for a parallel run."
          },
          "502": {
            "description": "Could not start the Actor run; nothing was charged."
          }
        }
      }
    },
    "/api-proxy/runs/{receipt}": {
      "get": {
        "operationId": "pollProxiedActorRun",
        "tags": [
          "proxied-runs"
        ],
        "summary": "Poll for a proxied Actor run's result",
        "description": "Poll a receipt returned by starting a proxied run. Reading the result revokes further access.",
        "parameters": [
          {
            "name": "receipt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque receipt string returned by POST /api-proxy/actors/{actorId}/runs."
          }
        ],
        "responses": {
          "200": {
            "description": "The Actor's dataset result. This is the only successful read."
          },
          "202": {
            "description": "Still running."
          },
          "401": {
            "description": "The result was already picked up (narrow race on a concurrent read)."
          },
          "404": {
            "description": "Unknown receipt."
          },
          "410": {
            "description": "Already picked up, or past the pickup window."
          }
        }
      }
    },
    "/prepaid-tokens/balance": {
      "get": {
        "operationId": "readPrepaidTokenBalance",
        "tags": [
          "prepaid-tokens"
        ],
        "summary": "Read prepaid token balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Prepaid token balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "remainingBalanceUsd": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "remainingBalanceUsd",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
