{
 "openapi": "3.1.0",
 "info": {
  "title": "CryptoPulse API",
  "description": "Global cryptocurrency intelligence API. 10 endpoints: DeFi yield farming across Ethereum/Base/Arbitrum/Solana (DeFiLlama live TVL + APY), personalized strategy builder, crypto security framework (with Ledger/Trezor hardware wallet links), threat intelligence, exchange comparison (with Coinbase/Gemini/Kraken/Binance exchange affiliate links, experience-aware), crypto tax guidance for 20+ countries (with Koinly/CoinLedger tax software links), beginner onboarding (exchange links), spending guide, crypto-friendly banking, and merchant payment setup. Powered by CoinGecko, DeFiLlama, Fear & Greed Index, and Tavily. All require x402 micropayment (USDC on Base).",
  "version": "1.2.0",
  "contact": {
   "url": "https://cryptopulse.theaslangroupllc.com"
  }
 },
 "servers": [
  {
   "url": "https://cryptopulse.theaslangroupllc.com"
  }
 ],
 "components": {
  "securitySchemes": {
   "x402": {
    "type": "apiKey",
    "in": "header",
    "name": "PAYMENT-SIGNATURE",
    "description": "x402 payment signature. Send a GET request without this header to receive a 402 with payment requirements. Sign the payment and retry with the PAYMENT-SIGNATURE header."
   }
  }
 },
 "security": [
  {
   "x402": []
  }
 ],
 "paths": {
  "/api/yield": {
   "get": {
    "summary": "Compare live DeFi yields with risk-adjusted rankings",
    "description": "Real-time DeFi yield opportunities ranked by risk-adjusted return across protocols and chains. Includes Berachain PoL spotlight, protocol TVL data, and entry steps.",
    "operationId": "yield",
    "parameters": [
     {
      "name": "chain",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "all"
      },
      "description": "Filter by chain: ethereum, base, arbitrum, berachain, solana, or all"
     },
     {
      "name": "risk",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "conservative",
        "moderate",
        "aggressive"
       ],
       "default": "moderate"
      },
      "description": "Risk profile filter"
     }
    ],
    "responses": {
     "200": {
      "description": "DeFi yield opportunities with rankings and entry steps"
     },
     "402": {
      "description": "Payment required. Respond with PAYMENT-SIGNATURE to proceed."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1,
    "x-agent-chaining": "Pair with /api/security to ensure self-custody setup before depositing into protocols"
   }
  },
  "/api/strategy": {
   "get": {
    "summary": "Build a personalized DeFi strategy for goals and risk",
    "description": "Custom DeFi allocation plan with step-by-step entry paths for your capital, risk tolerance, and goals. Agent-executable output.",
    "operationId": "strategy",
    "parameters": [
     {
      "name": "capital",
      "in": "query",
      "required": false,
      "schema": {
       "type": "number",
       "default": 10000
      },
      "description": "Capital in USD"
     },
     {
      "name": "risk",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "conservative",
        "moderate",
        "aggressive"
       ],
       "default": "moderate"
      },
      "description": "risk parameter"
     },
     {
      "name": "chain",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "all"
      },
      "description": "chain parameter"
     },
     {
      "name": "goal",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "yield",
        "growth",
        "stable",
        "privacy"
       ],
       "default": "yield"
      },
      "description": "goal parameter"
     },
     {
      "name": "timeframe",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 180
      },
      "description": "Investment timeframe in days"
     }
    ],
    "responses": {
     "200": {
      "description": "Personalized DeFi strategy with allocations and entry/exit paths"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.2,
    "x-agent-chaining": "Follow with /api/yield for specific DeFi pools matching the recommended strategy"
   }
  },
  "/api/security": {
   "get": {
    "summary": "Scan token/address risk and harden self-custody setup",
    "description": "Live on-chain risk scan via GoPlus when a token or wallet address is provided: honeypot/rug/tax traps for tokens, sanctions/phishing/mixer screening for addresses, across 7 EVM chains. Plus hardware wallet selection, seed phrase storage, multi-sig setup, and smart contract approval hygiene tailored to holdings value.",
    "operationId": "security",
    "parameters": [
     {
      "name": "value_tier",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "small",
        "medium",
        "large",
        "institutional"
       ],
       "default": "medium"
      },
      "description": "Approximate holdings value tier used to calibrate custody recommendations"
     },
     {
      "name": "setup",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "exchange custody"
      },
      "description": "Current custody setup description"
     },
     {
      "name": "token",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Optional token contract address to risk-scan via GoPlus (honeypot, buy/sell tax, mint/rug traps)"
     },
     {
      "name": "address",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Optional wallet address to screen via GoPlus (sanctions, phishing, mixer, malicious activity)"
     },
     {
      "name": "chain",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ethereum",
        "bsc",
        "base",
        "polygon",
        "arbitrum",
        "optimism",
        "avalanche"
       ],
       "default": "ethereum"
      },
      "description": "EVM chain for the token/address scan (default ethereum)"
     }
    ],
    "responses": {
     "200": {
      "description": "Security framework with prioritized action list; when token/address supplied, includes token_risk and address_risk GoPlus scan results"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1,
    "x-agent-chaining": "Response includes Ledger/Trezor hardware wallet links for self-custody"
   }
  },
  "/api/threats": {
   "get": {
    "summary": "Report current crypto threats and active scam patterns",
    "description": "Current attack vectors, scam patterns, and defense playbook for crypto holders. Includes phishing, drainers, SIM swap, rug pulls, and more.",
    "operationId": "threats",
    "parameters": [
     {
      "name": "category",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "all"
      },
      "description": "Threat category: phishing, drainer, sim_swap, rug_pull, flash_loan, or all"
     }
    ],
    "responses": {
     "200": {
      "description": "Threat intelligence with defenses and incident response"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "scheduled",
    "x-price-usd": 0.1
   }
  },
  "/api/exchange": {
   "get": {
    "summary": "Compare crypto exchanges on fees, custody, jurisdiction",
    "description": "Compare crypto exchanges by country, priority, and experience level. Includes fees, security record, regulatory status, and fiat on-ramp options.",
    "operationId": "exchange",
    "parameters": [
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "priority",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "fees",
        "security",
        "altcoin_selection",
        "beginner_friendly",
        "derivatives",
        "fiat_ramp"
       ],
       "default": "security"
      },
      "description": "priority parameter"
     },
     {
      "name": "experience",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "beginner",
        "intermediate",
        "advanced"
       ],
       "default": "beginner"
      },
      "description": "experience parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Exchange comparison with fee table and security recommendations"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1,
    "x-agent-chaining": "Response includes exchange affiliate links matched to experience level (beginner/trader)"
   }
  },
  "/api/tax": {
   "get": {
    "summary": "Explain crypto tax treatment for a given jurisdiction",
    "description": "Jurisdiction-specific tax obligations, optimization strategies (tax loss harvesting, cost basis methods), and reporting tool recommendations.",
    "operationId": "tax",
    "parameters": [
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "activities",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "hold,trade"
      },
      "description": "Comma-separated: hold, trade, defi, mining, staking, nft, business"
     },
     {
      "name": "tax_year",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Tax year e.g. 2026. Defaults to current year."
     }
    ],
    "responses": {
     "200": {
      "description": "Tax guidance with obligations, strategies, and tool recommendations"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.2,
    "x-agent-chaining": "Response includes Koinly/CoinLedger tax software links; supports 20+ countries"
   }
  },
  "/api/onboard": {
   "get": {
    "summary": "Guide a first-time crypto buyer from zero to first hold",
    "description": "End-to-end guide for new crypto buyers: exchange selection, KYC walkthrough, first purchase, wallet setup, and DCA plan.",
    "operationId": "onboard",
    "parameters": [
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "goal",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "invest",
        "use daily",
        "learn",
        "business"
       ],
       "default": "invest"
      },
      "description": "goal parameter"
     },
     {
      "name": "experience",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "complete_beginner",
        "some_knowledge",
        "experienced"
       ],
       "default": "complete_beginner"
      },
      "description": "experience parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Onboarding guide with exchange recommendation and DCA plan"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1,
    "x-agent-chaining": "Response includes Coinbase/Gemini/Kraken exchange links; follow with /api/security for self-custody setup"
   }
  },
  "/api/spend": {
   "get": {
    "summary": "Find where to spend crypto and how to pay with it",
    "description": "Best crypto debit cards, merchant acceptance, gift card platforms, and bill pay options by country.",
    "operationId": "spend",
    "parameters": [
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "use_case",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "daily spending"
      },
      "description": "use_case parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Spending options with card comparison and tax implications"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1
   }
  },
  "/api/banking": {
   "get": {
    "summary": "Find crypto-friendly banks and fiat on/off ramps",
    "description": "Banks and neobanks with high crypto tolerance, de-banking risk assessment, and on/off ramp alternatives by country.",
    "operationId": "banking",
    "parameters": [
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "profile",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "personal",
        "business",
        "crypto-heavy",
        "casual"
       ],
       "default": "personal"
      },
      "description": "profile parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Banking recommendations with de-banking risk and on-ramp options"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1
   }
  },
  "/api/merchant": {
   "get": {
    "summary": "Set up crypto payment acceptance for a merchant",
    "description": "Compare crypto payment processors for your business type: BTCPay Server, Coinbase Commerce, NOWPayments, Strike, and more.",
    "operationId": "merchant",
    "parameters": [
     {
      "name": "business_type",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "ecommerce"
      },
      "description": "business_type parameter"
     },
     {
      "name": "country",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "US"
      },
      "description": "country parameter"
     },
     {
      "name": "integration",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ecommerce",
        "physical_pos",
        "freelance",
        "api"
       ],
       "default": "ecommerce"
      },
      "description": "integration parameter"
     }
    ],
    "responses": {
     "200": {
      "description": "Processor comparison with setup guide and settlement strategy"
     },
     "402": {
      "description": "Payment required."
     }
    },
    "x-agent-use-case": "on-demand",
    "x-price-usd": 0.1
   }
  },
  "/api/research-brief": {
   "get": {
    "summary": "Deliver an institutional crypto brief: spot, derivs, flows",
    "description": "Premium multi-source crypto market intelligence brief for advisor/trading agents. Returns regime, key levels, catalysts, derivatives positioning, on-chain flows, risks and opportunities as structured JSON.",
    "x-agent-use-case": "on-demand",
    "parameters": [
     {
      "name": "assets",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "example": "BTC,ETH"
      },
      "description": "Comma-separated focus assets"
     },
     {
      "name": "horizon",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "intraday",
        "1week",
        "1month"
       ],
       "example": "1week"
      },
      "description": "Analysis horizon"
     },
     {
      "name": "focus",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "spot",
        "derivatives",
        "onchain",
        "macro"
       ],
       "example": "all"
      },
      "description": "Lens to emphasize"
     },
     {
      "name": "lang",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Response language code"
     }
    ],
    "responses": {
     "200": {
      "description": "Decision-ready research brief (JSON)."
     },
     "402": {
      "description": "Payment required — x402 USDC ($0.50)."
     }
    },
    "x-price-usd": 0.5,
    "operationId": "researchBrief"
   }
  }
 }
}