{
  "openapi": "3.1.0",
  "info": {
    "title": "Cleared Video Generation API",
    "version": "1.0.0",
    "description": "Agentic AI video rendering infrastructure driven by programmable x402 payment cycles.",
    "x-guidance": "To generate a video, execute a paid POST request to the desired resolution and task endpoint (e.g., /wan/t2v/480p). The response will return a 'job_id'. Use this ID to poll GET /wan/jobs/{job_id} until status is 'completed'. Finally, GET /wan/jobs/{job_id}/result to retrieve the MP4 video_url.",
    "contact": {
      "email": "contact@cleared.ink"
    }
  },
  "servers": [
    {
      "url": "https://cleared.ink"
    }
  ],
  "paths": {
    "/wan/i2v/480p": {
      "post": {
        "operationId": "imageToVideo480p",
        "summary": "Generate a Wan Image-to-Video Job (480p)",
        "tags": ["Video Generation"],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.010000" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Motion instructions for the source image."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Remote URL of the source image to animate."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Optional deterministic seed."
                  }
                },
                "required": ["prompt", "image_url"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/wan/i2v/720p": {
      "post": {
        "operationId": "imageToVideo720p",
        "summary": "Generate a Wan Image-to-Video Job (720p)",
        "tags": ["Video Generation"],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.050000" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Motion instructions for the high-resolution source image."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Remote URL of the source image to animate."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Optional deterministic seed."
                  }
                },
                "required": ["prompt", "image_url"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/wan/t2v/480p": {
      "post": {
        "operationId": "textToVideo480p",
        "summary": "Generate a Wan Text-to-Video Job (480p)",
        "tags": ["Video Generation"],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.010000" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text narrative to transform entirely into a video sequence."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Explicit descriptions of features to exclude from render."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Deterministic generation seed value."
                  },
                  "enable_prompt_expansion": {
                    "type": "boolean",
                    "description": "Flags whether the LLM enhancer expands prompt metadata."
                  }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/wan/t2v/720p": {
      "post": {
        "operationId": "textToVideo720p",
        "summary": "Generate a Wan Text-to-Video Job (720p)",
        "tags": ["Video Generation"],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.050000" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text narrative to transform entirely into a high-definition video sequence."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Explicit terms to drop from model execution."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Deterministic generation seed value."
                  },
                  "enable_prompt_expansion": {
                    "type": "boolean",
                    "description": "Flags whether the LLM enhancer expands prompt metadata."
                  }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/wan/jobs/{job_id}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Fetch generation job state and metadata",
        "tags": ["Job Queue"],
        "security": [],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The unique system identifier returned during job initialization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Security job_token returned during job creation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": { "description": "State telemetry retrieved successfully" },
          "404": { "description": "Job not found" }
        }
      }
    },
    "/wan/jobs/{job_id}/result": {
      "get": {
        "operationId": "getJobResult",
        "summary": "Fetch terminal video URL for an execution path",
        "tags": ["Job Queue"],
        "security": [],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The target identifier to pull resolution files for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Security job_token returned during job creation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": { "description": "Target artifact located" },
          "404": { "description": "Target artifact is absent or failed" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "The unique identifier of the queued job."
          },
          "token": {
            "type": "string",
            "description": "The security job token required to poll status and retrieve results."
          }
        },
        "required": [
          "job_id",
          "token"
        ]
      }
    }
  }
}
